In [15]:
import pandas as pd # data processing
import numpy as np
df = pd.read_csv("location_dataset.csv", usecols=['start','end','id_colums'],parse_dates = ['start','end'])
df = pd.DataFrame(df)
g = df.groupby('id_colums')
#print(g)
for id_colums, x in g:
    x['intercontact'] = x['start'] - x['end'].shift(1)
    x['intercontact'] = x['intercontact'] / np.timedelta64(1,'D')
    #x = x.resample.('6H').mean()
    print(id_colums)
    print(x)
""""#df['intercontact'] = df['start'] - df['end'].shift(1)
df.set_index(['id_colums'], inplace=True)
#df = df = df.groupby([df.index.floor("6H"), "id_colums"])
#df.assign(timediff)
#read_file = pd.read_csv('data_olah1 - Copy.csv')
def intercontact (x):
   x['start'] /= x['end'].shift(1)
        return x
df = df.groupby(['id_colums']).apply(intercontact)
print(df.head(10))"""

0,1
                     start                 end id_colums  intercontact
511    2004-08-09 05:16:16 2004-08-09 05:16:34       0,1           NaN
512    2004-08-09 05:18:48 2004-08-09 05:19:10       0,1      0.001551
513    2004-08-09 05:43:46 2004-08-09 05:44:49       0,1      0.017083
514    2004-08-09 05:45:01 2004-08-09 05:46:09       0,1      0.000139
515    2004-08-09 05:46:27 2004-08-09 05:47:44       0,1      0.000208
...                    ...                 ...       ...           ...
633959 2004-12-15 14:36:13 2004-12-15 14:37:10       0,1      1.097604
634046 2004-12-15 14:45:56 2004-12-15 14:46:21       0,1      0.006088
634061 2004-12-15 14:46:53 2004-12-15 14:47:29       0,1      0.000370
641156 2004-12-17 08:45:53 2004-12-17 08:47:54       0,1      1.748889
642646 2004-12-17 21:41:43 2004-12-17 21:41:54       0,1      0.537373

[579 rows x 4 columns]
0,10
                     start                 end id_colums  intercontact
2395   2004-08-20 06:22:52 2004-08-20 06:26:52      0,10           NaN
2399   2004-08-20 06:29:18 2004-08-20 06:33:08      0,10      0.001690
2402   2004-08-20 06:36:52 2004-08-20 06:37:01      0,10      0.002593
2403   2004-08-20 06:39:16 2004-08-20 06:41:36      0,10      0.001563
2602   2004-08-23 05:06:28 2004-08-23 05:06:34      0,10      2.933935
...                    ...                 ...       ...           ...
574391 2004-12-07 13:27:58 2004-12-07 13:29:36      0,10      0.000093
574467 2004-12-07 13:31:39 2004-12-07 13:33:28      0,10      0.001424
574539 2004-12-07 13:34:58 2004-12-07 13:35:03      0,10      0.001042
574609 2004-12-07 13:38:49 2004-12-07 13:38:56      0,10      0.002616
574846 2004-12-07 13:54:51 2004-12-07 13:55:05      0,10      0.011053

[373 rows x 4 columns]
0,11
                     start                 end id_colums  intercontact
3147   2004-08-25 12:36:29 2004-08-25 12:37:33      0,11           NaN
3160   2004-08-25 12:48:58 2004-08-25 12:50:11      0,11      0.007928
3163   2004-08-25 12:50:29 2004-08-25 12:50:35      0,11      0.000208
5791   2004-09-01 11:17:08 2004-09-01 11:18:03      0,11      6.935104
5808   2004-09-01 11:31:05 2004-09-01 11:32:04      0,11      0.009051
...                    ...                 ...       ...           ...
775140 2005-04-13 09:39:32 2005-04-13 09:39:59      0,11      0.000961
775651 2005-04-13 13:11:37 2005-04-13 13:12:31      0,11      0.146968
775719 2005-04-13 13:43:58 2005-04-13 13:45:22      0,11      0.021840
775758 2005-04-13 13:57:46 2005-04-13 13:59:28      0,11      0.008611
775909 2005-04-13 17:20:30 2005-04-13 17:22:17      0,11      0.139606

[1020 rows x 4 columns]
0,12
                     start                 end id_colums  intercontact
6281   2004-09-02 08:26:53 2004-09-02 08:26:54      0,12           NaN
6940   2004-09-02 13:00:37 2004-09-02 13:02:20      0,12      0.190081
7277   2004-09-03 04:22:42 2004-09-03 04:24:01      0,12      0.639144
7638   2004-09-03 09:10:45 2004-09-03 09:10:46      0,12      0.199120
7648   2004-09-03 09:13:02 2004-09-03 09:13:05      0,12      0.001574
...                    ...                 ...       ...           ...
672859 2005-01-16 08:16:11 2005-01-16 08:16:36      0,12      0.007662
672867 2005-01-16 08:21:06 2005-01-16 08:21:19      0,12      0.003125
672872 2005-01-16 08:34:06 2005-01-16 08:34:57      0,12      0.008877
672910 2005-01-16 09:22:01 2005-01-16 09:22:12      0,12      0.032685
672917 2005-01-16 09:25:00 2005-01-16 09:25:23      0,12      0.001944

[513 rows x 4 columns]
0,13
                     start                 end id_colums  intercontact
3065   2004-08-25 09:47:54 2004-08-25 09:48:00      0,13           NaN
3066   2004-08-25 09:48:11 2004-08-25 09:48:29      0,13      0.000127
3067   2004-08-25 09:50:14 2004-08-25 09:50:33      0,13      0.001215
3072   2004-08-25 10:14:42 2004-08-25 10:14:44      0,13      0.016771
3114   2004-08-25 11:53:00 2004-08-25 11:54:28      0,13      0.068241
...                    ...                 ...       ...           ...
767330 2005-03-30 16:20:48 2005-03-30 16:26:13      0,13      0.056215
767699 2005-03-31 07:15:23 2005-03-31 07:16:05      0,13      0.617477
767700 2005-03-31 07:16:17 2005-03-31 07:16:48      0,13      0.000139
767756 2005-03-31 07:35:03 2005-03-31 07:36:55      0,13      0.012674
767786 2005-03-31 08:02:50 2005-03-31 08:07:15      0,13      0.017998

[2581 rows x 4 columns]
0,14
                     start                 end id_colums  intercontact
5799   2004-09-01 11:23:32 2004-09-01 11:24:07      0,14           NaN
5801   2004-09-01 11:26:04 2004-09-01 11:26:33      0,14      0.001354
5824   2004-09-01 11:42:57 2004-09-01 11:43:49      0,14      0.011389
5865   2004-09-01 12:29:10 2004-09-01 12:29:24      0,14      0.031493
5867   2004-09-01 12:29:37 2004-09-01 12:31:36      0,14      0.000150
665297 2005-01-12 12:53:37 2005-01-12 12:53:55      0,14    133.015289
0,15
                     start                 end id_colums  intercontact
3712   2004-08-26 11:21:57 2004-08-26 11:23:08      0,15           NaN
3716   2004-08-26 11:23:25 2004-08-26 11:23:42      0,15      0.000197
4101   2004-08-27 05:57:31 2004-08-27 05:57:36      0,15      0.773484
4104   2004-08-27 06:00:21 2004-08-27 06:00:40      0,15      0.001910
4105   2004-08-27 06:04:10 2004-08-27 06:07:11      0,15      0.002431
...                    ...                 ...       ...           ...
782908 2005-04-28 15:05:11 2005-04-28 15:05:13      0,15      0.033495
782936 2005-04-28 15:27:46 2005-04-28 15:27:47      0,15      0.015660
782955 2005-04-28 15:56:47 2005-04-28 15:56:50      0,15      0.020139
783419 2005-04-29 09:43:59 2005-04-29 09:44:05      0,15      0.741076
783467 2005-04-29 10:28:43 2005-04-29 10:28:44      0,15      0.030995

[1024 rows x 4 columns]
0,16
                     start                 end id_colums  intercontact
6393   2004-09-02 09:46:21 2004-09-02 09:46:22      0,16           NaN
6410   2004-09-02 09:53:23 2004-09-02 09:54:00      0,16      0.004873
6442   2004-09-02 09:56:50 2004-09-02 09:57:04      0,16      0.001968
6452   2004-09-02 10:01:51 2004-09-02 10:04:44      0,16      0.003322
6863   2004-09-02 12:42:51 2004-09-02 12:44:07      0,16      0.109803
...                    ...                 ...       ...           ...
782525 2005-04-28 11:43:01 2005-04-28 11:44:34      0,16      0.082650
782533 2005-04-28 11:45:38 2005-04-28 11:45:56      0,16      0.000741
782538 2005-04-28 11:47:34 2005-04-28 11:47:54      0,16      0.001134
782637 2005-04-28 12:09:23 2005-04-28 12:09:42      0,16      0.014919
783388 2005-04-29 09:16:11 2005-04-29 09:16:34      0,16      0.879502

[627 rows x 4 columns]
0,17
                     start                 end id_colums  intercontact
676    2004-08-10 10:32:02 2004-08-10 10:32:16      0,17           NaN
705    2004-08-10 11:17:45 2004-08-10 11:17:56      0,17      0.031586
718    2004-08-10 11:29:48 2004-08-10 11:30:29      0,17      0.008241
723    2004-08-10 11:31:09 2004-08-10 11:31:10      0,17      0.000463
726    2004-08-10 11:31:30 2004-08-10 11:35:36      0,17      0.000231
...                    ...                 ...       ...           ...
784567 2005-05-03 08:05:51 2005-05-03 08:07:14      0,17      0.000174
784593 2005-05-03 08:23:12 2005-05-03 08:23:13      0,17      0.011088
784598 2005-05-03 08:30:17 2005-05-03 08:30:18      0,17      0.004907
784665 2005-05-03 09:50:48 2005-05-03 09:50:55      0,17      0.055903
784809 2005-05-03 12:41:37 2005-05-03 12:42:28      0,17      0.118542

[3007 rows x 4 columns]
0,18
                     start                 end id_colums  intercontact
2295   2004-08-19 14:36:15 2004-08-19 14:36:24      0,18           NaN
2298   2004-08-19 14:38:17 2004-08-19 14:39:34      0,18      0.001308
2391   2004-08-20 06:17:06 2004-08-20 06:22:52      0,18      0.651065
2409   2004-08-20 06:46:27 2004-08-20 06:46:44      0,18      0.016377
2420   2004-08-20 08:42:08 2004-08-20 08:42:34      0,18      0.080139
...                    ...                 ...       ...           ...
784918 2005-05-03 15:52:26 2005-05-03 15:53:00      0,18      0.001100
784922 2005-05-03 16:23:58 2005-05-03 16:24:00      0,18      0.021505
784924 2005-05-03 16:36:02 2005-05-03 16:36:08      0,18      0.008356
785195 2005-05-04 09:57:53 2005-05-04 09:59:17      0,18      0.723437
785267 2005-05-04 10:37:01 2005-05-04 10:37:18      0,18      0.026204

[1888 rows x 4 columns]
0,19
                     start                 end id_colums  intercontact
8903   2004-09-07 06:33:18 2004-09-07 06:33:49      0,19           NaN
8908   2004-09-07 06:34:28 2004-09-07 06:34:38      0,19      0.000451
8919   2004-09-07 06:36:48 2004-09-07 06:37:14      0,19      0.001505
8920   2004-09-07 06:37:15 2004-09-07 06:37:34      0,19      0.000012
8921   2004-09-07 06:38:02 2004-09-07 06:38:27      0,19      0.000324
...                    ...                 ...       ...           ...
674482 2005-01-17 12:32:41 2005-01-17 12:37:02      0,19      0.005613
674493 2005-01-17 12:37:53 2005-01-17 12:39:08      0,19      0.000590
674518 2005-01-17 12:55:20 2005-01-17 12:55:24      0,19      0.011250
674521 2005-01-17 12:55:42 2005-01-17 12:56:08      0,19      0.000208
674572 2005-01-17 13:34:44 2005-01-17 13:40:29      0,19      0.026806

[1221 rows x 4 columns]
0,2
                     start                 end id_colums  intercontact
1355   2004-08-14 07:23:50 2004-08-14 07:24:16       0,2           NaN
1356   2004-08-14 07:41:40 2004-08-14 07:41:57       0,2      0.012083
1357   2004-08-14 07:45:29 2004-08-14 07:45:42       0,2      0.002454
1358   2004-08-14 07:47:45 2004-08-14 07:52:11       0,2      0.001424
1359   2004-08-14 08:08:15 2004-08-14 08:08:16       0,2      0.011157
...                    ...                 ...       ...           ...
639545 2004-12-16 14:04:22 2004-12-16 14:05:23       0,2      0.007176
639632 2004-12-16 14:17:21 2004-12-16 14:17:24       0,2      0.008310
664979 2005-01-12 11:37:23 2005-01-12 11:38:31       0,2     26.888877
665000 2005-01-12 11:42:52 2005-01-12 11:44:08       0,2      0.003021
665071 2005-01-12 12:06:19 2005-01-12 12:06:38       0,2      0.015405

[1013 rows x 4 columns]
0,20
                     start                 end id_colums  intercontact
5908   2004-09-01 12:55:13 2004-09-01 12:58:26      0,20           NaN
5912   2004-09-01 12:59:06 2004-09-01 13:07:11      0,20      0.000463
5916   2004-09-01 13:13:05 2004-09-01 13:13:13      0,20      0.004097
5924   2004-09-01 13:16:59 2004-09-01 13:17:53      0,20      0.002616
5929   2004-09-01 13:24:40 2004-09-01 13:25:24      0,20      0.004711
...                    ...                 ...       ...           ...
663228 2005-01-12 04:42:52 2005-01-12 04:44:43      0,20      0.000162
663239 2005-01-12 04:47:00 2005-01-12 04:47:04      0,20      0.001586
663240 2005-01-12 04:47:38 2005-01-12 04:48:11      0,20      0.000394
663263 2005-01-12 04:59:24 2005-01-12 04:59:40      0,20      0.007789
663536 2005-01-12 06:40:20 2005-01-12 06:41:14      0,20      0.069907

[592 rows x 4 columns]
0,21
                     start                 end id_colums  intercontact
8823   2004-09-07 05:45:17 2004-09-07 05:47:19      0,21           NaN
8829   2004-09-07 05:47:35 2004-09-07 05:47:39      0,21      0.000185
8831   2004-09-07 05:48:15 2004-09-07 05:48:53      0,21      0.000417
8841   2004-09-07 05:50:13 2004-09-07 05:50:43      0,21      0.000926
8854   2004-09-07 05:52:09 2004-09-07 05:53:08      0,21      0.000995
...                    ...                 ...       ...           ...
659173 2005-01-10 06:20:23 2005-01-10 06:20:39      0,21      0.014850
659185 2005-01-10 06:31:26 2005-01-10 06:31:44      0,21      0.007488
659204 2005-01-10 06:38:44 2005-01-10 06:39:03      0,21      0.004861
659230 2005-01-10 06:52:28 2005-01-10 06:52:56      0,21      0.009317
660449 2005-01-10 13:51:04 2005-01-10 13:51:08      0,21      0.290370

[499 rows x 4 columns]
0,22
                     start                 end id_colums  intercontact
738606 2005-03-08 07:17:35 2005-03-08 07:17:38      0,22           NaN
738607 2005-03-08 07:17:41 2005-03-08 07:17:44      0,22      0.000035
738664 2005-03-08 07:26:25 2005-03-08 07:26:34      0,22      0.006030
0,23
                     start                 end id_colums  intercontact
661993 2005-01-11 10:16:50 2005-01-11 10:17:42      0,23           NaN
662001 2005-01-11 10:18:18 2005-01-11 10:19:05      0,23      0.000417
662019 2005-01-11 10:19:38 2005-01-11 10:19:46      0,23      0.000382
662025 2005-01-11 10:20:34 2005-01-11 10:21:10      0,23      0.000556
662051 2005-01-11 10:24:55 2005-01-11 10:27:05      0,23      0.002604
...                    ...                 ...       ...           ...
776612 2005-04-15 11:18:46 2005-04-15 11:19:27      0,23      0.010046
776793 2005-04-15 12:51:15 2005-04-15 12:52:15      0,23      0.063750
776795 2005-04-15 12:52:18 2005-04-15 12:52:30      0,23      0.000035
776822 2005-04-15 12:57:23 2005-04-15 12:57:45      0,23      0.003391
776830 2005-04-15 13:00:53 2005-04-15 13:01:30      0,23      0.002176

[110 rows x 4 columns]
0,24
                     start                 end id_colums  intercontact
365065 2004-11-13 10:54:04 2004-11-13 10:54:49      0,24           NaN
365404 2004-11-13 12:32:56 2004-11-13 12:33:26      0,24      0.068137
365794 2004-11-13 14:50:06 2004-11-13 14:51:09      0,24      0.094907
365916 2004-11-13 15:07:29 2004-11-13 15:07:48      0,24      0.011343
365955 2004-11-13 15:21:05 2004-11-13 15:21:30      0,24      0.009225
...                    ...                 ...       ...           ...
639363 2004-12-16 13:35:18 2004-12-16 13:35:42      0,24      0.067546
640187 2004-12-16 19:31:06 2004-12-16 19:31:08      0,24      0.246806
641193 2004-12-17 08:59:29 2004-12-17 09:00:00      0,24      0.561354
642414 2004-12-17 16:01:07 2004-12-17 16:01:38      0,24      0.292442
642960 2004-12-18 10:49:01 2004-12-18 10:49:18      0,24      0.782905

[613 rows x 4 columns]
0,25
                     start                 end id_colums  intercontact
9657   2004-09-07 10:30:57 2004-09-07 10:31:10      0,25           NaN
9765   2004-09-07 10:48:16 2004-09-07 10:48:40      0,25      0.011875
9829   2004-09-07 11:10:09 2004-09-07 11:10:27      0,25      0.014919
10007  2004-09-07 11:48:35 2004-09-07 11:49:06      0,25      0.026481
10120  2004-09-07 12:01:56 2004-09-07 12:02:31      0,25      0.008912
...                    ...                 ...       ...           ...
784236 2005-05-02 13:01:20 2005-05-02 13:01:28      0,25      0.011921
784285 2005-05-02 14:12:59 2005-05-02 14:14:42      0,25      0.049664
784296 2005-05-02 14:49:17 2005-05-02 14:50:12      0,25      0.024016
784301 2005-05-02 14:55:14 2005-05-02 14:55:15      0,25      0.003495
784321 2005-05-02 15:27:15 2005-05-02 15:27:32      0,25      0.022222

[332 rows x 4 columns]
0,27
                     start                 end id_colums  intercontact
11204  2004-09-08 11:25:38 2004-09-08 11:26:18      0,27           NaN
11207  2004-09-08 11:27:14 2004-09-08 11:28:07      0,27      0.000648
11210  2004-09-08 11:28:22 2004-09-08 11:28:27      0,27      0.000174
11213  2004-09-08 11:29:15 2004-09-08 11:29:47      0,27      0.000556
11214  2004-09-08 11:29:50 2004-09-08 11:30:18      0,27      0.000035
...                    ...                 ...       ...           ...
767022 2005-03-30 12:11:45 2005-03-30 12:22:20      0,27      0.179502
767070 2005-03-30 12:23:42 2005-03-30 12:23:43      0,27      0.000949
767815 2005-03-31 08:19:43 2005-03-31 08:20:08      0,27      0.830556
767824 2005-03-31 08:21:59 2005-03-31 08:22:16      0,27      0.001285
767828 2005-03-31 08:22:45 2005-03-31 08:22:50      0,27      0.000336

[595 rows x 4 columns]
0,28
                     start                 end id_colums  intercontact
12695  2004-09-09 13:06:06 2004-09-09 13:06:37      0,28           NaN
12715  2004-09-09 13:13:55 2004-09-09 13:15:32      0,28      0.005069
12772  2004-09-09 13:49:49 2004-09-09 13:50:06      0,28      0.023808
12773  2004-09-09 13:50:10 2004-09-09 13:50:42      0,28      0.000046
13676  2004-09-10 07:33:19 2004-09-10 07:33:21      0,28      0.737928
...                    ...                 ...       ...           ...
784895 2005-05-03 14:41:04 2005-05-03 14:41:14      0,28      0.001701
784896 2005-05-03 14:44:16 2005-05-03 14:44:53      0,28      0.002106
784901 2005-05-03 14:54:35 2005-05-03 14:55:10      0,28      0.006736
785290 2005-05-04 10:44:16 2005-05-04 10:44:17      0,28      0.825764
785482 2005-05-04 19:03:22 2005-05-04 19:03:39      0,28      0.346586

[566 rows x 4 columns]
0,29
                     start                 end id_colums  intercontact
14169  2004-09-10 10:00:35 2004-09-10 10:00:37      0,29           NaN
14171  2004-09-10 10:00:56 2004-09-10 10:01:16      0,29      0.000220
14233  2004-09-10 10:18:11 2004-09-10 10:18:29      0,29      0.011748
14248  2004-09-10 10:24:07 2004-09-10 10:24:25      0,29      0.003912
14263  2004-09-10 10:27:49 2004-09-10 10:27:58      0,29      0.002361
...                    ...                 ...       ...           ...
735788 2005-03-04 11:52:09 2005-03-04 11:54:09      0,29      0.003252
735794 2005-03-04 11:55:00 2005-03-04 11:55:14      0,29      0.000590
735941 2005-03-04 14:11:37 2005-03-04 14:11:38      0,29      0.094711
736021 2005-03-04 16:52:47 2005-03-04 16:53:01      0,29      0.111910
736030 2005-03-04 17:16:36 2005-03-04 17:16:51      0,29      0.016377

[1073 rows x 4 columns]
0,30
                     start                 end id_colums  intercontact
12342  2004-09-09 11:02:19 2004-09-09 11:02:59      0,30           NaN
12367  2004-09-09 11:07:21 2004-09-09 11:07:38      0,30      0.003032
12369  2004-09-09 11:08:46 2004-09-09 11:09:21      0,30      0.000787
12391  2004-09-09 11:14:27 2004-09-09 11:15:31      0,30      0.003542
12809  2004-09-09 14:11:12 2004-09-09 14:11:26      0,30      0.122002
...                    ...                 ...       ...           ...
297381 2004-11-03 06:49:48 2004-11-03 06:52:10      0,30      0.389711
297737 2004-11-03 07:21:10 2004-11-03 07:21:32      0,30      0.020139
297765 2004-11-03 07:23:25 2004-11-03 07:26:07      0,30      0.001308
298007 2004-11-03 07:40:17 2004-11-03 07:45:32      0,30      0.009838
298087 2004-11-03 07:48:15 2004-11-03 07:53:20      0,30      0.001887

[172 rows x 4 columns]
0,32
                     start                 end id_colums  intercontact
25309  2004-09-16 11:16:38 2004-09-16 11:17:26      0,32           NaN
25373  2004-09-16 11:37:23 2004-09-16 11:37:31      0,32      0.013854
25697  2004-09-16 12:26:14 2004-09-16 12:26:16      0,32      0.033831
25729  2004-09-16 12:27:06 2004-09-16 12:28:13      0,32      0.000579
25893  2004-09-16 12:42:08 2004-09-16 12:42:21      0,32      0.009664
...                    ...                 ...       ...           ...
785294 2005-05-04 10:47:22 2005-05-04 10:47:44      0,32      0.002141
785324 2005-05-04 11:12:37 2005-05-04 11:12:39      0,32      0.017280
785330 2005-05-04 11:14:54 2005-05-04 11:15:11      0,32      0.001563
785331 2005-05-04 11:15:24 2005-05-04 11:15:35      0,32      0.000150
785335 2005-05-04 11:15:42 2005-05-04 11:15:44      0,32      0.000081

[750 rows x 4 columns]
0,35
                     start                 end id_colums  intercontact
281742 2004-11-01 16:39:46 2004-11-01 16:40:50      0,35           NaN
283563 2004-11-02 05:19:40 2004-11-02 05:20:33      0,35      0.526968
283634 2004-11-02 05:22:22 2004-11-02 05:23:32      0,35      0.001262
283674 2004-11-02 05:26:05 2004-11-02 05:26:45      0,35      0.001771
283717 2004-11-02 05:30:00 2004-11-02 05:30:45      0,35      0.002257
...                    ...                 ...       ...           ...
567961 2004-12-06 14:28:26 2004-12-06 14:28:49      0,35      0.034907
569235 2004-12-07 03:15:32 2004-12-07 03:15:51      0,35      0.532442

[1642 rows x 4 columns]
0,80
                     start                 end id_colums  intercontact
267074 2004-10-30 11:49:50 2004-10-30 11:51:58      0,80           NaN
269089 2004-10-31 06:31:01 2004-10-31 06:33:14      0,80      0.777118
269110 2004-10-31 06:38:27 2004-10-31 06:38:47      0,80      0.003623
269126 2004-10-31 06:41:15 2004-10-31 06:41:34      0,80      0.001713
269133 2004-10-31 06:41:37 2004-10-31 06:42:43      0,80      0.000035
...                    ...                 ...       ...           ...
282149 2004-11-01 18:58:55 2004-11-01 18:59:10      0,80      0.239641
282158 2004-11-01 19:03:38 2004-11-01 19:03:44      0,80      0.003102
282788 2004-11-02 03:49:52 2004-11-02 03:50:30      0,80      0.365370
282853 2004-11-02 04:03:56 2004-11-02 04:05:37      0,80      0.009329
282888 2004-11-02 04:12:27 2004-11-02 04:12:49      0,80      0.004745

[134 rows x 4 columns]
0,81
                     start                 end id_colums  intercontact
281551 2004-11-01 15:53:49 2004-11-01 15:54:16      0,81           NaN
289321 2004-11-02 10:16:09 2004-11-02 10:16:11      0,81      0.765197
289427 2004-11-02 10:19:08 2004-11-02 10:26:18      0,81      0.002049
291810 2004-11-02 11:54:43 2004-11-02 11:54:47      0,81      0.061400
291956 2004-11-02 12:01:19 2004-11-02 12:01:20      0,81      0.004537
...                    ...                 ...       ...           ...
692872 2005-01-27 07:02:35 2005-01-27 07:02:41      0,81      0.003067
692878 2005-01-27 07:04:03 2005-01-27 07:04:16      0,81      0.000949
692926 2005-01-27 07:09:28 2005-01-27 07:09:52      0,81      0.003611
692965 2005-01-27 07:15:09 2005-01-27 07:15:44      0,81      0.003669
692974 2005-01-27 07:16:03 2005-01-27 07:16:07      0,81      0.000220

[432 rows x 4 columns]
0,82
                     start                 end id_colums  intercontact
267403 2004-10-30 14:21:27 2004-10-30 14:23:05      0,82           NaN
267450 2004-10-30 14:30:26 2004-10-30 14:31:37      0,82      0.005104
267574 2004-10-30 15:00:44 2004-10-30 15:01:26      0,82      0.020220
268304 2004-10-30 18:59:54 2004-10-30 19:00:30      0,82      0.165602
268359 2004-10-30 19:27:52 2004-10-30 19:59:29      0,82      0.019005
...                    ...                 ...       ...           ...
567325 2004-12-06 13:30:38 2004-12-06 13:30:53      0,82      0.009965
569172 2004-12-07 02:43:34 2004-12-07 02:43:47      0,82      0.550475
569208 2004-12-07 03:01:43 2004-12-07 03:02:56      0,82      0.012454
569222 2004-12-07 03:10:35 2004-12-07 03:10:48      0,82      0.005313
569248 2004-12-07 03:19:09 2004-12-07 03:19:27      0,82      0.005799

[565 rows x 4 columns]
0,83
                     start                 end id_colums  intercontact
267073 2004-10-30 11:49:50 2004-10-30 11:51:58      0,83           NaN
275281 2004-11-01 09:24:47 2004-11-01 09:24:57      0,83      1.897789
275308 2004-11-01 09:28:56 2004-11-01 09:29:15      0,83      0.002766
276192 2004-11-01 10:07:39 2004-11-01 10:08:13      0,83      0.026667
276497 2004-11-01 10:23:17 2004-11-01 10:23:24      0,83      0.010463
281688 2004-11-01 16:28:19 2004-11-01 16:28:38      0,83      0.253414
304829 2004-11-03 15:55:23 2004-11-03 15:55:36      0,83      1.976910
359579 2004-11-12 05:57:27 2004-11-12 05:57:28      0,83      8.584618
359767 2004-11-12 06:45:48 2004-11-12 06:46:07      0,83      0.033565
0,85
                     start                 end id_colums  intercontact
270263 2004-10-31 13:24:55 2004-10-31 13:25:14      0,85           NaN
270268 2004-10-31 13:29:43 2004-10-31 13:30:05      0,85      0.003113
270287 2004-10-31 13:32:11 2004-10-31 13:32:52      0,85      0.001458
270297 2004-10-31 13:34:30 2004-10-31 13:36:17      0,85      0.001134
270313 2004-10-31 13:39:12 2004-10-31 13:42:01      0,85      0.002025
...                    ...                 ...       ...           ...
785123 2005-05-04 08:15:42 2005-05-04 08:31:46      0,85      0.001447
785161 2005-05-04 09:13:43 2005-05-04 09:13:55      0,85      0.029132
785202 2005-05-04 10:00:07 2005-05-04 10:00:26      0,85      0.032083
785208 2005-05-04 10:00:59 2005-05-04 10:05:07      0,85      0.000382
785398 2005-05-04 13:06:15 2005-05-04 13:06:32      0,85      0.125787

[749 rows x 4 columns]
0,86
                     start                 end id_colums  intercontact
9698   2004-09-07 10:33:48 2004-09-07 10:33:56      0,86           NaN
9709   2004-09-07 10:34:04 2004-09-07 10:34:17      0,86      0.000093
9712   2004-09-07 10:34:21 2004-09-07 10:34:38      0,86      0.000046
9715   2004-09-07 10:34:43 2004-09-07 10:35:29      0,86      0.000058
9733   2004-09-07 10:39:03 2004-09-07 10:39:13      0,86      0.002477
...                    ...                 ...       ...           ...
678341 2005-01-19 07:50:07 2005-01-19 07:50:22      0,86      0.000058
683323 2005-01-21 07:27:56 2005-01-21 07:32:36      0,86      1.984421
683407 2005-01-21 07:37:59 2005-01-21 07:38:00      0,86      0.003738
683721 2005-01-21 08:18:36 2005-01-21 08:18:54      0,86      0.028194
683745 2005-01-21 08:22:46 2005-01-21 08:22:59      0,86      0.002685

[376 rows x 4 columns]
0,87
                     start                 end id_colums  intercontact
267142 2004-10-30 12:23:48 2004-10-30 12:24:21      0,87           NaN
267144 2004-10-30 12:24:49 2004-10-30 12:25:51      0,87      0.000324
267299 2004-10-30 13:55:28 2004-10-30 13:55:47      0,87      0.062234
267301 2004-10-30 13:56:53 2004-10-30 13:59:19      0,87      0.000764
267308 2004-10-30 13:59:40 2004-10-30 14:01:19      0,87      0.000243
...                    ...                 ...       ...           ...
777888 2005-04-18 11:12:15 2005-04-18 11:12:43      0,87      0.000139
777904 2005-04-18 11:18:06 2005-04-18 11:20:01      0,87      0.003738
777925 2005-04-18 11:26:52 2005-04-18 11:27:16      0,87      0.004757
777929 2005-04-18 11:27:20 2005-04-18 11:28:17      0,87      0.000046
777952 2005-04-18 11:30:19 2005-04-18 11:33:16      0,87      0.001412

[874 rows x 4 columns]
0,88
                     start                 end id_colums  intercontact
28901  2004-09-17 12:41:43 2004-09-17 12:41:45      0,88           NaN
28909  2004-09-17 12:42:24 2004-09-17 12:43:31      0,88      0.000451
28922  2004-09-17 12:44:06 2004-09-17 12:44:08      0,88      0.000405
28924  2004-09-17 12:44:24 2004-09-17 12:44:26      0,88      0.000185
29071  2004-09-17 13:03:15 2004-09-17 13:03:16      0,88      0.013067
...                    ...                 ...       ...           ...
400588 2004-11-17 05:35:25 2004-11-17 05:37:50      0,88      0.004259
405107 2004-11-17 09:50:39 2004-11-17 09:50:41      0,88      0.175567
406525 2004-11-17 10:54:39 2004-11-17 10:55:09      0,88      0.044421
408684 2004-11-17 12:19:05 2004-11-17 12:21:38      0,88      0.058287
409730 2004-11-17 13:27:22 2004-11-17 13:27:45      0,88      0.045648

[131 rows x 4 columns]
0,89
                    start                 end id_colums  intercontact
1652  2004-08-16 16:33:30 2004-08-16 16:33:44      0,89           NaN
1654  2004-08-16 16:34:04 2004-08-16 16:35:02      0,89      0.000231
1681  2004-08-16 16:46:38 2004-08-16 16:46:52      0,89      0.008056
1692  2004-08-16 16:51:02 2004-08-16 16:51:19      0,89      0.002894
1700  2004-08-16 16:53:00 2004-08-16 16:53:02      0,89      0.001169
...                   ...                 ...       ...           ...
29072 2004-09-17 13:03:15 2004-09-17 13:03:16      0,89      0.012766
29076 2004-09-17 13:03:29 2004-09-17 13:03:45      0,89      0.000150
29099 2004-09-17 13:12:11 2004-09-17 13:12:14      0,89      0.005856
29935 2004-09-18 13:04:10 2004-09-18 13:04:42      0,89      0.994398
29946 2004-09-18 13:20:40 2004-09-18 13:21:39      0,89      0.011088

[264 rows x 4 columns]
0,9
                     start                 end id_colums  intercontact
288688 2004-11-02 09:52:22 2004-11-02 09:54:10       0,9           NaN
290819 2004-11-02 11:13:13 2004-11-02 11:15:07       0,9      0.054896
291027 2004-11-02 11:20:19 2004-11-02 11:24:43       0,9      0.003611
291405 2004-11-02 11:34:37 2004-11-02 11:34:43       0,9      0.006875
291680 2004-11-02 11:50:13 2004-11-02 11:50:25       0,9      0.010764
...                    ...                 ...       ...           ...
564870 2004-12-06 10:52:27 2004-12-06 10:52:50       0,9      0.000289
564930 2004-12-06 10:55:53 2004-12-06 10:56:45       0,9      0.002118
566848 2004-12-06 12:50:58 2004-12-06 12:51:18       0,9      0.079317
566863 2004-12-06 12:52:11 2004-12-06 12:52:12       0,9      0.000613
567120 2004-12-06 13:10:23 2004-12-06 13:11:04       0,9      0.012627

[449 rows x 4 columns]
1,10
                     start                 end id_colums  intercontact
2575   2004-08-22 04:13:44 2004-08-22 04:13:47      1,10           NaN
2576   2004-08-22 04:15:50 2004-08-22 04:16:03      1,10      0.001424
4350   2004-08-27 08:36:05 2004-08-27 08:36:45      1,10      5.180579
4499   2004-08-27 18:09:33 2004-08-27 18:10:07      1,10      0.397778
4502   2004-08-28 03:13:20 2004-08-28 03:13:48      1,10      0.377234
...                    ...                 ...       ...           ...
520463 2004-12-01 12:39:48 2004-12-01 12:39:49      1,10      0.000521
520791 2004-12-01 12:54:24 2004-12-01 12:54:26      1,10      0.010127
569558 2004-12-07 05:46:54 2004-12-07 05:46:59      1,10      5.703102
569658 2004-12-07 06:11:06 2004-12-07 06:11:08      1,10      0.016748
570919 2004-12-07 08:08:04 2004-12-07 08:08:55      1,10      0.081204

[171 rows x 4 columns]
1,11
                     start                 end id_colums  intercontact
36292  2004-09-21 10:15:28 2004-09-21 10:15:29      1,11           NaN
38053  2004-09-21 18:14:04 2004-09-21 18:14:21      1,11      0.332350
38064  2004-09-21 18:42:18 2004-09-21 18:43:28      1,11      0.019410
40046  2004-09-22 11:41:38 2004-09-22 11:41:44      1,11      0.707060
40260  2004-09-22 12:23:10 2004-09-22 12:23:36      1,11      0.028773
...                    ...                 ...       ...           ...
648447 2004-12-23 08:39:43 2004-12-23 08:39:58      1,11      0.034572
648451 2004-12-23 08:42:15 2004-12-23 08:44:30      1,11      0.001586
648459 2004-12-23 08:49:10 2004-12-23 08:49:15      1,11      0.003241
648463 2004-12-23 08:51:56 2004-12-23 08:52:07      1,11      0.001863
648661 2004-12-24 06:39:27 2004-12-24 06:39:55      1,11      0.907870

[439 rows x 4 columns]
1,12
                     start                 end id_colums  intercontact
34882  2004-09-21 03:56:40 2004-09-21 03:56:43      1,12           NaN
34906  2004-09-21 04:27:24 2004-09-21 04:27:28      1,12      0.021308
34907  2004-09-21 04:27:41 2004-09-21 04:28:02      1,12      0.000150
34911  2004-09-21 04:28:08 2004-09-21 04:28:41      1,12      0.000069
34916  2004-09-21 04:29:03 2004-09-21 04:29:25      1,12      0.000255
...                    ...                 ...       ...           ...
648044 2004-12-22 11:33:35 2004-12-22 11:35:02      1,12      0.002257
648284 2004-12-22 14:42:07 2004-12-22 14:42:58      1,12      0.129919
648425 2004-12-23 07:52:23 2004-12-23 07:52:33      1,12      0.714873
648448 2004-12-23 08:40:03 2004-12-23 08:40:36      1,12      0.032986
648452 2004-12-23 08:42:15 2004-12-23 08:44:30      1,12      0.001146

[268 rows x 4 columns]
1,13
                     start                 end id_colums  intercontact
3345   2004-08-26 07:29:40 2004-08-26 07:30:30      1,13           NaN
3409   2004-08-26 08:42:13 2004-08-26 08:42:43      1,13      0.049803
3451   2004-08-26 09:07:06 2004-08-26 09:07:12      1,13      0.016933
3467   2004-08-26 09:17:00 2004-08-26 09:17:04      1,13      0.006806
3468   2004-08-26 09:17:24 2004-08-26 09:18:16      1,13      0.000231
...                    ...                 ...       ...           ...
648819 2004-12-27 09:14:43 2004-12-27 09:14:50      1,13      0.014618
648821 2004-12-27 09:23:27 2004-12-27 09:23:32      1,13      0.005984
648822 2004-12-27 09:26:44 2004-12-27 09:27:15      1,13      0.002222
648837 2004-12-27 10:21:09 2004-12-27 10:21:31      1,13      0.037431
648839 2004-12-27 10:27:37 2004-12-27 10:28:15      1,13      0.004236

[559 rows x 4 columns]
1,15
                     start                 end id_colums  intercontact
3714   2004-08-26 11:23:09 2004-08-26 11:23:25      1,15           NaN
3718   2004-08-26 11:23:26 2004-08-26 11:23:42      1,15      0.000012
3719   2004-08-26 11:23:45 2004-08-26 11:24:25      1,15      0.000035
4155   2004-08-27 07:24:06 2004-08-27 07:24:32      1,15      0.833113
4193   2004-08-27 07:35:13 2004-08-27 07:35:14      1,15      0.007419
...                    ...                 ...       ...           ...
646949 2004-12-21 12:49:15 2004-12-21 12:49:38      1,15      0.004433
646991 2004-12-21 13:09:17 2004-12-21 13:09:19      1,15      0.013646
646993 2004-12-21 13:10:19 2004-12-21 13:11:16      1,15      0.000694
647044 2004-12-21 13:30:14 2004-12-21 13:30:36      1,15      0.013171
647052 2004-12-21 13:33:25 2004-12-21 13:38:19      1,15      0.001956

[465 rows x 4 columns]
1,16
                     start                 end id_colums  intercontact
35187  2004-09-21 07:14:59 2004-09-21 07:15:43      1,16           NaN
35204  2004-09-21 07:16:29 2004-09-21 07:16:52      1,16      0.000532
36617  2004-09-21 10:57:00 2004-09-21 10:57:18      1,16      0.152870
51837  2004-09-24 08:15:16 2004-09-24 08:15:37      1,16      2.887477
53899  2004-09-24 11:23:03 2004-09-24 11:23:32      1,16      0.130162
...                    ...                 ...       ...           ...
647936 2004-12-22 10:43:20 2004-12-22 10:43:21      1,16      0.003657
648002 2004-12-22 11:15:37 2004-12-22 11:16:28      1,16      0.022407
648029 2004-12-22 11:29:40 2004-12-22 11:29:57      1,16      0.009167
648055 2004-12-22 11:45:52 2004-12-22 11:46:16      1,16      0.011053
648359 2004-12-23 05:53:09 2004-12-23 05:55:02      1,16      0.754780

[200 rows x 4 columns]
1,17
                     start                 end id_colums  intercontact
760    2004-08-10 12:06:31 2004-08-10 12:07:40      1,17           NaN
765    2004-08-10 12:07:48 2004-08-10 12:08:12      1,17      0.000093
922    2004-08-11 11:23:46 2004-08-11 11:23:48      1,17      0.969144
1010   2004-08-12 11:23:38 2004-08-12 11:24:23      1,17      0.999884
1188   2004-08-13 10:08:50 2004-08-13 10:08:53      1,17      0.947535
...                    ...                 ...       ...           ...
641880 2004-12-17 11:48:30 2004-12-17 11:48:37      1,17      0.002419
641887 2004-12-17 11:49:28 2004-12-17 11:49:41      1,17      0.000590
641949 2004-12-17 12:06:19 2004-12-17 12:06:41      1,17      0.011551
641955 2004-12-17 12:09:02 2004-12-17 12:09:04      1,17      0.001632
641963 2004-12-17 12:10:49 2004-12-17 12:10:59      1,17      0.001215

[857 rows x 4 columns]
1,18
                     start                 end id_colums  intercontact
2304   2004-08-19 14:40:25 2004-08-19 14:40:26      1,18           NaN
2353   2004-08-19 18:22:57 2004-08-19 18:23:06      1,18      0.154525
2445   2004-08-20 10:04:05 2004-08-20 10:07:37      1,18      0.653461
2458   2004-08-20 10:46:16 2004-08-20 10:46:37      1,18      0.026840
2475   2004-08-20 11:49:40 2004-08-20 11:50:04      1,18      0.043785
...                    ...                 ...       ...           ...
626526 2004-12-14 14:12:25 2004-12-14 14:12:51      1,18      0.039699
627690 2004-12-15 04:40:11 2004-12-15 04:41:44      1,18      0.602315
628533 2004-12-15 06:41:40 2004-12-15 06:52:14      1,18      0.083287
629912 2004-12-15 08:37:11 2004-12-15 08:37:12      1,18      0.072882
634521 2004-12-15 17:04:08 2004-12-15 17:04:30      1,18      0.352037

[738 rows x 4 columns]
1,19
                     start                 end id_colums  intercontact
35604  2004-09-21 08:16:16 2004-09-21 08:17:38      1,19           NaN
36214  2004-09-21 10:08:53 2004-09-21 10:08:54      1,19      0.077257
36309  2004-09-21 10:16:15 2004-09-21 10:17:12      1,19      0.005104
36408  2004-09-21 10:29:23 2004-09-21 10:29:25      1,19      0.008461
36409  2004-09-21 10:29:36 2004-09-21 10:30:05      1,19      0.000127
...                    ...                 ...       ...           ...
633593 2004-12-15 13:40:59 2004-12-15 13:41:34      1,19      0.183553
633605 2004-12-15 13:42:21 2004-12-15 13:42:22      1,19      0.000544
634685 2004-12-15 18:35:19 2004-12-15 18:35:20      1,19      0.203437
639857 2004-12-16 16:28:17 2004-12-16 16:28:48      1,19      0.911771
640246 2004-12-16 20:30:18 2004-12-16 20:30:47      1,19      0.167708

[631 rows x 4 columns]
1,2
                     start                 end id_colums  intercontact
1344   2004-08-13 15:30:06 2004-08-13 15:30:11       1,2           NaN
1346   2004-08-13 15:51:52 2004-08-13 15:55:43       1,2      0.015058
1373   2004-08-14 10:33:55 2004-08-14 10:34:03       1,2      0.776528
1374   2004-08-14 10:45:13 2004-08-14 10:45:33       1,2      0.007755
1375   2004-08-14 10:55:34 2004-08-14 10:56:07       1,2      0.006956
...                    ...                 ...       ...           ...
648252 2004-12-22 14:04:25 2004-12-22 14:04:50       1,2      0.001007
648266 2004-12-22 14:17:40 2004-12-22 14:20:44       1,2      0.008912
648270 2004-12-22 14:21:04 2004-12-22 14:23:11       1,2      0.000231
648282 2004-12-22 14:41:26 2004-12-22 14:41:43       1,2      0.012674
648309 2004-12-22 17:05:26 2004-12-22 17:05:36       1,2      0.099803

[563 rows x 4 columns]
1,20
                     start                 end id_colums  intercontact
38389  2004-09-22 06:25:17 2004-09-22 06:25:35      1,20           NaN
38390  2004-09-22 06:26:57 2004-09-22 06:27:38      1,20      0.000949
52980  2004-09-24 09:56:55 2004-09-24 09:56:59      1,20      2.145336
53882  2004-09-24 11:22:43 2004-09-24 11:22:45      1,20      0.059537
59625  2004-09-27 08:06:09 2004-09-27 08:06:19      1,20      2.863472
...                    ...                 ...       ...           ...
571581 2004-12-07 09:40:22 2004-12-07 09:41:25      1,20      0.002222
571656 2004-12-07 10:00:11 2004-12-07 10:00:13      1,20      0.013032
579857 2004-12-08 08:41:54 2004-12-08 08:41:58      1,20      0.945613
586185 2004-12-08 16:07:10 2004-12-08 16:07:38      1,20      0.309167
586200 2004-12-08 16:09:47 2004-12-08 16:09:49      1,20      0.001493

[160 rows x 4 columns]
1,21
                     start                 end id_colums  intercontact
34791  2004-09-20 18:16:42 2004-09-20 18:18:42      1,21           NaN
50995  2004-09-24 07:30:11 2004-09-24 07:30:15      1,21      3.549641
51050  2004-09-24 07:33:37 2004-09-24 07:33:39      1,21      0.002338
51423  2004-09-24 07:55:47 2004-09-24 07:55:51      1,21      0.015370
179136 2004-10-18 08:02:32 2004-10-18 08:02:48      1,21     24.004641
...                    ...                 ...       ...           ...
645451 2004-12-20 14:02:40 2004-12-20 14:04:32      1,21      0.048681
645454 2004-12-20 14:06:45 2004-12-20 14:07:00      1,21      0.001539
647021 2004-12-21 13:22:58 2004-12-21 13:24:16      1,21      0.969421
647029 2004-12-21 13:26:10 2004-12-21 13:26:27      1,21      0.001319
647234 2004-12-21 18:16:47 2004-12-21 18:16:57      1,21      0.201620

[269 rows x 4 columns]
1,24
                     start                 end id_colums  intercontact
365069 2004-11-13 10:54:04 2004-11-13 10:54:49      1,24           NaN
368308 2004-11-14 17:43:45 2004-11-14 17:45:01      1,24      1.283981
369543 2004-11-15 05:03:10 2004-11-15 05:04:58      1,24      0.470938
369615 2004-11-15 05:07:32 2004-11-15 05:09:55      1,24      0.001782
370367 2004-11-15 05:48:33 2004-11-15 05:49:39      1,24      0.026829
...                    ...                 ...       ...           ...
643107 2004-12-18 13:28:01 2004-12-18 13:28:24      1,24      0.002963
643111 2004-12-18 13:36:24 2004-12-18 13:36:31      1,24      0.005556
643258 2004-12-18 18:30:40 2004-12-18 18:31:23      1,24      0.204271

1,68
                     start                 end id_colums  intercontact
177520 2004-10-18 06:29:00 2004-10-18 06:29:20      1,68           NaN
177546 2004-10-18 06:30:55 2004-10-18 06:32:09      1,68      0.001100
177567 2004-10-18 06:32:10 2004-10-18 06:32:29      1,68      0.000012
177629 2004-10-18 06:34:55 2004-10-18 06:34:57      1,68      0.001690
179911 2004-10-18 08:50:11 2004-10-18 08:50:16      1,68      0.093912
...                    ...                 ...       ...           ...
491904 2004-11-29 16:27:45 2004-11-29 16:29:52      1,68      0.140914
492462 2004-11-29 18:02:30 2004-11-29 18:02:58      1,68      0.064329
506628 2004-11-30 15:04:35 2004-11-30 15:04:37      1,68      0.876123
507508 2004-11-30 17:47:21 2004-11-30 17:47:32      1,68      0.113009
514925 2004-12-01 09:01:33 2004-12-01 09:02:30      1,68      0.634734

[89 rows x 4 columns]
1,69
                     start                 end id_colums  intercontact
120914 2004-10-07 09:23:07 2004-10-07 09:23:18      1,69           NaN
121001 2004-10-07 09:26:52 2004-10-07 09:27:16      1,69      0.002477
121348 2004-10-07 09:38:23 2004-10-07 09:39:20      1,69      0.007720
121400 2004-10-07 09:40:03 2004-10-07 09:40:24      1,69      0.000498
121606 2004-10-07 09:50:30 2004-10-07 09:50:32      1,69      0.007014
...                    ...                 ...       ...           ...
468054 2004-11-23 13:13:45 2004-11-23 13:14:26      1,69      0.011678
468114 2004-11-23 13:16:36 2004-11-23 13:16:46      1,69      0.001505
470444 2004-11-23 17:33:14 2004-11-23 17:33:41      1,69      0.178102
470488 2004-11-23 17:52:18 2004-11-23 17:52:51      1,69      0.012928
470490 2004-11-23 17:53:07 2004-11-23 17:53:24      1,69      0.000185

[251 rows x 4 columns]
1,7
                     start                 end id_colums  intercontact
78     2004-07-22 05:44:32 2004-07-22 05:44:37       1,7           NaN
79     2004-07-22 05:54:36 2004-07-22 05:59:03       1,7      0.006933
81     2004-07-22 06:24:33 2004-07-22 06:25:29       1,7      0.017708
82     2004-07-22 06:26:11 2004-07-22 06:26:13       1,7      0.000486
83     2004-07-22 06:27:46 2004-07-22 06:28:30       1,7      0.001076
...                    ...                 ...       ...           ...
250663 2004-10-27 15:46:00 2004-10-27 15:46:04       1,7      0.001910
250686 2004-10-27 15:49:57 2004-10-27 15:52:33       1,7      0.002697
250725 2004-10-27 15:55:29 2004-10-27 15:55:42       1,7      0.002037
250781 2004-10-27 16:04:33 2004-10-27 16:08:09       1,7      0.006146
250820 2004-10-27 16:09:32 2004-10-27 16:10:06       1,7      0.000961

[447 rows x 4 columns]
1,71
                     start                 end id_colums  intercontact
113323 2004-10-06 11:15:59 2004-10-06 11:16:38      1,71           NaN
113334 2004-10-06 11:17:01 2004-10-06 11:17:08      1,71      0.000266
113362 2004-10-06 11:20:10 2004-10-06 11:20:12      1,71      0.002106
114836 2004-10-06 12:55:41 2004-10-06 12:55:47      1,71      0.066308
115310 2004-10-06 13:43:42 2004-10-06 13:44:25      1,71      0.033275
...                    ...                 ...       ...           ...
640226 2004-12-16 20:21:12 2004-12-16 20:21:20      1,71      0.220336
640267 2004-12-16 20:39:28 2004-12-16 20:55:53      1,71      0.012593
640334 2004-12-16 21:47:00 2004-12-16 21:53:19      1,71      0.035498
640369 2004-12-16 22:50:50 2004-12-16 23:02:47      1,71      0.039942
640476 2004-12-17 03:08:48 2004-12-17 03:10:28      1,71      0.170845

[524 rows x 4 columns]
1,72
                     start                 end id_colums  intercontact
368266 2004-11-14 16:57:26 2004-11-14 16:59:12      1,72           NaN
370909 2004-11-15 06:18:44 2004-11-15 06:19:13      1,72      0.555231
371113 2004-11-15 06:24:26 2004-11-15 06:25:11      1,72      0.003623
371136 2004-11-15 06:25:40 2004-11-15 06:25:42      1,72      0.000336
371556 2004-11-15 06:44:08 2004-11-15 06:44:28      1,72      0.012801
...                    ...                 ...       ...           ...
648041 2004-12-22 11:33:09 2004-12-22 11:33:52      1,72      0.000660
648046 2004-12-22 11:35:02 2004-12-22 11:35:07      1,72      0.000810
648058 2004-12-22 11:49:06 2004-12-22 11:49:46      1,72      0.009711
648798 2004-12-27 08:05:29 2004-12-27 08:05:40      1,72      4.844248
648800 2004-12-27 08:05:46 2004-12-27 08:08:21      1,72      0.000069

[127 rows x 4 columns]
1,75
                     start                 end id_colums  intercontact
115233 2004-10-06 13:40:00 2004-10-06 13:40:19      1,75           NaN
115254 2004-10-06 13:40:31 2004-10-06 13:41:30      1,75      0.000139
116003 2004-10-06 15:50:55 2004-10-06 15:50:57      1,75      0.089873
116237 2004-10-06 16:45:57 2004-10-06 16:45:59      1,75      0.038194
116835 2004-10-07 03:47:52 2004-10-07 03:48:02      1,75      0.459641
...                    ...                 ...       ...           ...
643379 2004-12-19 11:29:16 2004-12-19 11:31:18      1,75      1.967905
643382 2004-12-19 11:45:48 2004-12-19 11:45:55      1,75      0.010069
643386 2004-12-19 12:46:17 2004-12-19 12:46:18      1,75      0.041921
643394 2004-12-19 14:16:29 2004-12-19 14:21:59      1,75      0.062627
643402 2004-12-19 14:49:57 2004-12-19 14:50:11      1,75      0.019421

[101 rows x 4 columns]
1,76
                     start                 end id_colums  intercontact
177468 2004-10-18 06:24:50 2004-10-18 06:24:55      1,76           NaN
177625 2004-10-18 06:34:55 2004-10-18 06:34:57      1,76      0.006944
178299 2004-10-18 07:27:33 2004-10-18 07:27:35      1,76      0.036528
184983 2004-10-18 17:10:16 2004-10-18 17:10:20      1,76      0.404641
185004 2004-10-18 17:13:54 2004-10-18 17:14:23      1,76      0.002477
...                    ...                 ...       ...           ...
642124 2004-12-17 13:12:55 2004-12-17 13:17:07      1,76      0.024780
642144 2004-12-17 13:20:00 2004-12-17 13:20:11      1,76      0.002002
642161 2004-12-17 13:30:47 2004-12-17 13:31:09      1,76      0.007361
642171 2004-12-17 13:32:19 2004-12-17 13:32:44      1,76      0.000810
642189 2004-12-17 13:35:19 2004-12-17 13:35:22      1,76      0.001794

[175 rows x 4 columns]
1,79
                     start                 end id_colums  intercontact
178253 2004-10-18 07:24:33 2004-10-18 07:24:35      1,79           NaN
178284 2004-10-18 07:26:50 2004-10-18 07:27:57      1,79      0.001563
180624 2004-10-18 09:46:27 2004-10-18 09:46:29      1,79      0.096181
181524 2004-10-18 11:09:34 2004-10-18 11:10:04      1,79      0.057697
181581 2004-10-18 11:13:20 2004-10-18 11:13:44      1,79      0.002269
...                    ...                 ...       ...           ...
641301 2004-12-17 09:37:06 2004-12-17 09:37:08      1,79      0.034282
641318 2004-12-17 09:40:01 2004-12-17 09:40:03      1,79      0.002002
641359 2004-12-17 09:52:32 2004-12-17 09:52:33      1,79      0.008669
641384 2004-12-17 10:07:11 2004-12-17 10:07:13      1,79      0.010162
641574 2004-12-17 10:53:30 2004-12-17 10:53:31      1,79      0.032141

[92 rows x 4 columns]
1,8
                     start                 end id_colums  intercontact
277    2004-07-26 12:44:35 2004-07-26 12:45:06       1,8           NaN
281    2004-07-26 12:47:24 2004-07-26 12:47:31       1,8      0.001597
282    2004-07-26 12:47:42 2004-07-26 12:47:48       1,8      0.000127
284    2004-07-26 12:48:31 2004-07-26 12:48:57       1,8      0.000498
285    2004-07-26 13:05:28 2004-07-26 13:11:59       1,8      0.011470
...                    ...                 ...       ...           ...
643784 2004-12-20 06:01:14 2004-12-20 06:01:17       1,8      0.626366
643901 2004-12-20 06:37:58 2004-12-20 06:38:08       1,8      0.025475
643997 2004-12-20 07:06:44 2004-12-20 07:07:01       1,8      0.019861
644005 2004-12-20 07:10:17 2004-12-20 07:10:27       1,8      0.002269
644278 2004-12-20 08:43:38 2004-12-20 08:43:39       1,8      0.064711

[588 rows x 4 columns]
1,80
                     start                 end id_colums  intercontact
115184 2004-10-06 13:37:25 2004-10-06 13:38:43      1,80           NaN
115339 2004-10-06 13:44:34 2004-10-06 13:45:15      1,80      0.004063
115365 2004-10-06 13:46:38 2004-10-06 13:46:54      1,80      0.000961
115386 2004-10-06 13:47:45 2004-10-06 13:48:10      1,80      0.000590
115412 2004-10-06 13:51:22 2004-10-06 13:51:34      1,80      0.002222
...                    ...                 ...       ...           ...
131950 2004-10-08 14:28:08 2004-10-08 14:28:30      1,80      0.012708
132189 2004-10-08 16:58:07 2004-10-08 16:59:18      1,80      0.103900
132191 2004-10-08 17:00:00 2004-10-08 17:00:07      1,80      0.000486
132235 2004-10-08 17:38:33 2004-10-08 17:38:41      1,80      0.026690
132367 2004-10-08 18:57:46 2004-10-08 18:58:42      1,80      0.054919

[64 rows x 4 columns]
1,81
                     start                 end id_colums  intercontact
281564 2004-11-01 15:53:49 2004-11-01 15:54:16      1,81           NaN
458430 2004-11-23 08:05:59 2004-11-23 08:07:03      1,81     21.674803
459930 2004-11-23 08:56:13 2004-11-23 08:56:15      1,81      0.034144
460394 2004-11-23 09:14:02 2004-11-23 09:15:19      1,81      0.012350
461048 2004-11-23 09:33:34 2004-11-23 09:35:22      1,81      0.012674
...                    ...                 ...       ...           ...
648454 2004-12-23 08:43:39 2004-12-23 08:44:06      1,81      0.009525
648456 2004-12-23 08:44:51 2004-12-23 08:44:53      1,81      0.000521
648458 2004-12-23 08:49:10 2004-12-23 08:49:11      1,81      0.002975
648460 2004-12-23 08:49:17 2004-12-23 08:49:34      1,81      0.000069
648462 2004-12-23 08:51:24 2004-12-23 08:52:07      1,81      0.001273

[168 rows x 4 columns]
1,82
                     start                 end id_colums  intercontact
48638  2004-09-23 16:44:38 2004-09-23 16:52:44      1,82           NaN
48927  2004-09-23 17:48:32 2004-09-23 17:49:40      1,82      0.038750
49099  2004-09-23 19:33:05 2004-09-23 19:35:20      1,82      0.071817
49115  2004-09-23 19:43:17 2004-09-23 19:43:40      1,82      0.005521
50743  2004-09-24 07:08:45 2004-09-24 07:09:03      1,82      0.475752
...                    ...                 ...       ...           ...
568316 2004-12-06 15:43:27 2004-12-06 15:44:06      1,82      0.000197
568320 2004-12-06 15:46:27 2004-12-06 15:46:38      1,82      0.001632
568407 2004-12-06 16:03:51 2004-12-06 16:04:00      1,82      0.011956
569165 2004-12-07 02:39:11 2004-12-07 02:39:25      1,82      0.441100
569188 2004-12-07 02:55:07 2004-12-07 02:55:56      1,82      0.010903

[423 rows x 4 columns]
1,83
                    start                 end id_colums  intercontact
51074 2004-09-24 07:35:03 2004-09-24 07:38:07      1,83           NaN
51451 2004-09-24 07:56:13 2004-09-24 08:01:01      1,83      0.012569
51657 2004-09-24 08:04:23 2004-09-24 08:04:25      1,83      0.002338
52416 2004-09-24 09:11:56 2004-09-24 09:11:59      1,83      0.046887
52571 2004-09-24 09:32:32 2004-09-24 09:33:50      1,83      0.014271
69812 2004-09-28 09:58:24 2004-09-28 10:01:46      1,83      4.017060
69879 2004-09-28 10:02:10 2004-09-28 10:03:11      1,83      0.000278
70605 2004-09-28 10:50:41 2004-09-28 10:50:55      1,83      0.032986
70645 2004-09-28 10:53:27 2004-09-28 10:57:24      1,83      0.001759
70958 2004-09-28 11:16:41 2004-09-28 11:16:43      1,83      0.013391
72003 2004-09-28 12:30:29 2004-09-28 12:31:02      1,83      0.051227
72051 2004-09-28 12:31:47 2004-09-28 12:32:09      1,83      0.000521
73512 2004-09-28 16:08:16 2004-09-28 16:09:12      1,83      0.150081
73658 2004-09-28 17:27:55 2004-09-28 17:28:40      1,83      0.054664
1,85
                     start                 end id_colums  intercontact
219275 2004-10-23 15:18:16 2004-10-23 15:18:19      1,85           NaN
219350 2004-10-23 17:05:21 2004-10-23 17:05:26      1,85      0.074329
250734 2004-10-27 15:56:04 2004-10-27 15:57:07      1,85      3.951829
250743 2004-10-27 15:57:07 2004-10-27 15:57:23      1,85      0.000000
367607 2004-11-14 13:15:40 2004-11-14 13:15:42      1,85     17.887697
...                    ...                 ...       ...           ...
646649 2004-12-21 10:52:46 2004-12-21 10:53:16      1,85      0.000069
646655 2004-12-21 10:54:10 2004-12-21 10:54:28      1,85      0.000625
646657 2004-12-21 10:54:40 2004-12-21 10:54:52      1,85      0.000139
646753 2004-12-21 11:32:39 2004-12-21 11:32:44      1,85      0.026238
646972 2004-12-21 13:01:21 2004-12-21 13:01:41      1,85      0.061539

[242 rows x 4 columns]
1,86
                     start                 end id_colums  intercontact
40522  2004-09-22 13:14:59 2004-09-22 13:15:05      1,86           NaN
40571  2004-09-22 13:31:36 2004-09-22 13:31:38      1,86      0.011470
40610  2004-09-22 13:47:05 2004-09-22 13:47:07      1,86      0.010729
48747  2004-09-23 17:02:38 2004-09-23 17:02:52      1,86      1.135775
62076  2004-09-27 11:21:46 2004-09-27 11:21:53      1,86      3.763125
...                    ...                 ...       ...           ...
608441 2004-12-12 10:02:30 2004-12-12 10:02:32      1,86      0.004630
608664 2004-12-12 10:35:24 2004-12-12 10:35:49      1,86      0.022824
608672 2004-12-12 10:37:00 2004-12-12 10:37:02      1,86      0.000822
609140 2004-12-12 11:28:27 2004-12-12 11:28:56      1,86      0.035706
609171 2004-12-12 11:30:01 2004-12-12 11:30:19      1,86      0.000752

[75 rows x 4 columns]
1,87
                     start                 end id_colums  intercontact
238228 2004-10-26 11:13:10 2004-10-26 11:13:17      1,87           NaN
238812 2004-10-26 11:52:18 2004-10-26 11:52:49      1,87      0.027095
238830 2004-10-26 11:53:09 2004-10-26 11:55:23      1,87      0.000231
238846 2004-10-26 11:55:33 2004-10-26 11:55:55      1,87      0.000116
238949 2004-10-26 12:03:10 2004-10-26 12:03:33      1,87      0.005035
...                    ...                 ...       ...           ...
643471 2004-12-19 18:03:07 2004-12-19 18:03:36      1,87      0.004109
645532 2004-12-20 21:51:36 2004-12-20 21:53:35      1,87      1.158333
645583 2004-12-20 22:23:32 2004-12-20 22:26:15      1,87      0.020799
645658 2004-12-20 22:55:58 2004-12-20 23:01:23      1,87      0.020637
646198 2004-12-21 08:41:27 2004-12-21 08:41:36      1,87      0.402824

[252 rows x 4 columns]
1,88
                     start                 end id_colums  intercontact
35375  2004-09-21 07:50:51 2004-09-21 07:50:58      1,88           NaN
35389  2004-09-21 07:52:42 2004-09-21 07:52:43      1,88      0.001204
38026  2004-09-21 17:22:14 2004-09-21 17:23:35      1,88      0.395498
38748  2004-09-22 08:16:02 2004-09-22 08:18:45      1,88      0.619757
40642  2004-09-22 13:57:51 2004-09-22 13:57:53      1,88      0.235486
...                    ...                 ...       ...           ...
377910 2004-11-15 10:52:39 2004-11-15 10:53:50      1,88      0.033819
379728 2004-11-15 12:03:14 2004-11-15 12:03:44      1,88      0.048194
379749 2004-11-15 12:05:19 2004-11-15 12:05:38      1,88      0.001100
379801 2004-11-15 12:06:22 2004-11-15 12:06:56      1,88      0.000509
379830 2004-11-15 12:08:45 2004-11-15 12:08:47      1,88      0.001262

[224 rows x 4 columns]
1,89
                   start                 end id_colums  intercontact
1865 2004-08-17 10:04:22 2004-08-17 10:04:23      1,89           NaN
1869 2004-08-17 10:27:58 2004-08-17 10:29:40      1,89      0.016377
1873 2004-08-17 10:30:26 2004-08-17 10:30:43      1,89      0.000532
1875 2004-08-17 10:34:33 2004-08-17 10:34:54      1,89      0.002662
1876 2004-08-17 10:36:36 2004-08-17 10:37:16      1,89      0.001181
1877 2004-08-17 10:37:34 2004-08-17 10:38:42      1,89      0.000208
1883 2004-08-17 10:55:26 2004-08-17 11:04:02      1,89      0.011620
1891 2004-08-17 11:10:06 2004-08-17 11:10:19      1,89      0.004213
1925 2004-08-17 12:36:22 2004-08-17 12:36:25      1,89      0.059757
1930 2004-08-17 12:38:08 2004-08-17 12:38:29      1,89      0.001192
1932 2004-08-17 12:42:06 2004-08-17 12:42:18      1,89      0.002512
1936 2004-08-17 12:45:58 2004-08-17 12:46:30      1,89      0.002546
1989 2004-08-17 14:33:30 2004-08-17 14:33:31      1,89      0.074306
2010 2004-08-17 15:11:31 2004-08-17 15:11:32      1,89      0.026389
2018 2004-08-17 15:32:47 2004-08-17 15:32:48      1,89      0.014757
2037 2004-08-17 16:09:08 2004-08-17 16:09:26      1,89      0.025231
2084 2004-08-18 08:37:01 2004-08-18 08:37:22      1,89      0.685822
2110 2004-08-18 11:54:08 2004-08-18 11:54:35      1,89      0.136644
2140 2004-08-18 12:59:15 2004-08-18 12:59:19      1,89      0.044907
2156 2004-08-18 13:28:45 2004-08-18 13:28:46      1,89      0.020440
2164 2004-08-18 13:38:20 2004-08-18 13:38:38      1,89      0.006644
2166 2004-08-18 13:39:59 2004-08-18 13:41:02      1,89      0.000937
2173 2004-08-18 13:45:40 2004-08-18 13:45:50      1,89      0.003218
2175 2004-08-18 13:50:08 2004-08-18 13:51:14      1,89      0.002986
2216 2004-08-18 14:53:04 2004-08-18 14:53:22      1,89      0.042940
2221 2004-08-18 15:06:21 2004-08-18 15:06:24      1,89      0.009016
2234 2004-08-18 18:48:04 2004-08-18 18:48:09      1,89      0.153935
2425 2004-08-20 09:06:29 2004-08-20 09:07:25      1,89      1.596065
3847 2004-08-26 13:05:53 2004-08-26 13:08:16      1,89      6.165602
3868 2004-08-26 13:23:00 2004-08-26 13:23:14      1,89      0.010231
3870 2004-08-26 13:25:18 2004-08-26 13:28:21      1,89      0.001435
3898 2004-08-26 13:58:56 2004-08-26 13:59:00      1,89      0.021238
4031 2004-08-26 15:41:18 2004-08-26 15:41:34      1,89      0.071042
4038 2004-08-26 16:30:50 2004-08-26 16:34:13      1,89      0.034213
4057 2004-08-26 18:37:49 2004-08-26 18:38:49      1,89      0.085833
4500 2004-08-27 18:27:35 2004-08-27 18:28:01      1,89      0.992199
4501 2004-08-27 18:52:05 2004-08-27 18:52:21      1,89      0.016713
4603 2004-08-28 14:02:24 2004-08-28 14:02:46      1,89      0.798646
1,9
                     start                 end id_colums  intercontact
367596 2004-11-14 13:13:48 2004-11-14 13:13:58       1,9           NaN
367598 2004-11-14 13:13:58 2004-11-14 13:14:23       1,9      0.000000
370437 2004-11-15 05:52:36 2004-11-15 05:52:38       1,9      0.693206
372479 2004-11-15 07:21:43 2004-11-15 07:21:55       1,9      0.061863
372596 2004-11-15 07:25:47 2004-11-15 07:25:48       1,9      0.002685
...                    ...                 ...       ...           ...
519901 2004-12-01 12:22:35 2004-12-01 12:23:00       1,9      0.013866
519980 2004-12-01 12:23:58 2004-12-01 12:24:39       1,9      0.000671
520383 2004-12-01 12:35:43 2004-12-01 12:35:45       1,9      0.007685
524840 2004-12-02 03:20:00 2004-12-02 03:20:48       1,9      0.614062
524842 2004-12-02 03:21:51 2004-12-02 03:22:20       1,9      0.000729

[112 rows x 4 columns]
10,11
                     start                 end id_colums  intercontact
6042   2004-09-02 04:05:45 2004-09-02 04:05:47     10,11           NaN
6695   2004-09-02 11:43:20 2004-09-02 11:43:25     10,11      0.317743
6783   2004-09-02 12:10:20 2004-09-02 12:10:37     10,11      0.018692
7350   2004-09-03 07:20:17 2004-09-03 07:20:30     10,11      0.798380
7357   2004-09-03 07:21:56 2004-09-03 07:22:10     10,11      0.000995
...                    ...                 ...       ...           ...
574299 2004-12-07 13:24:01 2004-12-07 13:24:07     10,11      0.003565
574356 2004-12-07 13:27:15 2004-12-07 13:27:46     10,11      0.002176
574390 2004-12-07 13:27:58 2004-12-07 13:29:36     10,11      0.000139
574441 2004-12-07 13:29:40 2004-12-07 13:30:38     10,11      0.000046
574667 2004-12-07 13:42:16 2004-12-07 13:43:39     10,11      0.008079

[295 rows x 4 columns]
10,12
                     start                 end id_colums  intercontact
6316   2004-09-02 08:47:52 2004-09-02 08:48:30     10,12           NaN
6320   2004-09-02 08:48:33 2004-09-02 08:48:43     10,12      0.000035
6322   2004-09-02 08:48:43 2004-09-02 08:49:21     10,12      0.000000
22988  2004-09-15 12:13:17 2004-09-15 12:13:18     10,12     13.141620

[301 rows x 4 columns]
10,68
                     start                 end id_colums  intercontact
180550 2004-10-18 09:40:13 2004-10-18 09:40:20     10,68           NaN
185104 2004-10-18 17:34:13 2004-10-18 17:35:46     10,68      0.329086
185166 2004-10-18 17:39:56 2004-10-18 17:39:58     10,68      0.002894
185188 2004-10-18 17:43:49 2004-10-18 18:00:10     10,68      0.002674
185559 2004-10-18 19:09:17 2004-10-18 19:13:30     10,68      0.047998
...                    ...                 ...       ...           ...
505416 2004-11-30 13:25:50 2004-11-30 13:26:07     10,68      0.008484
506826 2004-11-30 15:33:22 2004-11-30 15:33:34     10,68      0.088368
506832 2004-11-30 15:34:44 2004-11-30 15:37:41     10,68      0.000810
507537 2004-11-30 17:55:03 2004-11-30 17:55:20     10,68      0.095394
511426 2004-12-01 06:42:09 2004-12-01 06:42:11     10,68      0.532512

[111 rows x 4 columns]
10,69
                     start                 end id_colums  intercontact
121231 2004-10-07 09:35:33 2004-10-07 09:35:38     10,69           NaN
121773 2004-10-07 10:00:23 2004-10-07 10:00:27     10,69      0.017188
134228 2004-10-10 08:31:27 2004-10-10 08:31:29     10,69      2.938194
134231 2004-10-10 08:32:39 2004-10-10 08:33:19     10,69      0.000810
134296 2004-10-10 08:59:02 2004-10-10 09:00:00     10,69      0.017859
...                    ...                 ...       ...           ...
398694 2004-11-16 16:40:56 2004-11-16 16:41:13     10,69      0.000405
398699 2004-11-16 16:42:25 2004-11-16 16:44:26     10,69      0.000833
404245 2004-11-17 09:16:58 2004-11-17 09:17:04     10,69      0.689259
404247 2004-11-17 09:17:04 2004-11-17 09:20:04     10,69      0.000000
408086 2004-11-17 11:49:19 2004-11-17 11:50:01     10,69      0.103646

[215 rows x 4 columns]
10,71
                     start                 end id_colums  intercontact
113709 2004-10-06 11:40:09 2004-10-06 11:40:11     10,71           NaN
113949 2004-10-06 11:51:04 2004-10-06 11:51:23     10,71      0.007558
116342 2004-10-06 17:55:17 2004-10-06 17:55:19     10,71      0.252708
116773 2004-10-07 03:36:02 2004-10-07 03:36:24     10,71      0.403275
116783 2004-10-07 03:38:45 2004-10-07 03:38:55     10,71      0.001632
...                    ...                 ...       ...           ...
566536 2004-12-06 12:29:17 2004-12-06 12:29:30     10,71      0.009317
573148 2004-12-07 12:06:03 2004-12-07 12:06:43     10,71      0.983715
574120 2004-12-07 13:10:03 2004-12-07 13:10:32     10,71      0.043981
574155 2004-12-07 13:13:17 2004-12-07 13:17:27     10,71      0.001910
574353 2004-12-07 13:27:15 2004-12-07 13:27:58     10,71      0.006806

[282 rows x 4 columns]
10,72
                     start                 end id_colums  intercontact
354323 2004-11-10 11:55:47 2004-11-10 11:55:52     10,72           NaN
360645 2004-11-12 09:17:17 2004-11-12 09:17:20     10,72      1.889873
360698 2004-11-12 09:27:58 2004-11-12 09:28:16     10,72      0.007384
360824 2004-11-12 09:43:51 2004-11-12 09:45:28     10,72      0.010822
360840 2004-11-12 09:46:10 2004-11-12 09:46:36     10,72      0.000486
376370 2004-11-15 09:42:54 2004-11-15 09:43:04     10,72      2.997431
380377 2004-11-15 12:34:41 2004-11-15 12:35:11     10,72      0.119178
387238 2004-11-16 07:01:56 2004-11-16 07:03:14     10,72      0.768576
388274 2004-11-16 07:35:44 2004-11-16 07:42:32     10,72      0.022569
388563 2004-11-16 07:46:26 2004-11-16 07:47:41     10,72      0.002708
390024 2004-11-16 08:28:46 2004-11-16 08:28:51     10,72      0.028530
390046 2004-11-16 08:29:34 2004-11-16 08:34:00     10,72      0.000498
391897 2004-11-16 09:42:28 2004-11-16 09:42:33     10,72      0.047546
394712 2004-11-16 11:47:05 2004-11-16 11:47:11     10,72      0.086481
394828 2004-11-16 11:51:25 2004-11-16 11:51:27     10,72      0.002940
395356 2004-11-16 12:05:26 2004-11-16 12:06:09     10,72      0.009711
396468 2004-11-16 12:48:39 2004-11-16 12:49:30     10,72      0.029514
396503 2004-11-16 12:50:14 2004-11-16 12:52:16     10,72      0.000509
404235 2004-11-17 09:16:35 2004-11-17 09:16:41     10,72      0.850220
406398 2004-11-17 10:49:29 2004-11-17 10:50:05     10,72      0.064444
406424 2004-11-17 10:50:05 2004-11-17 10:50:25     10,72      0.000000
406466 2004-11-17 10:51:53 2004-11-17 10:51:55     10,72      0.001019
407812 2004-11-17 11:40:51 2004-11-17 11:40:52     10,72      0.033981
408207 2004-11-17 11:54:57 2004-11-17 11:55:07     10,72      0.009780
411848 2004-11-18 04:06:27 2004-11-18 04:06:39     10,72      0.674537
411984 2004-11-18 04:16:28 2004-11-18 04:17:51     10,72      0.006817
412121 2004-11-18 04:29:09 2004-11-18 04:29:25     10,72      0.007847
412152 2004-11-18 04:31:03 2004-11-18 04:31:14     10,72      0.001134
412308 2004-11-18 04:47:32 2004-11-18 04:48:00     10,72      0.011319
412634 2004-11-18 05:07:50 2004-11-18 05:08:22     10,72      0.013773
414303 2004-11-18 06:51:37 2004-11-18 06:51:42     10,72      0.071701
415054 2004-11-18 07:29:17 2004-11-18 07:29:20     10,72      0.026100
415146 2004-11-18 07:34:52 2004-11-18 07:34:53     10,72      0.003843
415208 2004-11-18 07:38:50 2004-11-18 07:38:52     10,72      0.002743
415747 2004-11-18 08:11:47 2004-11-18 08:12:47     10,72      0.022859
420169 2004-11-18 11:53:57 2004-11-18 11:54:02     10,72      0.153588
420531 2004-11-18 12:07:04 2004-11-18 12:07:32     10,72      0.009051
420642 2004-11-18 12:09:24 2004-11-18 12:09:27     10,72      0.001296
420847 2004-11-18 12:13:45 2004-11-18 12:14:02     10,72      0.002986
420991 2004-11-18 12:18:56 2004-11-18 12:19:57     10,72      0.003403
421129 2004-11-18 12:23:43 2004-11-18 12:23:55     10,72      0.002616
421150 2004-11-18 12:23:59 2004-11-18 12:24:34     10,72      0.000046
421176 2004-11-18 12:25:10 2004-11-18 12:25:19     10,72      0.000417
421212 2004-11-18 12:25:46 2004-11-18 12:25:47     10,72      0.000313
421401 2004-11-18 12:30:01 2004-11-18 12:30:22     10,72      0.002940
421643 2004-11-18 12:41:26 2004-11-18 12:41:51     10,72      0.007685
421657 2004-11-18 12:42:15 2004-11-18 12:43:16     10,72      0.000278
439877 2004-11-22 04:37:39 2004-11-22 04:37:50     10,72      3.662766
448052 2004-11-22 10:14:40 2004-11-22 10:14:44     10,72      0.233912
10,75
                     start                 end id_colums  intercontact
115942 2004-10-06 15:39:34 2004-10-06 15:39:45     10,75           NaN
116213 2004-10-06 16:39:12 2004-10-06 16:39:14     10,75      0.041285
116339 2004-10-06 17:55:17 2004-10-06 17:55:19     10,75      0.052812
119473 2004-10-07 08:03:07 2004-10-07 08:03:42     10,75      0.588750
121235 2004-10-07 09:35:33 2004-10-07 09:35:36     10,75      0.063785
...                    ...                 ...       ...           ...
538613 2004-12-02 18:18:06 2004-12-02 18:19:54     10,75      2.112766
555416 2004-12-05 09:58:03 2004-12-05 09:59:46     10,75      2.651493
556856 2004-12-05 13:38:43 2004-12-05 13:54:10     10,75      0.152049
558368 2004-12-06 03:53:17 2004-12-06 03:54:24     10,75      0.582720
558419 2004-12-06 04:12:01 2004-12-06 04:12:30     10,75      0.012234

[77 rows x 4 columns]
10,76
                     start                 end id_colums  intercontact
177207 2004-10-18 05:40:54 2004-10-18 05:41:03     10,76           NaN
177668 2004-10-18 06:37:48 2004-10-18 06:38:38     10,76      0.039410
186021 2004-10-19 04:20:10 2004-10-19 04:20:33     10,76      0.903843
186168 2004-10-19 04:43:59 2004-10-19 04:44:01     10,76      0.016273
215273 2004-10-22 09:24:15 2004-10-22 09:24:17     10,76      3.194606
...                    ...                 ...       ...           ...
573036 2004-12-07 12:01:35 2004-12-07 12:01:44     10,76      0.006447
573392 2004-12-07 12:24:15 2004-12-07 12:25:32     10,76      0.015637
574125 2004-12-07 13:10:20 2004-12-07 13:10:32     10,76      0.031111
574317 2004-12-07 13:25:25 2004-12-07 13:25:46     10,76      0.010336
574354 2004-12-07 13:27:15 2004-12-07 13:27:58     10,76      0.001030

[115 rows x 4 columns]
10,79
                     start                 end id_colums  intercontact
155433 2004-10-14 05:06:55 2004-10-14 05:06:57     10,79           NaN
155448 2004-10-14 05:08:23 2004-10-14 05:08:31     10,79      0.000995
162806 2004-10-14 13:42:43 2004-10-14 13:42:45     10,79      0.357083
162873 2004-10-14 13:44:33 2004-10-14 13:44:48     10,79      0.001250
163199 2004-10-14 13:57:57 2004-10-14 13:59:28     10,79      0.009132
163250 2004-10-14 14:00:11 2004-10-14 14:00:50     10,79      0.000498
170312 2004-10-15 12:39:56 2004-10-15 12:40:01     10,79      0.943819
180621 2004-10-18 09:46:27 2004-10-18 09:46:29     10,79      2.879468
186301 2004-10-19 04:52:56 2004-10-19 04:53:50     10,79      0.796146
194705 2004-10-19 12:53:19 2004-10-19 12:53:27     10,79      0.332975
194867 2004-10-19 13:03:22 2004-10-19 13:03:54     10,79      0.006887
194951 2004-10-19 13:06:07 2004-10-19 13:06:09     10,79      0.001539
196719 2004-10-19 14:47:17 2004-10-19 14:47:23     10,79      0.070231
196862 2004-10-19 14:58:08 2004-10-19 14:58:45     10,79      0.007465
196882 2004-10-19 14:59:08 2004-10-19 15:00:03     10,79      0.000266
214285 2004-10-22 07:52:35 2004-10-22 07:52:37     10,79      2.703148
247200 2004-10-27 11:17:39 2004-10-27 11:17:41     10,79      5.142384
404237 2004-11-17 09:16:35 2004-11-17 09:16:41     10,79     20.915903
404646 2004-11-17 09:34:15 2004-11-17 09:34:17     10,79      0.012199
408206 2004-11-17 11:54:57 2004-11-17 11:55:07     10,79      0.097685
412319 2004-11-18 04:48:20 2004-11-18 04:56:48     10,79      0.703623
415144 2004-11-18 07:34:52 2004-11-18 07:34:53     10,79      0.109769
415156 2004-11-18 07:35:59 2004-11-18 07:36:18     10,79      0.000764
415211 2004-11-18 07:38:50 2004-11-18 07:38:52     10,79      0.001759
415393 2004-11-18 07:52:22 2004-11-18 07:52:24     10,79      0.009375
424525 2004-11-18 16:29:13 2004-11-18 16:29:18     10,79      0.358900
481705 2004-11-29 05:47:31 2004-11-29 05:48:05     10,79     10.554317
482269 2004-11-29 06:18:23 2004-11-29 06:18:25     10,79      0.021042
483193 2004-11-29 07:12:56 2004-11-29 07:12:57     10,79      0.037859
494496 2004-11-30 05:38:47 2004-11-30 05:39:39     10,79      0.934606
495252 2004-11-30 06:18:56 2004-11-30 06:18:57     10,79      0.027280
500415 2004-11-30 10:13:53 2004-11-30 10:13:54     10,79      0.163148
572912 2004-12-07 11:52:13 2004-12-07 11:52:18     10,79      7.068275
574439 2004-12-07 13:29:36 2004-12-07 13:34:39     10,79      0.067569
10,80
                     start                 end id_colums  intercontact
113603 2004-10-06 11:36:18 2004-10-06 11:36:26     10,80           NaN
113705 2004-10-06 11:40:09 2004-10-06 11:40:11     10,80      0.002581
113874 2004-10-06 11:48:28 2004-10-06 11:52:10     10,80      0.005752
116750 2004-10-07 03:33:11 2004-10-07 03:33:19     10,80      0.653484
116775 2004-10-07 03:36:16 2004-10-07 03:37:06     10,80      0.002049
116790 2004-10-07 03:40:01 2004-10-07 03:40:08     10,80      0.002025
116979 2004-10-07 04:17:14 2004-10-07 04:17:44     10,80      0.025764
119696 2004-10-07 08:09:40 2004-10-07 08:09:53     10,80      0.161065
120322 2004-10-07 08:45:46 2004-10-07 08:45:48     10,80      0.024919
120390 2004-10-07 08:52:10 2004-10-07 08:52:12     10,80      0.004421
121229 2004-10-07 09:35:33 2004-10-07 09:35:38     10,80      0.030104
121276 2004-10-07 09:36:20 2004-10-07 09:36:39     10,80      0.000486
121762 2004-10-07 10:00:23 2004-10-07 10:00:27     10,80      0.016481
122181 2004-10-07 10:25:16 2004-10-07 10:25:36     10,80      0.017234
123729 2004-10-07 12:02:51 2004-10-07 12:04:51     10,80      0.067535
124543 2004-10-07 12:39:22 2004-10-07 12:39:50     10,80      0.023970
124626 2004-10-07 12:44:27 2004-10-07 12:44:45     10,80      0.003206
124779 2004-10-07 12:49:31 2004-10-07 12:49:42     10,80      0.003310
125039 2004-10-07 13:05:29 2004-10-07 13:06:08     10,80      0.010961
125105 2004-10-07 13:08:33 2004-10-07 13:08:51     10,80      0.001678
125126 2004-10-07 13:09:50 2004-10-07 13:10:37     10,80      0.000683
125156 2004-10-07 13:13:22 2004-10-07 13:13:41     10,80      0.001910
128021 2004-10-08 06:10:16 2004-10-08 06:10:26     10,80      0.705961
128064 2004-10-08 06:12:43 2004-10-08 06:16:47     10,80      0.001586
128385 2004-10-08 06:44:22 2004-10-08 06:44:23     10,80      0.019155
128386 2004-10-08 06:44:23 2004-10-08 06:44:36     10,80      0.000000
128390 2004-10-08 06:45:03 2004-10-08 06:45:44     10,80      0.000313
128395 2004-10-08 06:46:58 2004-10-08 06:47:53     10,80      0.000856
128500 2004-10-08 06:58:17 2004-10-08 06:58:18     10,80      0.007222
128928 2004-10-08 07:34:24 2004-10-08 07:35:18     10,80      0.025069
128956 2004-10-08 07:37:25 2004-10-08 07:37:27     10,80      0.001470
129096 2004-10-08 07:45:24 2004-10-08 07:45:43     10,80      0.005521
129151 2004-10-08 07:48:54 2004-10-08 07:48:59     10,80      0.002211
129268 2004-10-08 07:52:56 2004-10-08 07:53:12     10,80      0.002743
129594 2004-10-08 08:17:41 2004-10-08 08:18:11     10,80      0.017002
129973 2004-10-08 09:15:43 2004-10-08 09:59:14     10,80      0.039954
130985 2004-10-08 11:10:07 2004-10-08 11:10:57     10,80      0.049225
10,81
                     start                 end id_colums  intercontact
291804 2004-11-02 11:54:43 2004-11-02 11:58:35     10,81           NaN
292963 2004-11-02 12:55:40 2004-11-02 12:55:48     10,81      0.039641
293034 2004-11-02 13:02:15 2004-11-02 13:02:33     10,81      0.004479
293042 2004-11-02 13:02:36 2004-11-02 13:04:38     10,81      0.000035
313060 2004-11-04 11:53:03 2004-11-04 11:53:11     10,81      1.950289
313556 2004-11-04 12:12:38 2004-11-04 12:12:59     10,81      0.013507
313613 2004-11-04 12:15:39 2004-11-04 12:15:57     10,81      0.001852
313685 2004-11-04 12:17:08 2004-11-04 12:17:36     10,81      0.000822
313739 2004-11-04 12:18:50 2004-11-04 12:18:59     10,81      0.000856
313860 2004-11-04 12:23:42 2004-11-04 12:24:04     10,81      0.003275
314027 2004-11-04 12:29:59 2004-11-04 12:30:09     10,81      0.004109
314081 2004-11-04 12:30:51 2004-11-04 12:32:35     10,81      0.000486
314336 2004-11-04 12:36:18 2004-11-04 12:38:09     10,81      0.002581
314962 2004-11-04 12:51:10 2004-11-04 12:51:28     10,81      0.009039
315044 2004-11-04 12:52:50 2004-11-04 12:53:00     10,81      0.000949
315085 2004-11-04 12:54:59 2004-11-04 12:55:37     10,81      0.001377
315157 2004-11-04 12:58:47 2004-11-04 12:59:15     10,81      0.002199
315228 2004-11-04 13:01:08 2004-11-04 13:01:40     10,81      0.001308
315405 2004-11-04 13:08:46 2004-11-04 13:10:28     10,81      0.004931
315490 2004-11-04 13:15:38 2004-11-04 13:16:02     10,81      0.003588
315537 2004-11-04 13:17:15 2004-11-04 13:17:16     10,81      0.000845
315576 2004-11-04 13:18:08 2004-11-04 13:18:35     10,81      0.000602
395645 2004-11-16 12:18:36 2004-11-16 12:19:27     10,81     11.958345
396219 2004-11-16 12:38:44 2004-11-16 12:39:20     10,81      0.013391
396378 2004-11-16 12:45:19 2004-11-16 12:46:33     10,81      0.004155
396472 2004-11-16 12:48:46 2004-11-16 12:49:39     10,81      0.001539
407808 2004-11-17 11:40:51 2004-11-17 11:40:52     10,81      0.952222
415849 2004-11-18 08:18:48 2004-11-18 08:18:51     10,81      0.859676
415868 2004-11-18 08:20:00 2004-11-18 08:20:32     10,81      0.000799
488607 2004-11-29 12:02:51 2004-11-29 12:02:56     10,81     11.154387
488741 2004-11-29 12:12:06 2004-11-29 12:12:08     10,81      0.006366
500418 2004-11-30 10:13:53 2004-11-30 10:13:54     10,81      0.917882
502674 2004-11-30 11:49:30 2004-11-30 11:49:37     10,81      0.066389
503090 2004-11-30 11:59:46 2004-11-30 12:00:17     10,81      0.007049
503143 2004-11-30 12:00:22 2004-11-30 12:00:49     10,81      0.000058
503149 2004-11-30 12:01:00 2004-11-30 12:01:10     10,81      0.000127
503240 2004-11-30 12:03:43 2004-11-30 12:07:16     10,81      0.001771
503314 2004-11-30 12:08:33 2004-11-30 12:09:07     10,81      0.000891
503710 2004-11-30 12:20:09 2004-11-30 12:20:30     10,81      0.007662
503758 2004-11-30 12:21:25 2004-11-30 12:22:37     10,81      0.000637
503860 2004-11-30 12:24:13 2004-11-30 12:24:32     10,81      0.001111
535659 2004-12-02 11:56:58 2004-12-02 11:57:05     10,81      1.980856
535800 2004-12-02 12:00:51 2004-12-02 12:01:02     10,81      0.002616
536265 2004-12-02 12:14:38 2004-12-02 12:15:37     10,81      0.009444
536364 2004-12-02 12:19:02 2004-12-02 12:19:10     10,81      0.002373
536474 2004-12-02 12:25:22 2004-12-02 12:25:26     10,81      0.004306
536500 2004-12-02 12:25:43 2004-12-02 12:25:56     10,81      0.000197
536510 2004-12-02 12:26:01 2004-12-02 12:26:09     10,81      0.000058
536645 2004-12-02 12:32:52 2004-12-02 12:34:29     10,81      0.004664
536819 2004-12-02 12:42:13 2004-12-02 12:42:18     10,81      0.005370
536864 2004-12-02 12:47:37 2004-12-02 12:47:48     10,81      0.003692
536905 2004-12-02 12:50:13 2004-12-02 12:50:25     10,81      0.001678
537073 2004-12-02 12:56:36 2004-12-02 12:57:17     10,81      0.004294
537429 2004-12-02 13:16:58 2004-12-02 13:17:31     10,81      0.013669
548872 2004-12-03 13:06:22 2004-12-03 13:06:27     10,81      0.992257
10,82
                     start                 end id_colums  intercontact
45453  2004-09-23 11:34:08 2004-09-23 11:34:23     10,82           NaN
45537  2004-09-23 11:39:24 2004-09-23 11:39:37     10,82      0.003484
45677  2004-09-23 11:49:45 2004-09-23 11:49:56     10,82      0.007037
45773  2004-09-23 11:54:10 2004-09-23 11:55:24     10,82      0.002940
45833  2004-09-23 11:58:01 2004-09-23 11:58:19     10,82      0.001817
...                    ...                 ...       ...           ...
537487 2004-12-02 13:22:59 2004-12-02 13:24:18     10,82      0.031481
558597 2004-12-06 04:45:21 2004-12-06 04:45:50     10,82      3.639618
558652 2004-12-06 04:47:34 2004-12-06 04:47:52     10,82      0.001204
558665 2004-12-06 04:48:23 2004-12-06 04:55:29     10,82      0.000359
558755 2004-12-06 04:58:44 2004-12-06 04:59:57     10,82      0.002257

[315 rows x 4 columns]
10,83
                     start                 end id_colums  intercontact
47397  2004-09-23 13:38:54 2004-09-23 13:39:41     10,83           NaN
47440  2004-09-23 13:40:43 2004-09-23 13:41:04     10,83      0.000718
69235  2004-09-28 09:32:47 2004-09-28 09:32:48     10,83      4.827581
69578  2004-09-28 09:52:10 2004-09-28 09:52:53     10,83      0.013449
69684  2004-09-28 09:55:05 2004-09-28 09:55:33     10,83      0.001528
69726  2004-09-28 09:55:51 2004-09-28 09:56:31     10,83      0.000208
70158  2004-09-28 10:24:42 2004-09-28 10:24:43     10,83      0.019572
70312  2004-09-28 10:38:52 2004-09-28 10:39:09     10,83      0.009826
70464  2004-09-28 10:46:01 2004-09-28 10:46:03     10,83      0.004769
70827  2004-09-28 11:08:22 2004-09-28 11:08:24     10,83      0.015498
71117  2004-09-28 11:25:22 2004-09-28 11:33:32     10,83      0.011782
71276  2004-09-28 11:39:46 2004-09-28 11:39:47     10,83      0.004329
277799 2004-11-01 11:24:37 2004-11-01 11:26:00     10,83     33.989468
359570 2004-11-12 05:54:50 2004-11-12 05:54:51     10,83     10.770023
359688 2004-11-12 06:23:11 2004-11-12 06:23:35     10,83      0.019676
10,85
                     start                 end id_colums  intercontact
257976 2004-10-28 12:05:39 2004-10-28 12:05:53     10,85           NaN
258051 2004-10-28 12:08:39 2004-10-28 12:09:43     10,85      0.001921
259347 2004-10-28 13:12:44 2004-10-28 13:12:59     10,85      0.043762
259352 2004-10-28 13:13:02 2004-10-28 13:13:44     10,85      0.000035
259414 2004-10-28 13:16:40 2004-10-28 13:20:08     10,85      0.002037
...                    ...                 ...       ...           ...
572977 2004-12-07 11:57:55 2004-12-07 11:58:20     10,85      0.001100
573033 2004-12-07 12:01:35 2004-12-07 12:01:44     10,85      0.002257
573233 2004-12-07 12:12:40 2004-12-07 12:13:40     10,85      0.007593
573531 2004-12-07 12:31:54 2004-12-07 12:32:10     10,85      0.012662

                     start                 end id_colums  intercontact
177588 2004-10-18 06:33:37 2004-10-18 06:35:13     11,68           NaN
179919 2004-10-18 08:50:11 2004-10-18 08:50:16     11,68      0.093727
179975 2004-10-18 08:52:45 2004-10-18 08:52:51     11,68      0.001725
180062 2004-10-18 08:59:26 2004-10-18 09:00:18     11,68      0.004572
182568 2004-10-18 12:40:18 2004-10-18 12:41:08     11,68      0.152778
...                    ...                 ...       ...           ...
763423 2005-03-29 07:43:49 2005-03-29 07:44:38     11,68      0.022824
764457 2005-03-29 10:59:15 2005-03-29 10:59:33     11,68      0.135150
764537 2005-03-29 11:17:14 2005-03-29 11:17:37     11,68      0.012280
764730 2005-03-29 11:53:46 2005-03-29 11:54:02     11,68      0.025104
766085 2005-03-30 08:42:20 2005-03-30 08:43:12     11,68      0.866875

[282 rows x 4 columns]
11,69
                     start                 end id_colums  intercontact
120417 2004-10-07 08:53:20 2004-10-07 08:53:40     11,69           NaN
120442 2004-10-07 08:54:47 2004-10-07 08:55:04     11,69      0.000775
120492 2004-10-07 08:57:16 2004-10-07 08:59:16     11,69      0.001528
120915 2004-10-07 09:23:07 2004-10-07 09:23:18     11,69      0.016563
120923 2004-10-07 09:23:36 2004-10-07 09:24:16     11,69      0.000208
...                    ...                 ...       ...           ...
466701 2004-11-23 12:20:33 2004-11-23 12:21:54     11,69      0.010845
466794 2004-11-23 12:23:50 2004-11-23 12:28:06     11,69      0.001343
466917 2004-11-23 12:31:06 2004-11-23 12:31:08     11,69      0.002083
467714 2004-11-23 12:55:36 2004-11-23 12:55:47     11,69      0.016991
467731 2004-11-23 12:56:08 2004-11-23 12:59:28     11,69      0.000243

[325 rows x 4 columns]
11,70
                     start                 end id_colums  intercontact
659574 2005-01-10 08:36:04 2005-01-10 08:36:09     11,70           NaN
659638 2005-01-10 08:57:26 2005-01-10 08:59:57     11,70      0.014780
669168 2005-01-14 07:02:26 2005-01-14 07:03:05     11,70      3.918391
669226 2005-01-14 07:18:16 2005-01-14 07:18:20     11,70      0.010544
669266 2005-01-14 07:23:34 2005-01-14 07:23:50     11,70      0.003634
...                    ...                 ...       ...           ...
730629 2005-03-02 10:10:47 2005-03-02 10:11:23     11,70      0.033484
730643 2005-03-02 10:14:32 2005-03-02 10:20:32     11,70      0.002188
732847 2005-03-03 09:01:28 2005-03-03 09:01:36     11,70      0.945093
732907 2005-03-03 09:14:55 2005-03-03 09:15:03     11,70      0.009248
733423 2005-03-03 10:34:33 2005-03-03 10:34:41     11,70      0.055208

[218 rows x 4 columns]
11,71
                     start                 end id_colums  intercontact
112242 2004-10-06 09:52:27 2004-10-06 09:52:53     11,71           NaN
112245 2004-10-06 09:53:01 2004-10-06 09:53:43     11,71      0.000093
112568 2004-10-06 10:17:01 2004-10-06 10:17:03     11,71      0.016181
112606 2004-10-06 10:19:20 2004-10-06 10:19:57     11,71      0.001586
112636 2004-10-06 10:23:53 2004-10-06 10:24:31     11,71      0.002731
...                    ...                 ...       ...           ...
769067 2005-04-01 12:00:36 2005-04-01 12:00:51     11,71      0.035822
770236 2005-04-02 06:09:15 2005-04-02 06:09:19     11,71      0.755833
770237 2005-04-02 06:17:05 2005-04-02 06:17:15     11,71      0.005394
773063 2005-04-09 08:12:19 2005-04-09 08:17:23     11,71      7.079907
773127 2005-04-09 14:31:02 2005-04-09 14:31:18     11,71      0.259479

[1088 rows x 4 columns]
11,72
                     start                 end id_colums  intercontact
276466 2004-11-01 10:19:43 2004-11-01 10:19:47     11,72           NaN
277429 2004-11-01 11:08:36 2004-11-01 11:08:55     11,72      0.033900
277651 2004-11-01 11:20:05 2004-11-01 11:22:22     11,72      0.007755
278072 2004-11-01 11:35:49 2004-11-01 11:36:55     11,72      0.009340
278383 2004-11-01 11:46:06 2004-11-01 11:46:22     11,72      0.006377
...                    ...                 ...       ...           ...
659928 2005-01-10 11:05:53 2005-01-10 11:11:59     11,72      0.000000
659956 2005-01-10 11:13:54 2005-01-10 11:14:18     11,72      0.001331
659965 2005-01-10 11:17:14 2005-01-10 11:17:50     11,72      0.002037
660097 2005-01-10 11:55:34 2005-01-10 11:58:27     11,72      0.026204
660125 2005-01-10 12:03:05 2005-01-10 12:03:10     11,72      0.003218

[137 rows x 4 columns]
11,75
                     start                 end id_colums  intercontact
118951 2004-10-07 07:35:49 2004-10-07 07:36:10     11,75           NaN
118976 2004-10-07 07:41:09 2004-10-07 07:43:02     11,75      0.003461
119221 2004-10-07 07:55:53 2004-10-07 07:56:09     11,75      0.008924
119259 2004-10-07 07:56:25 2004-10-07 07:56:30     11,75      0.000185
119466 2004-10-07 08:03:07 2004-10-07 08:03:35     11,75      0.004595
...                    ...                 ...       ...           ...
671758 2005-01-14 17:51:50 2005-01-14 17:51:59     11,75      0.002697
671761 2005-01-14 17:52:16 2005-01-14 17:52:17     11,75      0.000197
671774 2005-01-14 17:58:38 2005-01-14 17:58:47     11,75      0.004410
671790 2005-01-14 18:12:29 2005-01-14 18:12:31     11,75      0.009514
671797 2005-01-14 18:14:41 2005-01-14 18:15:11     11,75      0.001505

[93 rows x 4 columns]
11,76
                     start                 end id_colums  intercontact
177586 2004-10-18 06:33:31 2004-10-18 06:33:37     11,76           NaN
177595 2004-10-18 06:33:45 2004-10-18 06:53:44     11,76      0.000093
178305 2004-10-18 07:27:33 2004-10-18 07:27:35     11,76      0.023484
184948 2004-10-18 17:05:58 2004-10-18 17:06:04     11,76      0.401655
185307 2004-10-18 18:08:47 2004-10-18 18:08:51     11,76      0.043553
...                    ...                 ...       ...           ...
639722 2004-12-16 14:51:39 2004-12-16 14:51:44     11,76      0.047778
641154 2004-12-17 08:45:31 2004-12-17 08:45:33     11,76      0.745683
641228 2004-12-17 09:24:10 2004-12-17 09:24:27     11,76      0.026817
641327 2004-12-17 09:41:17 2004-12-17 09:56:00     11,76      0.011690
641694 2004-12-17 11:06:38 2004-12-17 11:07:02     11,76      0.049051

[241 rows x 4 columns]
11,79
                     start                 end id_colums  intercontact
152117 2004-10-13 10:37:57 2004-10-13 10:38:23     11,79           NaN
152171 2004-10-13 10:42:00 2004-10-13 10:42:22     11,79      0.002512
152183 2004-10-13 10:42:28 2004-10-13 10:42:48     11,79      0.000069
152193 2004-10-13 10:43:15 2004-10-13 10:43:35     11,79      0.000313
154037 2004-10-13 13:17:22 2004-10-13 13:17:26     11,79      0.106794
...                    ...                 ...       ...           ...
775305 2005-04-13 10:35:33 2005-04-13 10:37:47     11,79      0.000324
775443 2005-04-13 11:27:50 2005-04-13 11:29:47     11,79      0.034757
775454 2005-04-13 11:33:38 2005-04-13 11:34:00     11,79      0.002674
775683 2005-04-13 13:21:19 2005-04-13 13:24:41     11,79      0.074525
775696 2005-04-13 13:25:59 2005-04-13 13:26:10     11,79      0.000903

[373 rows x 4 columns]
11,80
                     start                 end id_colums  intercontact
112507 2004-10-06 10:11:06 2004-10-06 10:11:08     11,80           NaN
113605 2004-10-06 11:36:20 2004-10-06 11:36:26     11,80      0.059167
113745 2004-10-06 11:40:42 2004-10-06 11:42:35     11,80      0.002963
113868 2004-10-06 11:48:00 2004-10-06 11:48:26     11,80      0.003762
113875 2004-10-06 11:48:28 2004-10-06 11:49:13     11,80      0.000023
...                    ...                 ...       ...           ...
279728 2004-11-01 12:53:13 2004-11-01 12:55:45     11,80      0.000394
280359 2004-11-01 13:25:35 2004-11-01 13:25:59     11,80      0.020718
280448 2004-11-01 13:30:38 2004-11-01 13:31:02     11,80      0.003229
280683 2004-11-01 13:51:22 2004-11-01 13:51:47     11,80      0.014120
280968 2004-11-01 14:20:15 2004-11-01 14:20:17     11,80      0.019769

[91 rows x 4 columns]
11,81
                     start                 end id_colums  intercontact
289399 2004-11-02 10:18:28 2004-11-02 10:18:55     11,81           NaN
291812 2004-11-02 11:54:43 2004-11-02 11:58:35     11,81      0.066528
294725 2004-11-02 16:12:39 2004-11-02 16:13:04     11,81      0.176435
300667 2004-11-03 10:08:16 2004-11-03 10:08:19     11,81      0.746667
301896 2004-11-03 11:19:26 2004-11-03 11:20:36     11,81      0.049387
...                    ...                 ...       ...           ...
686626 2005-01-24 10:46:48 2005-01-24 10:47:09     11,81      0.015775
686899 2005-01-24 12:33:47 2005-01-24 12:53:44     11,81      0.074051
686978 2005-01-24 12:55:38 2005-01-24 12:55:54     11,81      0.001319
686979 2005-01-24 12:55:54 2005-01-24 12:56:03     11,81      0.000000
692571 2005-01-27 06:09:52 2005-01-27 06:26:47     11,81      2.717928

[242 rows x 4 columns]
11,82
                     start                 end id_colums  intercontact
43219  2004-09-23 09:39:36 2004-09-23 09:39:45     11,82           NaN
44109  2004-09-23 10:23:15 2004-09-23 10:23:32     11,82      0.030208
44723  2004-09-23 10:58:50 2004-09-23 10:59:56     11,82      0.024514
44796  2004-09-23 11:01:00 2004-09-23 11:01:13     11,82      0.000741
44855  2004-09-23 11:02:46 2004-09-23 11:03:19     11,82      0.001076
...                    ...                 ...       ...           ...
536592 2004-12-02 12:30:32 2004-12-02 12:30:52     11,82      0.047361
536768 2004-12-02 12:38:09 2004-12-02 12:39:01     11,82      0.005058
567029 2004-12-06 13:03:13 2004-12-06 13:04:42     11,82      4.016806
567196 2004-12-06 13:14:59 2004-12-06 13:15:56     11,82      0.007141
567263 2004-12-06 13:22:25 2004-12-06 13:22:51     11,82      0.004502

[602 rows x 4 columns]
11,83
                     start                 end id_colums  intercontact
44120  2004-09-23 10:23:30 2004-09-23 10:23:49     11,83           NaN
44678  2004-09-23 10:57:06 2004-09-23 10:58:17     11,83      0.023113
44814  2004-09-23 11:01:40 2004-09-23 11:02:05     11,83      0.002350
44846  2004-09-23 11:02:28 2004-09-23 11:03:19     11,83      0.000266
45220  2004-09-23 11:23:07 2004-09-23 11:23:58     11,83      0.013750
46814  2004-09-23 12:58:28 2004-09-23 12:58:29     11,83      0.065625
46865  2004-09-23 13:02:18 2004-09-23 13:02:49     11,83      0.002650
47002  2004-09-23 13:06:24 2004-09-23 13:06:52     11,83      0.002488
47016  2004-09-23 13:06:59 2004-09-23 13:07:32     11,83      0.000081
47093  2004-09-23 13:10:45 2004-09-23 13:11:03     11,83      0.002234
47097  2004-09-23 13:11:04 2004-09-23 13:11:36     11,83      0.000012
47113  2004-09-23 13:11:54 2004-09-23 13:12:28     11,83      0.000208
49792  2004-09-24 05:20:32 2004-09-24 05:20:43     11,83      0.672269
49795  2004-09-24 05:21:04 2004-09-24 05:21:27     11,83      0.000243
50739  2004-09-24 07:08:16 2004-09-24 07:09:20     11,83      0.074178
51008  2004-09-24 07:32:07 2004-09-24 07:32:27     11,83      0.015822
51082  2004-09-24 07:35:03 2004-09-24 07:38:07     11,83      0.001806
51307  2004-09-24 07:47:53 2004-09-24 07:48:07     11,83      0.006782
51418  2004-09-24 07:55:44 2004-09-24 07:56:13     11,83      0.005289
51484  2004-09-24 07:57:39 2004-09-24 07:59:15     11,83      0.000995
51564  2004-09-24 08:01:01 2004-09-24 08:01:37     11,83      0.001227
51626  2004-09-24 08:02:43 2004-09-24 08:04:31     11,83      0.000764
51771  2004-09-24 08:08:14 2004-09-24 08:08:37     11,83      0.002581
52702  2004-09-24 09:38:43 2004-09-24 09:39:18     11,83      0.062569
52715  2004-09-24 09:39:53 2004-09-24 09:40:12     11,83      0.000405
52732  2004-09-24 09:40:56 2004-09-24 09:41:16     11,83      0.000509
52762  2004-09-24 09:42:00 2004-09-24 09:42:02     11,83      0.000509
52780  2004-09-24 09:42:33 2004-09-24 09:42:34     11,83      0.000359
52792  2004-09-24 09:43:05 2004-09-24 09:44:18     11,83      0.000359
70941  2004-09-28 11:15:57 2004-09-28 11:18:01     11,83      4.063646
71795  2004-09-28 12:16:32 2004-09-28 12:16:44     11,83      0.040637
71824  2004-09-28 12:17:18 2004-09-28 12:22:34     11,83      0.000394
72005  2004-09-28 12:30:29 2004-09-28 12:31:47     11,83      0.005498
72073  2004-09-28 12:32:26 2004-09-28 12:32:30     11,83      0.000451
72112  2004-09-28 12:33:39 2004-09-28 12:34:00     11,83      0.000799
255772 2004-10-28 09:16:55 2004-10-28 09:17:30     11,83     29.863137
280358 2004-11-01 13:25:35 2004-11-01 13:25:59     11,83      4.172280
280643 2004-11-01 13:48:15 2004-11-01 13:48:33     11,83      0.015463
304889 2004-11-03 16:03:03 2004-11-03 16:03:05     11,83      2.093403
11,85
                     start                 end id_colums  intercontact
251231 2004-10-27 19:02:50 2004-10-27 19:04:03     11,85           NaN
255770 2004-10-28 09:16:55 2004-10-28 09:17:30     11,85      0.592269
256033 2004-10-28 09:38:19 2004-10-28 09:38:51     11,85      0.014456
256199 2004-10-28 09:51:04 2004-10-28 09:51:24     11,85      0.008484
256494 2004-10-28 10:22:49 2004-10-28 10:28:26     11,85      0.021817
...                    ...                 ...       ...           ...
775139 2005-04-13 09:39:11 2005-04-13 09:39:12     11,85      0.013275
775504 2005-04-13 11:55:01 2005-04-13 11:55:06     11,85      0.094317
775508 2005-04-13 11:56:07 2005-04-13 11:57:50     11,85      0.000706
775648 2005-04-13 13:10:57 2005-04-13 13:13:28     11,85      0.050775
775684 2005-04-13 13:21:19 2005-04-13 13:22:37     11,85      0.005451

[461 rows x 4 columns]
11,86
                     start                 end id_colums  intercontact
10109  2004-09-07 12:00:28 2004-09-07 12:00:34     11,86           NaN
10639  2004-09-07 18:01:14 2004-09-07 18:01:48     11,86      0.250463
10650  2004-09-07 19:30:18 2004-09-07 19:30:39     11,86      0.061458
11352  2004-09-08 12:49:58 2004-09-08 12:52:27     11,86      0.721748
11485  2004-09-08 14:31:19 2004-09-08 14:31:25     11,86      0.068657
...                    ...                 ...       ...           ...
683310 2005-01-21 07:24:56 2005-01-21 07:27:13     11,86      0.026331
683410 2005-01-21 07:37:59 2005-01-21 07:38:00     11,86      0.007477
683679 2005-01-21 08:07:49 2005-01-21 08:08:37     11,86      0.020706
683712 2005-01-21 08:14:27 2005-01-21 08:14:57     11,86      0.004051
683739 2005-01-21 08:22:13 2005-01-21 08:22:59     11,86      0.005046

[288 rows x 4 columns]
11,87
                     start                 end id_colums  intercontact
3103   2004-08-25 11:41:27 2004-08-25 11:42:31     11,87           NaN
238198 2004-10-26 11:11:58 2004-10-26 11:12:02     11,87     61.978785
239869 2004-10-26 13:02:17 2004-10-26 13:02:35     11,87      0.076563
248255 2004-10-27 12:26:13 2004-10-27 12:26:18     11,87      0.974745
249429 2004-10-27 13:18:39 2004-10-27 13:18:40     11,87      0.036354
...                    ...                 ...       ...           ...
775307 2005-04-13 10:35:33 2005-04-13 10:37:47     11,87      0.000324
775445 2005-04-13 11:27:50 2005-04-13 11:29:47     11,87      0.034757
775458 2005-04-13 11:33:38 2005-04-13 11:34:00     11,87      0.002674
775682 2005-04-13 13:21:19 2005-04-13 13:24:41     11,87      0.074525
775698 2005-04-13 13:25:59 2005-04-13 13:26:10     11,87      0.000903

[380 rows x 4 columns]
11,88
                     start                 end id_colums  intercontact
28998  2004-09-17 12:52:14 2004-09-17 12:54:27     11,88           NaN
29013  2004-09-17 12:55:31 2004-09-17 12:55:50     11,88      0.000741
29023  2004-09-17 12:56:39 2004-09-17 12:56:48     11,88      0.000567
29058  2004-09-17 12:59:39 2004-09-17 13:01:04     11,88      0.001979
29088  2004-09-17 13:08:25 2004-09-17 13:10:32     11,88      0.005104
...                    ...                 ...       ...           ...
391386 2004-11-16 09:21:05 2004-11-16 09:22:24     11,88      0.004838
400223 2004-11-17 05:08:18 2004-11-17 05:08:38     11,88      0.823542
406528 2004-11-17 10:54:39 2004-11-17 11:11:04     11,88      0.240289
408891 2004-11-17 12:30:47 2004-11-17 12:41:46     11,88      0.055359
409718 2004-11-17 13:26:48 2004-11-17 13:26:53     11,88      0.031273

[433 rows x 4 columns]
11,89
                    start                 end id_colums  intercontact
3104  2004-08-25 11:41:27 2004-08-25 11:41:49     11,89           NaN
3108  2004-08-25 11:42:31 2004-08-25 11:42:45     11,89      0.000486
3111  2004-08-25 11:48:05 2004-08-25 11:48:16     11,89      0.003704
3126  2004-08-25 12:08:37 2004-08-25 12:08:54     11,89      0.014132
3134  2004-08-25 12:24:39 2004-08-25 12:25:09     11,89      0.010937
...                   ...                 ...       ...           ...
29812 2004-09-18 11:20:27 2004-09-18 11:20:40     11,89      0.001458
29817 2004-09-18 11:28:49 2004-09-18 11:28:51     11,89      0.005660
29834 2004-09-18 11:43:44 2004-09-18 11:43:50     11,89      0.010336
31297 2004-09-20 04:13:52 2004-09-20 04:14:03     11,89      1.687523
31387 2004-09-20 04:41:53 2004-09-20 04:42:09     11,89      0.019329

[68 rows x 4 columns]
12,13
                     start                 end id_colums  intercontact
6283   2004-09-02 08:28:20 2004-09-02 08:28:21     12,13           NaN
6317   2004-09-02 08:48:30 2004-09-02 08:48:43     12,13      0.013993
6324   2004-09-02 08:48:58 2004-09-02 08:50:43     12,13      0.000174
7104   2004-09-02 13:43:27 2004-09-02 13:43:37     12,13      0.203287
7113   2004-09-02 13:44:30 2004-09-02 13:44:45     12,13      0.000613
...                    ...                 ...       ...           ...
667095 2005-01-13 09:45:15 2005-01-13 09:45:31     12,13      0.104572
667100 2005-01-13 09:46:09 2005-01-13 09:46:17     12,13      0.000440
668806 2005-01-14 04:37:45 2005-01-14 04:38:43     12,13      0.785741
669583 2005-01-14 07:51:47 2005-01-14 07:52:04     12,13      0.134074
672878 2005-01-16 08:42:55 2005-01-16 08:43:04     12,13      2.035312

[615 rows x 4 columns]
12,14
                   start                 end id_colums  intercontact
3255 2004-08-25 14:36:18 2004-08-25 14:36:42     12,14           NaN
12,15
                     start                 end id_colums  intercontact
6318   2004-09-02 08:48:30 2004-09-02 08:48:43     12,15           NaN
6334   2004-09-02 08:49:27 2004-09-02 08:49:29     12,15      0.000509
7172   2004-09-02 15:44:49 2004-09-02 15:45:22     12,15      0.288426
7178   2004-09-02 16:05:39 2004-09-02 16:05:56     12,15      0.014086
7183   2004-09-02 16:20:13 2004-09-02 16:20:37     12,15      0.009919
...                    ...                 ...       ...           ...
667592 2005-01-13 11:04:57 2005-01-13 11:10:30     12,15      0.031690
667640 2005-01-13 11:10:32 2005-01-13 11:10:33     12,15      0.000023
669929 2005-01-14 08:32:21 2005-01-14 08:33:02     12,15      0.890139
669940 2005-01-14 08:33:57 2005-01-14 08:34:27     12,15      0.000637
670572 2005-01-14 10:55:42 2005-01-14 10:55:47     12,15      0.098090

[308 rows x 4 columns]
12,16
                     start                 end id_colums  intercontact
7170   2004-09-02 15:22:11 2004-09-02 15:44:49     12,16           NaN
7636   2004-09-03 09:10:02 2004-09-03 09:10:25     12,16      0.725845
18740  2004-09-14 08:08:51 2004-09-14 08:08:59     12,16     10.957245
21871  2004-09-15 08:59:47 2004-09-15 08:59:50     12,16      1.035278
21872  2004-09-15 08:59:50 2004-09-15 08:59:51     12,16      0.000000
...                    ...                 ...       ...           ...
669082 2005-01-14 06:21:11 2005-01-14 06:21:16     12,16      0.021725
669238 2005-01-14 07:20:22 2005-01-14 07:20:27     12,16      0.041042
669809 2005-01-14 08:14:08 2005-01-14 08:14:11     12,16      0.037280
672862 2005-01-16 08:18:28 2005-01-16 08:18:50     12,16      2.002975
672926 2005-01-16 09:33:23 2005-01-16 09:33:45     12,16      0.051771

[196 rows x 4 columns]
12,17
                     start                 end id_colums  intercontact
17503  2004-09-13 14:15:34 2004-09-13 14:15:48     12,17           NaN
18739  2004-09-14 08:08:51 2004-09-14 08:08:59     12,17      0.745174

[147 rows x 4 columns]
12,70
                     start                 end id_colums  intercontact
590946 2004-12-09 10:58:36 2004-12-09 10:58:59     12,70           NaN
659743 2005-01-10 10:09:55 2005-01-10 10:10:05     12,70     31.965926
659757 2005-01-10 10:13:21 2005-01-10 10:13:34     12,70      0.002269
659797 2005-01-10 10:25:43 2005-01-10 10:26:22     12,70      0.008438
659885 2005-01-10 10:50:02 2005-01-10 10:50:19     12,70      0.016435
659970 2005-01-10 11:20:54 2005-01-10 11:25:28     12,70      0.021238
661431 2005-01-11 07:27:01 2005-01-11 07:27:34     12,70      0.834410
661444 2005-01-11 07:32:32 2005-01-11 07:32:49     12,70      0.003449
661474 2005-01-11 07:40:38 2005-01-11 07:40:52     12,70      0.005428
661958 2005-01-11 10:13:43 2005-01-11 10:14:29     12,70      0.106146
661996 2005-01-11 10:17:13 2005-01-11 10:17:25     12,70      0.001898
663326 2005-01-12 05:34:34 2005-01-12 05:34:49     12,70      0.803576
663328 2005-01-12 05:35:32 2005-01-12 05:35:33     12,70      0.000498
663544 2005-01-12 06:40:47 2005-01-12 06:41:10     12,70      0.045301
663561 2005-01-12 06:43:34 2005-01-12 06:43:59     12,70      0.001667
663703 2005-01-12 07:22:32 2005-01-12 07:23:04     12,70      0.026771
663882 2005-01-12 07:56:16 2005-01-12 08:01:14     12,70      0.023056
663917 2005-01-12 08:03:19 2005-01-12 08:03:42     12,70      0.001447
664016 2005-01-12 08:11:39 2005-01-12 08:11:40     12,70      0.005521
664080 2005-01-12 08:19:25 2005-01-12 08:20:06     12,70      0.005382
664094 2005-01-12 08:21:16 2005-01-12 08:21:43     12,70      0.000810
666295 2005-01-13 06:42:34 2005-01-13 06:42:48     12,70      0.931146
666323 2005-01-13 06:55:22 2005-01-13 06:55:23     12,70      0.008727
666392 2005-01-13 07:14:15 2005-01-13 07:14:40     12,70      0.013102
666434 2005-01-13 07:23:56 2005-01-13 07:23:57     12,70      0.006435
666439 2005-01-13 07:24:50 2005-01-13 07:25:50     12,70      0.000613
666449 2005-01-13 07:28:07 2005-01-13 07:33:08     12,70      0.001586
666598 2005-01-13 07:54:15 2005-01-13 07:54:56     12,70      0.014664
666609 2005-01-13 07:56:02 2005-01-13 07:56:16     12,70      0.000764
666612 2005-01-13 07:56:18 2005-01-13 07:56:52     12,70      0.000023
667075 2005-01-13 09:43:05 2005-01-13 09:44:05     12,70      0.073762
667118 2005-01-13 09:50:39 2005-01-13 09:51:41     12,70      0.004560
667195 2005-01-13 09:58:04 2005-01-13 09:58:05     12,70      0.004433
667371 2005-01-13 10:31:11 2005-01-13 10:31:22     12,70      0.022986
667615 2005-01-13 11:07:17 2005-01-13 11:08:56     12,70      0.024942
669178 2005-01-14 07:04:01 2005-01-14 07:10:42     12,70      0.829919
669585 2005-01-14 07:51:47 2005-01-14 07:52:04     12,70      0.028530
669706 2005-01-14 08:03:07 2005-01-14 08:03:15     12,70      0.007674
669772 2005-01-14 08:11:01 2005-01-14 08:13:30     12,70      0.005394
669942 2005-01-14 08:34:22 2005-01-14 08:34:27     12,70      0.014491
669952 2005-01-14 08:35:40 2005-01-14 08:35:41     12,70      0.000845
670164 2005-01-14 09:22:40 2005-01-14 09:24:03     12,70      0.032627
670375 2005-01-14 10:12:27 2005-01-14 10:12:51     12,70      0.033611
670388 2005-01-14 10:17:25 2005-01-14 10:18:48     12,70      0.003171
670582 2005-01-14 10:58:12 2005-01-14 10:58:13     12,70      0.027361
12,71
                     start                 end id_colums  intercontact
110290 2004-10-06 06:56:33 2004-10-06 06:56:39     12,71           NaN
110291 2004-10-06 06:56:39 2004-10-06 06:56:49     12,71      0.000000
110423 2004-10-06 07:06:22 2004-10-06 07:09:07     12,71      0.006632
110521 2004-10-06 07:20:43 2004-10-06 07:20:45     12,71      0.008056
114513 2004-10-06 12:24:19 2004-10-06 12:25:06     12,71      0.210810
...                    ...                 ...       ...           ...
664592 2005-01-12 09:48:35 2005-01-12 09:50:09     12,71      0.014155
666242 2005-01-13 06:23:26 2005-01-13 06:26:34     12,71      0.856447
666255 2005-01-13 06:30:38 2005-01-13 06:30:46     12,71      0.002824
666322 2005-01-13 06:55:22 2005-01-13 06:55:23     12,71      0.017083
668079 2005-01-13 12:19:35 2005-01-13 12:19:50     12,71      0.225139

[402 rows x 4 columns]
12,72
                     start                 end id_colums  intercontact
350960 2004-11-10 07:32:44 2004-11-10 07:33:10     12,72           NaN
351130 2004-11-10 07:47:34 2004-11-10 07:48:03     12,72      0.010000
351271 2004-11-10 07:57:41 2004-11-10 07:57:43     12,72      0.006690
352343 2004-11-10 09:06:52 2004-11-10 09:07:11     12,72      0.048021
352382 2004-11-10 09:10:54 2004-11-10 09:11:05     12,72      0.002581
...                    ...                 ...       ...           ...
667595 2005-01-13 11:04:57 2005-01-13 11:05:30     12,72      0.045822
668045 2005-01-13 12:14:33 2005-01-13 12:14:49     12,72      0.047951
668060 2005-01-13 12:17:14 2005-01-13 12:17:35     12,72      0.001678
668107 2005-01-13 12:27:06 2005-01-13 12:27:46     12,72      0.006609
668115 2005-01-13 12:30:11 2005-01-13 12:30:43     12,72      0.001678

[256 rows x 4 columns]
12,75
                     start                 end id_colums  intercontact
133837 2004-10-10 02:46:01 2004-10-10 02:46:12     12,75           NaN
145748 2004-10-12 16:42:35 2004-10-12 16:42:54     12,75      2.580822
154866 2004-10-13 18:21:49 2004-10-13 18:21:59     12,75      1.068692
154956 2004-10-13 19:12:58 2004-10-13 19:14:05     12,75      0.035405
155091 2004-10-14 00:22:32 2004-10-14 00:22:34     12,75      0.214201
...                    ...                 ...       ...           ...
639053 2004-12-16 12:53:34 2004-12-16 12:57:36     12,75      0.014884
639911 2004-12-16 16:53:03 2004-12-16 16:56:05     12,75      0.163507
639971 2004-12-16 17:08:46 2004-12-16 17:11:33     12,75      0.008808
643494 2004-12-19 19:11:58 2004-12-19 19:15:19     12,75      3.083623
666397 2005-01-13 07:14:15 2005-01-13 07:14:40     12,75     24.499259

[89 rows x 4 columns]
12,76
                     start                 end id_colums  intercontact
177736 2004-10-18 06:44:33 2004-10-18 06:44:38     12,76           NaN
205583 2004-10-21 03:51:37 2004-10-21 03:51:39     12,76      2.879850
225359 2004-10-25 07:53:11 2004-10-25 07:53:22     12,76      4.167731
233846 2004-10-26 06:04:54 2004-10-26 06:04:58     12,76      0.924676
244116 2004-10-27 07:21:43 2004-10-27 07:21:50     12,76      1.053299
...                    ...                 ...       ...           ...
637474 2004-12-16 09:40:55 2004-12-16 09:41:07     12,76      0.874282
638062 2004-12-16 10:48:27 2004-12-16 10:48:45     12,76      0.046759
638464 2004-12-16 11:42:03 2004-12-16 11:42:36     12,76      0.037014
638676 2004-12-16 12:12:58 2004-12-16 12:13:17     12,76      0.021088
638740 2004-12-16 12:17:56 2004-12-16 12:19:18     12,76      0.003229

[158 rows x 4 columns]
12,79
                     start                 end id_colums  intercontact
192976 2004-10-19 11:07:16 2004-10-19 11:07:17     12,79           NaN
193070 2004-10-19 11:09:43 2004-10-19 11:10:07     12,79      0.001690
193242 2004-10-19 11:18:00 2004-10-19 11:18:04     12,79      0.005475
194881 2004-10-19 13:03:27 2004-10-19 13:03:37     12,79      0.073183
220496 2004-10-24 10:03:33 2004-10-24 10:03:56     12,79      4.874954
...                    ...                 ...       ...           ...
669712 2005-01-14 08:03:07 2005-01-14 08:03:41     12,79      0.825208
670373 2005-01-14 10:12:10 2005-01-14 10:12:51     12,79      0.089225
670836 2005-01-14 12:24:03 2005-01-14 12:24:42     12,79      0.091111
670845 2005-01-14 12:26:53 2005-01-14 12:27:03     12,79      0.001516
670858 2005-01-14 12:29:00 2005-01-14 12:30:36     12,79      0.001354

[62 rows x 4 columns]
12,80
                     start                 end id_colums  intercontact
114515 2004-10-06 12:24:19 2004-10-06 12:25:06     12,80           NaN
127125 2004-10-08 03:35:40 2004-10-08 03:36:36     12,80      1.632338
129558 2004-10-08 08:14:18 2004-10-08 08:14:23     12,80      0.192847
129599 2004-10-08 08:18:07 2004-10-08 08:18:11     12,80      0.002593
129636 2004-10-08 08:20:50 2004-10-08 08:21:00     12,80      0.001840
129661 2004-10-08 08:23:23 2004-10-08 08:24:12     12,80      0.001655
129680 2004-10-08 08:28:03 2004-10-08 08:28:08     12,80      0.002674
129687 2004-10-08 08:29:18 2004-10-08 08:29:37     12,80      0.000810
129743 2004-10-08 08:35:03 2004-10-08 08:35:29     12,80      0.003773
130048 2004-10-08 09:25:27 2004-10-08 09:25:28     12,80      0.034699
131110 2004-10-08 11:36:07 2004-10-08 11:37:23     12,80      0.090729
131468 2004-10-08 12:32:47 2004-10-08 12:32:58     12,80      0.038472
12,81
                     start                 end id_colums  intercontact
286328 2004-11-02 08:24:46 2004-11-02 08:24:50     12,81           NaN
286747 2004-11-02 08:43:19 2004-11-02 08:43:43     12,81      0.012836
292778 2004-11-02 12:42:09 2004-11-02 12:42:14     12,81      0.165579
300096 2004-11-03 09:40:19 2004-11-03 09:40:29     12,81      0.873669
301063 2004-11-03 10:29:16 2004-11-03 10:30:26     12,81      0.033877
...                    ...                 ...       ...           ...
669089 2005-01-14 06:22:55 2005-01-14 06:28:07     12,81      0.001528
669784 2005-01-14 08:11:40 2005-01-14 08:13:30     12,81      0.071910
670159 2005-01-14 09:22:40 2005-01-14 09:24:03     12,81      0.048032
670607 2005-01-14 11:06:43 2005-01-14 11:07:02     12,81      0.071296
670830 2005-01-14 12:24:03 2005-01-14 12:24:42     12,81      0.053484

[158 rows x 4 columns]
12,82
                     start                 end id_colums  intercontact
43429  2004-09-23 09:53:18 2004-09-23 09:53:31     12,82           NaN
43451  2004-09-23 09:54:56 2004-09-23 09:55:15     12,82      0.000984
43499  2004-09-23 09:55:31 2004-09-23 09:55:53     12,82      0.000185
43519  2004-09-23 09:55:58 2004-09-23 09:56:28     12,82      0.000058
43612  2004-09-23 09:58:54 2004-09-23 09:59:18     12,82      0.001690
...                    ...                 ...       ...           ...
559960 2004-12-06 06:24:06 2004-12-06 06:24:28     12,82      0.000301
560604 2004-12-06 07:04:48 2004-12-06 07:05:16     12,82      0.028009
560803 2004-12-06 07:14:05 2004-12-06 07:14:49     12,82      0.006123
565010 2004-12-06 11:00:12 2004-12-06 11:00:14     12,82      0.156516
565432 2004-12-06 11:22:27 2004-12-06 11:22:32     12,82      0.015428

[349 rows x 4 columns]
12,83
                     start                 end id_colums  intercontact
43320  2004-09-23 09:48:49 2004-09-23 09:48:56     12,83           NaN
43363  2004-09-23 09:49:47 2004-09-23 09:50:39     12,83      0.000590
43379  2004-09-23 09:50:57 2004-09-23 09:52:02     12,83      0.000208
43498  2004-09-23 09:55:31 2004-09-23 09:55:53     12,83      0.002419
43607  2004-09-23 09:58:54 2004-09-23 09:58:58     12,83      0.002095
43929  2004-09-23 10:13:27 2004-09-23 10:13:45     12,83      0.010058
43943  2004-09-23 10:14:06 2004-09-23 10:14:11     12,83      0.000243
43947  2004-09-23 10:14:23 2004-09-23 10:14:49     12,83      0.000139
44006  2004-09-23 10:18:25 2004-09-23 10:20:29     12,83      0.002500
44127  2004-09-23 10:23:35 2004-09-23 10:23:49     12,83      0.002153
44252  2004-09-23 10:28:22 2004-09-23 10:29:37     12,83      0.003160
44296  2004-09-23 10:30:09 2004-09-23 10:30:12     12,83      0.000370
44306  2004-09-23 10:30:39 2004-09-23 10:31:15     12,83      0.000313
44434  2004-09-23 10:40:43 2004-09-23 10:41:16     12,83      0.006574
44495  2004-09-23 10:43:45 2004-09-23 10:43:50     12,83      0.001725
44544  2004-09-23 10:46:41 2004-09-23 10:47:02     12,83      0.001979
44591  2004-09-23 10:50:31 2004-09-23 10:50:32     12,83      0.002419
44607  2004-09-23 10:52:20 2004-09-23 10:53:52     12,83      0.001250
44657  2004-09-23 10:56:01 2004-09-23 10:56:19     12,83      0.001493
44810  2004-09-23 11:01:40 2004-09-23 11:02:28     12,83      0.003715
49982  2004-09-24 05:53:57 2004-09-24 05:54:41     12,83      0.785752
50586  2004-09-24 06:52:28 2004-09-24 06:52:30     12,83      0.040127
50703  2004-09-24 07:03:18 2004-09-24 07:04:15     12,83      0.007500
50726  2004-09-24 07:06:47 2004-09-24 07:07:57     12,83      0.001759
51123  2004-09-24 07:38:07 2004-09-24 07:38:45     12,83      0.020949
51139  2004-09-24 07:39:37 2004-09-24 07:39:44     12,83      0.000602
51776  2004-09-24 08:08:14 2004-09-24 08:09:48     12,83      0.019792
51970  2004-09-24 08:28:39 2004-09-24 08:28:58     12,83      0.013090
70126  2004-09-28 10:22:05 2004-09-28 10:22:42     12,83      4.078553
70213  2004-09-28 10:28:24 2004-09-28 10:29:45     12,83      0.003958
70253  2004-09-28 10:31:50 2004-09-28 10:32:46     12,83      0.001447
70266  2004-09-28 10:32:48 2004-09-28 10:33:31     12,83      0.000023
70281  2004-09-28 10:34:05 2004-09-28 10:34:10     12,83      0.000394
255795 2004-10-28 09:19:02 2004-10-28 09:19:06     12,83     29.947824
359574 2004-11-12 05:56:16 2004-11-12 05:56:22     12,83     14.859144
359583 2004-11-12 05:58:00 2004-11-12 05:58:30     12,83      0.001134
12,85
                     start                 end id_colums  intercontact
255800 2004-10-28 09:19:02 2004-10-28 09:19:06     12,85           NaN
285494 2004-11-02 07:22:56 2004-11-02 07:23:03     12,85      4.919329
286272 2004-11-02 08:20:51 2004-11-02 08:20:57     12,85      0.040139
286320 2004-11-02 08:23:25 2004-11-02 08:23:39     12,85      0.001713
286371 2004-11-02 08:26:04 2004-11-02 08:26:46     12,85      0.001678
...                    ...                 ...       ...           ...
646756 2004-12-21 11:34:56 2004-12-21 11:40:34     12,85      0.004491
646817 2004-12-21 11:59:44 2004-12-21 12:06:16     12,85      0.013310
646879 2004-12-21 12:21:16 2004-12-21 12:21:23     12,85      0.010417
666630 2005-01-13 07:58:01 2005-01-13 07:58:02     12,85     22.817106
666632 2005-01-13 07:58:02 2005-01-13 07:58:37     12,85      0.000000

[312 rows x 4 columns]
12,86
                     start                 end id_colums  intercontact
18742  2004-09-14 08:08:51 2004-09-14 08:08:59     12,86           NaN
21819  2004-09-15 08:52:36 2004-09-15 08:54:31     12,86      1.030289
21841  2004-09-15 08:57:51 2004-09-15 08:58:08     12,86      0.002315
21869  2004-09-15 08:59:47 2004-09-15 09:00:28     12,86      0.001146
22773  2004-09-15 11:36:04 2004-09-15 11:36:05     12,86      0.108056
...                    ...                 ...       ...           ...
590964 2004-12-09 10:59:20 2004-12-09 10:59:49     12,86      0.000440
591794 2004-12-09 11:54:56 2004-12-09 11:55:24     12,86      0.038275
591912 2004-12-09 11:59:57 2004-12-09 11:59:59     12,86      0.003160
593403 2004-12-09 13:14:38 2004-12-09 13:14:39     12,86      0.051840
593444 2004-12-09 13:16:51 2004-12-09 13:16:53     12,86      0.001528

[126 rows x 4 columns]
12,87
                     start                 end id_colums  intercontact
266800 2004-10-30 09:42:44 2004-10-30 09:46:37     12,87           NaN
266808 2004-10-30 09:49:45 2004-10-30 09:50:26     12,87      0.002176
266853 2004-10-30 10:04:18 2004-10-30 10:06:03     12,87      0.009630
266878 2004-10-30 10:15:37 2004-10-30 10:17:11     12,87      0.006644
266914 2004-10-30 10:35:34 2004-10-30 10:38:21     12,87      0.012766
...                    ...                 ...       ...           ...
668091 2005-01-13 12:25:15 2005-01-13 12:25:26     12,87      0.004757
668106 2005-01-13 12:27:06 2005-01-13 12:27:46     12,87      0.001157
670499 2005-01-14 10:39:02 2005-01-14 10:39:32     12,87      0.924491
670565 2005-01-14 10:51:41 2005-01-14 10:55:51     12,87      0.008438
670834 2005-01-14 12:24:03 2005-01-14 12:24:12     12,87      0.061250

[157 rows x 4 columns]
12,88
                     start                 end id_colums  intercontact
29999  2004-09-18 15:02:31 2004-09-18 15:03:05     12,88           NaN
32718  2004-09-20 09:33:02 2004-09-20 09:33:25     12,88      1.770799
32776  2004-09-20 09:44:27 2004-09-20 09:44:29     12,88      0.007662
32782  2004-09-20 09:45:27 2004-09-20 09:45:29     12,88      0.000671
32913  2004-09-20 10:15:30 2004-09-20 10:15:32     12,88      0.020845
...                    ...                 ...       ...           ...
399721 2004-11-17 04:26:51 2004-11-17 04:27:42     12,88      0.000093
399806 2004-11-17 04:34:44 2004-11-17 04:36:26     12,88      0.004884
400688 2004-11-17 05:43:54 2004-11-17 05:45:11     12,88      0.046852
400783 2004-11-17 05:52:49 2004-11-17 05:53:39     12,88      0.005301
404895 2004-11-17 09:42:38 2004-11-17 09:42:56     12,88      0.159016

[153 rows x 4 columns]
12,89
                    start                 end id_colums  intercontact
7197  2004-09-02 17:24:22 2004-09-02 17:24:38     12,89           NaN
7225  2004-09-02 17:56:22 2004-09-02 17:57:14     12,89      0.022037
22625 2004-09-15 11:16:22 2004-09-15 11:16:32     12,89     12.721620
25261 2004-09-16 11:10:49 2004-09-16 11:55:09     12,89      0.996030
25712 2004-09-16 12:26:23 2004-09-16 12:26:42     12,89      0.021690
28812 2004-09-17 12:30:31 2004-09-17 12:30:37     12,89      1.002650
28866 2004-09-17 12:35:06 2004-09-17 12:35:51     12,89      0.003113
29941 2004-09-18 13:06:21 2004-09-18 13:06:39     12,89      1.021181
30060 2004-09-18 17:45:01 2004-09-18 17:45:49     12,89      0.193310
13,15
                     start                 end id_colums  intercontact
3675   2004-08-26 11:06:33 2004-08-26 11:06:53     13,15           NaN
3677   2004-08-26 11:08:04 2004-08-26 11:08:59     13,15      0.000822
3682   2004-08-26 11:09:48 2004-08-26 11:10:05     13,15      0.000567
3685   2004-08-26 11:10:08 2004-08-26 11:10:25     13,15      0.000035
3722   2004-08-26 11:23:55 2004-08-26 11:24:23     13,15      0.009375
...                    ...                 ...       ...           ...
768146 2005-03-31 10:46:39 2005-03-31 10:46:45     13,15      0.014271
768153 2005-03-31 10:47:42 2005-03-31 10:47:54     13,15      0.000660
768157 2005-03-31 10:48:52 2005-03-31 10:50:15     13,15      0.000671
768413 2005-03-31 14:50:38 2005-03-31 14:51:13     13,15      0.166933
768448 2005-03-31 17:11:31 2005-03-31 17:12:04     13,15      0.097431

[1274 rows x 4 columns]
13,16
                     start                 end id_colums  intercontact
6380   2004-09-02 09:37:06 2004-09-02 09:37:07     13,16           NaN
6394   2004-09-02 09:46:21 2004-09-02 09:46:22     13,16      0.006412
6402   2004-09-02 09:48:05 2004-09-02 09:48:16     13,16      0.001192
6403   2004-09-02 09:48:16 2004-09-02 09:52:25     13,16      0.000000
6896   2004-09-02 12:53:59 2004-09-02 12:54:00     13,16      0.126088
...                    ...                 ...       ...           ...
767112 2005-03-30 12:41:31 2005-03-30 12:41:32     13,16      0.012269
767263 2005-03-30 14:23:52 2005-03-30 14:23:57     13,16      0.071065
768109 2005-03-31 10:29:03 2005-03-31 10:29:05     13,16      0.836875
768111 2005-03-31 10:29:05 2005-03-31 10:30:45     13,16      0.000000
768198 2005-03-31 11:08:34 2005-03-31 11:11:16     13,16      0.026262

[666 rows x 4 columns]
13,17
                     start                 end id_colums  intercontact
3068   2004-08-25 09:58:35 2004-08-25 09:58:39     13,17           NaN
3079   2004-08-25 10:29:38 2004-08-25 10:29:52     13,17      0.021516
3080   2004-08-25 10:31:00 2004-08-25 10:31:18     13,17      0.000787
3081   2004-08-25 10:32:05 2004-08-25 10:32:44     13,17      0.000544
3086   2004-08-25 10:36:11 2004-08-25 10:36:17     13,17      0.002396
...                    ...                 ...       ...           ...
768100 2005-03-31 10:26:06 2005-03-31 10:26:29     13,17      0.000012
768103 2005-03-31 10:27:21 2005-03-31 10:28:22     13,17      0.000602
768108 2005-03-31 10:28:50 2005-03-31 10:29:00     13,17      0.000324
768122 2005-03-31 10:33:51 2005-03-31 10:33:52     13,17      0.003368
768412 2005-03-31 14:50:38 2005-03-31 14:51:13     13,17      0.178310

[2132 rows x 4 columns]
13,18
                     start                 end id_colums  intercontact

[1962 rows x 4 columns]
13,72
                     start                 end id_colums  intercontact
293878 2004-11-02 13:57:38 2004-11-02 13:58:21     13,72           NaN
293915 2004-11-02 13:59:26 2004-11-02 13:59:29     13,72      0.000752
350372 2004-11-10 06:51:16 2004-11-10 06:51:39     13,72      7.702627
350405 2004-11-10 06:53:10 2004-11-10 06:54:26     13,72      0.001053
350730 2004-11-10 07:20:17 2004-11-10 07:20:45     13,72      0.017951
...                    ...                 ...       ...           ...
666809 2005-01-13 08:34:10 2005-01-13 08:34:12     13,72      0.002870
666813 2005-01-13 08:35:22 2005-01-13 08:35:38     13,72      0.000810
666819 2005-01-13 08:37:21 2005-01-13 08:38:45     13,72      0.001192
671795 2005-01-14 18:13:46 2005-01-14 18:14:05     13,72      1.399317
672412 2005-01-15 10:58:27 2005-01-15 10:59:10     13,72      0.697477

[466 rows x 4 columns]
13,75
                     start                 end id_colums  intercontact
287981 2004-11-02 09:28:23 2004-11-02 09:28:27     13,75           NaN
287984 2004-11-02 09:28:27 2004-11-02 09:32:37     13,75      0.000000
288168 2004-11-02 09:35:56 2004-11-02 09:37:09     13,75      0.002303
288387 2004-11-02 09:45:29 2004-11-02 09:45:48     13,75      0.005787
288426 2004-11-02 09:47:02 2004-11-02 09:47:18     13,75      0.000856
...                    ...                 ...       ...           ...
672276 2005-01-15 09:23:01 2005-01-15 09:23:12     13,75      0.001019
672283 2005-01-15 09:27:41 2005-01-15 09:28:02     13,75      0.003113
672289 2005-01-15 09:28:45 2005-01-15 09:29:09     13,75      0.000498
680637 2005-01-20 04:13:12 2005-01-20 04:14:57     13,75      4.780590
685256 2005-01-22 19:30:22 2005-01-22 19:32:05     13,75      2.635706

[83 rows x 4 columns]
13,76
                     start                 end id_colums  intercontact
290960 2004-11-02 11:18:10 2004-11-02 11:19:46     13,76           NaN
293464 2004-11-02 13:27:57 2004-11-02 13:29:07     13,76      0.089016
293542 2004-11-02 13:32:34 2004-11-02 13:32:58     13,76      0.002396
293582 2004-11-02 13:36:25 2004-11-02 13:36:26     13,76      0.002396
293598 2004-11-02 13:37:59 2004-11-02 13:44:45     13,76      0.001076
...                    ...                 ...       ...           ...
641480 2004-12-17 10:31:15 2004-12-17 10:33:16     13,76      0.000359
641496 2004-12-17 10:34:24 2004-12-17 10:35:07     13,76      0.000787
642037 2004-12-17 12:32:29 2004-12-17 12:32:41     13,76      0.081505
642262 2004-12-17 14:23:49 2004-12-17 14:24:33     13,76      0.077176
642439 2004-12-17 16:08:01 2004-12-17 16:08:04     13,76      0.071852

[431 rows x 4 columns]
13,78
                    start                 end id_colums  intercontact
42080 2004-09-23 07:08:14 2004-09-23 07:08:31     13,78           NaN
13,79
                     start                 end id_colums  intercontact
152116 2004-10-13 10:37:57 2004-10-13 10:38:23     13,79           NaN
394104 2004-11-16 11:16:54 2004-11-16 11:16:59     13,79     34.026748
403543 2004-11-17 08:53:51 2004-11-17 08:55:16     13,79      0.900602
403780 2004-11-17 09:06:11 2004-11-17 09:07:26     13,79      0.007581
403856 2004-11-17 09:08:13 2004-11-17 09:08:33     13,79      0.000544
...                    ...                 ...       ...           ...
764399 2005-03-29 10:49:55 2005-03-29 10:50:02     13,79      0.001042
764781 2005-03-29 12:00:48 2005-03-29 12:03:24     13,79      0.049144
765056 2005-03-29 13:09:10 2005-03-29 13:09:34     13,79      0.045671
765059 2005-03-29 13:10:03 2005-03-29 13:10:33     13,79      0.000336
765110 2005-03-29 13:22:00 2005-03-29 13:22:21     13,79      0.007951

[610 rows x 4 columns]
13,80
                     start                 end id_colums  intercontact
111056 2004-10-06 08:21:39 2004-10-06 08:22:06     13,80           NaN
287692 2004-11-02 09:17:03 2004-11-02 09:17:09     13,80      27.03816
287765 2004-11-02 09:19:54 2004-11-02 09:20:10     13,80       0.00191
13,81
                     start                 end id_colums  intercontact
281557 2004-11-01 15:53:49 2004-11-01 15:54:16     13,81           NaN
286754 2004-11-02 08:44:04 2004-11-02 08:44:35     13,81      0.701250
287088 2004-11-02 08:59:48 2004-11-02 09:00:25     13,81      0.010567
287176 2004-11-02 09:03:19 2004-11-02 09:03:37     13,81      0.002014
287428 2004-11-02 09:09:42 2004-11-02 09:10:06     13,81      0.004225
...                    ...                 ...       ...           ...
692987 2005-01-27 07:17:40 2005-01-27 07:18:34     13,81      0.000243
693018 2005-01-27 07:24:08 2005-01-27 07:24:58     13,81      0.003866
693045 2005-01-27 07:26:00 2005-01-27 07:26:01     13,81      0.000718
693086 2005-01-27 07:30:08 2005-01-27 07:30:36     13,81      0.002859
693253 2005-01-27 07:50:56 2005-01-27 07:50:57     13,81      0.014120

[528 rows x 4 columns]
13,82
                     start                 end id_colums  intercontact
283764 2004-11-02 05:35:11 2004-11-02 05:36:06     13,82           NaN
283896 2004-11-02 05:48:03 2004-11-02 05:48:14     13,82      0.008299
290623 2004-11-02 11:05:19 2004-11-02 11:05:40     13,82      0.220197
290966 2004-11-02 11:18:23 2004-11-02 11:22:36     13,82      0.008831
292314 2004-11-02 12:24:35 2004-11-02 12:25:03     13,82      0.043044
...                    ...                 ...       ...           ...
568334 2004-12-06 15:48:38 2004-12-06 15:52:20     13,82      0.003935
568494 2004-12-06 16:24:09 2004-12-06 16:24:34     13,82      0.022095
568731 2004-12-06 18:01:21 2004-12-06 18:01:40     13,82      0.067211
568793 2004-12-06 18:33:57 2004-12-06 18:34:39     13,82      0.022419
569043 2004-12-06 23:53:57 2004-12-06 23:53:59     13,82      0.221736

[805 rows x 4 columns]
13,83
                     start                 end id_colums  intercontact
283763 2004-11-02 05:35:09 2004-11-02 05:37:15     13,83           NaN
304819 2004-11-03 15:55:04 2004-11-03 15:55:23     13,83      1.429039
306090 2004-11-04 04:47:11 2004-11-04 04:47:42     13,83      0.535972
359571 2004-11-12 05:55:31 2004-11-12 05:56:16     13,83      8.047095
359690 2004-11-12 06:23:11 2004-11-12 06:23:35     13,83      0.018692
13,85
                     start                 end id_colums  intercontact
219158 2004-10-23 13:43:30 2004-10-23 13:43:34     13,85           NaN
285592 2004-11-02 07:31:39 2004-11-02 07:31:40     13,85      9.741725
285611 2004-11-02 07:32:37 2004-11-02 07:32:48     13,85      0.000660
285635 2004-11-02 07:35:08 2004-11-02 07:35:19     13,85      0.001620
285673 2004-11-02 07:39:31 2004-11-02 07:39:55     13,85      0.002917
...                    ...                 ...       ...           ...
766981 2005-03-30 12:05:00 2005-03-30 12:06:51     13,85      0.046562
767117 2005-03-30 12:51:28 2005-03-30 12:53:46     13,85      0.030984
767138 2005-03-30 13:01:35 2005-03-30 13:06:38     13,85      0.005428
767205 2005-03-30 13:26:02 2005-03-30 13:26:18     13,85      0.013472
767222 2005-03-30 13:50:58 2005-03-30 13:52:09     13,85      0.017130

[1098 rows x 4 columns]
13,86
                     start                 end id_colums  intercontact
9680   2004-09-07 10:33:10 2004-09-07 10:33:24     13,86           NaN
9710   2004-09-07 10:34:04 2004-09-07 10:34:21     13,86      0.000463
9713   2004-09-07 10:34:21 2004-09-07 10:34:38     13,86      0.000000
9720   2004-09-07 10:37:32 2004-09-07 10:38:54     13,86      0.002014
9747   2004-09-07 10:45:18 2004-09-07 10:46:16     13,86      0.004444
...                    ...                 ...       ...           ...
680547 2005-01-19 18:55:10 2005-01-19 18:56:06     13,86      0.461285
683168 2005-01-21 06:43:48 2005-01-21 06:44:05     13,86      1.491458
683172 2005-01-21 06:44:29 2005-01-21 06:47:34     13,86      0.000278
683317 2005-01-21 07:25:47 2005-01-21 07:26:48     13,86      0.026539
683411 2005-01-21 07:37:59 2005-01-21 07:38:00     13,86      0.007766

[416 rows x 4 columns]
13,87
                     start                 end id_colums  intercontact
238205 2004-10-26 11:11:58 2004-10-26 11:12:02     13,87           NaN
359378 2004-11-12 04:47:47 2004-11-12 04:49:14     13,87     16.733160
359388 2004-11-12 04:53:51 2004-11-12 04:53:55     13,87      0.003206
359390 2004-11-12 04:54:05 2004-11-12 04:56:44     13,87      0.000116
359430 2004-11-12 05:04:45 2004-11-12 05:04:47     13,87      0.005567
...                    ...                 ...       ...           ...
764400 2005-03-29 10:49:55 2005-03-29 10:50:02     13,87      0.001042
764783 2005-03-29 12:00:48 2005-03-29 12:03:24     13,87      0.049144
765055 2005-03-29 13:09:10 2005-03-29 13:09:34     13,87      0.045671
765058 2005-03-29 13:10:03 2005-03-29 13:10:33     13,87      0.000336
765109 2005-03-29 13:22:00 2005-03-29 13:22:21     13,87      0.007951

[912 rows x 4 columns]
13,88
                     start                 end id_colums  intercontact
31734  2004-09-20 06:03:25 2004-09-20 06:03:27     13,88           NaN
31903  2004-09-20 06:57:05 2004-09-20 06:57:07     13,88      0.037245
31909  2004-09-20 06:57:37 2004-09-20 07:00:00     13,88      0.000347
31966  2004-09-20 07:04:37 2004-09-20 07:05:46     13,88      0.003206
31994  2004-09-20 07:09:20 2004-09-20 07:09:32     13,88      0.002477
...                    ...                 ...       ...           ...
404806 2004-11-17 09:40:47 2004-11-17 09:46:37     13,88      0.000590
406527 2004-11-17 10:54:39 2004-11-17 10:54:56     13,88      0.047245
408674 2004-11-17 12:18:47 2004-11-17 12:21:06     13,88      0.058229
408892 2004-11-17 12:30:47 2004-11-17 12:31:07     13,88      0.006725
409713 2004-11-17 13:26:48 2004-11-17 13:26:53     13,88      0.038669

[101 rows x 4 columns]
13,89
                    start                 end id_colums  intercontact
3077  2004-08-25 10:27:20 2004-08-25 10:27:31     13,89           NaN
3078  2004-08-25 10:27:31 2004-08-25 10:28:03     13,89      0.000000
3082  2004-08-25 10:32:58 2004-08-25 10:33:04     13,89      0.003414
3088  2004-08-25 10:40:23 2004-08-25 10:40:45     13,89      0.005081
3100  2004-08-25 11:22:37 2004-08-25 11:22:59     13,89      0.029074
...                   ...                 ...       ...           ...
29804 2004-09-18 11:12:50 2004-09-18 11:14:34     13,89      0.000220
29815 2004-09-18 11:21:26 2004-09-18 11:25:11     13,89      0.004769
29838 2004-09-18 11:47:59 2004-09-18 11:49:50     13,89      0.015833
29854 2004-09-18 11:54:34 2004-09-18 11:54:51     13,89      0.003287
29863 2004-09-18 12:04:46 2004-09-18 12:06:01     13,89      0.006887

[139 rows x 4 columns]
14,15
                     start                 end id_colums  intercontact
5840   2004-09-01 12:12:45 2004-09-01 12:12:46     14,15           NaN
695806 2005-01-28 07:14:17 2005-01-28 07:14:18     14,15    148.792720
695931 2005-01-28 07:57:26 2005-01-28 07:58:41     14,15      0.029954
695946 2005-01-28 08:01:03 2005-01-28 08:01:11     14,15      0.001644
696201 2005-01-28 09:25:12 2005-01-28 09:25:16     14,15      0.058345
696258 2005-01-28 09:50:41 2005-01-28 09:50:46     14,15      0.017650
696269 2005-01-28 09:57:23 2005-01-28 09:57:37     14,15      0.004595
696388 2005-01-28 11:09:07 2005-01-28 11:09:26     14,15      0.049653
696389 2005-01-28 11:09:26 2005-01-28 11:09:52     14,15      0.000000
696399 2005-01-28 11:13:39 2005-01-28 11:13:40     14,15      0.002627
697124 2005-01-29 22:23:48 2005-01-30 04:40:02     14,15      1.465370
697141 2005-01-30 05:22:03 2005-01-30 05:22:35     14,15      0.029178
14,16
                     start                 end id_colums  intercontact
3258   2004-08-25 14:36:18 2004-08-25 14:36:42     14,16           NaN
22105  2004-09-15 09:30:52 2004-09-15 09:31:02     14,16     20.787616
77269  2004-09-29 10:47:35 2004-09-29 10:47:43     14,16     14.053160
476947 2004-11-25 13:44:53 2004-11-25 13:46:09     14,16     57.123032
644771 2004-12-20 10:35:54 2004-12-20 10:36:00     14,16     24.867882
732001 2005-03-03 04:48:29 2005-03-03 04:48:31     14,16     72.758669
732003 2005-03-03 04:49:56 2005-03-03 04:50:08     14,16      0.000984
751645 2005-03-17 11:09:30 2005-03-17 11:09:46     14,16     14.263449
768709 2005-04-01 09:29:10 2005-04-01 09:29:31     14,16     14.930139
768710 2005-04-01 09:29:31 2005-04-01 09:30:42     14,16      0.000000
768719 2005-04-01 09:36:47 2005-04-01 09:37:16     14,16      0.004225
776088 2005-04-14 09:43:47 2005-04-14 09:43:48     14,16     13.004525
776096 2005-04-14 09:56:11 2005-04-14 09:56:17     14,16      0.008600
776172 2005-04-14 10:55:37 2005-04-14 10:56:33     14,16      0.041204
14,18
                   start                 end id_colums  intercontact
5815 2004-09-01 11:39:02 2004-09-01 11:39:03     14,18           NaN
5899 2004-09-01 12:52:48 2004-09-01 12:54:38     14,18      0.051215
14,19
                   start                 end id_colums  intercontact
5690 2004-09-01 08:03:47 2004-09-01 08:04:08     14,19           NaN
14,20
                   start                 end id_colums  intercontact
5902 2004-09-01 12:54:01 2004-09-01 12:54:18     14,20           NaN
14,25
                     start                 end id_colums  intercontact
10224  2004-09-07 12:17:23 2004-09-07 12:17:36     14,25           NaN
11712  2004-09-09 06:54:43 2004-09-09 06:56:09     14,25      1.775775
17173  2004-09-13 11:55:56 2004-09-13 11:56:10     14,25      4.208183
17184  2004-09-13 11:58:27 2004-09-13 11:59:00     14,25      0.001586
17189  2004-09-13 11:59:15 2004-09-13 11:59:32     14,25      0.000174
17190  2004-09-13 11:59:32 2004-09-13 11:59:47     14,25      0.000000
17192  2004-09-13 12:00:24 2004-09-13 12:00:32     14,25      0.000428
18633  2004-09-14 07:54:32 2004-09-14 07:54:43     14,25      0.829167
21062  2004-09-15 06:03:10 2004-09-15 06:04:15     14,25      0.922535
21279  2004-09-15 07:04:06 2004-09-15 07:05:02     14,25      0.041563
21429  2004-09-15 07:33:03 2004-09-15 07:33:09     14,25      0.019456
21633  2004-09-15 08:05:26 2004-09-15 08:05:29     14,25      0.022419
21634  2004-09-15 08:06:20 2004-09-15 08:07:22     14,25      0.000590
21694  2004-09-15 08:34:27 2004-09-15 08:34:35     14,25      0.018808
21705  2004-09-15 08:36:21 2004-09-15 08:36:35     14,25      0.001227
21726  2004-09-15 08:42:15 2004-09-15 08:42:30     14,25      0.003935
21758  2004-09-15 08:47:36 2004-09-15 08:48:06     14,25      0.003542
21767  2004-09-15 08:48:06 2004-09-15 08:48:22     14,25      0.000000
22067  2004-09-15 09:27:34 2004-09-15 09:27:37     14,25      0.027222
22074  2004-09-15 09:27:37 2004-09-15 09:27:55     14,25      0.000000
22130  2004-09-15 09:32:38 2004-09-15 09:34:00     14,25      0.003275
22237  2004-09-15 09:50:00 2004-09-15 09:51:09     14,25      0.011111
22250  2004-09-15 09:52:19 2004-09-15 09:52:41     14,25      0.000810
22268  2004-09-15 09:57:37 2004-09-15 09:57:55     14,25      0.003426
46470  2004-09-23 12:37:23 2004-09-23 12:37:52     14,25      8.110741
51402  2004-09-24 07:54:28 2004-09-24 07:55:06     14,25      0.803194
59575  2004-09-27 08:02:54 2004-09-27 08:03:17     14,25      3.005417
76855  2004-09-29 09:53:53 2004-09-29 09:53:56     14,25      2.076806
128522 2004-10-08 06:58:44 2004-10-08 06:58:53     14,25      8.878333
150882 2004-10-13 09:01:15 2004-10-13 09:02:12     14,25      5.084977
151110 2004-10-13 09:19:59 2004-10-13 09:20:00     14,25      0.012350
156340 2004-10-14 07:03:41 2004-10-14 07:03:42     14,25      0.905336
156343 2004-10-14 07:03:49 2004-10-14 07:05:38     14,25      0.000081
166658 2004-10-15 07:02:23 2004-10-15 07:02:24     14,25      0.997743
166666 2004-10-15 07:02:33 2004-10-15 07:02:45     14,25      0.000104
168787 2004-10-15 10:02:45 2004-10-15 10:03:30     14,25      0.125000
184075 2004-10-18 14:30:00 2004-10-18 14:30:01     14,25      3.185069
206468 2004-10-21 06:43:17 2004-10-21 06:44:52     14,25      2.675880
261356 2004-10-29 05:26:46 2004-10-29 05:27:09     14,25      7.945764
261403 2004-10-29 05:33:49 2004-10-29 05:34:05     14,25      0.004630
261410 2004-10-29 05:35:18 2004-10-29 05:35:19     14,25      0.000845
261437 2004-10-29 05:44:19 2004-10-29 05:46:16     14,25      0.006250
261457 2004-10-29 05:47:54 2004-10-29 05:47:55     14,25      0.001134
261503 2004-10-29 05:55:40 2004-10-29 05:55:49     14,25      0.005382
261506 2004-10-29 05:55:49 2004-10-29 05:57:52     14,25      0.000000
444264 2004-11-22 07:52:44 2004-11-22 07:52:45     14,25     24.079769
460216 2004-11-23 09:08:52 2004-11-23 09:09:14     14,25      1.052859
549792 2004-12-03 14:15:09 2004-12-03 14:15:42     14,25     10.212442
719449 2005-02-22 04:22:49 2005-02-22 04:22:53     14,25     80.588275
14,26
                     start                 end id_colums  intercontact
10767  2004-09-08 07:32:10 2004-09-08 07:35:28     14,26           NaN
10780  2004-09-08 07:37:48 2004-09-08 07:38:09     14,26      0.001620
10789  2004-09-08 07:39:38 2004-09-08 07:40:05     14,26      0.001030
10796  2004-09-08 07:41:50 2004-09-08 07:41:52     14,26      0.001215
10798  2004-09-08 07:44:03 2004-09-08 07:47:08     14,26      0.001516
...                    ...                 ...       ...           ...
479305 2004-11-27 16:45:13 2004-11-27 16:45:14     14,26      0.004456
479348 2004-11-27 18:08:47 2004-11-27 18:08:50     14,26      0.058021
480083 2004-11-28 16:37:39 2004-11-28 16:38:09     14,26      0.936678
485826 2004-11-29 09:35:46 2004-11-29 09:35:48     14,26      0.706678
485952 2004-11-29 09:45:36 2004-11-29 09:45:54     14,26      0.006806

[568 rows x 4 columns]
14,28
                     start                 end id_colums  intercontact
697125 2005-01-29 22:23:48 2005-01-29 22:26:25     14,28           NaN
697147 2005-01-30 05:47:26 2005-01-30 05:51:09     14,28      0.306262
768455 2005-03-31 19:18:59 2005-03-31 19:20:54     14,28     60.560995
14,31
                     start                 end id_colums  intercontact
11266  2004-09-08 11:56:13 2004-09-08 11:56:15     14,31           NaN
11289  2004-09-08 12:02:39 2004-09-08 12:05:41     14,31      0.004444
11298  2004-09-08 12:12:28 2004-09-08 12:12:33     14,31      0.004711
11300  2004-09-08 12:17:50 2004-09-08 12:18:19     14,31      0.003669
11504  2004-09-08 15:49:07 2004-09-08 15:57:54     14,31      0.146389
...                    ...                 ...       ...           ...
692067 2005-01-26 19:19:56 2005-01-26 19:22:24     14,31      0.003241
692082 2005-01-26 19:48:59 2005-01-26 19:50:28     14,31      0.018461
692086 2005-01-26 20:05:19 2005-01-26 20:05:35     14,31      0.010313
692087 2005-01-26 20:08:05 2005-01-26 20:08:24     14,31      0.001736
692090 2005-01-26 20:15:41 2005-01-26 20:17:19     14,31      0.005058

[945 rows x 4 columns]
14,33
                     start                 end id_colums  intercontact
52859  2004-09-24 09:46:05 2004-09-24 09:46:13     14,33           NaN
53605  2004-09-24 10:45:31 2004-09-24 10:46:06     14,33      0.041181
53632  2004-09-24 10:49:29 2004-09-24 10:49:57     14,33      0.002350
53780  2004-09-24 11:07:56 2004-09-24 11:08:01     14,33      0.012488
53800  2004-09-24 11:09:31 2004-09-24 11:10:00     14,33      0.001042
...                    ...                 ...       ...           ...
563589 2004-12-06 09:50:26 2004-12-06 09:50:52     14,33      0.001933
563651 2004-12-06 09:54:27 2004-12-06 09:55:49     14,33      0.002488
563902 2004-12-06 10:08:03 2004-12-06 10:08:56     14,33      0.008495
567188 2004-12-06 13:14:46 2004-12-06 13:14:55     14,33      0.129051
567202 2004-12-06 13:15:48 2004-12-06 13:16:05     14,33      0.000613

[523 rows x 4 columns]
14,36
                     start                 end id_colums  intercontact
128202 2004-10-08 06:23:44 2004-10-08 06:24:30     14,36           NaN
128216 2004-10-08 06:24:45 2004-10-08 06:24:48     14,36      0.000174
128218 2004-10-08 06:25:03 2004-10-08 06:25:22     14,36      0.000174
128245 2004-10-08 06:26:30 2004-10-08 06:26:48     14,36      0.000787

[444 rows x 4 columns]
15,28
                     start                 end id_colums  intercontact
12620  2004-09-09 12:30:45 2004-09-09 12:30:58     15,28           NaN
14457  2004-09-10 11:16:23 2004-09-10 11:16:25     15,28      0.948206
15346  2004-09-10 14:35:04 2004-09-10 14:35:06     15,28      0.137951
15347  2004-09-10 14:35:06 2004-09-10 14:35:07     15,28      0.000000
15349  2004-09-10 14:37:37 2004-09-10 14:37:55     15,28      0.001736
...                    ...                 ...       ...           ...
783297 2005-04-29 08:14:07 2005-04-29 08:15:13     15,28      0.000081
783328 2005-04-29 08:24:07 2005-04-29 08:24:42     15,28      0.006181
783340 2005-04-29 08:42:48 2005-04-29 08:43:28     15,28      0.012569
783403 2005-04-29 09:30:41 2005-04-29 09:30:50     15,28      0.032789
783468 2005-04-29 10:28:43 2005-04-29 10:28:44     15,28      0.040197

[469 rows x 4 columns]
15,29
                     start                 end id_colums  intercontact
15101  2004-09-10 13:03:39 2004-09-10 13:03:54     15,29           NaN
15105  2004-09-10 13:04:14 2004-09-10 13:04:39     15,29      0.000231
15181  2004-09-10 13:32:14 2004-09-10 13:32:33     15,29      0.019155
15183  2004-09-10 13:32:39 2004-09-10 13:32:49     15,29      0.000069
15284  2004-09-10 14:11:55 2004-09-10 14:12:02     15,29      0.027153
...                    ...                 ...       ...           ...
734972 2005-03-04 07:20:55 2005-03-04 07:21:02     15,29      0.589664
735542 2005-03-04 10:22:07 2005-03-04 10:22:15     15,29      0.125752
735724 2005-03-04 11:18:27 2005-03-04 11:18:42     15,29      0.039028
735966 2005-03-04 14:39:30 2005-03-04 14:39:35     15,29      0.139444
736017 2005-03-04 16:49:24 2005-03-04 16:49:25     15,29      0.090150

[852 rows x 4 columns]
15,30
                     start                 end id_colums  intercontact
12415  2004-09-09 11:21:11 2004-09-09 11:21:36     15,30           NaN
12436  2004-09-09 11:30:37 2004-09-09 11:31:03     15,30      0.006262
13510  2004-09-10 07:12:26 2004-09-10 07:12:50     15,30      0.820405
15228  2004-09-10 13:50:42 2004-09-10 13:50:43     15,30      0.276296
15256  2004-09-10 13:59:48 2004-09-10 14:00:46     15,30      0.006308
...                    ...                 ...       ...           ...
288655 2004-11-02 09:52:01 2004-11-02 09:52:03     15,30      0.000949
288707 2004-11-02 09:52:48 2004-11-02 09:54:03     15,30      0.000521
288767 2004-11-02 09:54:30 2004-11-02 09:55:17     15,30      0.000313
288924 2004-11-02 10:02:14 2004-11-02 10:02:57     15,30      0.004826
298222 2004-11-03 07:56:00 2004-11-03 07:56:16     15,30      0.911840

[152 rows x 4 columns]
15,32
                     start                 end id_colums  intercontact
25721  2004-09-16 12:26:37 2004-09-16 12:26:39     15,32           NaN
26892  2004-09-17 05:24:28 2004-09-17 05:24:31     15,32      0.706817
27068  2004-09-17 06:17:52 2004-09-17 06:17:59     15,32      0.037049
27443  2004-09-17 07:48:33 2004-09-17 07:48:50     15,32      0.062894
27463  2004-09-17 07:49:32 2004-09-17 07:49:49     15,32      0.000486
...                    ...                 ...       ...           ...
782854 2005-04-28 14:16:56 2005-04-28 14:16:57     15,32      0.096273
782910 2005-04-28 15:05:11 2005-04-28 15:05:13     15,32      0.033495
782957 2005-04-28 16:05:48 2005-04-28 16:06:46     15,32      0.042072
783296 2005-04-29 08:14:00 2005-04-29 08:15:13     15,32      0.671690
783469 2005-04-29 10:28:43 2005-04-29 10:28:44     15,32      0.092708

[337 rows x 4 columns]
15,35
                     start                 end id_colums  intercontact
283399 2004-11-02 05:09:06 2004-11-02 05:09:08     15,35           NaN
284010 2004-11-02 05:57:17 2004-11-02 05:58:36     15,35      0.033438
285328 2004-11-02 07:11:45 2004-11-02 07:12:06     15,35      0.050799
285338 2004-11-02 07:12:08 2004-11-02 07:15:56     15,35      0.000023
287225 2004-11-02 09:03:53 2004-11-02 09:04:31     15,35      0.074965
...                    ...                 ...       ...           ...
565455 2004-12-06 11:23:32 2004-12-06 11:23:34     15,35      0.001470
565615 2004-12-06 11:32:45 2004-12-06 11:32:57     15,35      0.006377
567659 2004-12-06 13:55:33 2004-12-06 13:55:35     15,35      0.099028
568098 2004-12-06 14:59:12 2004-12-06 14:59:14     15,35      0.044178
568287 2004-12-06 15:31:44 2004-12-06 15:32:01     15,35      0.022569

[228 rows x 4 columns]
15,40
                     start                 end id_colums  intercontact
41488  2004-09-23 05:07:22 2004-09-23 05:07:29     15,40           NaN
41497  2004-09-23 05:10:21 2004-09-23 05:10:38     15,40      0.001991
41523  2004-09-23 05:14:17 2004-09-23 05:14:33     15,40      0.002535
41540  2004-09-23 05:21:10 2004-09-23 05:21:19     15,40      0.004595
41552  2004-09-23 05:23:10 2004-09-23 05:23:39     15,40      0.001285
...                    ...                 ...       ...           ...
782255 2005-04-28 07:01:23 2005-04-28 07:01:36     15,40      0.013229
782358 2005-04-28 08:59:02 2005-04-28 08:59:10     15,40      0.081551
782361 2005-04-28 08:59:34 2005-04-28 08:59:50     15,40      0.000278
782598 2005-04-28 11:58:14 2005-04-28 11:58:18     15,40      0.123889
783472 2005-04-29 10:28:43 2005-04-29 10:28:44     15,40      0.937789

[641 rows x 4 columns]
15,42
                     start                 end id_colums  intercontact
47159  2004-09-23 13:14:53 2004-09-23 13:15:24     15,42           NaN
47184  2004-09-23 13:18:07 2004-09-23 13:18:09     15,42      0.001887
47279  2004-09-23 13:26:42 2004-09-23 13:26:44     15,42      0.005938
66896  2004-09-28 06:47:49 2004-09-28 06:49:23     15,42      4.722975
67297  2004-09-28 07:05:09 2004-09-28 07:05:43     15,42      0.010949
...                    ...                 ...       ...           ...
534481 2004-12-02 11:16:11 2004-12-02 11:16:39     15,42      0.031238
534576 2004-12-02 11:18:46 2004-12-02 11:19:28     15,42      0.001470
534975 2004-12-02 11:35:31 2004-12-02 11:35:36     15,42      0.011146
553169 2004-12-04 14:06:20 2004-12-04 14:07:47     15,42      2.104676
553193 2004-12-04 14:12:02 2004-12-04 14:12:12     15,42      0.002951

[332 rows x 4 columns]
15,43
                     start                 end id_colums  intercontact
43671  2004-09-23 10:00:23 2004-09-23 10:00:25     15,43           NaN
46783  2004-09-23 12:56:39 2004-09-23 12:57:10     15,43      0.122384
47180  2004-09-23 13:17:40 2004-09-23 13:18:09     15,43      0.014236
47247  2004-09-23 13:25:02 2004-09-23 13:25:04     15,43      0.004780
53010  2004-09-24 09:58:39 2004-09-24 09:59:11     15,43      0.856655
...                    ...                 ...       ...           ...
557665 2004-12-05 17:02:56 2004-12-05 17:03:40     15,43      2.196586
559814 2004-12-06 06:17:33 2004-12-06 06:17:39     15,43      0.551308
559862 2004-12-06 06:20:08 2004-12-06 06:21:03     15,43      0.001725
559918 2004-12-06 06:22:33 2004-12-06 06:23:11     15,43      0.001042
560017 2004-12-06 06:27:36 2004-12-06 06:28:16     15,43      0.003067

[499 rows x 4 columns]
15,44
                     start                 end id_colums  intercontact
43191  2004-09-23 09:36:40 2004-09-23 09:36:41     15,44           NaN
46714  2004-09-23 12:50:21 2004-09-23 12:50:41     15,44      0.134491
47126  2004-09-23 13:12:30 2004-09-23 13:12:31     15,44      0.015150
47137  2004-09-23 13:12:51 2004-09-23 13:13:43     15,44      0.000231
47153  2004-09-23 13:14:42 2004-09-23 13:15:24     15,44      0.000683
...                    ...                 ...       ...           ...
692670 2005-01-27 06:22:40 2005-01-27 06:22:54     15,44      0.840278
693627 2005-01-27 08:49:16 2005-01-27 08:49:40     15,44      0.101644
693854 2005-01-27 09:17:54 2005-01-27 09:18:37     15,44      0.019606
694028 2005-01-27 10:08:17 2005-01-27 10:08:46     15,44      0.034491
694043 2005-01-27 10:11:32 2005-01-27 10:13:31     15,44      0.001921

[386 rows x 4 columns]
15,45
                     start                 end id_colums  intercontact
24622  2004-09-16 08:36:03 2004-09-16 08:36:34     15,45           NaN
24762  2004-09-16 09:00:00 2004-09-16 09:00:02     15,45      0.016273
24815  2004-09-16 09:13:05 2004-09-16 09:16:43     15,45      0.009062
24847  2004-09-16 09:23:52 2004-09-16 09:27:40     15,45      0.004965
24859  2004-09-16 09:27:40 2004-09-16 09:28:42     15,45      0.000000
...                    ...                 ...       ...           ...
670294 2005-01-14 09:44:30 2005-01-14 09:44:35     15,45      0.002801
670320 2005-01-14 09:59:20 2005-01-14 09:59:40     15,45      0.010243
670576 2005-01-14 10:55:42 2005-01-14 10:55:47     15,45      0.038912
671176 2005-01-14 13:28:02 2005-01-14 13:31:25     15,45      0.105729
671287 2005-01-14 14:11:53 2005-01-14 14:15:35     15,45      0.028102

[272 rows x 4 columns]
15,46
                     start                 end id_colums  intercontact
301744 2004-11-03 11:05:28 2004-11-03 11:05:30     15,46           NaN
301881 2004-11-03 11:19:20 2004-11-03 11:19:22     15,46      0.009606
302884 2004-11-03 12:24:40 2004-11-03 12:24:58     15,46      0.045347
302897 2004-11-03 12:25:42 2004-11-03 12:26:35     15,46      0.000509
303041 2004-11-03 12:35:17 2004-11-03 12:41:48     15,46      0.006042
...                    ...                 ...       ...           ...
782921 2005-04-28 15:12:35 2005-04-28 15:12:43     15,46      0.005116
782924 2005-04-28 15:13:12 2005-04-28 15:13:32     15,46      0.000336
783342 2005-04-29 08:48:21 2005-04-29 08:50:59     15,46      0.732512
783418 2005-04-29 09:43:59 2005-04-29 09:44:05     15,46      0.036806
783470 2005-04-29 10:28:43 2005-04-29 10:28:44     15,46      0.030995

[746 rows x 4 columns]
15,53
                     start                 end id_colums  intercontact
283282 2004-11-02 05:03:17 2004-11-02 05:03:51     15,53           NaN
283339 2004-11-02 05:05:18 2004-11-02 05:08:36     15,53      0.001007
285244 2004-11-02 07:07:42 2004-11-02 07:11:09     15,53      0.082708
285340 2004-11-02 07:12:08 2004-11-02 07:23:41     15,53      0.000683
286158 2004-11-02 08:15:32 2004-11-02 08:16:00     15,53      0.036007
...                    ...                 ...       ...           ...
676040 2005-01-18 09:55:15 2005-01-18 09:55:31     15,53      0.001840
676086 2005-01-18 10:03:15 2005-01-18 10:05:32     15,53      0.005370
676358 2005-01-18 10:50:27 2005-01-18 10:50:29     15,53      0.031192
676399 2005-01-18 10:54:46 2005-01-18 10:54:47     15,53      0.002975
679301 2005-01-19 09:39:48 2005-01-19 09:39:49     15,53      0.947928

[362 rows x 4 columns]
15,54
                     start                 end id_colums  intercontact
34955  2004-09-21 04:53:35 2004-09-21 04:58:51     15,54           NaN
35667  2004-09-21 08:20:59 2004-09-21 08:21:12     15,54      0.140370
36505  2004-09-21 10:42:20 2004-09-21 10:42:38     15,54      0.098009
36725  2004-09-21 11:17:48 2004-09-21 11:23:01     15,54      0.024421
36782  2004-09-21 11:33:16 2004-09-21 11:33:34     15,54      0.007118
...                    ...                 ...       ...           ...
643400 2004-12-19 14:48:00 2004-12-19 14:48:04     15,54      0.954421
645186 2004-12-20 12:18:00 2004-12-20 12:18:06     15,54      0.895787
645255 2004-12-20 12:42:15 2004-12-20 12:44:34     15,54      0.016771
647144 2004-12-21 14:54:54 2004-12-21 14:55:09     15,54      1.090509
647145 2004-12-21 14:55:51 2004-12-21 14:56:50     15,54      0.000486

[676 rows x 4 columns]
15,55
                     start                 end id_colums  intercontact
43190  2004-09-23 09:36:40 2004-09-23 09:36:41     15,55           NaN
43334  2004-09-23 09:48:53 2004-09-23 09:48:55     15,55      0.008472
46767  2004-09-23 12:55:58 2004-09-23 12:55:59     15,55      0.129896
47122  2004-09-23 13:12:30 2004-09-23 13:12:32     15,55      0.011470
47310  2004-09-23 13:29:53 2004-09-23 13:30:33     15,55      0.012049
...                    ...                 ...       ...           ...
782984 2005-04-28 17:07:19 2005-04-28 17:08:43     15,55      0.065833
783300 2005-04-29 08:14:31 2005-04-29 08:15:13     15,55      0.629028
783313 2005-04-29 08:16:29 2005-04-29 08:16:48     15,55      0.000880
783330 2005-04-29 08:24:20 2005-04-29 08:24:40     15,55      0.005231
783416 2005-04-29 09:43:59 2005-04-29 09:44:05     15,55      0.055081

[782 rows x 4 columns]
15,56
                     start                 end id_colums  intercontact
23922  2004-09-16 06:44:32 2004-09-16 06:45:08     15,56           NaN
23929  2004-09-16 06:45:44 2004-09-16 06:45:46     15,56      0.000417
23965  2004-09-16 06:54:04 2004-09-16 06:54:44     15,56      0.005764
23974  2004-09-16 06:55:10 2004-09-16 06:59:40     15,56      0.000301
24147  2004-09-16 07:23:58 2004-09-16 07:24:17     15,56      0.016875
...                    ...                 ...       ...           ...
287561 2004-11-02 09:13:22 2004-11-02 09:13:35     15,56      0.036262
287774 2004-11-02 09:20:39 2004-11-02 09:21:53     15,56      0.004907
288231 2004-11-02 09:37:12 2004-11-02 09:40:10     15,56      0.010637
292543 2004-11-02 12:32:47 2004-11-02 12:32:49     15,56      0.119873
293074 2004-11-02 13:04:34 2004-11-02 13:04:40     15,56      0.022049

[258 rows x 4 columns]
15,58
                     start                 end id_colums  intercontact
141976 2004-10-12 11:19:41 2004-10-12 11:19:42     15,58           NaN
143033 2004-10-12 12:15:10 2004-10-12 12:15:12     15,58      0.038519
143297 2004-10-12 12:25:08 2004-10-12 12:34:30     15,58      0.006898
143538 2004-10-12 12:35:12 2004-10-12 12:35:23     15,58      0.000486
144669 2004-10-12 13:40:00 2004-10-12 13:40:06     15,58      0.044873
...                    ...                 ...       ...           ...
645886 2004-12-21 06:35:34 2004-12-21 06:35:52     15,58     10.869132
645887 2004-12-21 06:36:01 2004-12-21 06:36:10     15,58      0.000104
645894 2004-12-21 06:36:59 2004-12-21 06:37:10     15,58      0.000567
646827 2004-12-21 12:03:17 2004-12-21 12:03:48     15,58      0.226470
647000 2004-12-21 13:14:17 2004-12-21 13:15:44     15,58      0.048947

[331 rows x 4 columns]
15,59
                     start                 end id_colums  intercontact
210976 2004-10-21 13:11:56 2004-10-21 13:12:00     15,59           NaN
211037 2004-10-21 13:15:26 2004-10-21 13:15:28     15,59      0.002384
211213 2004-10-21 13:26:52 2004-10-21 13:26:53     15,59      0.007917
211346 2004-10-21 13:36:30 2004-10-21 13:36:56     15,59      0.006678
211453 2004-10-21 13:46:19 2004-10-21 13:46:21     15,59      0.006516
...                    ...                 ...       ...           ...
736729 2005-03-06 11:47:23 2005-03-06 11:48:17     15,59      0.003113
741528 2005-03-10 10:52:28 2005-03-10 10:52:45     15,59      3.961238
742751 2005-03-11 10:29:05 2005-03-11 10:29:06     15,59      0.983565
743004 2005-03-11 11:09:01 2005-03-11 11:11:24     15,59      0.027720
750521 2005-03-16 14:40:27 2005-03-16 14:41:56     15,59      5.145174

[146 rows x 4 columns]
15,60
                     start                 end id_colums  intercontact
23773  2004-09-16 05:48:22 2004-09-16 05:48:55     15,60           NaN
23785  2004-09-16 05:51:11 2004-09-16 05:51:14     15,60      0.001574
23803  2004-09-16 05:53:36 2004-09-16 05:53:59     15,60      0.001644
23973  2004-09-16 06:55:10 2004-09-16 06:58:55     15,60      0.042488
24018  2004-09-16 07:02:16 2004-09-16 07:02:34     15,60      0.002326
...                    ...                 ...       ...           ...
780114 2005-04-22 11:17:31 2005-04-22 11:25:58     15,60      0.105532
780182 2005-04-22 12:18:55 2005-04-22 12:19:00     15,60      0.036771
782615 2005-04-28 12:00:22 2005-04-28 12:00:40     15,60      5.987060
782917 2005-04-28 15:09:28 2005-04-28 15:09:54     15,60      0.131111
782923 2005-04-28 15:12:38 2005-04-28 15:12:43     15,60      0.001898

[601 rows x 4 columns]
15,61
                     start                 end id_colums  intercontact
43198  2004-09-23 09:36:44 2004-09-23 09:37:26     15,61           NaN
43216  2004-09-23 09:38:35 2004-09-23 09:38:36     15,61      0.000799
43333  2004-09-23 09:48:53 2004-09-23 09:48:55     15,61      0.007141
43376  2004-09-23 09:50:37 2004-09-23 09:50:58     15,61      0.001181
43674  2004-09-23 10:00:28 2004-09-23 10:00:58     15,61      0.006597
...                    ...                 ...       ...           ...
565374 2004-12-06 11:21:00 2004-12-06 11:21:03     15,61      0.020671
565699 2004-12-06 11:40:43 2004-12-06 11:41:20     15,61      0.013657
565864 2004-12-06 11:52:56 2004-12-06 11:53:18     15,61      0.008056
567081 2004-12-06 13:06:27 2004-12-06 13:07:15     15,61      0.050799
567753 2004-12-06 14:03:46 2004-12-06 14:04:47     15,61      0.039248

[172 rows x 4 columns]
15,62
                     start                 end id_colums  intercontact
54106  2004-09-24 11:52:38 2004-09-24 11:52:39     15,62           NaN
56328  2004-09-25 13:41:15 2004-09-25 13:41:29     15,62      1.075417
58410  2004-09-27 06:10:07 2004-09-27 06:10:24     15,62      1.686551
61503  2004-09-27 10:21:05 2004-09-27 10:21:16     15,62      0.174086
61961  2004-09-27 11:10:54 2004-09-27 11:10:56     15,62      0.034468
...                    ...                 ...       ...           ...
560313 2004-12-06 06:48:23 2004-12-06 06:49:21     15,62      1.773889
560848 2004-12-06 07:17:43 2004-12-06 07:18:04     15,62      0.019699
560925 2004-12-06 07:22:35 2004-12-06 07:22:40     15,62      0.003137
561341 2004-12-06 07:49:31 2004-12-06 07:50:09     15,62      0.018646
561380 2004-12-06 07:50:55 2004-12-06 07:53:11     15,62      0.000532

[323 rows x 4 columns]
15,66
                     start                 end id_colums  intercontact
43052  2004-09-23 09:17:54 2004-09-23 09:18:36     15,66           NaN
43116  2004-09-23 09:26:30 2004-09-23 09:26:49     15,66      0.005486
43331  2004-09-23 09:48:53 2004-09-23 09:48:55     15,66      0.015324
43682  2004-09-23 10:00:35 2004-09-23 10:00:52     15,66      0.008102
46835  2004-09-23 13:00:09 2004-09-23 13:00:22     15,66      0.124502
...                    ...                 ...       ...           ...
782324 2005-04-28 08:28:49 2005-04-28 08:29:01     15,66      0.000185
782326 2005-04-28 08:29:29 2005-04-28 08:31:02     15,66      0.000324
782369 2005-04-28 09:01:30 2005-04-28 09:01:44     15,66      0.021157
782373 2005-04-28 09:02:34 2005-04-28 09:02:47     15,66      0.000579
782601 2005-04-28 11:58:14 2005-04-28 11:58:18     15,66      0.121840

[800 rows x 4 columns]
15,68
                     start                 end id_colums  intercontact
182557 2004-10-18 12:39:51 2004-10-18 12:39:58     15,68           NaN
184218 2004-10-18 14:47:31 2004-10-18 14:47:33     15,68      0.088576
184271 2004-10-18 14:57:10 2004-10-18 14:57:12     15,68      0.006678
195086 2004-10-19 13:10:15 2004-10-19 13:10:21     15,68      0.925729
197286 2004-10-19 15:34:21 2004-10-19 15:34:46     15,68      0.100000
...                    ...                 ...       ...           ...
768399 2005-03-31 14:30:59 2005-03-31 14:32:44     15,68      0.301701
768402 2005-03-31 14:34:46 2005-03-31 14:36:26     15,68      0.001412
768434 2005-03-31 16:11:53 2005-03-31 16:12:59     15,68      0.066285
768439 2005-03-31 16:42:06 2005-03-31 16:42:25     15,68      0.020220
768440 2005-03-31 16:43:48 2005-03-31 16:43:57     15,68      0.000961

[278 rows x 4 columns]
15,69
                     start                 end id_colums  intercontact
120401 2004-10-07 08:52:45 2004-10-07 08:53:15     15,69           NaN
121021 2004-10-07 09:27:16 2004-10-07 09:27:38     15,69      0.023623
121034 2004-10-07 09:27:43 2004-10-07 09:32:00     15,69      0.000058
121371 2004-10-07 09:39:20 2004-10-07 09:40:24     15,69      0.005093
126628 2004-10-07 17:10:14 2004-10-07 17:10:18     15,69      0.312384
...                    ...                 ...       ...           ...

[187 rows x 4 columns]
16,31
                     start                 end id_colums  intercontact
14966  2004-09-10 12:43:52 2004-09-10 12:44:45     16,31           NaN
22109  2004-09-15 09:31:32 2004-09-15 09:32:18     16,31      4.865822
87136  2004-10-01 07:47:47 2004-10-01 07:47:48     16,31     15.927419
91884  2004-10-03 09:54:40 2004-10-03 09:54:41     16,31      2.088102
135482 2004-10-11 07:01:05 2004-10-11 07:01:11     16,31      7.879444
436223 2004-11-20 13:10:31 2004-11-20 13:10:33     16,31     40.256481
16,32
                     start                 end id_colums  intercontact
25308  2004-09-16 11:16:38 2004-09-16 11:17:26     16,32           NaN
25700  2004-09-16 12:26:14 2004-09-16 12:26:16     16,32      0.047778
25751  2004-09-16 12:28:11 2004-09-16 12:28:13     16,32      0.001331
31882  2004-09-20 06:55:25 2004-09-20 06:55:27     16,32      3.768889
31962  2004-09-20 07:04:33 2004-09-20 07:05:03     16,32      0.006319
...                    ...                 ...       ...           ...
782654 2005-04-28 12:11:19 2005-04-28 12:11:35     16,32      0.000104
782684 2005-04-28 12:15:10 2005-04-28 12:16:06     16,32      0.002488
782776 2005-04-28 13:16:01 2005-04-28 13:16:05     16,32      0.041609
782881 2005-04-28 14:31:56 2005-04-28 14:32:01     16,32      0.052674
783537 2005-04-29 12:39:08 2005-04-29 12:39:10     16,32      0.921609

[220 rows x 4 columns]
16,33
                     start                 end id_colums  intercontact
84279  2004-09-30 11:59:54 2004-09-30 12:00:02     16,33           NaN
84280  2004-09-30 12:00:02 2004-09-30 12:00:45     16,33      0.000000
218829 2004-10-23 08:25:21 2004-10-23 08:26:01     16,33     22.850417
284135 2004-11-02 06:09:47 2004-11-02 06:10:59     16,33      9.905394
551664 2004-12-04 07:38:03 2004-12-04 07:38:24     16,33     32.060463
563721 2004-12-06 09:58:28 2004-12-06 09:58:34     16,33      2.097269
16,35
                     start                 end id_colums  intercontact
283498 2004-11-02 05:16:16 2004-11-02 05:16:47     16,35           NaN
283630 2004-11-02 05:22:08 2004-11-02 05:22:58     16,35      0.003715
283769 2004-11-02 05:35:56 2004-11-02 05:36:17     16,35      0.009005
283934 2004-11-02 05:51:22 2004-11-02 05:52:27     16,35      0.010475
284052 2004-11-02 06:01:58 2004-11-02 06:02:00     16,35      0.006609
...                    ...                 ...       ...           ...
568039 2004-12-06 14:44:22 2004-12-06 14:44:50     16,35      0.014444
568083 2004-12-06 14:57:35 2004-12-06 14:58:13     16,35      0.008854
568502 2004-12-06 16:28:30 2004-12-06 16:28:48     16,35      0.062697
568634 2004-12-06 17:19:15 2004-12-06 17:23:03     16,35      0.035035
568664 2004-12-06 17:27:34 2004-12-06 17:27:36     16,35      0.003137

[114 rows x 4 columns]
16,36
                     start                 end id_colums  intercontact
551762 2004-12-04 08:08:30 2004-12-04 08:09:18     16,36           NaN
563682 2004-12-06 09:57:31 2004-12-06 09:57:40     16,36      2.075150
567271 2004-12-06 13:22:55 2004-12-06 13:23:00     16,36      0.142535
567677 2004-12-06 13:57:05 2004-12-06 13:57:25     16,36      0.023669
16,38
                     start                 end id_colums  intercontact
458749 2004-11-23 08:15:28 2004-11-23 08:15:30     16,38           NaN
567676 2004-12-06 13:57:05 2004-12-06 13:57:59     16,38     13.237211
602468 2004-12-10 14:23:51 2004-12-10 14:23:52     16,38      4.017963
608037 2004-12-12 09:26:51 2004-12-12 09:27:32     16,38      1.793738
644772 2004-12-20 10:35:54 2004-12-20 10:36:00     16,38      8.047477
668144 2005-01-13 12:35:35 2005-01-13 12:37:48     16,38     24.083044
702100 2005-02-03 09:42:10 2005-02-03 09:51:11     16,38     20.878032
702211 2005-02-03 10:25:52 2005-02-03 10:27:40     16,38      0.024086
702258 2005-02-03 10:37:21 2005-02-03 10:38:59     16,38      0.006725
16,39
                     start                 end id_colums  intercontact
33108  2004-09-20 10:37:38 2004-09-20 10:37:46     16,39           NaN
63372  2004-09-27 13:11:28 2004-09-27 13:11:36     16,39      7.106736
84277  2004-09-30 11:59:48 2004-09-30 11:59:49     16,39      2.950139
520455 2004-12-01 12:39:32 2004-12-01 12:39:58     16,39     62.027581
563719 2004-12-06 09:58:12 2004-12-06 09:58:34     16,39      4.887662
642984 2004-12-18 11:29:33 2004-12-18 11:29:50     16,39     12.063183
643054 2004-12-18 12:33:26 2004-12-18 12:33:32     16,39      0.044167
644780 2004-12-20 10:37:13 2004-12-20 10:38:08     16,39      1.919225
16,40
                     start                 end id_colums  intercontact
41521  2004-09-23 05:14:15 2004-09-23 05:14:33     16,40           NaN
47460  2004-09-23 13:42:12 2004-09-23 13:42:14     16,40      0.352535
50447  2004-09-24 06:37:07 2004-09-24 06:37:25     16,40      0.704780
51216  2004-09-24 07:44:11 2004-09-24 07:44:13     16,40      0.046366
51812  2004-09-24 08:09:43 2004-09-24 08:11:26     16,40      0.017708
...                    ...                 ...       ...           ...
782486 2005-04-28 11:03:53 2005-04-28 11:04:41     16,40      0.000255
782572 2005-04-28 11:51:56 2005-04-28 11:52:59     16,40      0.032813
783386 2005-04-29 09:15:56 2005-04-29 09:16:01     16,40      0.890938
783573 2005-04-29 14:32:54 2005-04-29 14:32:59     16,40      0.220058
783575 2005-04-29 14:34:46 2005-04-29 14:36:02     16,40      0.001238

[428 rows x 4 columns]
16,42
                     start                 end id_colums  intercontact
47055  2004-09-23 13:08:55 2004-09-23 13:09:01     16,42           NaN
47496  2004-09-23 13:44:25 2004-09-23 13:44:35     16,42      0.024583
47515  2004-09-23 13:46:36 2004-09-23 13:46:46     16,42      0.001400
51215  2004-09-24 07:44:11 2004-09-24 07:44:13     16,42      0.748206
51266  2004-09-24 07:45:42 2004-09-24 07:46:01     16,42      0.001030
...                    ...                 ...       ...           ...
521852 2004-12-01 13:41:17 2004-12-01 13:42:22     16,42      0.001343
528393 2004-12-02 07:16:06 2004-12-02 07:16:12     16,42      0.731759
529276 2004-12-02 07:58:46 2004-12-02 07:59:16     16,42      0.029560
529370 2004-12-02 08:01:47 2004-12-02 08:02:06     16,42      0.001748
553391 2004-12-04 15:07:46 2004-12-04 15:08:42     16,42      2.295602

[188 rows x 4 columns]
16,43
                     start                 end id_colums  intercontact
47466  2004-09-23 13:42:50 2004-09-23 13:43:05     16,43           NaN
47626  2004-09-23 13:59:33 2004-09-23 13:59:36     16,43      0.011435
47645  2004-09-23 14:00:49 2004-09-23 14:01:25     16,43      0.000845
48273  2004-09-23 15:53:21 2004-09-23 15:53:29     16,43      0.077731
51749  2004-09-24 08:07:24 2004-09-24 08:15:16     16,43      0.676331
...                    ...                 ...       ...           ...
527368 2004-12-02 06:27:33 2004-12-02 06:27:59     16,43      0.001655
528395 2004-12-02 07:16:06 2004-12-02 07:16:12     16,43      0.033414
541219 2004-12-03 07:28:23 2004-12-03 07:28:30     16,43      1.008461
550172 2004-12-03 15:05:32 2004-12-03 15:05:59     16,43      0.317384
550213 2004-12-03 15:13:14 2004-12-03 15:15:33     16,43      0.005035

[272 rows x 4 columns]
16,44
                     start                 end id_colums  intercontact
47072  2004-09-23 13:09:46 2004-09-23 13:10:02     16,44           NaN
47087  2004-09-23 13:10:24 2004-09-23 13:11:08     16,44      0.000255
47463  2004-09-23 13:42:12 2004-09-23 13:42:14     16,44      0.021574
47468  2004-09-23 13:42:56 2004-09-23 13:43:05     16,44      0.000486
47516  2004-09-23 13:46:36 2004-09-23 13:46:46     16,44      0.002442
...                    ...                 ...       ...           ...
676958 2005-01-18 12:45:08 2005-01-18 12:45:39     16,44      0.209653
683554 2005-01-21 07:53:14 2005-01-21 07:53:23     16,44      2.796933
684668 2005-01-21 14:58:12 2005-01-21 14:59:57     16,44      0.295012
684921 2005-01-21 19:38:21 2005-01-21 19:39:10     16,44      0.193333
693987 2005-01-27 10:04:09 2005-01-27 10:04:22     16,44      5.600683

[238 rows x 4 columns]
16,45
                     start                 end id_colums  intercontact
24471  2004-09-16 08:07:47 2004-09-16 08:07:48     16,45           NaN
24673  2004-09-16 08:51:25 2004-09-16 08:51:30     16,45      0.030289
25662  2004-09-16 12:23:29 2004-09-16 12:23:40     16,45      0.147211
26654  2004-09-16 18:36:06 2004-09-16 18:39:42     16,45      0.258634
31930  2004-09-20 07:00:52 2004-09-20 07:02:35     16,45      3.514699
...                    ...                 ...       ...           ...
665795 2005-01-12 16:48:43 2005-01-12 16:49:23     16,45      0.001701
665799 2005-01-12 16:49:54 2005-01-12 16:50:17     16,45      0.000359
666231 2005-01-13 06:14:07 2005-01-13 06:14:41     16,45      0.558218
668372 2005-01-13 14:30:54 2005-01-13 14:31:12     16,45      0.344595
671289 2005-01-14 14:12:35 2005-01-14 14:13:18     16,45      0.987072

[169 rows x 4 columns]
16,46
                     start                 end id_colums  intercontact
304781 2004-11-03 15:48:25 2004-11-03 15:48:30     16,46           NaN
304788 2004-11-03 15:49:46 2004-11-03 15:49:48     16,46      0.000880
308313 2004-11-04 07:12:06 2004-11-04 07:12:12     16,46      0.640486
316944 2004-11-04 15:30:49 2004-11-04 15:34:56     16,46      0.346262
319203 2004-11-05 07:11:38 2004-11-05 07:12:10     16,46      0.650486
...                    ...                 ...       ...           ...
782639 2005-04-28 12:09:23 2005-04-28 12:09:42     16,46      0.011111
782652 2005-04-28 12:11:15 2005-04-28 12:11:19     16,46      0.001076
782674 2005-04-28 12:13:06 2005-04-28 12:16:06     16,46      0.001238
782775 2005-04-28 13:16:01 2005-04-28 13:16:05     16,46      0.041609
783385 2005-04-29 09:15:56 2005-04-29 09:16:01     16,46      0.833229

[458 rows x 4 columns]
16,47
                     start                 end id_colums  intercontact
563705 2004-12-06 09:57:52 2004-12-06 09:58:10     16,47           NaN
16,48
                     start                 end id_colums  intercontact
436225 2004-11-20 13:11:27 2004-11-20 13:11:43     16,48           NaN
16,49
                     start                 end id_colums  intercontact
668110 2005-01-13 12:28:08 2005-01-13 12:28:26     16,49           NaN
668113 2005-01-13 12:28:57 2005-01-13 12:29:20     16,49      0.000359
668139 2005-01-13 12:35:13 2005-01-13 12:35:45     16,49      0.004086
16,50
                     start                 end id_colums  intercontact
458748 2004-11-23 08:15:28 2004-11-23 08:15:30     16,50           NaN
563679 2004-12-06 09:57:30 2004-12-06 09:57:31     16,50     13.070833
643001 2004-12-18 11:59:33 2004-12-18 11:59:34     16,50     12.084745
643007 2004-12-18 12:06:49 2004-12-18 12:08:12     16,50      0.005035
643061 2004-12-18 12:43:33 2004-12-18 12:46:13     16,50      0.024549
695731 2005-01-28 06:41:44 2005-01-28 06:41:51     16,50     40.746887
701533 2005-02-03 06:07:39 2005-02-03 06:07:41     16,50      5.976250
701540 2005-02-03 06:11:47 2005-02-03 06:12:09     16,50      0.002847
702098 2005-02-03 09:40:59 2005-02-03 09:41:04     16,50      0.145023
702209 2005-02-03 10:25:28 2005-02-03 10:25:29     16,50      0.030833
702256 2005-02-03 10:35:36 2005-02-03 10:35:42     16,50      0.007025
706711 2005-02-08 08:59:13 2005-02-08 08:59:15     16,50      4.932998
706748 2005-02-08 09:04:46 2005-02-08 09:05:06     16,50      0.003831
707009 2005-02-08 11:05:49 2005-02-08 11:05:51     16,50      0.083831
717424 2005-02-17 06:02:43 2005-02-17 06:03:05     16,50      8.789491
717777 2005-02-17 09:32:06 2005-02-17 09:32:12     16,50      0.145150
717816 2005-02-17 09:49:12 2005-02-17 09:50:26     16,50      0.011806
717908 2005-02-17 10:54:02 2005-02-17 10:57:01     16,50      0.044167
718521 2005-02-18 08:00:18 2005-02-18 08:00:22     16,50      0.877280
736163 2005-03-05 08:04:23 2005-03-05 08:05:01     16,50     15.002789
738517 2005-03-08 06:31:29 2005-03-08 06:31:42     16,50      2.935046
16,52
                     start                 end id_colums  intercontact
476943 2004-11-25 13:28:53 2004-11-25 13:29:20     16,52           NaN
701531 2005-02-03 06:07:39 2005-02-03 06:07:41     16,52     69.693275
702127 2005-02-03 09:52:03 2005-02-03 10:01:48     16,52      0.155810
702157 2005-02-03 10:06:32 2005-02-03 10:06:54     16,52      0.003287
707008 2005-02-08 11:05:49 2005-02-08 11:05:51     16,52      5.040914
16,53
                     start                 end id_colums  intercontact
283323 2004-11-02 05:04:22 2004-11-02 05:04:41     16,53           NaN
283588 2004-11-02 05:20:03 2004-11-02 05:20:42     16,53      0.010671
283725 2004-11-02 05:31:37 2004-11-02 05:31:39     16,53      0.007581
300206 2004-11-03 09:43:55 2004-11-03 09:45:58     16,53      1.175185
304777 2004-11-03 15:48:25 2004-11-03 15:48:30     16,53      0.251701
...                    ...                 ...       ...           ...
676044 2005-01-18 09:55:19 2005-01-18 09:56:20     16,53      0.029757
676507 2005-01-18 11:11:59 2005-01-18 11:12:03     16,53      0.052535
679228 2005-01-19 09:31:09 2005-01-19 09:31:11     16,53      0.929931
679239 2005-01-19 09:31:31 2005-01-19 09:34:14     16,53      0.000231
679274 2005-01-19 09:34:36 2005-01-19 09:34:37     16,53      0.000255

[177 rows x 4 columns]
16,54
                     start                 end id_colums  intercontact
33046  2004-09-20 10:33:03 2004-09-20 10:33:11     16,54           NaN
33386  2004-09-20 11:07:25 2004-09-20 11:07:40     16,54      0.023773
39169  2004-09-22 09:25:23 2004-09-22 09:25:35     16,54      1.928970
39173  2004-09-22 09:26:09 2004-09-22 09:26:31     16,54      0.000394
39672  2004-09-22 10:46:22 2004-09-22 10:46:30     16,54      0.055451
...                    ...                 ...       ...           ...
645257 2004-12-20 12:43:15 2004-12-20 12:43:21     16,54      0.638611
646121 2004-12-21 08:08:15 2004-12-21 08:08:30     16,54      0.808958
646924 2004-12-21 12:30:34 2004-12-21 12:32:23     16,54      0.181991
648109 2004-12-22 12:36:03 2004-12-22 12:36:24     16,54      1.002546
649176 2004-12-30 04:00:24 2004-12-30 04:00:37     16,54      7.641667

[344 rows x 4 columns]
16,55
                     start                 end id_colums  intercontact
47462  2004-09-23 13:42:12 2004-09-23 13:42:14     16,55           NaN
47493  2004-09-23 13:43:52 2004-09-23 13:44:16     16,55      0.001134
59901  2004-09-27 08:20:48 2004-09-27 08:21:06     16,55      3.775370
61815  2004-09-27 10:56:12 2004-09-27 10:57:47     16,55      0.107708
61830  2004-09-27 10:57:52 2004-09-27 10:58:02     16,55      0.000058
...                    ...                 ...       ...           ...
782284 2005-04-28 07:54:04 2005-04-28 07:56:52     16,55      0.013947
782781 2005-04-28 13:17:44 2005-04-28 13:18:12     16,55      0.222824
782784 2005-04-28 13:21:12 2005-04-28 13:21:25     16,55      0.002083
783332 2005-04-29 08:27:47 2005-04-29 08:28:04     16,55      0.796088
783395 2005-04-29 09:17:54 2005-04-29 09:18:58     16,55      0.034606

[382 rows x 4 columns]
16,56
                     start                 end id_colums  intercontact
24052  2004-09-16 07:06:48 2004-09-16 07:07:07     16,56           NaN
24156  2004-09-16 07:24:49 2004-09-16 07:29:36     16,56      0.012292
24323  2004-09-16 07:48:19 2004-09-16 07:48:21     16,56      0.012998
24491  2004-09-16 08:08:36 2004-09-16 08:09:03     16,56      0.014063
24679  2004-09-16 08:51:35 2004-09-16 09:02:38     16,56      0.029537
...                    ...                 ...       ...           ...
282539 2004-11-02 02:54:54 2004-11-02 02:55:13     16,56      4.568160
282932 2004-11-02 04:26:15 2004-11-02 04:28:16     16,56      0.063218
284003 2004-11-02 05:56:48 2004-11-02 05:57:17     16,56      0.061481
285231 2004-11-02 07:06:30 2004-11-02 07:06:54     16,56      0.048067
286108 2004-11-02 08:12:25 2004-11-02 08:13:06     16,56      0.045498

[140 rows x 4 columns]
16,58
                     start                 end id_colums  intercontact
144431 2004-10-12 13:16:53 2004-10-12 13:16:55     16,58           NaN
144918 2004-10-12 14:02:51 2004-10-12 14:02:53     16,58      0.031898
152614 2004-10-13 11:20:19 2004-10-13 11:20:33     16,58      0.887106
152618 2004-10-13 11:20:38 2004-10-13 11:20:58     16,58      0.000058
154365 2004-10-13 14:28:08 2004-10-13 14:28:13     16,58      0.129977
...                    ...                 ...       ...           ...
655878 2005-01-06 12:04:26 2005-01-06 12:04:38     16,58      0.723877
655933 2005-01-06 12:15:19 2005-01-06 12:15:33     16,58      0.007419
655945 2005-01-06 12:17:38 2005-01-06 12:17:51     16,58      0.001447
656227 2005-01-06 15:09:38 2005-01-06 15:09:47     16,58      0.119294
656495 2005-01-07 03:21:54 2005-01-07 03:22:10     16,58      0.508414

[190 rows x 4 columns]
16,59
                     start                 end id_colums  intercontact
201211 2004-10-20 09:34:51 2004-10-20 09:34:57     16,59           NaN
211449 2004-10-21 13:46:19 2004-10-21 13:46:21     16,59      1.174560
211662 2004-10-21 13:58:20 2004-10-21 13:58:39     16,59      0.008322
212244 2004-10-21 14:52:41 2004-10-21 14:52:57     16,59      0.037523
212298 2004-10-21 14:58:30 2004-10-21 15:00:45     16,59      0.003854
...                    ...                 ...       ...           ...
748624 2005-03-16 07:46:35 2005-03-16 07:46:39     16,59      0.068461
750757 2005-03-17 04:49:54 2005-03-17 04:49:56     16,59      0.877257
750761 2005-03-17 04:51:26 2005-03-17 04:51:27     16,59      0.001042
750762 2005-03-17 04:52:13 2005-03-17 04:52:53     16,59      0.000532
751640 2005-03-17 11:08:45 2005-03-17 11:09:15     16,59      0.261019

[91 rows x 4 columns]
16,60
                     start                 end id_colums  intercontact
24046  2004-09-16 07:06:48 2004-09-16 07:07:07     16,60           NaN
24345  2004-09-16 07:50:56 2004-09-16 07:51:43     16,60      0.030428
24671  2004-09-16 08:51:25 2004-09-16 08:51:30     16,60      0.041458
25643  2004-09-16 12:21:36 2004-09-16 12:21:57     16,60      0.145903
25682  2004-09-16 12:24:20 2004-09-16 12:24:38     16,60      0.001655
...                    ...                 ...       ...           ...
782678 2005-04-28 12:14:16 2005-04-28 12:16:06     16,60      0.001204
782778 2005-04-28 13:17:18 2005-04-28 13:17:20     16,60      0.042500
782884 2005-04-28 14:31:58 2005-04-28 14:32:01     16,60      0.051829
782885 2005-04-28 14:32:01 2005-04-28 14:33:12     16,60      0.000000
782961 2005-04-28 16:41:03 2005-04-28 16:41:08     16,60      0.088785

[428 rows x 4 columns]
16,61
                     start                 end id_colums  intercontact
296904 2004-11-03 06:14:44 2004-11-03 06:18:22     16,61           NaN
298688 2004-11-03 08:17:35 2004-11-03 08:17:40     16,61      0.082789
301013 2004-11-03 10:28:18 2004-11-03 10:32:40     16,61      0.090718
303494 2004-11-03 13:11:03 2004-11-03 13:11:49     16,61      0.109988
304776 2004-11-03 15:48:25 2004-11-03 15:48:30     16,61      0.108750
...                    ...                 ...       ...           ...
563726 2004-12-06 09:58:40 2004-12-06 09:58:53     16,61      0.004826
564565 2004-12-06 10:39:37 2004-12-06 10:40:00     16,61      0.028287
565134 2004-12-06 11:07:06 2004-12-06 11:07:44     16,61      0.018819
565170 2004-12-06 11:10:18 2004-12-06 11:10:39     16,61      0.001782
567889 2004-12-06 14:17:02 2004-12-06 14:17:03     16,61      0.129433

[86 rows x 4 columns]
16,62
                     start                 end id_colums  intercontact
56536  2004-09-25 17:33:31 2004-09-25 17:33:38     16,62           NaN
58924  2004-09-27 07:07:46 2004-09-27 07:08:11     16,62      1.565370
60031  2004-09-27 08:29:12 2004-09-27 08:29:32     16,62      0.056262
60122  2004-09-27 08:34:27 2004-09-27 08:36:49     16,62      0.003414
60568  2004-09-27 09:11:27 2004-09-27 09:12:57     16,62      0.024051
...                    ...                 ...       ...           ...

[122 rows x 4 columns]
17,24
                     start                 end id_colums  intercontact
367346 2004-11-14 11:29:51 2004-11-14 11:30:13     17,24           NaN
367647 2004-11-14 13:26:16 2004-11-14 13:29:42     17,24      0.080590
368019 2004-11-14 15:37:15 2004-11-14 15:37:26     17,24      0.088576
369209 2004-11-15 04:43:33 2004-11-15 04:43:37     17,24      0.545914
374396 2004-11-15 08:27:36 2004-11-15 08:28:49     17,24      0.155544
...                    ...                 ...       ...           ...
641523 2004-12-17 10:40:45 2004-12-17 10:44:28     17,24      0.000590
641566 2004-12-17 10:50:23 2004-12-17 10:50:25     17,24      0.004109
641578 2004-12-17 10:53:59 2004-12-17 10:54:01     17,24      0.002477
641628 2004-12-17 10:59:36 2004-12-17 10:59:37     17,24      0.003877
641999 2004-12-17 12:17:03 2004-12-17 12:17:12     17,24      0.053773

[482 rows x 4 columns]
17,25
                     start                 end id_colums  intercontact
9347   2004-09-07 09:22:05 2004-09-07 09:22:06     17,25           NaN
9445   2004-09-07 09:50:08 2004-09-07 09:50:53     17,25      0.019468
9744   2004-09-07 10:44:24 2004-09-07 10:44:33     17,25      0.037164
9898   2004-09-07 11:25:57 2004-09-07 11:26:23     17,25      0.028750
10010  2004-09-07 11:48:35 2004-09-07 11:49:06     17,25      0.015417
...                    ...                 ...       ...           ...
784283 2005-05-02 14:10:07 2005-05-02 14:10:40     17,25      0.008507
784291 2005-05-02 14:24:06 2005-05-02 14:24:21     17,25      0.009329
784292 2005-05-02 14:26:06 2005-05-02 14:26:36     17,25      0.001215
784298 2005-05-02 14:54:57 2005-05-02 14:54:58     17,25      0.019688
784326 2005-05-02 15:33:04 2005-05-02 15:34:00     17,25      0.026458

[542 rows x 4 columns]
17,27
                     start                 end id_colums  intercontact
11209  2004-09-08 11:28:07 2004-09-08 11:28:08     17,27           NaN
11211  2004-09-08 11:28:42 2004-09-08 11:28:50     17,27      0.000394
11212  2004-09-08 11:28:50 2004-09-08 11:28:55     17,27      0.000000
11215  2004-09-08 11:30:18 2004-09-08 11:31:09     17,27      0.000961
11221  2004-09-08 11:33:22 2004-09-08 11:33:50     17,27      0.001539
...                    ...                 ...       ...           ...
767997 2005-03-31 09:36:53 2005-03-31 09:36:54     17,27      0.007095
768012 2005-03-31 09:45:13 2005-03-31 09:45:44     17,27      0.005775
768131 2005-03-31 10:36:39 2005-03-31 10:36:45     17,27      0.035359
768307 2005-03-31 12:26:39 2005-03-31 12:26:46     17,27      0.076319
768324 2005-03-31 12:46:34 2005-03-31 12:46:35     17,27      0.013750

[616 rows x 4 columns]
17,28
                     start                 end id_colums  intercontact
12777  2004-09-09 13:50:12 2004-09-09 13:50:14     17,28           NaN
13124  2004-09-10 04:20:31 2004-09-10 04:20:40     17,28      0.604363
14454  2004-09-10 11:16:23 2004-09-10 11:16:25     17,28      0.288692
14731  2004-09-10 12:12:56 2004-09-10 12:12:58     17,28      0.039248
14750  2004-09-10 12:13:54 2004-09-10 12:13:56     17,28      0.000648
...                    ...                 ...       ...           ...
785213 2005-05-04 10:03:27 2005-05-04 10:07:50     17,28      1.070822
785242 2005-05-04 10:20:09 2005-05-04 10:20:25     17,28      0.008553
785346 2005-05-04 11:33:08 2005-05-04 11:33:28     17,28      0.050498
785426 2005-05-04 14:17:18 2005-05-04 14:17:26     17,28      0.113773
785439 2005-05-04 14:29:49 2005-05-04 14:29:58     17,28      0.008600

[1035 rows x 4 columns]
17,29
                     start                 end id_colums  intercontact
14329  2004-09-10 10:44:49 2004-09-10 10:44:54     17,29           NaN
14503  2004-09-10 11:24:51 2004-09-10 11:25:56     17,29      0.027743
14506  2004-09-10 11:26:32 2004-09-10 11:27:16     17,29      0.000417
14513  2004-09-10 11:27:19 2004-09-10 11:28:05     17,29      0.000035
14515  2004-09-10 11:29:09 2004-09-10 11:29:22     17,29      0.000741
...                    ...                 ...       ...           ...
735942 2005-03-04 14:11:37 2005-03-04 14:11:38     17,29      0.120081
735943 2005-03-04 14:12:27 2005-03-04 14:13:41     17,29      0.000567
735955 2005-03-04 14:14:15 2005-03-04 14:14:46     17,29      0.000394
736013 2005-03-04 16:29:22 2005-03-04 16:29:23     17,29      0.093472
736026 2005-03-04 17:07:30 2005-03-04 17:07:56     17,29      0.026470

[1953 rows x 4 columns]
17,30
                     start                 end id_colums  intercontact
12844  2004-09-09 14:20:07 2004-09-09 14:20:24     17,30           NaN
12977  2004-09-09 16:32:25 2004-09-09 16:33:34     17,30      0.091678
14167  2004-09-10 10:00:26 2004-09-10 10:00:27     17,30      0.726991
14448  2004-09-10 11:15:23 2004-09-10 11:15:28     17,30      0.052037
14571  2004-09-10 11:46:20 2004-09-10 11:46:44     17,30      0.021435
...                    ...                 ...       ...           ...
265589 2004-10-29 13:52:27 2004-10-29 13:53:01     17,30      0.072512
269842 2004-10-31 11:29:52 2004-10-31 11:29:57     17,30      1.900590
269916 2004-10-31 11:42:52 2004-10-31 11:43:54     17,30      0.008970
269952 2004-10-31 11:50:47 2004-10-31 11:50:52     17,30      0.004780
269997 2004-10-31 12:01:48 2004-10-31 12:06:16     17,30      0.007593

[451 rows x 4 columns]
17,32
                     start                 end id_colums  intercontact
25597  2004-09-16 12:11:45 2004-09-16 12:11:47     17,32           NaN
25701  2004-09-16 12:26:14 2004-09-16 12:26:16     17,32      0.010035
25719  2004-09-16 12:26:32 2004-09-16 12:28:13     17,32      0.000185
25870  2004-09-16 12:40:14 2004-09-16 12:40:19     17,32      0.008345
25958  2004-09-16 12:54:50 2004-09-16 12:54:52     17,32      0.010081
...                    ...                 ...       ...           ...
785400 2005-05-04 13:19:45 2005-05-04 13:19:48     17,32      0.009711
785412 2005-05-04 14:00:22 2005-05-04 14:00:41     17,32      0.028171
785423 2005-05-04 14:07:52 2005-05-04 14:08:29     17,32      0.004988
785431 2005-05-04 14:25:11 2005-05-04 14:25:27     17,32      0.011597
785438 2005-05-04 14:29:49 2005-05-04 14:34:47     17,32      0.003032

[708 rows x 4 columns]
17,35
                     start                 end id_colums  intercontact
310723 2004-11-04 09:59:23 2004-11-04 09:59:24     17,35           NaN
313899 2004-11-04 12:25:36 2004-11-04 12:25:42     17,35      0.101528
315268 2004-11-04 13:02:10 2004-11-04 13:02:17     17,35      0.025324
315571 2004-11-04 13:17:54 2004-11-04 13:17:58     17,35      0.010845
316297 2004-11-04 13:54:02 2004-11-04 13:54:08     17,35      0.025046
...                    ...                 ...       ...           ...
557333 2004-12-05 15:14:29 2004-12-05 15:14:54     17,35      0.001400
557372 2004-12-05 15:22:50 2004-12-05 15:22:53     17,35      0.005509
557396 2004-12-05 15:25:59 2004-12-05 15:26:00     17,35      0.002153
557443 2004-12-05 15:34:42 2004-12-05 15:35:10     17,35      0.006042
557461 2004-12-05 15:36:18 2004-12-05 15:36:20     17,35      0.000787

[299 rows x 4 columns]
17,40
                     start                 end id_colums  intercontact
40498  2004-09-22 13:12:30 2004-09-22 13:15:02     17,40           NaN
44410  2004-09-23 10:39:27 2004-09-23 10:39:46     17,40      0.891956
44422  2004-09-23 10:40:23 2004-09-23 10:41:26     17,40      0.000428
44922  2004-09-23 11:05:28 2004-09-23 11:05:48     17,40      0.016690
45001  2004-09-23 11:10:06 2004-09-23 11:10:54     17,40      0.002986
...                    ...                 ...       ...           ...
784795 2005-05-03 12:21:31 2005-05-03 12:22:12     17,40      0.000961
784799 2005-05-03 12:33:57 2005-05-03 12:34:12     17,40      0.008160
784806 2005-05-03 12:41:03 2005-05-03 12:41:11     17,40      0.004757
784808 2005-05-03 12:41:17 2005-05-03 12:41:37     17,40      0.000069
784817 2005-05-03 12:42:38 2005-05-03 12:42:53     17,40      0.000706

[1139 rows x 4 columns]
17,42
                     start                 end id_colums  intercontact
44475  2004-09-23 10:42:43 2004-09-23 10:43:01     17,42           NaN
44563  2004-09-23 10:47:37 2004-09-23 10:49:29     17,42      0.003194
45000  2004-09-23 11:10:06 2004-09-23 11:10:29     17,42      0.014317
45178  2004-09-23 11:21:24 2004-09-23 11:21:47     17,42      0.007581
45263  2004-09-23 11:24:45 2004-09-23 11:25:08     17,42      0.002060
...                    ...                 ...       ...           ...
535728 2004-12-02 11:58:24 2004-12-02 11:59:12     17,42      0.006262
535788 2004-12-02 12:00:26 2004-12-02 12:00:33     17,42      0.000856
535840 2004-12-02 12:01:13 2004-12-02 12:01:38     17,42      0.000463
535869 2004-12-02 12:01:53 2004-12-02 12:02:02     17,42      0.000174
536286 2004-12-02 12:15:23 2004-12-02 12:16:11     17,42      0.009271

[692 rows x 4 columns]
17,43
                     start                 end id_colums  intercontact
46610  2004-09-23 12:44:42 2004-09-23 12:44:50     17,43           NaN
46680  2004-09-23 12:47:07 2004-09-23 12:47:49     17,43      0.001586
46741  2004-09-23 12:54:26 2004-09-23 12:54:57     17,43      0.004595
46784  2004-09-23 12:56:39 2004-09-23 12:56:46     17,43      0.001181
46799  2004-09-23 12:57:10 2004-09-23 12:57:11     17,43      0.000278
...                    ...                 ...       ...           ...
553297 2004-12-04 14:41:40 2004-12-04 14:42:11     17,43      0.173137
553363 2004-12-04 14:58:55 2004-12-04 15:00:10     17,43      0.011620
554970 2004-12-05 08:23:51 2004-12-05 08:24:07     17,43      0.724780
554990 2004-12-05 08:31:23 2004-12-05 08:33:44     17,43      0.005046
560169 2004-12-06 06:41:30 2004-12-06 06:41:37     17,43      0.922060

[927 rows x 4 columns]
17,44
                     start                 end id_colums  intercontact
46267  2004-09-23 12:26:23 2004-09-23 12:26:52     17,44           NaN
46411  2004-09-23 12:34:00 2004-09-23 12:34:26     17,44      0.004954
46458  2004-09-23 12:36:55 2004-09-23 12:38:47     17,44      0.001725
46603  2004-09-23 12:44:36 2004-09-23 12:44:50     17,44      0.004039
46665  2004-09-23 12:46:19 2004-09-23 12:46:40     17,44      0.001030
...                    ...                 ...       ...           ...
692232 2005-01-27 04:29:49 2005-01-27 04:30:00     17,44      0.763287
692492 2005-01-27 05:56:18 2005-01-27 05:56:27     17,44      0.059931
692558 2005-01-27 06:08:24 2005-01-27 06:08:36     17,44      0.008299
692631 2005-01-27 06:15:47 2005-01-27 06:16:05     17,44      0.004988
694065 2005-01-27 10:14:37 2005-01-27 10:14:59     17,44      0.165648

[1075 rows x 4 columns]
17,45
                     start                 end id_colums  intercontact
24519  2004-09-16 08:11:37 2004-09-16 08:11:45     17,45           NaN
24742  2004-09-16 08:57:09 2004-09-16 08:59:19     17,45      0.031528
25031  2004-09-16 10:12:07 2004-09-16 10:12:12     17,45      0.050556
25666  2004-09-16 12:23:37 2004-09-16 12:23:39     17,45      0.091262
25838  2004-09-16 12:36:18 2004-09-16 12:37:29     17,45      0.008785
...                    ...                 ...       ...           ...
671474 2005-01-14 15:29:42 2005-01-14 15:30:02     17,45      0.000833
671504 2005-01-14 15:47:30 2005-01-14 15:48:03     17,45      0.012130
671511 2005-01-14 15:49:59 2005-01-14 15:50:22     17,45      0.001343
671532 2005-01-14 15:59:49 2005-01-14 15:59:57     17,45      0.006562
671542 2005-01-14 16:03:19 2005-01-14 16:04:22     17,45      0.002338

[434 rows x 4 columns]
17,46
                     start                 end id_colums  intercontact
309817 2004-11-04 08:48:40 2004-11-04 08:48:42     17,46           NaN
309841 2004-11-04 08:51:14 2004-11-04 08:51:56     17,46      0.001759
309878 2004-11-04 08:52:36 2004-11-04 08:53:17     17,46      0.000463
310008 2004-11-04 08:58:20 2004-11-04 09:03:16     17,46      0.003507
310253 2004-11-04 09:22:07 2004-11-04 09:22:12     17,46      0.013090
...                    ...                 ...       ...           ...
785424 2005-05-04 14:08:29 2005-05-04 14:17:18     17,46      0.000382
785429 2005-05-04 14:20:40 2005-05-04 14:20:57     17,46      0.002338
785442 2005-05-04 14:34:47 2005-05-04 14:37:50     17,46      0.009606
785443 2005-05-04 14:37:50 2005-05-04 14:37:51     17,46      0.000000
785444 2005-05-04 14:38:40 2005-05-04 14:39:37     17,46      0.000567

[1521 rows x 4 columns]
17,53
                     start                 end id_colums  intercontact
310250 2004-11-04 09:22:07 2004-11-04 09:22:12     17,53           NaN
310465 2004-11-04 09:34:49 2004-11-04 09:34:51     17,53      0.008762
310517 2004-11-04 09:40:06 2004-11-04 09:40:08     17,53      0.003646
310824 2004-11-04 10:05:00 2004-11-04 10:05:02     17,53      0.017269
310915 2004-11-04 10:10:38 2004-11-04 10:10:39     17,53      0.003889
...                    ...                 ...       ...           ...
678112 2005-01-19 07:13:39 2005-01-19 07:15:27     17,53      0.001481
678448 2005-01-19 07:53:33 2005-01-19 07:54:24     17,53      0.026458
678949 2005-01-19 09:01:40 2005-01-19 09:02:47     17,53      0.046713
678978 2005-01-19 09:03:42 2005-01-19 09:03:52     17,53      0.000637
679022 2005-01-19 09:09:14 2005-01-19 09:16:45     17,53      0.003727

[453 rows x 4 columns]
17,54
                     start                 end id_colums  intercontact
32876  2004-09-20 10:09:25 2004-09-20 10:09:27     17,54           NaN
32942  2004-09-20 10:18:23 2004-09-20 10:18:25     17,54      0.006204
33130  2004-09-20 10:40:10 2004-09-20 10:40:18     17,54      0.015104
33133  2004-09-20 10:40:48 2004-09-20 10:42:23     17,54      0.000347
33154  2004-09-20 10:46:08 2004-09-20 10:46:20     17,54      0.002604
...                    ...                 ...       ...           ...
649165 2004-12-29 14:41:09 2004-12-29 14:44:11     17,54      0.103669
649171 2004-12-29 18:04:10 2004-12-29 18:10:12     17,54      0.138877
649172 2004-12-29 18:27:30 2004-12-29 18:27:43     17,54      0.012014
649173 2004-12-29 18:33:37 2004-12-29 18:34:20     17,54      0.004097
649174 2004-12-29 18:42:46 2004-12-29 18:47:46     17,54      0.005856

[1304 rows x 4 columns]
17,55
                     start                 end id_colums  intercontact
44426  2004-09-23 10:40:38 2004-09-23 10:40:42     17,55           NaN
44931  2004-09-23 11:05:48 2004-09-23 11:06:34     17,55      0.017431
45055  2004-09-23 11:12:20 2004-09-23 11:13:43     17,55      0.004005
45198  2004-09-23 11:21:57 2004-09-23 11:23:57     17,55      0.005718
45344  2004-09-23 11:29:13 2004-09-23 11:29:32     17,55      0.003657
...                    ...                 ...       ...           ...
783760 2005-05-01 15:47:53 2005-05-01 15:50:23     17,55      0.000486
783770 2005-05-01 16:18:49 2005-05-01 16:18:57     17,55      0.019745
783771 2005-05-01 16:19:33 2005-05-01 16:22:25     17,55      0.000417
783774 2005-05-01 16:30:44 2005-05-01 16:32:51     17,55      0.005775
783775 2005-05-01 16:35:12 2005-05-01 16:35:22     17,55      0.001632

[1680 rows x 4 columns]
17,56
                     start                 end id_colums  intercontact
24487  2004-09-16 08:08:15 2004-09-16 08:08:26     17,56           NaN
24536  2004-09-16 08:19:53 2004-09-16 08:20:13     17,56      0.007951
24540  2004-09-16 08:20:14 2004-09-16 08:21:16     17,56      0.000012
25036  2004-09-16 10:12:07 2004-09-16 10:12:12     17,56      0.076979
25095  2004-09-16 10:27:48 2004-09-16 10:27:49     17,56      0.010833
...                    ...                 ...       ...           ...
269615 2004-10-31 10:43:33 2004-10-31 10:44:39     17,56      0.003472
269639 2004-10-31 10:47:09 2004-10-31 10:47:15     17,56      0.001736
269671 2004-10-31 10:52:57 2004-10-31 10:54:04     17,56      0.003958
269714 2004-10-31 10:58:12 2004-10-31 10:58:29     17,56      0.002870
269769 2004-10-31 11:12:19 2004-10-31 11:13:02     17,56      0.009606

[492 rows x 4 columns]
17,58
                     start                 end id_colums  intercontact
141118 2004-10-12 10:25:15 2004-10-12 10:25:17     17,58           NaN
141919 2004-10-12 11:15:52 2004-10-12 11:16:49     17,58      0.035127
141942 2004-10-12 11:17:02 2004-10-12 11:17:19     17,58      0.000150
142416 2004-10-12 11:46:45 2004-10-12 11:46:58     17,58      0.020440
142443 2004-10-12 11:48:00 2004-10-12 11:53:25     17,58      0.000718
...                    ...                 ...       ...           ...
651920 2005-01-04 12:10:43 2005-01-04 12:11:12     17,58      0.002731
651923 2005-01-04 12:11:21 2005-01-04 12:11:39     17,58      0.000104
651942 2005-01-04 12:18:13 2005-01-04 12:18:51     17,58      0.004560
651972 2005-01-04 12:26:12 2005-01-04 12:29:25     17,58      0.005104
651974 2005-01-04 12:30:32 2005-01-04 12:31:57     17,58      0.000775

[723 rows x 4 columns]
17,59
                     start                 end id_colums  intercontact
1304   2004-08-13 13:43:57 2004-08-13 13:43:59     17,59           NaN
1316   2004-08-13 13:48:48 2004-08-13 13:49:26     17,59      0.003345
1330   2004-08-13 14:06:59 2004-08-13 14:07:20     17,59      0.012188
1493   2004-08-15 20:11:37 2004-08-15 20:11:55     17,59      2.252975
201244 2004-10-20 09:37:19 2004-10-20 09:37:25     17,59     65.559306
...                    ...                 ...       ...           ...
742737 2005-03-11 10:27:08 2005-03-11 10:29:44     17,59      0.000556
742783 2005-03-11 10:34:35 2005-03-11 10:34:58     17,59      0.003368
743013 2005-03-11 11:09:51 2005-03-11 11:10:18     17,59      0.024225
747125 2005-03-15 11:56:06 2005-03-15 11:56:07     17,59      4.031806
747133 2005-03-15 11:57:23 2005-03-15 11:57:27     17,59      0.000880

[281 rows x 4 columns]
17,60
                     start                 end id_colums  intercontact
24528  2004-09-16 08:16:28 2004-09-16 08:16:42     17,60           NaN
24538  2004-09-16 08:20:14 2004-09-16 08:21:16     17,60      0.002454
25033  2004-09-16 10:12:07 2004-09-16 10:12:12     17,60      0.076979
25246  2004-09-16 11:08:29 2004-09-16 11:08:31     17,60      0.039086
25620  2004-09-16 12:16:38 2004-09-16 12:16:40     17,60      0.047303
...                    ...                 ...       ...           ...
783624 2005-04-30 07:41:36 2005-04-30 07:42:20     17,60      0.002812
783650 2005-04-30 11:41:47 2005-04-30 11:56:29     17,60      0.166285
783653 2005-04-30 12:48:55 2005-04-30 12:51:06     17,60      0.036412
783659 2005-04-30 13:22:52 2005-04-30 13:25:27     17,60      0.022060
783669 2005-04-30 14:29:10 2005-04-30 14:30:09     17,60      0.044248

[1343 rows x 4 columns]
17,61
                     start                 end id_colums  intercontact
44967  2004-09-23 11:08:13 2004-09-23 11:08:22     17,61           NaN
45070  2004-09-23 11:13:10 2004-09-23 11:13:21     17,61      0.003333
45196  2004-09-23 11:21:54 2004-09-23 11:22:15     17,61      0.005938
45400  2004-09-23 11:31:50 2004-09-23 11:32:02     17,61      0.006655
45521  2004-09-23 11:37:29 2004-09-23 11:37:56     17,61      0.003785
...                    ...                 ...       ...           ...
557206 2004-12-05 14:52:33 2004-12-05 14:53:45     17,61      0.010081
557251 2004-12-05 15:01:20 2004-12-05 15:01:31     17,61      0.005266
557292 2004-12-05 15:08:37 2004-12-05 15:08:39     17,61      0.004931
557437 2004-12-05 15:33:39 2004-12-05 15:33:40     17,61      0.017361
565657 2004-12-06 11:36:04 2004-12-06 11:36:36     17,61      0.835000

[177 rows x 4 columns]
17,62
                     start                 end id_colums  intercontact
53086  2004-09-24 10:03:08 2004-09-24 10:03:29     17,62           NaN
55621  2004-09-24 16:27:47 2004-09-24 16:28:09     17,62      0.266875
55686  2004-09-24 17:06:09 2004-09-24 17:06:20     17,62      0.026389
60759  2004-09-27 09:24:53 2004-09-27 09:25:46     17,62      2.679549
60797  2004-09-27 09:27:36 2004-09-27 09:27:58     17,62      0.001273
...                    ...                 ...       ...           ...

18,30
                     start                 end id_colums  intercontact
12725  2004-09-09 13:19:39 2004-09-09 13:19:59     18,30           NaN
12810  2004-09-09 14:11:27 2004-09-09 14:11:29     18,30      0.035741
12837  2004-09-09 14:17:14 2004-09-09 14:17:25     18,30      0.003993
12843  2004-09-09 14:20:07 2004-09-09 14:20:21     18,30      0.001875
13607  2004-09-10 07:24:18 2004-09-10 07:24:53     18,30      0.711076
...                    ...                 ...       ...           ...
295295 2004-11-02 19:47:01 2004-11-02 19:48:32     18,30      0.022998
295316 2004-11-02 20:01:34 2004-11-02 20:02:17     18,30      0.009051
299093 2004-11-03 08:44:01 2004-11-03 08:44:12     18,30      0.528981
299122 2004-11-03 08:45:09 2004-11-03 08:45:20     18,30      0.000660
299395 2004-11-03 08:59:41 2004-11-03 09:00:01     18,30      0.009965

[480 rows x 4 columns]
18,32
                     start                 end id_colums  intercontact
25310  2004-09-16 11:16:38 2004-09-16 11:17:26     18,32           NaN
25321  2004-09-16 11:23:35 2004-09-16 11:23:37     18,32      0.004271
25368  2004-09-16 11:37:23 2004-09-16 11:37:31     18,32      0.009560
25874  2004-09-16 12:40:14 2004-09-16 12:40:19     18,32      0.043553
27066  2004-09-17 06:17:52 2004-09-17 06:17:59     18,32      0.734410
...                    ...                 ...       ...           ...
785904 2005-05-23 11:05:38 2005-05-23 11:05:48     18,32      8.053194
785907 2005-05-23 13:58:35 2005-05-23 13:59:00     18,32      0.119988
785926 2005-05-24 14:22:27 2005-05-24 14:23:02     18,32      1.016285
785927 2005-05-24 16:05:03 2005-05-24 16:05:04     18,32      0.070845
785928 2005-05-24 16:32:56 2005-05-24 16:33:41     18,32      0.019352

[552 rows x 4 columns]
18,35
                     start                 end id_colums  intercontact
280594 2004-11-01 13:44:34 2004-11-01 13:45:50     18,35           NaN
280614 2004-11-01 13:46:20 2004-11-01 13:46:35     18,35      0.000347
280651 2004-11-01 13:48:23 2004-11-01 13:48:51     18,35      0.001250
280952 2004-11-01 14:19:48 2004-11-01 14:20:08     18,35      0.021493
281029 2004-11-01 14:23:15 2004-11-01 14:23:25     18,35      0.002164
...                    ...                 ...       ...           ...
567980 2004-12-06 14:33:26 2004-12-06 14:35:56     18,35      0.003600
568016 2004-12-06 14:39:46 2004-12-06 14:44:22     18,35      0.002662
568183 2004-12-06 15:16:41 2004-12-06 15:17:11     18,35      0.022442
568197 2004-12-06 15:17:22 2004-12-06 15:18:15     18,35      0.000127
568291 2004-12-06 15:31:44 2004-12-06 15:32:01     18,35      0.009363

[532 rows x 4 columns]
18,40
                     start                 end id_colums  intercontact
43894  2004-09-23 10:12:57 2004-09-23 10:13:11     18,40           NaN
44459  2004-09-23 10:42:30 2004-09-23 10:42:32     18,40      0.020359
45918  2004-09-23 12:03:00 2004-09-23 12:03:11     18,40      0.055880
46038  2004-09-23 12:07:39 2004-09-23 12:09:32     18,40      0.003102
50339  2004-09-24 06:26:26 2004-09-24 06:26:53     18,40      0.761736
...                    ...                 ...       ...           ...
786115 2005-06-10 09:45:55 2005-06-10 09:47:09     18,40      0.029306
786124 2005-06-10 11:33:09 2005-06-10 12:25:14     18,40      0.073611
786168 2005-06-11 18:27:48 2005-06-11 18:30:00     18,40      1.251782
786293 2005-06-20 09:11:17 2005-06-20 09:20:25     18,40      8.612002
786300 2005-06-22 16:13:31 2005-06-22 16:13:32     18,40      2.286875

[1178 rows x 4 columns]
18,42
                     start                 end id_colums  intercontact
43531  2004-09-23 09:56:20 2004-09-23 09:56:48     18,42           NaN
43635  2004-09-23 09:59:23 2004-09-23 09:59:44     18,42      0.001794
43654  2004-09-23 09:59:50 2004-09-23 10:00:10     18,42      0.000069
44042  2004-09-23 10:19:18 2004-09-23 10:20:00     18,42      0.013287
44160  2004-09-23 10:25:29 2004-09-23 10:26:06     18,42      0.003808
...                    ...                 ...       ...           ...
537485 2004-12-02 13:22:55 2004-12-02 13:24:22     18,42      0.000394
538185 2004-12-02 15:16:16 2004-12-02 15:16:51     18,42      0.077708
552474 2004-12-04 11:08:39 2004-12-04 11:08:43     18,42      1.827639
553096 2004-12-04 13:47:06 2004-12-04 13:49:06     18,42      0.109988
553172 2004-12-04 14:07:54 2004-12-04 14:08:57     18,42      0.013056

[797 rows x 4 columns]
18,43
                     start                 end id_colums  intercontact
43455  2004-09-23 09:54:57 2004-09-23 09:55:31     18,43           NaN
43514  2004-09-23 09:55:52 2004-09-23 09:56:03     18,43      0.000243
43527  2004-09-23 09:56:14 2004-09-23 09:56:20     18,43      0.000127
43536  2004-09-23 09:56:29 2004-09-23 09:56:48     18,43      0.000104
43545  2004-09-23 09:57:15 2004-09-23 09:58:30     18,43      0.000313
...                    ...                 ...       ...           ...
556165 2004-12-05 11:19:29 2004-12-05 11:29:42     18,43      0.041331
556565 2004-12-05 12:38:58 2004-12-05 12:40:25     18,43      0.048102
557630 2004-12-05 16:46:53 2004-12-05 16:47:00     18,43      0.171157
557644 2004-12-05 16:53:43 2004-12-05 16:53:57     18,43      0.004664
557806 2004-12-05 19:30:16 2004-12-05 19:32:03     18,43      0.108553

[1087 rows x 4 columns]
18,44
                     start                 end id_colums  intercontact
44000  2004-09-23 10:17:45 2004-09-23 10:19:09     18,44           NaN
44098  2004-09-23 10:23:02 2004-09-23 10:23:18     18,44      0.002697
44192  2004-09-23 10:26:46 2004-09-23 10:27:00     18,44      0.002407
44239  2004-09-23 10:28:09 2004-09-23 10:28:27     18,44      0.000799
44274  2004-09-23 10:29:41 2004-09-23 10:30:07     18,44      0.000856
...                    ...                 ...       ...           ...
691128 2005-01-26 09:43:46 2005-01-26 09:43:58     18,44      0.552917
691154 2005-01-26 09:51:57 2005-01-26 09:55:42     18,44      0.005544
691211 2005-01-26 10:10:01 2005-01-26 10:19:15     18,44      0.009942
691799 2005-01-26 14:22:20 2005-01-26 14:22:30     18,44      0.168808
694075 2005-01-27 10:14:46 2005-01-27 10:14:59     18,44      0.827963

[826 rows x 4 columns]
18,45
                     start                 end id_colums  intercontact
24365  2004-09-16 07:52:55 2004-09-16 07:53:40     18,45           NaN
24433  2004-09-16 08:01:08 2004-09-16 08:01:33     18,45      0.005185
24567  2004-09-16 08:21:44 2004-09-16 08:21:48     18,45      0.014016
24647  2004-09-16 08:44:50 2004-09-16 08:44:52     18,45      0.015995
24861  2004-09-16 09:27:40 2004-09-16 09:29:23     18,45      0.029722
...                    ...                 ...       ...           ...
670382 2005-01-14 10:16:10 2005-01-14 10:21:32     18,45      0.028380
670632 2005-01-14 11:09:51 2005-01-14 11:10:39     18,45      0.033553
670812 2005-01-14 12:18:49 2005-01-14 12:20:21     18,45      0.047338
671166 2005-01-14 13:28:02 2005-01-14 13:31:25     18,45      0.047002
671322 2005-01-14 14:25:13 2005-01-14 14:25:45     18,45      0.037361

[401 rows x 4 columns]
18,46
                     start                 end id_colums  intercontact
301416 2004-11-03 10:49:19 2004-11-03 10:49:21     18,46           NaN
301921 2004-11-03 11:20:35 2004-11-03 11:20:36     18,46      0.021690
301966 2004-11-03 11:25:03 2004-11-03 11:25:05     18,46      0.003090
302033 2004-11-03 11:31:28 2004-11-03 11:32:30     18,46      0.004433
302109 2004-11-03 11:36:25 2004-11-03 11:39:15     18,46      0.002720
...                    ...                 ...       ...           ...
785192 2005-05-04 09:57:18 2005-05-04 09:57:38     18,46      0.876053
785194 2005-05-04 09:57:53 2005-05-04 09:58:16     18,46      0.000174
785203 2005-05-04 10:00:12 2005-05-04 10:01:16     18,46      0.001343
785275 2005-05-04 10:41:03 2005-05-04 10:41:14     18,46      0.027627
785392 2005-05-04 12:46:14 2005-05-04 12:47:05     18,46      0.086806

[1554 rows x 4 columns]
18,53
                     start                 end id_colums  intercontact
281023 2004-11-01 14:23:06 2004-11-01 14:23:25     18,53           NaN
281039 2004-11-01 14:24:44 2004-11-01 14:25:43     18,53      0.000914
281122 2004-11-01 14:34:01 2004-11-01 14:34:25     18,53      0.005764
281127 2004-11-01 14:34:32 2004-11-01 14:34:54     18,53      0.000081
281783 2004-11-01 16:56:42 2004-11-01 16:57:02     18,53      0.098472
...                    ...                 ...       ...           ...
678986 2005-01-19 09:05:26 2005-01-19 09:06:01     18,53      0.001088
679001 2005-01-19 09:06:54 2005-01-19 09:07:13     18,53      0.000613
679020 2005-01-19 09:08:48 2005-01-19 09:09:14     18,53      0.001100
679027 2005-01-19 09:09:28 2005-01-19 09:09:41     18,53      0.000162
679103 2005-01-19 09:19:43 2005-01-19 09:20:12     18,53      0.006968

[564 rows x 4 columns]
18,54
                     start                 end id_colums  intercontact
32894  2004-09-20 10:12:04 2004-09-20 10:12:13     18,54           NaN
32996  2004-09-20 10:26:42 2004-09-20 10:26:44     18,54      0.010058
33153  2004-09-20 10:46:08 2004-09-20 10:46:17     18,54      0.013472
33157  2004-09-20 10:46:20 2004-09-20 10:47:00     18,54      0.000035
33164  2004-09-20 10:47:20 2004-09-20 10:48:08     18,54      0.000231
...                    ...                 ...       ...           ...
632329 2004-12-15 11:52:08 2004-12-15 11:52:36     18,54      0.002477
632365 2004-12-15 11:54:22 2004-12-15 11:54:23     18,54      0.001227
632575 2004-12-15 12:07:28 2004-12-15 12:08:44     18,54      0.009086
634418 2004-12-15 15:58:18 2004-12-15 15:58:41     18,54      0.159421
685539 2005-01-23 17:47:07 2005-01-23 17:47:24     18,54     39.075301

[1516 rows x 4 columns]
18,55
                     start                 end id_colums  intercontact
43274  2004-09-23 09:46:18 2004-09-23 09:46:35     18,55           NaN
43278  2004-09-23 09:46:40 2004-09-23 09:46:50     18,55      0.000058
43374  2004-09-23 09:50:28 2004-09-23 09:51:09     18,55      0.002523
43494  2004-09-23 09:55:31 2004-09-23 09:55:54     18,55      0.003032
43523  2004-09-23 09:56:03 2004-09-23 09:56:12     18,55      0.000104
...                    ...                 ...       ...           ...
761984 2005-03-28 10:47:37 2005-03-28 10:47:45     18,55      0.000556
761989 2005-03-28 10:48:22 2005-03-28 10:48:24     18,55      0.000428
762091 2005-03-28 11:22:07 2005-03-28 11:22:40     18,55      0.023414
762401 2005-03-28 13:28:00 2005-03-28 13:29:10     18,55      0.087037
781360 2005-04-26 12:24:50 2005-04-26 15:02:22     18,55     28.955324

[1646 rows x 4 columns]
18,56
                     start                 end id_colums  intercontact
24224  2004-09-16 07:30:38 2004-09-16 07:34:27     18,56           NaN
24438  2004-09-16 08:01:08 2004-09-16 08:01:33     18,56      0.018530
24574  2004-09-16 08:21:44 2004-09-16 08:21:48     18,56      0.014016
24640  2004-09-16 08:40:02 2004-09-16 08:40:04     18,56      0.012662
24664  2004-09-16 08:51:07 2004-09-16 08:51:35     18,56      0.007674
...                    ...                 ...       ...           ...
292419 2004-11-02 12:27:59 2004-11-02 12:28:12     18,56      0.002083
292434 2004-11-02 12:28:28 2004-11-02 12:29:19     18,56      0.000185
292874 2004-11-02 12:52:15 2004-11-02 12:52:31     18,56      0.015926
292982 2004-11-02 12:57:04 2004-11-02 12:57:07     18,56      0.003160
293009 2004-11-02 12:59:17 2004-11-02 12:59:40     18,56      0.001505

[525 rows x 4 columns]
18,58
                     start                 end id_colums  intercontact
141176 2004-10-12 10:32:39 2004-10-12 10:32:40     18,58           NaN
142419 2004-10-12 11:46:48 2004-10-12 11:46:58     18,58      0.051481
142474 2004-10-12 11:50:29 2004-10-12 11:50:57     18,58      0.002442
143041 2004-10-12 12:15:23 2004-10-12 12:15:44     18,58      0.016968
143300 2004-10-12 12:25:08 2004-10-12 12:25:53     18,58      0.006528
...                    ...                 ...       ...           ...
656385 2005-01-06 18:05:25 2005-01-06 18:05:41     18,58      0.027234
656393 2005-01-06 18:37:58 2005-01-06 18:38:10     18,58      0.022419
656407 2005-01-06 19:01:31 2005-01-06 19:02:43     18,58      0.016215
656414 2005-01-06 19:33:32 2005-01-06 19:33:44     18,58      0.021400
656485 2005-01-07 02:38:44 2005-01-07 02:38:54     18,58      0.295139

[851 rows x 4 columns]
18,59
                     start                 end id_colums  intercontact
201012 2004-10-20 09:03:58 2004-10-20 09:04:06     18,59           NaN
201185 2004-10-20 09:32:40 2004-10-20 09:32:42     18,59      0.019838
205534 2004-10-21 03:16:54 2004-10-21 03:17:08     18,59      0.739028
210977 2004-10-21 13:11:56 2004-10-21 13:12:00     18,59      0.413056
210998 2004-10-21 13:13:33 2004-10-21 13:13:45     18,59      0.001076
...                    ...                 ...       ...           ...
742761 2005-03-11 10:29:52 2005-03-11 10:30:11     18,59      0.003981
742765 2005-03-11 10:30:32 2005-03-11 10:31:15     18,59      0.000243
745006 2005-03-14 08:58:27 2005-03-14 08:58:53     18,59      2.935556
745625 2005-03-14 14:21:49 2005-03-14 14:22:14     18,59      0.224259
745627 2005-03-14 14:22:39 2005-03-14 14:22:57     18,59      0.000289

[229 rows x 4 columns]
18,60
                     start                 end id_colums  intercontact
24343  2004-09-16 07:50:56 2004-09-16 07:51:43     18,60           NaN
24566  2004-09-16 08:21:44 2004-09-16 08:21:48     18,60      0.020845
24646  2004-09-16 08:44:50 2004-09-16 08:44:52     18,60      0.015995
24714  2004-09-16 08:53:56 2004-09-16 08:54:43     18,60      0.006296
24962  2004-09-16 09:47:35 2004-09-16 09:50:59     18,60      0.036713
...                    ...                 ...       ...           ...
779742 2005-04-21 16:42:14 2005-04-21 16:42:15     18,60      0.016412
779853 2005-04-21 18:19:49 2005-04-21 18:20:02     18,60      0.067755
780062 2005-04-22 09:32:03 2005-04-22 09:32:48     18,60      0.633345
780112 2005-04-22 11:17:31 2005-04-22 11:17:48     18,60      0.072720
780157 2005-04-22 11:50:06 2005-04-22 12:11:57     18,60      0.022431

[1024 rows x 4 columns]
18,61
                     start                 end id_colums  intercontact
43272  2004-09-23 09:46:18 2004-09-23 09:46:22     18,61           NaN
43277  2004-09-23 09:46:35 2004-09-23 09:47:59     18,61      0.000150
43358  2004-09-23 09:49:43 2004-09-23 09:49:46     18,61      0.001204
43490  2004-09-23 09:55:31 2004-09-23 09:56:03     18,61      0.003993
43539  2004-09-23 09:57:08 2004-09-23 09:58:48     18,61      0.000752
...                    ...                 ...       ...           ...
566990 2004-12-06 12:59:19 2004-12-06 13:00:36     18,61      0.000139
567002 2004-12-06 13:00:55 2004-12-06 13:03:13     18,61      0.000220
567044 2004-12-06 13:03:32 2004-12-06 13:03:35     18,61      0.000220
567092 2004-12-06 13:07:08 2004-12-06 13:07:33     18,61      0.002465
567754 2004-12-06 14:03:46 2004-12-06 14:04:47     18,61      0.039039

[441 rows x 4 columns]
18,62
                     start                 end id_colums  intercontact
53130  2004-09-24 10:04:33 2004-09-24 10:04:34     18,62           NaN
53200  2004-09-24 10:07:39 2004-09-24 10:07:42     18,62      0.002141
53272  2004-09-24 10:11:42 2004-09-24 10:12:40     18,62      0.002778
53283  2004-09-24 10:12:41 2004-09-24 10:13:00     18,62      0.000012
53312  2004-09-24 10:15:01 2004-09-24 10:16:43     18,62      0.001400
...                    ...                 ...       ...           ...
552908 2004-12-04 12:38:09 2004-12-04 12:38:10     18,62      0.004259
556263 2004-12-05 11:29:44 2004-12-05 11:30:11     18,62      0.952477
557647 2004-12-05 16:53:52 2004-12-05 16:53:57     18,62      0.224780
561562 2004-12-06 07:58:15 2004-12-06 07:59:08     18,62      0.627986
561621 2004-12-06 08:00:41 2004-12-06 08:00:43     18,62      0.001076

[800 rows x 4 columns]
18,66
                     start                 end id_colums  intercontact
43082  2004-09-23 09:21:13 2004-09-23 09:22:01     18,66           NaN
43299  2004-09-23 09:48:31 2004-09-23 09:49:24     18,66      0.018403
43496  2004-09-23 09:55:31 2004-09-23 09:56:03     18,66      0.004248
43570  2004-09-23 09:57:41 2004-09-23 09:58:18     18,66      0.001134
43647  2004-09-23 09:59:50 2004-09-23 10:00:12     18,66      0.001065
...                    ...                 ...       ...           ...
785364 2005-05-04 11:53:20 2005-05-04 11:53:40     18,66      0.051447
785368 2005-05-04 11:56:13 2005-05-04 11:57:00     18,66      0.001771
785371 2005-05-04 12:02:03 2005-05-04 12:02:15     18,66      0.003507
785384 2005-05-04 12:23:06 2005-05-04 12:24:52     18,66      0.014479
785389 2005-05-04 12:35:11 2005-05-04 12:35:34     18,66      0.007164

[1627 rows x 4 columns]
18,68
                     start                 end id_colums  intercontact
177636 2004-10-18 06:35:09 2004-10-18 06:35:13     18,68           NaN
179924 2004-10-18 08:50:22 2004-10-18 08:50:31     18,68      0.093854
179940 2004-10-18 08:51:52 2004-10-18 08:51:54     18,68      0.000937
184153 2004-10-18 14:39:35 2004-10-18 14:41:16     18,68      0.241447
184468 2004-10-18 15:27:20 2004-10-18 15:27:54     18,68      0.031991
...                    ...                 ...       ...           ...
767395 2005-03-30 17:32:23 2005-03-30 17:32:44     18,68      0.018565
767403 2005-03-30 18:44:27 2005-03-30 18:47:02     18,68      0.049803
767404 2005-03-30 18:54:25 2005-03-30 18:56:44     18,68      0.005127
767723 2005-03-31 07:28:53 2005-03-31 07:29:14     18,68      0.522326
768361 2005-03-31 13:29:03 2005-03-31 13:29:39     18,68      0.249873

[613 rows x 4 columns]
18,69
                     start                 end id_colums  intercontact
120402 2004-10-07 08:52:45 2004-10-07 08:53:15     18,69           NaN
121353 2004-10-07 09:38:24 2004-10-07 09:39:20     18,69      0.031354
121610 2004-10-07 09:50:30 2004-10-07 09:50:32     18,69      0.007755
121680 2004-10-07 09:56:02 2004-10-07 09:58:13     18,69      0.003819
125887 2004-10-07 14:48:06 2004-10-07 14:49:18     18,69      0.201308
...                    ...                 ...       ...           ...
467294 2004-11-23 12:41:24 2004-11-23 12:42:15     18,69      0.000567
467332 2004-11-23 12:42:21 2004-11-23 12:42:45     18,69      0.000069
467404 2004-11-23 12:45:05 2004-11-23 12:45:14     18,69      0.001620
467715 2004-11-23 12:55:36 2004-11-23 12:56:08     18,69      0.007199
467771 2004-11-23 12:57:13 2004-11-23 12:59:28     18,69      0.000752

[544 rows x 4 columns]
18,70
                     start                 end id_colums  intercontact
668848 2005-01-14 05:02:26 2005-01-14 05:02:48     18,70           NaN
668851 2005-01-14 05:04:36 2005-01-14 05:05:02     18,70      0.001250
669003 2005-01-14 05:37:58 2005-01-14 05:38:31     18,70      0.022870
669252 2005-01-14 07:21:18 2005-01-14 07:21:19     18,70      0.071377
669274 2005-01-14 07:24:59 2005-01-14 07:25:59     18,70      0.002546
...                    ...                 ...       ...           ...
730488 2005-03-02 09:30:25 2005-03-02 09:30:35     18,70      0.007546
730509 2005-03-02 09:30:35 2005-03-02 09:30:38     18,70      0.000000
732908 2005-03-03 09:15:32 2005-03-03 09:19:45     18,70      0.989514
733021 2005-03-03 09:35:05 2005-03-03 09:35:30     18,70      0.010648
733304 2005-03-03 10:13:52 2005-03-03 10:15:42     18,70      0.026644

[233 rows x 4 columns]
18,71
                     start                 end id_colums  intercontact
110253 2004-10-06 06:54:54 2004-10-06 06:55:44     18,71           NaN
110803 2004-10-06 07:53:10 2004-10-06 07:53:39     18,71      0.039884
111573 2004-10-06 08:56:54 2004-10-06 08:57:05     18,71      0.043924
112294 2004-10-06 09:57:58 2004-10-06 09:58:03     18,71      0.042280
112368 2004-10-06 10:00:51 2004-10-06 10:02:23     18,71      0.001944
...                    ...                 ...       ...           ...
772387 2005-04-07 10:57:51 2005-04-07 10:58:16     18,71      0.002789

19,42
                     start                 end id_colums  intercontact
45725  2004-09-23 11:51:14 2004-09-23 11:51:32     19,42           NaN
46831  2004-09-23 12:59:59 2004-09-23 13:00:29     19,42      0.047535
46965  2004-09-23 13:05:29 2004-09-23 13:05:41     19,42      0.003472
47962  2004-09-23 15:08:31 2004-09-23 15:08:54     19,42      0.085301
48047  2004-09-23 15:19:36 2004-09-23 15:19:51     19,42      0.007431
...                    ...                 ...       ...           ...
537783 2004-12-02 13:54:22 2004-12-02 13:59:14     19,42      0.004711
537933 2004-12-02 14:17:01 2004-12-02 14:17:19     19,42      0.012350
537954 2004-12-02 14:18:58 2004-12-02 14:19:33     19,42      0.001146
553119 2004-12-04 13:49:06 2004-12-04 13:51:09     19,42      1.978854
553393 2004-12-04 15:07:48 2004-12-04 15:07:49     19,42      0.053229

[910 rows x 4 columns]
19,43
                     start                 end id_colums  intercontact
46607  2004-09-23 12:44:42 2004-09-23 12:45:34     19,43           NaN
46681  2004-09-23 12:47:14 2004-09-23 12:47:49     19,43      0.001157
46771  2004-09-23 12:56:08 2004-09-23 12:56:39     19,43      0.005775
46829  2004-09-23 12:59:54 2004-09-23 13:00:29     19,43      0.002257
46838  2004-09-23 13:00:44 2004-09-23 13:01:08     19,43      0.000174
...                    ...                 ...       ...           ...
559857 2004-12-06 06:19:55 2004-12-06 06:21:21     19,43      0.005532
560018 2004-12-06 06:27:36 2004-12-06 06:27:51     19,43      0.004340
560047 2004-12-06 06:28:57 2004-12-06 06:29:51     19,43      0.000764
560160 2004-12-06 06:40:52 2004-12-06 06:41:03     19,43      0.007650
560261 2004-12-06 06:47:25 2004-12-06 06:47:51     19,43      0.004421

[1194 rows x 4 columns]
19,44
                     start                 end id_colums  intercontact
43114  2004-09-23 09:26:24 2004-09-23 09:26:43     19,44           NaN
45696  2004-09-23 11:50:21 2004-09-23 11:50:44     19,44      0.099745
46265  2004-09-23 12:26:23 2004-09-23 12:29:44     19,44      0.024757
46415  2004-09-23 12:34:07 2004-09-23 12:36:24     19,44      0.003044
46457  2004-09-23 12:36:55 2004-09-23 12:37:28     19,44      0.000359
...                    ...                 ...       ...           ...
673896 2005-01-17 09:28:16 2005-01-17 09:28:44     19,44      0.005243
673907 2005-01-17 09:31:06 2005-01-17 09:31:58     19,44      0.001644
674072 2005-01-17 10:08:03 2005-01-17 10:10:14     19,44      0.025058
674423 2005-01-17 12:14:14 2005-01-17 12:14:42     19,44      0.086111
674475 2005-01-17 12:28:05 2005-01-17 12:28:26     19,44      0.009294

[645 rows x 4 columns]
19,45
                     start                 end id_colums  intercontact
24363  2004-09-16 07:52:55 2004-09-16 07:53:40     19,45           NaN
25841  2004-09-16 12:36:18 2004-09-16 12:36:38     19,45      0.196273
25905  2004-09-16 12:42:22 2004-09-16 12:42:50     19,45      0.003981
26134  2004-09-16 13:32:43 2004-09-16 13:32:45     19,45      0.034641
26175  2004-09-16 13:43:27 2004-09-16 13:44:19     19,45      0.007431
...                    ...                 ...       ...           ...
670383 2005-01-14 10:16:10 2005-01-14 10:18:58     19,45      0.008183
670465 2005-01-14 10:33:49 2005-01-14 10:35:12     19,45      0.010313
671171 2005-01-14 13:28:02 2005-01-14 13:31:25     19,45      0.120023
671194 2005-01-14 13:33:14 2005-01-14 13:33:54     19,45      0.001262
671243 2005-01-14 13:43:53 2005-01-14 13:47:55     19,45      0.006933

[519 rows x 4 columns]
19,46
                     start                 end id_colums  intercontact
301688 2004-11-03 11:01:36 2004-11-03 11:06:32     19,46           NaN
301985 2004-11-03 11:27:05 2004-11-03 11:28:04     19,46      0.014271
302027 2004-11-03 11:31:28 2004-11-03 11:31:56     19,46      0.002361
302050 2004-11-03 11:32:30 2004-11-03 11:34:17     19,46      0.000394
302110 2004-11-03 11:36:25 2004-11-03 11:37:46     19,46      0.001481
...                    ...                 ...       ...           ...
674148 2005-01-17 10:32:00 2005-01-17 10:32:55     19,46      0.000185
674235 2005-01-17 10:47:00 2005-01-17 10:47:05     19,46      0.009780
674238 2005-01-17 10:47:17 2005-01-17 10:47:35     19,46      0.000139
674325 2005-01-17 11:12:58 2005-01-17 11:14:03     19,46      0.017627
674334 2005-01-17 11:14:48 2005-01-17 11:16:37     19,46      0.000521

[607 rows x 4 columns]
19,53
                     start                 end id_colums  intercontact
283974 2004-11-02 05:53:47 2004-11-02 05:53:49     19,53           NaN
286530 2004-11-02 08:33:06 2004-11-02 08:34:17     19,53      0.110613
286725 2004-11-02 08:42:06 2004-11-02 08:42:25     19,53      0.005428
286741 2004-11-02 08:42:56 2004-11-02 08:44:16     19,53      0.000359
286801 2004-11-02 08:49:16 2004-11-02 08:49:50     19,53      0.003472
...                    ...                 ...       ...           ...
669506 2005-01-14 07:45:12 2005-01-14 07:45:40     19,53      0.662454
669516 2005-01-14 07:45:54 2005-01-14 07:46:07     19,53      0.000162
669526 2005-01-14 07:46:46 2005-01-14 07:47:00     19,53      0.000451
669527 2005-01-14 07:47:08 2005-01-14 07:48:00     19,53      0.000093
669602 2005-01-14 07:53:22 2005-01-14 07:55:18     19,53      0.003727

[488 rows x 4 columns]
19,54
                     start                 end id_colums  intercontact
32884  2004-09-20 10:11:06 2004-09-20 10:11:22     19,54           NaN
33792  2004-09-20 11:42:00 2004-09-20 11:45:35     19,54      0.062940
33848  2004-09-20 11:49:40 2004-09-20 11:51:34     19,54      0.002836
33940  2004-09-20 11:56:23 2004-09-20 11:56:40     19,54      0.003345
33948  2004-09-20 11:56:41 2004-09-20 11:57:09     19,54      0.000012
...                    ...                 ...       ...           ...
633358 2004-12-15 13:09:37 2004-12-15 13:09:49     19,54      0.009873
633462 2004-12-15 13:20:34 2004-12-15 13:25:31     19,54      0.007465
638494 2004-12-16 11:45:39 2004-12-16 11:45:55     19,54      0.930648
638507 2004-12-16 11:46:14 2004-12-16 11:46:38     19,54      0.000220
638808 2004-12-16 12:21:53 2004-12-16 12:22:06     19,54      0.024479

[1128 rows x 4 columns]
19,55
                     start                 end id_colums  intercontact
45938  2004-09-23 12:03:15 2004-09-23 12:04:56     19,55           NaN
46525  2004-09-23 12:40:10 2004-09-23 12:40:29     19,55      0.024468
46542  2004-09-23 12:41:28 2004-09-23 12:42:22     19,55      0.000683
46636  2004-09-23 12:45:34 2004-09-23 12:46:44     19,55      0.002222
46688  2004-09-23 12:47:44 2004-09-23 12:48:03     19,55      0.000694
...                    ...                 ...       ...           ...
665348 2005-01-12 13:07:49 2005-01-12 13:07:51     19,55      0.141620
665360 2005-01-12 13:11:26 2005-01-12 13:12:07     19,55      0.002488
665586 2005-01-12 14:25:58 2005-01-12 14:26:06     19,55      0.051285
668136 2005-01-13 12:34:45 2005-01-13 12:35:03     19,55      0.922674
668189 2005-01-13 12:49:32 2005-01-13 12:49:53     19,55      0.010058

[1060 rows x 4 columns]
19,56
                     start                 end id_colums  intercontact
26440  2004-09-16 15:16:37 2004-09-16 15:16:57     19,56           NaN
27188  2004-09-17 07:02:39 2004-09-17 07:02:43     19,56      0.656736
27209  2004-09-17 07:03:15 2004-09-17 07:05:01     19,56      0.000370
27364  2004-09-17 07:29:04 2004-09-17 07:29:26     19,56      0.016701
27371  2004-09-17 07:30:37 2004-09-17 07:31:21     19,56      0.000822
...                    ...                 ...       ...           ...
291324 2004-11-02 11:30:16 2004-11-02 11:34:12     19,56      0.000313
291560 2004-11-02 11:44:29 2004-11-02 11:44:31     19,56      0.007141
292883 2004-11-02 12:52:33 2004-11-02 12:52:59     19,56      0.047245
292980 2004-11-02 12:57:04 2004-11-02 12:58:51     19,56      0.002836
293060 2004-11-02 13:04:08 2004-11-02 13:04:30     19,56      0.003669

[458 rows x 4 columns]
19,58
                     start                 end id_colums  intercontact
141918 2004-10-12 11:15:43 2004-10-12 11:16:49     19,58           NaN
141956 2004-10-12 11:18:48 2004-10-12 11:19:26     19,58      0.001377
143048 2004-10-12 12:15:44 2004-10-12 12:17:08     19,58      0.039097
143640 2004-10-12 12:40:24 2004-10-12 12:41:15     19,58      0.016157
145475 2004-10-12 15:40:51 2004-10-12 15:41:11     19,58      0.124722
...                    ...                 ...       ...           ...
656225 2005-01-06 15:05:18 2005-01-06 15:05:21     19,58      0.080174
656226 2005-01-06 15:05:50 2005-01-06 15:06:05     19,58      0.000336
656348 2005-01-06 16:58:06 2005-01-06 16:58:23     19,58      0.077789
656352 2005-01-06 17:01:31 2005-01-06 17:02:53     19,58      0.002176
656373 2005-01-06 17:31:12 2005-01-06 17:31:45     19,58      0.019664

[661 rows x 4 columns]
19,59
                     start                 end id_colums  intercontact
213619 2004-10-22 06:03:51 2004-10-22 06:04:17     19,59           NaN
213627 2004-10-22 06:06:06 2004-10-22 06:06:37     19,59      0.001262
214120 2004-10-22 07:31:35 2004-10-22 07:31:37     19,59      0.059005
215626 2004-10-22 09:58:11 2004-10-22 09:58:13     19,59      0.101782
216702 2004-10-22 12:07:30 2004-10-22 12:08:36     19,59      0.089780
...                    ...                 ...       ...           ...
670149 2005-01-14 09:21:37 2005-01-14 09:24:12     19,59      0.008669
670315 2005-01-14 09:58:11 2005-01-14 09:58:54     19,59      0.023600
670331 2005-01-14 10:01:13 2005-01-14 10:03:34     19,59      0.001609
670463 2005-01-14 10:33:17 2005-01-14 10:33:27     19,59      0.020637
671583 2005-01-14 16:25:08 2005-01-14 16:25:21     19,59      0.244225

[150 rows x 4 columns]
19,60
                     start                 end id_colums  intercontact
23772  2004-09-16 05:47:43 2004-09-16 05:48:22     19,60           NaN
25029  2004-09-16 10:09:18 2004-09-16 10:09:33     19,60      0.181204
25030  2004-09-16 10:10:48 2004-09-16 10:12:12     19,60      0.000868
25617  2004-09-16 12:16:12 2004-09-16 12:16:14     19,60      0.086111
25761  2004-09-16 12:28:54 2004-09-16 12:29:03     19,60      0.008796
...                    ...                 ...       ...           ...
662880 2005-01-11 14:05:15 2005-01-11 14:06:09     19,60      0.006400
663065 2005-01-11 17:17:49 2005-01-11 17:18:07     19,60      0.133102
663097 2005-01-11 19:01:24 2005-01-11 19:01:34     19,60      0.071725
674341 2005-01-17 11:18:04 2005-01-17 11:20:04     19,60      5.678125
674481 2005-01-17 12:32:39 2005-01-17 12:37:02     19,60      0.050405

[798 rows x 4 columns]
19,61
                     start                 end id_colums  intercontact
43261  2004-09-23 09:44:27 2004-09-23 09:44:31     19,61           NaN
43387  2004-09-23 09:52:11 2004-09-23 09:52:30     19,61      0.005324
43972  2004-09-23 10:15:47 2004-09-23 10:15:49     19,61      0.016169
45702  2004-09-23 11:50:22 2004-09-23 11:50:44     19,61      0.065660
46472  2004-09-23 12:37:28 2004-09-23 12:39:00     19,61      0.032454
...                    ...                 ...       ...           ...
566728 2004-12-06 12:40:10 2004-12-06 12:41:12     19,61      0.001100
566745 2004-12-06 12:41:30 2004-12-06 12:41:47     19,61      0.000208
566764 2004-12-06 12:42:40 2004-12-06 12:46:50     19,61      0.000613
566818 2004-12-06 12:47:42 2004-12-06 12:48:00     19,61      0.000602
566904 2004-12-06 12:54:02 2004-12-06 12:54:53     19,61      0.004190

[347 rows x 4 columns]
19,62
                     start                 end id_colums  intercontact
52910  2004-09-24 09:50:18 2004-09-24 09:50:26     19,62           NaN
53270  2004-09-24 10:11:42 2004-09-24 10:12:01     19,62      0.014769
53294  2004-09-24 10:13:12 2004-09-24 10:13:24     19,62      0.000822
53320  2004-09-24 10:15:15 2004-09-24 10:15:47     19,62      0.001285
53400  2004-09-24 10:22:40 2004-09-24 10:23:16     19,62      0.004780
...                    ...                 ...       ...           ...
560322 2004-12-06 06:48:23 2004-12-06 06:48:44     19,62      0.108727
561353 2004-12-06 07:49:49 2004-12-06 07:50:09     19,62      0.042419
561389 2004-12-06 07:51:05 2004-12-06 07:51:44     19,62      0.000648
561547 2004-12-06 07:57:36 2004-12-06 07:57:51     19,62      0.004074
561611 2004-12-06 08:00:10 2004-12-06 08:00:53     19,62      0.001609

[684 rows x 4 columns]
19,66
                     start                 end id_colums  intercontact
43058  2004-09-23 09:17:58 2004-09-23 09:18:36     19,66           NaN
43061  2004-09-23 09:18:43 2004-09-23 09:19:02     19,66      0.000081
43084  2004-09-23 09:21:13 2004-09-23 09:22:01     19,66      0.001516
43099  2004-09-23 09:23:14 2004-09-23 09:24:52     19,66      0.000845
43113  2004-09-23 09:26:24 2004-09-23 09:26:30     19,66      0.001065
...                    ...                 ...       ...           ...
674127 2005-01-17 10:27:47 2005-01-17 10:28:27     19,66      0.010046
674189 2005-01-17 10:39:41 2005-01-17 10:40:00     19,66      0.007801
674274 2005-01-17 10:59:19 2005-01-17 11:03:36     19,66      0.013414
674448 2005-01-17 12:23:18 2005-01-17 12:24:36     19,66      0.055347
674749 2005-01-17 16:46:18 2005-01-17 16:46:39     19,66      0.181736

[1156 rows x 4 columns]
19,68
                     start                 end id_colums  intercontact
177579 2004-10-18 06:32:39 2004-10-18 06:33:39     19,68           NaN
179957 2004-10-18 08:52:13 2004-10-18 08:52:45     19,68      0.096227
182554 2004-10-18 12:39:51 2004-10-18 12:39:58     19,68      0.157708
185135 2004-10-18 17:37:14 2004-10-18 17:37:43     19,68      0.206435
185222 2004-10-18 17:51:08 2004-10-18 17:51:50     19,68      0.009317
...                    ...                 ...       ...           ...
674471 2005-01-17 12:27:02 2005-01-17 12:28:05     19,68      0.021111
674479 2005-01-17 12:31:31 2005-01-17 12:32:36     19,68      0.002384
674548 2005-01-17 13:14:42 2005-01-17 13:15:14     19,68      0.029236
674758 2005-01-17 16:52:04 2005-01-17 16:52:46     19,68      0.150579
674797 2005-01-17 17:38:09 2005-01-17 17:38:42     19,68      0.031516

[498 rows x 4 columns]
19,69
                     start                 end id_colums  intercontact
133332 2004-10-09 15:12:54 2004-10-09 15:13:07     19,69           NaN
133341 2004-10-09 15:19:30 2004-10-09 15:19:49     19,69      0.004433
133342 2004-10-09 15:21:33 2004-10-09 15:25:35     19,69      0.001204
133352 2004-10-09 15:26:07 2004-10-09 15:26:24     19,69      0.000370
133358 2004-10-09 15:26:43 2004-10-09 15:50:49     19,69      0.000220
...                    ...                 ...       ...           ...
465733 2004-11-23 11:46:59 2004-11-23 11:48:21     19,69      0.027350
465822 2004-11-23 11:49:19 2004-11-23 11:49:20     19,69      0.000671
467347 2004-11-23 12:42:45 2004-11-23 12:43:15     19,69      0.037095
467821 2004-11-23 12:59:17 2004-11-23 12:59:28     19,69      0.011134
469225 2004-11-23 14:01:31 2004-11-23 14:01:55     19,69      0.043090

[685 rows x 4 columns]
19,70
                     start                 end id_colums  intercontact
591519 2004-12-09 11:40:03 2004-12-09 11:40:35     19,70           NaN
591534 2004-12-09 11:40:39 2004-12-09 11:40:54     19,70      0.000046
659423 2005-01-10 08:00:59 2005-01-10 08:01:20     19,70     31.847280
659534 2005-01-10 08:29:42 2005-01-10 08:29:56     19,70      0.019699
659565 2005-01-10 08:35:56 2005-01-10 08:36:09     19,70      0.004167
659623 2005-01-10 08:54:50 2005-01-10 08:55:45     19,70      0.012975
659665 2005-01-10 09:18:39 2005-01-10 09:19:02     19,70      0.015903
659667 2005-01-10 09:20:00 2005-01-10 09:21:28     19,70      0.000671
661292 2005-01-11 06:50:10 2005-01-11 06:50:36     19,70      0.894931
661338 2005-01-11 06:57:33 2005-01-11 06:58:08     19,70      0.004826
661339 2005-01-11 06:58:49 2005-01-11 06:59:14     19,70      0.000475
661343 2005-01-11 06:59:46 2005-01-11 07:00:28     19,70      0.000370
661708 2005-01-11 08:21:48 2005-01-11 08:22:37     19,70      0.056481
661733 2005-01-11 08:28:01 2005-01-11 08:29:38     19,70      0.003750
661754 2005-01-11 08:37:16 2005-01-11 08:37:23     19,70      0.005301
661866 2005-01-11 09:41:40 2005-01-11 09:42:22     19,70      0.044641
661983 2005-01-11 10:16:34 2005-01-11 10:26:48     19,70      0.023750
663671 2005-01-12 07:13:39 2005-01-12 07:13:54     19,70      0.865868
663682 2005-01-12 07:15:33 2005-01-12 07:15:50     19,70      0.001146
663691 2005-01-12 07:17:05 2005-01-12 07:18:15     19,70      0.000868
664023 2005-01-12 08:12:03 2005-01-12 08:12:52     19,70      0.037361
666062 2005-01-13 04:46:59 2005-01-13 04:47:07     19,70      0.857025
666080 2005-01-13 04:53:56 2005-01-13 04:54:53     19,70      0.004734
666183 2005-01-13 05:55:54 2005-01-13 05:58:25     19,70      0.042373
666217 2005-01-13 06:09:01 2005-01-13 06:10:26     19,70      0.007361
666221 2005-01-13 06:10:26 2005-01-13 06:10:27     19,70      0.000000
666277 2005-01-13 06:36:52 2005-01-13 06:37:53     19,70      0.018345
666284 2005-01-13 06:39:39 2005-01-13 06:42:18     19,70      0.001227
666574 2005-01-13 07:50:28 2005-01-13 07:51:26     19,70      0.047338
666710 2005-01-13 08:14:51 2005-01-13 08:17:33     19,70      0.016262
666744 2005-01-13 08:24:01 2005-01-13 08:26:18     19,70      0.004491
666759 2005-01-13 08:27:42 2005-01-13 08:30:18     19,70      0.000972
667734 2005-01-13 11:24:56 2005-01-13 11:26:07     19,70      0.121273
667796 2005-01-13 11:40:29 2005-01-13 11:40:51     19,70      0.009977
669356 2005-01-14 07:33:43 2005-01-14 07:33:59     19,70      0.828380
669513 2005-01-14 07:45:54 2005-01-14 07:46:12     19,70      0.008275
669592 2005-01-14 07:52:44 2005-01-14 07:53:17     19,70      0.004537
669599 2005-01-14 07:53:22 2005-01-14 07:55:18     19,70      0.000058
669627 2005-01-14 07:55:25 2005-01-14 07:55:37     19,70      0.000081
669629 2005-01-14 07:55:43 2005-01-14 07:56:54     19,70      0.000069
669869 2005-01-14 08:21:12 2005-01-14 08:22:29     19,70      0.016875
670050 2005-01-14 08:49:44 2005-01-14 08:49:51     19,70      0.018924
670085 2005-01-14 08:59:37 2005-01-14 09:00:07     19,70      0.006782
670581 2005-01-14 10:58:12 2005-01-14 10:58:13     19,70      0.082002
19,71
                     start                 end id_colums  intercontact
110017 2004-10-06 06:38:10 2004-10-06 06:38:50     19,71           NaN
110040 2004-10-06 06:40:55 2004-10-06 06:41:30     19,71      0.001447
110249 2004-10-06 06:54:33 2004-10-06 06:54:50     19,71      0.009062
110406 2004-10-06 07:05:56 2004-10-06 07:05:57     19,71      0.007708
110448 2004-10-06 07:10:49 2004-10-06 07:10:50     19,71      0.003380
...                    ...                 ...       ...           ...
674798 2005-01-17 17:38:09 2005-01-17 17:38:42     19,71      0.174421
674799 2005-01-17 17:39:16 2005-01-17 17:39:27     19,71      0.000394
674800 2005-01-17 17:39:45 2005-01-17 17:39:57     19,71      0.000208
674805 2005-01-17 17:41:47 2005-01-17 17:43:06     19,71      0.001273
674821 2005-01-17 18:03:46 2005-01-17 18:05:43     19,71      0.014352

[1289 rows x 4 columns]
19,72
                     start                 end id_colums  intercontact
274570 2004-11-01 08:40:41 2004-11-01 08:40:50     19,72           NaN
274723 2004-11-01 08:50:49 2004-11-01 08:52:08     19,72      0.006933
274826 2004-11-01 08:57:35 2004-11-01 08:57:50     19,72      0.003785
275812 2004-11-01 09:45:52 2004-11-01 09:45:59     19,72      0.033356
277254 2004-11-01 11:01:05 2004-11-01 11:04:20     19,72      0.052153
...                    ...                 ...       ...           ...
668166 2005-01-13 12:43:41 2005-01-13 12:43:52     19,72      0.002604
668177 2005-01-13 12:46:14 2005-01-13 12:47:15     19,72      0.001644
668544 2005-01-13 16:46:35 2005-01-13 16:48:17     19,72      0.166204
673246 2005-01-16 17:15:27 2005-01-16 17:15:56     19,72      3.018866
673250 2005-01-16 17:19:47 2005-01-16 17:22:27     19,72      0.002674

[237 rows x 4 columns]
19,75

[376 rows x 4 columns]
2,4
                     start                 end id_colums  intercontact
1376   2004-08-14 10:59:38 2004-08-14 11:02:26       2,4           NaN
1377   2004-08-14 11:06:19 2004-08-14 11:06:45       2,4      0.002697
1378   2004-08-14 11:10:59 2004-08-14 11:11:30       2,4      0.002940
1382   2004-08-14 11:35:57 2004-08-14 11:36:13       2,4      0.016979
1383   2004-08-14 11:38:35 2004-08-14 11:39:18       2,4      0.001644
...                    ...                 ...       ...           ...
648250 2004-12-22 14:03:17 2004-12-22 14:05:47       2,4      0.000220
648267 2004-12-22 14:17:59 2004-12-22 14:20:44       2,4      0.008472
648269 2004-12-22 14:21:04 2004-12-22 14:21:25       2,4      0.000231
648278 2004-12-22 14:38:00 2004-12-22 14:38:17       2,4      0.011516
648288 2004-12-22 14:47:53 2004-12-22 14:49:51       2,4      0.006667

[730 rows x 4 columns]
2,40
                     start                 end id_colums  intercontact
44387  2004-09-23 10:37:16 2004-09-23 10:37:32      2,40           NaN
44403  2004-09-23 10:38:29 2004-09-23 10:39:27      2,40      0.000660
44538  2004-09-23 10:46:20 2004-09-23 10:46:25      2,40      0.004780
44545  2004-09-23 10:46:44 2004-09-23 10:47:42      2,40      0.000220
44766  2004-09-23 11:00:03 2004-09-23 11:00:05      2,40      0.008576
...                    ...                 ...       ...           ...
638969 2004-12-16 12:37:05 2004-12-16 12:37:14      2,40      0.002639
639027 2004-12-16 12:45:59 2004-12-16 12:46:25      2,40      0.006076
639245 2004-12-16 13:26:19 2004-12-16 13:26:42      2,40      0.027708
639497 2004-12-16 13:58:46 2004-12-16 13:58:48      2,40      0.022269
639593 2004-12-16 14:11:18 2004-12-16 14:11:48      2,40      0.008681

[606 rows x 4 columns]
2,42
                     start                 end id_colums  intercontact
44474  2004-09-23 10:42:43 2004-09-23 10:43:01      2,42           NaN
44565  2004-09-23 10:47:37 2004-09-23 10:48:32      2,42      0.003194
44765  2004-09-23 11:00:03 2004-09-23 11:00:05      2,42      0.007998
45126  2004-09-23 11:15:44 2004-09-23 11:15:46      2,42      0.010868
45959  2004-09-23 12:03:20 2004-09-23 12:03:37      2,42      0.033032
...                    ...                 ...       ...           ...
553120 2004-12-04 13:49:06 2004-12-04 13:51:11      2,42      1.978854
553187 2004-12-04 14:10:45 2004-12-04 14:10:48      2,42      0.013588
553290 2004-12-04 14:40:26 2004-12-04 14:40:55      2,42      0.020579
553295 2004-12-04 14:41:13 2004-12-04 14:41:43      2,42      0.000208
553302 2004-12-04 14:41:56 2004-12-04 14:42:43      2,42      0.000150

[517 rows x 4 columns]
2,43
                     start                 end id_colums  intercontact
47474  2004-09-23 13:43:06 2004-09-23 13:43:42      2,43           NaN
56492  2004-09-25 17:00:33 2004-09-25 17:00:43      2,43      2.136701
57399  2004-09-26 14:08:59 2004-09-26 14:09:18      2,43      0.880741
59532  2004-09-27 08:01:34 2004-09-27 08:02:01      2,43      0.744630
59564  2004-09-27 08:02:27 2004-09-27 08:03:00      2,43      0.000301
...                    ...                 ...       ...           ...
558254 2004-12-06 02:49:44 2004-12-06 02:50:23      2,43      1.484387
559582 2004-12-06 06:05:34 2004-12-06 06:06:55      2,43      0.135544
559747 2004-12-06 06:11:50 2004-12-06 06:12:09      2,43      0.003414
560074 2004-12-06 06:30:01 2004-12-06 06:30:05      2,43      0.012407
560093 2004-12-06 06:31:16 2004-12-06 06:31:18      2,43      0.000822

[641 rows x 4 columns]
2,44
                     start                 end id_colums  intercontact
44371  2004-09-23 10:35:49 2004-09-23 10:36:45      2,44           NaN
46284  2004-09-23 12:26:56 2004-09-23 12:29:44      2,44      0.076516
47257  2004-09-23 13:25:43 2004-09-23 13:25:59      2,44      0.038877
47272  2004-09-23 13:26:33 2004-09-23 13:26:44      2,44      0.000394
47321  2004-09-23 13:31:13 2004-09-23 13:32:00      2,44      0.003113
...                    ...                 ...       ...           ...
637422 2004-12-16 09:33:57 2004-12-16 09:34:13      2,44      0.039919
637451 2004-12-16 09:38:56 2004-12-16 09:39:34      2,44      0.003275
639563 2004-12-16 14:08:11 2004-12-16 14:08:39      2,44      0.186539
639694 2004-12-16 14:41:12 2004-12-16 14:41:33      2,44      0.022604
639709 2004-12-16 14:48:37 2004-12-16 14:50:22      2,44      0.004907

[458 rows x 4 columns]
2,45
                     start                 end id_colums  intercontact
41161  2004-09-22 18:29:43 2004-09-22 18:30:00      2,45           NaN
41177  2004-09-22 19:05:21 2004-09-22 19:05:23      2,45      0.024549
44374  2004-09-23 10:35:49 2004-09-23 10:36:45      2,45      0.646134
57454  2004-09-26 14:52:37 2004-09-26 14:53:33      2,45      3.177685
58466  2004-09-27 06:18:01 2004-09-27 06:18:09      2,45      0.641991
...                    ...                 ...       ...           ...
626175 2004-12-14 13:20:20 2004-12-14 13:20:36      2,45      0.000000
626226 2004-12-14 13:26:01 2004-12-14 13:26:57      2,45      0.003762
626275 2004-12-14 13:31:04 2004-12-14 13:31:15      2,45      0.002859
626281 2004-12-14 13:31:30 2004-12-14 13:31:32      2,45      0.000174
628390 2004-12-15 06:27:01 2004-12-15 06:27:03      2,45      0.705197

[341 rows x 4 columns]
2,46
                     start                 end id_colums  intercontact
301361 2004-11-03 10:46:03 2004-11-03 10:46:23      2,46           NaN
301386 2004-11-03 10:46:47 2004-11-03 10:46:49      2,46      0.000278
301471 2004-11-03 10:51:08 2004-11-03 10:51:37      2,46      0.002998
301485 2004-11-03 10:52:08 2004-11-03 10:52:16      2,46      0.000359
301494 2004-11-03 10:52:33 2004-11-03 10:52:39      2,46      0.000197
...                    ...                 ...       ...           ...
647592 2004-12-22 07:22:59 2004-12-22 07:23:29      2,46      0.004606
647605 2004-12-22 07:33:39 2004-12-22 07:34:15      2,46      0.007060
647619 2004-12-22 07:47:17 2004-12-22 07:47:22      2,46      0.009051
647892 2004-12-22 10:30:02 2004-12-22 10:36:05      2,46      0.112963
647947 2004-12-22 10:49:55 2004-12-22 10:49:56      2,46      0.009606

[578 rows x 4 columns]
2,5
                     start                 end id_colums  intercontact
6985   2004-09-02 13:06:53 2004-09-02 13:07:43       2,5           NaN
13112  2004-09-10 04:01:52 2004-09-10 04:02:03       2,5      7.620938
13350  2004-09-10 06:18:37 2004-09-10 06:18:39       2,5      0.094838
13384  2004-09-10 06:44:45 2004-09-10 06:44:56       2,5      0.018125
13393  2004-09-10 06:45:04 2004-09-10 06:50:44       2,5      0.000093
...                    ...                 ...       ...           ...
664940 2005-01-12 11:20:39 2005-01-12 11:20:41       2,5      0.008970
664973 2005-01-12 11:36:43 2005-01-12 11:38:31       2,5      0.011134
665005 2005-01-12 11:43:06 2005-01-12 11:43:33       2,5      0.003183
665009 2005-01-12 11:44:52 2005-01-12 11:46:08       2,5      0.000914
665126 2005-01-12 12:23:21 2005-01-12 12:23:52       2,5      0.025845

[808 rows x 4 columns]
2,53
                     start                 end id_colums  intercontact
281217 2004-11-01 14:49:08 2004-11-01 14:49:18      2,53           NaN
281224 2004-11-01 14:49:43 2004-11-01 14:50:13      2,53      0.000289
281230 2004-11-01 14:50:32 2004-11-01 14:50:33      2,53      0.000220
281243 2004-11-01 14:56:37 2004-11-01 14:56:38      2,53      0.004213
281794 2004-11-01 16:57:44 2004-11-01 16:59:50      2,53      0.084097
...                    ...                 ...       ...           ...
664892 2005-01-12 11:12:09 2005-01-12 11:12:54      2,53      0.003148
664938 2005-01-12 11:20:39 2005-01-12 11:20:41      2,53      0.005382
664972 2005-01-12 11:36:43 2005-01-12 11:37:56      2,53      0.011134
665002 2005-01-12 11:42:52 2005-01-12 11:44:08      2,53      0.003426
665052 2005-01-12 12:00:42 2005-01-12 12:03:54      2,53      0.011505

[466 rows x 4 columns]
2,54
                     start                 end id_colums  intercontact
40910  2004-09-22 15:45:27 2004-09-22 15:47:03      2,54           NaN
40932  2004-09-22 15:51:55 2004-09-22 15:59:44      2,54      0.003380
40963  2004-09-22 16:03:56 2004-09-22 16:04:28      2,54      0.002917
40965  2004-09-22 16:04:29 2004-09-22 16:24:13      2,54      0.000012
44521  2004-09-23 10:45:40 2004-09-23 10:45:48      2,54      0.764896
...                    ...                 ...       ...           ...
648234 2004-12-22 13:44:44 2004-12-22 13:46:00      2,54      0.008692
648237 2004-12-22 13:50:26 2004-12-22 13:51:48      2,54      0.003079
648242 2004-12-22 14:00:53 2004-12-22 14:01:16      2,54      0.006308
648279 2004-12-22 14:38:21 2004-12-22 14:38:37      2,54      0.025752
648280 2004-12-22 14:40:38 2004-12-22 14:40:55      2,54      0.001400

[869 rows x 4 columns]
2,55
                     start                 end id_colums  intercontact
44427  2004-09-23 10:40:38 2004-09-23 10:40:42      2,55           NaN
44769  2004-09-23 11:00:03 2004-09-23 11:00:05      2,55      0.013437
44853  2004-09-23 11:02:45 2004-09-23 11:02:48      2,55      0.001852
45142  2004-09-23 11:18:31 2004-09-23 11:19:09      2,55      0.010914
45201  2004-09-23 11:21:58 2004-09-23 11:23:57      2,55      0.001956
...                    ...                 ...       ...           ...
646497 2004-12-21 09:56:00 2004-12-21 09:57:08      2,55      0.140382
646803 2004-12-21 11:47:56 2004-12-21 11:48:12      2,55      0.076944
647460 2004-12-22 05:54:48 2004-12-22 05:54:59      2,55      0.754583
647468 2004-12-22 05:58:20 2004-12-22 05:58:53      2,55      0.002326
664853 2005-01-12 11:05:46 2005-01-12 11:06:53      2,55     21.213113

[920 rows x 4 columns]
2,56
                     start                 end id_colums  intercontact
41023  2004-09-22 16:29:34 2004-09-22 16:32:16      2,56           NaN
41036  2004-09-22 16:39:55 2004-09-22 16:40:18      2,56      0.005313
44375  2004-09-23 10:35:49 2004-09-23 10:36:45      2,56      0.746887
56178  2004-09-25 08:51:47 2004-09-25 08:51:55      2,56      1.927106
56183  2004-09-25 08:58:16 2004-09-25 08:58:33      2,56      0.004410
...                    ...                 ...       ...           ...
284656 2004-11-02 06:34:06 2004-11-02 06:34:36      2,56      0.026030
284849 2004-11-02 06:46:58 2004-11-02 06:47:09      2,56      0.008588
285226 2004-11-02 07:06:30 2004-11-02 07:06:54      2,56      0.013437
286350 2004-11-02 08:25:10 2004-11-02 08:25:29      2,56      0.054352
287653 2004-11-02 09:16:13 2004-11-02 09:19:08      2,56      0.035231

[275 rows x 4 columns]
2,58
                     start                 end id_colums  intercontact
141062 2004-10-12 10:17:11 2004-10-12 10:17:18      2,58           NaN
141069 2004-10-12 10:18:07 2004-10-12 10:18:30      2,58      0.000567
141077 2004-10-12 10:19:27 2004-10-12 10:22:36      2,58      0.000660
142242 2004-10-12 11:37:54 2004-10-12 11:38:08      2,58      0.052292
142384 2004-10-12 11:44:27 2004-10-12 11:44:40      2,58      0.004387
...                    ...                 ...       ...           ...
648177 2004-12-22 12:56:13 2004-12-22 12:59:52      2,58      0.000428
648195 2004-12-22 13:06:33 2004-12-22 13:07:13      2,58      0.004641
648199 2004-12-22 13:09:00 2004-12-22 13:09:20      2,58      0.001238
648208 2004-12-22 13:16:36 2004-12-22 13:28:18      2,58      0.005046
648255 2004-12-22 14:05:46 2004-12-22 14:06:37      2,58      0.026019

[559 rows x 4 columns]
2,59
                     start                 end id_colums  intercontact
1351   2004-08-13 17:59:52 2004-08-13 18:00:02      2,59           NaN
1352   2004-08-13 18:00:45 2004-08-13 18:02:18      2,59      0.000498
1366   2004-08-14 08:47:42 2004-08-14 08:47:45      2,59      0.614861
1399   2004-08-14 19:22:11 2004-08-14 19:22:19      2,59      0.440579
1402   2004-08-14 20:07:01 2004-08-14 20:07:18      2,59      0.031042
...                    ...                 ...       ...           ...
637436 2004-12-16 09:36:37 2004-12-16 09:36:59      2,59      0.011123
637449 2004-12-16 09:38:56 2004-12-16 09:40:04      2,59      0.001354
637491 2004-12-16 09:42:01 2004-12-16 09:42:19      2,59      0.001354
637524 2004-12-16 09:46:58 2004-12-16 09:47:22      2,59      0.003229
637547 2004-12-16 09:50:17 2004-12-16 09:50:26      2,59      0.002025

[127 rows x 4 columns]
2,6
                     start                 end id_colums  intercontact
13698  2004-09-10 07:34:52 2004-09-10 07:34:57       2,6           NaN
13727  2004-09-10 07:37:21 2004-09-10 07:37:23       2,6      0.001667
13744  2004-09-10 07:41:21 2004-09-10 07:49:08       2,6      0.002755
13844  2004-09-10 08:07:05 2004-09-10 08:09:22       2,6      0.012465
13849  2004-09-10 08:10:18 2004-09-10 08:11:32       2,6      0.000648
...                    ...                 ...       ...           ...
648172 2004-12-22 12:54:05 2004-12-22 12:55:44       2,6      0.000856
648178 2004-12-22 12:56:38 2004-12-22 12:59:52       2,6      0.000625
648183 2004-12-22 13:02:08 2004-12-22 13:04:23       2,6      0.001574
648190 2004-12-22 13:04:39 2004-12-22 13:04:40       2,6      0.000185
648193 2004-12-22 13:06:24 2004-12-22 13:07:13       2,6      0.001204

[329 rows x 4 columns]
2,60
                     start                 end id_colums  intercontact
41008  2004-09-22 16:24:13 2004-09-22 16:25:02      2,60           NaN
41013  2004-09-22 16:26:21 2004-09-22 16:26:50      2,60      0.000914
41166  2004-09-22 18:36:48 2004-09-22 18:55:03      2,60      0.090255
45298  2004-09-23 11:28:01 2004-09-23 11:28:03      2,60      0.689560
45390  2004-09-23 11:31:32 2004-09-23 11:31:39      2,60      0.002419
...                    ...                 ...       ...           ...
618831 2004-12-13 13:06:05 2004-12-13 13:06:15      2,60      0.001840
618835 2004-12-13 13:06:24 2004-12-13 13:06:45      2,60      0.000104
618851 2004-12-13 13:08:44 2004-12-13 13:10:45      2,60      0.001377
618952 2004-12-13 13:18:28 2004-12-13 13:18:31      2,60      0.005359
619039 2004-12-13 13:22:08 2004-12-13 13:22:42      2,60      0.002512

[628 rows x 4 columns]
2,61
                     start                 end id_colums  intercontact
44826  2004-09-23 11:01:55 2004-09-23 11:02:27      2,61           NaN
45153  2004-09-23 11:19:23 2004-09-23 11:19:25      2,61      0.011759
45203  2004-09-23 11:21:58 2004-09-23 11:22:15      2,61      0.001771
45389  2004-09-23 11:31:32 2004-09-23 11:32:03      2,61      0.006447
46016  2004-09-23 12:05:27 2004-09-23 12:07:07      2,61      0.023194
...                    ...                 ...       ...           ...
561771 2004-12-06 08:06:39 2004-12-06 08:06:40      2,61      0.006319
567479 2004-12-06 13:41:19 2004-12-06 13:41:32      2,61      0.232396
567751 2004-12-06 14:03:46 2004-12-06 14:04:47      2,61      0.015440
567823 2004-12-06 14:11:23 2004-12-06 14:11:35      2,61      0.004583
567827 2004-12-06 14:11:38 2004-12-06 14:11:57      2,61      0.000035

[305 rows x 4 columns]
2,62
                     start                 end id_colums  intercontact
56336  2004-09-25 13:47:33 2004-09-25 13:48:00      2,62           NaN
56514  2004-09-25 17:17:58 2004-09-25 17:18:19      2,62      0.145810
57820  2004-09-27 04:19:46 2004-09-27 04:19:52      2,62      1.459340
57855  2004-09-27 04:35:48 2004-09-27 04:36:25      2,62      0.011065
57863  2004-09-27 04:37:52 2004-09-27 04:38:02      2,62      0.001007
...                    ...                 ...       ...           ...
560778 2004-12-06 07:12:43 2004-12-06 07:13:22      2,62      0.003704
560826 2004-12-06 07:16:32 2004-12-06 07:16:54      2,62      0.002199
560879 2004-12-06 07:19:29 2004-12-06 07:19:57      2,62      0.001794
561468 2004-12-06 07:54:45 2004-12-06 07:55:06      2,62      0.024167
561483 2004-12-06 07:55:08 2004-12-06 07:56:32      2,62      0.000023

[640 rows x 4 columns]
2,66
                     start                 end id_colums  intercontact
44781  2004-09-23 11:00:31 2004-09-23 11:00:46      2,66           NaN
45305  2004-09-23 11:28:08 2004-09-23 11:28:17      2,66      0.019005
45391  2004-09-23 11:31:32 2004-09-23 11:32:09      2,66      0.002257
45480  2004-09-23 11:35:20 2004-09-23 11:36:27      2,66      0.002211
45553  2004-09-23 11:40:08 2004-09-23 11:40:34      2,66      0.002558
...                    ...                 ...       ...           ...
665020 2005-01-12 11:48:28 2005-01-12 11:48:52      2,66      0.000579
665050 2005-01-12 12:00:42 2005-01-12 12:03:14      2,66      0.008218
665063 2005-01-12 12:04:23 2005-01-12 12:04:29      2,66      0.000799
665069 2005-01-12 12:06:08 2005-01-12 12:06:17      2,66      0.001146
665077 2005-01-12 12:07:01 2005-01-12 12:07:21      2,66      0.000509

[848 rows x 4 columns]
2,68
                     start                 end id_colums  intercontact
184387 2004-10-18 15:11:54 2004-10-18 15:15:19      2,68           NaN
184869 2004-10-18 16:51:55 2004-10-18 16:52:16      2,68      0.067083
185047 2004-10-18 17:25:16 2004-10-18 17:25:20      2,68      0.022917
185338 2004-10-18 18:15:30 2004-10-18 18:15:40      2,68      0.034838
185504 2004-10-18 18:47:58 2004-10-18 18:55:58      2,68      0.022431
...                    ...                 ...       ...           ...
500031 2004-11-30 09:58:28 2004-11-30 09:59:52      2,68      0.006053
500093 2004-11-30 10:00:51 2004-11-30 10:02:04      2,68      0.000683
505211 2004-11-30 13:13:32 2004-11-30 13:13:37      2,68      0.132963
505321 2004-11-30 13:20:40 2004-11-30 13:20:51      2,68      0.004896
505324 2004-11-30 13:21:00 2004-11-30 13:21:28      2,68      0.000104

[217 rows x 4 columns]
2,69
                     start                 end id_colums  intercontact
120398 2004-10-07 08:52:45 2004-10-07 08:53:15      2,69           NaN
121143 2004-10-07 09:33:01 2004-10-07 09:36:05      2,69      0.027616
121373 2004-10-07 09:39:20 2004-10-07 09:39:24      2,69      0.002257
121452 2004-10-07 09:41:10 2004-10-07 09:41:32      2,69      0.001227
121611 2004-10-07 09:50:30 2004-10-07 09:50:32      2,69      0.006227
...                    ...                 ...       ...           ...
459643 2004-11-23 08:44:54 2004-11-23 08:44:55      2,69      0.016262
459695 2004-11-23 08:47:42 2004-11-23 08:47:44      2,69      0.001933
465352 2004-11-23 11:35:52 2004-11-23 11:37:28      2,69      0.116759
466400 2004-11-23 12:04:22 2004-11-23 12:04:56      2,69      0.018681
467539 2004-11-23 12:50:28 2004-11-23 12:50:50      2,69      0.031620

[380 rows x 4 columns]
2,7
                     start                 end id_colums  intercontact
3268   2004-08-25 15:19:28 2004-08-25 15:19:48       2,7           NaN
3275   2004-08-25 16:28:08 2004-08-25 16:28:17       2,7      0.047454
3609   2004-08-26 10:44:55 2004-08-26 10:45:09       2,7      0.761551
3610   2004-08-26 10:45:10 2004-08-26 10:48:19       2,7      0.000012
3765   2004-08-26 12:11:46 2004-08-26 12:11:47       2,7      0.057951
...                    ...                 ...       ...           ...
282871 2004-11-02 04:08:38 2004-11-02 04:08:43       2,7      0.560035
282883 2004-11-02 04:10:16 2004-11-02 04:10:38       2,7      0.001076
282963 2004-11-02 04:32:57 2004-11-02 04:33:07       2,7      0.015498
282980 2004-11-02 04:34:56 2004-11-02 04:35:32       2,7      0.001262
283076 2004-11-02 04:49:44 2004-11-02 04:50:15       2,7      0.009861

[568 rows x 4 columns]
2,70
                     start                 end id_colums  intercontact
664893 2005-01-12 11:12:09 2005-01-12 11:14:56      2,70           NaN
664974 2005-01-12 11:36:43 2005-01-12 11:38:31      2,70      0.015127
664999 2005-01-12 11:42:52 2005-01-12 11:44:08      2,70      0.003021
665008 2005-01-12 11:44:52 2005-01-12 11:45:19      2,70      0.000509
665019 2005-01-12 11:48:28 2005-01-12 11:48:35      2,70      0.002188
2,71
                     start                 end id_colums  intercontact
109752 2004-10-06 05:57:43 2004-10-06 05:58:02      2,71           NaN

20,44
                     start                 end id_colums  intercontact
43124  2004-09-23 09:27:46 2004-09-23 09:27:48     20,44           NaN
43134  2004-09-23 09:30:14 2004-09-23 09:30:24     20,44      0.001690
43144  2004-09-23 09:30:49 2004-09-23 09:31:19     20,44      0.000289
43153  2004-09-23 09:31:19 2004-09-23 09:31:34     20,44      0.000000
43254  2004-09-23 09:43:05 2004-09-23 09:43:35     20,44      0.007998
...                    ...                 ...       ...           ...
603149 2004-12-10 17:23:34 2004-12-10 17:24:41     20,44      3.320937
604562 2004-12-11 10:43:24 2004-12-11 10:43:25     20,44      0.721331
640331 2004-12-16 21:42:05 2004-12-16 21:43:40     20,44      5.457407
641300 2004-12-17 09:36:48 2004-12-17 09:37:04     20,44      0.495231
642590 2004-12-17 19:41:01 2004-12-17 19:41:09     20,44      0.419410

[209 rows x 4 columns]
20,45
                     start                 end id_colums  intercontact
24403  2004-09-16 07:56:08 2004-09-16 07:56:23     20,45           NaN
24406  2004-09-16 07:56:33 2004-09-16 07:57:28     20,45      0.000116
24422  2004-09-16 07:59:08 2004-09-16 07:59:10     20,45      0.001157
25840  2004-09-16 12:36:18 2004-09-16 12:41:02     20,45      0.192454
26095  2004-09-16 13:19:53 2004-09-16 13:19:54     20,45      0.026979
...                    ...                 ...       ...           ...
567884 2004-12-06 14:16:12 2004-12-06 14:16:31     20,45      0.139896
567931 2004-12-06 14:21:32 2004-12-06 14:21:54     20,45      0.003484
577698 2004-12-08 05:53:41 2004-12-08 05:53:48     20,45      1.647072
578089 2004-12-08 06:40:01 2004-12-08 06:40:02     20,45      0.032095
578096 2004-12-08 06:40:28 2004-12-08 06:41:11     20,45      0.000301

[162 rows x 4 columns]
20,46
                     start                 end id_colums  intercontact
304045 2004-11-03 13:57:12 2004-11-03 13:57:21     20,46           NaN
318917 2004-11-05 06:47:33 2004-11-05 06:47:37     20,46      1.701528
321044 2004-11-05 10:10:28 2004-11-05 10:11:03     20,46      0.140868
321059 2004-11-05 10:11:06 2004-11-05 10:11:18     20,46      0.000035
321073 2004-11-05 10:11:28 2004-11-05 10:11:33     20,46      0.000116
...                    ...                 ...       ...           ...
657143 2005-01-07 08:07:46 2005-01-07 08:07:52     20,46      0.010127
657699 2005-01-07 09:55:35 2005-01-07 09:57:08     20,46      0.074803
657716 2005-01-07 09:58:30 2005-01-07 09:58:55     20,46      0.000949
657723 2005-01-07 09:59:00 2005-01-07 09:59:12     20,46      0.000058
657730 2005-01-07 09:59:32 2005-01-07 09:59:45     20,46      0.000231

[202 rows x 4 columns]
20,53
                     start                 end id_colums  intercontact
281468 2004-11-01 15:35:29 2004-11-01 16:56:30     20,53           NaN
285238 2004-11-02 07:06:43 2004-11-02 07:07:04     20,53      0.590428
286261 2004-11-02 08:20:48 2004-11-02 08:21:34     20,53      0.051204
286375 2004-11-02 08:26:43 2004-11-02 08:28:14     20,53      0.003576
286418 2004-11-02 08:28:41 2004-11-02 08:28:47     20,53      0.000313
...                    ...                 ...       ...           ...
661592 2005-01-11 08:01:41 2005-01-11 08:02:00     20,53      0.001319
661893 2005-01-11 09:53:45 2005-01-11 09:59:01     20,53      0.077604
661948 2005-01-11 10:09:14 2005-01-11 10:10:22     20,53      0.007095
663535 2005-01-12 06:39:41 2005-01-12 06:39:45     20,53      0.853692
663914 2005-01-12 08:03:13 2005-01-12 08:03:18     20,53      0.057963

[132 rows x 4 columns]
20,54
                     start                 end id_colums  intercontact
32980  2004-09-20 10:23:33 2004-09-20 10:27:26     20,54           NaN
33021  2004-09-20 10:30:59 2004-09-20 10:31:10     20,54      0.002465
33034  2004-09-20 10:32:06 2004-09-20 10:32:25     20,54      0.000648
33163  2004-09-20 10:47:20 2004-09-20 10:48:21     20,54      0.010359
33195  2004-09-20 10:50:32 2004-09-20 10:51:59     20,54      0.001516
...                    ...                 ...       ...           ...
569326 2004-12-07 04:15:31 2004-12-07 04:15:47     20,54      0.705278
569338 2004-12-07 04:20:56 2004-12-07 04:22:57     20,54      0.003576
570290 2004-12-07 07:29:25 2004-12-07 07:29:29     20,54      0.129491
570732 2004-12-07 07:58:54 2004-12-07 07:59:00     20,54      0.020428
571474 2004-12-07 09:32:08 2004-12-07 09:32:09     20,54      0.064676

[459 rows x 4 columns]
20,55
                     start                 end id_colums  intercontact
43147  2004-09-23 09:30:55 2004-09-23 09:30:57     20,55           NaN
43155  2004-09-23 09:31:19 2004-09-23 09:31:29     20,55      0.000255
43297  2004-09-23 09:48:29 2004-09-23 09:49:21     20,55      0.011806
43370  2004-09-23 09:50:28 2004-09-23 09:51:09     20,55      0.000775
44340  2004-09-23 10:32:44 2004-09-23 10:32:46     20,55      0.028877
...                    ...                 ...       ...           ...
660948 2005-01-11 04:29:54 2005-01-11 04:30:12     20,55      0.007407
660959 2005-01-11 04:32:46 2005-01-11 04:32:59     20,55      0.001782
660978 2005-01-11 04:37:13 2005-01-11 04:37:36     20,55      0.002940
663204 2005-01-12 04:16:40 2005-01-12 04:17:21     20,55      0.985463
663226 2005-01-12 04:42:27 2005-01-12 04:42:52     20,55      0.017431

[396 rows x 4 columns]
20,56
                     start                 end id_colums  intercontact
23893  2004-09-16 06:37:23 2004-09-16 06:37:37     20,56           NaN
23916  2004-09-16 06:41:56 2004-09-16 06:42:00     20,56      0.002998
24149  2004-09-16 07:24:43 2004-09-16 07:25:06     20,56      0.029664
24225  2004-09-16 07:30:48 2004-09-16 07:31:49     20,56      0.003958
24257  2004-09-16 07:34:42 2004-09-16 07:34:46     20,56      0.002002
...                    ...                 ...       ...           ...
279946 2004-11-01 13:02:45 2004-11-01 13:03:07     20,56      0.318391
280164 2004-11-01 13:11:25 2004-11-01 13:11:27     20,56      0.005764
281472 2004-11-01 15:35:29 2004-11-01 16:11:06     20,56      0.100023
286258 2004-11-02 08:20:48 2004-11-02 08:21:34     20,56      0.673403
286424 2004-11-02 08:28:53 2004-11-02 08:29:36     20,56      0.005081

[203 rows x 4 columns]
20,58
                     start                 end id_colums  intercontact
147782 2004-10-13 06:03:34 2004-10-13 06:03:35     20,58           NaN
147813 2004-10-13 06:04:38 2004-10-13 06:04:51     20,58      0.000729
147817 2004-10-13 06:05:03 2004-10-13 06:05:47     20,58      0.000139
147863 2004-10-13 06:06:44 2004-10-13 06:07:51     20,58      0.000660
147923 2004-10-13 06:09:07 2004-10-13 06:09:14     20,58      0.000880
...                    ...                 ...       ...           ...
655950 2005-01-06 12:18:03 2005-01-06 12:18:55     20,58      0.002801
655966 2005-01-06 12:21:32 2005-01-06 12:21:48     20,58      0.001817
655969 2005-01-06 12:22:04 2005-01-06 12:22:41     20,58      0.000185
656035 2005-01-06 12:44:49 2005-01-06 12:47:22     20,58      0.015370
656095 2005-01-06 13:09:51 2005-01-06 13:10:09     20,58      0.015613

[229 rows x 4 columns]
20,59
                     start                 end id_colums  intercontact
210663 2004-10-21 12:27:56 2004-10-21 12:27:58     20,59           NaN
211005 2004-10-21 13:13:43 2004-10-21 13:13:53     20,59      0.031771
211080 2004-10-21 13:16:08 2004-10-21 13:16:10     20,59      0.001563
211214 2004-10-21 13:26:52 2004-10-21 13:26:53     20,59      0.007431
211298 2004-10-21 13:32:52 2004-10-21 13:33:03     20,59      0.004155
211451 2004-10-21 13:46:19 2004-10-21 13:46:21     20,59      0.009213
211868 2004-10-21 14:19:53 2004-10-21 14:19:59     20,59      0.023287
211869 2004-10-21 14:20:03 2004-10-21 14:20:18     20,59      0.000046
211904 2004-10-21 14:24:25 2004-10-21 14:24:42     20,59      0.002859
211912 2004-10-21 14:24:46 2004-10-21 14:25:12     20,59      0.000046
212063 2004-10-21 14:39:01 2004-10-21 14:39:08     20,59      0.009595
212228 2004-10-21 14:51:25 2004-10-21 14:52:18     20,59      0.008530
212370 2004-10-21 15:08:17 2004-10-21 15:09:09     20,59      0.011100
212506 2004-10-21 15:21:30 2004-10-21 15:21:53     20,59      0.008576
212540 2004-10-21 15:23:55 2004-10-21 15:25:40     20,59      0.001412
222517 2004-10-25 04:03:00 2004-10-25 04:03:01     20,59      3.525926
252476 2004-10-28 05:00:09 2004-10-28 05:00:13     20,59      3.039676
263738 2004-10-29 10:52:10 2004-10-29 10:52:45     20,59      1.244410
264309 2004-10-29 11:52:51 2004-10-29 11:53:12     20,59      0.041736
277121 2004-11-01 10:56:42 2004-11-01 10:58:12     20,59      2.960764
286459 2004-11-02 08:29:33 2004-11-02 08:29:36     20,59      0.896771
286949 2004-11-02 08:55:30 2004-11-02 08:55:54     20,59      0.017986
286989 2004-11-02 08:56:42 2004-11-02 08:57:01     20,59      0.000556
300772 2004-11-03 10:15:22 2004-11-03 10:16:30     20,59      1.054410
339898 2004-11-09 07:57:03 2004-11-09 07:57:10     20,59      5.903160
347125 2004-11-09 14:45:26 2004-11-09 14:45:34     20,59      0.283519
349972 2004-11-10 06:22:00 2004-11-10 06:22:01     20,59      0.650301
361346 2004-11-12 10:22:04 2004-11-12 10:22:21     20,59      2.166701
372163 2004-11-15 07:04:28 2004-11-15 07:05:49     20,59      2.862581
376342 2004-11-15 09:41:58 2004-11-15 09:42:03     20,59      0.108438
376644 2004-11-15 09:56:01 2004-11-15 09:59:49     20,59      0.009699
446313 2004-11-22 09:26:10 2004-11-22 09:26:22     20,59      6.976632
446345 2004-11-22 09:26:49 2004-11-22 09:26:53     20,59      0.000313
446349 2004-11-22 09:27:31 2004-11-22 09:31:26     20,59      0.000440
458582 2004-11-23 08:10:13 2004-11-23 08:10:15     20,59      0.943600
458697 2004-11-23 08:13:18 2004-11-23 08:14:01     20,59      0.002118
458744 2004-11-23 08:15:19 2004-11-23 08:15:42     20,59      0.000903
460613 2004-11-23 09:22:23 2004-11-23 09:23:16     20,59      0.046308
468638 2004-11-23 13:40:07 2004-11-23 13:40:13     20,59      0.178368
471770 2004-11-24 06:06:27 2004-11-24 06:06:45     20,59      0.684884
472180 2004-11-24 06:34:58 2004-11-24 06:35:19     20,59      0.019595
472241 2004-11-24 06:39:08 2004-11-24 06:39:27     20,59      0.002650
497882 2004-11-30 08:25:13 2004-11-30 08:25:44     20,59      6.073449
498413 2004-11-30 08:54:28 2004-11-30 08:54:30     20,59      0.019954
498459 2004-11-30 08:56:09 2004-11-30 08:56:38     20,59      0.001146
523561 2004-12-01 17:42:22 2004-12-01 17:42:28     20,59      1.365093
523738 2004-12-01 18:32:19 2004-12-01 18:32:38     20,59      0.034618
531250 2004-12-02 09:06:20 2004-12-02 09:06:24     20,59      0.606736
535146 2004-12-02 11:38:48 2004-12-02 11:38:50     20,59      0.105833
20,60
                     start                 end id_colums  intercontact
23794  2004-09-16 05:52:20 2004-09-16 05:53:16     20,60           NaN
23796  2004-09-16 05:53:22 2004-09-16 05:53:24     20,60      0.000069
23841  2004-09-16 06:02:50 2004-09-16 06:08:56     20,60      0.006551
23968  2004-09-16 06:54:44 2004-09-16 06:58:55     20,60      0.031806
24084  2004-09-16 07:14:10 2004-09-16 07:14:28     20,60      0.010590
...                    ...                 ...       ...           ...
661642 2005-01-11 08:09:53 2005-01-11 08:10:25     20,60      0.003137
661654 2005-01-11 08:12:39 2005-01-11 08:12:55     20,60      0.001551
661691 2005-01-11 08:17:24 2005-01-11 08:17:26     20,60      0.003113
662595 2005-01-11 12:23:15 2005-01-11 12:23:19     20,60      0.170706
662867 2005-01-11 13:56:02 2005-01-11 13:56:54     20,60      0.064387

[307 rows x 4 columns]
20,61
                     start                 end id_colums  intercontact
43137  2004-09-23 09:30:33 2004-09-23 09:30:36     20,61           NaN
43154  2004-09-23 09:31:19 2004-09-23 09:31:34     20,61      0.000498
43170  2004-09-23 09:34:21 2004-09-23 09:35:59     20,61      0.001933
43284  2004-09-23 09:47:32 2004-09-23 09:47:51     20,61      0.008021
43290  2004-09-23 09:47:59 2004-09-23 09:48:29     20,61      0.000093
...                    ...                 ...       ...           ...
562217 2004-12-06 08:37:46 2004-12-06 08:37:47     20,61      0.032141
562694 2004-12-06 09:10:41 2004-12-06 09:10:45     20,61      0.022847
564745 2004-12-06 10:47:01 2004-12-06 10:47:03     20,61      0.066852
565342 2004-12-06 11:19:15 2004-12-06 11:25:53     20,61      0.022361
567871 2004-12-06 14:15:25 2004-12-06 14:15:33     20,61      0.117731

[142 rows x 4 columns]
20,62
                     start                 end id_colums  intercontact
53147  2004-09-24 10:05:31 2004-09-24 10:05:33     20,62           NaN
53203  2004-09-24 10:07:39 2004-09-24 10:07:42     20,62      0.001458
53278  2004-09-24 10:12:16 2004-09-24 10:12:41     20,62      0.003171
53323  2004-09-24 10:15:41 2004-09-24 10:16:29     20,62      0.002083
53341  2004-09-24 10:16:43 2004-09-24 10:16:46     20,62      0.000162
...                    ...                 ...       ...           ...
558560 2004-12-06 04:39:59 2004-12-06 04:40:09     20,62      0.002130
558627 2004-12-06 04:46:42 2004-12-06 04:47:31     20,62      0.004549
558666 2004-12-06 04:48:54 2004-12-06 04:48:55     20,62      0.000961
560877 2004-12-06 07:19:29 2004-12-06 07:19:57     20,62      0.104560
561376 2004-12-06 07:50:51 2004-12-06 07:50:56     20,62      0.021458

[394 rows x 4 columns]
20,66
                     start                 end id_colums  intercontact
43050  2004-09-23 09:17:54 2004-09-23 09:18:36     20,66           NaN
43129  2004-09-23 09:29:50 2004-09-23 09:30:13     20,66      0.007801
43306  2004-09-23 09:48:31 2004-09-23 09:49:21     20,66      0.012708
43719  2004-09-23 10:01:10 2004-09-23 10:01:22     20,66      0.008206
43729  2004-09-23 10:01:29 2004-09-23 10:02:26     20,66      0.000081
...                    ...                 ...       ...           ...
577138 2004-12-08 04:02:51 2004-12-08 04:03:14     20,66      0.002535
577147 2004-12-08 04:04:37 2004-12-08 04:05:06     20,66      0.000961
604561 2004-12-11 10:43:24 2004-12-11 10:43:25     20,66      3.276597
662833 2005-01-11 13:39:40 2005-01-11 13:40:34     20,66     31.122396
663193 2005-01-12 04:11:57 2005-01-12 04:13:10     20,66      0.605127

[452 rows x 4 columns]
20,68
                     start                 end id_colums  intercontact
177499 2004-10-18 06:26:59 2004-10-18 06:27:19     20,68           NaN
205810 2004-10-21 05:00:32 2004-10-21 05:00:41     20,68      2.939734
212654 2004-10-21 15:32:17 2004-10-21 15:32:42     20,68      0.438611
212912 2004-10-21 16:13:48 2004-10-21 16:14:10     20,68      0.028542
212996 2004-10-21 16:52:14 2004-10-21 16:52:15     20,68      0.026435
...                    ...                 ...       ...           ...
661490 2005-01-11 07:44:09 2005-01-11 07:46:04     20,68      0.098750
661547 2005-01-11 07:56:49 2005-01-11 07:56:57     20,68      0.007465
661566 2005-01-11 07:57:34 2005-01-11 07:58:26     20,68      0.000428
661621 2005-01-11 08:05:03 2005-01-11 08:05:22     20,68      0.004595
663735 2005-01-12 07:27:07 2005-01-12 07:27:34     20,68      0.973437

[162 rows x 4 columns]
20,69
                     start                 end id_colums  intercontact
118325 2004-10-07 06:53:01 2004-10-07 06:53:21     20,69           NaN
120399 2004-10-07 08:52:45 2004-10-07 08:53:15     20,69      0.082917
120566 2004-10-07 09:01:31 2004-10-07 09:02:46     20,69      0.005741
121117 2004-10-07 09:32:00 2004-10-07 09:32:42     20,69      0.020301
121152 2004-10-07 09:33:04 2004-10-07 09:33:24     20,69      0.000255
...                    ...                 ...       ...           ...
465703 2004-11-23 11:45:52 2004-11-23 11:49:01     20,69      0.000926
466137 2004-11-23 11:59:03 2004-11-23 11:59:05     20,69      0.006968
469976 2004-11-23 15:19:37 2004-11-23 15:19:39     20,69      0.139259
469978 2004-11-23 15:19:39 2004-11-23 15:19:40     20,69      0.000000
470369 2004-11-23 16:56:10 2004-11-23 16:56:45     20,69      0.067014

[244 rows x 4 columns]
20,70
                     start                 end id_colums  intercontact
659376 2005-01-10 07:39:43 2005-01-10 07:44:01     20,70           NaN
659430 2005-01-10 08:04:18 2005-01-10 08:04:29     20,70      0.014086
659486 2005-01-10 08:19:01 2005-01-10 08:19:16     20,70      0.010093
659490 2005-01-10 08:19:48 2005-01-10 08:20:07     20,70      0.000370
659695 2005-01-10 09:37:45 2005-01-10 09:38:21     20,70      0.053912
659723 2005-01-10 09:55:52 2005-01-10 09:56:08     20,70      0.012164
659726 2005-01-10 09:56:50 2005-01-10 09:57:28     20,70      0.000486
659801 2005-01-10 10:26:22 2005-01-10 10:27:00     20,70      0.020069
659816 2005-01-10 10:29:09 2005-01-10 10:29:35     20,70      0.001493
659838 2005-01-10 10:32:03 2005-01-10 10:32:27     20,70      0.001713
659875 2005-01-10 10:41:25 2005-01-10 10:41:39     20,70      0.006227
660002 2005-01-10 11:28:32 2005-01-10 11:33:29     20,70      0.032558
660886 2005-01-11 03:56:58 2005-01-11 03:57:26     20,70      0.682975
660897 2005-01-11 04:01:27 2005-01-11 04:01:54     20,70      0.002789
660907 2005-01-11 04:06:47 2005-01-11 04:06:51     20,70      0.003391
660912 2005-01-11 04:09:05 2005-01-11 04:09:24     20,70      0.001551
660938 2005-01-11 04:27:13 2005-01-11 04:28:05     20,70      0.012373
660950 2005-01-11 04:30:40 2005-01-11 04:30:50     20,70      0.001794
660967 2005-01-11 04:35:53 2005-01-11 04:36:35     20,70      0.003507
660975 2005-01-11 04:36:58 2005-01-11 04:37:08     20,70      0.000266
660980 2005-01-11 04:38:31 2005-01-11 04:38:46     20,70      0.000961
660982 2005-01-11 04:40:01 2005-01-11 04:40:21     20,70      0.000868
661072 2005-01-11 05:19:19 2005-01-11 05:19:27     20,70      0.027060
661081 2005-01-11 05:21:12 2005-01-11 05:21:29     20,70      0.001215
661128 2005-01-11 05:32:51 2005-01-11 05:32:52     20,70      0.007894
661168 2005-01-11 05:42:07 2005-01-11 05:42:08     20,70      0.006424
661450 2005-01-11 07:34:56 2005-01-11 07:35:02     20,70      0.078333
661469 2005-01-11 07:39:57 2005-01-11 07:40:38     20,70      0.003414
661500 2005-01-11 07:51:39 2005-01-11 07:52:26     20,70      0.007650
661553 2005-01-11 07:56:49 2005-01-11 07:57:16     20,70      0.003044
661564 2005-01-11 07:57:18 2005-01-11 07:57:37     20,70      0.000023
661578 2005-01-11 07:59:11 2005-01-11 07:59:26     20,70      0.001088
661583 2005-01-11 07:59:47 2005-01-11 08:00:04     20,70      0.000243
661647 2005-01-11 08:11:41 2005-01-11 08:12:01     20,70      0.008067
661652 2005-01-11 08:12:09 2005-01-11 08:12:26     20,70      0.000093
661655 2005-01-11 08:12:55 2005-01-11 08:13:08     20,70      0.000336
661662 2005-01-11 08:13:15 2005-01-11 08:13:50     20,70      0.000081
661673 2005-01-11 08:14:55 2005-01-11 08:15:20     20,70      0.000752
661906 2005-01-11 09:59:01 2005-01-11 09:59:32     20,70      0.072002
661949 2005-01-11 10:09:18 2005-01-11 10:10:22     20,70      0.006782
663224 2005-01-12 04:40:23 2005-01-12 04:40:37     20,70      0.770845
663241 2005-01-12 04:48:34 2005-01-12 04:49:01     20,70      0.005521
663543 2005-01-12 06:40:47 2005-01-12 06:41:10     20,70      0.077616
663557 2005-01-12 06:42:59 2005-01-12 06:44:21     20,70      0.001262
663674 2005-01-12 07:13:54 2005-01-12 07:14:09     20,70      0.020521
663912 2005-01-12 08:03:13 2005-01-12 08:03:18     20,70      0.034074
20,71
                     start                 end id_colums  intercontact
116968 2004-10-07 04:15:31 2004-10-07 04:16:13     20,71           NaN
117092 2004-10-07 04:31:15 2004-10-07 04:31:52     20,71      0.010440
117199 2004-10-07 04:46:03 2004-10-07 04:46:56     20,71      0.009850
117211 2004-10-07 04:48:25 2004-10-07 04:48:40     20,71      0.001030
117267 2004-10-07 04:56:03 2004-10-07 04:56:09     20,71      0.005127
...                    ...                 ...       ...           ...
662603 2005-01-11 12:25:11 2005-01-11 12:25:27     20,71      0.001296
663531 2005-01-12 06:39:41 2005-01-12 06:39:45     20,71      0.759884
663574 2005-01-12 06:47:54 2005-01-12 06:48:11     20,71      0.005660

[204 rows x 4 columns]
21,61
                     start                 end id_colums  intercontact
43100  2004-09-23 09:24:27 2004-09-23 09:25:36     21,61           NaN
273937 2004-11-01 07:48:11 2004-11-01 07:49:51     21,61     38.932350
274001 2004-11-01 07:53:07 2004-11-01 07:53:31     21,61      0.002269
274423 2004-11-01 08:29:24 2004-11-01 08:29:26     21,61      0.024919
281405 2004-11-01 15:19:51 2004-11-01 15:22:02     21,61      0.285012
...                    ...                 ...       ...           ...
566178 2004-12-06 12:11:02 2004-12-06 12:11:39     21,61      0.002361
566386 2004-12-06 12:23:13 2004-12-06 12:24:07     21,61      0.008032
566682 2004-12-06 12:37:36 2004-12-06 12:40:10     21,61      0.009363
567270 2004-12-06 13:22:49 2004-12-06 13:24:04     21,61      0.029618
567377 2004-12-06 13:34:57 2004-12-06 13:35:25     21,61      0.007558

[160 rows x 4 columns]
21,62
                     start                 end id_colums  intercontact
52892  2004-09-24 09:49:45 2004-09-24 09:50:03     21,62           NaN
52974  2004-09-24 09:56:35 2004-09-24 09:56:57     21,62      0.004537
188793 2004-10-19 08:05:50 2004-10-19 08:05:52     21,62     24.922836
189883 2004-10-19 08:41:47 2004-10-19 08:42:37     21,62      0.024942
190640 2004-10-19 09:12:43 2004-10-19 09:12:46     21,62      0.020903
...                    ...                 ...       ...           ...
558730 2004-12-06 04:54:31 2004-12-06 04:55:42     21,62      0.345845
558774 2004-12-06 04:59:19 2004-12-06 04:59:29     21,62      0.002512
558781 2004-12-06 04:59:50 2004-12-06 05:01:17     21,62      0.000243
558805 2004-12-06 05:02:31 2004-12-06 05:02:58     21,62      0.000856
561417 2004-12-06 07:52:50 2004-12-06 07:52:52     21,62      0.117963

[256 rows x 4 columns]
21,66
                     start                 end id_colums  intercontact
49354  2004-09-24 04:00:07 2004-09-24 04:00:44     21,66           NaN
49374  2004-09-24 04:04:41 2004-09-24 04:06:04     21,66      0.002743
49383  2004-09-24 04:08:05 2004-09-24 04:08:07     21,66      0.001400
49766  2004-09-24 05:17:43 2004-09-24 05:18:26     21,66      0.048333
49839  2004-09-24 05:37:50 2004-09-24 05:38:04     21,66      0.013472
...                    ...                 ...       ...           ...
634821 2004-12-15 21:16:08 2004-12-15 21:16:23     21,66      0.182361
635080 2004-12-16 04:15:37 2004-12-16 04:15:51     21,66      0.291134
637690 2004-12-16 10:11:11 2004-12-16 10:11:29     21,66      0.246759
637742 2004-12-16 10:17:29 2004-12-16 10:18:01     21,66      0.004167
637750 2004-12-16 10:18:03 2004-12-16 10:19:07     21,66      0.000023

[436 rows x 4 columns]
21,68
                     start                 end id_colums  intercontact
195148 2004-10-19 13:12:10 2004-10-19 13:12:35     21,68           NaN
197873 2004-10-19 19:27:14 2004-10-19 19:27:52     21,68      0.260174
198152 2004-10-19 23:48:32 2004-10-20 00:14:27     21,68      0.181019
198283 2004-10-20 02:31:16 2004-10-20 02:31:43     21,68      0.095012
198287 2004-10-20 02:40:22 2004-10-20 02:41:20     21,68      0.006007
...                    ...                 ...       ...           ...
658702 2005-01-08 18:49:38 2005-01-08 18:50:08     21,68      0.002002
658703 2005-01-08 18:50:45 2005-01-08 18:51:28     21,68      0.000428
658914 2005-01-09 16:27:29 2005-01-09 16:28:21     21,68      0.900012
658973 2005-01-10 03:19:18 2005-01-10 03:21:17     21,68      0.452049
658974 2005-01-10 03:30:44 2005-01-10 03:31:08     21,68      0.006562

[262 rows x 4 columns]
21,69
                     start                 end id_colums  intercontact
165506 2004-10-15 04:59:46 2004-10-15 04:59:50     21,69           NaN
166757 2004-10-15 07:11:08 2004-10-15 07:16:32     21,69      0.091181
166855 2004-10-15 07:19:55 2004-10-15 07:20:15     21,69      0.002350
166878 2004-10-15 07:22:21 2004-10-15 07:34:35     21,69      0.001458
167081 2004-10-15 07:37:02 2004-10-15 07:37:13     21,69      0.001701
...                    ...                 ...       ...           ...
470370 2004-11-23 16:56:10 2004-11-23 16:56:45     21,69      0.090671
470395 2004-11-23 17:05:49 2004-11-23 17:06:18     21,69      0.006296
470486 2004-11-23 17:51:41 2004-11-23 17:51:55     21,69      0.031516
470492 2004-11-23 17:54:30 2004-11-23 17:55:10     21,69      0.001794
470529 2004-11-23 18:11:08 2004-11-23 18:12:59     21,69      0.011088

[380 rows x 4 columns]
21,70
                     start                 end id_colums  intercontact
591462 2004-12-09 11:37:17 2004-12-09 11:38:50     21,70           NaN
659271 2005-01-10 07:10:19 2005-01-10 07:34:44     21,70     31.813530
659378 2005-01-10 07:39:43 2005-01-10 07:44:01     21,70      0.003461
659767 2005-01-10 10:15:06 2005-01-10 10:16:07     21,70      0.104919
659772 2005-01-10 10:16:29 2005-01-10 10:16:45     21,70      0.000255
659921 2005-01-10 11:04:29 2005-01-10 11:07:26     21,70      0.033148
660000 2005-01-10 11:28:10 2005-01-10 11:28:32     21,70      0.014398
21,71
                     start                 end id_colums  intercontact
165314 2004-10-15 04:23:54 2004-10-15 04:32:21     21,71           NaN
167302 2004-10-15 07:48:21 2004-10-15 07:48:22     21,71      0.136111
167342 2004-10-15 07:49:45 2004-10-15 07:50:15     21,71      0.000961
167523 2004-10-15 07:58:39 2004-10-15 07:58:41     21,71      0.005833
168059 2004-10-15 08:47:16 2004-10-15 08:47:39     21,71      0.033738
...                    ...                 ...       ...           ...
658714 2005-01-08 19:16:02 2005-01-08 19:16:22     21,71      0.009502
658727 2005-01-08 19:48:22 2005-01-08 19:49:48     21,71      0.022222
658922 2005-01-09 16:47:38 2005-01-09 17:10:23     21,71      0.873495
658935 2005-01-09 17:54:33 2005-01-09 17:54:42     21,71      0.030671
659375 2005-01-10 07:39:30 2005-01-10 07:54:22     21,71      0.572778

[653 rows x 4 columns]
21,72
                     start                 end id_colums  intercontact
274573 2004-11-01 08:40:41 2004-11-01 08:40:50     21,72           NaN
274987 2004-11-01 09:04:39 2004-11-01 09:04:49     21,72      0.016539
275011 2004-11-01 09:05:08 2004-11-01 09:05:34     21,72      0.000220
275083 2004-11-01 09:10:23 2004-11-01 09:10:25     21,72      0.003345
278446 2004-11-01 11:49:35 2004-11-01 11:49:45     21,72      0.110532
...                    ...                 ...       ...           ...
652872 2005-01-05 08:44:52 2005-01-05 08:46:31     21,72      0.003229
658572 2005-01-08 11:30:39 2005-01-08 11:32:33     21,72      3.113981
658584 2005-01-08 12:16:15 2005-01-08 12:16:24     21,72      0.030347
658598 2005-01-08 12:42:48 2005-01-08 12:42:56     21,72      0.018333
659242 2005-01-10 07:01:45 2005-01-10 07:04:54     21,72      1.763067

[144 rows x 4 columns]
21,75
                     start                 end id_colums  intercontact
176595 2004-10-18 03:23:49 2004-10-18 03:24:01     21,75           NaN
176623 2004-10-18 03:29:42 2004-10-18 03:30:20     21,75      0.003947
176647 2004-10-18 03:31:55 2004-10-18 03:34:24     21,75      0.001100
176679 2004-10-18 03:41:37 2004-10-18 03:41:49     21,75      0.005012
176953 2004-10-18 04:56:49 2004-10-18 04:59:47     21,75      0.052083
...                    ...                 ...       ...           ...
657133 2005-01-07 08:06:45 2005-01-07 08:06:50     21,75      2.121759
658256 2005-01-07 14:02:42 2005-01-07 14:05:23     21,75      0.247130
658708 2005-01-08 19:04:27 2005-01-08 19:04:50     21,75      1.207685
658712 2005-01-08 19:07:53 2005-01-08 19:08:34     21,75      0.002118
658726 2005-01-08 19:48:22 2005-01-08 19:49:48     21,75      0.027639

[163 rows x 4 columns]
21,76
                     start                 end id_colums  intercontact
177210 2004-10-18 05:40:54 2004-10-18 05:41:03     21,76           NaN
185284 2004-10-18 18:07:08 2004-10-18 18:07:19     21,76      0.518113
186170 2004-10-19 04:43:59 2004-10-19 04:44:01     21,76      0.442130
197713 2004-10-19 18:13:53 2004-10-19 18:16:25     21,76      0.562407
198453 2004-10-20 04:39:43 2004-10-20 04:39:47     21,76      0.432847
...                    ...                 ...       ...           ...
641476 2004-12-17 10:30:23 2004-12-17 10:30:44     21,76      0.072083
642013 2004-12-17 12:23:43 2004-12-17 12:23:45     21,76      0.078461
642438 2004-12-17 16:08:01 2004-12-17 16:08:04     21,76      0.155741
642442 2004-12-17 16:10:00 2004-12-17 16:10:03     21,76      0.001343
642443 2004-12-17 16:10:17 2004-12-17 16:10:19     21,76      0.000162

[345 rows x 4 columns]
21,79
                     start                 end id_colums  intercontact
170410 2004-10-15 12:53:24 2004-10-15 12:53:36     21,79           NaN
181512 2004-10-18 11:08:45 2004-10-18 11:10:05     21,79      2.927188
181574 2004-10-18 11:13:15 2004-10-18 11:13:17     21,79      0.002199
186248 2004-10-19 04:48:59 2004-10-19 04:49:10     21,79      0.733125
190619 2004-10-19 09:12:37 2004-10-19 09:12:42     21,79      0.182951
...                    ...                 ...       ...           ...
655556 2005-01-06 10:37:18 2005-01-06 10:37:31     21,79      0.892130
657613 2005-01-07 09:41:07 2005-01-07 09:41:58     21,79      0.960833
658585 2005-01-08 12:16:15 2005-01-08 12:16:24     21,79      1.107141
658616 2005-01-08 13:57:50 2005-01-08 14:16:58     21,79      0.070440
659231 2005-01-10 06:53:39 2005-01-10 06:54:11     21,79      1.692141

[89 rows x 4 columns]
21,80
                     start                 end id_colums  intercontact
269651 2004-10-31 10:50:07 2004-10-31 10:50:36     21,80           NaN
269707 2004-10-31 10:57:02 2004-10-31 10:57:23     21,80      0.004468
269728 2004-10-31 11:00:39 2004-10-31 11:01:03     21,80      0.002269
271825 2004-11-01 03:45:10 2004-11-01 03:45:12     21,80      0.697303
271837 2004-11-01 03:46:42 2004-11-01 03:47:10     21,80      0.001042
271853 2004-11-01 03:48:36 2004-11-01 03:50:19     21,80      0.000995
271878 2004-11-01 03:54:16 2004-11-01 03:57:20     21,80      0.002743
271903 2004-11-01 04:02:33 2004-11-01 04:02:46     21,80      0.003623
271913 2004-11-01 04:03:31 2004-11-01 04:05:37     21,80      0.000521
272022 2004-11-01 04:26:16 2004-11-01 04:26:35     21,80      0.014340
272581 2004-11-01 05:51:55 2004-11-01 05:52:17     21,80      0.059259
272647 2004-11-01 05:56:20 2004-11-01 05:56:59     21,80      0.002812
272685 2004-11-01 05:59:08 2004-11-01 05:59:10     21,80      0.001493
272725 2004-11-01 06:03:26 2004-11-01 06:04:56     21,80      0.002963
272843 2004-11-01 06:16:11 2004-11-01 06:16:28     21,80      0.007812
273983 2004-11-01 07:51:43 2004-11-01 07:52:46     21,80      0.066146
274425 2004-11-01 08:29:24 2004-11-01 08:29:26     21,80      0.025440
274904 2004-11-01 09:02:09 2004-11-01 09:02:11     21,80      0.022720
274991 2004-11-01 09:04:42 2004-11-01 09:04:49     21,80      0.001748
278456 2004-11-01 11:49:40 2004-11-01 11:49:59     21,80      0.114479
278578 2004-11-01 11:54:05 2004-11-01 11:54:15     21,80      0.002847
21,81
                     start                 end id_colums  intercontact
286331 2004-11-02 08:24:46 2004-11-02 08:24:50     21,81           NaN
289319 2004-11-02 10:16:09 2004-11-02 10:16:11     21,81      0.077303
292824 2004-11-02 12:46:42 2004-11-02 12:47:58     21,81      0.104525
293037 2004-11-02 13:02:21 2004-11-02 13:02:33     21,81      0.009988
293044 2004-11-02 13:02:40 2004-11-02 13:02:55     21,81      0.000081
...                    ...                 ...       ...           ...
659786 2005-01-10 10:19:33 2005-01-10 10:19:39     21,81      0.002083
659881 2005-01-10 10:44:53 2005-01-10 10:45:07     21,81      0.017523
659900 2005-01-10 10:55:06 2005-01-10 10:55:24     21,81      0.006933
659924 2005-01-10 11:05:11 2005-01-10 11:13:33     21,81      0.006794
659996 2005-01-10 11:27:42 2005-01-10 11:29:36     21,81      0.009826

[215 rows x 4 columns]
21,82
                     start                 end id_colums  intercontact
49942  2004-09-24 05:50:10 2004-09-24 06:09:39     21,82           NaN
50612  2004-09-24 06:54:05 2004-09-24 06:55:19     21,82      0.030856
50840  2004-09-24 07:14:28 2004-09-24 07:14:55     21,82      0.013299
51028  2004-09-24 07:33:13 2004-09-24 07:33:33     21,82      0.012708
51241  2004-09-24 07:45:01 2004-09-24 07:45:03     21,82      0.007963
...                    ...                 ...       ...           ...
562999 2004-12-06 09:20:01 2004-12-06 10:26:18     21,82      0.178310
565930 2004-12-06 11:57:51 2004-12-06 11:58:14     21,82      0.063576
567618 2004-12-06 13:49:09 2004-12-06 13:49:34     21,82      0.077025
568733 2004-12-06 18:01:21 2004-12-06 18:01:40     21,82      0.174850
569221 2004-12-07 03:10:35 2004-12-07 03:10:48     21,82      0.381192

[362 rows x 4 columns]
21,83
                     start                 end id_colums  intercontact
49338  2004-09-24 03:57:30 2004-09-24 03:58:03     21,83           NaN
49349  2004-09-24 03:59:33 2004-09-24 04:00:00     21,83      0.001042
49772  2004-09-24 05:18:05 2004-09-24 05:19:03     21,83      0.054225
50627  2004-09-24 06:55:58 2004-09-24 06:55:59     21,83      0.067303
50844  2004-09-24 07:14:28 2004-09-24 07:17:36     21,83      0.012836
51078  2004-09-24 07:35:03 2004-09-24 07:38:07     21,83      0.012118
51306  2004-09-24 07:47:53 2004-09-24 07:50:03     21,83      0.006782
52952  2004-09-24 09:54:42 2004-09-24 09:55:21     21,83      0.086563
52964  2004-09-24 09:55:51 2004-09-24 09:56:21     21,83      0.000347
52996  2004-09-24 09:57:53 2004-09-24 09:58:03     21,83      0.001065
255897 2004-10-28 09:27:56 2004-10-28 09:31:15     21,83     33.979086
276679 2004-11-01 10:34:32 2004-11-01 10:42:37     21,83      4.043947
21,85
                     start                 end id_colums  intercontact
219477 2004-10-23 19:12:13 2004-10-23 19:12:15     21,85           NaN
253334 2004-10-28 06:29:13 2004-10-28 06:29:15     21,85      4.470116
255539 2004-10-28 09:03:30 2004-10-28 09:03:35     21,85      0.107118
255895 2004-10-28 09:27:56 2004-10-28 09:31:15     21,85      0.016910
256026 2004-10-28 09:38:19 2004-10-28 09:38:51     21,85      0.004907
...                    ...                 ...       ...           ...
645954 2004-12-21 06:54:35 2004-12-21 06:54:58     21,85      0.000660
645986 2004-12-21 07:04:58 2004-12-21 07:05:10     21,85      0.006944
646001 2004-12-21 07:16:47 2004-12-21 07:17:27     21,85      0.008067
646201 2004-12-21 08:46:14 2004-12-21 08:46:32     21,85      0.061655
646549 2004-12-21 10:11:37 2004-12-21 10:11:53     21,85      0.059086

[308 rows x 4 columns]
21,86
                     start                 end id_colums  intercontact
9675   2004-09-07 10:31:52 2004-09-07 10:32:12     21,86           NaN
52557  2004-09-24 09:29:33 2004-09-24 09:29:54     21,86     16.956493
52879  2004-09-24 09:48:54 2004-09-24 09:49:39     21,86      0.013194
276663 2004-11-01 10:34:13 2004-11-01 10:34:14     21,86     38.030949
285459 2004-11-02 07:20:27 2004-11-02 07:20:48     21,86      0.865428
...                    ...                 ...       ...           ...
590950 2004-12-09 10:58:42 2004-12-09 10:59:20     21,86      0.118287
591807 2004-12-09 11:55:37 2004-12-09 11:55:47     21,86      0.039086
608188 2004-12-12 09:42:21 2004-12-12 09:44:24     21,86      2.907338
608321 2004-12-12 09:54:14 2004-12-12 09:54:33     21,86      0.006829
608660 2004-12-12 10:34:57 2004-12-12 10:36:36     21,86      0.028056

[104 rows x 4 columns]
21,87
                     start                 end id_colums  intercontact
238600 2004-10-26 11:36:32 2004-10-26 11:37:00     21,87           NaN
238814 2004-10-26 11:52:23 2004-10-26 11:52:24     21,87      0.010683
238824 2004-10-26 11:52:49 2004-10-26 11:55:18     21,87      0.000289
238845 2004-10-26 11:55:23 2004-10-26 11:55:33     21,87      0.000058
239249 2004-10-26 12:25:01 2004-10-26 12:25:27     21,87      0.020463
...                    ...                 ...       ...           ...
657641 2005-01-07 09:44:36 2005-01-07 09:45:02     21,87      0.000671
657761 2005-01-07 10:14:44 2005-01-07 10:15:17     21,87      0.020625
657880 2005-01-07 10:49:21 2005-01-07 10:49:40     21,87      0.023657
657888 2005-01-07 10:50:58 2005-01-07 10:51:12     21,87      0.000903
657935 2005-01-07 11:03:24 2005-01-07 11:04:02     21,87      0.008472

[219 rows x 4 columns]
21,88
                     start                 end id_colums  intercontact
28897  2004-09-17 12:41:20 2004-09-17 12:41:45     21,88           NaN
49246  2004-09-24 03:26:20 2004-09-24 03:26:42     21,88      6.614294
49811  2004-09-24 05:26:57 2004-09-24 05:26:59     21,88      0.083507
50128  2004-09-24 06:03:50 2004-09-24 06:04:02     21,88      0.025590
50560  2004-09-24 06:48:25 2004-09-24 06:55:19     21,88      0.030822
...                    ...                 ...       ...           ...
400088 2004-11-17 04:56:51 2004-11-17 04:57:03     21,88      0.656794
401477 2004-11-17 06:52:28 2004-11-17 06:53:30     21,88      0.080150
404752 2004-11-17 09:38:54 2004-11-17 09:39:56     21,88      0.114861
408008 2004-11-17 11:47:23 2004-11-17 11:48:28     21,88      0.088507
408958 2004-11-17 12:32:54 2004-11-17 12:33:06     21,88      0.030856

[154 rows x 4 columns]
21,89
                   start                 end id_colums  intercontact
8819 2004-09-07 05:45:05 2004-09-07 05:47:35     21,89           NaN
22,31
                    start                 end id_colums  intercontact
11268 2004-09-08 11:56:13 2004-09-08 11:56:15     22,31           NaN
22,32
                     start                 end id_colums  intercontact
738486 2005-03-08 05:53:54 2005-03-08 05:54:03     22,32           NaN
738614 2005-03-08 07:20:56 2005-03-08 07:21:06     22,32      0.060336
22,39
                    start                 end id_colums  intercontact
23986 2004-09-16 06:58:10 2004-09-16 06:58:23     22,39           NaN
22,40
                     start                 end id_colums  intercontact
739733 2005-03-09 04:02:06 2005-03-09 04:02:20     22,40           NaN
22,42
                    start                 end id_colums  intercontact
20656 2004-09-14 14:17:59 2004-09-14 14:18:01     22,42           NaN
22,46
                     start                 end id_colums  intercontact
738483 2005-03-08 05:51:18 2005-03-08 05:53:54     22,46           NaN
22,55
                     start                 end id_colums  intercontact
738610 2005-03-08 07:18:26 2005-03-08 07:18:46     22,55           NaN
738615 2005-03-08 07:20:56 2005-03-08 07:21:06     22,55      0.001505
22,68
                     start                 end id_colums  intercontact
738647 2005-03-08 07:23:32 2005-03-08 07:29:00     22,68           NaN
22,79
                     start                 end id_colums  intercontact
738618 2005-03-08 07:21:02 2005-03-08 07:21:06     22,79           NaN
22,85
                     start                 end id_colums  intercontact
738463 2005-03-08 05:35:56 2005-03-08 05:36:11     22,85           NaN
738609 2005-03-08 07:18:14 2005-03-08 07:18:29     22,85      0.070868
738616 2005-03-08 07:20:56 2005-03-08 07:21:06     22,85      0.001701
22,87
                     start                 end id_colums  intercontact
738620 2005-03-08 07:21:02 2005-03-08 07:21:06     22,87           NaN
23,25
                     start                 end id_colums  intercontact
662202 2005-01-11 10:59:39 2005-01-11 10:59:45     23,25           NaN
662203 2005-01-11 10:59:50 2005-01-11 11:00:25     23,25      0.000058
662742 2005-01-11 13:04:30 2005-01-11 13:04:42     23,25      0.086169
662934 2005-01-11 14:43:35 2005-01-11 14:46:42     23,25      0.068669
662957 2005-01-11 14:58:52 2005-01-11 15:00:42     23,25      0.008449
662966 2005-01-11 15:07:55 2005-01-11 15:09:05     23,25      0.005012
676021 2005-01-18 09:55:01 2005-01-18 09:55:07     23,25      6.781898
678755 2005-01-19 08:40:54 2005-01-19 08:41:10     23,25      0.948461
679707 2005-01-19 11:20:20 2005-01-19 11:21:40     23,25      0.110532

[294 rows x 4 columns]
24,40
                     start                 end id_colums  intercontact
367369 2004-11-14 11:35:33 2004-11-14 11:36:45     24,40           NaN
368024 2004-11-14 15:38:45 2004-11-14 15:38:46     24,40      0.168056
370456 2004-11-15 05:54:45 2004-11-15 05:54:58     24,40      0.594433
371175 2004-11-15 06:27:58 2004-11-15 06:28:17     24,40      0.022917
371357 2004-11-15 06:36:37 2004-11-15 06:37:56     24,40      0.005787
...                    ...                 ...       ...           ...
636527 2004-12-16 08:10:33 2004-12-16 08:10:53     24,40      0.044525
636833 2004-12-16 08:29:48 2004-12-16 08:29:52     24,40      0.013137
637149 2004-12-16 08:55:38 2004-12-16 08:56:00     24,40      0.017894
637227 2004-12-16 09:05:52 2004-12-16 09:06:25     24,40      0.006852
639360 2004-12-16 13:35:18 2004-12-16 13:35:42     24,40      0.186725

[235 rows x 4 columns]
24,42
                     start                 end id_colums  intercontact
373519 2004-11-15 08:02:29 2004-11-15 08:03:17     24,42           NaN
377758 2004-11-15 10:46:43 2004-11-15 10:47:01     24,42      0.113495
381276 2004-11-15 13:21:54 2004-11-15 13:22:53     24,42      0.107558
381481 2004-11-15 13:33:59 2004-11-15 13:34:08     24,42      0.007708
382653 2004-11-15 15:03:16 2004-11-15 15:03:33     24,42      0.061898
...                    ...                 ...       ...           ...
537997 2004-12-02 14:29:49 2004-12-02 14:29:59     24,42      0.167569
538011 2004-12-02 14:30:40 2004-12-02 14:31:25     24,42      0.000475
538015 2004-12-02 14:31:55 2004-12-02 14:32:16     24,42      0.000347
538024 2004-12-02 14:33:46 2004-12-02 14:34:06     24,42      0.001042
553117 2004-12-04 13:49:06 2004-12-04 13:49:50     24,42      1.968750

[135 rows x 4 columns]
24,43
                     start                 end id_colums  intercontact
365062 2004-11-13 10:54:04 2004-11-13 10:54:49     24,43           NaN
365132 2004-11-13 11:05:26 2004-11-13 11:06:29     24,43      0.007373
365136 2004-11-13 11:06:46 2004-11-13 11:07:02     24,43      0.000197
365141 2004-11-13 11:07:17 2004-11-13 11:08:01     24,43      0.000174
365177 2004-11-13 11:12:44 2004-11-13 11:30:15     24,43      0.003275
...                    ...                 ...       ...           ...
557810 2004-12-05 19:32:03 2004-12-05 19:32:22     24,43      0.112789
558854 2004-12-06 05:07:56 2004-12-06 05:08:00     24,43      0.399699
559082 2004-12-06 05:28:02 2004-12-06 05:28:58     24,43      0.013912
559102 2004-12-06 05:30:35 2004-12-06 05:31:28     24,43      0.001123
559496 2004-12-06 06:01:23 2004-12-06 06:01:46     24,43      0.020775

[366 rows x 4 columns]
24,44
                     start                 end id_colums  intercontact
403727 2004-11-17 09:04:56 2004-11-17 09:04:58     24,44           NaN
407844 2004-11-17 11:41:39 2004-11-17 11:41:49     24,44      0.108808
408672 2004-11-17 12:18:36 2004-11-17 12:18:51     24,44      0.025544
409598 2004-11-17 13:19:23 2004-11-17 13:19:27     24,44      0.042037
410789 2004-11-17 16:03:31 2004-11-17 16:04:01     24,44      0.113935
...                    ...                 ...       ...           ...
643016 2004-12-18 12:10:37 2004-12-18 12:12:46     24,44      0.415324
643020 2004-12-18 12:13:21 2004-12-18 12:13:54     24,44      0.000405
643090 2004-12-18 13:07:31 2004-12-18 13:07:41     24,44      0.037234
643093 2004-12-18 13:08:36 2004-12-18 13:22:26     24,44      0.000637
643308 2004-12-18 21:43:04 2004-12-18 21:44:32     24,44      0.347662

[356 rows x 4 columns]
24,45
                     start                 end id_colums  intercontact
365063 2004-11-13 10:54:04 2004-11-13 10:54:49     24,45           NaN
365080 2004-11-13 10:55:29 2004-11-13 10:56:26     24,45      0.000463
365096 2004-11-13 10:57:25 2004-11-13 10:57:33     24,45      0.000683
365102 2004-11-13 10:59:40 2004-11-13 10:59:51     24,45      0.001470
365109 2004-11-13 11:01:17 2004-11-13 11:01:27     24,45      0.000995
...                    ...                 ...       ...           ...
642364 2004-12-17 15:32:29 2004-12-17 15:33:07     24,45      0.051146
642374 2004-12-17 15:39:48 2004-12-17 15:39:50     24,45      0.004641
642486 2004-12-17 16:44:01 2004-12-17 16:44:10     24,45      0.044572
642497 2004-12-17 16:53:36 2004-12-17 16:53:42     24,45      0.006551
642513 2004-12-17 17:14:53 2004-12-17 17:15:10     24,45      0.014711

[213 rows x 4 columns]
24,46
                     start                 end id_colums  intercontact
365066 2004-11-13 10:54:04 2004-11-13 10:54:49     24,46           NaN
370295 2004-11-15 05:45:35 2004-11-15 05:46:30     24,46      1.785255
370351 2004-11-15 05:47:43 2004-11-15 05:49:39     24,46      0.000845
370595 2004-11-15 06:01:15 2004-11-15 06:01:41     24,46      0.008056
370610 2004-11-15 06:01:41 2004-11-15 06:01:51     24,46      0.000000
...                    ...                 ...       ...           ...
634156 2004-12-15 15:01:35 2004-12-15 15:01:44     24,46      0.003310
634184 2004-12-15 15:04:10 2004-12-15 15:04:18     24,46      0.001690
634229 2004-12-15 15:15:02 2004-12-15 15:15:09     24,46      0.007454
635313 2004-12-16 05:37:33 2004-12-16 05:37:57     24,46      0.598889
635361 2004-12-16 05:49:46 2004-12-16 05:50:06     24,46      0.008206

[313 rows x 4 columns]
24,53
                     start                 end id_colums  intercontact
370555 2004-11-15 06:00:22 2004-11-15 06:01:41     24,53           NaN
370657 2004-11-15 06:05:02 2004-11-15 06:06:13     24,53      0.002326
370748 2004-11-15 06:09:18 2004-11-15 06:11:10     24,53      0.002141
371461 2004-11-15 06:41:11 2004-11-15 06:42:26     24,53      0.020845
371944 2004-11-15 06:57:39 2004-11-15 06:59:44     24,53      0.010567
...                    ...                 ...       ...           ...
641264 2004-12-17 09:29:30 2004-12-17 09:29:32     24,53      0.138194
641334 2004-12-17 09:42:04 2004-12-17 09:42:40     24,53      0.008704
641382 2004-12-17 10:06:48 2004-12-17 10:07:06     24,53      0.016759
641429 2004-12-17 10:18:08 2004-12-17 10:19:54     24,53      0.007662
641563 2004-12-17 10:50:23 2004-12-17 10:50:25     24,53      0.021169

[265 rows x 4 columns]
24,54
                     start                 end id_colums  intercontact
370270 2004-11-15 05:44:28 2004-11-15 05:44:30     24,54           NaN
370396 2004-11-15 05:49:39 2004-11-15 05:50:40     24,54      0.003576
370561 2004-11-15 06:00:33 2004-11-15 06:01:41     24,54      0.006863
370642 2004-11-15 06:04:04 2004-11-15 06:04:22     24,54      0.001655
370813 2004-11-15 06:14:08 2004-11-15 06:14:46     24,54      0.006782
...                    ...                 ...       ...           ...
643101 2004-12-18 13:22:26 2004-12-18 13:23:45     24,54      0.006678
643104 2004-12-18 13:24:52 2004-12-18 13:25:19     24,54      0.000775
643106 2004-12-18 13:26:54 2004-12-18 13:27:31     24,54      0.001100
643171 2004-12-18 15:42:49 2004-12-18 15:43:39     24,54      0.093958
643182 2004-12-18 15:49:16 2004-12-18 15:50:35     24,54      0.003900

[360 rows x 4 columns]
24,55
                     start                 end id_colums  intercontact
367573 2004-11-14 13:08:46 2004-11-14 13:09:04     24,55           NaN
368726 2004-11-15 03:31:09 2004-11-15 03:31:27     24,55      0.598669
368744 2004-11-15 03:34:57 2004-11-15 03:36:20     24,55      0.002431
368779 2004-11-15 03:38:58 2004-11-15 03:40:17     24,55      0.001829
369018 2004-11-15 04:25:19 2004-11-15 04:25:48     24,55      0.031273
...                    ...                 ...       ...           ...
639847 2004-12-16 16:20:46 2004-12-16 16:23:09     24,55      0.024190
639856 2004-12-16 16:25:39 2004-12-16 16:29:26     24,55      0.001736
639896 2004-12-16 16:49:24 2004-12-16 16:49:25     24,55      0.013866
639897 2004-12-16 16:49:25 2004-12-16 16:51:03     24,55      0.000000
640014 2004-12-16 17:23:10 2004-12-16 17:23:28     24,55      0.022303

[286 rows x 4 columns]
24,58
                     start                 end id_colums  intercontact
365073 2004-11-13 10:54:06 2004-11-13 10:54:24     24,58           NaN
365097 2004-11-13 10:57:25 2004-11-13 10:59:29     24,58      0.002095
365103 2004-11-13 10:59:40 2004-11-13 10:59:45     24,58      0.000127
365105 2004-11-13 10:59:51 2004-11-13 11:01:44     24,58      0.000069
365121 2004-11-13 11:03:13 2004-11-13 11:03:32     24,58      0.001030
...                    ...                 ...       ...           ...
598848 2004-12-10 10:49:09 2004-12-10 10:49:28     24,58      0.011389
598895 2004-12-10 10:50:48 2004-12-10 10:50:59     24,58      0.000926
598910 2004-12-10 10:51:10 2004-12-10 10:51:16     24,58      0.000127
599371 2004-12-10 11:14:59 2004-12-10 11:15:01     24,58      0.016470
599543 2004-12-10 11:21:06 2004-12-10 11:22:27     24,58      0.004225

[332 rows x 4 columns]
24,59
                     start                 end id_colums  intercontact
375536 2004-11-15 09:11:31 2004-11-15 09:11:41     24,59           NaN
376176 2004-11-15 09:35:02 2004-11-15 09:35:11     24,59      0.016215
377989 2004-11-15 10:54:43 2004-11-15 10:54:46     24,59      0.055231
379771 2004-11-15 12:05:41 2004-11-15 12:05:45     24,59      0.049248
380818 2004-11-15 12:53:27 2004-11-15 12:53:45     24,59      0.033125
392616 2004-11-16 10:11:06 2004-11-16 10:11:24     24,59      0.887049
394625 2004-11-16 11:44:28 2004-11-16 11:45:08     24,59      0.064630
397274 2004-11-16 13:34:15 2004-11-16 13:34:22     24,59      0.075775
398004 2004-11-16 14:37:15 2004-11-16 14:37:17     24,59      0.043669
409612 2004-11-17 13:20:21 2004-11-17 13:21:08     24,59      0.946574
427364 2004-11-19 07:43:21 2004-11-19 07:43:26     24,59      1.765428
437599 2004-11-21 07:50:46 2004-11-21 07:51:17     24,59      2.005093
441360 2004-11-22 06:02:37 2004-11-22 06:03:06     24,59      0.924537
456576 2004-11-23 06:26:29 2004-11-23 06:27:35     24,59      1.016238
456850 2004-11-23 06:46:57 2004-11-23 06:47:29     24,59      0.013449
463889 2004-11-23 11:03:10 2004-11-23 11:03:28     24,59      0.177558
464440 2004-11-23 11:12:13 2004-11-23 11:12:33     24,59      0.006076
465018 2004-11-23 11:28:15 2004-11-23 11:28:38     24,59      0.010903
467101 2004-11-23 12:36:23 2004-11-23 12:37:07     24,59      0.047049
469192 2004-11-23 14:00:45 2004-11-23 14:00:54     24,59      0.058079
495112 2004-11-30 06:12:59 2004-11-30 06:13:30     24,59      6.675058
495118 2004-11-30 06:13:33 2004-11-30 06:13:35     24,59      0.000035
496553 2004-11-30 07:26:00 2004-11-30 07:26:01     24,59      0.050289
496561 2004-11-30 07:26:05 2004-11-30 07:27:52     24,59      0.000046
499323 2004-11-30 09:24:34 2004-11-30 09:25:25     24,59      0.081042
499359 2004-11-30 09:27:36 2004-11-30 09:28:02     24,59      0.001516
521733 2004-12-01 13:34:11 2004-12-01 13:34:21     24,59      1.170937
521846 2004-12-01 13:40:36 2004-12-01 13:42:41     24,59      0.004340
523421 2004-12-01 16:59:14 2004-12-01 16:59:28     24,59      0.136493
532576 2004-12-02 10:01:45 2004-12-02 10:02:05     24,59      0.709919
557784 2004-12-05 19:12:17 2004-12-05 19:12:21     24,59      3.382083
581713 2004-12-08 10:29:07 2004-12-08 10:29:14     24,59      2.636644
583322 2004-12-08 11:37:01 2004-12-08 11:37:03     24,59      0.047072
583386 2004-12-08 11:41:02 2004-12-08 11:41:04     24,59      0.002766
586930 2004-12-08 19:00:36 2004-12-08 19:01:50     24,59      0.305231
589553 2004-12-09 08:48:56 2004-12-09 08:48:58     24,59      0.574375
596433 2004-12-10 08:00:18 2004-12-10 08:00:20     24,59      0.966204
599633 2004-12-10 11:25:32 2004-12-10 11:25:33     24,59      0.142500
599712 2004-12-10 11:28:46 2004-12-10 11:31:38     24,59      0.002234
599866 2004-12-10 11:32:45 2004-12-10 11:33:19     24,59      0.000775
605518 2004-12-11 13:05:52 2004-12-11 13:06:02     24,59      1.064271
605523 2004-12-11 13:06:02 2004-12-11 13:06:47     24,59      0.000000
608971 2004-12-12 11:09:37 2004-12-12 11:09:46     24,59      0.918634
611436 2004-12-12 17:46:31 2004-12-12 17:46:32     24,59      0.275521
611441 2004-12-12 17:53:16 2004-12-12 17:53:43     24,59      0.004676
619320 2004-12-13 14:00:26 2004-12-13 14:00:27     24,59      0.837998
621608 2004-12-14 07:28:39 2004-12-14 07:28:48     24,59      0.727917
621924 2004-12-14 07:47:26 2004-12-14 07:48:20     24,59      0.012940
621958 2004-12-14 07:49:38 2004-12-14 07:52:59     24,59      0.000903
632770 2004-12-15 12:19:42 2004-12-15 12:19:52     24,59      1.185220
637309 2004-12-16 09:19:21 2004-12-16 09:20:29     24,59      0.874641
24,60
                     start                 end id_colums  intercontact
370556 2004-11-15 06:00:22 2004-11-15 06:01:41     24,60           NaN
372697 2004-11-15 07:32:20 2004-11-15 07:32:32     24,60      0.062951
374404 2004-11-15 08:27:36 2004-11-15 08:27:50     24,60      0.038241
374916 2004-11-15 08:41:41 2004-11-15 08:41:52     24,60      0.009618
374925 2004-11-15 08:42:00 2004-11-15 08:42:36     24,60      0.000093
...                    ...                 ...       ...           ...
610725 2004-12-12 14:38:13 2004-12-12 14:38:23     24,60      0.040370
610924 2004-12-12 15:19:39 2004-12-12 15:19:44     24,60      0.028657
617628 2004-12-13 11:52:40 2004-12-13 11:53:06     24,60      0.856204
618587 2004-12-13 12:51:22 2004-12-13 12:52:00     24,60      0.040463
618846 2004-12-13 13:08:15 2004-12-13 13:09:00     24,60      0.011285

[239 rows x 4 columns]
24,61
                     start                 end id_colums  intercontact
366630 2004-11-14 05:53:59 2004-11-14 05:54:52     24,61           NaN
366645 2004-11-14 06:05:45 2004-11-14 06:06:04     24,61      0.007558
366659 2004-11-14 06:14:43 2004-11-14 06:15:01     24,61      0.006007
366703 2004-11-14 06:56:48 2004-11-14 06:57:15     24,61      0.029016
366706 2004-11-14 07:00:04 2004-11-14 07:01:25     24,61      0.001956
...                    ...                 ...       ...           ...
561572 2004-12-06 07:58:42 2004-12-06 07:59:16     24,61      0.039583
564330 2004-12-06 10:30:33 2004-12-06 10:30:34     24,61      0.105058
565590 2004-12-06 11:31:46 2004-12-06 11:32:46     24,61      0.042500
567954 2004-12-06 14:26:19 2004-12-06 14:26:27     24,61      0.120521
568054 2004-12-06 14:53:09 2004-12-06 14:53:20     24,61      0.018542

[158 rows x 4 columns]
24,62
                     start                 end id_colums  intercontact
457177 2004-11-23 07:01:30 2004-11-23 07:02:33     24,62           NaN
457605 2004-11-23 07:23:56 2004-11-23 07:26:39     24,62      0.014850
458011 2004-11-23 07:48:42 2004-11-23 07:49:38     24,62      0.015312
458218 2004-11-23 07:58:44 2004-11-23 07:59:16     24,62      0.006319
460070 2004-11-23 09:01:49 2004-11-23 09:01:55     24,62      0.043437
...                    ...                 ...       ...           ...
560548 2004-12-06 07:01:42 2004-12-06 07:02:00     24,62      0.049248
560584 2004-12-06 07:04:27 2004-12-06 07:05:39     24,62      0.001701
560684 2004-12-06 07:08:03 2004-12-06 07:10:30     24,62      0.001667
560819 2004-12-06 07:16:09 2004-12-06 07:16:54     24,62      0.003924
561576 2004-12-06 07:59:08 2004-12-06 07:59:16     24,62      0.029329

[157 rows x 4 columns]
24,66
                     start                 end id_colums  intercontact
368709 2004-11-15 03:26:25 2004-11-15 03:27:21     24,66           NaN
368738 2004-11-15 03:33:01 2004-11-15 03:33:34     24,66      0.003935
368766 2004-11-15 03:37:31 2004-11-15 03:37:40     24,66      0.002743
368800 2004-11-15 03:43:35 2004-11-15 03:43:45     24,66      0.004109
369015 2004-11-15 04:25:06 2004-11-15 04:25:24     24,66      0.028715
...                    ...                 ...       ...           ...
637095 2004-12-16 08:49:19 2004-12-16 08:50:27     24,66      0.001736
637215 2004-12-16 09:05:32 2004-12-16 09:06:04     24,66      0.010475
637324 2004-12-16 09:19:51 2004-12-16 09:20:13     24,66      0.009572
641725 2004-12-17 11:12:00 2004-12-17 11:12:30     24,66      1.077627
641741 2004-12-17 11:15:32 2004-12-17 11:16:18     24,66      0.002106

[434 rows x 4 columns]
24,68
                     start                 end id_colums  intercontact
365335 2004-11-13 11:53:33 2004-11-13 11:54:32     24,68           NaN
366202 2004-11-13 18:12:58 2004-11-13 18:13:20     24,68      0.262801
366212 2004-11-13 18:30:34 2004-11-13 18:31:00     24,68      0.011968
366697 2004-11-14 06:50:51 2004-11-14 06:51:24     24,68      0.513785
366824 2004-11-14 08:09:55 2004-11-14 08:10:19     24,68      0.054525
...                    ...                 ...       ...           ...
506840 2004-11-30 15:35:01 2004-11-30 15:35:29     24,68      0.022975
507919 2004-11-30 19:13:11 2004-11-30 19:13:43     24,68      0.151181
509731 2004-12-01 05:23:36 2004-12-01 05:24:24     24,68      0.423530
509949 2004-12-01 05:33:27 2004-12-01 05:33:40     24,68      0.006285
510398 2004-12-01 06:00:20 2004-12-01 06:01:00     24,68      0.018519

[241 rows x 4 columns]
24,69
                     start                 end id_colums  intercontact
368610 2004-11-15 02:29:00 2004-11-15 02:29:19     24,69           NaN
368659 2004-11-15 03:14:47 2004-11-15 03:15:08     24,69      0.031574
368767 2004-11-15 03:37:33 2004-11-15 03:37:51     24,69      0.015567
368973 2004-11-15 04:16:36 2004-11-15 04:17:40     24,69      0.026910
369006 2004-11-15 04:22:33 2004-11-15 04:23:46     24,69      0.003391
369219 2004-11-15 04:44:08 2004-11-15 04:44:34     24,69      0.014144
373381 2004-11-15 07:58:54 2004-11-15 07:58:56     24,69      0.134954
378208 2004-11-15 10:59:43 2004-11-15 11:00:05     24,69      0.125544
378592 2004-11-15 11:09:36 2004-11-15 11:09:54     24,69      0.006609
380097 2004-11-15 12:22:57 2004-11-15 12:24:21     24,69      0.050729
380253 2004-11-15 12:30:12 2004-11-15 12:30:14     24,69      0.004063
380834 2004-11-15 12:53:40 2004-11-15 12:53:45     24,69      0.016273
380921 2004-11-15 12:57:02 2004-11-15 12:57:22     24,69      0.002280
381916 2004-11-15 13:58:49 2004-11-15 13:58:50     24,69      0.042674
381990 2004-11-15 14:01:54 2004-11-15 14:02:27     24,69      0.002130
382240 2004-11-15 14:22:13 2004-11-15 14:22:15     24,69      0.013727
382611 2004-11-15 15:00:22 2004-11-15 15:00:24     24,69      0.026470
382877 2004-11-15 15:24:13 2004-11-15 15:24:32     24,69      0.016539
383368 2004-11-15 16:32:36 2004-11-15 16:32:54     24,69      0.047269
383469 2004-11-15 16:59:22 2004-11-15 17:00:09     24,69      0.018380
383571 2004-11-15 17:29:16 2004-11-15 17:29:20     24,69      0.020220
383581 2004-11-15 17:31:54 2004-11-15 17:32:06     24,69      0.001782
383729 2004-11-15 17:58:08 2004-11-15 17:59:17     24,69      0.018079
406735 2004-11-17 10:59:42 2004-11-17 10:59:58     24,69      1.708623
406749 2004-11-17 11:00:00 2004-11-17 11:01:16     24,69      0.000023
409896 2004-11-17 13:45:05 2004-11-17 13:45:39     24,69      0.113762
410552 2004-11-17 15:13:55 2004-11-17 15:14:26     24,69      0.061296
411524 2004-11-18 02:28:05 2004-11-18 02:34:27     24,69      0.467813
411560 2004-11-18 03:11:45 2004-11-18 03:12:04     24,69      0.025903
452962 2004-11-22 16:10:06 2004-11-22 16:10:08     24,69      4.540301
456125 2004-11-23 06:00:50 2004-11-23 06:00:54     24,69      0.576875
456275 2004-11-23 06:08:16 2004-11-23 06:08:38     24,69      0.005116
456322 2004-11-23 06:11:46 2004-11-23 06:11:48     24,69      0.002176
456673 2004-11-23 06:32:54 2004-11-23 06:33:36     24,69      0.014653
456851 2004-11-23 06:47:01 2004-11-23 06:47:35     24,69      0.009317
460784 2004-11-23 09:28:13 2004-11-23 09:31:02     24,69      0.111551
461066 2004-11-23 09:33:50 2004-11-23 09:34:22     24,69      0.001944
461223 2004-11-23 09:38:37 2004-11-23 09:38:46     24,69      0.002951
461878 2004-11-23 09:57:54 2004-11-23 09:57:55     24,69      0.013287
462342 2004-11-23 10:17:53 2004-11-23 10:18:25     24,69      0.013866
463231 2004-11-23 10:45:30 2004-11-23 10:51:30     24,69      0.018808

25,54
                     start                 end id_colums  intercontact
37077  2004-09-21 12:10:04 2004-09-21 12:10:15     25,54           NaN
37101  2004-09-21 12:11:10 2004-09-21 12:11:11     25,54      0.000637
37334  2004-09-21 12:34:51 2004-09-21 12:35:48     25,54      0.016435
37451  2004-09-21 12:53:32 2004-09-21 12:55:09     25,54      0.012315
37669  2004-09-21 13:37:57 2004-09-21 13:38:04     25,54      0.029722
...                    ...                 ...       ...           ...
642911 2004-12-18 09:38:19 2004-12-18 09:42:12     25,54      0.009132
642922 2004-12-18 09:45:00 2004-12-18 09:45:54     25,54      0.001944
642927 2004-12-18 09:49:27 2004-12-18 09:50:20     25,54      0.002465
643146 2004-12-18 14:56:13 2004-12-18 14:56:50     25,54      0.212419
643504 2004-12-19 20:09:09 2004-12-19 20:09:27     25,54      1.216887

[255 rows x 4 columns]
25,55
                     start                 end id_colums  intercontact
44217  2004-09-23 10:27:31 2004-09-23 10:27:49     25,55           NaN
44267  2004-09-23 10:28:51 2004-09-23 10:29:21     25,55      0.000718
46772  2004-09-23 12:56:38 2004-09-23 12:57:24     25,55      0.102280
46911  2004-09-23 13:04:23 2004-09-23 13:04:39     25,55      0.004850
46990  2004-09-23 13:05:52 2004-09-23 13:07:01     25,55      0.000845
...                    ...                 ...       ...           ...
783719 2005-05-01 13:13:45 2005-05-01 13:14:22     25,55      0.249317
783720 2005-05-01 13:14:56 2005-05-01 13:16:10     25,55      0.000394
783723 2005-05-01 13:18:50 2005-05-01 13:19:09     25,55      0.001852
783736 2005-05-01 14:26:29 2005-05-01 14:26:47     25,55      0.046759
783738 2005-05-01 14:36:45 2005-05-01 14:37:02     25,55      0.006921

[236 rows x 4 columns]
25,56
                     start                 end id_colums  intercontact
23900  2004-09-16 06:38:25 2004-09-16 06:42:00     25,56           NaN
24506  2004-09-16 08:09:31 2004-09-16 08:09:49     25,56      0.060775
26518  2004-09-16 16:06:02 2004-09-16 16:06:17     25,56      0.330706
26585  2004-09-16 17:20:57 2004-09-16 17:21:14     25,56      0.051852
26590  2004-09-16 17:23:18 2004-09-16 17:23:24     25,56      0.001435
...                    ...                 ...       ...           ...
291099 2004-11-02 11:23:28 2004-11-02 11:24:02     25,56      0.000486
291444 2004-11-02 11:36:54 2004-11-02 11:37:28     25,56      0.008935
291632 2004-11-02 11:48:33 2004-11-02 11:49:08     25,56      0.007697
292753 2004-11-02 12:40:50 2004-11-02 12:41:09     25,56      0.035903
293065 2004-11-02 13:04:13 2004-11-02 13:04:28     25,56      0.016019

[172 rows x 4 columns]
25,58
                     start                 end id_colums  intercontact
141045 2004-10-12 10:15:24 2004-10-12 10:15:43     25,58           NaN
145015 2004-10-12 14:13:28 2004-10-12 14:13:48     25,58      0.165104
148944 2004-10-13 07:15:39 2004-10-13 07:17:09     25,58      0.709618
149603 2004-10-13 07:59:01 2004-10-13 07:59:11     25,58      0.029074
151831 2004-10-13 10:01:02 2004-10-13 10:01:21     25,58      0.084618
...                    ...                 ...       ...           ...
650749 2005-01-03 17:33:37 2005-01-03 17:33:46     25,58      0.014132
650754 2005-01-03 17:46:32 2005-01-03 17:46:49     25,58      0.008866
650760 2005-01-03 17:52:01 2005-01-03 17:52:10     25,58      0.003611
650767 2005-01-03 18:05:21 2005-01-03 18:05:44     25,58      0.009155
650776 2005-01-03 18:41:54 2005-01-03 18:42:43     25,58      0.025116

[128 rows x 4 columns]
25,59
                     start                 end id_colums  intercontact
206473 2004-10-21 06:43:24 2004-10-21 06:44:52     25,59           NaN
271355 2004-10-31 20:47:31 2004-10-31 20:48:12     25,59     10.585174
271508 2004-10-31 22:07:05 2004-10-31 22:07:11     25,59      0.054780
287343 2004-11-02 09:06:45 2004-11-02 09:06:46     25,59      1.458032
288889 2004-11-02 10:01:14 2004-11-02 10:01:36     25,59      0.037824
288936 2004-11-02 10:02:34 2004-11-02 10:03:19     25,59      0.000671
289022 2004-11-02 10:04:46 2004-11-02 10:04:48     25,59      0.001007
289074 2004-11-02 10:05:37 2004-11-02 10:05:54     25,59      0.000567
289170 2004-11-02 10:10:15 2004-11-02 10:10:17     25,59      0.003021
291453 2004-11-02 11:37:06 2004-11-02 11:37:14     25,59      0.060289
321185 2004-11-05 10:18:32 2004-11-05 10:18:34     25,59      2.945347
322884 2004-11-05 13:15:22 2004-11-05 13:15:24     25,59      0.122778
323464 2004-11-05 15:27:42 2004-11-05 15:27:44     25,59      0.091875
323594 2004-11-05 16:25:05 2004-11-05 16:25:25     25,59      0.039826
444278 2004-11-22 07:53:00 2004-11-22 07:53:46     25,59     16.644155
456242 2004-11-23 06:05:39 2004-11-23 06:05:40     25,59      0.924919
456542 2004-11-23 06:24:31 2004-11-23 06:28:29     25,59      0.013090
457789 2004-11-23 07:35:27 2004-11-23 07:35:57     25,59      0.046505
608282 2004-12-12 09:50:03 2004-12-12 09:53:52     25,59     19.093125
608577 2004-12-12 10:21:13 2004-12-12 10:24:57     25,59      0.018993
608608 2004-12-12 10:24:57 2004-12-12 10:24:58     25,59      0.000000
608888 2004-12-12 10:59:17 2004-12-12 10:59:35     25,59      0.023831
608996 2004-12-12 11:11:34 2004-12-12 11:11:56     25,59      0.008322
609213 2004-12-12 11:35:20 2004-12-12 11:35:36     25,59      0.016250
674865 2005-01-17 19:45:49 2005-01-17 19:47:04     25,59     36.340428
676337 2005-01-18 10:47:41 2005-01-18 10:48:03     25,59      0.625428
676378 2005-01-18 10:52:25 2005-01-18 10:52:32     25,59      0.003032
683853 2005-01-21 08:40:54 2005-01-21 08:41:26     25,59      2.908588
683876 2005-01-21 08:42:16 2005-01-21 08:42:32     25,59      0.000579
684233 2005-01-21 11:00:59 2005-01-21 11:01:06     25,59      0.096146
688661 2005-01-25 08:39:12 2005-01-25 08:39:14     25,59      3.901458
688703 2005-01-25 08:42:04 2005-01-25 08:43:12     25,59      0.001968
688928 2005-01-25 09:20:24 2005-01-25 09:22:00     25,59      0.025833
689548 2005-01-25 11:44:29 2005-01-25 11:44:47     25,59      0.098947
690014 2005-01-25 13:48:58 2005-01-25 13:49:32     25,59      0.086238
690655 2005-01-26 07:11:23 2005-01-26 07:11:58     25,59      0.723507
693866 2005-01-27 09:20:28 2005-01-27 09:20:37     25,59      1.089236
695066 2005-01-27 13:45:12 2005-01-27 13:45:20     25,59      0.183738
702980 2005-02-04 08:13:18 2005-02-04 08:13:35     25,59      7.769421
703001 2005-02-04 08:21:47 2005-02-04 08:21:52     25,59      0.005694
719366 2005-02-21 14:12:29 2005-02-21 14:12:47     25,59     17.243484
25,60
                     start                 end id_colums  intercontact
23835  2004-09-16 06:02:33 2004-09-16 06:03:44     25,60           NaN
23969  2004-09-16 06:54:44 2004-09-16 06:58:55     25,60      0.035417
24111  2004-09-16 07:19:11 2004-09-16 07:19:27     25,60      0.014074
24534  2004-09-16 08:19:50 2004-09-16 08:20:21     25,60      0.041933
24834  2004-09-16 09:21:41 2004-09-16 09:21:54     25,60      0.042593
...                    ...                 ...       ...           ...
783893 2005-05-02 07:17:14 2005-05-02 07:17:31     25,60      0.001366
783895 2005-05-02 07:17:46 2005-05-02 07:17:48     25,60      0.000174
783896 2005-05-02 07:18:28 2005-05-02 07:18:47     25,60      0.000463
783897 2005-05-02 07:18:51 2005-05-02 07:19:03     25,60      0.000046
783900 2005-05-02 07:20:09 2005-05-02 07:21:37     25,60      0.000764

[265 rows x 4 columns]
25,61
                     start                 end id_colums  intercontact
46775  2004-09-23 12:56:38 2004-09-23 12:57:24     25,61           NaN
46842  2004-09-23 13:01:24 2004-09-23 13:01:29     25,61      0.002778
46851  2004-09-23 13:01:36 2004-09-23 13:02:04     25,61      0.000081
46860  2004-09-23 13:02:08 2004-09-23 13:02:20     25,61      0.000046
46994  2004-09-23 13:05:52 2004-09-23 13:06:40     25,61      0.002454
48849  2004-09-23 17:29:45 2004-09-23 17:30:04     25,61      0.182697
48916  2004-09-23 17:45:29 2004-09-23 17:45:51     25,61      0.010706
49026  2004-09-23 18:22:41 2004-09-23 18:23:00     25,61      0.025579
286880 2004-11-02 08:53:27 2004-11-02 08:53:37     25,61     39.604479
287321 2004-11-02 09:06:25 2004-11-02 09:06:28     25,61      0.008889
287787 2004-11-02 09:20:45 2004-11-02 09:20:47     25,61      0.009919
288018 2004-11-02 09:30:09 2004-11-02 09:30:27     25,61      0.006505
288102 2004-11-02 09:33:03 2004-11-02 09:33:05     25,61      0.001806
289669 2004-11-02 10:31:54 2004-11-02 10:32:02     25,61      0.040845
290125 2004-11-02 10:49:11 2004-11-02 10:49:48     25,61      0.011910
290164 2004-11-02 10:50:30 2004-11-02 10:51:03     25,61      0.000486
290198 2004-11-02 10:51:20 2004-11-02 10:51:40     25,61      0.000197
290210 2004-11-02 10:51:46 2004-11-02 10:52:21     25,61      0.000069
290305 2004-11-02 10:54:43 2004-11-02 10:56:49     25,61      0.001644
290426 2004-11-02 10:58:34 2004-11-02 10:58:40     25,61      0.001215
290469 2004-11-02 11:00:25 2004-11-02 11:01:59     25,61      0.001215
298155 2004-11-03 07:52:38 2004-11-03 07:53:54     25,61      0.868507
307254 2004-11-04 06:04:50 2004-11-04 06:05:27     25,61      0.924259
308106 2004-11-04 06:59:41 2004-11-04 07:00:16     25,61      0.037662
308300 2004-11-04 07:11:43 2004-11-04 07:13:28     25,61      0.007951
308362 2004-11-04 07:14:07 2004-11-04 07:14:33     25,61      0.000451
308415 2004-11-04 07:16:01 2004-11-04 07:16:26     25,61      0.001019
308603 2004-11-04 07:27:31 2004-11-04 07:27:47     25,61      0.007697
308825 2004-11-04 07:38:58 2004-11-04 07:39:11     25,61      0.007766
309209 2004-11-04 07:59:42 2004-11-04 07:59:52     25,61      0.014248
316574 2004-11-04 14:25:20 2004-11-04 14:25:41     25,61      0.267685
317122 2004-11-04 16:13:44 2004-11-04 16:13:52     25,61      0.075035
321556 2004-11-05 10:52:08 2004-11-05 10:52:22     25,61      0.776574
321585 2004-11-05 10:53:56 2004-11-05 10:54:09     25,61      0.001088
321598 2004-11-05 10:54:40 2004-11-05 10:55:04     25,61      0.000359
322253 2004-11-05 12:09:10 2004-11-05 12:09:49     25,61      0.051458
324425 2004-11-06 07:33:34 2004-11-06 07:33:45     25,61      0.808160
324437 2004-11-06 07:41:49 2004-11-06 07:42:16     25,61      0.005602
324465 2004-11-06 07:50:56 2004-11-06 07:51:07     25,61      0.006019
442972 2004-11-22 07:10:13 2004-11-22 07:10:29     25,61     15.971597
443008 2004-11-22 07:11:15 2004-11-22 07:11:21     25,61      0.000532
443018 2004-11-22 07:11:44 2004-11-22 07:12:00     25,61      0.000266
443652 2004-11-22 07:34:32 2004-11-22 07:34:50     25,61      0.015648
447080 2004-11-22 09:54:02 2004-11-22 09:54:07     25,61      0.096667
448782 2004-11-22 10:39:46 2004-11-22 10:40:28     25,61      0.031701
449851 2004-11-22 11:15:47 2004-11-22 11:15:54     25,61      0.024525
451334 2004-11-22 13:01:05 2004-11-22 13:01:32     25,61      0.073044
452021 2004-11-22 13:54:08 2004-11-22 13:54:50     25,61      0.036528
452062 2004-11-22 13:58:29 2004-11-22 13:58:31     25,61      0.002535
456458 2004-11-23 06:19:09 2004-11-23 06:19:11     25,61      0.680995
456543 2004-11-23 06:24:34 2004-11-23 06:24:36     25,61      0.003738
460863 2004-11-23 09:29:31 2004-11-23 09:29:49     25,61      0.128414
462639 2004-11-23 10:28:44 2004-11-23 10:29:03     25,61      0.040914
465760 2004-11-23 11:47:11 2004-11-23 11:47:24     25,61      0.054259
548081 2004-12-03 12:17:41 2004-12-03 12:18:00     25,61     10.021030
549472 2004-12-03 13:41:04 2004-12-03 13:41:18     25,61      0.057685
25,62
                     start                 end id_colums  intercontact
53274  2004-09-24 10:11:43 2004-09-24 10:12:02     25,62           NaN
53311  2004-09-24 10:15:01 2004-09-24 10:15:39     25,62      0.002072
54202  2004-09-24 11:59:49 2004-09-24 12:00:09     25,62      0.072338
55110  2004-09-24 13:49:18 2004-09-24 13:52:47     25,62      0.075799
57711  2004-09-26 19:21:50 2004-09-26 19:22:01     25,62      2.228507
...                    ...                 ...       ...           ...
461001 2004-11-23 09:32:34 2004-11-23 09:32:53     25,62      0.001910
552856 2004-12-04 12:21:18 2004-12-04 12:21:47     25,62     11.116956
552883 2004-12-04 12:30:22 2004-12-04 12:30:29     25,62      0.005961
552885 2004-12-04 12:30:33 2004-12-04 12:30:53     25,62      0.000046
552976 2004-12-04 13:09:06 2004-12-04 13:09:15     25,62      0.026539

[139 rows x 4 columns]
25,63
                     start                 end id_colums  intercontact
46000  2004-09-23 12:04:37 2004-09-23 12:04:56     25,63           NaN
46073  2004-09-23 12:09:44 2004-09-23 12:23:11     25,63      0.003333
46442  2004-09-23 12:35:40 2004-09-23 12:36:18     25,63      0.008669
49095  2004-09-23 19:28:18 2004-09-23 19:28:29     25,63      0.286111
56257  2004-09-25 10:13:25 2004-09-25 10:13:52     25,63      1.614537
57988  2004-09-27 05:03:43 2004-09-27 05:03:59     25,63      1.784618
57993  2004-09-27 05:04:47 2004-09-27 05:04:57     25,63      0.000556
68107  2004-09-28 07:55:57 2004-09-28 07:55:58     25,63      1.118750
68117  2004-09-28 07:56:04 2004-09-28 07:56:38     25,63      0.000069
68147  2004-09-28 07:58:01 2004-09-28 07:58:12     25,63      0.000961
68152  2004-09-28 07:58:57 2004-09-28 07:59:15     25,63      0.000521
76862  2004-09-29 09:54:19 2004-09-29 09:54:21     25,63      1.079907
91073  2004-10-02 16:32:39 2004-10-02 16:33:13     25,63      3.276597
91076  2004-10-02 16:34:38 2004-10-02 16:34:47     25,63      0.000984
92486  2004-10-03 14:19:03 2004-10-03 14:19:12     25,63      0.905741
110946 2004-10-06 08:02:38 2004-10-06 08:03:29     25,63      2.738495
149802 2004-10-13 08:04:02 2004-10-13 08:04:17     25,63      7.000382
150623 2004-10-13 08:43:44 2004-10-13 08:44:00     25,63      0.027396
150870 2004-10-13 08:59:55 2004-10-13 08:59:56     25,63      0.011053
151689 2004-10-13 09:55:28 2004-10-13 09:55:37     25,63      0.038565
151699 2004-10-13 09:56:16 2004-10-13 09:56:22     25,63      0.000451
156406 2004-10-14 07:09:31 2004-10-14 07:09:41     25,63      0.884132
167959 2004-10-15 08:27:49 2004-10-15 08:28:04     25,63      1.054259
168067 2004-10-15 08:48:55 2004-10-15 08:49:51     25,63      0.014479
168104 2004-10-15 08:51:11 2004-10-15 08:51:12     25,63      0.000926
168790 2004-10-15 10:03:27 2004-10-15 10:03:30     25,63      0.050174
261185 2004-10-29 05:05:52 2004-10-29 05:05:53     25,63     13.793310
261196 2004-10-29 05:07:33 2004-10-29 05:08:16     25,63      0.001157
261424 2004-10-29 05:41:24 2004-10-29 05:42:46     25,63      0.023009
261495 2004-10-29 05:55:35 2004-10-29 05:55:40     25,63      0.008900
261510 2004-10-29 05:57:28 2004-10-29 05:57:32     25,63      0.001250
261577 2004-10-29 06:05:23 2004-10-29 06:05:28     25,63      0.005451
282072 2004-11-01 18:21:13 2004-11-01 18:21:14     25,63      3.510937
298070 2004-11-03 07:46:48 2004-11-03 07:47:14     25,63      1.559421
298184 2004-11-03 07:54:20 2004-11-03 07:54:34     25,63      0.004931
323588 2004-11-05 16:23:09 2004-11-05 16:23:51     25,63      2.353183
334861 2004-11-08 14:56:03 2004-11-08 14:57:03     25,63      2.939028
410312 2004-11-17 14:40:03 2004-11-17 14:41:04     25,63      8.988194
611023 2004-12-12 15:40:09 2004-12-12 15:40:48     25,63     25.041030
774714 2005-04-13 04:46:58 2005-04-13 04:47:37     25,63    121.545949
25,64
                     start                 end id_colums  intercontact
38636  2004-09-22 07:58:13 2004-09-22 07:58:19     25,64           NaN
38637  2004-09-22 07:58:45 2004-09-22 07:59:08     25,64      0.000301
57982  2004-09-27 05:02:45 2004-09-27 05:03:29     25,64      4.877512
59556  2004-09-27 08:02:11 2004-09-27 08:02:21     25,64      0.124097
68118  2004-09-28 07:56:12 2004-09-28 07:56:38     25,64      0.995729
76854  2004-09-29 09:53:53 2004-09-29 09:53:56     25,64      1.081424
88103  2004-10-01 10:01:31 2004-10-01 10:01:32     25,64      2.005266
99412  2004-10-04 12:44:09 2004-10-04 12:44:26     25,64      3.112928
99474  2004-10-04 12:48:16 2004-10-04 12:48:52     25,64      0.002662
123827 2004-10-07 12:07:01 2004-10-07 12:07:07     25,64      2.970937
123833 2004-10-07 12:07:07 2004-10-07 12:07:54     25,64      0.000000
128520 2004-10-08 06:58:44 2004-10-08 06:58:53     25,64      0.785301
167957 2004-10-15 08:27:46 2004-10-15 08:28:16     25,64      7.061725
168103 2004-10-15 08:51:11 2004-10-15 08:51:12     25,64      0.015914
168778 2004-10-15 10:02:35 2004-10-15 10:02:45     25,64      0.049572
192616 2004-10-19 10:51:31 2004-10-19 10:52:49     25,64      4.033866
261251 2004-10-29 05:12:22 2004-10-29 05:14:19     25,64      9.763576
261391 2004-10-29 05:32:14 2004-10-29 05:32:15     25,64      0.012442
261394 2004-10-29 05:32:15 2004-10-29 05:34:15     25,64      0.000000
261578 2004-10-29 06:05:23 2004-10-29 06:05:28     25,64      0.021620
298320 2004-11-03 07:58:54 2004-11-03 07:59:00     25,64      5.078773
319725 2004-11-05 07:55:58 2004-11-05 07:58:12     25,64      1.997894
323463 2004-11-05 15:27:42 2004-11-05 15:27:44     25,64      0.312153
323565 2004-11-05 16:14:00 2004-11-05 16:21:53     25,64      0.032130
324696 2004-11-06 10:01:04 2004-11-06 10:01:10     25,64      0.735544
324698 2004-11-06 10:02:26 2004-11-06 10:02:50     25,64      0.000880
344979 2004-11-09 12:08:23 2004-11-09 12:08:43     25,64      3.087188
457776 2004-11-23 07:34:59 2004-11-23 07:35:57     25,64     13.809907
554153 2004-12-04 21:56:40 2004-12-04 22:00:34     25,64     11.597720
608281 2004-12-12 09:50:03 2004-12-12 09:53:52     25,64      7.492697
608575 2004-12-12 10:21:11 2004-12-12 10:24:57     25,64      0.018970
608607 2004-12-12 10:24:57 2004-12-12 10:24:58     25,64      0.000000
25,66
                     start                 end id_colums  intercontact
43049  2004-09-23 09:17:54 2004-09-23 09:18:36     25,66           NaN
46823  2004-09-23 12:59:22 2004-09-23 12:59:24     25,66      0.153310
46849  2004-09-23 13:01:29 2004-09-23 13:02:08     25,66      0.001447
46885  2004-09-23 13:03:27 2004-09-23 13:03:45     25,66      0.000914
46910  2004-09-23 13:04:23 2004-09-23 13:04:40     25,66      0.000440
...                    ...                 ...       ...           ...
783715 2005-05-01 12:58:57 2005-05-01 12:59:01     25,66      0.004051
783787 2005-05-01 20:24:23 2005-05-01 20:29:48     25,66      0.309282
783937 2005-05-02 08:13:26 2005-05-02 08:13:28     25,66      0.488634
783947 2005-05-02 08:27:25 2005-05-02 08:27:51     25,66      0.009687
783956 2005-05-02 08:43:13 2005-05-02 08:43:23     25,66      0.010671

[245 rows x 4 columns]
25,67
                    start                 end id_colums  intercontact
26492 2004-09-16 15:39:12 2004-09-16 15:39:15     25,67           NaN
25,68
                     start                 end id_colums  intercontact
184119 2004-10-18 14:35:45 2004-10-18 14:36:04     25,68           NaN
185586 2004-10-18 19:19:08 2004-10-18 19:19:17     25,68      0.196574
186191 2004-10-19 04:45:17 2004-10-19 04:45:21     25,68      0.393056
187500 2004-10-19 06:49:08 2004-10-19 06:49:10     25,68      0.085961
187596 2004-10-19 07:00:26 2004-10-19 07:00:43     25,68      0.007824
...                    ...                 ...       ...           ...
752285 2005-03-17 14:13:48 2005-03-17 14:13:53     25,68     22.806343
752286 2005-03-17 14:15:09 2005-03-17 14:21:02     25,68      0.000880
752429 2005-03-17 16:29:59 2005-03-17 16:30:24     25,68      0.089549
752445 2005-03-17 17:25:21 2005-03-17 17:39:25     25,68      0.038160
752576 2005-03-17 19:01:47 2005-03-17 19:01:53     25,68      0.057199

[235 rows x 4 columns]
25,69
                     start                 end id_colums  intercontact
125917 2004-10-07 14:54:42 2004-10-07 15:00:30     25,69           NaN
126012 2004-10-07 15:07:00 2004-10-07 15:07:19     25,69      0.004514
126054 2004-10-07 15:11:08 2004-10-07 15:11:23     25,69      0.002650
126134 2004-10-07 15:18:17 2004-10-07 15:18:37     25,69      0.004792
126237 2004-10-07 15:27:22 2004-10-07 15:27:54     25,69      0.006076

27,30
                     start                 end id_colums  intercontact
13192  2004-09-10 04:49:26 2004-09-10 04:49:32     27,30           NaN
18020  2004-09-14 05:02:02 2004-09-14 05:02:31     27,30      4.008681
18024  2004-09-14 05:04:25 2004-09-14 05:04:27     27,30      0.001319
18913  2004-09-14 08:57:16 2004-09-14 08:57:40     27,30      0.161678
20337  2004-09-14 13:10:39 2004-09-14 13:11:46     27,30      0.175683
...                    ...                 ...       ...           ...
294238 2004-11-02 14:30:11 2004-11-02 14:31:23     27,30      0.194120
294571 2004-11-02 15:34:22 2004-11-02 15:34:28     27,30      0.043738
297379 2004-11-03 06:49:48 2004-11-03 06:52:10     27,30      0.635648
299131 2004-11-03 08:45:41 2004-11-03 08:45:58     27,30      0.078831
299543 2004-11-03 09:10:05 2004-11-03 09:10:23     27,30      0.016748

[96 rows x 4 columns]
27,32
                     start                 end id_colums  intercontact
26054  2004-09-16 13:10:53 2004-09-16 13:11:03     27,32           NaN
26895  2004-09-17 05:24:28 2004-09-17 05:24:31     27,32      0.675984
27537  2004-09-17 07:56:46 2004-09-17 07:56:49     27,32      0.105729
27565  2004-09-17 08:04:26 2004-09-17 08:11:36     27,32      0.005289
27596  2004-09-17 08:15:11 2004-09-17 08:15:42     27,32      0.002488
...                    ...                 ...       ...           ...
768014 2005-03-31 09:47:06 2005-03-31 09:48:09     27,32      0.007222
768126 2005-03-31 10:36:39 2005-03-31 10:36:45     27,32      0.033681
768216 2005-03-31 11:13:43 2005-03-31 11:16:15     27,32      0.025671
768253 2005-03-31 11:28:57 2005-03-31 11:30:01     27,32      0.008819
768273 2005-03-31 11:47:52 2005-03-31 11:47:57     27,32      0.012396

[184 rows x 4 columns]
27,35
                     start                 end id_colums  intercontact
280534 2004-11-01 13:37:19 2004-11-01 13:37:21     27,35           NaN
280955 2004-11-01 14:19:48 2004-11-01 14:23:15     27,35      0.029479
284509 2004-11-02 06:28:29 2004-11-02 06:28:32     27,35      0.670301
287278 2004-11-02 09:05:07 2004-11-02 09:05:08     27,35      0.108738
287303 2004-11-02 09:05:46 2004-11-02 09:05:58     27,35      0.000440
...                    ...                 ...       ...           ...
555208 2004-12-05 09:22:02 2004-12-05 09:22:26     27,35      0.004988
557070 2004-12-05 14:25:24 2004-12-05 14:25:50     27,35      0.210394
557387 2004-12-05 15:24:17 2004-12-05 15:25:40     27,35      0.040590
566503 2004-12-06 12:26:58 2004-12-06 12:27:03     27,35      0.875903
567847 2004-12-06 14:13:44 2004-12-06 14:13:56     27,35      0.074086

[143 rows x 4 columns]
27,40
                     start                 end id_colums  intercontact
41797  2004-09-23 06:24:18 2004-09-23 06:25:07     27,40           NaN
45120  2004-09-23 11:15:34 2004-09-23 11:15:39     27,40      0.201701
46374  2004-09-23 12:31:28 2004-09-23 12:31:33     27,40      0.052650
49851  2004-09-24 05:40:16 2004-09-24 05:40:21     27,40      0.714387
49857  2004-09-24 05:40:51 2004-09-24 05:41:28     27,40      0.000347
...                    ...                 ...       ...           ...
767521 2005-03-31 05:27:59 2005-03-31 05:28:04     27,40      0.719664
767878 2005-03-31 08:37:48 2005-03-31 08:37:56     27,40      0.131759
767932 2005-03-31 08:59:27 2005-03-31 08:59:33     27,40      0.014942
767973 2005-03-31 09:26:05 2005-03-31 09:26:40     27,40      0.018426
768378 2005-03-31 13:40:45 2005-03-31 13:40:55     27,40      0.176447

[351 rows x 4 columns]
27,42
                     start                 end id_colums  intercontact
45124  2004-09-23 11:15:44 2004-09-23 11:15:46     27,42           NaN
51175  2004-09-24 07:42:21 2004-09-24 07:42:23     27,42      0.851794
51189  2004-09-24 07:42:36 2004-09-24 07:44:06     27,42      0.000150
51580  2004-09-24 08:01:26 2004-09-24 08:01:51     27,42      0.012037
51634  2004-09-24 08:03:06 2004-09-24 08:04:27     27,42      0.000868
...                    ...                 ...       ...           ...
530086 2004-12-02 08:29:24 2004-12-02 08:29:45     27,42      0.000139
531276 2004-12-02 09:06:54 2004-12-02 09:07:04     27,42      0.025799
532294 2004-12-02 09:51:08 2004-12-02 09:51:47     27,42      0.030602
534484 2004-12-02 11:16:11 2004-12-02 11:16:39     27,42      0.058611
553260 2004-12-04 14:31:06 2004-12-04 14:32:51     27,42      2.135035

[261 rows x 4 columns]
27,43
                     start                 end id_colums  intercontact
45117  2004-09-23 11:15:34 2004-09-23 11:15:39     27,43           NaN
51585  2004-09-24 08:01:26 2004-09-24 08:01:51     27,43      0.865127
51608  2004-09-24 08:02:06 2004-09-24 08:02:25     27,43      0.000174
52937  2004-09-24 09:52:48 2004-09-24 09:53:06     27,43      0.076655
55425  2004-09-24 14:52:09 2004-09-24 14:52:11     27,43      0.207674
...                    ...                 ...       ...           ...
541343 2004-12-03 07:35:05 2004-12-03 07:35:09     27,43      0.075625
541750 2004-12-03 07:54:31 2004-12-03 07:54:33     27,43      0.013449
544293 2004-12-03 09:52:35 2004-12-03 09:52:45     27,43      0.081968
555106 2004-12-05 09:07:47 2004-12-05 09:08:23     27,43      1.968773
555459 2004-12-05 10:08:48 2004-12-05 10:08:59     27,43      0.041956

[229 rows x 4 columns]
27,44
                     start                 end id_colums  intercontact
43128  2004-09-23 09:29:01 2004-09-23 09:29:41     27,44           NaN
43133  2004-09-23 09:30:14 2004-09-23 09:30:49     27,44      0.000382
46390  2004-09-23 12:31:51 2004-09-23 12:32:13     27,44      0.125718
46535  2004-09-23 12:41:15 2004-09-23 12:41:34     27,44      0.006273
46547  2004-09-23 12:41:37 2004-09-23 12:43:43     27,44      0.000035
...                    ...                 ...       ...           ...
682669 2005-01-20 14:42:36 2005-01-20 14:43:32     27,44      1.042431
683441 2005-01-21 07:43:20 2005-01-21 07:43:45     27,44      0.708194
683483 2005-01-21 07:46:11 2005-01-21 07:46:44     27,44      0.001690
690872 2005-01-26 08:44:59 2005-01-26 08:45:06     27,44      5.040451
691196 2005-01-26 10:06:09 2005-01-26 10:06:21     27,44      0.056285

[178 rows x 4 columns]
27,45
                     start                 end id_colums  intercontact
24441  2004-09-16 08:01:53 2004-09-16 08:02:18     27,45           NaN
24451  2004-09-16 08:02:26 2004-09-16 08:03:06     27,45      0.000093
24926  2004-09-16 09:36:44 2004-09-16 09:36:46     27,45      0.065023
26073  2004-09-16 13:12:46 2004-09-16 13:12:50     27,45      0.150000
27139  2004-09-17 06:50:46 2004-09-17 06:50:51     27,45      0.734676
...                    ...                 ...       ...           ...
628971 2004-12-15 07:27:01 2004-12-15 07:27:06     27,45      0.080671
642181 2004-12-17 13:34:21 2004-12-17 13:34:51     27,45      2.255035
670233 2005-01-14 09:34:06 2005-01-14 09:40:28     27,45     27.832812
670431 2005-01-14 10:27:17 2005-01-14 10:28:09     27,45      0.032512
671170 2005-01-14 13:28:02 2005-01-14 13:28:46     27,45      0.124919

[201 rows x 4 columns]
27,46
                     start                 end id_colums  intercontact
302374 2004-11-03 11:54:19 2004-11-03 11:54:39     27,46           NaN
303596 2004-11-03 13:17:12 2004-11-03 13:17:21     27,46      0.057326
303664 2004-11-03 13:22:21 2004-11-03 13:22:58     27,46      0.003472
310199 2004-11-04 09:19:49 2004-11-04 09:19:52     27,46      0.831146
310257 2004-11-04 09:22:08 2004-11-04 09:22:20     27,46      0.001574
...                    ...                 ...       ...           ...
763803 2005-03-29 09:19:24 2005-03-29 09:19:25     27,46      0.800104
765153 2005-03-29 13:35:26 2005-03-29 13:35:27     27,46      0.177789
765168 2005-03-29 13:41:07 2005-03-29 13:41:08     27,46      0.003935
767016 2005-03-30 12:11:38 2005-03-30 12:11:40     27,46      0.937847
767071 2005-03-30 12:23:42 2005-03-30 12:23:43     27,46      0.008356

[453 rows x 4 columns]
27,53
                     start                 end id_colums  intercontact
281055 2004-11-01 14:26:07 2004-11-01 14:26:42     27,53           NaN
281102 2004-11-01 14:31:43 2004-11-01 14:32:14     27,53      0.003484
284512 2004-11-02 06:28:29 2004-11-02 06:28:35     27,53      0.664062
287267 2004-11-02 09:05:07 2004-11-02 09:05:10     27,53      0.108704
287927 2004-11-02 09:25:56 2004-11-02 09:25:58     27,53      0.014421
...                    ...                 ...       ...           ...
677644 2005-01-19 05:40:34 2005-01-19 05:41:13     27,53      0.029329
677810 2005-01-19 06:27:21 2005-01-19 06:27:25     27,53      0.032037
678064 2005-01-19 07:10:55 2005-01-19 07:11:31     27,53      0.030208
679029 2005-01-19 09:09:40 2005-01-19 09:09:44     27,53      0.082049
679069 2005-01-19 09:16:59 2005-01-19 09:17:52     27,53      0.005035

[301 rows x 4 columns]
27,54
                     start                 end id_colums  intercontact
34921  2004-09-21 04:37:09 2004-09-21 04:37:12     27,54           NaN
34927  2004-09-21 04:39:17 2004-09-21 04:39:18     27,54      0.001447
34935  2004-09-21 04:41:04 2004-09-21 04:41:24     27,54      0.001227
37699  2004-09-21 13:42:24 2004-09-21 13:42:30     27,54      0.375694
37772  2004-09-21 14:12:14 2004-09-21 14:12:42     27,54      0.020648
...                    ...                 ...       ...           ...
646616 2004-12-21 10:39:05 2004-12-21 10:39:09     27,54      0.065463
646978 2004-12-21 13:03:48 2004-12-21 13:03:53     27,54      0.100451
648102 2004-12-22 12:27:52 2004-12-22 12:27:55     27,54      0.974988
648108 2004-12-22 12:36:03 2004-12-22 12:36:39     27,54      0.005648
648122 2004-12-22 12:39:57 2004-12-22 12:40:11     27,54      0.002292

[423 rows x 4 columns]
27,55
                     start                 end id_colums  intercontact
46379  2004-09-23 12:31:28 2004-09-23 12:31:33     27,55           NaN
46544  2004-09-23 12:41:34 2004-09-23 12:42:22     27,55      0.006956
46586  2004-09-23 12:43:44 2004-09-23 12:44:12     27,55      0.000949
58429  2004-09-27 06:12:12 2004-09-27 06:12:46     27,55      3.727778
58591  2004-09-27 06:33:33 2004-09-27 06:33:48     27,55      0.014433
...                    ...                 ...       ...           ...
761609 2005-03-28 08:47:07 2005-03-28 08:47:36     27,55     23.967153
761729 2005-03-28 09:32:22 2005-03-28 09:32:38     27,55      0.031088
761739 2005-03-28 09:33:36 2005-03-28 09:34:21     27,55      0.000671
761929 2005-03-28 10:37:17 2005-03-28 10:37:18     27,55      0.043704
762380 2005-03-28 13:26:56 2005-03-28 13:28:50     27,55      0.117801

[410 rows x 4 columns]
27,56
                     start                 end id_colums  intercontact
24029  2004-09-16 07:03:43 2004-09-16 07:03:44     27,56           NaN
24878  2004-09-16 09:29:03 2004-09-16 09:31:39     27,56      0.100914
24923  2004-09-16 09:36:44 2004-09-16 09:36:46     27,56      0.003530
27226  2004-09-17 07:06:06 2004-09-17 07:06:07     27,56      0.895370
27540  2004-09-17 07:56:46 2004-09-17 07:56:49     27,56      0.035174
...                    ...                 ...       ...           ...
292269 2004-11-02 12:22:57 2004-11-02 12:23:04     27,56      0.107442
292289 2004-11-02 12:23:45 2004-11-02 12:23:47     27,56      0.000475
292332 2004-11-02 12:24:55 2004-11-02 12:24:59     27,56      0.000787
292409 2004-11-02 12:27:56 2004-11-02 12:27:58     27,56      0.002049
292910 2004-11-02 12:53:49 2004-11-02 12:53:51     27,56      0.017951

[154 rows x 4 columns]
27,58
                     start                 end id_colums  intercontact
157165 2004-10-14 07:48:28 2004-10-14 07:48:30     27,58           NaN
159730 2004-10-14 10:52:59 2004-10-14 10:54:17     27,58      0.128113
162962 2004-10-14 13:49:26 2004-10-14 13:49:30     27,58      0.121632
163386 2004-10-14 14:08:30 2004-10-14 14:08:32     27,58      0.013194
163530 2004-10-14 14:17:51 2004-10-14 14:18:12     27,58      0.006470
...                    ...                 ...       ...           ...
653113 2005-01-05 09:46:14 2005-01-05 09:51:09     27,58      0.004236
653199 2005-01-05 10:04:31 2005-01-05 10:04:56     27,58      0.009282
654018 2005-01-05 12:14:54 2005-01-05 12:14:56     27,58      0.090255
654662 2005-01-05 14:15:40 2005-01-05 14:15:50     27,58      0.083843
655623 2005-01-06 10:59:20 2005-01-06 10:59:24     27,58      0.863542

[291 rows x 4 columns]
27,59
                     start                 end id_colums  intercontact
201184 2004-10-20 09:32:40 2004-10-20 09:32:42     27,59           NaN
201810 2004-10-20 11:00:36 2004-10-20 11:00:49     27,59      0.061042
237627 2004-10-26 10:40:25 2004-10-26 10:40:30     27,59      5.985833
287344 2004-11-02 09:06:45 2004-11-02 09:06:46     27,59      6.934896
288285 2004-11-02 09:40:04 2004-11-02 09:40:06     27,59      0.023125
347101 2004-11-09 14:43:49 2004-11-09 14:43:52     27,59      7.210914
361199 2004-11-12 10:14:02 2004-11-12 10:14:09     27,59      2.812616
361219 2004-11-12 10:15:06 2004-11-12 10:15:58     27,59      0.000660
361240 2004-11-12 10:16:09 2004-11-12 10:16:11     27,59      0.000127
362716 2004-11-12 12:14:09 2004-11-12 12:14:19     27,59      0.081921
362718 2004-11-12 12:14:33 2004-11-12 12:14:35     27,59      0.000162
373586 2004-11-15 08:05:45 2004-11-15 08:05:46     27,59      2.827199
392070 2004-11-16 09:47:04 2004-11-16 09:47:09     27,59      1.070347
393735 2004-11-16 11:01:52 2004-11-16 11:01:56     27,59      0.051887
393783 2004-11-16 11:02:53 2004-11-16 11:02:55     27,59      0.000660
402727 2004-11-17 08:05:33 2004-11-17 08:05:38     27,59      0.876829
441540 2004-11-22 06:11:09 2004-11-22 06:11:17     27,59      4.920498
458975 2004-11-23 08:22:43 2004-11-23 08:22:52     27,59      1.091273
459024 2004-11-23 08:24:53 2004-11-23 08:25:37     27,59      0.001400
459383 2004-11-23 08:36:13 2004-11-23 08:36:14     27,59      0.007361
459387 2004-11-23 08:36:15 2004-11-23 08:36:16     27,59      0.000012
459388 2004-11-23 08:36:16 2004-11-23 08:43:49     27,59      0.000000
497871 2004-11-30 08:24:25 2004-11-30 08:25:13     27,59      6.986528
523577 2004-12-01 17:45:46 2004-12-01 17:45:51     27,59      1.389271
609999 2004-12-12 12:57:35 2004-12-12 12:57:42     27,59     10.799815
667994 2005-01-13 12:08:10 2005-01-13 12:08:19     27,59     31.965602
670100 2005-01-14 09:01:02 2005-01-14 09:01:03     27,59      0.869942
670216 2005-01-14 09:32:23 2005-01-14 09:32:32     27,59      0.021759
681210 2005-01-20 08:05:31 2005-01-20 08:05:34     27,59      5.939572
681213 2005-01-20 08:05:34 2005-01-20 08:06:30     27,59      0.000000
681273 2005-01-20 08:11:30 2005-01-20 08:12:25     27,59      0.003472
690870 2005-01-26 08:44:59 2005-01-26 08:45:06     27,59      6.022616
691045 2005-01-26 09:19:11 2005-01-26 09:21:20     27,59      0.023669
700050 2005-02-02 06:51:47 2005-02-02 06:53:01     27,59      6.896146
700932 2005-02-02 11:06:10 2005-02-02 11:06:42     27,59      0.175799
705803 2005-02-07 14:42:56 2005-02-07 14:43:01     27,59      5.150162
708347 2005-02-09 06:04:11 2005-02-09 06:04:39     27,59      1.639699
718891 2005-02-18 12:37:45 2005-02-18 12:37:55     27,59      9.272986
718951 2005-02-18 13:09:03 2005-02-18 13:16:23     27,59      0.021620
27,60
                     start                 end id_colums  intercontact
23769  2004-09-16 05:47:43 2004-09-16 05:48:22     27,60           NaN
24027  2004-09-16 07:03:43 2004-09-16 07:03:44     27,60      0.052326
24240  2004-09-16 07:31:59 2004-09-16 07:32:04     27,60      0.019618
24974  2004-09-16 09:51:24 2004-09-16 09:51:42     27,60      0.096759
25545  2004-09-16 12:07:16 2004-09-16 12:07:26     27,60      0.094144
...                    ...                 ...       ...           ...
758793 2005-03-23 10:05:57 2005-03-23 10:07:07     27,60      0.009352
761081 2005-03-26 13:59:22 2005-03-26 13:59:54     27,60      3.161285
765736 2005-03-30 06:51:56 2005-03-30 06:53:27     27,60      3.702801
765797 2005-03-30 07:29:27 2005-03-30 07:29:33     27,60      0.025000
767018 2005-03-30 12:11:38 2005-03-30 12:11:40     27,60      0.195891

[366 rows x 4 columns]
27,61
                     start                 end id_colums  intercontact
43187  2004-09-23 09:35:59 2004-09-23 09:36:15     27,61           NaN
46372  2004-09-23 12:31:28 2004-09-23 12:31:30     27,61      0.121678
46395  2004-09-23 12:32:06 2004-09-23 12:32:19     27,61      0.000417
46587  2004-09-23 12:43:48 2004-09-23 12:44:06     27,61      0.007975
46597  2004-09-23 12:44:12 2004-09-23 12:44:41     27,61      0.000069
...                    ...                 ...       ...           ...
565772 2004-12-06 11:46:26 2004-12-06 11:46:28     27,61      0.061447
566499 2004-12-06 12:26:58 2004-12-06 12:28:00     27,61      0.028125
567773 2004-12-06 14:04:18 2004-12-06 14:04:24     27,61      0.066875
567819 2004-12-06 14:11:23 2004-12-06 14:11:29     27,61      0.004850
567825 2004-12-06 14:11:35 2004-12-06 14:11:57     27,61      0.000069

[99 rows x 4 columns]
27,62
                     start                 end id_colums  intercontact
52921  2004-09-24 09:51:20 2004-09-24 09:51:22     27,62           NaN
57154  2004-09-26 10:21:53 2004-09-26 10:40:44     27,62      2.021192
58052  2004-09-27 05:10:21 2004-09-27 05:10:36     27,62      0.770567
58062  2004-09-27 05:11:02 2004-09-27 05:11:11     27,62      0.000301
58080  2004-09-27 05:12:03 2004-09-27 05:12:17     27,62      0.000602
...                    ...                 ...       ...           ...
544288 2004-12-03 09:52:35 2004-12-03 09:52:45     27,62      0.063843
548751 2004-12-03 12:59:44 2004-12-03 12:59:49     27,62      0.129850
551916 2004-12-04 09:08:07 2004-12-04 09:08:51     27,62      0.839097
552291 2004-12-04 10:35:20 2004-12-04 10:35:23     27,62      0.060058
552390 2004-12-04 10:48:01 2004-12-04 10:48:13     27,62      0.008773

[230 rows x 4 columns]
27,66
                     start                 end id_colums  intercontact
43044  2004-09-23 09:17:54 2004-09-23 09:18:36     27,66           NaN
43126  2004-09-23 09:29:01 2004-09-23 09:29:41     27,66      0.007234
46375  2004-09-23 12:31:28 2004-09-23 12:31:33     27,66      0.126238
46533  2004-09-23 12:41:15 2004-09-23 12:41:34     27,66      0.006736
46554  2004-09-23 12:41:43 2004-09-23 12:42:28     27,66      0.000104
...                    ...                 ...       ...           ...
767990 2005-03-31 09:29:32 2005-03-31 09:30:43     27,66      0.000220
767992 2005-03-31 09:32:12 2005-03-31 09:36:06     27,66      0.001030
768011 2005-03-31 09:45:07 2005-03-31 09:45:08     27,66      0.006262
768128 2005-03-31 10:36:39 2005-03-31 10:36:45     27,66      0.035775
768275 2005-03-31 11:47:52 2005-03-31 11:47:57     27,66      0.049387

[437 rows x 4 columns]
27,68
                     start                 end id_colums  intercontact
182560 2004-10-18 12:39:51 2004-10-18 12:39:58     27,68           NaN
184139 2004-10-18 14:37:37 2004-10-18 14:37:43     27,68      0.081701
185508 2004-10-18 18:48:34 2004-10-18 18:48:36     27,68      0.174201
195108 2004-10-19 13:11:46 2004-10-19 13:12:10     27,68      0.766088
200086 2004-10-20 08:03:35 2004-10-20 08:03:36     27,68      0.785706
...                    ...                 ...       ...           ...
762972 2005-03-28 15:14:01 2005-03-28 15:24:04     27,68      0.026227
763348 2005-03-29 07:23:59 2005-03-29 07:24:12     27,68      0.666609
766087 2005-03-30 08:42:20 2005-03-30 08:43:12     27,68      1.054259
767014 2005-03-30 12:11:38 2005-03-30 12:11:40     27,68      0.144745
767692 2005-03-31 07:13:52 2005-03-31 07:16:32     27,68      0.793194

[129 rows x 4 columns]
27,69
                     start                 end id_colums  intercontact
120404 2004-10-07 08:52:45 2004-10-07 08:53:09     27,69           NaN
120441 2004-10-07 08:54:47 2004-10-07 08:55:04     27,69      0.001134
121254 2004-10-07 09:36:05 2004-10-07 09:36:10     27,69      0.028484
121275 2004-10-07 09:36:16 2004-10-07 09:36:24     27,69      0.000069

28,60
                     start                 end id_colums  intercontact
24616  2004-09-16 08:33:29 2004-09-16 08:33:49     28,60           NaN
24623  2004-09-16 08:36:20 2004-09-16 08:36:55     28,60      0.001748
24629  2004-09-16 08:38:37 2004-09-16 08:40:16     28,60      0.001181
24676  2004-09-16 08:51:33 2004-09-16 08:52:53     28,60      0.007836
24754  2004-09-16 08:59:59 2004-09-16 09:03:46     28,60      0.004931
...                    ...                 ...       ...           ...
782995 2005-04-28 17:23:05 2005-04-28 17:24:02     28,60      0.211447
783005 2005-04-28 17:37:22 2005-04-28 17:37:43     28,60      0.009259
783009 2005-04-28 17:56:13 2005-04-28 17:56:14     28,60      0.012847
783633 2005-04-30 08:41:41 2005-04-30 08:41:57     28,60      1.614896
783637 2005-04-30 10:25:39 2005-04-30 10:41:05     28,60      0.072014

[421 rows x 4 columns]
28,61
                     start                 end id_colums  intercontact
43353  2004-09-23 09:49:35 2004-09-23 09:49:43     28,61           NaN
43375  2004-09-23 09:50:37 2004-09-23 09:50:58     28,61      0.000625
43624  2004-09-23 09:59:11 2004-09-23 09:59:37     28,61      0.005706
43676  2004-09-23 10:00:29 2004-09-23 10:00:58     28,61      0.000602
43751  2004-09-23 10:02:48 2004-09-23 10:03:41     28,61      0.001273
...                    ...                 ...       ...           ...
559332 2004-12-06 05:50:39 2004-12-06 05:50:46     28,61      0.005012
559636 2004-12-06 06:07:22 2004-12-06 06:11:06     28,61      0.011528
567761 2004-12-06 14:03:46 2004-12-06 14:03:51     28,61      0.328241
567762 2004-12-06 14:03:51 2004-12-06 14:04:10     28,61      0.000000
567781 2004-12-06 14:05:26 2004-12-06 14:08:07     28,61      0.000880

[80 rows x 4 columns]
28,62
                     start                 end id_colums  intercontact
56936  2004-09-26 07:31:50 2004-09-26 07:32:51     28,62           NaN
57881  2004-09-27 04:43:05 2004-09-27 04:43:10     28,62      0.882106
57891  2004-09-27 04:45:30 2004-09-27 04:48:40     28,62      0.001620
57946  2004-09-27 04:57:53 2004-09-27 04:57:58     28,62      0.006400
58070  2004-09-27 05:11:42 2004-09-27 05:12:03     28,62      0.009537
...                    ...                 ...       ...           ...
558517 2004-12-06 04:32:11 2004-12-06 04:32:59     28,62      0.029271
558885 2004-12-06 05:12:29 2004-12-06 05:12:31     28,62      0.027431
559325 2004-12-06 05:49:53 2004-12-06 05:50:33     28,62      0.025949
560350 2004-12-06 06:48:52 2004-12-06 06:49:21     28,62      0.040498
560617 2004-12-06 07:05:51 2004-12-06 07:06:18     28,62      0.011458

[258 rows x 4 columns]
28,66
                     start                 end id_colums  intercontact
43350  2004-09-23 09:49:35 2004-09-23 09:49:43     28,66           NaN
43659  2004-09-23 10:00:12 2004-09-23 10:00:29     28,66      0.007280
43683  2004-09-23 10:00:35 2004-09-23 10:00:52     28,66      0.000069
43755  2004-09-23 10:02:59 2004-09-23 10:04:15     28,66      0.001470
43864  2004-09-23 10:09:24 2004-09-23 10:09:41     28,66      0.003576
...                    ...                 ...       ...           ...
784851 2005-05-03 13:06:10 2005-05-03 13:06:28     28,66      0.259549
784852 2005-05-03 13:06:51 2005-05-03 13:07:38     28,66      0.000266
784886 2005-05-03 14:32:02 2005-05-03 14:32:30     28,66      0.058611
784912 2005-05-03 15:12:19 2005-05-03 15:12:27     28,66      0.027650
784913 2005-05-03 15:12:53 2005-05-03 15:13:21     28,66      0.000301

[729 rows x 4 columns]
28,68
                     start                 end id_colums  intercontact
180060 2004-10-18 08:59:26 2004-10-18 09:00:18     28,68           NaN
184102 2004-10-18 14:34:21 2004-10-18 14:34:26     28,68      0.231979
184712 2004-10-18 16:20:10 2004-10-18 16:20:28     28,68      0.073426
185184 2004-10-18 17:43:30 2004-10-18 17:44:23     28,68      0.057662
185281 2004-10-18 18:02:36 2004-10-18 18:02:40     28,68      0.012650
...                    ...                 ...       ...           ...
766170 2005-03-30 08:56:20 2005-03-30 09:06:37     28,68      0.125544
767323 2005-03-30 15:55:55 2005-03-30 15:56:25     28,68      0.284236
767325 2005-03-30 16:07:58 2005-03-30 16:09:17     28,68      0.008021
767326 2005-03-30 16:12:41 2005-03-30 16:14:32     28,68      0.002361
767327 2005-03-30 16:16:17 2005-03-30 16:16:19     28,68      0.001215

[790 rows x 4 columns]
28,69
                     start                 end id_colums  intercontact
126124 2004-10-07 15:16:52 2004-10-07 15:17:09     28,69           NaN
126132 2004-10-07 15:17:09 2004-10-07 15:18:17     28,69      0.000000
126137 2004-10-07 15:18:24 2004-10-07 15:18:37     28,69      0.000081
126215 2004-10-07 15:25:26 2004-10-07 15:25:51     28,69      0.004734
126227 2004-10-07 15:26:35 2004-10-07 15:26:58     28,69      0.000509
...                    ...                 ...       ...           ...
470396 2004-11-23 17:06:18 2004-11-23 17:07:35     28,69      0.000035
470424 2004-11-23 17:21:45 2004-11-23 17:22:11     28,69      0.009838
470690 2004-11-23 19:37:37 2004-11-23 19:38:29     28,69      0.094051
470749 2004-11-23 19:59:47 2004-11-23 19:59:54     28,69      0.014792
470753 2004-11-23 20:01:34 2004-11-23 20:01:40     28,69      0.001157

[315 rows x 4 columns]
28,70
                     start                 end id_colums  intercontact
661152 2005-01-11 05:35:42 2005-01-11 05:35:58     28,70           NaN
662060 2005-01-11 10:26:56 2005-01-11 10:27:13     28,70      0.202060
662106 2005-01-11 10:36:11 2005-01-11 10:36:32     28,70      0.006227
662128 2005-01-11 10:40:35 2005-01-11 10:45:17     28,70      0.002812
662139 2005-01-11 10:45:31 2005-01-11 10:45:34     28,70      0.000162
663701 2005-01-12 07:21:28 2005-01-12 07:22:32     28,70      0.858264
664029 2005-01-12 08:12:16 2005-01-12 08:12:32     28,70      0.034537
664058 2005-01-12 08:15:06 2005-01-12 08:15:21     28,70      0.001782
664079 2005-01-12 08:19:25 2005-01-12 08:20:50     28,70      0.002824
664092 2005-01-12 08:21:12 2005-01-12 08:23:26     28,70      0.000255
667485 2005-01-13 10:53:42 2005-01-13 10:53:45     28,70      1.104352
680651 2005-01-20 04:34:35 2005-01-20 04:34:51     28,70      6.736690
681197 2005-01-20 08:04:20 2005-01-20 08:04:41     28,70      0.145475
681370 2005-01-20 08:23:11 2005-01-20 08:29:54     28,70      0.012847
681635 2005-01-20 08:59:37 2005-01-20 09:01:08     28,70      0.020637
682241 2005-01-20 11:22:19 2005-01-20 11:22:31     28,70      0.098044
686035 2005-01-24 08:00:10 2005-01-24 08:00:40     28,70      3.859479
687876 2005-01-25 06:14:03 2005-01-25 06:19:48     28,70      0.925961
694314 2005-01-27 10:47:59 2005-01-27 10:49:33     28,70      2.186238
694452 2005-01-27 11:12:15 2005-01-27 11:12:54     28,70      0.015764
694455 2005-01-27 11:13:13 2005-01-27 11:13:33     28,70      0.000220
697362 2005-01-31 05:47:52 2005-01-31 05:48:13     28,70      3.773831
698679 2005-02-01 07:43:35 2005-02-01 07:43:36     28,70      1.080116
700103 2005-02-02 07:20:53 2005-02-02 07:21:09     28,70      0.984225
700374 2005-02-02 08:45:02 2005-02-02 08:47:21     28,70      0.058252
701003 2005-02-02 11:24:51 2005-02-02 11:26:13     28,70      0.109375
701934 2005-02-03 08:09:09 2005-02-03 08:10:28     28,70      0.863148
704619 2005-02-07 06:50:21 2005-02-07 06:50:29     28,70      3.944363
704653 2005-02-07 07:24:33 2005-02-07 07:24:34     28,70      0.023657
708979 2005-02-09 08:55:52 2005-02-09 08:56:35     28,70      2.063403
709044 2005-02-09 09:16:49 2005-02-09 09:16:53     28,70      0.014051
709054 2005-02-09 09:18:30 2005-02-09 09:18:55     28,70      0.001123
712777 2005-02-14 04:45:20 2005-02-14 04:45:37     28,70      4.810012
713143 2005-02-14 08:48:03 2005-02-14 08:48:59     28,70      0.168356
714469 2005-02-15 06:25:39 2005-02-15 06:25:48     28,70      0.900463
714501 2005-02-15 06:36:01 2005-02-15 06:36:22     28,70      0.007095
717677 2005-02-17 08:42:37 2005-02-17 08:42:43     28,70      2.087674
717705 2005-02-17 09:04:51 2005-02-17 09:08:03     28,70      0.015370
717744 2005-02-17 09:27:15 2005-02-17 09:30:03     28,70      0.013333
717804 2005-02-17 09:43:52 2005-02-17 09:43:57     28,70      0.009595
717811 2005-02-17 09:47:20 2005-02-17 09:47:21     28,70      0.002350
717848 2005-02-17 10:12:57 2005-02-17 10:12:58     28,70      0.017778
718455 2005-02-18 07:14:47 2005-02-18 07:17:19     28,70      0.876262
721990 2005-02-24 07:26:32 2005-02-24 07:26:53     28,70      6.006400
722280 2005-02-24 09:17:08 2005-02-24 09:17:49     28,70      0.076563
723605 2005-02-25 07:17:15 2005-02-25 07:17:16     28,70      0.916273
724102 2005-02-25 09:51:02 2005-02-25 09:52:24     28,70      0.106782
724465 2005-02-25 11:14:02 2005-02-25 11:14:08     28,70      0.056690
732278 2005-03-03 06:48:16 2005-03-03 06:48:25     28,70      5.815370
732362 2005-03-03 07:12:38 2005-03-03 07:12:41     28,70      0.016817
732393 2005-03-03 07:17:06 2005-03-03 07:17:51     28,70      0.003067
732575 2005-03-03 07:41:51 2005-03-03 07:41:52     28,70      0.016667
732784 2005-03-03 08:35:21 2005-03-03 08:35:22     28,70      0.037141
732910 2005-03-03 09:15:37 2005-03-03 09:15:42     28,70      0.027951
732953 2005-03-03 09:20:49 2005-03-03 09:21:10     28,70      0.003553
733007 2005-03-03 09:34:42 2005-03-03 09:34:50     28,70      0.009398
733463 2005-03-03 10:42:13 2005-03-03 10:42:22     28,70      0.046794
28,71
                     start                 end id_colums  intercontact
112651 2004-10-06 10:25:23 2004-10-06 10:25:35     28,71           NaN
112661 2004-10-06 10:25:57 2004-10-06 10:26:16     28,71      0.000255
112766 2004-10-06 10:32:24 2004-10-06 10:32:42     28,71      0.004259
112891 2004-10-06 10:45:04 2004-10-06 10:46:43     28,71      0.008588
116141 2004-10-06 16:16:29 2004-10-06 16:16:37     28,71      0.229005
...                    ...                 ...       ...           ...
773136 2005-04-09 15:36:51 2005-04-09 15:37:05     28,71      0.006030
773137 2005-04-09 15:41:38 2005-04-09 15:42:02     28,71      0.003160
773138 2005-04-09 15:42:54 2005-04-09 15:43:08     28,71      0.000602
773155 2005-04-09 19:19:36 2005-04-09 19:20:26     28,71      0.150324
773157 2005-04-09 19:43:41 2005-04-09 19:53:19     28,71      0.016146

[1475 rows x 4 columns]
28,72
                     start                 end id_colums  intercontact
275062 2004-11-01 09:08:35 2004-11-01 09:08:37     28,72           NaN
275529 2004-11-01 09:38:35 2004-11-01 09:38:36     28,72      0.020810
276618 2004-11-01 10:31:36 2004-11-01 10:31:42     28,72      0.036806
281110 2004-11-01 14:32:23 2004-11-01 14:32:51     28,72      0.167141
350387 2004-11-10 06:51:53 2004-11-10 06:52:13     28,72      8.679884
...                    ...                 ...       ...           ...
666426 2005-01-13 07:23:01 2005-01-13 07:24:38     28,72      0.000231
667492 2005-01-13 10:54:08 2005-01-13 10:54:25     28,72      0.145486
667501 2005-01-13 10:54:45 2005-01-13 10:55:00     28,72      0.000231
667503 2005-01-13 10:55:12 2005-01-13 10:55:23     28,72      0.000139
667575 2005-01-13 11:02:15 2005-01-13 11:02:21     28,72      0.004769

[81 rows x 4 columns]
28,75
                     start                 end id_colums  intercontact
116216 2004-10-06 16:39:35 2004-10-06 16:40:31     28,75           NaN
118932 2004-10-07 07:33:22 2004-10-07 07:35:49     28,75      0.620035
119274 2004-10-07 07:56:43 2004-10-07 07:57:33     28,75      0.014514
119314 2004-10-07 07:58:21 2004-10-07 08:00:05     28,75      0.000556
122440 2004-10-07 10:44:20 2004-10-07 10:44:54     28,75      0.114062
...                    ...                 ...       ...           ...
685435 2005-01-23 12:30:31 2005-01-23 12:33:14     28,75      0.008704
685440 2005-01-23 12:39:36 2005-01-23 12:39:56     28,75      0.004421
685560 2005-01-23 20:13:34 2005-01-23 20:14:28     28,75      0.315023
685562 2005-01-23 20:35:43 2005-01-23 20:36:03     28,75      0.014757
685564 2005-01-23 20:36:29 2005-01-23 20:36:36     28,75      0.000301

[570 rows x 4 columns]
28,76
                     start                 end id_colums  intercontact
177212 2004-10-18 05:41:35 2004-10-18 05:44:55     28,76           NaN
177363 2004-10-18 06:13:24 2004-10-18 06:13:46     28,76      0.019780
204979 2004-10-20 17:03:22 2004-10-20 17:03:28     28,76      2.451111
205259 2004-10-20 18:52:16 2004-10-20 18:53:05     28,76      0.075556
205458 2004-10-20 22:41:51 2004-10-20 22:41:52     28,76      0.158866
...                    ...                 ...       ...           ...
619921 2004-12-13 17:03:20 2004-12-13 17:03:27     28,76      0.016134
620082 2004-12-13 18:17:12 2004-12-13 18:17:45     28,76      0.051215
624258 2004-12-14 10:57:00 2004-12-14 10:57:07     28,76      0.693924
624402 2004-12-14 11:05:46 2004-12-14 11:06:39     28,76      0.006007
625618 2004-12-14 12:27:31 2004-12-14 12:27:45     28,76      0.056157

[200 rows x 4 columns]
28,78
                    start                 end id_colums  intercontact
42126 2004-09-23 07:11:36 2004-09-23 07:12:21     28,78           NaN
42140 2004-09-23 07:12:43 2004-09-23 07:12:44     28,78      0.000255
42166 2004-09-23 07:14:43 2004-09-23 07:15:00     28,78      0.001377
28,79
                     start                 end id_colums  intercontact
152194 2004-10-13 10:43:15 2004-10-13 10:49:19     28,79           NaN
152319 2004-10-13 10:51:41 2004-10-13 10:51:43     28,79      0.001644
171891 2004-10-16 07:47:19 2004-10-16 07:47:37     28,79      2.871944
180086 2004-10-18 09:01:19 2004-10-18 09:01:24     28,79      2.051181
183574 2004-10-18 13:33:49 2004-10-18 13:33:54     28,79      0.189178
...                    ...                 ...       ...           ...
777890 2005-04-18 11:12:15 2005-04-18 11:12:43     28,79      0.001007
777894 2005-04-18 11:13:16 2005-04-18 11:17:19     28,79      0.000382
777914 2005-04-18 11:25:00 2005-04-18 11:25:27     28,79      0.005336
777950 2005-04-18 11:29:50 2005-04-18 11:31:07     28,79      0.003044
778009 2005-04-18 13:31:55 2005-04-18 13:32:12     28,79      0.083889

[182 rows x 4 columns]
28,80
                     start                 end id_colums  intercontact
111431 2004-10-06 08:45:50 2004-10-06 08:46:16     28,80           NaN
111443 2004-10-06 08:46:53 2004-10-06 08:47:31     28,80      0.000428
111460 2004-10-06 08:48:14 2004-10-06 08:48:41     28,80      0.000498
115907 2004-10-06 15:31:52 2004-10-06 15:31:54     28,80      0.279988
116526 2004-10-06 20:20:34 2004-10-06 20:29:24     28,80      0.200463
116694 2004-10-07 03:04:08 2004-10-07 03:05:58     28,80      0.274120
116791 2004-10-07 03:40:01 2004-10-07 03:40:08     28,80      0.023646
118462 2004-10-07 07:01:45 2004-10-07 07:01:52     28,80      0.140012
118516 2004-10-07 07:06:55 2004-10-07 07:07:00     28,80      0.003507
118534 2004-10-07 07:07:57 2004-10-07 07:08:19     28,80      0.000660
118693 2004-10-07 07:19:04 2004-10-07 07:19:31     28,80      0.007465
118696 2004-10-07 07:19:32 2004-10-07 07:20:03     28,80      0.000012
118741 2004-10-07 07:21:06 2004-10-07 07:21:08     28,80      0.000729
118825 2004-10-07 07:28:13 2004-10-07 07:28:50     28,80      0.004919
118860 2004-10-07 07:29:54 2004-10-07 07:30:39     28,80      0.000741
118922 2004-10-07 07:33:12 2004-10-07 07:33:15     28,80      0.001771
119024 2004-10-07 07:45:44 2004-10-07 07:45:59     28,80      0.008669
119036 2004-10-07 07:46:13 2004-10-07 07:46:25     28,80      0.000162
119046 2004-10-07 07:48:09 2004-10-07 07:48:50     28,80      0.001204
119266 2004-10-07 07:56:25 2004-10-07 07:56:37     28,80      0.005266
119276 2004-10-07 07:57:01 2004-10-07 07:57:33     28,80      0.000278
119356 2004-10-07 08:00:05 2004-10-07 08:00:21     28,80      0.001759
119853 2004-10-07 08:17:28 2004-10-07 08:17:44     28,80      0.011887
122434 2004-10-07 10:43:50 2004-10-07 10:43:54     28,80      0.101458
122505 2004-10-07 10:50:57 2004-10-07 10:51:36     28,80      0.004896
122555 2004-10-07 10:53:38 2004-10-07 10:54:35     28,80      0.001412
122745 2004-10-07 11:03:08 2004-10-07 11:03:15     28,80      0.005938
122840 2004-10-07 11:09:01 2004-10-07 11:10:07     28,80      0.004005
123302 2004-10-07 11:30:51 2004-10-07 11:31:10     28,80      0.014398
126118 2004-10-07 15:16:47 2004-10-07 15:16:51     28,80      0.156678
129866 2004-10-08 09:01:36 2004-10-08 09:01:59     28,80      0.739410
132495 2004-10-09 02:36:47 2004-10-09 02:37:04     28,80      0.732500
132496 2004-10-09 02:39:01 2004-10-09 02:39:21     28,80      0.001354
268544 2004-10-30 21:58:21 2004-10-30 21:58:47     28,80     21.804861
269401 2004-10-31 09:08:38 2004-10-31 09:08:55     28,80      0.465174
270353 2004-10-31 13:47:12 2004-10-31 13:47:50     28,80      0.193252
270874 2004-10-31 16:49:05 2004-10-31 16:49:11     28,80      0.125868
271160 2004-10-31 19:08:09 2004-10-31 19:12:54     28,80      0.096505
271214 2004-10-31 19:24:37 2004-10-31 19:26:31     28,80      0.008137
271278 2004-10-31 19:58:42 2004-10-31 19:59:39     28,80      0.022350
271293 2004-10-31 20:08:27 2004-10-31 20:08:47     28,80      0.006111
272292 2004-11-01 05:05:33 2004-11-01 05:06:27     28,80      0.372755
272487 2004-11-01 05:32:35 2004-11-01 05:37:17     28,80      0.018148
272678 2004-11-01 05:58:03 2004-11-01 05:58:24     28,80      0.014421
272728 2004-11-01 06:04:06 2004-11-01 06:04:56     28,80      0.003958
272761 2004-11-01 06:07:05 2004-11-01 06:14:54     28,80      0.001493
272901 2004-11-01 06:21:50 2004-11-01 06:22:20     28,80      0.004815
273600 2004-11-01 07:20:18 2004-11-01 07:20:35     28,80      0.040255
273698 2004-11-01 07:31:55 2004-11-01 07:32:03     28,80      0.007870
273714 2004-11-01 07:32:32 2004-11-01 07:32:46     28,80      0.000336
273813 2004-11-01 07:41:55 2004-11-01 07:42:02     28,80      0.006354
274517 2004-11-01 08:37:32 2004-11-01 08:37:56     28,80      0.038542
275066 2004-11-01 09:08:35 2004-11-01 09:08:37     28,80      0.021285
275241 2004-11-01 09:22:44 2004-11-01 09:22:46     28,80      0.009803
275545 2004-11-01 09:38:55 2004-11-01 09:39:50     28,80      0.011215
276617 2004-11-01 10:31:36 2004-11-01 10:31:42     28,80      0.035949
280814 2004-11-01 14:02:37 2004-11-01 14:02:42     28,80      0.146470
280932 2004-11-01 14:16:46 2004-11-01 14:17:56     28,80      0.009769
28,81
                     start                 end id_colums  intercontact
281556 2004-11-01 15:53:49 2004-11-01 15:54:16     28,81           NaN
281602 2004-11-01 16:05:23 2004-11-01 16:06:48     28,81      0.007720
286327 2004-11-02 08:24:46 2004-11-02 08:24:50     28,81      0.679144
289309 2004-11-02 10:16:09 2004-11-02 10:16:11     28,81      0.077303
289366 2004-11-02 10:17:37 2004-11-02 10:50:30     28,81      0.000995
...                    ...                 ...       ...           ...
676076 2005-01-18 10:01:57 2005-01-18 10:02:18     28,81      0.007870
676088 2005-01-18 10:03:44 2005-01-18 10:04:07     28,81      0.000995
676969 2005-01-18 12:46:08 2005-01-18 12:46:22     28,81      0.112512
683924 2005-01-21 08:57:18 2005-01-21 08:57:35     28,81      2.840926
683928 2005-01-21 08:57:46 2005-01-21 08:58:59     28,81      0.000127

[81 rows x 4 columns]
28,82
                     start                 end id_colums  intercontact
43402  2004-09-23 09:52:27 2004-09-23 09:52:59     28,82           NaN
43687  2004-09-23 10:00:35 2004-09-23 10:00:46     28,82      0.005278
43753  2004-09-23 10:02:48 2004-09-23 10:03:00     28,82      0.001412
44039  2004-09-23 10:19:12 2004-09-23 10:19:16     28,82      0.011250
44048  2004-09-23 10:19:35 2004-09-23 10:22:22     28,82      0.000220
...                    ...                 ...       ...           ...
560367 2004-12-06 06:49:19 2004-12-06 06:50:16     28,82      0.018183
560577 2004-12-06 07:04:17 2004-12-06 07:05:02     28,82      0.009734
567804 2004-12-06 14:09:51 2004-12-06 14:10:09     28,82      0.295012
567962 2004-12-06 14:28:52 2004-12-06 14:29:02     28,82      0.012998

29,82
                     start                 end id_colums  intercontact
48302  2004-09-23 15:58:39 2004-09-23 15:59:53     29,82           NaN
48349  2004-09-23 16:05:57 2004-09-23 16:06:54     29,82      0.004213
48607  2004-09-23 16:42:19 2004-09-23 16:46:16     29,82      0.024595
48740  2004-09-23 16:59:06 2004-09-23 16:59:48     29,82      0.008912
49467  2004-09-24 04:30:43 2004-09-24 04:31:09     29,82      0.479803
...                    ...                 ...       ...           ...
561815 2004-12-06 08:08:21 2004-12-06 08:08:33     29,82      0.002627
562964 2004-12-06 09:18:49 2004-12-06 09:20:54     29,82      0.048796
565559 2004-12-06 11:29:44 2004-12-06 11:30:16     29,82      0.089468
567721 2004-12-06 14:00:23 2004-12-06 14:00:32     29,82      0.104248
568257 2004-12-06 15:23:33 2004-12-06 15:24:18     29,82      0.057650

[1164 rows x 4 columns]
29,83
                     start                 end id_colums  intercontact
43956  2004-09-23 10:14:31 2004-09-23 10:14:42     29,83           NaN
49423  2004-09-24 04:22:53 2004-09-24 04:22:58     29,83      0.755683
49424  2004-09-24 04:23:53 2004-09-24 04:24:27     29,83      0.000637
49440  2004-09-24 04:27:05 2004-09-24 04:27:09     29,83      0.001829
49510  2004-09-24 04:35:20 2004-09-24 04:35:29     29,83      0.005683
49523  2004-09-24 04:37:24 2004-09-24 04:37:43     29,83      0.001331
49602  2004-09-24 04:50:32 2004-09-24 04:53:01     29,83      0.008900
49749  2004-09-24 05:16:06 2004-09-24 05:16:29     29,83      0.016030
49773  2004-09-24 05:18:05 2004-09-24 05:18:52     29,83      0.001111
50033  2004-09-24 05:56:22 2004-09-24 05:56:43     29,83      0.026042
50179  2004-09-24 06:07:45 2004-09-24 06:07:52     29,83      0.007662
50223  2004-09-24 06:14:59 2004-09-24 06:15:18     29,83      0.004942
50542  2004-09-24 06:46:46 2004-09-24 06:47:24     29,83      0.021852
50611  2004-09-24 06:54:05 2004-09-24 06:54:51     29,83      0.004641
50868  2004-09-24 07:16:22 2004-09-24 07:16:54     29,83      0.014942
50946  2004-09-24 07:23:19 2004-09-24 07:23:42     29,83      0.004456
51076  2004-09-24 07:35:03 2004-09-24 07:38:07     29,83      0.007882
51618  2004-09-24 08:02:29 2004-09-24 08:02:31     29,83      0.016921
51774  2004-09-24 08:08:14 2004-09-24 08:09:48     29,83      0.003970
51966  2004-09-24 08:28:35 2004-09-24 08:28:37     29,83      0.013044
52641  2004-09-24 09:36:02 2004-09-24 09:36:24     29,83      0.046817
52650  2004-09-24 09:37:02 2004-09-24 09:37:30     29,83      0.000440
52983  2004-09-24 09:57:02 2004-09-24 09:57:14     29,83      0.013565
53106  2004-09-24 10:03:41 2004-09-24 10:03:54     29,83      0.004479
53118  2004-09-24 10:04:08 2004-09-24 10:04:54     29,83      0.000162
66306  2004-09-28 05:59:08 2004-09-28 05:59:17     29,83      3.829329
66311  2004-09-28 05:59:54 2004-09-28 06:00:06     29,83      0.000428
66330  2004-09-28 06:02:04 2004-09-28 06:02:57     29,83      0.001366
66370  2004-09-28 06:06:48 2004-09-28 06:07:38     29,83      0.002674
68778  2004-09-28 09:10:00 2004-09-28 09:10:18     29,83      0.126644
68839  2004-09-28 09:12:11 2004-09-28 09:12:52     29,83      0.001308
69012  2004-09-28 09:24:31 2004-09-28 09:25:08     29,83      0.008090
69407  2004-09-28 09:41:23 2004-09-28 09:41:58     29,83      0.011285
69646  2004-09-28 09:53:31 2004-09-28 09:54:04     29,83      0.008021
69715  2004-09-28 09:55:33 2004-09-28 09:55:51     29,83      0.001030
69914  2004-09-28 10:03:44 2004-09-28 10:03:49     29,83      0.005475
70106  2004-09-28 10:21:26 2004-09-28 10:22:05     29,83      0.012234
70282  2004-09-28 10:34:10 2004-09-28 10:34:22     29,83      0.008391
70328  2004-09-28 10:39:38 2004-09-28 10:40:29     29,83      0.003657
70341  2004-09-28 10:42:14 2004-09-28 10:43:13     29,83      0.001215
71721  2004-09-28 12:11:15 2004-09-28 12:11:17     29,83      0.061134
71729  2004-09-28 12:11:47 2004-09-28 12:12:15     29,83      0.000347
72156  2004-09-28 12:34:47 2004-09-28 12:35:30     29,83      0.015648
72633  2004-09-28 12:57:10 2004-09-28 12:57:26     29,83      0.015046
72977  2004-09-28 13:43:16 2004-09-28 13:44:17     29,83      0.031829
73563  2004-09-28 16:33:14 2004-09-28 16:34:09     29,83      0.117326
255591 2004-10-28 09:05:14 2004-10-28 09:06:57     29,83     29.688252
275349 2004-11-01 09:31:35 2004-11-01 09:31:51     29,83      4.017106
275397 2004-11-01 09:32:49 2004-11-01 09:33:13     29,83      0.000671
275427 2004-11-01 09:34:30 2004-11-01 09:34:44     29,83      0.000891
280371 2004-11-01 13:25:51 2004-11-01 13:26:25     29,83      0.160498
281269 2004-11-01 15:00:55 2004-11-01 15:00:56     29,83      0.065625
304412 2004-11-03 14:45:43 2004-11-03 14:47:08     29,83      1.989433
304532 2004-11-03 15:03:53 2004-11-03 15:04:08     29,83      0.011632
304762 2004-11-03 15:47:21 2004-11-03 15:47:43     29,83      0.030012
304815 2004-11-03 15:55:02 2004-11-03 15:55:23     29,83      0.005081
359569 2004-11-12 05:54:50 2004-11-12 05:54:51     29,83      8.582951
359684 2004-11-12 06:23:11 2004-11-12 06:23:35     29,83      0.019676
29,85
                     start                 end id_colums  intercontact
219164 2004-10-23 13:43:39 2004-10-23 13:43:57     29,85           NaN
219174 2004-10-23 13:53:48 2004-10-23 13:54:18     29,85      0.006840
219176 2004-10-23 13:56:17 2004-10-23 13:56:32     29,85      0.001377
219313 2004-10-23 16:04:58 2004-10-23 16:06:05     29,85      0.089190
219330 2004-10-23 16:30:30 2004-10-23 16:30:36     29,85      0.016956
...                    ...                 ...       ...           ...
733407 2005-03-03 10:32:02 2005-03-03 10:32:06     29,85      0.042361
735214 2005-03-04 08:39:30 2005-03-04 08:39:46     29,85      0.921806
735547 2005-03-04 10:22:07 2005-03-04 10:22:15     29,85      0.071076
735740 2005-03-04 11:22:05 2005-03-04 11:22:24     29,85      0.041551
735748 2005-03-04 11:24:46 2005-03-04 11:26:18     29,85      0.001644

[486 rows x 4 columns]
29,86
                     start                 end id_colums  intercontact
18167  2004-09-14 05:59:14 2004-09-14 05:59:59     29,86           NaN
18190  2004-09-14 06:04:00 2004-09-14 06:04:02     29,86      0.002789
18227  2004-09-14 06:15:30 2004-09-14 06:16:04     29,86      0.007963
18240  2004-09-14 06:19:41 2004-09-14 06:20:07     29,86      0.002512
18681  2004-09-14 07:57:33 2004-09-14 07:58:49     29,86      0.067662
...                    ...                 ...       ...           ...
672978 2005-01-16 10:51:34 2005-01-16 10:51:48     29,86     34.998275
672981 2005-01-16 10:54:39 2005-01-16 10:55:55     29,86      0.001979
673034 2005-01-16 11:49:57 2005-01-16 11:50:16     29,86      0.037523
673040 2005-01-16 11:53:59 2005-01-16 11:54:17     29,86      0.002581
674079 2005-01-17 10:09:02 2005-01-17 10:09:10     29,86      0.926910

[280 rows x 4 columns]
29,87
                     start                 end id_colums  intercontact
238207 2004-10-26 11:11:58 2004-10-26 11:12:02     29,87           NaN
238534 2004-10-26 11:32:53 2004-10-26 11:33:13     29,87      0.014479
238566 2004-10-26 11:34:34 2004-10-26 11:35:44     29,87      0.000937
238586 2004-10-26 11:36:24 2004-10-26 11:36:25     29,87      0.000463
238738 2004-10-26 11:47:40 2004-10-26 11:47:59     29,87      0.007812
...                    ...                 ...       ...           ...
728860 2005-03-01 13:15:37 2005-03-01 13:16:41     29,87      0.991030
728878 2005-03-01 13:19:26 2005-03-01 13:20:05     29,87      0.001910
729042 2005-03-01 14:23:33 2005-03-01 14:29:01     29,87      0.044074
731573 2005-03-02 13:40:34 2005-03-02 13:43:58     29,87      0.966354
735001 2005-03-04 07:38:05 2005-03-04 07:39:55     29,87      1.745914

[402 rows x 4 columns]
29,88
                     start                 end id_colums  intercontact
28898  2004-09-17 12:41:20 2004-09-17 12:41:45     29,88           NaN
28905  2004-09-17 12:42:18 2004-09-17 12:43:09     29,88      0.000382
28933  2004-09-17 12:44:28 2004-09-17 12:45:26     29,88      0.000914
28945  2004-09-17 12:46:40 2004-09-17 12:47:00     29,88      0.000856
28994  2004-09-17 12:52:13 2004-09-17 12:52:14     29,88      0.003623
...                    ...                 ...       ...           ...
400684 2004-11-17 05:43:54 2004-11-17 05:46:48     29,88      0.020174
400804 2004-11-17 05:55:27 2004-11-17 05:59:39     29,88      0.006007
405152 2004-11-17 09:51:16 2004-11-17 09:51:26     29,88      0.160845
406680 2004-11-17 10:58:21 2004-11-17 10:58:26     29,88      0.046470
409712 2004-11-17 13:26:48 2004-11-17 13:26:53     29,88      0.103032

[563 rows x 4 columns]
29,89
                    start                 end id_colums  intercontact
15461 2004-09-10 17:04:29 2004-09-10 17:04:54     29,89           NaN
16074 2004-09-12 11:41:09 2004-09-12 11:41:48     29,89      1.775174
16080 2004-09-12 11:42:27 2004-09-12 11:45:18     29,89      0.000451
16145 2004-09-12 12:11:32 2004-09-12 12:14:35     29,89      0.018218
16159 2004-09-12 12:18:45 2004-09-12 12:19:15     29,89      0.002894
...                   ...                 ...       ...           ...
33362 2004-09-20 11:05:52 2004-09-20 11:06:52     29,89      0.002523
33395 2004-09-20 11:08:33 2004-09-20 11:09:32     29,89      0.001169
33446 2004-09-20 11:11:14 2004-09-20 11:11:23     29,89      0.001181
33462 2004-09-20 11:11:40 2004-09-20 11:11:47     29,89      0.000197
33500 2004-09-20 11:13:49 2004-09-20 11:14:01     29,89      0.001412

[65 rows x 4 columns]
3,12
                   start                 end id_colums  intercontact
3571 2004-08-26 10:26:52 2004-08-26 10:27:00      3,12           NaN
3,14
                   start                 end id_colums  intercontact
3256 2004-08-25 14:36:18 2004-08-25 14:36:42      3,14           NaN
3264 2004-08-25 14:40:30 2004-08-25 14:41:57      3,14      0.002639
5605 2004-09-01 06:28:40 2004-09-01 06:32:39      3,14      6.657442
5607 2004-09-01 06:37:24 2004-09-01 06:38:54      3,14      0.003299
5614 2004-09-01 07:06:16 2004-09-01 07:14:16      3,14      0.019005
6595 2004-09-02 11:00:17 2004-09-02 11:00:33      3,14      1.156956
6620 2004-09-02 11:09:14 2004-09-02 11:09:30      3,14      0.006030
6710 2004-09-02 11:52:00 2004-09-02 11:52:19      3,14      0.029514
6829 2004-09-02 12:25:56 2004-09-02 12:27:17      3,14      0.023345
7136 2004-09-02 13:59:38 2004-09-02 13:59:57      3,14      0.064132
7140 2004-09-02 14:00:40 2004-09-02 14:00:55      3,14      0.000498
7143 2004-09-02 14:01:37 2004-09-02 14:02:07      3,14      0.000486
7144 2004-09-02 14:04:11 2004-09-02 14:04:33      3,14      0.001435
7145 2004-09-02 14:07:09 2004-09-02 14:07:16      3,14      0.001806
7149 2004-09-02 14:30:22 2004-09-02 14:30:36      3,14      0.016042
7150 2004-09-02 14:30:47 2004-09-02 14:30:56      3,14      0.000127
7161 2004-09-02 14:46:52 2004-09-02 14:47:02      3,14      0.011065
7165 2004-09-02 14:47:57 2004-09-02 14:48:14      3,14      0.000637
7269 2004-09-03 04:12:23 2004-09-03 04:12:34      3,14      0.558438
7270 2004-09-03 04:12:44 2004-09-03 04:14:17      3,14      0.000116
7297 2004-09-03 06:43:05 2004-09-03 06:43:18      3,14      0.103333
7298 2004-09-03 06:43:22 2004-09-03 06:43:27      3,14      0.000046
7299 2004-09-03 06:43:44 2004-09-03 06:45:35      3,14      0.000197
7301 2004-09-03 06:49:58 2004-09-03 06:53:13      3,14      0.003044
7308 2004-09-03 07:11:06 2004-09-03 07:11:16      3,14      0.012419
7472 2004-09-03 08:21:19 2004-09-03 08:21:49      3,14      0.048646
7736 2004-09-03 09:54:45 2004-09-03 09:55:00      3,14      0.064537
7739 2004-09-03 09:55:41 2004-09-03 09:55:44      3,14      0.000475
7740 2004-09-03 09:56:18 2004-09-03 09:56:30      3,14      0.000394
7764 2004-09-03 10:12:24 2004-09-03 10:12:25      3,14      0.011042
7804 2004-09-03 10:30:43 2004-09-03 10:30:48      3,14      0.012708
7807 2004-09-03 10:32:21 2004-09-03 10:33:00      3,14      0.001076
7929 2004-09-03 11:00:53 2004-09-03 11:01:57      3,14      0.019363
8031 2004-09-03 11:23:34 2004-09-03 11:24:42      3,14      0.015012
8034 2004-09-03 11:24:43 2004-09-03 11:25:03      3,14      0.000012
8037 2004-09-03 11:25:17 2004-09-03 11:25:36      3,14      0.000162
8210 2004-09-03 12:03:27 2004-09-03 12:03:41      3,14      0.026285
8215 2004-09-03 12:06:03 2004-09-03 12:06:09      3,14      0.001644
8271 2004-09-03 12:20:15 2004-09-03 12:20:19      3,14      0.009792
8284 2004-09-03 12:22:32 2004-09-03 12:23:08      3,14      0.001539
8599 2004-09-03 17:37:05 2004-09-03 17:37:26      3,14      0.218021
3,16
                   start                 end id_colums  intercontact
3248 2004-08-25 14:28:46 2004-08-25 14:29:15      3,16           NaN
3249 2004-08-25 14:29:51 2004-08-25 14:30:39      3,16      0.000417
3,19
                   start                 end id_colums  intercontact
5695 2004-09-01 08:03:59 2004-09-01 08:04:08      3,19           NaN
7292 2004-09-03 06:26:51 2004-09-03 06:27:08      3,19      1.932442
3,20
                   start                 end id_colums  intercontact
5665 2004-09-01 07:39:48 2004-09-01 07:40:00      3,20           NaN
5688 2004-09-01 07:54:53 2004-09-01 07:58:14      3,20      0.010336
5706 2004-09-01 08:12:57 2004-09-01 08:13:42      3,20      0.010220
5710 2004-09-01 08:17:04 2004-09-01 08:18:25      3,20      0.002338
5712 2004-09-01 08:23:09 2004-09-01 08:23:44      3,20      0.003287
5721 2004-09-01 08:34:02 2004-09-01 08:37:39      3,20      0.007153
5730 2004-09-01 08:39:22 2004-09-01 08:39:38      3,20      0.001192
5732 2004-09-01 08:40:28 2004-09-01 08:40:32      3,20      0.000579
5733 2004-09-01 08:41:08 2004-09-01 08:41:25      3,20      0.000417
5734 2004-09-01 08:45:57 2004-09-01 08:48:08      3,20      0.003148
5736 2004-09-01 08:48:27 2004-09-01 08:48:31      3,20      0.000220
5737 2004-09-01 08:51:38 2004-09-01 08:51:50      3,20      0.002164
3,21
                   start                 end id_colums  intercontact
7294 2004-09-03 06:26:51 2004-09-03 06:27:08      3,21           NaN
3,22
                   start                 end id_colums  intercontact
7293 2004-09-03 06:26:51 2004-09-03 06:27:08      3,22           NaN
3,6
                   start                 end id_colums  intercontact
3071 2004-08-25 10:10:35 2004-08-25 10:10:54       3,6           NaN
3,8
                  start                 end id_colums  intercontact
258 2004-07-26 10:12:54 2004-07-26 10:13:06       3,8           NaN
30,32
                     start                 end id_colums  intercontact
25380  2004-09-16 11:38:14 2004-09-16 11:38:31     30,32           NaN
32604  2004-09-20 09:14:12 2004-09-20 09:14:24     30,32      3.899780
32617  2004-09-20 09:17:29 2004-09-20 09:17:37     30,32      0.002141
32640  2004-09-20 09:24:48 2004-09-20 09:25:06     30,32      0.004988
32846  2004-09-20 10:02:15 2004-09-20 10:05:36     30,32      0.025799
33119  2004-09-20 10:39:25 2004-09-20 10:44:28     30,32      0.023484
34422  2004-09-20 13:07:07 2004-09-20 13:07:30     30,32      0.099062
34469  2004-09-20 13:23:20 2004-09-20 13:24:05     30,32      0.010995
34587  2004-09-20 14:12:03 2004-09-20 14:12:14     30,32      0.033310
34617  2004-09-20 14:18:50 2004-09-20 14:19:23     30,32      0.004583
34642  2004-09-20 14:26:23 2004-09-20 14:26:33     30,32      0.004861
34669  2004-09-20 14:36:04 2004-09-20 14:37:29     30,32      0.006609
35301  2004-09-21 07:37:10 2004-09-21 07:37:33     30,32      0.708113
35304  2004-09-21 07:37:35 2004-09-21 07:37:54     30,32      0.000023
35344  2004-09-21 07:46:29 2004-09-21 07:46:45     30,32      0.005961
35348  2004-09-21 07:46:49 2004-09-21 07:47:24     30,32      0.000046
35350  2004-09-21 07:47:42 2004-09-21 07:49:11     30,32      0.000208
35356  2004-09-21 07:49:39 2004-09-21 07:49:41     30,32      0.000324
39301  2004-09-22 09:43:44 2004-09-22 09:44:17     30,32      1.079201
40213  2004-09-22 12:15:01 2004-09-22 12:15:13     30,32      0.104676
43071  2004-09-23 09:19:29 2004-09-23 09:20:15     30,32      0.877963
43882  2004-09-23 10:11:21 2004-09-23 10:11:29     30,32      0.035486
43940  2004-09-23 10:13:45 2004-09-23 10:13:47     30,32      0.001574
50096  2004-09-24 06:00:59 2004-09-24 06:01:01     30,32      0.824444
50941  2004-09-24 07:22:39 2004-09-24 07:24:12     30,32      0.056690
54002  2004-09-24 11:33:08 2004-09-24 11:33:10     30,32      0.172870
54940  2004-09-24 13:03:32 2004-09-24 13:07:51     30,32      0.062755
55992  2004-09-25 05:34:40 2004-09-25 05:36:19     30,32      0.685289
68690  2004-09-28 09:03:00 2004-09-28 09:03:02     30,32      3.143530
74749  2004-09-29 06:00:59 2004-09-29 06:01:52     30,32      0.873576
127536 2004-10-08 05:25:44 2004-10-08 05:26:03     30,32      8.974907
130230 2004-10-08 09:52:07 2004-10-08 09:52:09     30,32      0.184769
131337 2004-10-08 12:13:18 2004-10-08 12:13:57     30,32      0.098021
188194 2004-10-19 07:49:01 2004-10-19 07:50:27     30,32     10.816019
216535 2004-10-22 11:51:31 2004-10-22 11:51:38     30,32      3.167407
217034 2004-10-22 12:47:52 2004-10-22 12:48:24     30,32      0.039051
217501 2004-10-22 13:53:42 2004-10-22 13:54:06     30,32      0.045347
217554 2004-10-22 14:05:38 2004-10-22 14:07:00     30,32      0.008009
218379 2004-10-22 20:35:34 2004-10-22 20:35:36     30,32      0.269838
218383 2004-10-22 20:44:19 2004-10-22 20:44:21     30,32      0.006053
218392 2004-10-22 21:18:55 2004-10-22 21:18:57     30,32      0.024005
218396 2004-10-22 21:32:28 2004-10-22 21:32:29     30,32      0.009387
266140 2004-10-29 17:42:28 2004-10-29 17:43:33     30,32      6.840266
295375 2004-11-02 20:52:40 2004-11-02 20:53:24     30,32      4.131331
295378 2004-11-02 20:55:52 2004-11-02 20:56:58     30,32      0.001713
295397 2004-11-02 21:10:32 2004-11-02 21:10:43     30,32      0.009421
295398 2004-11-02 21:16:18 2004-11-02 21:18:00     30,32      0.003877
297375 2004-11-03 06:49:48 2004-11-03 06:52:10     30,32      0.397083
297892 2004-11-03 07:33:24 2004-11-03 07:33:50     30,32      0.028634
298518 2004-11-03 08:05:42 2004-11-03 08:06:06     30,32      0.022130
298746 2004-11-03 08:19:30 2004-11-03 08:20:07     30,32      0.009306
30,35
                     start                 end id_colums  intercontact
283685 2004-11-02 05:26:29 2004-11-02 05:26:45     30,35           NaN
283732 2004-11-02 05:32:26 2004-11-02 05:32:35     30,35      0.003947
283791 2004-11-02 05:37:17 2004-11-02 05:37:34     30,35      0.003264
283806 2004-11-02 05:38:22 2004-11-02 05:39:08     30,35      0.000556
284981 2004-11-02 06:52:35 2004-11-02 06:53:09     30,35      0.051007
285843 2004-11-02 07:49:27 2004-11-02 07:49:37     30,35      0.039097
285967 2004-11-02 07:59:37 2004-11-02 08:00:19     30,35      0.006944
286399 2004-11-02 08:28:07 2004-11-02 08:28:29     30,35      0.019306
286519 2004-11-02 08:33:04 2004-11-02 08:33:06     30,35      0.003183
287008 2004-11-02 08:57:05 2004-11-02 08:57:30     30,35      0.016655
287144 2004-11-02 09:01:37 2004-11-02 09:01:53     30,35      0.002859
287246 2004-11-02 09:04:03 2004-11-02 09:04:31     30,35      0.001505
287307 2004-11-02 09:06:05 2004-11-02 09:06:06     30,35      0.001088
287400 2004-11-02 09:08:49 2004-11-02 09:09:18     30,35      0.001887
287465 2004-11-02 09:10:46 2004-11-02 09:10:47     30,35      0.001019
294815 2004-11-02 16:44:37 2004-11-02 16:45:18     30,35      0.315162
294935 2004-11-02 17:10:54 2004-11-02 17:11:03     30,35      0.017778
298080 2004-11-03 07:47:43 2004-11-03 07:48:10     30,35      0.608796
298229 2004-11-03 07:56:09 2004-11-03 07:56:16     30,35      0.005544
298499 2004-11-03 08:05:16 2004-11-03 08:05:18     30,35      0.006250
298595 2004-11-03 08:12:03 2004-11-03 08:12:12     30,35      0.004687
298757 2004-11-03 08:19:47 2004-11-03 08:20:07     30,35      0.005266
298997 2004-11-03 08:39:15 2004-11-03 08:39:43     30,35      0.013287
299030 2004-11-03 08:40:44 2004-11-03 08:40:46     30,35      0.000706
299049 2004-11-03 08:41:17 2004-11-03 08:41:18     30,35      0.000359

[550 rows x 4 columns]
31,49
                     start                 end id_colums  intercontact
111859 2004-10-06 09:30:31 2004-10-06 09:31:36     31,49           NaN
114248 2004-10-06 12:07:07 2004-10-06 12:07:20     31,49      0.107998
115005 2004-10-06 13:15:29 2004-10-06 13:15:38     31,49      0.047326
115111 2004-10-06 13:24:47 2004-10-06 13:25:34     31,49      0.006354
115389 2004-10-06 13:48:01 2004-10-06 13:48:12     31,49      0.015590
...                    ...                 ...       ...           ...
672168 2005-01-15 06:09:53 2005-01-15 06:21:24     31,49      0.327697
672187 2005-01-15 07:08:37 2005-01-15 07:14:29     31,49      0.032789
672433 2005-01-15 11:10:41 2005-01-15 11:11:36     31,49      0.164028
672456 2005-01-15 11:42:35 2005-01-15 11:42:43     31,49      0.021516
672460 2005-01-15 11:42:53 2005-01-15 11:44:02     31,49      0.000116

[1227 rows x 4 columns]
31,50
                     start                 end id_colums  intercontact
23122  2004-09-15 12:28:44 2004-09-15 12:29:09     31,50           NaN
23128  2004-09-15 12:29:18 2004-09-15 12:30:17     31,50      0.000104
23149  2004-09-15 12:31:13 2004-09-15 12:32:14     31,50      0.000648
23169  2004-09-15 12:34:12 2004-09-15 12:34:52     31,50      0.001366
23392  2004-09-15 13:27:01 2004-09-15 13:27:06     31,50      0.036215
...                    ...                 ...       ...           ...
691373 2005-01-26 11:17:17 2005-01-26 11:21:26     31,50      0.008252
691612 2005-01-26 12:47:51 2005-01-26 12:47:59     31,50      0.060012
691985 2005-01-26 17:20:40 2005-01-26 17:21:22     31,50      0.189363
691990 2005-01-26 17:28:22 2005-01-26 17:29:22     31,50      0.004861
692066 2005-01-26 19:19:30 2005-01-26 19:19:50     31,50      0.076481

[431 rows x 4 columns]
31,52
                     start                 end id_colums  intercontact
32732  2004-09-20 09:33:40 2004-09-20 09:34:06     31,52           NaN
33186  2004-09-20 10:50:02 2004-09-20 10:50:13     31,52      0.052731
53113  2004-09-24 10:04:07 2004-09-24 10:04:50     31,52      3.967986
53157  2004-09-24 10:06:01 2004-09-24 10:06:18     31,52      0.000822
53179  2004-09-24 10:07:06 2004-09-24 10:07:09     31,52      0.000556
...                    ...                 ...       ...           ...
638052 2004-12-16 10:47:45 2004-12-16 10:48:08     31,52      1.032674
689353 2005-01-25 11:02:10 2005-01-25 11:02:26     31,52     40.009745
689527 2005-01-25 11:39:33 2005-01-25 11:39:42     31,52      0.025775
689584 2005-01-25 11:55:47 2005-01-25 11:56:03     31,52      0.011169
689637 2005-01-25 12:15:49 2005-01-25 12:16:10     31,52      0.013727

[77 rows x 4 columns]
31,59
                     start                 end id_colums  intercontact
198389 2004-10-20 04:01:55 2004-10-20 04:02:09     31,59           NaN
198436 2004-10-20 04:31:15 2004-10-20 04:31:40     31,59      0.020208
198654 2004-10-20 05:29:39 2004-10-20 05:31:18     31,59      0.040266
198706 2004-10-20 05:38:39 2004-10-20 05:39:07     31,59      0.005104
198725 2004-10-20 05:45:41 2004-10-20 05:45:58     31,59      0.004560
...                    ...                 ...       ...           ...
690468 2005-01-26 04:23:25 2005-01-26 04:23:41     31,59      0.003183
690618 2005-01-26 06:54:45 2005-01-26 06:55:45     31,59      0.104907
690745 2005-01-26 07:57:37 2005-01-26 07:58:48     31,59      0.042963
691372 2005-01-26 11:17:17 2005-01-26 11:21:26     31,59      0.137836
691423 2005-01-26 11:33:32 2005-01-26 11:33:59     31,59      0.008403

[422 rows x 4 columns]
31,63
                     start                 end id_colums  intercontact
36439  2004-09-21 10:33:55 2004-09-21 10:36:30     31,63           NaN
36580  2004-09-21 10:52:56 2004-09-21 10:53:05     31,63      0.011412
36595  2004-09-21 10:54:59 2004-09-21 10:55:07     31,63      0.001319
36614  2004-09-21 10:56:43 2004-09-21 10:57:00     31,63      0.001111
36652  2004-09-21 11:02:24 2004-09-21 11:02:41     31,63      0.003750
...                    ...                 ...       ...           ...
691353 2005-01-26 11:02:16 2005-01-26 11:02:33     31,63      0.002361
691791 2005-01-26 14:13:42 2005-01-26 14:20:20     31,63      0.132743
691896 2005-01-26 15:17:20 2005-01-26 15:17:28     31,63      0.039583
691942 2005-01-26 16:19:49 2005-01-26 16:21:20     31,63      0.043299
692065 2005-01-26 19:17:50 2005-01-26 19:19:30     31,63      0.122569

[2012 rows x 4 columns]
31,64
                     start                 end id_colums  intercontact
32158  2004-09-20 07:40:51 2004-09-20 07:41:06     31,64           NaN
32190  2004-09-20 07:46:57 2004-09-20 07:47:43     31,64      0.004063
32245  2004-09-20 07:59:26 2004-09-20 08:02:23     31,64      0.008137
32307  2004-09-20 08:05:49 2004-09-20 08:06:04     31,64      0.002384
32314  2004-09-20 08:06:42 2004-09-20 08:13:04     31,64      0.000440
...                    ...                 ...       ...           ...
672035 2005-01-14 21:57:36 2005-01-14 21:57:48     31,64      0.004190
672039 2005-01-14 22:12:23 2005-01-14 22:12:54     31,64      0.010127
672046 2005-01-14 22:34:14 2005-01-14 22:34:36     31,64      0.014815
672047 2005-01-14 22:40:18 2005-01-14 22:40:35     31,64      0.003958
672769 2005-01-15 19:42:06 2005-01-15 20:36:06     31,64      0.876053

[895 rows x 4 columns]
31,67
                    start                 end id_colums  intercontact
25962 2004-09-16 12:55:05 2004-09-16 12:55:28     31,67           NaN
25965 2004-09-16 12:56:23 2004-09-16 12:58:06     31,67      0.000637
27100 2004-09-17 06:29:28 2004-09-17 06:39:55     31,67      0.730116
27947 2004-09-17 09:53:50 2004-09-17 09:54:21     31,67      0.134664
28090 2004-09-17 10:34:25 2004-09-17 10:34:38     31,67      0.027824
28164 2004-09-17 11:00:37 2004-09-17 11:00:38     31,67      0.018044
28807 2004-09-17 12:30:20 2004-09-17 12:30:21     31,67      0.062292
31,73
                     start                 end id_colums  intercontact
34950  2004-09-21 04:45:22 2004-09-21 04:45:28     31,73           NaN
34956  2004-09-21 04:54:52 2004-09-21 04:54:57     31,73      0.006528
34975  2004-09-21 05:02:09 2004-09-21 05:02:42     31,73      0.005000
34978  2004-09-21 05:04:42 2004-09-21 05:05:08     31,73      0.001389
34994  2004-09-21 05:14:52 2004-09-21 05:14:59     31,73      0.006759
...                    ...                 ...       ...           ...
550516 2004-12-03 16:20:09 2004-12-03 16:20:17     31,73      0.001817
550523 2004-12-03 16:21:31 2004-12-03 16:22:02     31,73      0.000856
550525 2004-12-03 16:22:47 2004-12-03 16:23:16     31,73      0.000521
550629 2004-12-03 16:51:49 2004-12-03 16:52:02     31,73      0.019826
550707 2004-12-03 17:16:15 2004-12-03 17:16:43     31,73      0.016817

[474 rows x 4 columns]
31,74
                     start                 end id_colums  intercontact
140486 2004-10-12 08:58:42 2004-10-12 08:58:54     31,74           NaN
146634 2004-10-13 03:26:14 2004-10-13 03:26:43     31,74      0.768981
146778 2004-10-13 03:59:09 2004-10-13 03:59:33     31,74      0.022523
146844 2004-10-13 04:14:54 2004-10-13 04:15:30     31,74      0.010660
146957 2004-10-13 04:32:45 2004-10-13 04:33:56     31,74      0.011979
...                    ...                 ...       ...           ...
551462 2004-12-04 06:11:29 2004-12-04 06:11:34     31,74      0.010648
598013 2004-12-10 10:00:33 2004-12-10 10:03:36     31,74      6.159016
598179 2004-12-10 10:09:57 2004-12-10 10:10:03     31,74      0.004410
598986 2004-12-10 10:54:42 2004-12-10 10:55:42     31,74      0.031007
620418 2004-12-14 03:39:47 2004-12-14 03:39:50     31,74      3.697280

[215 rows x 4 columns]
31,78
                     start                 end id_colums  intercontact
107971 2004-10-05 13:43:02 2004-10-05 13:43:47     31,78           NaN
108034 2004-10-05 13:54:02 2004-10-05 13:54:18     31,78      0.007118
109255 2004-10-06 04:54:35 2004-10-06 04:55:35     31,78      0.625197
110265 2004-10-06 06:55:59 2004-10-06 06:56:00     31,78      0.083611
112254 2004-10-06 09:54:38 2004-10-06 09:54:46     31,78      0.124051
...                    ...                 ...       ...           ...
691688 2005-01-26 13:12:35 2005-01-26 13:12:36     31,78      0.012083
691795 2005-01-26 14:20:31 2005-01-26 14:20:48     31,78      0.047164
691884 2005-01-26 15:07:06 2005-01-26 15:10:07     31,78      0.032153
691899 2005-01-26 15:25:00 2005-01-26 15:25:21     31,78      0.010336
691915 2005-01-26 15:49:13 2005-01-26 15:50:37     31,78      0.016574

[425 rows x 4 columns]
31,83
                    start                 end id_colums  intercontact
65495 2004-09-28 04:00:47 2004-09-28 04:03:15     31,83           NaN
65578 2004-09-28 04:30:30 2004-09-28 04:30:46     31,83      0.018924
65994 2004-09-28 05:25:21 2004-09-28 05:25:38     31,83      0.037905
66396 2004-09-28 06:08:21 2004-09-28 06:08:51     31,83      0.029664
66470 2004-09-28 06:15:53 2004-09-28 06:16:43     31,83      0.004884
66778 2004-09-28 06:42:36 2004-09-28 06:43:38     31,83      0.017975
66983 2004-09-28 06:51:21 2004-09-28 06:51:28     31,83      0.005359
31,84
                     start                 end id_colums  intercontact
39972  2004-09-22 11:33:04 2004-09-22 11:33:14     31,84           NaN
40337  2004-09-22 12:38:38 2004-09-22 12:39:45     31,84      0.045417
40602  2004-09-22 13:42:01 2004-09-22 13:43:13     31,84      0.043241
40617  2004-09-22 13:49:20 2004-09-22 13:49:58     31,84      0.004248
40618  2004-09-22 13:49:58 2004-09-22 13:50:31     31,84      0.000000
...                    ...                 ...       ...           ...
691979 2005-01-26 17:12:50 2005-01-26 17:13:07     31,84      0.008588
692042 2005-01-26 18:30:27 2005-01-26 18:33:46     31,84      0.053704
692055 2005-01-26 18:56:35 2005-01-26 18:56:59     31,84      0.015845
692061 2005-01-26 19:10:26 2005-01-26 19:10:47     31,84      0.009340
692079 2005-01-26 19:44:11 2005-01-26 19:45:04     31,84      0.023194

[1446 rows x 4 columns]
32,35
                     start                 end id_colums  intercontact
280459 2004-11-01 13:31:22 2004-11-01 13:31:26     32,35           NaN
280618 2004-11-01 13:46:20 2004-11-01 13:46:35     32,35      0.010347
281026 2004-11-01 14:23:15 2004-11-01 14:23:34     32,35      0.025463
296460 2004-11-03 05:22:31 2004-11-03 05:22:58     32,35      1.624271
296496 2004-11-03 05:25:50 2004-11-03 05:26:03     32,35      0.001991
296721 2004-11-03 05:51:02 2004-11-03 05:51:45     32,35      0.017350
296884 2004-11-03 06:11:16 2004-11-03 06:11:17     32,35      0.013553
297053 2004-11-03 06:24:07 2004-11-03 06:24:10     32,35      0.008912
297276 2004-11-03 06:40:00 2004-11-03 06:40:33     32,35      0.010995
298521 2004-11-03 08:05:53 2004-11-03 08:07:16     32,35      0.059259
298755 2004-11-03 08:19:47 2004-11-03 08:20:35     32,35      0.008692
298777 2004-11-03 08:21:36 2004-11-03 08:25:10     32,35      0.000706
299229 2004-11-03 08:50:34 2004-11-03 08:50:36     32,35      0.017639
300044 2004-11-03 09:37:57 2004-11-03 09:39:09     32,35      0.032882
300458 2004-11-03 09:54:36 2004-11-03 09:55:47     32,35      0.010729
300650 2004-11-03 10:07:15 2004-11-03 10:07:17     32,35      0.007963
301331 2004-11-03 10:44:21 2004-11-03 10:44:29     32,35      0.025741
301634 2004-11-03 10:59:55 2004-11-03 11:00:22     32,35      0.010718
303445 2004-11-03 13:08:43 2004-11-03 13:09:19     32,35      0.089132
306388 2004-11-04 05:07:58 2004-11-04 05:08:06     32,35      0.665729
306420 2004-11-04 05:10:21 2004-11-04 05:10:24     32,35      0.001563
306583 2004-11-04 05:21:04 2004-11-04 05:21:08     32,35      0.007407
307152 2004-11-04 05:55:44 2004-11-04 05:57:35     32,35      0.024028
310751 2004-11-04 10:00:26 2004-11-04 10:00:28     32,35      0.168646
315654 2004-11-04 13:20:55 2004-11-04 13:20:57     32,35      0.139201
316304 2004-11-04 13:54:02 2004-11-04 13:54:08     32,35      0.022975
316331 2004-11-04 13:55:17 2004-11-04 13:55:19     32,35      0.000799
358696 2004-11-11 14:15:32 2004-11-11 14:18:02     32,35      7.014039
384652 2004-11-16 04:23:46 2004-11-16 04:24:43     32,35      4.587315
384851 2004-11-16 04:51:05 2004-11-16 04:51:14     32,35      0.018310
385051 2004-11-16 05:07:59 2004-11-16 05:08:21     32,35      0.011632
386962 2004-11-16 06:54:32 2004-11-16 06:54:37     32,35      0.073738
388923 2004-11-16 07:55:50 2004-11-16 07:56:10     32,35      0.042512
390192 2004-11-16 08:35:58 2004-11-16 08:36:22     32,35      0.027639
390898 2004-11-16 09:05:27 2004-11-16 09:07:44     32,35      0.020197
391072 2004-11-16 09:12:13 2004-11-16 09:12:51     32,35      0.003113
391327 2004-11-16 09:18:40 2004-11-16 09:18:42     32,35      0.004039
391914 2004-11-16 09:42:39 2004-11-16 09:43:05     32,35      0.016632
392088 2004-11-16 09:47:04 2004-11-16 09:47:43     32,35      0.002766
393021 2004-11-16 10:31:54 2004-11-16 10:31:59     32,35      0.030683
393050 2004-11-16 10:33:03 2004-11-16 10:33:05     32,35      0.000741
393598 2004-11-16 10:54:56 2004-11-16 10:58:10     32,35      0.015174
394436 2004-11-16 11:34:49 2004-11-16 11:34:54     32,35      0.025451
394541 2004-11-16 11:40:15 2004-11-16 11:42:15     32,35      0.003715
394985 2004-11-16 11:56:44 2004-11-16 11:56:46     32,35      0.010058
395221 2004-11-16 12:02:37 2004-11-16 12:06:37     32,35      0.004063
395421 2004-11-16 12:08:14 2004-11-16 12:08:21     32,35      0.001123
395462 2004-11-16 12:08:42 2004-11-16 12:09:09     32,35      0.000243
397208 2004-11-16 13:30:45 2004-11-16 13:32:24     32,35      0.056667
502203 2004-11-30 11:29:23 2004-11-30 11:29:42     32,35     13.914572
502258 2004-11-30 11:32:07 2004-11-30 11:33:26     32,35      0.001678
502539 2004-11-30 11:44:08 2004-11-30 11:44:13     32,35      0.007431
503986 2004-11-30 12:27:12 2004-11-30 12:27:49     32,35      0.029850
504015 2004-11-30 12:27:52 2004-11-30 12:28:02     32,35      0.000035
504880 2004-11-30 12:59:57 2004-11-30 13:00:15     32,35      0.022164
505033 2004-11-30 13:06:53 2004-11-30 13:07:31     32,35      0.004606
32,40
                     start                 end id_colums  intercontact
40502  2004-09-22 13:12:35 2004-09-22 13:12:36     32,40           NaN
40526  2004-09-22 13:15:18 2004-09-22 13:16:50     32,40      0.001875
43399  2004-09-23 09:52:21 2004-09-23 09:52:23     32,40      0.857998
43934  2004-09-23 10:13:45 2004-09-23 10:13:47     32,40      0.014838
49739  2004-09-24 05:14:07 2004-09-24 05:14:13     32,40      0.791898
...                    ...                 ...       ...           ...
785905 2005-05-23 12:13:21 2005-05-23 12:17:19     32,40      9.988403
785906 2005-05-23 13:32:58 2005-05-23 13:43:12     32,40      0.052535
785916 2005-05-23 15:15:38 2005-05-23 15:16:07     32,40      0.064190
785918 2005-05-23 15:18:26 2005-05-23 15:18:52     32,40      0.001609
785924 2005-05-24 08:41:36 2005-05-24 08:41:37     32,40      0.724120

[428 rows x 4 columns]
32,42
                     start                 end id_colums  intercontact
49284  2004-09-24 03:39:51 2004-09-24 03:40:13     32,42           NaN
49937  2004-09-24 05:50:06 2004-09-24 05:50:08     32,42      0.090197
50095  2004-09-24 06:00:59 2004-09-24 06:01:01     32,42      0.007535
50101  2004-09-24 06:01:50 2004-09-24 06:03:09     32,42      0.000567
50162  2004-09-24 06:06:28 2004-09-24 06:06:40     32,42      0.002303
...                    ...                 ...       ...           ...
394990 2004-11-16 11:56:44 2004-11-16 11:56:46     32,42      0.002025
395206 2004-11-16 12:02:35 2004-11-16 12:03:40     32,42      0.004039
395525 2004-11-16 12:12:39 2004-11-16 12:12:59     32,42      0.006238
396010 2004-11-16 12:33:08 2004-11-16 12:33:18     32,42      0.013993
396758 2004-11-16 13:04:34 2004-11-16 13:04:36     32,42      0.021713

[144 rows x 4 columns]
32,43
                     start                 end id_colums  intercontact
43510  2004-09-23 09:55:52 2004-09-23 09:56:14     32,43           NaN
54269  2004-09-24 12:06:09 2004-09-24 12:06:16     32,43      1.090220
54278  2004-09-24 12:06:37 2004-09-24 12:06:39     32,43      0.000243
54880  2004-09-24 12:55:14 2004-09-24 12:56:03     32,43      0.033738
66914  2004-09-28 06:48:05 2004-09-28 06:50:47     32,43      3.744468
...                    ...                 ...       ...           ...
430731 2004-11-19 11:35:28 2004-11-19 11:35:33     32,43      2.920498
501501 2004-11-30 10:58:45 2004-11-30 11:01:22     32,43     10.974444
503412 2004-11-30 12:12:16 2004-11-30 12:12:18     32,43      0.049236
504014 2004-11-30 12:27:52 2004-11-30 12:29:27     32,43      0.010810
504601 2004-11-30 12:46:03 2004-11-30 12:46:05     32,43      0.011528

[98 rows x 4 columns]
32,44
                     start                 end id_colums  intercontact
50012  2004-09-24 05:55:41 2004-09-24 05:55:43     32,44           NaN
51881  2004-09-24 08:19:38 2004-09-24 08:19:40     32,44      0.099942
54327  2004-09-24 12:10:05 2004-09-24 12:11:06     32,44      0.160012
55000  2004-09-24 13:20:29 2004-09-24 13:21:01     32,44      0.048183
55103  2004-09-24 13:46:15 2004-09-24 13:46:49     32,44      0.017523
...                    ...                 ...       ...           ...
690267 2005-01-25 16:16:46 2005-01-25 16:17:26     32,44      0.048183
690285 2005-01-25 16:26:18 2005-01-25 16:27:16     32,44      0.006157
691416 2005-01-26 11:31:15 2005-01-26 11:32:02     32,44      0.794433
691958 2005-01-26 16:37:22 2005-01-26 16:43:36     32,44      0.212037
691987 2005-01-26 17:23:06 2005-01-26 17:25:34     32,44      0.027431

[176 rows x 4 columns]
32,45
                     start                 end id_colums  intercontact
25307  2004-09-16 11:16:38 2004-09-16 11:17:26     32,45           NaN
25877  2004-09-16 12:40:14 2004-09-16 12:40:19     32,45      0.057500
27417  2004-09-17 07:41:23 2004-09-17 07:41:28     32,45      0.792407
28594  2004-09-17 12:08:10 2004-09-17 12:08:41     32,45      0.185208
28616  2004-09-17 12:11:55 2004-09-17 12:12:03     32,45      0.002245
...                    ...                 ...       ...           ...
667516 2005-01-13 10:58:01 2005-01-13 10:58:02     32,45      0.010694
667814 2005-01-13 11:48:41 2005-01-13 11:49:45     32,45      0.035174
668249 2005-01-13 13:41:32 2005-01-13 13:43:32     32,45      0.077627
668354 2005-01-13 14:19:26 2005-01-13 14:19:34     32,45      0.024931
668390 2005-01-13 14:41:03 2005-01-13 14:41:13     32,45      0.014919

[103 rows x 4 columns]
32,46
                     start                 end id_colums  intercontact
301490 2004-11-03 10:52:16 2004-11-03 10:52:44     32,46           NaN
301525 2004-11-03 10:54:20 2004-11-03 10:54:55     32,46      0.001111
301642 2004-11-03 11:00:02 2004-11-03 11:00:32     32,46      0.003553
301690 2004-11-03 11:01:42 2004-11-03 11:03:54     32,46      0.000810
303945 2004-11-03 13:47:28 2004-11-03 13:49:19     32,46      0.113588
...                    ...                 ...       ...           ...
785417 2005-05-04 14:03:09 2005-05-04 14:05:00     32,46      0.000162
785432 2005-05-04 14:25:11 2005-05-04 14:25:27     32,46      0.014016
785434 2005-05-04 14:26:03 2005-05-04 14:26:11     32,46      0.000417
785447 2005-05-04 14:48:19 2005-05-04 14:48:35     32,46      0.015370
785448 2005-05-04 14:53:21 2005-05-04 14:53:59     32,46      0.003310

[635 rows x 4 columns]
32,53
                     start                 end id_colums  intercontact
280989 2004-11-01 14:20:53 2004-11-01 14:21:03     32,53           NaN
280990 2004-11-01 14:21:12 2004-11-01 14:21:36     32,53      0.000104
281000 2004-11-01 14:21:59 2004-11-01 14:22:06     32,53      0.000266
290387 2004-11-02 10:57:25 2004-11-02 10:57:30     32,53      0.857859
296705 2004-11-03 05:48:42 2004-11-03 06:11:05     32,53      0.785556
...                    ...                 ...       ...           ...
669283 2005-01-14 07:25:06 2005-01-14 07:25:07     32,53      0.024167
669331 2005-01-14 07:30:58 2005-01-14 07:31:03     32,53      0.004063

33,50
                     start                 end id_colums  intercontact
276557 2004-11-01 10:27:43 2004-11-01 10:27:56     33,50           NaN
276590 2004-11-01 10:30:14 2004-11-01 10:30:59     33,50      0.001597
276711 2004-11-01 10:36:13 2004-11-01 10:36:45     33,50      0.003634
276814 2004-11-01 10:43:27 2004-11-01 10:44:08     33,50      0.004653
277414 2004-11-01 11:07:06 2004-11-01 11:07:13     33,50      0.015949
...                    ...                 ...       ...           ...
567209 2004-12-06 13:16:24 2004-12-06 13:16:27     33,50      0.000000
567245 2004-12-06 13:21:09 2004-12-06 13:21:28     33,50      0.003264
567338 2004-12-06 13:32:19 2004-12-06 13:32:36     33,50      0.007535
567398 2004-12-06 13:36:20 2004-12-06 13:38:08     33,50      0.002593
567470 2004-12-06 13:40:21 2004-12-06 13:40:23     33,50      0.001539

[186 rows x 4 columns]
33,52
                     start                 end id_colums  intercontact
53334  2004-09-24 10:16:06 2004-09-24 10:16:32     33,52           NaN
53370  2004-09-24 10:20:16 2004-09-24 10:20:33     33,52      0.002593
53420  2004-09-24 10:25:44 2004-09-24 10:26:12     33,52      0.003600
53429  2004-09-24 10:26:31 2004-09-24 10:26:45     33,52      0.000220
53439  2004-09-24 10:27:23 2004-09-24 10:27:33     33,52      0.000440
...                    ...                 ...       ...           ...
536598 2004-12-02 12:30:41 2004-12-02 12:30:44     33,52      0.000949
553642 2004-12-04 16:53:31 2004-12-04 16:53:47     33,52      2.182488
561989 2004-12-06 08:18:17 2004-12-06 08:18:26     33,52      1.642014
561991 2004-12-06 08:18:35 2004-12-06 08:18:58     33,52      0.000104
562255 2004-12-06 08:39:46 2004-12-06 08:41:02     33,52      0.014444

[78 rows x 4 columns]
33,59
                     start                 end id_colums  intercontact
188456 2004-10-19 07:57:52 2004-10-19 07:58:38     33,59           NaN
188531 2004-10-19 07:59:19 2004-10-19 07:59:35     33,59      0.000475
190424 2004-10-19 09:03:07 2004-10-19 09:03:54     33,59      0.044120
198322 2004-10-20 03:18:35 2004-10-20 03:18:42     33,59      0.760197
198610 2004-10-20 05:21:47 2004-10-20 05:21:58     33,59      0.085475
...                    ...                 ...       ...           ...
552674 2004-12-04 11:45:50 2004-12-04 11:46:07     33,59      0.178611
552722 2004-12-04 11:54:47 2004-12-04 11:55:04     33,59      0.006019
552862 2004-12-04 12:22:29 2004-12-04 12:23:10     33,59      0.019039
552988 2004-12-04 13:17:31 2004-12-04 13:17:55     33,59      0.037743
553026 2004-12-04 13:30:03 2004-12-04 13:31:01     33,59      0.008426

[629 rows x 4 columns]
33,60
                     start                 end id_colums  intercontact
266403 2004-10-30 04:02:19 2004-10-30 04:02:28     33,60           NaN
266404 2004-10-30 04:02:44 2004-10-30 04:02:59     33,60      0.000185
33,63
                     start                 end id_colums  intercontact
49282  2004-09-24 03:37:20 2004-09-24 03:40:04     33,63           NaN
49322  2004-09-24 03:52:27 2004-09-24 03:52:53     33,63      0.008600
49412  2004-09-24 04:19:01 2004-09-24 04:19:35     33,63      0.018148
49465  2004-09-24 04:30:29 2004-09-24 04:30:37     33,63      0.007569
53251  2004-09-24 10:10:14 2004-09-24 10:10:21     33,63      0.235845
...                    ...                 ...       ...           ...
552965 2004-12-04 12:58:06 2004-12-04 12:58:08     33,63      0.067454
563722 2004-12-06 09:58:28 2004-12-06 09:59:04     33,63      1.875231
566582 2004-12-06 12:32:57 2004-12-06 12:33:07     33,63      0.106863
566641 2004-12-06 12:35:40 2004-12-06 12:36:04     33,63      0.001771
567396 2004-12-06 13:36:20 2004-12-06 13:38:08     33,63      0.041852

[404 rows x 4 columns]
33,64
                     start                 end id_colums  intercontact
49293  2004-09-24 03:41:40 2004-09-24 03:41:56     33,64           NaN
49301  2004-09-24 03:42:46 2004-09-24 03:43:03     33,64      0.000579
49362  2004-09-24 04:02:05 2004-09-24 04:02:43     33,64      0.013218
49401  2004-09-24 04:13:47 2004-09-24 04:14:16     33,64      0.007685
49409  2004-09-24 04:18:44 2004-09-24 04:18:50     33,64      0.003102
...                    ...                 ...       ...           ...
554809 2004-12-05 07:04:11 2004-12-05 07:05:03     33,64      0.042361
554857 2004-12-05 07:22:51 2004-12-05 07:23:12     33,64      0.012361
561804 2004-12-06 08:07:48 2004-12-06 08:12:59     33,64      1.030972
563709 2004-12-06 09:57:58 2004-12-06 09:58:28     33,64      0.072905
569285 2004-12-07 03:39:40 2004-12-07 03:39:44     33,64      0.736944

[653 rows x 4 columns]
33,73
                     start                 end id_colums  intercontact
49302  2004-09-24 03:42:46 2004-09-24 03:43:03     33,73           NaN
49319  2004-09-24 03:49:54 2004-09-24 03:50:18     33,73      0.004757
49334  2004-09-24 03:57:14 2004-09-24 03:57:40     33,73      0.004815
52913  2004-09-24 09:50:38 2004-09-24 09:50:55     33,73      0.245116
53067  2004-09-24 10:02:24 2004-09-24 10:02:50     33,73      0.007975
...                    ...                 ...       ...           ...
542498 2004-12-03 08:24:08 2004-12-03 08:24:53     33,73      0.005243
542620 2004-12-03 08:31:31 2004-12-03 08:31:33     33,73      0.004606
542649 2004-12-03 08:33:06 2004-12-03 08:33:15     33,73      0.001076
542979 2004-12-03 08:49:01 2004-12-03 08:49:03     33,73      0.010949
543003 2004-12-03 08:50:28 2004-12-03 08:51:49     33,73      0.000984

[445 rows x 4 columns]
33,74
                     start                 end id_colums  intercontact
146632 2004-10-13 03:25:55 2004-10-13 03:26:06     33,74           NaN
146646 2004-10-13 03:28:30 2004-10-13 03:28:39     33,74      0.001667
146656 2004-10-13 03:31:27 2004-10-13 03:32:11     33,74      0.001944
146683 2004-10-13 03:38:44 2004-10-13 03:38:53     33,74      0.004549
146710 2004-10-13 03:45:53 2004-10-13 03:46:40     33,74      0.004861
...                    ...                 ...       ...           ...
558575 2004-12-06 04:42:42 2004-12-06 04:43:52     33,74      0.008356
565058 2004-12-06 11:03:58 2004-12-06 11:04:06     33,74      0.263958
566537 2004-12-06 12:29:21 2004-12-06 12:30:11     33,74      0.059201
566559 2004-12-06 12:31:49 2004-12-06 12:32:07     33,74      0.001134
566787 2004-12-06 12:44:53 2004-12-06 12:45:19     33,74      0.008866

[836 rows x 4 columns]
33,78
                     start                 end id_colums  intercontact
109179 2004-10-06 04:40:19 2004-10-06 04:40:27     33,78           NaN
109212 2004-10-06 04:46:04 2004-10-06 04:46:32     33,78      0.003900
109707 2004-10-06 05:52:50 2004-10-06 05:53:00     33,78      0.046042
112263 2004-10-06 09:55:09 2004-10-06 09:55:18     33,78      0.168160
112266 2004-10-06 09:55:55 2004-10-06 09:56:23     33,78      0.000428
...                    ...                 ...       ...           ...
535548 2004-12-02 11:52:40 2004-12-02 11:52:47     33,78      0.003067
535825 2004-12-02 12:01:02 2004-12-02 12:01:11     33,78      0.005729
536084 2004-12-02 12:09:43 2004-12-02 12:09:45     33,78      0.005926
536769 2004-12-02 12:38:13 2004-12-02 12:38:25     33,78      0.019769
548993 2004-12-03 13:12:26 2004-12-03 13:13:04     33,78      1.023623

[1131 rows x 4 columns]
33,83
                    start                 end id_colums  intercontact
65401 2004-09-28 03:19:52 2004-09-28 03:20:01     33,83           NaN
65408 2004-09-28 03:22:22 2004-09-28 03:23:11     33,83      0.001632
65427 2004-09-28 03:33:42 2004-09-28 03:34:59     33,83      0.007303
65431 2004-09-28 03:35:36 2004-09-28 03:35:53     33,83      0.000428
65436 2004-09-28 03:37:11 2004-09-28 03:38:18     33,83      0.000903
65463 2004-09-28 03:52:20 2004-09-28 03:52:45     33,83      0.009745
65467 2004-09-28 03:53:46 2004-09-28 03:54:01     33,83      0.000706
65496 2004-09-28 04:00:47 2004-09-28 04:02:19     33,83      0.004699
65500 2004-09-28 04:03:15 2004-09-28 04:03:32     33,83      0.000648
65521 2004-09-28 04:10:52 2004-09-28 04:13:21     33,83      0.005093
65544 2004-09-28 04:21:41 2004-09-28 04:21:58     33,83      0.005787
65547 2004-09-28 04:22:48 2004-09-28 04:23:12     33,83      0.000579
65577 2004-09-28 04:30:30 2004-09-28 04:30:33     33,83      0.005069
65589 2004-09-28 04:31:48 2004-09-28 04:31:56     33,83      0.000868
65593 2004-09-28 04:32:06 2004-09-28 04:32:12     33,83      0.000116
65597 2004-09-28 04:32:36 2004-09-28 04:32:43     33,83      0.000278
65600 2004-09-28 04:32:47 2004-09-28 04:33:00     33,83      0.000046
65615 2004-09-28 04:35:33 2004-09-28 04:35:54     33,83      0.001771
65633 2004-09-28 04:39:25 2004-09-28 04:39:46     33,83      0.002442
65660 2004-09-28 04:42:11 2004-09-28 04:42:35     33,83      0.001678
65694 2004-09-28 04:45:45 2004-09-28 04:46:03     33,83      0.002199
65702 2004-09-28 04:47:01 2004-09-28 04:47:29     33,83      0.000671
65863 2004-09-28 05:03:52 2004-09-28 05:03:59     33,83      0.011377
65870 2004-09-28 05:05:48 2004-09-28 05:05:59     33,83      0.001262
65871 2004-09-28 05:06:13 2004-09-28 05:06:56     33,83      0.000162
65896 2004-09-28 05:09:38 2004-09-28 05:09:57     33,83      0.001875
65905 2004-09-28 05:10:16 2004-09-28 05:11:00     33,83      0.000220
65977 2004-09-28 05:23:31 2004-09-28 05:23:36     33,83      0.008692
66459 2004-09-28 06:14:49 2004-09-28 06:15:27     33,83      0.035567
66481 2004-09-28 06:18:11 2004-09-28 06:18:21     33,83      0.001898
66499 2004-09-28 06:19:24 2004-09-28 06:19:37     33,83      0.000729
66647 2004-09-28 06:27:03 2004-09-28 06:27:27     33,83      0.005162
66651 2004-09-28 06:27:30 2004-09-28 06:28:23     33,83      0.000035
66659 2004-09-28 06:28:32 2004-09-28 06:28:46     33,83      0.000104
66673 2004-09-28 06:30:12 2004-09-28 06:30:56     33,83      0.000995
66679 2004-09-28 06:31:27 2004-09-28 06:31:53     33,83      0.000359
66694 2004-09-28 06:33:01 2004-09-28 06:33:19     33,83      0.000787
66847 2004-09-28 06:46:25 2004-09-28 06:46:58     33,83      0.009097
66993 2004-09-28 06:51:53 2004-09-28 06:51:55     33,83      0.003414
67019 2004-09-28 06:52:13 2004-09-28 06:52:22     33,83      0.000208
33,84
                     start                 end id_colums  intercontact
49552  2004-09-24 04:42:07 2004-09-24 04:42:24     33,84           NaN
53337  2004-09-24 10:16:32 2004-09-24 10:17:22     33,84      0.232037
53393  2004-09-24 10:21:29 2004-09-24 10:24:07     33,84      0.002859
53606  2004-09-24 10:45:31 2004-09-24 10:46:06     33,84      0.014861
57155  2004-09-26 10:22:30 2004-09-26 10:23:09     33,84      1.983611
...                    ...                 ...       ...           ...
548489 2004-12-03 12:36:48 2004-12-03 12:37:21     33,84      0.947488
557407 2004-12-05 15:27:18 2004-12-05 15:29:09     33,84      2.118021
561759 2004-12-06 08:06:34 2004-12-06 08:07:40     33,84      0.692650
565050 2004-12-06 11:03:57 2004-12-06 11:04:06     33,84      0.122419
567836 2004-12-06 14:13:11 2004-12-06 14:13:38     33,84      0.131308

[672 rows x 4 columns]
35,40
                     start                 end id_colums  intercontact
318955 2004-11-05 06:50:10 2004-11-05 06:50:36     35,40           NaN
319744 2004-11-05 07:57:08 2004-11-05 07:57:36     35,40      0.046204
319791 2004-11-05 07:59:23 2004-11-05 08:00:34     35,40      0.001238
320090 2004-11-05 08:11:33 2004-11-05 08:11:57     35,40      0.007627
320256 2004-11-05 08:31:59 2004-11-05 08:32:00     35,40      0.013912
...                    ...                 ...       ...           ...
568186 2004-12-06 15:16:41 2004-12-06 15:17:11     35,40      0.069444
568286 2004-12-06 15:31:44 2004-12-06 15:32:01     35,40      0.010104
568307 2004-12-06 15:40:37 2004-12-06 15:40:48     35,40      0.005972
568313 2004-12-06 15:43:05 2004-12-06 15:43:14     35,40      0.001586
568360 2004-12-06 15:55:09 2004-12-06 15:55:27     35,40      0.008275

[247 rows x 4 columns]
35,42
                     start                 end id_colums  intercontact
282646 2004-11-02 03:29:29 2004-11-02 03:30:06     35,42           NaN
282684 2004-11-02 03:31:59 2004-11-02 03:32:12     35,42      0.001308
282694 2004-11-02 03:32:27 2004-11-02 03:32:39     35,42      0.000174
282740 2004-11-02 03:41:13 2004-11-02 03:42:44     35,42      0.005949
282771 2004-11-02 03:47:50 2004-11-02 03:48:08     35,42      0.003542
...                    ...                 ...       ...           ...
553586 2004-12-04 16:27:36 2004-12-04 16:27:54     35,42      0.000035
553727 2004-12-04 17:19:05 2004-12-04 17:19:08     35,42      0.035544
553754 2004-12-04 17:30:50 2004-12-04 17:31:08     35,42      0.008125
553766 2004-12-04 17:36:11 2004-12-04 17:36:34     35,42      0.003507
553784 2004-12-04 17:46:41 2004-12-04 17:47:25     35,42      0.007025

[590 rows x 4 columns]
35,43
                     start                 end id_colums  intercontact
283167 2004-11-02 04:55:24 2004-11-02 04:55:51     35,43           NaN
283317 2004-11-02 05:04:16 2004-11-02 05:04:18     35,43      0.005845
283380 2004-11-02 05:07:57 2004-11-02 05:07:59     35,43      0.002535
283430 2004-11-02 05:11:29 2004-11-02 05:12:29     35,43      0.002431
283448 2004-11-02 05:12:38 2004-11-02 05:12:50     35,43      0.000104
...                    ...                 ...       ...           ...
560152 2004-12-06 06:39:05 2004-12-06 06:39:13     35,43      0.004317
560155 2004-12-06 06:39:33 2004-12-06 06:39:44     35,43      0.000231
560184 2004-12-06 06:43:35 2004-12-06 06:43:45     35,43      0.002674
560248 2004-12-06 06:46:19 2004-12-06 06:46:43     35,43      0.001782
560257 2004-12-06 06:46:49 2004-12-06 06:47:08     35,43      0.000069

[682 rows x 4 columns]
35,44
                     start                 end id_colums  intercontact
280402 2004-11-01 13:27:57 2004-11-01 13:28:17     35,44           NaN
280550 2004-11-01 13:39:04 2004-11-01 13:39:25     35,44      0.007488
280589 2004-11-01 13:44:22 2004-11-01 13:44:30     35,44      0.003438
403743 2004-11-17 09:05:04 2004-11-17 09:05:29     35,44     15.805949
403840 2004-11-17 09:07:44 2004-11-17 09:07:46     35,44      0.001563
...                    ...                 ...       ...           ...
564197 2004-12-06 10:23:15 2004-12-06 10:23:23     35,44      0.024225
566686 2004-12-06 12:37:48 2004-12-06 12:37:50     35,44      0.093345
567258 2004-12-06 13:22:22 2004-12-06 13:22:56     35,44      0.030926
568854 2004-12-06 19:22:03 2004-12-06 19:22:22     35,44      0.249387
569218 2004-12-07 03:09:39 2004-12-07 03:10:50     35,44      0.324502

[210 rows x 4 columns]
35,45
                     start                 end id_colums  intercontact
280592 2004-11-01 13:44:30 2004-11-01 13:45:50     35,45           NaN
280615 2004-11-01 13:46:20 2004-11-01 13:46:35     35,45      0.000347
280767 2004-11-01 13:57:56 2004-11-01 13:58:12     35,45      0.007882
284005 2004-11-02 05:57:17 2004-11-02 05:58:36     35,45      0.666030
284042 2004-11-02 06:01:37 2004-11-02 06:02:14     35,45      0.002095
...                    ...                 ...       ...           ...
566791 2004-12-06 12:44:58 2004-12-06 12:45:08     35,45      0.004954
567843 2004-12-06 14:13:31 2004-12-06 14:13:33     35,45      0.061377
567882 2004-12-06 14:16:00 2004-12-06 14:16:12     35,45      0.001701
567886 2004-12-06 14:16:55 2004-12-06 14:17:07     35,45      0.000498
567895 2004-12-06 14:18:24 2004-12-06 14:18:34     35,45      0.000891

[208 rows x 4 columns]
35,46
                     start                 end id_colums  intercontact
301539 2004-11-03 10:55:39 2004-11-03 10:56:01     35,46           NaN
301577 2004-11-03 10:57:28 2004-11-03 10:58:29     35,46      0.001007
301603 2004-11-03 10:58:38 2004-11-03 10:59:55     35,46      0.000104
301636 2004-11-03 11:00:02 2004-11-03 11:00:22     35,46      0.000081
301666 2004-11-03 11:01:02 2004-11-03 11:01:36     35,46      0.000463
...                    ...                 ...       ...           ...
567887 2004-12-06 14:16:55 2004-12-06 14:17:07     35,46      0.000880
568038 2004-12-06 14:44:22 2004-12-06 14:44:32     35,46      0.018924
569237 2004-12-07 03:16:23 2004-12-07 03:16:25     35,46      0.522118
569255 2004-12-07 03:25:29 2004-12-07 03:25:56     35,46      0.006296
569280 2004-12-07 03:35:55 2004-12-07 03:36:06     35,46      0.006933

[510 rows x 4 columns]
35,53
                     start                 end id_colums  intercontact
280953 2004-11-01 14:19:48 2004-11-01 14:20:53     35,53           NaN
281027 2004-11-01 14:23:15 2004-11-01 14:23:34     35,53      0.001644
283169 2004-11-02 04:55:24 2004-11-02 04:55:51     35,53      0.605440
283178 2004-11-02 04:57:01 2004-11-02 04:57:49     35,53      0.000810
283219 2004-11-02 05:00:26 2004-11-02 05:00:51     35,53      0.001817
...                    ...                 ...       ...           ...
566036 2004-12-06 12:02:32 2004-12-06 12:02:52     35,53      0.000856
566251 2004-12-06 12:16:38 2004-12-06 12:18:02     35,53      0.009560
566952 2004-12-06 12:56:32 2004-12-06 12:56:57     35,53      0.026736
566983 2004-12-06 12:59:01 2004-12-06 13:01:03     35,53      0.001435
569259 2004-12-07 03:28:03 2004-12-07 03:29:54     35,53      0.602083

[252 rows x 4 columns]
35,54
                     start                 end id_colums  intercontact
280387 2004-11-01 13:26:53 2004-11-01 13:27:13     35,54           NaN
280401 2004-11-01 13:27:57 2004-11-01 13:28:02     35,54      0.000509
280405 2004-11-01 13:28:41 2004-11-01 13:37:35     35,54      0.000451
280603 2004-11-01 13:45:43 2004-11-01 13:45:50     35,54      0.005648
280695 2004-11-01 13:51:41 2004-11-01 13:51:42     35,54      0.004063
...                    ...                 ...       ...           ...
568209 2004-12-06 15:18:09 2004-12-06 15:18:28     35,54      0.000671
568284 2004-12-06 15:31:44 2004-12-06 15:32:01     35,54      0.009213
568638 2004-12-06 17:22:17 2004-12-06 17:22:34     35,54      0.076574
568834 2004-12-06 19:01:47 2004-12-06 19:02:30     35,54      0.068900
569278 2004-12-07 03:35:55 2004-12-07 03:36:06     35,54      0.356539

[333 rows x 4 columns]
35,55
                     start                 end id_colums  intercontact
280726 2004-11-01 13:54:40 2004-11-01 13:54:58     35,55           NaN
282650 2004-11-02 03:29:38 2004-11-02 03:29:39     35,55      0.565741
282664 2004-11-02 03:30:39 2004-11-02 03:31:05     35,55      0.000694
282696 2004-11-02 03:32:39 2004-11-02 03:33:02     35,55      0.001088
282715 2004-11-02 03:34:07 2004-11-02 03:34:35     35,55      0.000752
...                    ...                 ...       ...           ...
540605 2004-12-03 07:02:43 2004-12-03 07:02:58     35,55      0.005336
540634 2004-12-03 07:03:11 2004-12-03 07:03:20     35,55      0.000150
540642 2004-12-03 07:03:39 2004-12-03 07:04:43     35,55      0.000220
556759 2004-12-05 13:12:45 2004-12-05 13:13:09     35,55      2.255579
556781 2004-12-05 13:16:58 2004-12-05 13:17:27     35,55      0.002650

[682 rows x 4 columns]
35,56
                     start                 end id_colums  intercontact
282918 2004-11-02 04:24:55 2004-11-02 04:25:52     35,56           NaN
283190 2004-11-02 04:57:27 2004-11-02 04:57:49     35,56      0.021933
283280 2004-11-02 05:03:08 2004-11-02 05:03:57     35,56      0.003692
283391 2004-11-02 05:08:55 2004-11-02 05:09:28     35,56      0.003449
283466 2004-11-02 05:13:55 2004-11-02 05:14:05     35,56      0.003090
283800 2004-11-02 05:37:34 2004-11-02 05:38:11     35,56      0.016308
284006 2004-11-02 05:57:17 2004-11-02 05:58:36     35,56      0.013264
284575 2004-11-02 06:29:50 2004-11-02 06:30:14     35,56      0.021690
284778 2004-11-02 06:43:47 2004-11-02 06:44:28     35,56      0.009410
286400 2004-11-02 08:28:08 2004-11-02 08:28:29     35,56      0.071991
286426 2004-11-02 08:29:05 2004-11-02 08:29:41     35,56      0.000417
286561 2004-11-02 08:35:13 2004-11-02 08:35:15     35,56      0.003843
287349 2004-11-02 09:06:52 2004-11-02 09:07:04     35,56      0.021956

36,64
                     start                 end id_colums  intercontact
127163 2004-10-08 04:24:03 2004-10-08 04:41:10     36,64           NaN
127684 2004-10-08 05:45:30 2004-10-08 05:47:27     36,64      0.044676
127705 2004-10-08 05:48:00 2004-10-08 05:48:31     36,64      0.000382
127731 2004-10-08 05:49:56 2004-10-08 05:50:15     36,64      0.000984
127771 2004-10-08 05:53:34 2004-10-08 05:54:40     36,64      0.002303
...                    ...                 ...       ...           ...
564029 2004-12-06 10:14:39 2004-12-06 10:16:19     36,64      0.002153
564993 2004-12-06 10:59:35 2004-12-06 11:00:10     36,64      0.030046
565066 2004-12-06 11:04:21 2004-12-06 11:04:30     36,64      0.002905
565354 2004-12-06 11:19:50 2004-12-06 11:20:00     36,64      0.010648
565508 2004-12-06 11:26:28 2004-12-06 11:26:59     36,64      0.004491

[590 rows x 4 columns]
36,73
                     start                 end id_colums  intercontact
127143 2004-10-08 03:55:27 2004-10-08 03:57:07     36,73           NaN
127158 2004-10-08 04:07:57 2004-10-08 04:08:11     36,73      0.007523
127431 2004-10-08 05:13:05 2004-10-08 05:13:42     36,73      0.045069
127453 2004-10-08 05:14:35 2004-10-08 05:14:40     36,73      0.000613
127600 2004-10-08 05:35:21 2004-10-08 05:37:16     36,73      0.014363
...                    ...                 ...       ...           ...
573302 2004-12-07 12:17:24 2004-12-07 12:17:53     36,73      0.000845
573327 2004-12-07 12:20:25 2004-12-07 12:20:47     36,73      0.001759
573338 2004-12-07 12:21:25 2004-12-07 12:21:48     36,73      0.000440
573379 2004-12-07 12:23:22 2004-12-07 12:23:42     36,73      0.001088
574169 2004-12-07 13:14:31 2004-12-07 13:14:40     36,73      0.035289

[442 rows x 4 columns]
36,74
                     start                 end id_colums  intercontact
140133 2004-10-12 08:28:50 2004-10-12 08:29:16     36,74           NaN
171746 2004-10-16 03:16:49 2004-10-16 03:17:10     36,74      3.783021
171747 2004-10-16 03:17:45 2004-10-16 03:17:58     36,74      0.000405
171748 2004-10-16 03:20:13 2004-10-16 03:20:32     36,74      0.001563
171749 2004-10-16 03:25:12 2004-10-16 03:25:39     36,74      0.003241
...                    ...                 ...       ...           ...
573268 2004-12-07 12:15:20 2004-12-07 12:15:33     36,74      0.000833
573314 2004-12-07 12:19:12 2004-12-07 12:19:29     36,74      0.002535
573317 2004-12-07 12:20:04 2004-12-07 12:20:15     36,74      0.000405
573380 2004-12-07 12:23:22 2004-12-07 12:23:42     36,74      0.002164
573524 2004-12-07 12:31:32 2004-12-07 12:31:49     36,74      0.005440

[1118 rows x 4 columns]
36,78
                     start                 end id_colums  intercontact
127360 2004-10-08 05:06:47 2004-10-08 05:07:05     36,78           NaN
127375 2004-10-08 05:08:18 2004-10-08 05:08:21     36,78      0.000845
127406 2004-10-08 05:11:31 2004-10-08 05:11:48     36,78      0.002199
127570 2004-10-08 05:29:38 2004-10-08 05:30:03     36,78      0.012384
127577 2004-10-08 05:30:15 2004-10-08 05:30:28     36,78      0.000139
...                    ...                 ...       ...           ...
559683 2004-12-06 06:09:02 2004-12-06 06:09:27     36,78      0.032060
559704 2004-12-06 06:10:20 2004-12-06 06:10:58     36,78      0.000613
559886 2004-12-06 06:21:38 2004-12-06 06:21:51     36,78      0.007407
577085 2004-12-08 03:28:50 2004-12-08 03:29:03     36,78      1.879850
577086 2004-12-08 03:29:08 2004-12-08 03:30:05     36,78      0.000058

[1610 rows x 4 columns]
36,84
                     start                 end id_colums  intercontact
130910 2004-10-08 10:57:53 2004-10-08 10:58:04     36,84           NaN
134394 2004-10-10 09:55:36 2004-10-10 09:56:57     36,84      1.956620
139254 2004-10-12 07:25:20 2004-10-12 07:25:47     36,84      1.894711
139283 2004-10-12 07:29:57 2004-10-12 07:30:36     36,84      0.002894
139353 2004-10-12 07:35:54 2004-10-12 07:36:04     36,84      0.003681
...                    ...                 ...       ...           ...
573193 2004-12-07 12:09:21 2004-12-07 12:09:30     36,84      0.001053
573312 2004-12-07 12:19:12 2004-12-07 12:19:59     36,84      0.006736
573322 2004-12-07 12:20:07 2004-12-07 12:20:15     36,84      0.000093
573345 2004-12-07 12:21:49 2004-12-07 12:21:58     36,84      0.001088
573360 2004-12-07 12:22:42 2004-12-07 12:22:54     36,84      0.000509

[710 rows x 4 columns]
38,39
                     start                 end id_colums  intercontact
140946 2004-10-12 10:03:42 2004-10-12 10:03:58     38,39           NaN
143583 2004-10-12 12:37:39 2004-10-12 12:38:00     38,39      0.106725
143880 2004-10-12 12:46:53 2004-10-12 12:47:48     38,39      0.006169
143942 2004-10-12 12:49:29 2004-10-12 12:50:45     38,39      0.001169
145089 2004-10-12 14:27:31 2004-10-12 14:29:05     38,39      0.067199
...                    ...                 ...       ...           ...
644527 2004-12-20 09:37:04 2004-12-20 09:37:41     38,39      0.005023
644602 2004-12-20 09:45:12 2004-12-20 09:45:30     38,39      0.005220
644628 2004-12-20 09:50:09 2004-12-20 09:50:27     38,39      0.003229
644791 2004-12-20 10:45:51 2004-12-20 10:50:11     38,39      0.038472
645222 2004-12-20 12:28:16 2004-12-20 12:28:34     38,39      0.068113

[638 rows x 4 columns]
38,41
                     start                 end id_colums  intercontact
146244 2004-10-12 19:13:47 2004-10-12 19:14:41     38,41           NaN
146715 2004-10-13 03:47:20 2004-10-13 03:47:40     38,41      0.356007
146735 2004-10-13 03:51:16 2004-10-13 03:51:45     38,41      0.002500
146762 2004-10-13 03:55:48 2004-10-13 03:56:35     38,41      0.002812
146801 2004-10-13 04:06:00 2004-10-13 04:06:48     38,41      0.006539
...                    ...                 ...       ...           ...
568715 2004-12-06 17:53:49 2004-12-06 17:57:51     38,41      0.043472
568765 2004-12-06 18:14:14 2004-12-06 18:14:36     38,41      0.011377
568781 2004-12-06 18:24:31 2004-12-06 18:25:19     38,41      0.006887
568856 2004-12-06 19:22:20 2004-12-06 19:24:45     38,41      0.039595
568862 2004-12-06 19:30:17 2004-12-06 19:30:34     38,41      0.003843

[738 rows x 4 columns]
38,47
                     start                 end id_colums  intercontact
266565 2004-10-30 07:25:36 2004-10-30 07:25:48     38,47           NaN
266570 2004-10-30 07:29:02 2004-10-30 07:29:15     38,47      0.002245
266579 2004-10-30 07:35:14 2004-10-30 07:36:22     38,47      0.004155
266586 2004-10-30 07:41:32 2004-10-30 07:41:58     38,47      0.003588
269508 2004-10-31 10:06:19 2004-10-31 10:06:25     38,47      1.100243
...                    ...                 ...       ...           ...
566891 2004-12-06 12:53:30 2004-12-06 12:54:03     38,47      0.033484
567391 2004-12-06 13:36:11 2004-12-06 13:36:33     38,47      0.029259
567448 2004-12-06 13:39:07 2004-12-06 13:39:17     38,47      0.001782
567472 2004-12-06 13:41:09 2004-12-06 13:41:19     38,47      0.001296
567518 2004-12-06 13:43:18 2004-12-06 13:43:19     38,47      0.001377

[525 rows x 4 columns]
38,48
                     start                 end id_colums  intercontact
361971 2004-11-12 11:13:27 2004-11-12 11:22:33     38,48           NaN
363273 2004-11-12 13:21:47 2004-11-12 13:41:22     38,48      0.082801
363675 2004-11-12 15:03:10 2004-11-12 15:03:35     38,48      0.056806
363748 2004-11-12 15:45:22 2004-11-12 15:46:40     38,48      0.029016
363795 2004-11-12 16:45:50 2004-11-12 17:09:03     38,48      0.041088
...                    ...                 ...       ...           ...
634009 2004-12-15 14:41:25 2004-12-15 14:41:43     38,48      0.149815
634145 2004-12-15 14:57:55 2004-12-15 14:58:31     38,48      0.011250
641332 2004-12-17 09:41:32 2004-12-17 09:41:44     38,48      1.779873
642122 2004-12-17 13:11:00 2004-12-17 13:11:03     38,48      0.145324
642129 2004-12-17 13:14:03 2004-12-17 13:16:34     38,48      0.002083

[154 rows x 4 columns]
38,49
                     start                 end id_colums  intercontact
140948 2004-10-12 10:03:42 2004-10-12 10:03:58     38,49           NaN
144417 2004-10-12 13:15:48 2004-10-12 13:17:20     38,49      0.133218
145981 2004-10-12 17:46:27 2004-10-12 17:48:16     38,49      0.186887
147423 2004-10-13 05:19:50 2004-10-13 05:20:07     38,49      0.480255
148747 2004-10-13 07:07:04 2004-10-13 07:07:12     38,49      0.074271
...                    ...                 ...       ...           ...
672177 2005-01-15 06:35:30 2005-01-15 06:38:55     38,49      0.036354
672434 2005-01-15 11:10:41 2005-01-15 11:21:49     38,49      0.188727
672549 2005-01-15 12:44:53 2005-01-15 12:52:07     38,49      0.057685
672581 2005-01-15 13:35:00 2005-01-15 13:35:16     38,49      0.029780
672605 2005-01-15 13:47:56 2005-01-15 13:48:27     38,49      0.008796

[721 rows x 4 columns]
38,50
                     start                 end id_colums  intercontact
140950 2004-10-12 10:03:42 2004-10-12 10:03:58     38,50           NaN
276558 2004-11-01 10:27:43 2004-11-01 10:28:02     38,50     20.016493
276582 2004-11-01 10:29:54 2004-11-01 10:30:12     38,50      0.001296
276643 2004-11-01 10:33:11 2004-11-01 10:33:41     38,50      0.002072
276749 2004-11-01 10:38:55 2004-11-01 10:40:04     38,50      0.003634
...                    ...                 ...       ...           ...
702560 2005-02-03 15:12:10 2005-02-03 15:12:22     38,50      0.028588
702601 2005-02-03 18:02:40 2005-02-03 18:02:50     38,50      0.118264
702603 2005-02-03 18:16:38 2005-02-03 18:16:49     38,50      0.009583
703158 2005-02-04 09:34:19 2005-02-04 09:34:39     38,50      0.637153
703187 2005-02-04 09:41:09 2005-02-04 09:41:40     38,50      0.004514

[405 rows x 4 columns]
38,52
                     start                 end id_colums  intercontact
158332 2004-10-14 08:57:27 2004-10-14 08:57:28     38,52           NaN
158345 2004-10-14 08:58:08 2004-10-14 08:58:26     38,52      0.000463
159294 2004-10-14 10:17:06 2004-10-14 10:17:41     38,52      0.054630
159684 2004-10-14 10:48:53 2004-10-14 10:49:16     38,52      0.021667
162375 2004-10-14 13:17:52 2004-10-14 13:18:11     38,52      0.103194
...                    ...                 ...       ...           ...
701904 2005-02-03 07:58:49 2005-02-03 07:59:33     38,52      0.003981
702124 2005-02-03 09:52:03 2005-02-03 09:54:09     38,52      0.078125
702195 2005-02-03 10:18:59 2005-02-03 10:19:49     38,52      0.017245
702196 2005-02-03 10:19:49 2005-02-03 10:19:52     38,52      0.000000
702213 2005-02-03 10:26:12 2005-02-03 10:27:40     38,52      0.004398

[84 rows x 4 columns]
38,59
                     start                 end id_colums  intercontact
188511 2004-10-19 07:58:56 2004-10-19 07:59:30     38,59           NaN
188576 2004-10-19 08:00:15 2004-10-19 08:00:36     38,59      0.000521
190423 2004-10-19 09:03:07 2004-10-19 09:03:54     38,59      0.043414
198617 2004-10-20 05:22:38 2004-10-20 05:23:30     38,59      0.846343
198683 2004-10-20 05:36:31 2004-10-20 05:36:44     38,59      0.009039
...                    ...                 ...       ...           ...
702121 2005-02-03 09:51:11 2005-02-03 09:51:44     38,59      0.004468
702264 2005-02-03 10:38:51 2005-02-03 10:39:27     38,59      0.032720
702502 2005-02-03 13:34:11 2005-02-03 13:34:34     38,59      0.121343
702511 2005-02-03 13:48:06 2005-02-03 13:49:13     38,59      0.009398
702526 2005-02-03 13:57:50 2005-02-03 13:57:55     38,59      0.005984

[1015 rows x 4 columns]
38,63
                     start                 end id_colums  intercontact
144003 2004-10-12 12:51:27 2004-10-12 12:52:04     38,63           NaN
144343 2004-10-12 13:10:12 2004-10-12 13:10:51     38,63      0.012593
144434 2004-10-12 13:17:20 2004-10-12 13:19:18     38,63      0.004502
145088 2004-10-12 14:27:31 2004-10-12 14:29:05     38,63      0.047373
145518 2004-10-12 15:49:56 2004-10-12 15:50:13     38,63      0.056146
...                    ...                 ...       ...           ...
701949 2005-02-03 08:21:37 2005-02-03 08:21:53     38,63      0.008738
702480 2005-02-03 13:12:59 2005-02-03 13:13:01     38,63      0.202153
702548 2005-02-03 14:33:30 2005-02-03 14:34:17     38,63      0.055891
702571 2005-02-03 15:36:05 2005-02-03 15:36:14     38,63      0.042917
702574 2005-02-03 15:46:58 2005-02-03 15:47:47     38,63      0.007454

[624 rows x 4 columns]
38,64
                     start                 end id_colums  intercontact
157306 2004-10-14 07:56:43 2004-10-14 07:57:06     38,64           NaN
159296 2004-10-14 10:17:06 2004-10-14 10:17:41     38,64      0.097222
161975 2004-10-14 12:52:34 2004-10-14 12:53:50     38,64      0.107558
163729 2004-10-14 14:33:34 2004-10-14 14:42:23     38,64      0.069259
164695 2004-10-14 18:08:07 2004-10-14 18:10:55     38,64      0.142870
...                    ...                 ...       ...           ...
671639 2005-01-14 16:50:13 2005-01-14 16:50:21     38,64      0.007269
671669 2005-01-14 17:07:13 2005-01-14 17:09:06     38,64      0.011713
671712 2005-01-14 17:28:14 2005-01-14 17:29:28     38,64      0.013287
672757 2005-01-15 18:17:09 2005-01-15 18:17:36     38,64      1.033113
672794 2005-01-15 22:51:15 2005-01-15 22:52:53     38,64      0.190035

[808 rows x 4 columns]
38,67
                     start                 end id_colums  intercontact
140947 2004-10-12 10:03:42 2004-10-12 10:03:58     38,67           NaN
38,73
                     start                 end id_colums  intercontact
141037 2004-10-12 10:15:04 2004-10-12 10:15:15     38,73           NaN
141068 2004-10-12 10:17:44 2004-10-12 10:20:05     38,73      0.001725
143696 2004-10-12 12:41:48 2004-10-12 12:42:52     38,73      0.098414
144899 2004-10-12 14:00:59 2004-10-12 14:01:34     38,73      0.054248
146593 2004-10-13 03:03:59 2004-10-13 03:04:43     38,73      0.543345
...                    ...                 ...       ...           ...
594011 2004-12-09 14:02:27 2004-12-09 14:02:34     38,73      0.022836
594055 2004-12-09 14:06:01 2004-12-09 14:06:06     38,73      0.002396
594083 2004-12-09 14:15:51 2004-12-09 14:15:59     38,73      0.006771
594119 2004-12-09 14:25:20 2004-12-09 14:25:30     38,73      0.006493
594557 2004-12-09 16:13:07 2004-12-09 16:15:25     38,73      0.074734

[387 rows x 4 columns]
38,74
                     start                 end id_colums  intercontact
146611 2004-10-13 03:17:57 2004-10-13 03:18:32     38,74           NaN
146614 2004-10-13 03:19:03 2004-10-13 03:19:21     38,74      0.000359
146631 2004-10-13 03:25:55 2004-10-13 03:26:14     38,74      0.004560
146645 2004-10-13 03:28:17 2004-10-13 03:28:39     38,74      0.001424
146692 2004-10-13 03:40:18 2004-10-13 03:40:45     38,74      0.008090
...                    ...                 ...       ...           ...
702303 2005-02-03 10:57:28 2005-02-03 10:57:49     38,74      0.000266
702312 2005-02-03 10:59:04 2005-02-03 11:01:48     38,74      0.000868
702471 2005-02-03 13:04:11 2005-02-03 13:04:26     38,74      0.084988
702490 2005-02-03 13:24:30 2005-02-03 13:24:38     38,74      0.013935
703157 2005-02-04 09:34:19 2005-02-04 09:34:28     38,74      0.840058

[892 rows x 4 columns]
38,78
                     start                 end id_colums  intercontact
143552 2004-10-12 12:35:44 2004-10-12 12:35:54     38,78           NaN
143615 2004-10-12 12:39:13 2004-10-12 12:39:41     38,78      0.002303
143753 2004-10-12 12:42:52 2004-10-12 12:43:33     38,78      0.002211
143965 2004-10-12 12:50:39 2004-10-12 12:50:45     38,78      0.004931
144212 2004-10-12 13:00:57 2004-10-12 13:01:34     38,78      0.007083
...                    ...                 ...       ...           ...
702657 2005-02-04 03:54:54 2005-02-04 03:55:02     38,78      0.000718
702658 2005-02-04 03:55:02 2005-02-04 03:55:23     38,78      0.000000
702662 2005-02-04 03:58:57 2005-02-04 03:59:11     38,78      0.002477
702664 2005-02-04 04:00:59 2005-02-04 04:01:34     38,78      0.001250
703236 2005-02-04 09:51:48 2005-02-04 09:52:08     38,78      0.243218

[1132 rows x 4 columns]
38,84
                     start                 end id_colums  intercontact
140945 2004-10-12 10:03:42 2004-10-12 10:03:58     38,84           NaN
140970 2004-10-12 10:06:26 2004-10-12 10:08:40     38,84      0.001713
141016 2004-10-12 10:09:45 2004-10-12 10:11:28     38,84      0.000752
141022 2004-10-12 10:12:19 2004-10-12 10:12:36     38,84      0.000590
143773 2004-10-12 12:43:15 2004-10-12 12:43:30     38,84      0.104618
...                    ...                 ...       ...           ...
702618 2005-02-03 19:53:33 2005-02-03 19:53:59     38,84      0.058322
702619 2005-02-03 20:06:34 2005-02-03 20:40:48     38,84      0.008738
702744 2005-02-04 06:20:27 2005-02-04 06:21:07     38,84      0.402535
703175 2005-02-04 09:39:12 2005-02-04 09:39:29     38,84      0.137558
703206 2005-02-04 09:42:50 2005-02-04 09:43:05     38,84      0.002326

[998 rows x 4 columns]
39,41
                     start                 end id_colums  intercontact
100176 2004-10-04 14:36:42 2004-10-04 14:46:22     39,41           NaN
105816 2004-10-05 10:52:00 2004-10-05 10:52:17     39,41      0.837245
107394 2004-10-05 12:27:54 2004-10-05 12:28:11     39,41      0.066400
129495 2004-10-08 08:07:59 2004-10-08 08:08:38     39,41      2.819306
129507 2004-10-08 08:09:21 2004-10-08 08:09:37     39,41      0.000498
...                    ...                 ...       ...           ...
555000 2004-12-05 08:36:12 2004-12-05 08:36:26     39,41      0.006042
566600 2004-12-06 12:33:58 2004-12-06 12:34:43     39,41      1.164954
568296 2004-12-06 15:33:45 2004-12-06 15:34:16     39,41      0.124329
568547 2004-12-06 16:44:41 2004-12-06 16:44:58     39,41      0.048900
568698 2004-12-06 17:45:38 2004-12-06 17:46:19     39,41      0.042130

[328 rows x 4 columns]
39,42
                    start                 end id_colums  intercontact
23988 2004-09-16 06:58:10 2004-09-16 06:58:23     39,42           NaN
39,47
                     start                 end id_colums  intercontact
45217  2004-09-23 11:23:01 2004-09-23 11:23:28     39,47           NaN
45971  2004-09-23 12:03:54 2004-09-23 12:03:57     39,47      0.028079
46104  2004-09-23 12:11:55 2004-09-23 12:12:12     39,47      0.005532
46594  2004-09-23 12:44:00 2004-09-23 12:44:39     39,47      0.022083
47104  2004-09-23 13:11:48 2004-09-23 13:12:13     39,47      0.018854
...                    ...                 ...       ...           ...
566883 2004-12-06 12:53:15 2004-12-06 12:53:49     39,47      0.011736
566908 2004-12-06 12:54:03 2004-12-06 12:54:09     39,47      0.000162
566953 2004-12-06 12:56:34 2004-12-06 12:58:26     39,47      0.001678
567471 2004-12-06 13:40:47 2004-12-06 13:41:19     39,47      0.029410
567529 2004-12-06 13:44:01 2004-12-06 13:44:22     39,47      0.001875

[323 rows x 4 columns]
39,48
                     start                 end id_colums  intercontact
360705 2004-11-12 09:29:55 2004-11-12 09:30:42     39,48           NaN
361467 2004-11-12 10:32:41 2004-11-12 10:32:51     39,48      0.043044
361912 2004-11-12 11:07:44 2004-11-12 11:07:52     39,48      0.024225
382326 2004-11-15 14:30:30 2004-11-15 14:40:48     39,48      3.140718
382606 2004-11-15 14:59:39 2004-11-15 15:00:16     39,48      0.013090
...                    ...                 ...       ...           ...
642652 2004-12-17 21:55:19 2004-12-17 21:57:06     39,48      0.070197
642668 2004-12-17 22:56:34 2004-12-17 22:56:36     39,48      0.041296
642683 2004-12-17 23:43:09 2004-12-17 23:49:03     39,48      0.032326
642707 2004-12-18 01:30:58 2004-12-18 01:38:25     39,48      0.070775
642708 2004-12-18 01:38:25 2004-12-18 01:43:39     39,48      0.000000

[678 rows x 4 columns]
39,49
                     start                 end id_colums  intercontact
115788 2004-10-06 14:50:59 2004-10-06 14:51:39     39,49           NaN
115805 2004-10-06 14:54:35 2004-10-06 14:55:29     39,49      0.002037
115841 2004-10-06 15:09:21 2004-10-06 15:10:34     39,49      0.009630

[908 rows x 4 columns]
4,30
                     start                 end id_colums  intercontact
12344  2004-09-09 11:02:19 2004-09-09 11:02:59      4,30           NaN
12348  2004-09-09 11:03:32 2004-09-09 11:03:50      4,30      0.000382
12360  2004-09-09 11:05:16 2004-09-09 11:05:37      4,30      0.000995
12450  2004-09-09 11:36:32 2004-09-09 11:37:07      4,30      0.021470
12973  2004-09-09 16:30:06 2004-09-09 16:30:30      4,30      0.203461
...                    ...                 ...       ...           ...
266297 2004-10-29 20:33:46 2004-10-29 20:34:01      4,30      0.006956
266310 2004-10-29 20:58:03 2004-10-29 20:58:15      4,30      0.016690
266318 2004-10-29 21:20:11 2004-10-29 21:20:55      4,30      0.015231
269905 2004-10-31 11:40:23 2004-10-31 11:41:59      4,30      1.596852
269998 2004-10-31 12:01:48 2004-10-31 12:06:42      4,30      0.013762

[293 rows x 4 columns]
4,32
                     start                 end id_colums  intercontact
25886  2004-09-16 12:41:49 2004-09-16 12:41:51      4,32           NaN
28871  2004-09-17 12:36:06 2004-09-17 12:36:13      4,32      0.996007
28879  2004-09-17 12:36:59 2004-09-17 12:37:17      4,32      0.000532
28880  2004-09-17 12:37:20 2004-09-17 12:38:30      4,32      0.000035
28916  2004-09-17 12:43:38 2004-09-17 12:43:40      4,32      0.003565
...                    ...                 ...       ...           ...
772978 2005-04-08 11:21:45 2005-04-08 11:22:07      4,32      0.784502
772984 2005-04-08 11:22:33 2005-04-08 11:26:01      4,32      0.000301
773643 2005-04-11 12:45:44 2005-04-11 12:45:45      4,32      3.055359
774895 2005-04-13 07:42:30 2005-04-13 07:51:04      4,32      1.789410
776059 2005-04-14 09:23:41 2005-04-14 09:24:15      4,32      1.064317

[247 rows x 4 columns]
4,35
                     start                 end id_colums  intercontact
310711 2004-11-04 09:58:30 2004-11-04 09:58:38      4,35           NaN
310719 2004-11-04 09:58:52 2004-11-04 09:58:55      4,35      0.000162
310722 2004-11-04 09:59:10 2004-11-04 09:59:11      4,35      0.000174
311911 2004-11-04 11:01:12 2004-11-04 11:01:13      4,35      0.043067
315199 2004-11-04 13:00:38 2004-11-04 13:00:40      4,35      0.082928
...                    ...                 ...       ...           ...
567343 2004-12-06 13:32:28 2004-12-06 13:33:23      4,35      0.045428
567900 2004-12-06 14:18:34 2004-12-06 14:18:46      4,35      0.031377
567945 2004-12-06 14:24:28 2004-12-06 14:28:15      4,35      0.003958
567973 2004-12-06 14:33:11 2004-12-06 14:33:23      4,35      0.003426
568003 2004-12-06 14:36:59 2004-12-06 14:37:44      4,35      0.002500

[260 rows x 4 columns]
4,40
                     start                 end id_colums  intercontact
44643  2004-09-23 10:55:00 2004-09-23 10:55:36      4,40           NaN
44681  2004-09-23 10:57:23 2004-09-23 10:57:26      4,40      0.001238
44702  2004-09-23 10:58:02 2004-09-23 10:58:08      4,40      0.000417
44795  2004-09-23 11:00:59 2004-09-23 11:01:58      4,40      0.001979
45005  2004-09-23 11:10:31 2004-09-23 11:10:33      4,40      0.005938
...                    ...                 ...       ...           ...
774021 2005-04-12 08:16:47 2005-04-12 08:16:48      4,40      0.813218
774546 2005-04-12 14:22:53 2005-04-12 14:23:47      4,40      0.254225
776030 2005-04-14 08:32:22 2005-04-14 08:33:01      4,40      1.755961
776032 2005-04-14 08:33:14 2005-04-14 08:33:16      4,40      0.000150
776068 2005-04-14 09:29:49 2005-04-14 09:29:50      4,40      0.039271

[510 rows x 4 columns]
4,42
                     start                 end id_colums  intercontact
44701  2004-09-23 10:58:02 2004-09-23 10:58:07      4,42           NaN
44798  2004-09-23 11:01:03 2004-09-23 11:01:58      4,42      0.002037
44892  2004-09-23 11:04:19 2004-09-23 11:04:33      4,42      0.001632
45016  2004-09-23 11:10:47 2004-09-23 11:11:37      4,42      0.004329
45724  2004-09-23 11:51:14 2004-09-23 11:51:32      4,42      0.027512
...                    ...                 ...       ...           ...
550408 2004-12-03 15:58:31 2004-12-03 15:58:51      4,42      1.432940
552492 2004-12-04 11:10:15 2004-12-04 11:10:33      4,42      0.799583
552570 2004-12-04 11:27:11 2004-12-04 11:27:16      4,42      0.011551
552583 2004-12-04 11:30:45 2004-12-04 11:31:10      4,42      0.002419
552667 2004-12-04 11:44:59 2004-12-04 11:45:20      4,42      0.009595

[365 rows x 4 columns]
4,43
                     start                 end id_colums  intercontact
46620  2004-09-23 12:45:09 2004-09-23 12:45:31      4,43           NaN
46677  2004-09-23 12:47:05 2004-09-23 12:47:49      4,43      0.001088
47047  2004-09-23 13:08:37 2004-09-23 13:08:47      4,43      0.014444
47048  2004-09-23 13:08:47 2004-09-23 13:09:05      4,43      0.000000
47254  2004-09-23 13:25:17 2004-09-23 13:30:31      4,43      0.011250
...                    ...                 ...       ...           ...
547157 2004-12-03 11:37:27 2004-12-03 11:38:00      4,43      0.001620
547709 2004-12-03 11:59:18 2004-12-03 11:59:34      4,43      0.014792
547863 2004-12-03 12:04:52 2004-12-03 12:05:09      4,43      0.003681
548121 2004-12-03 12:19:26 2004-12-03 12:19:33      4,43      0.009919
552126 2004-12-04 10:01:56 2004-12-04 10:02:09      4,43      0.904433

[557 rows x 4 columns]
4,44
                     start                 end id_colums  intercontact
44648  2004-09-23 10:55:17 2004-09-23 10:55:36      4,44           NaN
46270  2004-09-23 12:26:23 2004-09-23 12:28:20      4,44      0.063044
46425  2004-09-23 12:34:55 2004-09-23 12:35:09      4,44      0.004572
46460  2004-09-23 12:36:55 2004-09-23 12:38:47      4,44      0.001227
46623  2004-09-23 12:45:09 2004-09-23 12:45:17      4,44      0.004421
...                    ...                 ...       ...           ...
691906 2005-01-26 15:42:40 2005-01-26 15:42:59      4,44      0.020949
691972 2005-01-26 17:01:02 2005-01-26 17:02:17      4,44      0.054201
691992 2005-01-26 17:30:52 2005-01-26 17:31:52      4,44      0.019850
691995 2005-01-26 17:33:52 2005-01-26 17:34:20      4,44      0.001389
691999 2005-01-26 17:37:36 2005-01-26 17:37:58      4,44      0.002269

[503 rows x 4 columns]
4,45
                     start                 end id_colums  intercontact
24619  2004-09-16 08:35:37 2004-09-16 08:35:42      4,45           NaN
24636  2004-09-16 08:39:25 2004-09-16 08:39:29      4,45      0.002581
25172  2004-09-16 10:55:40 2004-09-16 10:55:42      4,45      0.094572
25913  2004-09-16 12:43:27 2004-09-16 12:43:45      4,45      0.074826
26166  2004-09-16 13:42:22 2004-09-16 13:42:43      4,45      0.040706
...                    ...                 ...       ...           ...
670280 2005-01-14 09:42:32 2005-01-14 09:48:58      4,45      0.001435
670407 2005-01-14 10:24:19 2005-01-14 10:24:37      4,45      0.024549
670429 2005-01-14 10:27:17 2005-01-14 10:28:09      4,45      0.001852
670811 2005-01-14 12:18:49 2005-01-14 12:20:21      4,45      0.076852
671174 2005-01-14 13:28:02 2005-01-14 13:31:25      4,45      0.047002

[303 rows x 4 columns]
4,46
                     start                 end id_colums  intercontact
309117 2004-11-04 07:53:41 2004-11-04 07:53:43      4,46           NaN
309413 2004-11-04 08:13:28 2004-11-04 08:13:30      4,46      0.013715
309679 2004-11-04 08:36:09 2004-11-04 08:36:25      4,46      0.015729
309715 2004-11-04 08:40:48 2004-11-04 08:41:34      4,46      0.003044
309724 2004-11-04 08:42:43 2004-11-04 08:42:45      4,46      0.000799
...                    ...                 ...       ...           ...
774861 2005-04-13 07:33:35 2005-04-13 07:33:39      4,46      0.702303
776051 2005-04-14 09:01:15 2005-04-14 09:01:41      4,46      1.060833
776052 2005-04-14 09:02:04 2005-04-14 09:07:23      4,46      0.000266
776053 2005-04-14 09:14:37 2005-04-14 09:15:04      4,46      0.005023
776074 2005-04-14 09:30:10 2005-04-14 09:30:32      4,46      0.010486

[680 rows x 4 columns]
4,5
                     start                 end id_colums  intercontact
3      2004-07-20 08:00:44 2004-07-20 08:00:55       4,5           NaN
4      2004-07-20 08:01:10 2004-07-20 08:02:48       4,5      0.000174
15     2004-07-20 11:22:01 2004-07-20 11:22:17       4,5      0.138345
22     2004-07-20 12:34:26 2004-07-20 12:34:48       4,5      0.050104
25     2004-07-20 12:37:47 2004-07-20 12:38:07       4,5      0.002072
...                    ...                 ...       ...           ...
757660 2005-03-22 13:01:36 2005-03-22 13:02:05       4,5      0.000810
757686 2005-03-22 13:05:49 2005-03-22 13:07:22       4,5      0.002593
757693 2005-03-22 13:07:36 2005-03-22 13:09:19       4,5      0.000162
761677 2005-03-28 09:15:31 2005-03-28 09:15:46       4,5      5.837639
761696 2005-03-28 09:25:09 2005-03-28 09:25:35       4,5      0.006516

[908 rows x 4 columns]
4,53
                     start                 end id_colums  intercontact
309122 2004-11-04 07:53:41 2004-11-04 07:53:43      4,53           NaN
310884 2004-11-04 10:07:59 2004-11-04 10:08:09      4,53      0.093241
311284 2004-11-04 10:36:56 2004-11-04 10:37:21      4,53      0.019988
311292 2004-11-04 10:37:41 2004-11-04 10:38:46      4,53      0.000231
311530 2004-11-04 10:50:14 2004-11-04 10:50:42      4,53      0.007963
...                    ...                 ...       ...           ...
667906 2005-01-13 12:01:34 2005-01-13 12:02:05      4,53      1.729606
667964 2005-01-13 12:06:00 2005-01-13 12:06:12      4,53      0.002720
668015 2005-01-13 12:11:18 2005-01-13 12:11:42      4,53      0.003542
668024 2005-01-13 12:12:43 2005-01-13 12:16:18      4,53      0.000706
668469 2005-01-13 15:47:22 2005-01-13 15:49:05      4,53      0.146574

[297 rows x 4 columns]
4,54
                     start                 end id_colums  intercontact
33020  2004-09-20 10:30:59 2004-09-20 10:31:10      4,54           NaN
33026  2004-09-20 10:31:14 2004-09-20 10:34:35      4,54      0.000046
33778  2004-09-20 11:40:52 2004-09-20 11:40:54      4,54      0.046030
33794  2004-09-20 11:42:00 2004-09-20 11:46:15      4,54      0.000764
33842  2004-09-20 11:49:31 2004-09-20 11:49:40      4,54      0.002269
...                    ...                 ...       ...           ...
648871 2004-12-27 11:01:10 2004-12-27 11:06:36      4,54      0.000104
648883 2004-12-27 11:10:20 2004-12-27 11:10:43      4,54      0.002593
648886 2004-12-27 11:14:10 2004-12-27 11:16:07      4,54      0.002396
648888 2004-12-27 11:24:05 2004-12-27 11:24:23      4,54      0.005532
648889 2004-12-27 11:27:12 2004-12-27 11:27:32      4,54      0.001956

[914 rows x 4 columns]
4,55
                     start                 end id_colums  intercontact
44690  2004-09-23 10:57:51 2004-09-23 10:58:02      4,55           NaN
44831  2004-09-23 11:01:58 2004-09-23 11:02:30      4,55      0.002731
44850  2004-09-23 11:02:42 2004-09-23 11:02:48      4,55      0.000139
44889  2004-09-23 11:04:02 2004-09-23 11:04:33      4,55      0.000856
44924  2004-09-23 11:05:41 2004-09-23 11:06:34      4,55      0.000787
...                    ...                 ...       ...           ...
743824 2005-03-12 14:41:37 2005-03-12 14:43:14      4,55      0.048866
743831 2005-03-12 14:58:17 2005-03-12 15:02:33      4,55      0.010451
743880 2005-03-12 15:51:10 2005-03-12 15:55:14      4,55      0.033762
743909 2005-03-12 16:05:53 2005-03-12 16:06:12      4,55      0.007396
762012 2005-03-28 10:53:27 2005-03-28 10:53:47      4,55     15.782813

[735 rows x 4 columns]
4,56
                     start                 end id_colums  intercontact
24670  2004-09-16 08:51:16 2004-09-16 08:51:35      4,56           NaN
24684  2004-09-16 08:51:36 2004-09-16 08:53:30      4,56      0.000012
26458  2004-09-16 15:21:19 2004-09-16 15:23:22      4,56      0.269317
26524  2004-09-16 16:14:12 2004-09-16 16:14:26      4,56      0.035301
26530  2004-09-16 16:15:31 2004-09-16 16:19:27      4,56      0.000752
...                    ...                 ...       ...           ...
269629 2004-10-31 10:45:18 2004-10-31 10:45:52      4,56      0.000347
269637 2004-10-31 10:46:52 2004-10-31 10:46:53      4,56      0.000694
269638 2004-10-31 10:46:53 2004-10-31 10:47:03      4,56      0.000000
269760 2004-10-31 11:09:33 2004-10-31 11:09:47      4,56      0.015625
269765 2004-10-31 11:12:04 2004-10-31 11:12:21      4,56      0.001586

[311 rows x 4 columns]
4,58
                     start                 end id_colums  intercontact
143738 2004-10-12 12:42:17 2004-10-12 12:42:36      4,58           NaN
144374 2004-10-12 13:12:02 2004-10-12 13:12:08      4,58      0.020440
145101 2004-10-12 14:29:13 2004-10-12 14:29:18      4,58      0.053530
148848 2004-10-13 07:11:53 2004-10-13 07:11:54      4,58      0.696238
151755 2004-10-13 09:58:51 2004-10-13 09:59:04      4,58      0.115937
...                    ...                 ...       ...           ...
656192 2005-01-06 14:19:41 2005-01-06 14:20:04      4,58      1.029769
656250 2005-01-06 15:21:05 2005-01-06 15:21:26      4,58      0.042373
656260 2005-01-06 15:33:29 2005-01-06 15:33:56      4,58      0.008368
656313 2005-01-06 16:04:07 2005-01-06 16:04:34      4,58      0.020961
656431 2005-01-06 20:41:14 2005-01-06 20:41:27      4,58      0.192130

[554 rows x 4 columns]
4,59
                     start                 end id_colums  intercontact
554    2004-08-09 13:41:27 2004-08-09 13:41:58      4,59           NaN
1147   2004-08-13 07:29:14 2004-08-13 07:29:16      4,59      3.741157
1148   2004-08-13 07:36:19 2004-08-13 07:36:59      4,59      0.004896
1153   2004-08-13 07:56:56 2004-08-13 07:57:24      4,59      0.013854
210178 2004-10-21 11:38:53 2004-10-21 11:39:28      4,59     69.153808
...                    ...                 ...       ...           ...
728171 2005-03-01 10:31:26 2005-03-01 10:31:38      4,59      0.000231
737467 2005-03-07 10:28:34 2005-03-07 10:28:42      4,59      5.997870
740603 2005-03-09 12:39:13 2005-03-09 12:40:01      4,59      2.090637
742584 2005-03-11 09:56:44 2005-03-11 09:58:32      4,59      1.886609
742630 2005-03-11 10:09:38 2005-03-11 10:10:21      4,59      0.007708

[143 rows x 4 columns]
4,6
                     start                 end id_colums  intercontact
14391  2004-09-10 10:58:22 2004-09-10 10:58:29       4,6           NaN
14650  2004-09-10 12:01:33 2004-09-10 12:01:38       4,6      0.043796
14653  2004-09-10 12:01:43 2004-09-10 12:03:28       4,6      0.000058
14915  2004-09-10 12:36:51 2004-09-10 12:37:12       4,6      0.023183
14975  2004-09-10 12:44:52 2004-09-10 12:45:04       4,6      0.005324
...                    ...                 ...       ...           ...
742061 2005-03-10 14:27:51 2005-03-10 14:28:11       4,6      8.294479
742343 2005-03-11 07:21:27 2005-03-11 07:23:21       4,6      0.703657
743320 2005-03-11 13:37:19 2005-03-11 13:37:42       4,6      0.259699
755509 2005-03-21 09:19:55 2005-03-21 09:20:05       4,6      9.820984
755824 2005-03-21 10:39:41 2005-03-21 10:39:45       4,6      0.055278

[182 rows x 4 columns]
4,60
                     start                 end id_colums  intercontact
24452  2004-09-16 08:03:06 2004-09-16 08:03:25      4,60           NaN
24614  2004-09-16 08:32:47 2004-09-16 08:32:51      4,60      0.020394
24620  2004-09-16 08:35:37 2004-09-16 08:35:49      4,60      0.001921
24628  2004-09-16 08:38:33 2004-09-16 08:38:46      4,60      0.001898
24641  2004-09-16 08:40:33 2004-09-16 08:43:26      4,60      0.001238
...                    ...                 ...       ...           ...
773949 2005-04-12 07:40:55 2005-04-12 07:44:14      4,60      0.028299
773972 2005-04-12 07:57:45 2005-04-12 07:57:47      4,60      0.009387
773997 2005-04-12 08:02:44 2005-04-12 08:03:22      4,60      0.003438
774013 2005-04-12 08:06:14 2005-04-12 08:06:26      4,60      0.001991
774019 2005-04-12 08:16:47 2005-04-12 08:16:48      4,60      0.007188

[578 rows x 4 columns]
4,61
                     start                 end id_colums  intercontact
44823  2004-09-23 11:01:55 2004-09-23 11:01:58      4,61           NaN
45069  2004-09-23 11:13:10 2004-09-23 11:13:21      4,61      0.007778
46135  2004-09-23 12:16:25 2004-09-23 12:16:31      4,61      0.043796
46193  2004-09-23 12:19:45 2004-09-23 12:20:12      4,61      0.002245
48848  2004-09-23 17:29:45 2004-09-23 17:30:04      4,61      0.214965
...                    ...                 ...       ...           ...
566087 2004-12-06 12:05:02 2004-12-06 12:05:17      4,61      0.000069
566142 2004-12-06 12:08:25 2004-12-06 12:08:46      4,61      0.002176
566157 2004-12-06 12:09:50 2004-12-06 12:10:04      4,61      0.000741
566268 2004-12-06 12:17:34 2004-12-06 12:19:25      4,61      0.005208
567379 2004-12-06 13:34:57 2004-12-06 13:35:25      4,61      0.052454

[209 rows x 4 columns]
4,62
                     start                 end id_colums  intercontact
52875  2004-09-24 09:48:49 2004-09-24 09:49:45      4,62           NaN
52933  2004-09-24 09:52:10 2004-09-24 09:52:56      4,62      0.001678
54077  2004-09-24 11:46:52 2004-09-24 11:46:57      4,62      0.079120
54116  2004-09-24 11:53:18 2004-09-24 11:53:20      4,62      0.004410
56075  2004-09-25 06:53:53 2004-09-25 06:54:48      4,62      0.792049
...                    ...                 ...       ...           ...
552624 2004-12-04 11:37:25 2004-12-04 11:37:27      4,62      0.004861
554569 2004-12-05 04:31:49 2004-12-05 04:32:09      4,62      0.704421
558192 2004-12-06 02:01:40 2004-12-06 02:02:30      4,62      0.895498
561265 2004-12-06 07:47:55 2004-12-06 07:48:20      4,62      0.239873
568362 2004-12-06 15:55:50 2004-12-06 15:56:26      4,62      0.338542

[469 rows x 4 columns]
4,66
                     start                 end id_colums  intercontact
44888  2004-09-23 11:03:59 2004-09-23 11:04:33      4,66           NaN
45012  2004-09-23 11:10:42 2004-09-23 11:11:37      4,66      0.004271
45569  2004-09-23 11:40:46 2004-09-23 11:40:47      4,66      0.020243
45574  2004-09-23 11:41:18 2004-09-23 11:43:11      4,66      0.000359
45718  2004-09-23 11:50:56 2004-09-23 11:51:22      4,66      0.005382
...                    ...                 ...       ...           ...
761676 2005-03-28 09:15:22 2005-03-28 09:15:46      4,66     18.130995
761716 2005-03-28 09:31:00 2005-03-28 09:31:14      4,66      0.010579
761779 2005-03-28 09:57:30 2005-03-28 09:57:46      4,66      0.018241
761799 2005-03-28 10:07:10 2005-03-28 10:07:33      4,66      0.006528
761882 2005-03-28 10:20:40 2005-03-28 10:21:47      4,66      0.009109

[740 rows x 4 columns]
4,68
                     start                 end id_colums  intercontact
179917 2004-10-18 08:50:11 2004-10-18 08:50:16      4,68           NaN
182556 2004-10-18 12:39:51 2004-10-18 12:39:58      4,68      0.159433
184100 2004-10-18 14:34:21 2004-10-18 14:34:26      4,68      0.079433
184276 2004-10-18 14:57:13 2004-10-18 14:57:32      4,68      0.015822
184281 2004-10-18 14:58:19 2004-10-18 14:59:02      4,68      0.000544
...                    ...                 ...       ...           ...
738013 2005-03-07 14:47:14 2005-03-07 14:48:57      4,68      2.048553
738026 2005-03-07 14:49:05 2005-03-07 14:49:13      4,68      0.000093
738036 2005-03-07 14:51:10 2005-03-07 14:51:23      4,68      0.001354
741166 2005-03-10 07:40:23 2005-03-10 07:40:26      4,68      2.700694
752380 2005-03-17 15:33:09 2005-03-17 15:33:19      4,68      7.328275

[199 rows x 4 columns]
4,69
                     start                 end id_colums  intercontact
126752 2004-10-07 17:56:07 2004-10-07 17:56:10      4,69           NaN
126773 2004-10-07 18:00:47 2004-10-07 18:00:48      4,69      0.003206
133196 2004-10-09 12:52:14 2004-10-09 12:52:48      4,69      1.785718
140805 2004-10-12 09:48:50 2004-10-12 09:49:40      4,69      2.872245
140834 2004-10-12 09:51:25 2004-10-12 09:51:34      4,69      0.001215
...                    ...                 ...       ...           ...
465809 2004-11-23 11:48:49 2004-11-23 11:48:51      4,69      0.004514

[111 rows x 4 columns]
40,60
                     start                 end id_colums  intercontact
40533  2004-09-22 13:17:11 2004-09-22 13:17:20     40,60           NaN
41454  2004-09-23 04:57:55 2004-09-23 04:58:15     40,60      0.653183
41601  2004-09-23 05:38:04 2004-09-23 05:38:44     40,60      0.027650
41609  2004-09-23 05:39:50 2004-09-23 05:39:52     40,60      0.000764
45384  2004-09-23 11:31:25 2004-09-23 11:31:39     40,60      0.244132
...                    ...                 ...       ...           ...
781937 2005-04-27 11:59:25 2005-04-27 14:04:52     40,60      0.023843
782005 2005-04-27 14:05:07 2005-04-27 14:20:30     40,60      0.000174
782611 2005-04-28 12:00:22 2005-04-28 12:00:40     40,60      0.902685
783898 2005-05-02 07:19:56 2005-05-02 07:20:09     40,60      3.805046
783901 2005-05-02 07:20:13 2005-05-02 07:23:19     40,60      0.000046

[545 rows x 4 columns]
40,61
                     start                 end id_colums  intercontact
43177  2004-09-23 09:35:19 2004-09-23 09:35:38     40,61           NaN
43189  2004-09-23 09:36:18 2004-09-23 09:36:25     40,61      0.000463
43975  2004-09-23 10:15:47 2004-09-23 10:15:49     40,61      0.027338
44613  2004-09-23 10:52:58 2004-09-23 10:53:00     40,61      0.025799
44736  2004-09-23 10:59:36 2004-09-23 10:59:46     40,61      0.004583
...                    ...                 ...       ...           ...
564950 2004-12-06 10:57:52 2004-12-06 10:57:53     40,61      0.102870
566369 2004-12-06 12:22:58 2004-12-06 12:23:12     40,61      0.059086
567756 2004-12-06 14:03:46 2004-12-06 14:04:47     40,61      0.069838
568716 2004-12-06 17:54:06 2004-12-06 17:54:26     40,61      0.159248
568718 2004-12-06 17:56:45 2004-12-06 17:56:57     40,61      0.001609

[179 rows x 4 columns]
40,62
                     start                 end id_colums  intercontact
52871  2004-09-24 09:48:49 2004-09-24 09:49:45     40,62           NaN
53186  2004-09-24 10:07:13 2004-09-24 10:07:30     40,62      0.012130
55739  2004-09-24 17:42:41 2004-09-24 17:43:53     40,62      0.316100
57468  2004-09-26 15:07:00 2004-09-26 15:07:48     40,62      1.891053
57516  2004-09-26 15:43:12 2004-09-26 15:43:35     40,62      0.024583
...                    ...                 ...       ...           ...
559354 2004-12-06 05:52:34 2004-12-06 05:52:50     40,62      0.001400
559595 2004-12-06 06:06:18 2004-12-06 06:06:39     40,62      0.009352
560319 2004-12-06 06:48:23 2004-12-06 06:49:21     40,62      0.028981
561437 2004-12-06 07:53:07 2004-12-06 07:53:09     40,62      0.044282
561459 2004-12-06 07:54:42 2004-12-06 07:55:06     40,62      0.001076

[505 rows x 4 columns]
40,66
                     start                 end id_colums  intercontact
43051  2004-09-23 09:17:54 2004-09-23 09:18:36     40,66           NaN
43307  2004-09-23 09:48:31 2004-09-23 09:51:58     40,66      0.020775
44732  2004-09-23 10:59:01 2004-09-23 10:59:10     40,66      0.046562
44777  2004-09-23 11:00:31 2004-09-23 11:00:46     40,66      0.000937
44912  2004-09-23 11:05:09 2004-09-23 11:06:25     40,66      0.003044
...                    ...                 ...       ...           ...
784812 2005-05-03 12:42:21 2005-05-03 12:42:33     40,66      0.003738
784818 2005-05-03 12:42:38 2005-05-03 12:42:51     40,66      0.000058
784820 2005-05-03 12:45:08 2005-05-03 12:45:55     40,66      0.001586
784840 2005-05-03 12:57:47 2005-05-03 12:59:14     40,66      0.008241
784844 2005-05-03 12:59:34 2005-05-03 13:00:16     40,66      0.000231

[883 rows x 4 columns]
40,68
                     start                 end id_colums  intercontact
177600 2004-10-18 06:33:58 2004-10-18 06:34:00     40,68           NaN
195076 2004-10-19 13:10:15 2004-10-19 13:10:21     40,68      1.275174
199602 2004-10-20 07:26:08 2004-10-20 07:27:06     40,68      0.760961
199680 2004-10-20 07:35:58 2004-10-20 07:36:30     40,68      0.006157
199719 2004-10-20 07:38:28 2004-10-20 07:39:23     40,68      0.001366
...                    ...                 ...       ...           ...
767497 2005-03-31 05:02:51 2005-03-31 05:04:13     40,68      0.019630
768433 2005-03-31 16:03:05 2005-03-31 16:03:22     40,68      0.457546
768442 2005-03-31 16:55:35 2005-03-31 16:55:46     40,68      0.036262
768443 2005-03-31 16:59:13 2005-03-31 16:59:59     40,68      0.002396
768447 2005-03-31 17:11:30 2005-03-31 17:11:59     40,68      0.007998

[264 rows x 4 columns]
40,69
                     start                 end id_colums  intercontact
125898 2004-10-07 14:48:24 2004-10-07 14:49:18     40,69           NaN
126571 2004-10-07 16:46:41 2004-10-07 16:46:46     40,69      0.081516
126577 2004-10-07 16:47:52 2004-10-07 16:48:17     40,69      0.000764
137590 2004-10-12 03:28:23 2004-10-12 03:28:34     40,69      4.444514
137604 2004-10-12 03:32:59 2004-10-12 03:33:01     40,69      0.003067
...                    ...                 ...       ...           ...
374440 2004-11-15 08:28:51 2004-11-15 08:29:01     40,69      0.001516
374514 2004-11-15 08:30:55 2004-11-15 08:31:17     40,69      0.001319
382757 2004-11-15 15:12:05 2004-11-15 15:12:13     40,69      0.278333
398524 2004-11-16 16:16:02 2004-11-16 16:16:35     40,69      1.044317
409538 2004-11-17 13:11:07 2004-11-17 13:11:09     40,69      0.871204

[196 rows x 4 columns]
40,70
                     start                 end id_colums  intercontact
659626 2005-01-10 08:55:25 2005-01-10 08:55:30     40,70           NaN
660878 2005-01-11 03:50:06 2005-01-11 03:51:00     40,70      0.787917
661648 2005-01-11 08:11:41 2005-01-11 08:12:01     40,70      0.181030
661681 2005-01-11 08:16:19 2005-01-11 08:16:21     40,70      0.002986
661756 2005-01-11 08:37:16 2005-01-11 08:37:23     40,70      0.014525
...                    ...                 ...       ...           ...
732894 2005-03-03 09:13:16 2005-03-03 09:14:31     40,70      0.013646
732930 2005-03-03 09:16:28 2005-03-03 09:19:45     40,70      0.001354
733138 2005-03-03 10:04:49 2005-03-03 10:04:58     40,70      0.031296
733181 2005-03-03 10:07:00 2005-03-03 10:07:10     40,70      0.001412
733540 2005-03-03 10:55:38 2005-03-03 10:56:42     40,70      0.033657

[115 rows x 4 columns]
40,71
                     start                 end id_colums  intercontact
109569 2004-10-06 05:28:32 2004-10-06 05:28:41     40,71           NaN
109736 2004-10-06 05:55:52 2004-10-06 05:56:04     40,71      0.018877
109929 2004-10-06 06:27:21 2004-10-06 06:27:39     40,71      0.021725
110057 2004-10-06 06:41:30 2004-10-06 06:41:48     40,71      0.009618
110071 2004-10-06 06:42:34 2004-10-06 06:43:26     40,71      0.000532
...                    ...                 ...       ...           ...
772961 2005-04-08 11:11:20 2005-04-08 11:11:42     40,71      0.002350
772963 2005-04-08 11:12:24 2005-04-08 11:12:33     40,71      0.000486
772964 2005-04-08 11:12:56 2005-04-08 11:13:20     40,71      0.000266
772965 2005-04-08 11:13:59 2005-04-08 11:15:54     40,71      0.000451
773104 2005-04-09 12:49:49 2005-04-09 12:50:12     40,71      1.065220

[904 rows x 4 columns]
40,72
                     start                 end id_colums  intercontact
369248 2004-11-15 04:46:06 2004-11-15 04:47:02     40,72           NaN
369792 2004-11-15 05:18:12 2004-11-15 05:18:13     40,72      0.021644
374143 2004-11-15 08:19:59 2004-11-15 08:20:37     40,72      0.126227
374365 2004-11-15 08:26:32 2004-11-15 08:26:50     40,72      0.004109
374452 2004-11-15 08:29:10 2004-11-15 08:29:28     40,72      0.001620
...                    ...                 ...       ...           ...
667042 2005-01-13 09:36:24 2005-01-13 09:36:46     40,72      0.008773
667154 2005-01-13 09:52:49 2005-01-13 09:53:14     40,72      0.011146
667257 2005-01-13 10:11:55 2005-01-13 10:12:03     40,72      0.012975
667295 2005-01-13 10:17:21 2005-01-13 10:17:58     40,72      0.003681
667303 2005-01-13 10:18:51 2005-01-13 10:19:21     40,72      0.000613

[183 rows x 4 columns]
40,75
                     start                 end id_colums  intercontact
118848 2004-10-07 07:29:20 2004-10-07 07:29:26     40,75           NaN
119537 2004-10-07 08:03:42 2004-10-07 08:03:44     40,75      0.023796
119553 2004-10-07 08:04:03 2004-10-07 08:04:30     40,75      0.000220
120649 2004-10-07 09:06:05 2004-10-07 09:06:15     40,75      0.042766
121404 2004-10-07 09:40:09 2004-10-07 09:41:48     40,75      0.023542
...                    ...                 ...       ...           ...
672332 2005-01-15 09:59:08 2005-01-15 09:59:49     40,75      0.531458
673237 2005-01-16 16:55:48 2005-01-16 16:57:58     40,75      1.288877
673689 2005-01-17 08:19:50 2005-01-17 08:20:59     40,75      0.640185
677195 2005-01-18 14:56:51 2005-01-18 14:57:10     40,75      1.274907
685763 2005-01-24 06:14:52 2005-01-24 06:16:22     40,75      5.637292

[80 rows x 4 columns]
40,76
                     start                 end id_colums  intercontact
177602 2004-10-18 06:33:58 2004-10-18 06:34:00     40,76           NaN
198294 2004-10-20 02:52:09 2004-10-20 02:53:15     40,76      1.845938
218814 2004-10-23 08:17:11 2004-10-23 08:18:36     40,76      3.224954
218865 2004-10-23 09:18:24 2004-10-23 09:18:26     40,76      0.041528
218870 2004-10-23 09:22:05 2004-10-23 09:22:25     40,76      0.002535
...                    ...                 ...       ...           ...
637152 2004-12-16 08:55:38 2004-12-16 08:56:00     40,76      0.803218
637167 2004-12-16 08:57:19 2004-12-16 08:57:43     40,76      0.000914
637968 2004-12-16 10:41:42 2004-12-16 10:41:48     40,76      0.072211
639166 2004-12-16 13:20:05 2004-12-16 13:25:45     40,76      0.109919
639575 2004-12-16 14:09:21 2004-12-16 14:09:39     40,76      0.030278

[243 rows x 4 columns]
40,78
                    start                 end id_colums  intercontact
42088 2004-09-23 07:08:14 2004-09-23 07:08:31     40,78           NaN
40,79
                     start                 end id_colums  intercontact
154039 2004-10-13 13:17:22 2004-10-13 13:17:26     40,79           NaN
159004 2004-10-14 09:44:20 2004-10-14 09:44:22     40,79      0.852014
162813 2004-10-14 13:42:43 2004-10-14 13:42:45     40,79      0.165521
165285 2004-10-15 04:13:40 2004-10-15 04:13:55     40,79      0.604803
168843 2004-10-15 10:10:37 2004-10-15 10:10:42     40,79      0.247708
...                    ...                 ...       ...           ...
776753 2005-04-15 12:37:00 2005-04-15 12:37:34     40,79      1.969502
776770 2005-04-15 12:46:27 2005-04-15 12:46:47     40,79      0.006169
776773 2005-04-15 12:47:15 2005-04-15 12:47:30     40,79      0.000324
777740 2005-04-18 10:05:59 2005-04-18 10:08:38     40,79      2.887836
777771 2005-04-18 10:25:01 2005-04-18 10:25:37     40,79      0.011377

[326 rows x 4 columns]
40,80
                     start                 end id_colums  intercontact
111259 2004-10-06 08:33:51 2004-10-06 08:34:02     40,80           NaN
111384 2004-10-06 08:43:36 2004-10-06 08:43:50     40,80      0.006644
111539 2004-10-06 08:52:29 2004-10-06 08:52:47     40,80      0.006007
111947 2004-10-06 09:35:24 2004-10-06 09:36:06     40,80      0.029595
113599 2004-10-06 11:36:14 2004-10-06 11:36:26     40,80      0.083426
114929 2004-10-06 13:08:21 2004-10-06 13:08:22     40,80      0.063831
115188 2004-10-06 13:37:25 2004-10-06 13:38:43     40,80      0.020174
115504 2004-10-06 14:01:23 2004-10-06 14:01:24     40,80      0.015741
117708 2004-10-07 05:35:16 2004-10-07 05:35:48     40,80      0.648519
117742 2004-10-07 05:36:24 2004-10-07 05:36:43     40,80      0.000417
117823 2004-10-07 05:46:13 2004-10-07 05:47:13     40,80      0.006597
118239 2004-10-07 06:47:42 2004-10-07 06:49:22     40,80      0.042002
118810 2004-10-07 07:26:26 2004-10-07 07:28:13     40,80      0.025741
120579 2004-10-07 09:02:07 2004-10-07 09:03:51     40,80      0.065208
120600 2004-10-07 09:03:51 2004-10-07 09:03:52     40,80      0.000000
120855 2004-10-07 09:19:31 2004-10-07 09:29:41     40,80      0.010868
122508 2004-10-07 10:51:10 2004-10-07 10:51:36     40,80      0.056586
123294 2004-10-07 11:30:51 2004-10-07 11:31:10     40,80      0.027257
124430 2004-10-07 12:33:52 2004-10-07 12:34:34     40,80      0.043542
124462 2004-10-07 12:36:03 2004-10-07 12:36:51     40,80      0.001030
125836 2004-10-07 14:41:34 2004-10-07 14:42:11     40,80      0.086609
126950 2004-10-07 19:42:18 2004-10-07 19:42:31     40,80      0.208414
127983 2004-10-08 06:08:57 2004-10-08 06:09:13     40,80      0.435023
128009 2004-10-08 06:09:57 2004-10-08 06:10:16     40,80      0.000509
128406 2004-10-08 06:50:24 2004-10-08 06:50:38     40,80      0.027870
129149 2004-10-08 07:48:52 2004-10-08 07:48:59     40,80      0.040440
129518 2004-10-08 08:09:45 2004-10-08 08:09:50     40,80      0.014421
129546 2004-10-08 08:12:04 2004-10-08 08:12:35     40,80      0.001551
129597 2004-10-08 08:17:56 2004-10-08 08:18:11     40,80      0.003715
129753 2004-10-08 08:37:23 2004-10-08 08:37:38     40,80      0.013333
129814 2004-10-08 08:50:53 2004-10-08 08:50:56     40,80      0.009201
129840 2004-10-08 08:57:03 2004-10-08 08:59:28     40,80      0.004248
129892 2004-10-08 09:04:38 2004-10-08 09:13:43     40,80      0.003588
131795 2004-10-08 13:40:11 2004-10-08 13:40:26     40,80      0.185046
131858 2004-10-08 13:50:45 2004-10-08 13:52:18     40,80      0.007164
131944 2004-10-08 14:24:39 2004-10-08 14:25:05     40,80      0.022465
131948 2004-10-08 14:26:05 2004-10-08 14:26:35     40,80      0.000694
132013 2004-10-08 15:21:24 2004-10-08 15:21:50     40,80      0.038067
132014 2004-10-08 15:22:06 2004-10-08 15:22:24     40,80      0.000185
279634 2004-11-01 12:50:18 2004-11-01 12:50:43     40,80     23.894375
279664 2004-11-01 12:50:53 2004-11-01 12:50:54     40,80      0.000116
279787 2004-11-01 12:56:27 2004-11-01 12:56:55     40,80      0.003854
279821 2004-11-01 12:58:12 2004-11-01 12:58:14     40,80      0.000891
279926 2004-11-01 13:01:16 2004-11-01 13:01:45     40,80      0.002106
280045 2004-11-01 13:05:26 2004-11-01 13:06:15     40,80      0.002558
280184 2004-11-01 13:13:01 2004-11-01 13:13:03     40,80      0.004699
280452 2004-11-01 13:31:02 2004-11-01 13:35:48     40,80      0.012488
40,81
                     start                 end id_colums  intercontact
317492 2004-11-04 20:13:50 2004-11-04 20:14:41     40,81           NaN
317606 2004-11-04 23:19:56 2004-11-04 23:20:27     40,81      0.128646
317644 2004-11-05 00:50:04 2004-11-05 00:50:09     40,81      0.062234
317645 2004-11-05 00:50:27 2004-11-05 00:50:40     40,81      0.000208
317646 2004-11-05 00:55:34 2004-11-05 00:55:47     40,81      0.003403
...                    ...                 ...       ...           ...
692777 2005-01-27 06:43:39 2005-01-27 06:43:48     40,81      0.006146
692817 2005-01-27 06:55:03 2005-01-27 06:55:10     40,81      0.007812
692895 2005-01-27 07:07:03 2005-01-27 07:09:28     40,81      0.008252
693171 2005-01-27 07:39:13 2005-01-27 07:41:01     40,81      0.020660
693317 2005-01-27 08:00:14 2005-01-27 08:02:09     40,81      0.013345

[359 rows x 4 columns]
40,82
                     start                 end id_colums  intercontact
44012  2004-09-23 10:18:58 2004-09-23 10:19:16     40,82           NaN
44393  2004-09-23 10:37:28 2004-09-23 10:37:48     40,82      0.012639
44443  2004-09-23 10:41:26 2004-09-23 10:41:47     40,82      0.002523
44567  2004-09-23 10:47:42 2004-09-23 10:47:56     40,82      0.004109
44584  2004-09-23 10:49:14 2004-09-23 10:49:26     40,82      0.000903
...                    ...                 ...       ...           ...
560054 2004-12-06 06:29:09 2004-12-06 06:29:20     40,82      0.004178
560062 2004-12-06 06:29:25 2004-12-06 06:29:45     40,82      0.000058
560151 2004-12-06 06:38:53 2004-12-06 06:39:01     40,82      0.006343
565225 2004-12-06 11:13:36 2004-12-06 11:13:38     40,82      0.190683
567322 2004-12-06 13:30:21 2004-12-06 13:30:53     40,82      0.094942

[596 rows x 4 columns]
40,83
                     start                 end id_colums  intercontact
43913  2004-09-23 10:13:04 2004-09-23 10:14:06     40,83           NaN
44389  2004-09-23 10:37:16 2004-09-23 10:38:29     40,83      0.016088
44411  2004-09-23 10:39:27 2004-09-23 10:39:46     40,83      0.000671
44489  2004-09-23 10:43:33 2004-09-23 10:43:50     40,83      0.002627
44498  2004-09-23 10:43:56 2004-09-23 10:44:11     40,83      0.000069
44507  2004-09-23 10:44:18 2004-09-23 10:44:36     40,83      0.000081
44537  2004-09-23 10:46:20 2004-09-23 10:46:44     40,83      0.001204
44550  2004-09-23 10:47:02 2004-09-23 10:47:42     40,83      0.000208
44583  2004-09-23 10:49:14 2004-09-23 10:49:17     40,83      0.001065
44585  2004-09-23 10:49:33 2004-09-23 10:49:53     40,83      0.000185
44631  2004-09-23 10:54:41 2004-09-23 10:54:53     40,83      0.003333
44651  2004-09-23 10:55:50 2004-09-23 10:56:45     40,83      0.000660
44808  2004-09-23 11:01:40 2004-09-23 11:02:28     40,83      0.003414
44987  2004-09-23 11:09:28 2004-09-23 11:09:47     40,83      0.004861
45317  2004-09-23 11:28:20 2004-09-23 11:28:37     40,83      0.012882
47741  2004-09-23 14:14:17 2004-09-23 14:14:51     40,83      0.115046
48017  2004-09-23 15:16:25 2004-09-23 15:17:56     40,83      0.042755
48165  2004-09-23 15:41:49 2004-09-23 15:41:58     40,83      0.016586
49588  2004-09-24 04:48:00 2004-09-24 04:49:08     40,83      0.545856
49664  2004-09-24 04:58:25 2004-09-24 04:59:08     40,83      0.006447
49673  2004-09-24 05:02:07 2004-09-24 05:02:09     40,83      0.002072
49964  2004-09-24 05:51:40 2004-09-24 05:51:56     40,83      0.034387
50057  2004-09-24 05:58:24 2004-09-24 05:58:43     40,83      0.004491
50106  2004-09-24 06:02:06 2004-09-24 06:02:57     40,83      0.002350
50115  2004-09-24 06:03:29 2004-09-24 06:03:48     40,83      0.000370
50961  2004-09-24 07:26:17 2004-09-24 07:26:34     40,83      0.057280
51080  2004-09-24 07:35:03 2004-09-24 07:38:07     40,83      0.005891
51805  2004-09-24 08:09:43 2004-09-24 08:09:48     40,83      0.021944
53181  2004-09-24 10:07:13 2004-09-24 10:07:30     40,83      0.081539
53232  2004-09-24 10:09:30 2004-09-24 10:09:50     40,83      0.001389
66212  2004-09-28 05:49:59 2004-09-28 05:50:14     40,83      3.819549
66271  2004-09-28 05:56:06 2004-09-28 05:56:47     40,83      0.004074
68838  2004-09-28 09:12:11 2004-09-28 09:13:51     40,83      0.135694
69227  2004-09-28 09:32:44 2004-09-28 09:32:55     40,83      0.013113
69298  2004-09-28 09:34:44 2004-09-28 09:36:45     40,83      0.001262
69386  2004-09-28 09:40:11 2004-09-28 09:41:23     40,83      0.002384
69480  2004-09-28 09:46:40 2004-09-28 09:47:19     40,83      0.003669
69575  2004-09-28 09:52:10 2004-09-28 09:52:53     40,83      0.003368
69645  2004-09-28 09:53:31 2004-09-28 09:54:39     40,83      0.000440
69682  2004-09-28 09:55:05 2004-09-28 09:55:09     40,83      0.000301
69714  2004-09-28 09:55:33 2004-09-28 09:55:51     40,83      0.000278
69753  2004-09-28 09:56:45 2004-09-28 09:57:42     40,83      0.000625
69859  2004-09-28 10:01:24 2004-09-28 10:01:46     40,83      0.002569
69904  2004-09-28 10:03:30 2004-09-28 10:03:44     40,83      0.001204
69915  2004-09-28 10:03:47 2004-09-28 10:04:01     40,83      0.000035
69921  2004-09-28 10:04:04 2004-09-28 10:04:20     40,83      0.000035
70098  2004-09-28 10:21:01 2004-09-28 10:21:44     40,83      0.011586
70127  2004-09-28 10:22:05 2004-09-28 10:28:24     40,83      0.000243
71007  2004-09-28 11:19:08 2004-09-28 11:19:12     40,83      0.035231
71024  2004-09-28 11:19:52 2004-09-28 11:24:50     40,83      0.000463
72314  2004-09-28 12:41:17 2004-09-28 12:41:48     40,83      0.053090
90298  2004-10-02 07:29:07 2004-10-02 07:32:13     40,83      3.782859
279505 2004-11-01 12:45:16 2004-11-01 12:46:35     40,83     30.217396
279845 2004-11-01 12:58:52 2004-11-01 12:59:48     40,83      0.008530
280210 2004-11-01 13:14:20 2004-11-01 13:15:45     40,83      0.010093
359742 2004-11-12 06:40:49 2004-11-12 06:40:50     40,83     10.725741

[129 rows x 4 columns]
42,75
                     start                 end id_colums  intercontact
117907 2004-10-07 05:58:20 2004-10-07 05:58:28     42,75           NaN
117920 2004-10-07 05:59:44 2004-10-07 06:00:44     42,75      0.000880
118865 2004-10-07 07:30:04 2004-10-07 07:30:52     42,75      0.062037
118927 2004-10-07 07:33:15 2004-10-07 07:33:22     42,75      0.001655
119229 2004-10-07 07:55:53 2004-10-07 07:56:09     42,75      0.015637
...                    ...                 ...       ...           ...
383518 2004-11-15 17:17:50 2004-11-15 17:31:47     42,75      0.006782
383703 2004-11-15 17:54:11 2004-11-15 17:54:13     42,75      0.015556
383948 2004-11-15 19:45:37 2004-11-15 20:23:27     42,75      0.077361
384072 2004-11-15 22:22:37 2004-11-15 22:26:59     42,75      0.082755
522839 2004-12-01 15:29:23 2004-12-01 15:34:33     42,75     15.710000

[133 rows x 4 columns]
42,76
                     start                 end id_colums  intercontact
176542 2004-10-18 02:30:43 2004-10-18 02:31:19     42,76           NaN
176562 2004-10-18 03:02:55 2004-10-18 03:03:27     42,76      0.021944
176846 2004-10-18 04:42:25 2004-10-18 04:43:45     42,76      0.068727
177404 2004-10-18 06:18:10 2004-10-18 06:19:00     42,76      0.065567
177584 2004-10-18 06:33:31 2004-10-18 06:33:45     42,76      0.010081
...                    ...                 ...       ...           ...
538255 2004-12-02 15:36:55 2004-12-02 15:38:02     42,76      0.051655
553150 2004-12-04 13:58:05 2004-12-04 13:58:07     42,76      1.930590
553261 2004-12-04 14:31:06 2004-12-04 14:35:59     42,76      0.022905
553543 2004-12-04 16:13:16 2004-12-04 16:13:31     42,76      0.067558
553765 2004-12-04 17:36:11 2004-12-04 17:36:34     42,76      0.057407

[226 rows x 4 columns]
42,79
                     start                 end id_colums  intercontact
155427 2004-10-14 05:06:55 2004-10-14 05:06:57     42,79           NaN
155492 2004-10-14 05:13:58 2004-10-14 05:14:02     42,79      0.004873
158128 2004-10-14 08:43:44 2004-10-14 08:43:45     42,79      0.145625
159007 2004-10-14 09:44:20 2004-10-14 09:44:22     42,79      0.042072
159543 2004-10-14 10:38:57 2004-10-14 10:38:58     42,79      0.037905
161820 2004-10-14 12:45:23 2004-10-14 12:45:27     42,79      0.087789
162298 2004-10-14 13:12:57 2004-10-14 13:13:19     42,79      0.019097
162803 2004-10-14 13:42:43 2004-10-14 13:42:45     42,79      0.020417
173966 2004-10-17 08:04:14 2004-10-17 08:05:06     42,79      2.764919
178102 2004-10-18 07:17:12 2004-10-18 07:17:52     42,79      0.966736
178156 2004-10-18 07:19:28 2004-10-18 07:19:39     42,79      0.001111
178293 2004-10-18 07:26:52 2004-10-18 07:27:27     42,79      0.005012
178347 2004-10-18 07:28:31 2004-10-18 07:28:39     42,79      0.000741
180083 2004-10-18 09:01:19 2004-10-18 09:01:24     42,79      0.064352
180627 2004-10-18 09:47:17 2004-10-18 09:50:04     42,79      0.031863
180954 2004-10-18 10:14:47 2004-10-18 10:14:52     42,79      0.017164
181233 2004-10-18 10:51:32 2004-10-18 10:51:34     42,79      0.025463
181742 2004-10-18 11:27:03 2004-10-18 11:27:05     42,79      0.024641
183575 2004-10-18 13:33:49 2004-10-18 13:33:54     42,79      0.088009
185780 2004-10-19 03:07:33 2004-10-19 03:07:52     42,79      0.565035
186250 2004-10-19 04:49:15 2004-10-19 04:49:48     42,79      0.070405
190700 2004-10-19 09:15:25 2004-10-19 09:15:27     42,79      0.184456
190967 2004-10-19 09:29:03 2004-10-19 09:29:05     42,79      0.009444
191706 2004-10-19 10:09:33 2004-10-19 10:09:35     42,79      0.028102
192244 2004-10-19 10:36:52 2004-10-19 10:36:54     42,79      0.018947
192315 2004-10-19 10:39:53 2004-10-19 10:40:11     42,79      0.002072
192735 2004-10-19 10:57:06 2004-10-19 10:57:13     42,79      0.011748
193353 2004-10-19 11:24:06 2004-10-19 11:24:07     42,79      0.018669
202243 2004-10-20 11:34:50 2004-10-20 11:34:52     42,79      1.007442
235122 2004-10-26 07:36:52 2004-10-26 07:37:11     42,79      5.834722
246913 2004-10-27 10:48:22 2004-10-27 10:49:31     42,79      1.132766
246976 2004-10-27 10:55:09 2004-10-27 10:55:26     42,79      0.003912
247029 2004-10-27 11:01:58 2004-10-27 11:02:26     42,79      0.004537
247319 2004-10-27 11:29:34 2004-10-27 11:31:14     42,79      0.018843
247495 2004-10-27 11:45:57 2004-10-27 11:46:02     42,79      0.010220
248046 2004-10-27 12:18:43 2004-10-27 12:18:45     42,79      0.022697
249156 2004-10-27 13:00:13 2004-10-27 13:00:32     42,79      0.028796
249624 2004-10-27 13:37:20 2004-10-27 13:37:22     42,79      0.025556
273463 2004-11-01 07:09:15 2004-11-01 07:09:17     42,79      4.730475
273537 2004-11-01 07:12:57 2004-11-01 07:12:59     42,79      0.002546
392362 2004-11-16 09:57:06 2004-11-16 09:57:13     42,79     15.113970
394089 2004-11-16 11:16:54 2004-11-16 11:16:59     42,79      0.055336
403673 2004-11-17 09:03:03 2004-11-17 09:03:28     42,79      0.906991
405094 2004-11-17 09:50:35 2004-11-17 09:50:41     42,79      0.032720
405342 2004-11-17 10:03:19 2004-11-17 10:03:20     42,79      0.008773
406095 2004-11-17 10:37:52 2004-11-17 10:38:10     42,79      0.023981
416572 2004-11-18 09:02:12 2004-11-18 09:03:01     42,79      0.933356
416594 2004-11-18 09:03:04 2004-11-18 09:03:29     42,79      0.000035
416620 2004-11-18 09:04:07 2004-11-18 09:04:49     42,79      0.000440
440232 2004-11-22 05:06:45 2004-11-22 05:07:03     42,79      3.834676
442343 2004-11-22 06:48:38 2004-11-22 06:48:39     42,79      0.070544
444575 2004-11-22 08:03:58 2004-11-22 08:05:26     42,79      0.052303
455785 2004-11-23 05:27:23 2004-11-23 05:30:20     42,79      0.890243
455876 2004-11-23 05:35:59 2004-11-23 05:36:27     42,79      0.003924
457986 2004-11-23 07:47:52 2004-11-23 07:47:59     42,79      0.091262
460136 2004-11-23 09:06:10 2004-11-23 09:09:33     42,79      0.054294
462255 2004-11-23 10:14:27 2004-11-23 10:29:59     42,79      0.045069
462846 2004-11-23 10:35:27 2004-11-23 10:35:28     42,79      0.003796
42,80
                     start                 end id_colums  intercontact
111088 2004-10-06 08:22:53 2004-10-06 08:23:52     42,80           NaN
111109 2004-10-06 08:24:52 2004-10-06 08:25:10     42,80      0.000694
111151 2004-10-06 08:26:56 2004-10-06 08:27:12     42,80      0.001227
111231 2004-10-06 08:31:18 2004-10-06 08:31:20     42,80      0.002847
111302 2004-10-06 08:36:26 2004-10-06 08:37:11     42,80      0.003542
...                    ...                 ...       ...           ...
282789 2004-11-02 03:49:52 2004-11-02 03:50:00     42,80      0.006782
282794 2004-11-02 03:50:30 2004-11-02 03:56:25     42,80      0.000347
282844 2004-11-02 04:00:46 2004-11-02 04:01:46     42,80      0.003021
282859 2004-11-02 04:05:58 2004-11-02 04:07:05     42,80      0.002917
282924 2004-11-02 04:25:16 2004-11-02 04:27:35     42,80      0.012627

[266 rows x 4 columns]
42,81
                     start                 end id_colums  intercontact
285959 2004-11-02 07:58:54 2004-11-02 07:59:13     42,81           NaN
285998 2004-11-02 08:02:05 2004-11-02 08:02:28     42,81      0.001991
287132 2004-11-02 09:01:24 2004-11-02 09:01:26     42,81      0.040926
289312 2004-11-02 10:16:09 2004-11-02 10:16:11     42,81      0.051887
291809 2004-11-02 11:54:43 2004-11-02 11:55:05     42,81      0.068426
...                    ...                 ...       ...           ...
536947 2004-12-02 12:52:44 2004-12-02 12:53:52     42,81      0.010069
537034 2004-12-02 12:55:25 2004-12-02 12:55:47     42,81      0.001076
537160 2004-12-02 12:59:04 2004-12-02 12:59:47     42,81      0.002280
537348 2004-12-02 13:12:47 2004-12-02 13:13:28     42,81      0.009028
537469 2004-12-02 13:22:02 2004-12-02 13:22:21     42,81      0.005949

[62 rows x 4 columns]
42,82
                     start                 end id_colums  intercontact
43521  2004-09-23 09:55:58 2004-09-23 09:56:15     42,82           NaN
43534  2004-09-23 09:56:28 2004-09-23 09:57:32     42,82      0.000150
43756  2004-09-23 10:03:00 2004-09-23 10:03:47     42,82      0.003796
44088  2004-09-23 10:22:26 2004-09-23 10:22:44     42,82      0.012951
44357  2004-09-23 10:34:07 2004-09-23 10:37:28     42,82      0.007905
...                    ...                 ...       ...           ...
536624 2004-12-02 12:31:56 2004-12-02 12:32:22     42,82      0.002269
537347 2004-12-02 13:12:47 2004-12-02 13:17:32     42,82      0.028067
537489 2004-12-02 13:22:59 2004-12-02 13:24:18     42,82      0.003785
537860 2004-12-02 14:06:02 2004-12-02 14:07:37     42,82      0.028981
537951 2004-12-02 14:18:58 2004-12-02 14:19:33     42,82      0.007882

[1475 rows x 4 columns]
42,83
                     start                 end id_colums  intercontact
43646  2004-09-23 09:59:44 2004-09-23 10:00:10     42,83           NaN
43812  2004-09-23 10:06:13 2004-09-23 10:06:44     42,83      0.004201
44064  2004-09-23 10:20:29 2004-09-23 10:21:07     42,83      0.009549
44089  2004-09-23 10:22:26 2004-09-23 10:22:32     42,83      0.000914
44154  2004-09-23 10:25:25 2004-09-23 10:26:06     42,83      0.002002
...                    ...                 ...       ...           ...
72976  2004-09-28 13:43:16 2004-09-28 13:44:42     42,83      0.028322
255121 2004-10-28 08:28:15 2004-10-28 08:28:24     42,83     29.780243
275888 2004-11-01 09:48:57 2004-11-01 09:49:30     42,83      4.055937
276190 2004-11-01 10:07:28 2004-11-01 10:07:57     42,83      0.012477
276677 2004-11-01 10:34:32 2004-11-01 10:34:52     42,83      0.018461

[128 rows x 4 columns]
42,85
                     start                 end id_colums  intercontact
251714 2004-10-28 02:53:45 2004-10-28 03:04:45     42,85           NaN
253093 2004-10-28 06:06:10 2004-10-28 06:06:33     42,85      0.125984
253148 2004-10-28 06:10:48 2004-10-28 06:11:07     42,85      0.002951
253214 2004-10-28 06:17:22 2004-10-28 06:17:24     42,85      0.004340
253581 2004-10-28 06:49:18 2004-10-28 06:49:20     42,85      0.022153
...                    ...                 ...       ...           ...
537372 2004-12-02 13:14:23 2004-12-02 13:14:28     42,85      0.065984
537470 2004-12-02 13:22:02 2004-12-02 13:22:21     42,85      0.005255
537914 2004-12-02 14:14:01 2004-12-02 14:18:51     42,85      0.035880
537959 2004-12-02 14:19:33 2004-12-02 14:22:32     42,85      0.000486
552306 2004-12-04 10:36:56 2004-12-04 10:38:59     42,85      1.843333

[280 rows x 4 columns]
42,86
                     start                 end id_colums  intercontact
44562  2004-09-23 10:47:37 2004-09-23 10:48:42     42,86           NaN
44761  2004-09-23 11:00:00 2004-09-23 11:00:25     42,86      0.007847
45180  2004-09-23 11:21:24 2004-09-23 11:21:47     42,86      0.014572
45474  2004-09-23 11:35:06 2004-09-23 11:36:35     42,86      0.009248
45656  2004-09-23 11:46:42 2004-09-23 11:46:56     42,86      0.007025
...                    ...                 ...       ...           ...
522323 2004-12-01 14:16:27 2004-12-01 14:16:29     42,86      0.001481
530016 2004-12-02 08:27:05 2004-12-02 08:27:45     42,86      0.757361
530159 2004-12-02 08:32:37 2004-12-02 08:33:42     42,86      0.003380
530739 2004-12-02 08:52:34 2004-12-02 08:52:54     42,86      0.013102
530953 2004-12-02 08:57:34 2004-12-02 08:57:36     42,86      0.003241

[66 rows x 4 columns]
42,87
                     start                 end id_colums  intercontact
240014 2004-10-26 13:11:19 2004-10-26 13:12:34     42,87           NaN
240157 2004-10-26 13:17:37 2004-10-26 13:17:56     42,87      0.003507
247331 2004-10-27 11:29:51 2004-10-27 11:30:11     42,87      0.924942
247351 2004-10-27 11:33:18 2004-10-27 11:33:40     42,87      0.002164
247418 2004-10-27 11:39:53 2004-10-27 11:40:46     42,87      0.004317
...                    ...                 ...       ...           ...
553115 2004-12-04 13:49:06 2004-12-04 13:50:15     42,87      0.000625
553428 2004-12-04 15:21:59 2004-12-04 15:22:23     42,87      0.063704
553540 2004-12-04 16:13:16 2004-12-04 16:13:31     42,87      0.035336
553577 2004-12-04 16:24:07 2004-12-04 16:24:09     42,87      0.007361
553630 2004-12-04 16:46:02 2004-12-04 16:50:39     42,87      0.015197

[86 rows x 4 columns]
42,88
                     start                 end id_colums  intercontact
43731  2004-09-23 10:01:51 2004-09-23 10:03:43     42,88           NaN
44358  2004-09-23 10:34:07 2004-09-23 10:37:11     42,88      0.021111
44476  2004-09-23 10:42:43 2004-09-23 10:42:48     42,88      0.003843
44480  2004-09-23 10:43:01 2004-09-23 10:43:14     42,88      0.000150
44485  2004-09-23 10:43:25 2004-09-23 10:44:10     42,88      0.000127
...                    ...                 ...       ...           ...
400250 2004-11-17 05:09:13 2004-11-17 05:09:16     42,88      0.473275
400686 2004-11-17 05:43:54 2004-11-17 05:48:54     42,88      0.024051
404750 2004-11-17 09:38:54 2004-11-17 09:39:56     42,88      0.159722
405103 2004-11-17 09:50:35 2004-11-17 09:50:41     42,88      0.007396
406554 2004-11-17 10:55:18 2004-11-17 10:57:57     42,88      0.044873

[535 rows x 4 columns]
43,44
                     start                 end id_colums  intercontact
46611  2004-09-23 12:44:42 2004-09-23 12:45:17     43,44           NaN
46673  2004-09-23 12:47:05 2004-09-23 12:47:27     43,44      0.001250
46690  2004-09-23 12:47:49 2004-09-23 12:48:13     43,44      0.000255
46693  2004-09-23 12:48:18 2004-09-23 12:48:59     43,44      0.000058
46717  2004-09-23 12:51:20 2004-09-23 12:51:42     43,44      0.001632
...                    ...                 ...       ...           ...
554054 2004-12-04 20:57:24 2004-12-04 20:57:49     43,44      0.000463
554111 2004-12-04 21:38:10 2004-12-04 21:38:31     43,44      0.028021
557081 2004-12-05 14:26:20 2004-12-05 14:27:17     43,44      0.699873
557100 2004-12-05 14:29:32 2004-12-05 14:29:38     43,44      0.001563
557101 2004-12-05 14:29:51 2004-12-05 14:29:56     43,44      0.000150

[585 rows x 4 columns]
43,45
                     start                 end id_colums  intercontact
43465  2004-09-23 09:55:02 2004-09-23 09:55:04     43,45           NaN
43515  2004-09-23 09:55:52 2004-09-23 09:56:14     43,45      0.000556
43544  2004-09-23 09:57:15 2004-09-23 09:58:30     43,45      0.000706
43901  2004-09-23 10:13:01 2004-09-23 10:13:17     43,45      0.010081
46606  2004-09-23 12:44:42 2004-09-23 12:47:05     43,45      0.105150
...                    ...                 ...       ...           ...
543080 2004-12-03 08:53:22 2004-12-03 08:54:09     43,45      0.143900
545302 2004-12-03 10:41:33 2004-12-03 10:42:21     43,45      0.074583
547384 2004-12-03 11:43:45 2004-12-03 11:50:42     43,45      0.042639
549953 2004-12-03 14:36:05 2004-12-03 14:36:23     43,45      0.114850
555428 2004-12-05 10:01:00 2004-12-05 10:01:19     43,45      1.808762

[285 rows x 4 columns]
43,46
                     start                 end id_colums  intercontact
301573 2004-11-03 10:57:28 2004-11-03 10:58:38     43,46           NaN
301625 2004-11-03 10:59:18 2004-11-03 10:59:49     43,46      0.000463
301638 2004-11-03 11:00:02 2004-11-03 11:01:02     43,46      0.000150
302465 2004-11-03 11:56:49 2004-11-03 11:56:51     43,46      0.038738
303918 2004-11-03 13:46:36 2004-11-03 13:47:13     43,46      0.076215
...                    ...                 ...       ...           ...
555086 2004-12-05 09:04:25 2004-12-05 09:04:47     43,46      1.944132
559335 2004-12-06 05:51:09 2004-12-06 05:51:28     43,46      0.865532
559510 2004-12-06 06:01:44 2004-12-06 06:01:46     43,46      0.007130
559858 2004-12-06 06:19:55 2004-12-06 06:21:21     43,46      0.012604
560244 2004-12-06 06:46:07 2004-12-06 06:46:19     43,46      0.017199

[419 rows x 4 columns]
43,53
                     start                 end id_colums  intercontact
282995 2004-11-02 04:37:56 2004-11-02 04:38:04     43,53           NaN
283165 2004-11-02 04:55:22 2004-11-02 04:57:01     43,53      0.012014
283202 2004-11-02 04:58:07 2004-11-02 04:58:27     43,53      0.000764
283221 2004-11-02 05:00:26 2004-11-02 05:00:51     43,53      0.001377
283267 2004-11-02 05:02:48 2004-11-02 05:03:04     43,53      0.001354
...                    ...                 ...       ...           ...
559491 2004-12-06 06:01:09 2004-12-06 06:01:46     43,53      2.645463
559585 2004-12-06 06:05:34 2004-12-06 06:06:55     43,53      0.002639
559914 2004-12-06 06:22:33 2004-12-06 06:23:11     43,53      0.010856
560003 2004-12-06 06:26:33 2004-12-06 06:26:50     43,53      0.002338
560016 2004-12-06 06:27:36 2004-12-06 06:28:16     43,53      0.000532

[326 rows x 4 columns]
43,54
                     start                 end id_colums  intercontact
46627  2004-09-23 12:45:17 2004-09-23 12:45:44     43,54           NaN
46676  2004-09-23 12:47:05 2004-09-23 12:47:49     43,54      0.000937
46722  2004-09-23 12:52:30 2004-09-23 12:52:55     43,54      0.003252
46737  2004-09-23 12:54:02 2004-09-23 12:54:14     43,54      0.000775
46742  2004-09-23 12:54:34 2004-09-23 12:55:36     43,54      0.000231
...                    ...                 ...       ...           ...
470151 2004-11-23 16:02:21 2004-11-23 16:02:57     43,54      0.000891
470157 2004-11-23 16:03:00 2004-11-23 16:03:01     43,54      0.000035
470861 2004-11-23 21:20:25 2004-11-23 21:20:46     43,54      0.220417
474535 2004-11-24 11:04:03 2004-11-24 11:04:24     43,54      0.571725
474941 2004-11-24 11:54:38 2004-11-24 11:54:52     43,54      0.034884

[939 rows x 4 columns]
43,55
                     start                 end id_colums  intercontact
43458  2004-09-23 09:54:57 2004-09-23 09:55:17     43,55           NaN
43513  2004-09-23 09:55:52 2004-09-23 09:55:54     43,55      0.000405
43560  2004-09-23 09:57:39 2004-09-23 09:58:30     43,55      0.001215
46674  2004-09-23 12:47:05 2004-09-23 12:47:11     43,55      0.117072
46696  2004-09-23 12:48:20 2004-09-23 12:48:41     43,55      0.000799
...                    ...                 ...       ...           ...
540038 2004-12-03 06:31:47 2004-12-03 06:34:48     43,55      0.001111
540488 2004-12-03 06:58:47 2004-12-03 06:58:59     43,55      0.016655
540789 2004-12-03 07:08:51 2004-12-03 07:09:07     43,55      0.006852
554731 2004-12-05 06:38:17 2004-12-05 06:38:19     43,55      1.978588
555460 2004-12-05 10:08:48 2004-12-05 10:10:21     43,55      0.146169

[1140 rows x 4 columns]
43,56
                     start                 end id_colums  intercontact
43457  2004-09-23 09:54:57 2004-09-23 09:55:52     43,56           NaN
49250  2004-09-24 03:27:31 2004-09-24 03:27:43     43,56      0.730313
49310  2004-09-24 03:47:12 2004-09-24 03:47:41     43,56      0.013530
56284  2004-09-25 11:15:39 2004-09-25 11:15:41     43,56      1.311088
56285  2004-09-25 11:17:02 2004-09-25 11:19:19     43,56      0.000937
...                    ...                 ...       ...           ...
291308 2004-11-02 11:29:40 2004-11-02 11:29:49     43,56      0.000058
291353 2004-11-02 11:31:59 2004-11-02 11:32:58     43,56      0.001505
291536 2004-11-02 11:43:14 2004-11-02 11:43:16     43,56      0.007130
291990 2004-11-02 12:03:15 2004-11-02 12:04:24     43,56      0.013877
292464 2004-11-02 12:29:46 2004-11-02 12:30:11     43,56      0.017616

[368 rows x 4 columns]
43,58
                     start                 end id_colums  intercontact
141929 2004-10-12 11:16:44 2004-10-12 11:16:49     43,58           NaN
141945 2004-10-12 11:17:44 2004-10-12 11:18:16     43,58      0.000637
142235 2004-10-12 11:37:54 2004-10-12 11:38:08     43,58      0.013634
142245 2004-10-12 11:38:13 2004-10-12 11:38:39     43,58      0.000058
143653 2004-10-12 12:40:45 2004-10-12 12:42:17     43,58      0.043125
...                    ...                 ...       ...           ...
557631 2004-12-05 16:46:53 2004-12-05 16:49:31     43,58      0.069225
557643 2004-12-05 16:53:43 2004-12-05 16:54:00     43,58      0.002917
557655 2004-12-05 16:57:51 2004-12-05 17:02:56     43,58      0.002674
558840 2004-12-06 05:06:53 2004-12-06 05:07:15     43,58      0.502743

[111 rows x 4 columns]
44,69
                     start                 end id_colums  intercontact
120918 2004-10-07 09:23:07 2004-10-07 09:23:18     44,69           NaN
120941 2004-10-07 09:24:16 2004-10-07 09:25:51     44,69      0.000671
121004 2004-10-07 09:26:55 2004-10-07 09:27:16     44,69      0.000741
121119 2004-10-07 09:32:00 2004-10-07 09:32:42     44,69      0.003287
121202 2004-10-07 09:34:35 2004-10-07 09:35:02     44,69      0.001308
...                    ...                 ...       ...           ...
467459 2004-11-23 12:47:35 2004-11-23 12:47:52     44,69      0.117824
467506 2004-11-23 12:49:19 2004-11-23 12:49:50     44,69      0.001007
467728 2004-11-23 12:55:55 2004-11-23 12:56:08     44,69      0.004225
467835 2004-11-23 12:59:28 2004-11-23 13:00:37     44,69      0.002315
467921 2004-11-23 13:04:39 2004-11-23 13:05:45     44,69      0.002801

[531 rows x 4 columns]
44,70
                     start                 end id_colums  intercontact
667735 2005-01-13 11:25:13 2005-01-13 11:25:55     44,70           NaN
667757 2005-01-13 11:28:31 2005-01-13 11:28:33     44,70      0.001806
667777 2005-01-13 11:34:35 2005-01-13 11:35:30     44,70      0.004190
667818 2005-01-13 11:49:00 2005-01-13 11:50:34     44,70      0.009375
669150 2005-01-14 06:56:39 2005-01-14 06:57:04     44,70      0.795891
...                    ...                 ...       ...           ...
689448 2005-01-25 11:18:35 2005-01-25 11:19:36     44,70      0.001968
690447 2005-01-26 03:50:33 2005-01-26 03:58:28     44,70      0.688160
690611 2005-01-26 06:53:28 2005-01-26 06:54:00     44,70      0.121528
692231 2005-01-27 04:29:46 2005-01-27 04:30:00     44,70      0.899838
693850 2005-01-27 09:17:54 2005-01-27 09:18:37     44,70      0.199931

[72 rows x 4 columns]
44,71
                     start                 end id_colums  intercontact
109711 2004-10-06 05:53:49 2004-10-06 05:53:51     44,71           NaN
115672 2004-10-06 14:24:09 2004-10-06 14:26:08     44,71      0.354375
115758 2004-10-06 14:44:05 2004-10-06 14:44:07     44,71      0.012465
115881 2004-10-06 15:23:42 2004-10-06 15:24:05     44,71      0.027488
115972 2004-10-06 15:45:43 2004-10-06 15:46:03     44,71      0.015023
...                    ...                 ...       ...           ...
692565 2005-01-27 06:08:36 2005-01-27 06:09:28     44,71      0.006794
692600 2005-01-27 06:11:41 2005-01-27 06:12:21     44,71      0.001539
692620 2005-01-27 06:14:12 2005-01-27 06:15:47     44,71      0.001285
693856 2005-01-27 09:17:54 2005-01-27 09:18:37     44,71      0.126470
694035 2005-01-27 10:09:11 2005-01-27 10:09:35     44,71      0.035116

[597 rows x 4 columns]
44,72
                     start                 end id_colums  intercontact
274571 2004-11-01 08:40:41 2004-11-01 08:40:50     44,72           NaN
276923 2004-11-01 10:50:30 2004-11-01 10:50:46     44,72      0.090046
281597 2004-11-01 16:03:32 2004-11-01 16:03:37     44,72      0.217199
281603 2004-11-01 16:05:34 2004-11-01 16:05:53     44,72      0.001354
281609 2004-11-01 16:10:35 2004-11-01 16:12:00     44,72      0.003264
...                    ...                 ...       ...           ...
672880 2005-01-16 08:43:20 2005-01-16 08:43:28     44,72      0.858125
672883 2005-01-16 08:45:34 2005-01-16 08:45:56     44,72      0.001458
673249 2005-01-16 17:17:13 2005-01-16 17:18:47     44,72      0.355058
673317 2005-01-16 19:34:39 2005-01-16 19:34:58     44,72      0.094352
673319 2005-01-16 19:43:28 2005-01-16 19:44:03     44,72      0.005903

[105 rows x 4 columns]
44,75
                     start                 end id_colums  intercontact
119063 2004-10-07 07:49:11 2004-10-07 07:49:43     44,75           NaN
120968 2004-10-07 09:25:51 2004-10-07 09:25:54     44,75      0.066759
121200 2004-10-07 09:34:35 2004-10-07 09:34:50     44,75      0.006030
121221 2004-10-07 09:35:21 2004-10-07 09:35:36     44,75      0.000359
122059 2004-10-07 10:20:01 2004-10-07 10:20:21     44,75      0.030845
...                    ...                 ...       ...           ...
684948 2005-01-21 20:36:28 2005-01-21 20:37:01     44,75      0.000937
684949 2005-01-21 20:42:17 2005-01-21 20:43:27     44,75      0.003657
684952 2005-01-21 20:52:25 2005-01-21 20:53:49     44,75      0.006227
684954 2005-01-21 20:56:20 2005-01-21 20:57:53     44,75      0.001748
685257 2005-01-22 19:30:22 2005-01-22 19:32:05     44,75      0.939225

[85 rows x 4 columns]
44,76
                     start                 end id_colums  intercontact
176456 2004-10-17 23:38:24 2004-10-17 23:38:43     44,76           NaN
178300 2004-10-18 07:27:33 2004-10-18 07:27:35     44,76      0.325579
178434 2004-10-18 07:30:57 2004-10-18 07:31:09     44,76      0.002338
178469 2004-10-18 07:32:07 2004-10-18 07:32:16     44,76      0.000671
185711 2004-10-18 21:50:51 2004-10-18 21:51:02     44,76      0.596238
...                    ...                 ...       ...           ...
642039 2004-12-17 12:32:29 2004-12-17 12:32:41     44,76      0.006065
642063 2004-12-17 12:40:35 2004-12-17 12:41:01     44,76      0.005486
642071 2004-12-17 12:41:45 2004-12-17 12:42:45     44,76      0.000509
642077 2004-12-17 12:44:24 2004-12-17 12:44:26     44,76      0.001146
642213 2004-12-17 13:53:49 2004-12-17 13:54:32     44,76      0.048183

[281 rows x 4 columns]
44,79
                     start                 end id_colums  intercontact
152175 2004-10-13 10:42:00 2004-10-13 10:42:22     44,79           NaN
152215 2004-10-13 10:44:17 2004-10-13 10:45:32     44,79      0.001331
155810 2004-10-14 06:04:53 2004-10-14 06:05:12     44,79      0.805104
162808 2004-10-14 13:42:43 2004-10-14 13:42:45     44,79      0.317720
162922 2004-10-14 13:47:46 2004-10-14 13:48:13     44,79      0.003484
...                    ...                 ...       ...           ...
691177 2005-01-26 09:56:37 2005-01-26 09:56:55     44,79      0.000058
692489 2005-01-27 05:56:18 2005-01-27 05:58:18     44,79      0.832905
692609 2005-01-27 06:11:48 2005-01-27 06:12:21     44,79      0.009375
692666 2005-01-27 06:22:40 2005-01-27 06:22:54     44,79      0.007164
694067 2005-01-27 10:14:43 2005-01-27 10:14:59     44,79      0.160984

[130 rows x 4 columns]
44,80
                     start                 end id_colums  intercontact
111111 2004-10-06 08:25:21 2004-10-06 08:25:54     44,80           NaN
111182 2004-10-06 08:27:48 2004-10-06 08:27:56     44,80      0.001319
116297 2004-10-06 17:13:07 2004-10-06 17:13:14     44,80      0.364711
116405 2004-10-06 18:30:43 2004-10-06 18:31:17     44,80      0.053808
116418 2004-10-06 18:42:32 2004-10-06 18:43:01     44,80      0.007812
...                    ...                 ...       ...           ...
282224 2004-11-01 20:01:17 2004-11-01 20:02:15     44,80      0.046204
282303 2004-11-01 21:26:26 2004-11-01 21:26:28     44,80      0.058461
282322 2004-11-01 21:50:29 2004-11-01 21:50:31     44,80      0.016678
282530 2004-11-02 02:44:55 2004-11-02 02:45:14     44,80      0.204444
282566 2004-11-02 03:12:53 2004-11-02 03:14:21     44,80      0.019201

[119 rows x 4 columns]
44,81
                     start                 end id_colums  intercontact
404776 2004-11-17 09:39:23 2004-11-17 09:39:28     44,81           NaN
404932 2004-11-17 09:43:07 2004-11-17 09:44:15     44,81      0.002535
458750 2004-11-23 08:15:31 2004-11-23 08:15:41     44,81      5.938380
459447 2004-11-23 08:38:23 2004-11-23 08:38:25     44,81      0.015764
459527 2004-11-23 08:41:50 2004-11-23 08:41:52     44,81      0.002373
...                    ...                 ...       ...           ...
687023 2005-01-24 13:03:57 2005-01-24 13:04:08     44,81      0.000127
687025 2005-01-24 13:05:47 2005-01-24 13:06:35     44,81      0.001146
687063 2005-01-24 13:21:22 2005-01-24 13:21:57     44,81      0.010266
692491 2005-01-27 05:56:18 2005-01-27 05:58:49     44,81      2.690521
692575 2005-01-27 06:10:31 2005-01-27 06:10:58     44,81      0.008125

[187 rows x 4 columns]
44,82
                     start                 end id_colums  intercontact
43981  2004-09-23 10:15:54 2004-09-23 10:18:58     44,82           NaN
44122  2004-09-23 10:23:32 2004-09-23 10:23:45     44,82      0.003171
44139  2004-09-23 10:24:34 2004-09-23 10:24:59     44,82      0.000567
44197  2004-09-23 10:26:52 2004-09-23 10:27:25     44,82      0.001308
44391  2004-09-23 10:37:28 2004-09-23 10:37:48     44,82      0.006979
...                    ...                 ...       ...           ...
567311 2004-12-06 13:28:50 2004-12-06 13:30:21     44,82      0.003553
568398 2004-12-06 16:02:03 2004-12-06 16:03:13     44,82      0.105347
569044 2004-12-06 23:53:57 2004-12-06 23:53:59     44,82      0.326898
569127 2004-12-07 02:00:26 2004-12-07 02:00:43     44,82      0.087813
569167 2004-12-07 02:42:46 2004-12-07 02:53:51     44,82      0.029201

[603 rows x 4 columns]
44,83
                     start                 end id_colums  intercontact
43252  2004-09-23 09:43:05 2004-09-23 09:43:35     44,83           NaN
43271  2004-09-23 09:45:45 2004-09-23 09:45:47     44,83      0.001505
43982  2004-09-23 10:15:54 2004-09-23 10:16:04     44,83      0.020914
44080  2004-09-23 10:21:58 2004-09-23 10:22:11     44,83      0.004097
44244  2004-09-23 10:28:10 2004-09-23 10:28:27     44,83      0.004155
44298  2004-09-23 10:30:12 2004-09-23 10:32:41     44,83      0.001215
44555  2004-09-23 10:47:10 2004-09-23 10:47:29     44,83      0.010058
46566  2004-09-23 12:42:24 2004-09-23 12:42:35     44,83      0.079803
46663  2004-09-23 12:46:19 2004-09-23 12:46:24     44,83      0.002593
47090  2004-09-23 13:10:45 2004-09-23 13:11:03     44,83      0.016910
47111  2004-09-23 13:11:54 2004-09-23 13:12:28     44,83      0.000590
47130  2004-09-23 13:12:31 2004-09-23 13:12:51     44,83      0.000035
47218  2004-09-23 13:21:10 2004-09-23 13:21:45     44,83      0.005775
47233  2004-09-23 13:22:47 2004-09-23 13:23:50     44,83      0.000718
47238  2004-09-23 13:24:08 2004-09-23 13:24:25     44,83      0.000208
47240  2004-09-23 13:24:50 2004-09-23 13:26:11     44,83      0.000289
47275  2004-09-23 13:26:33 2004-09-23 13:26:44     44,83      0.000255
47301  2004-09-23 13:28:39 2004-09-23 13:28:59     44,83      0.001331
47378  2004-09-23 13:37:33 2004-09-23 13:38:40     44,83      0.005949
47399  2004-09-23 13:38:54 2004-09-23 13:39:04     44,83      0.000162
47446  2004-09-23 13:41:23 2004-09-23 13:42:14     44,83      0.001609
47678  2004-09-23 14:05:06 2004-09-23 14:05:35     44,83      0.015880
47949  2004-09-23 15:07:52 2004-09-23 15:10:34     44,83      0.043252
49220  2004-09-24 03:19:15 2004-09-24 03:19:53     44,83      0.506030
49222  2004-09-24 03:20:12 2004-09-24 03:20:31     44,83      0.000220
49225  2004-09-24 03:21:36 2004-09-24 03:21:53     44,83      0.000752
49228  2004-09-24 03:22:18 2004-09-24 03:22:24     44,83      0.000289
49232  2004-09-24 03:23:36 2004-09-24 03:23:41     44,83      0.000833
49258  2004-09-24 03:29:51 2004-09-24 03:31:55     44,83      0.004282
51403  2004-09-24 07:54:31 2004-09-24 07:54:49     44,83      0.182361
51411  2004-09-24 07:55:13 2004-09-24 07:55:36     44,83      0.000278
52587  2004-09-24 09:34:08 2004-09-24 09:34:30     44,83      0.068426
52667  2004-09-24 09:37:18 2004-09-24 09:37:30     44,83      0.001944
52671  2004-09-24 09:37:31 2004-09-24 09:37:53     44,83      0.000012
52678  2004-09-24 09:38:10 2004-09-24 09:38:21     44,83      0.000197
52689  2004-09-24 09:38:33 2004-09-24 09:38:43     44,83      0.000139
52738  2004-09-24 09:41:07 2004-09-24 09:41:16     44,83      0.001667
52809  2004-09-24 09:43:30 2004-09-24 09:43:47     44,83      0.001551
53093  2004-09-24 10:03:13 2004-09-24 10:03:17     44,83      0.013495
73648  2004-09-28 17:25:46 2004-09-28 17:25:47     44,83      4.307280
73742  2004-09-28 18:20:37 2004-09-28 18:20:39     44,83      0.038079
73907  2004-09-29 00:17:52 2004-09-29 01:45:49     44,83      0.248067
90501  2004-10-02 09:33:13 2004-10-02 09:34:09     44,83      3.324583
255065 2004-10-28 08:21:58 2004-10-28 08:22:44     44,83     25.949873
280313 2004-11-01 13:22:30 2004-11-01 13:22:52     44,83      4.208171
44,85
                     start                 end id_colums  intercontact
219167 2004-10-23 13:49:07 2004-10-23 13:54:05     44,85           NaN
219517 2004-10-23 19:47:18 2004-10-23 19:47:47     44,85      0.245289
256426 2004-10-28 10:18:56 2004-10-28 10:19:18     44,85      4.604965
256671 2004-10-28 10:36:11 2004-10-28 10:36:14     44,85      0.011725
256737 2004-10-28 10:39:58 2004-10-28 10:40:16     44,85      0.002593
...                    ...                 ...       ...           ...
642851 2004-12-18 08:36:49 2004-12-18 08:37:34     44,85      1.769560
642987 2004-12-18 11:38:13 2004-12-18 11:39:58     44,85      0.125451
643017 2004-12-18 12:10:37 2004-12-18 12:10:40     44,85      0.021285
643024 2004-12-18 12:15:22 2004-12-18 12:15:40     44,85      0.003264
643031 2004-12-18 12:16:56 2004-12-18 12:20:55     44,85      0.000880

[239 rows x 4 columns]
44,86
                     start                 end id_colums  intercontact
43095  2004-09-23 09:21:53 2004-09-23 09:21:55     44,86           NaN
43164  2004-09-23 09:31:46 2004-09-23 09:35:22     44,86      0.006840
43180  2004-09-23 09:35:48 2004-09-23 09:35:49     44,86      0.000301
44073  2004-09-23 10:20:56 2004-09-23 10:21:44     44,86      0.031331
44090  2004-09-23 10:22:29 2004-09-23 10:22:44     44,86      0.000521
...                    ...                 ...       ...           ...
676997 2005-01-18 12:54:07 2005-01-18 12:54:25     44,86      0.000104
677012 2005-01-18 12:58:11 2005-01-18 12:58:22     44,86      0.002616
677013 2005-01-18 12:58:30 2005-01-18 12:58:39     44,86      0.000093
677019 2005-01-18 13:00:32 2005-01-18 13:01:32     44,86      0.001308
683308 2005-01-21 07:24:46 2005-01-21 07:24:47     44,86      2.766134

[127 rows x 4 columns]
44,87
                     start                 end id_colums  intercontact
248355 2004-10-27 12:27:43 2004-10-27 12:28:30     44,87           NaN
248889 2004-10-27 12:49:58 2004-10-27 12:50:47     44,87      0.014907
249084 2004-10-27 12:57:43 2004-10-27 12:57:44     44,87      0.004815
249239 2004-10-27 13:03:40 2004-10-27 13:04:33     44,87      0.004120
249248 2004-10-27 13:04:39 2004-10-27 13:05:13     44,87      0.000069
...                    ...                 ...       ...           ...
684647 2005-01-21 14:52:52 2005-01-21 14:57:41     44,87      0.085509
684742 2005-01-21 15:58:08 2005-01-21 16:00:16     44,87      0.041979
690394 2005-01-25 20:30:34 2005-01-25 20:32:28     44,87      4.187708
690401 2005-01-25 21:15:12 2005-01-25 21:19:39     44,87      0.029676
691905 2005-01-26 15:42:40 2005-01-26 15:42:49     44,87      0.765984

[256 rows x 4 columns]
44,88
                     start                 end id_colums  intercontact
44533  2004-09-23 10:46:05 2004-09-23 10:46:45     44,88           NaN
44575  2004-09-23 10:48:44 2004-09-23 10:50:07     44,88      0.001377
46520  2004-09-23 12:40:08 2004-09-23 12:41:37     44,88      0.076400
46598  2004-09-23 12:44:15 2004-09-23 12:44:36     44,88      0.001829
50009  2004-09-24 05:55:41 2004-09-24 05:55:43     44,88      0.716030
...                    ...                 ...       ...           ...
277140 2004-11-01 10:57:07 2004-11-01 10:57:28     44,88      0.004410
279689 2004-11-01 12:52:17 2004-11-01 12:55:46     44,88      0.079734
280760 2004-11-01 13:57:21 2004-11-01 13:57:42     44,88      0.042766
281058 2004-11-01 14:26:28 2004-11-01 14:26:49     44,88      0.019977
282230 2004-11-01 20:02:40 2004-11-01 20:05:24     44,88      0.233229

[208 rows x 4 columns]
45,46
                     start                 end id_colums  intercontact
319298 2004-11-05 07:21:15 2004-11-05 07:21:41     45,46           NaN
319384 2004-11-05 07:24:02 2004-11-05 07:25:19     45,46      0.001632
319699 2004-11-05 07:55:08 2004-11-05 07:55:39     45,46      0.020706
328719 2004-11-08 06:12:05 2004-11-08 06:14:52     45,46      2.928079
337203 2004-11-09 05:50:19 2004-11-09 05:50:38     45,46      0.982951
...                    ...                 ...       ...           ...
667823 2005-01-13 11:50:04 2005-01-13 11:51:07     45,46      0.000451
670232 2005-01-14 09:34:06 2005-01-14 09:40:28     45,46      0.904850
670430 2005-01-14 10:27:17 2005-01-14 10:28:09     45,46      0.032512
670467 2005-01-14 10:33:49 2005-01-14 10:34:54     45,46      0.003935
670478 2005-01-14 10:35:28 2005-01-14 10:37:25     45,46      0.000394

[177 rows x 4 columns]
45,53
                     start                 end id_colums  intercontact
286233 2004-11-02 08:19:38 2004-11-02 08:19:40     45,53           NaN
286410 2004-11-02 08:28:14 2004-11-02 08:28:47     45,53      0.005949
286805 2004-11-02 08:49:33 2004-11-02 08:49:50     45,53      0.014421
286846 2004-11-02 08:52:40 2004-11-02 08:53:09     45,53      0.001968
287726 2004-11-02 09:18:18 2004-11-02 09:24:08     45,53      0.017465
...                    ...                 ...       ...           ...
668248 2005-01-13 13:41:32 2005-01-13 13:43:35     45,53      0.073993
668355 2005-01-13 14:19:38 2005-01-13 14:19:56     45,53      0.025035
668363 2005-01-13 14:24:39 2005-01-13 14:32:56     45,53      0.003275
670140 2005-01-14 09:18:18 2005-01-14 09:18:35     45,53      0.781505
670319 2005-01-14 09:59:20 2005-01-14 09:59:40     45,53      0.028299

[138 rows x 4 columns]
45,54
                     start                 end id_colums  intercontact
39014  2004-09-22 09:01:09 2004-09-22 09:01:45     45,54           NaN
39023  2004-09-22 09:03:06 2004-09-22 09:03:26     45,54      0.000937
39044  2004-09-22 09:05:50 2004-09-22 09:05:51     45,54      0.001667
39386  2004-09-22 09:54:02 2004-09-22 09:54:14     45,54      0.033461
39422  2004-09-22 09:59:15 2004-09-22 10:01:51     45,54      0.003484
...                    ...                 ...       ...           ...
642197 2004-12-17 13:37:04 2004-12-17 13:37:06     45,54      0.001146
642253 2004-12-17 14:19:51 2004-12-17 14:19:58     45,54      0.029687
642282 2004-12-17 14:42:02 2004-12-17 14:42:08     45,54      0.015324
642294 2004-12-17 14:48:05 2004-12-17 14:48:07     45,54      0.004132
642306 2004-12-17 14:53:00 2004-12-17 14:58:18     45,54      0.003391

[374 rows x 4 columns]
45,55
                     start                 end id_colums  intercontact
43432  2004-09-23 09:53:23 2004-09-23 09:53:27     45,55           NaN
43469  2004-09-23 09:55:17 2004-09-23 09:55:54     45,55      0.001273
43559  2004-09-23 09:57:39 2004-09-23 09:58:49     45,55      0.001215
58432  2004-09-27 06:13:18 2004-09-27 06:16:21     45,55      3.843391
58474  2004-09-27 06:18:56 2004-09-27 06:19:15     45,55      0.001794
...                    ...                 ...       ...           ...
627888 2004-12-15 05:18:29 2004-12-15 05:18:54     45,55      0.000590
628386 2004-12-15 06:26:20 2004-12-15 06:26:56     45,55      0.046829
628538 2004-12-15 06:43:31 2004-12-15 06:43:40     45,55      0.011516
628570 2004-12-15 06:49:24 2004-12-15 06:49:44     45,55      0.003981
668385 2005-01-13 14:34:21 2005-01-13 14:34:33     45,55     29.322650

[374 rows x 4 columns]
45,56
                     start                 end id_colums  intercontact
24366  2004-09-16 07:52:55 2004-09-16 07:53:40     45,56           NaN
24423  2004-09-16 07:59:08 2004-09-16 07:59:10     45,56      0.003796
24454  2004-09-16 08:03:28 2004-09-16 08:04:17     45,56      0.002986
24873  2004-09-16 09:28:59 2004-09-16 09:29:01     45,56      0.058819
24897  2004-09-16 09:32:58 2004-09-16 09:33:19     45,56      0.002743
...                    ...                 ...       ...           ...
291535 2004-11-02 11:43:14 2004-11-02 11:43:16     45,56      0.014190
292298 2004-11-02 12:24:15 2004-11-02 12:24:24     45,56      0.028461
292327 2004-11-02 12:24:53 2004-11-02 12:24:59     45,56      0.000336
292351 2004-11-02 12:25:12 2004-11-02 12:25:18     45,56      0.000150

[1044 rows x 4 columns]
46,68
                     start                 end id_colums  intercontact
304692 2004-11-03 15:40:46 2004-11-03 15:41:58     46,68           NaN
304752 2004-11-03 15:46:38 2004-11-03 15:46:57     46,68      0.003241
309060 2004-11-04 07:51:42 2004-11-04 07:52:31     46,68      0.669965
309879 2004-11-04 08:52:36 2004-11-04 08:53:50     46,68      0.041725
310007 2004-11-04 08:58:20 2004-11-04 08:59:40     46,68      0.003125
...                    ...                 ...       ...           ...
765174 2005-03-29 13:44:27 2005-03-29 13:44:48     46,68      0.001620
765648 2005-03-30 06:08:23 2005-03-30 06:11:13     46,68      0.683044
766174 2005-03-30 08:56:23 2005-03-30 08:59:41     46,68      0.114699
766337 2005-03-30 09:27:31 2005-03-30 09:28:30     46,68      0.019329
766808 2005-03-30 11:05:22 2005-03-30 11:06:09     46,68      0.067269

[359 rows x 4 columns]
46,69
                     start                 end id_colums  intercontact
301483 2004-11-03 10:52:03 2004-11-03 10:52:16     46,69           NaN
301524 2004-11-03 10:54:20 2004-11-03 10:54:28     46,69      0.001435
301534 2004-11-03 10:55:20 2004-11-03 10:55:21     46,69      0.000602
301572 2004-11-03 10:57:28 2004-11-03 10:58:18     46,69      0.001470
301605 2004-11-03 10:58:38 2004-11-03 10:58:45     46,69      0.000231
...                    ...                 ...       ...           ...
467175 2004-11-23 12:38:03 2004-11-23 12:38:07     46,69      0.004803
467183 2004-11-23 12:38:14 2004-11-23 12:39:00     46,69      0.000081
467258 2004-11-23 12:40:15 2004-11-23 12:41:18     46,69      0.000868
467346 2004-11-23 12:42:45 2004-11-23 12:42:55     46,69      0.001007
467351 2004-11-23 12:43:15 2004-11-23 12:43:45     46,69      0.000231

[154 rows x 4 columns]
46,70
                     start                 end id_colums  intercontact
590904 2004-12-09 10:54:59 2004-12-09 10:55:12     46,70           NaN
591001 2004-12-09 11:02:13 2004-12-09 11:03:15     46,70      0.004873
591020 2004-12-09 11:03:15 2004-12-09 11:06:01     46,70      0.000000
591239 2004-12-09 11:20:33 2004-12-09 11:21:24     46,70      0.010093
591287 2004-12-09 11:24:15 2004-12-09 11:24:29     46,70      0.001979
...                    ...                 ...       ...           ...
733314 2005-03-03 10:16:16 2005-03-03 10:17:55     46,70      0.015729
733368 2005-03-03 10:26:22 2005-03-03 10:32:57     46,70      0.005868
733662 2005-03-03 11:11:31 2005-03-03 11:21:59     46,70      0.026782
733739 2005-03-03 11:45:19 2005-03-03 11:46:03     46,70      0.016204
733749 2005-03-03 11:46:34 2005-03-03 11:47:23     46,70      0.000359

[273 rows x 4 columns]
46,71
                     start                 end id_colums  intercontact
307799 2004-11-04 06:38:56 2004-11-04 06:40:52     46,71           NaN
307902 2004-11-04 06:45:49 2004-11-04 06:45:59     46,71      0.003438
310348 2004-11-04 09:25:28 2004-11-04 09:25:47     46,71      0.110752
310482 2004-11-04 09:36:59 2004-11-04 09:37:15     46,71      0.007778
310556 2004-11-04 09:43:30 2004-11-04 09:43:48     46,71      0.004340
...                    ...                 ...       ...           ...
772792 2005-04-08 08:07:02 2005-04-08 08:11:13     46,71      0.003206
772862 2005-04-08 08:55:23 2005-04-08 08:55:52     46,71      0.030671
772927 2005-04-08 11:05:01 2005-04-08 11:05:28     46,71      0.089688
772938 2005-04-08 11:07:28 2005-04-08 11:07:56     46,71      0.001389
772947 2005-04-08 11:07:57 2005-04-08 11:09:24     46,71      0.000012

[1466 rows x 4 columns]
46,72
                     start                 end id_colums  intercontact
350334 2004-11-10 06:48:37 2004-11-10 06:49:33     46,72           NaN
350927 2004-11-10 07:31:03 2004-11-10 07:35:35     46,72      0.028819
351080 2004-11-10 07:41:27 2004-11-10 07:41:40     46,72      0.004074
351090 2004-11-10 07:43:01 2004-11-10 07:43:31     46,72      0.000937
351099 2004-11-10 07:43:59 2004-11-10 07:44:24     46,72      0.000324
...                    ...                 ...       ...           ...
668163 2005-01-13 12:40:05 2005-01-13 12:40:32     46,72      0.006169
668179 2005-01-13 12:46:14 2005-01-13 12:46:50     46,72      0.003958
668183 2005-01-13 12:47:15 2005-01-13 12:47:24     46,72      0.000289
668207 2005-01-13 13:03:23 2005-01-13 13:03:35     46,72      0.011100
668210 2005-01-13 13:06:01 2005-01-13 13:06:23     46,72      0.001690

[413 rows x 4 columns]
46,75
                     start                 end id_colums  intercontact
304466 2004-11-03 14:56:04 2004-11-03 14:56:09     46,75           NaN
307800 2004-11-04 06:38:56 2004-11-04 06:40:52     46,75      0.654711
308726 2004-11-04 07:33:55 2004-11-04 07:34:02     46,75      0.036840
309400 2004-11-04 08:12:29 2004-11-04 08:12:53     46,75      0.026701
309424 2004-11-04 08:14:04 2004-11-04 08:14:15     46,75      0.000822
318433 2004-11-05 05:50:07 2004-11-05 05:50:17     46,75      0.899907
341809 2004-11-09 09:23:24 2004-11-09 09:23:27     46,75      4.147998
344873 2004-11-09 12:03:22 2004-11-09 12:03:24     46,75      0.111053
360688 2004-11-12 09:27:23 2004-11-12 09:27:27     46,75      2.891655
360730 2004-11-12 09:32:53 2004-11-12 09:33:26     46,75      0.003773
362051 2004-11-12 11:22:19 2004-11-12 11:23:50     46,75      0.075613
362138 2004-11-12 11:24:35 2004-11-12 11:24:53     46,75      0.000521
362160 2004-11-12 11:26:01 2004-11-12 11:26:42     46,75      0.000787
362838 2004-11-12 12:28:27 2004-11-12 12:29:02     46,75      0.042882
363008 2004-11-12 12:46:28 2004-11-12 12:46:58     46,75      0.012106
569224 2004-12-07 03:12:37 2004-12-07 03:12:53     46,75     24.601146
569236 2004-12-07 03:16:03 2004-12-07 03:16:23     46,75      0.002199
620387 2004-12-14 03:02:18 2004-12-14 03:03:55     46,75      6.990220
620405 2004-12-14 03:31:33 2004-12-14 03:32:13     46,75      0.019190
643376 2004-12-19 11:28:16 2004-12-19 11:30:21     46,75      5.330590
673695 2005-01-17 08:19:58 2005-01-17 08:20:29     46,75     28.867789
677291 2005-01-18 17:46:32 2005-01-18 17:47:27     46,75      1.393090
677298 2005-01-18 17:50:22 2005-01-18 17:51:19     46,75      0.002025
677303 2005-01-18 18:03:08 2005-01-18 18:03:09     46,75      0.008206
677304 2005-01-18 18:03:52 2005-01-18 18:03:59     46,75      0.000498
677365 2005-01-18 22:13:07 2005-01-18 22:14:35     46,75      0.173009
677372 2005-01-18 23:52:52 2005-01-19 00:26:21     46,75      0.068252
677374 2005-01-19 00:26:21 2005-01-19 00:27:07     46,75      0.000000
677389 2005-01-19 02:34:57 2005-01-19 02:35:44     46,75      0.088773
685761 2005-01-24 06:14:52 2005-01-24 06:16:22     46,75      5.152176
46,76
                     start                 end id_colums  intercontact
301574 2004-11-03 10:57:28 2004-11-03 10:58:38     46,76           NaN
304555 2004-11-03 15:08:27 2004-11-03 15:08:29     46,76      0.173484
304652 2004-11-03 15:32:50 2004-11-03 15:33:00     46,76      0.016910
304660 2004-11-03 15:35:54 2004-11-03 15:36:13     46,76      0.002014
308163 2004-11-04 07:04:58 2004-11-04 07:05:54     46,76      0.644965
...                    ...                 ...       ...           ...
634168 2004-12-15 15:03:17 2004-12-15 15:03:23     46,76      0.004491
634455 2004-12-15 16:20:17 2004-12-15 16:20:34     46,76      0.053403
635204 2004-12-16 05:01:06 2004-12-16 05:01:12     46,76      0.528148
635215 2004-12-16 05:02:29 2004-12-16 05:03:07     46,76      0.000891
635231 2004-12-16 05:11:23 2004-12-16 05:11:41     46,76      0.005741

[249 rows x 4 columns]
46,79
                     start                 end id_colums  intercontact
394131 2004-11-16 11:17:41 2004-11-16 11:18:30     46,79           NaN
403550 2004-11-17 08:53:51 2004-11-17 08:55:16     46,79      0.899549
403672 2004-11-17 09:03:03 2004-11-17 09:06:11     46,79      0.005405
404069 2004-11-17 09:13:21 2004-11-17 09:13:26     46,79      0.004977
404079 2004-11-17 09:13:26 2004-11-17 09:13:28     46,79      0.000000
...                    ...                 ...       ...           ...
777897 2005-04-18 11:14:44 2005-04-18 11:15:13     46,79      0.023981
777945 2005-04-18 11:29:50 2005-04-18 11:30:32     46,79      0.010150
777956 2005-04-18 11:31:36 2005-04-18 11:31:42     46,79      0.000741
777998 2005-04-18 13:16:14 2005-04-18 13:16:46     46,79      0.072593
778011 2005-04-18 13:32:48 2005-04-18 13:44:11     46,79      0.011134

[525 rows x 4 columns]
46,81
                     start                 end id_colums  intercontact
301359 2004-11-03 10:46:03 2004-11-03 10:46:23     46,81           NaN
301901 2004-11-03 11:19:26 2004-11-03 11:20:36     46,81      0.022951
301947 2004-11-03 11:22:12 2004-11-03 11:23:15     46,81      0.001111
302034 2004-11-03 11:31:28 2004-11-03 11:32:30     46,81      0.005706
302051 2004-11-03 11:33:01 2004-11-03 11:33:32     46,81      0.000359
...                    ...                 ...       ...           ...
693010 2005-01-27 07:21:45 2005-01-27 07:21:49     46,81      0.001400
693031 2005-01-27 07:25:29 2005-01-27 07:25:46     46,81      0.002546
693047 2005-01-27 07:26:01 2005-01-27 07:26:07     46,81      0.000174
693054 2005-01-27 07:26:23 2005-01-27 07:26:58     46,81      0.000185
693250 2005-01-27 07:50:56 2005-01-27 07:50:57     46,81      0.016644

[391 rows x 4 columns]
46,82
                     start                 end id_colums  intercontact
301673 2004-11-03 11:01:12 2004-11-03 11:01:36     46,82           NaN
302842 2004-11-03 12:22:00 2004-11-03 12:22:24     46,82      0.055833
302920 2004-11-03 12:28:07 2004-11-03 12:28:29     46,82      0.003970
303017 2004-11-03 12:34:21 2004-11-03 12:34:59     46,82      0.004074
303547 2004-11-03 13:14:16 2004-11-03 13:14:38     46,82      0.027280
...                    ...                 ...       ...           ...
567785 2004-12-06 14:05:44 2004-12-06 14:06:04     46,82      0.002801
567805 2004-12-06 14:09:51 2004-12-06 14:10:06     46,82      0.002627
568028 2004-12-06 14:42:34 2004-12-06 14:44:32     46,82      0.022546
569186 2004-12-07 02:55:04 2004-12-07 02:56:47     46,82      0.507315
569247 2004-12-07 03:19:09 2004-12-07 03:19:27     46,82      0.015532

[486 rows x 4 columns]
46,83
                     start                 end id_colums  intercontact
301360 2004-11-03 10:46:03 2004-11-03 10:46:23     46,83           NaN
304362 2004-11-03 14:35:02 2004-11-03 14:35:04     46,83      0.158785
304761 2004-11-03 15:47:21 2004-11-03 15:47:43     46,83      0.050197
304791 2004-11-03 15:50:26 2004-11-03 15:51:43     46,83      0.001887
359687 2004-11-12 06:23:11 2004-11-12 06:23:35     46,83      8.605185
359739 2004-11-12 06:39:28 2004-11-12 06:40:20     46,83      0.011030
359819 2004-11-12 06:52:03 2004-11-12 06:52:40     46,83      0.008137
46,85
                     start                 end id_colums  intercontact
307817 2004-11-04 06:40:52 2004-11-04 06:41:20     46,85           NaN
307864 2004-11-04 06:43:53 2004-11-04 06:45:06     46,85      0.001771
308169 2004-11-04 07:05:27 2004-11-04 07:05:29     46,85      0.014132
308221 2004-11-04 07:08:30 2004-11-04 07:08:31     46,85      0.002095
308317 2004-11-04 07:12:06 2004-11-04 07:12:42     46,85      0.002488
...                    ...                 ...       ...           ...
785339 2005-05-04 11:23:34 2005-05-04 11:24:08     46,85      0.000359
785358 2005-05-04 11:47:45 2005-05-04 11:48:06     46,85      0.016400
785359 2005-05-04 11:48:35 2005-05-04 11:52:39     46,85      0.000336
785372 2005-05-04 12:07:00 2005-05-04 12:07:23     46,85      0.009965
785373 2005-05-04 12:07:24 2005-05-04 12:10:11     46,85      0.000012

[882 rows x 4 columns]
46,86
                     start                 end id_colums  intercontact
302363 2004-11-03 11:53:54 2004-11-03 11:54:19     46,86           NaN
302430 2004-11-03 11:56:00 2004-11-03 11:57:57     46,86      0.001169
302912 2004-11-03 12:27:54 2004-11-03 12:27:56     46,86      0.020799
303237 2004-11-03 12:53:50 2004-11-03 12:53:52     46,86      0.017986
303794 2004-11-03 13:37:29 2004-11-03 13:38:13     46,86      0.030289
...                    ...                 ...       ...           ...
677330 2005-01-18 19:08:37 2005-01-18 19:08:46     46,86      0.035324
683198 2005-01-21 06:53:40 2005-01-21 06:53:52     46,86      2.489514
683307 2005-01-21 07:24:46 2005-01-21 07:24:47     46,86      0.021458
683331 2005-01-21 07:28:29 2005-01-21 07:28:49     46,86      0.002569
683424 2005-01-21 07:39:59 2005-01-21 07:43:53     46,86      0.007755

[186 rows x 4 columns]
46,87
                     start                 end id_colums  intercontact
359271 2004-11-12 02:29:23 2004-11-12 02:29:40     46,87           NaN
359631 2004-11-12 06:08:01 2004-11-12 06:08:18     46,87      0.151632
359669 2004-11-12 06:20:34 2004-11-12 06:20:36     46,87      0.008519
359816 2004-11-12 06:52:03 2004-11-12 06:52:40     46,87      0.021840
359849 2004-11-12 06:55:12 2004-11-12 06:55:40     46,87      0.001759
...                    ...                 ...       ...           ...
777900 2005-04-18 11:14:44 2005-04-18 11:15:13     46,87      0.023981
777946 2005-04-18 11:29:50 2005-04-18 11:30:32     46,87      0.010150
777954 2005-04-18 11:31:36 2005-04-18 11:31:42     46,87      0.000741
777997 2005-04-18 13:16:14 2005-04-18 13:16:46     46,87      0.072593
778010 2005-04-18 13:32:48 2005-04-18 13:44:11     46,87      0.011134

[609 rows x 4 columns]
46,88
                     start                 end id_colums  intercontact
303816 2004-11-03 13:38:33 2004-11-03 13:39:39     46,88           NaN
303866 2004-11-03 13:41:57 2004-11-03 13:41:59     46,88      0.001597
303883 2004-11-03 13:43:56 2004-11-03 13:44:34     46,88      0.001354
314848 2004-11-04 12:47:34 2004-11-04 12:48:56     46,88      0.960417
315147 2004-11-04 12:57:43 2004-11-04 12:58:33     46,88      0.006100
315822 2004-11-04 13:30:49 2004-11-04 13:30:57     46,88      0.022407
339202 2004-11-09 07:25:28 2004-11-09 07:25:30     46,88      4.746192
341191 2004-11-09 08:48:38 2004-11-09 08:48:40     46,88      0.057731
341702 2004-11-09 09:17:47 2004-11-09 09:18:21     46,88      0.020220
342195 2004-11-09 09:35:34 2004-11-09 09:35:51     46,88      0.011956
342268 2004-11-09 09:40:07 2004-11-09 09:40:42     46,88      0.002963
343655 2004-11-09 11:00:33 2004-11-09 11:00:35     46,88      0.055451
347989 2004-11-10 02:50:04 2004-11-10 02:52:49     46,88      0.659363
348002 2004-11-10 02:54:06 2004-11-10 02:54:14     46,88      0.000891
348009 2004-11-10 02:57:09 2004-11-10 02:57:13     46,88      0.002025
348014 2004-11-10 02:59:33 2004-11-10 02:59:48     46,88      0.001620
355030 2004-11-10 12:49:21 2004-11-10 12:49:53     46,88      0.409410
355379 2004-11-10 13:21:17 2004-11-10 13:21:33     46,88      0.021806
373637 2004-11-15 08:07:19 2004-11-15 08:09:35     46,88      4.781782
375651 2004-11-15 09:16:40 2004-11-15 09:16:58     46,88      0.046586
375731 2004-11-15 09:19:29 2004-11-15 09:20:00     46,88      0.001748
377449 2004-11-15 10:31:36 2004-11-15 10:32:02     46,88      0.049722
377898 2004-11-15 10:52:39 2004-11-15 10:53:50     46,88      0.014317
378188 2004-11-15 10:59:08 2004-11-15 11:03:26     46,88      0.003681
378909 2004-11-15 11:21:24 2004-11-15 11:21:57     46,88      0.012477
379485 2004-11-15 11:49:05 2004-11-15 11:50:16     46,88      0.018843
379799 2004-11-15 12:06:18 2004-11-15 12:06:56     46,88      0.011134
384335 2004-11-16 03:43:54 2004-11-16 03:49:38     46,88      0.650671
384446 2004-11-16 04:00:01 2004-11-16 04:00:26     46,88      0.007211
385199 2004-11-16 05:19:14 2004-11-16 05:23:12     46,88      0.054722
387853 2004-11-16 07:25:05 2004-11-16 07:26:48     46,88      0.084641
387979 2004-11-16 07:27:55 2004-11-16 07:29:07     46,88      0.000775
388139 2004-11-16 07:31:36 2004-11-16 07:33:24     46,88      0.001725
388809 2004-11-16 07:51:06 2004-11-16 07:51:43     46,88      0.012292
389224 2004-11-16 08:03:55 2004-11-16 08:04:38     46,88      0.008472
389285 2004-11-16 08:05:32 2004-11-16 08:06:08     46,88      0.000625
389482 2004-11-16 08:10:18 2004-11-16 08:12:08     46,88      0.002894
389575 2004-11-16 08:12:22 2004-11-16 08:12:24     46,88      0.000162
389619 2004-11-16 08:13:53 2004-11-16 08:14:12     46,88      0.001030
389786 2004-11-16 08:21:17 2004-11-16 08:21:38     46,88      0.004919
390035 2004-11-16 08:29:12 2004-11-16 08:30:44     46,88      0.005255
390320 2004-11-16 08:40:44 2004-11-16 08:41:05     46,88      0.006944
390384 2004-11-16 08:42:16 2004-11-16 08:43:44     46,88      0.000822
390806 2004-11-16 09:01:46 2004-11-16 09:04:18     46,88      0.012523
391380 2004-11-16 09:21:05 2004-11-16 09:23:30     46,88      0.011655
399805 2004-11-17 04:34:44 2004-11-17 04:36:26     46,88      0.799468
400010 2004-11-17 04:49:36 2004-11-17 04:49:58     46,88      0.009144
400030 2004-11-17 04:51:36 2004-11-17 04:53:04     46,88      0.001134
400064 2004-11-17 04:55:13 2004-11-17 04:55:53     46,88      0.001493
400229 2004-11-17 05:08:23 2004-11-17 05:08:25     46,88      0.008681
400687 2004-11-17 05:43:54 2004-11-17 05:45:58     46,88      0.024641
405051 2004-11-17 09:47:42 2004-11-17 09:47:43     46,88      0.167870
406537 2004-11-17 10:54:56 2004-11-17 10:55:26     46,88      0.046678
408931 2004-11-17 12:31:52 2004-11-17 12:38:22     46,88      0.066968
409734 2004-11-17 13:27:57 2004-11-17 13:27:58     46,88      0.034433
409737 2004-11-17 13:27:58 2004-11-17 13:28:10     46,88      0.000000
47,48
                     start                 end id_colums  intercontact
361383 2004-11-12 10:23:50 2004-11-12 10:26:48     47,48           NaN
363476 2004-11-12 13:56:10 2004-11-12 13:58:19     47,48      0.145394
364249 2004-11-13 03:40:05 2004-11-13 03:40:19     47,48      0.570671
364266 2004-11-13 03:55:39 2004-11-13 03:55:59     47,48      0.010648
364291 2004-11-13 04:20:29 2004-11-13 04:20:53     47,48      0.017014
...                    ...                 ...       ...           ...
560189 2004-12-06 06:44:18 2004-12-06 06:44:21     47,48      0.001678
561084 2004-12-06 07:36:32 2004-12-06 07:36:54     47,48      0.036238
562375 2004-12-06 08:49:51 2004-12-06 08:50:07     47,48      0.050660
567163 2004-12-06 13:13:47 2004-12-06 13:14:13     47,48      0.183102
567300 2004-12-06 13:25:53 2004-12-06 13:26:20     47,48      0.008102

[122 rows x 4 columns]
47,49
                     start                 end id_colums  intercontact
266454 2004-10-30 05:34:29 2004-10-30 05:36:51     47,49           NaN
266568 2004-10-30 07:27:38 2004-10-30 07:27:57     47,49      0.076933
272681 2004-11-01 05:58:41 2004-11-01 05:58:52     47,49      1.938009
272837 2004-11-01 06:13:40 2004-11-01 06:14:04     47,49      0.010278
272850 2004-11-01 06:16:59 2004-11-01 06:18:45     47,49      0.002025
...                    ...                 ...       ...           ...
565788 2004-12-06 11:48:29 2004-12-06 11:48:51     47,49      0.002373
567413 2004-12-06 13:36:47 2004-12-06 13:37:08     47,49      0.074954
567418 2004-12-06 13:37:23 2004-12-06 13:38:28     47,49      0.000174
567452 2004-12-06 13:39:48 2004-12-06 13:40:11     47,49      0.000926
567556 2004-12-06 13:44:49 2004-12-06 13:45:30     47,49      0.003218

[295 rows x 4 columns]
47,50
                     start                 end id_colums  intercontact
276533 2004-11-01 10:25:49 2004-11-01 10:26:04     47,50           NaN
276589 2004-11-01 10:30:12 2004-11-01 10:31:22     47,50      0.002870
276714 2004-11-01 10:36:15 2004-11-01 10:36:42     47,50      0.003391
279259 2004-11-01 12:31:25 2004-11-01 12:32:30     47,50      0.079664
279303 2004-11-01 12:33:28 2004-11-01 12:34:17     47,50      0.000671
...                    ...                 ...       ...           ...
566895 2004-12-06 12:53:49 2004-12-06 12:54:03     47,50      0.000486
566994 2004-12-06 13:00:01 2004-12-06 13:00:07     47,50      0.004144
567135 2004-12-06 13:11:15 2004-12-06 13:11:33     47,50      0.007731
567414 2004-12-06 13:37:08 2004-12-06 13:38:42     47,50      0.017766

5,14
                   start                 end id_colums  intercontact
3257 2004-08-25 14:36:18 2004-08-25 14:36:42      5,14           NaN
5,15
                     start                 end id_colums  intercontact
8775   2004-09-07 05:32:28 2004-09-07 05:37:19      5,15           NaN
8881   2004-09-07 06:23:30 2004-09-07 06:23:53      5,15      0.032072
9043   2004-09-07 07:50:05 2004-09-07 07:50:25      5,15      0.059861
9187   2004-09-07 08:28:59 2004-09-07 08:29:00      5,15      0.026782
9383   2004-09-07 09:28:14 2004-09-07 09:28:15      5,15      0.041134
...                    ...                 ...       ...           ...
782391 2005-04-28 09:14:09 2005-04-28 09:20:55      5,15      0.031343
782597 2005-04-28 11:58:14 2005-04-28 11:58:18      5,15      0.109248
783353 2005-04-29 09:04:56 2005-04-29 09:04:57      5,15      0.879606
783402 2005-04-29 09:29:08 2005-04-29 09:33:32      5,15      0.016794
783420 2005-04-29 09:43:59 2005-04-29 09:44:05      5,15      0.007257

[923 rows x 4 columns]
5,16
                     start                 end id_colums  intercontact
7628   2004-09-03 09:07:03 2004-09-03 09:07:21      5,16           NaN
7767   2004-09-03 10:14:02 2004-09-03 10:14:08      5,16      0.046308
8860   2004-09-07 05:57:57 2004-09-07 05:59:26      5,16      3.822095
9014   2004-09-07 07:42:33 2004-09-07 07:42:38      5,16      0.071609
9074   2004-09-07 07:54:38 2004-09-07 07:56:23      5,16      0.008333
...                    ...                 ...       ...           ...
782571 2005-04-28 11:51:56 2005-04-28 11:52:59      5,16      0.000370
782640 2005-04-28 12:09:23 2005-04-28 12:09:42      5,16      0.011389
782660 2005-04-28 12:11:43 2005-04-28 12:12:16      5,16      0.001400
782672 2005-04-28 12:12:55 2005-04-28 12:12:59      5,16      0.000451
783382 2005-04-29 09:15:56 2005-04-29 09:16:01      5,16      0.877049

[552 rows x 4 columns]
5,17
                     start                 end id_colums  intercontact
8877   2004-09-07 06:23:27 2004-09-07 06:23:36      5,17           NaN
8883   2004-09-07 06:26:32 2004-09-07 06:27:23      5,17      0.002037
8893   2004-09-07 06:31:04 2004-09-07 06:31:14      5,17      0.002558
8945   2004-09-07 06:52:59 2004-09-07 06:53:10      5,17      0.015104
8953   2004-09-07 06:54:31 2004-09-07 06:55:10      5,17      0.000937
...                    ...                 ...       ...           ...
784732 2005-05-03 11:33:07 2005-05-03 11:33:24      5,17      0.000590
784744 2005-05-03 11:49:36 2005-05-03 11:50:12      5,17      0.011250
784789 2005-05-03 12:20:06 2005-05-03 12:20:57      5,17      0.020764
784827 2005-05-03 12:49:45 2005-05-03 12:50:40      5,17      0.020000
784829 2005-05-03 12:51:12 2005-05-03 12:51:37      5,17      0.000370

[1663 rows x 4 columns]
5,18
                     start                 end id_colums  intercontact
6548   2004-09-02 10:41:54 2004-09-02 11:01:33      5,18           NaN
7585   2004-09-03 08:58:37 2004-09-03 08:59:14      5,18      0.914630
7786   2004-09-03 10:25:34 2004-09-03 10:25:35      5,18      0.059954
9333   2004-09-07 09:12:25 2004-09-07 09:12:26      5,18      3.949190
9380   2004-09-07 09:28:14 2004-09-07 09:28:15      5,18      0.010972
...                    ...                 ...       ...           ...
784195 2005-05-02 11:31:21 2005-05-02 11:31:44      5,18      0.000891
784196 2005-05-02 11:31:52 2005-05-02 11:32:07      5,18      0.000093
784207 2005-05-02 11:51:02 2005-05-02 11:51:38      5,18      0.013137
784749 2005-05-03 11:56:23 2005-05-03 11:58:02      5,18      1.003299
784826 2005-05-03 12:49:45 2005-05-03 12:51:12      5,18      0.035914

[1649 rows x 4 columns]
5,19
                     start                 end id_colums  intercontact
5693   2004-09-01 08:03:47 2004-09-01 08:04:08      5,19           NaN
8902   2004-09-07 06:33:18 2004-09-07 06:33:37      5,19      5.936921
8906   2004-09-07 06:33:49 2004-09-07 06:34:05      5,19      0.000139
8942   2004-09-07 06:51:09 2004-09-07 06:51:26      5,19      0.011852
8944   2004-09-07 06:52:35 2004-09-07 06:52:51      5,19      0.000799
...                    ...                 ...       ...           ...
674038 2005-01-17 09:56:42 2005-01-17 10:00:57      5,19      0.001123
674267 2005-01-17 10:54:58 2005-01-17 10:55:19      5,19      0.037512
674292 2005-01-17 11:04:09 2005-01-17 11:04:26      5,19      0.006134
674421 2005-01-17 12:12:31 2005-01-17 12:13:21      5,19      0.047280
674429 2005-01-17 12:15:24 2005-01-17 12:17:49      5,19      0.001424

[1128 rows x 4 columns]
5,20
                     start                 end id_colums  intercontact
7583   2004-09-03 08:58:37 2004-09-03 08:59:14      5,20           NaN
7604   2004-09-03 09:01:24 2004-09-03 09:01:31      5,20      0.001505
8661   2004-09-05 07:30:51 2004-09-05 07:31:17      5,20      1.937037
8725   2004-09-07 04:27:53 2004-09-07 04:28:07      5,20      1.872639
8728   2004-09-07 04:34:27 2004-09-07 04:34:36      5,20      0.004398
...                    ...                 ...       ...           ...
661926 2005-01-11 10:03:09 2005-01-11 10:03:32      5,20      0.087396
662598 2005-01-11 12:23:15 2005-01-11 12:23:19      5,20      0.097025
662708 2005-01-11 12:56:29 2005-01-11 12:58:16      5,20      0.023032
663538 2005-01-12 06:40:25 2005-01-12 06:41:54      5,20      0.737604
663553 2005-01-12 06:42:58 2005-01-12 06:44:07      5,20      0.000741

[587 rows x 4 columns]
5,21
                     start                 end id_colums  intercontact
8821   2004-09-07 05:45:05 2004-09-07 05:47:35      5,21           NaN
8861   2004-09-07 05:57:57 2004-09-07 05:59:26      5,21      0.007199
8863   2004-09-07 06:01:52 2004-09-07 06:03:29      5,21      0.001690
49722  2004-09-24 05:11:28 2004-09-24 05:11:56      5,21     16.963877
49804  2004-09-24 05:24:20 2004-09-24 05:24:38      5,21      0.008611
...                    ...                 ...       ...           ...
659187 2005-01-10 06:31:44 2005-01-10 06:31:53      5,21      0.007697
659447 2005-01-10 08:06:45 2005-01-10 08:09:43      5,21      0.065880
659697 2005-01-10 09:44:32 2005-01-10 09:44:35      5,21      0.065845
659769 2005-01-10 10:16:04 2005-01-10 10:16:09      5,21      0.021863
659785 2005-01-10 10:19:25 2005-01-10 10:19:35      5,21      0.002269

[540 rows x 4 columns]
5,22
                     start                 end id_colums  intercontact
738405 2005-03-08 04:02:11 2005-03-08 04:02:39      5,22           NaN
738485 2005-03-08 05:53:54 2005-03-08 05:54:03      5,22      0.077257
739515 2005-03-08 12:30:59 2005-03-08 12:31:56      5,22      0.275648
5,23
                     start                 end id_colums  intercontact
661980 2005-01-11 10:16:30 2005-01-11 10:16:40      5,23           NaN
662022 2005-01-11 10:19:38 2005-01-11 10:20:34      5,23      0.002060
663485 2005-01-12 06:29:33 2005-01-12 06:30:41      5,23      0.839572
663576 2005-01-12 06:48:16 2005-01-12 06:49:03      5,23      0.012211
663624 2005-01-12 07:01:27 2005-01-12 07:01:55      5,23      0.008611
663675 2005-01-12 07:14:00 2005-01-12 07:14:20      5,23      0.008391
664107 2005-01-12 08:23:53 2005-01-12 08:24:46      5,23      0.048299
664799 2005-01-12 10:52:48 2005-01-12 10:53:00      5,23      0.102801
664820 2005-01-12 10:57:57 2005-01-12 10:58:04      5,23      0.003438
664897 2005-01-12 11:13:32 2005-01-12 11:15:44      5,23      0.010741
664924 2005-01-12 11:19:51 2005-01-12 11:20:49      5,23      0.002859
665074 2005-01-12 12:06:30 2005-01-12 12:06:58      5,23      0.031725
665086 2005-01-12 12:10:06 2005-01-12 12:17:57      5,23      0.002176
665121 2005-01-12 12:22:29 2005-01-12 12:22:30      5,23      0.003148
665125 2005-01-12 12:23:21 2005-01-12 12:24:21      5,23      0.000590
667910 2005-01-13 12:02:25 2005-01-13 12:02:31      5,23      0.984769
667957 2005-01-13 12:05:07 2005-01-13 12:05:31      5,23      0.001806
677438 2005-01-19 04:22:17 2005-01-19 04:22:26      5,23      5.678310
677440 2005-01-19 04:24:31 2005-01-19 04:24:47      5,23      0.001447
677465 2005-01-19 04:33:03 2005-01-19 04:33:44      5,23      0.005741
677500 2005-01-19 04:42:39 2005-01-19 04:44:28      5,23      0.006192
677513 2005-01-19 04:45:32 2005-01-19 04:46:08      5,23      0.000741
677517 2005-01-19 04:46:12 2005-01-19 04:47:22      5,23      0.000046
677524 2005-01-19 04:51:34 2005-01-19 04:59:45      5,23      0.002917
677534 2005-01-19 05:00:01 2005-01-19 05:00:03      5,23      0.000185
677536 2005-01-19 05:00:17 2005-01-19 05:02:13      5,23      0.000162
677540 2005-01-19 05:03:13 2005-01-19 05:03:21      5,23      0.000694
677549 2005-01-19 05:07:44 2005-01-19 05:08:13      5,23      0.003044
677578 2005-01-19 05:13:12 2005-01-19 05:16:22      5,23      0.003461
677798 2005-01-19 06:26:30 2005-01-19 06:26:33      5,23      0.048704
677837 2005-01-19 06:30:52 2005-01-19 06:31:50      5,23      0.002998
679074 2005-01-19 09:17:35 2005-01-19 09:17:41      5,23      0.115104
679359 2005-01-19 09:51:48 2005-01-19 09:54:15      5,23      0.023692
679683 2005-01-19 11:15:52 2005-01-19 11:16:01      5,23      0.056678
679686 2005-01-19 11:16:34 2005-01-19 11:17:13      5,23      0.000382
679692 2005-01-19 11:17:23 2005-01-19 11:17:30      5,23      0.000116
679705 2005-01-19 11:20:20 2005-01-19 11:20:46      5,23      0.001968
679758 2005-01-19 11:28:44 2005-01-19 11:28:58      5,23      0.005532
679765 2005-01-19 11:29:28 2005-01-19 11:29:46      5,23      0.000347
692197 2005-01-27 04:11:21 2005-01-27 04:11:28      5,23      7.695544
692203 2005-01-27 04:15:50 2005-01-27 04:15:57      5,23      0.003032
692204 2005-01-27 04:16:16 2005-01-27 04:16:41      5,23      0.000220
692205 2005-01-27 04:18:03 2005-01-27 04:18:24      5,23      0.000949
694505 2005-01-27 11:22:08 2005-01-27 11:22:18      5,23      0.294259
694518 2005-01-27 11:28:48 2005-01-27 11:28:49      5,23      0.004514
694681 2005-01-27 12:06:41 2005-01-27 12:06:50      5,23      0.026296
5,24
                     start                 end id_colums  intercontact
370554 2004-11-15 06:00:22 2004-11-15 06:01:41      5,24           NaN
370920 2004-11-15 06:19:27 2004-11-15 06:19:48      5,24      0.012338
371985 2004-11-15 06:58:26 2004-11-15 06:58:27      5,24      0.026829
372347 2004-11-15 07:13:12 2004-11-15 07:18:25      5,24      0.010243
372463 2004-11-15 07:21:40 2004-11-15 07:21:57      5,24      0.002257
...                    ...                 ...       ...           ...
641473 2004-12-17 10:30:08 2004-12-17 10:31:51      5,24      0.001192
641706 2004-12-17 11:08:22 2004-12-17 11:09:22      5,24      0.025359
641712 2004-12-17 11:09:28 2004-12-17 11:10:52      5,24      0.000069
642074 2004-12-17 12:42:46 2004-12-17 12:42:53      5,24      0.063819
642110 2004-12-17 13:00:08 2004-12-17 13:00:10      5,24      0.011979

[346 rows x 4 columns]
5,25
                     start                 end id_colums  intercontact
9350   2004-09-07 09:22:05 2004-09-07 09:22:06      5,25           NaN
9390   2004-09-07 09:29:19 2004-09-07 09:29:53      5,25      0.005012
9398   2004-09-07 09:37:40 2004-09-07 09:37:58      5,25      0.005405
9444   2004-09-07 09:50:08 2004-09-07 09:50:53      5,25      0.008449
9750   2004-09-07 10:45:24 2004-09-07 10:45:47      5,25      0.037859
...                    ...                 ...       ...           ...
783921 2005-05-02 07:51:03 2005-05-02 07:56:59      5,25      0.002269
783926 2005-05-02 08:00:19 2005-05-02 08:00:36      5,25      0.002315
783938 2005-05-02 08:13:26 2005-05-02 08:14:39      5,25      0.008912
783957 2005-05-02 08:43:13 2005-05-02 08:43:23      5,25      0.019838
783982 2005-05-02 09:00:15 2005-05-02 09:00:24      5,25      0.011713

[257 rows x 4 columns]
5,27
                     start                 end id_colums  intercontact
11195  2004-09-08 11:24:46 2004-09-08 11:24:53      5,27           NaN
11202  2004-09-08 11:25:04 2004-09-08 11:25:38      5,27      0.000127
11253  2004-09-08 11:45:45 2004-09-08 11:45:48      5,27      0.013970
11326  2004-09-08 12:31:49 2004-09-08 12:31:50      5,27      0.031956
11349  2004-09-08 12:44:58 2004-09-08 12:45:32      5,27      0.009120
...                    ...                 ...       ...           ...
767858 2005-03-31 08:33:43 2005-03-31 08:34:30      5,27      0.000035
767871 2005-03-31 08:37:43 2005-03-31 08:37:56      5,27      0.002234
767944 2005-03-31 09:06:26 2005-03-31 09:06:52      5,27      0.019792
768325 2005-03-31 12:46:34 2005-03-31 12:46:35      5,27      0.152569
768349 2005-03-31 13:16:11 2005-03-31 13:17:22      5,27      0.020556

[588 rows x 4 columns]
5,28
                     start                 end id_colums  intercontact
12418  2004-09-09 11:21:28 2004-09-09 11:22:05      5,28           NaN
13643  2004-09-10 07:29:04 2004-09-10 07:29:05      5,28      0.838183
13649  2004-09-10 07:29:05 2004-09-10 07:29:06      5,28      0.000000
14455  2004-09-10 11:16:23 2004-09-10 11:16:25      5,28      0.157836
14737  2004-09-10 12:12:56 2004-09-10 12:12:58      5,28      0.039248
...                    ...                 ...       ...           ...
784504 2005-05-03 06:48:09 2005-05-03 06:48:34      5,28      0.001898
784618 2005-05-03 08:51:58 2005-05-03 08:52:38      5,28      0.085694
784625 2005-05-03 08:54:54 2005-05-03 08:55:18      5,28      0.001574
784632 2005-05-03 09:11:10 2005-05-03 09:15:07      5,28      0.011019
784986 2005-05-04 06:07:49 2005-05-04 06:08:06      5,28      0.869931

[502 rows x 4 columns]
5,29
                     start                 end id_colums  intercontact
14203  2004-09-10 10:07:26 2004-09-10 10:07:29      5,29           NaN
14244  2004-09-10 10:23:50 2004-09-10 10:24:05      5,29      0.011354
14250  2004-09-10 10:25:01 2004-09-10 10:27:13      5,29      0.000648
14281  2004-09-10 10:35:14 2004-09-10 10:35:32      5,29      0.005567
14283  2004-09-10 10:35:33 2004-09-10 10:36:16      5,29      0.000012
...                    ...                 ...       ...           ...
734784 2005-03-04 05:33:56 2005-03-04 05:33:57      5,29      0.743727
734836 2005-03-04 06:18:08 2005-03-04 06:18:17      5,29      0.030683
735075 2005-03-04 07:50:49 2005-03-04 07:50:58      5,29      0.064259
735550 2005-03-04 10:22:07 2005-03-04 10:22:15      5,29      0.104965
735666 2005-03-04 11:02:35 2005-03-04 11:02:40      5,29      0.028009

[1366 rows x 4 columns]
5,30
                     start                 end id_colums  intercontact
12340  2004-09-09 11:02:19 2004-09-09 11:02:31      5,30           NaN
12347  2004-09-09 11:02:59 2004-09-09 11:03:40      5,30      0.000324
12357  2004-09-09 11:05:10 2004-09-09 11:05:37      5,30      0.001042
13341  2004-09-10 06:04:29 2004-09-10 06:04:39      5,30      0.790880
13346  2004-09-10 06:05:47 2004-09-10 06:06:48      5,30      0.000787
...                    ...                 ...       ...           ...
288105 2004-11-02 09:33:12 2004-11-02 09:33:38      5,30      0.006586
288533 2004-11-02 09:49:36 2004-11-02 09:50:36      5,30      0.011088
288773 2004-11-02 09:54:55 2004-11-02 09:55:17      5,30      0.002998
288859 2004-11-02 09:59:26 2004-11-02 09:59:46      5,30      0.002882
288996 2004-11-02 10:03:47 2004-11-02 10:04:04      5,30      0.002789

[225 rows x 4 columns]
5,32
                     start                 end id_colums  intercontact
25303  2004-09-16 11:16:38 2004-09-16 11:17:26      5,32           NaN
25311  2004-09-16 11:18:37 2004-09-16 11:19:05      5,32      0.000822
25312  2004-09-16 11:19:49 2004-09-16 11:20:38      5,32      0.000509
25320  2004-09-16 11:23:35 2004-09-16 11:23:37      5,32      0.002049
25371  2004-09-16 11:37:23 2004-09-16 11:37:31      5,32      0.009560
...                    ...                 ...       ...           ...
785181 2005-05-04 09:41:11 2005-05-04 09:42:10      5,32      0.004583
785187 2005-05-04 09:47:01 2005-05-04 09:47:46      5,32      0.003368
785210 2005-05-04 10:01:23 2005-05-04 10:02:06      5,32      0.009456
785221 2005-05-04 10:08:28 2005-05-04 10:09:00      5,32      0.004421
785227 2005-05-04 10:11:02 2005-05-04 10:11:38      5,32      0.001412

[649 rows x 4 columns]
5,35
                     start                 end id_colums  intercontact
284300 2004-11-02 06:18:46 2004-11-02 06:18:52      5,35           NaN
284550 2004-11-02 06:29:29 2004-11-02 06:29:50      5,35      0.007373
284633 2004-11-02 06:31:56 2004-11-02 06:32:14      5,35      0.001458
285161 2004-11-02 07:01:28 2004-11-02 07:01:32      5,35      0.020301
285332 2004-11-02 07:11:45 2004-11-02 07:12:06      5,35      0.007095
...                    ...                 ...       ...           ...
561397 2004-12-06 07:51:16 2004-12-06 07:51:34      5,35      0.001979
562843 2004-12-06 09:14:57 2004-12-06 09:15:38      5,35      0.057905
564193 2004-12-06 10:23:15 2004-12-06 10:23:23      5,35      0.046956
564334 2004-12-06 10:30:42 2004-12-06 10:30:46      5,35      0.005081
564933 2004-12-06 10:57:10 2004-12-06 10:57:38      5,35      0.018333

[466 rows x 4 columns]
5,40
                     start                 end id_colums  intercontact
41425  2004-09-23 04:43:42 2004-09-23 04:45:30      5,40           NaN
41440  2004-09-23 04:50:40 2004-09-23 04:50:47      5,40      0.003588
41443  2004-09-23 04:50:47 2004-09-23 04:50:49      5,40      0.000000
41550  2004-09-23 05:23:10 2004-09-23 05:23:39      5,40      0.022465
44628  2004-09-23 10:54:41 2004-09-23 10:54:59      5,40      0.229884
...                    ...                 ...       ...           ...
784530 2005-05-03 07:20:21 2005-05-03 07:20:22      5,40      0.042384
784710 2005-05-03 10:51:29 2005-05-03 10:51:34      5,40      0.146609
784729 2005-05-03 11:26:56 2005-05-03 11:27:03      5,40      0.024560
784787 2005-05-03 12:20:02 2005-05-03 12:20:08      5,40      0.036794
784920 2005-05-03 16:01:01 2005-05-03 16:01:39      5,40      0.153391

[937 rows x 4 columns]
5,42
                     start                 end id_colums  intercontact
43831  2004-09-23 10:07:28 2004-09-23 10:07:30      5,42           NaN
44176  2004-09-23 10:25:54 2004-09-23 10:26:06      5,42      0.012778
44478  2004-09-23 10:42:43 2004-09-23 10:43:01      5,42      0.011539
44962  2004-09-23 11:08:09 2004-09-23 11:08:10      5,42      0.017454
45027  2004-09-23 11:11:05 2004-09-23 11:11:37      5,42      0.002025
...                    ...                 ...       ...           ...
530160 2004-12-02 08:32:38 2004-12-02 08:33:42      5,42      0.021667
530413 2004-12-02 08:40:25 2004-12-02 08:40:26      5,42      0.004664
531161 2004-12-02 09:03:03 2004-12-02 09:03:05      5,42      0.015706
532909 2004-12-02 10:19:56 2004-12-02 10:20:02      5,42      0.053368
532960 2004-12-02 10:22:19 2004-12-02 10:22:21      5,42      0.001586

[609 rows x 4 columns]
5,43
                     start                 end id_colums  intercontact
43548  2004-09-23 09:57:21 2004-09-23 09:58:01      5,43           NaN
43584  2004-09-23 09:58:32 2004-09-23 09:58:48      5,43      0.000359
51432  2004-09-24 07:55:54 2004-09-24 07:56:10      5,43      0.914653
51455  2004-09-24 07:56:20 2004-09-24 07:56:29      5,43      0.000116
51492  2004-09-24 07:57:52 2004-09-24 07:58:19      5,43      0.000961
...                    ...                 ...       ...           ...
559790 2004-12-06 06:15:03 2004-12-06 06:15:21      5,43      0.002014
559859 2004-12-06 06:19:55 2004-12-06 06:21:21      5,43      0.003171
559920 2004-12-06 06:22:38 2004-12-06 06:22:56      5,43      0.000891
560014 2004-12-06 06:27:36 2004-12-06 06:27:41      5,43      0.003241
560064 2004-12-06 06:29:44 2004-12-06 06:30:14      5,43      0.001424

[644 rows x 4 columns]
5,44
                     start                 end id_colums  intercontact
43993  2004-09-23 10:16:51 2004-09-23 10:17:39      5,44           NaN
44173  2004-09-23 10:25:36 2004-09-23 10:25:54      5,44      0.005521
44281  2004-09-23 10:29:47 2004-09-23 10:29:49      5,44      0.002697
44361  2004-09-23 10:34:19 2004-09-23 10:34:30      5,44      0.003125

[516 rows x 4 columns]
5,88
                     start                 end id_colums  intercontact
31325  2004-09-20 04:30:24 2004-09-20 04:30:53      5,88           NaN
31370  2004-09-20 04:39:07 2004-09-20 04:39:19      5,88      0.005718
31383  2004-09-20 04:41:21 2004-09-20 04:41:44      5,88      0.001412
31705  2004-09-20 05:56:35 2004-09-20 05:56:56      5,88      0.051979
31740  2004-09-20 06:04:07 2004-09-20 06:04:53      5,88      0.004988
...                    ...                 ...       ...           ...
400596 2004-11-17 05:36:02 2004-11-17 05:37:50      5,88      0.019028
400682 2004-11-17 05:43:54 2004-11-17 05:51:59      5,88      0.004213
404792 2004-11-17 09:39:56 2004-11-17 09:44:43      5,88      0.158299
406344 2004-11-17 10:47:53 2004-11-17 10:48:02      5,88      0.043866
406532 2004-11-17 10:54:45 2004-11-17 10:55:00      5,88      0.004664

[419 rows x 4 columns]
5,89
                    start                 end id_colums  intercontact
6983  2004-09-02 13:06:53 2004-09-02 13:07:43      5,89           NaN
6997  2004-09-02 13:08:40 2004-09-02 13:09:39      5,89      0.000660
7021  2004-09-02 13:14:47 2004-09-02 13:15:08      5,89      0.003565
9334  2004-09-07 09:12:25 2004-09-07 09:12:26      5,89      4.831447
9357  2004-09-07 09:23:13 2004-09-07 09:24:32      5,89      0.007488
9381  2004-09-07 09:28:14 2004-09-07 09:28:15      5,89      0.002569
9598  2004-09-07 10:22:21 2004-09-07 10:23:00      5,89      0.037569
9616  2004-09-07 10:24:56 2004-09-07 10:25:21      5,89      0.001343
9621  2004-09-07 10:25:24 2004-09-07 10:25:45      5,89      0.000035
11167 2004-09-08 11:07:07 2004-09-08 11:10:51      5,89      1.028727
11205 2004-09-08 11:26:41 2004-09-08 11:43:05      5,89      0.010995
19145 2004-09-14 10:03:59 2004-09-14 10:04:02      5,89      5.931181
19410 2004-09-14 11:00:05 2004-09-14 11:00:10      5,89      0.038924
19566 2004-09-14 11:25:10 2004-09-14 11:41:28      5,89      0.017361
19738 2004-09-14 11:48:11 2004-09-14 11:50:01      5,89      0.004664
20208 2004-09-14 12:36:11 2004-09-14 12:36:12      5,89      0.032060
20298 2004-09-14 13:01:15 2004-09-14 13:01:16      5,89      0.017396
22054 2004-09-15 09:25:24 2004-09-15 09:28:51      5,89      0.850093
22566 2004-09-15 11:10:55 2004-09-15 11:11:01      5,89      0.070880
25275 2004-09-16 11:11:55 2004-09-16 11:15:57      5,89      1.000625
25530 2004-09-16 12:05:16 2004-09-16 12:05:18      5,89      0.034248
27520 2004-09-17 07:55:14 2004-09-17 07:55:15      5,89      0.826343
27522 2004-09-17 07:55:15 2004-09-17 07:55:24      5,89      0.000000
27534 2004-09-17 07:56:00 2004-09-17 08:00:04      5,89      0.000417
27547 2004-09-17 08:00:04 2004-09-17 08:00:09      5,89      0.000000
27559 2004-09-17 08:01:33 2004-09-17 08:01:43      5,89      0.000972
27564 2004-09-17 08:02:10 2004-09-17 08:02:12      5,89      0.000313
27579 2004-09-17 08:06:30 2004-09-17 08:06:32      5,89      0.002986
28217 2004-09-17 11:09:39 2004-09-17 11:11:04      5,89      0.127164
28353 2004-09-17 11:29:31 2004-09-17 11:29:45      5,89      0.012812
28452 2004-09-17 11:44:04 2004-09-17 11:44:36      5,89      0.009942
28574 2004-09-17 12:04:42 2004-09-17 12:05:16      5,89      0.013958
28604 2004-09-17 12:11:17 2004-09-17 12:11:52      5,89      0.004178
28663 2004-09-17 12:17:01 2004-09-17 12:17:41      5,89      0.003576
28707 2004-09-17 12:20:07 2004-09-17 12:20:33      5,89      0.001690
28859 2004-09-17 12:34:32 2004-09-17 12:34:34      5,89      0.009711
28865 2004-09-17 12:35:06 2004-09-17 12:35:07      5,89      0.000370
28971 2004-09-17 12:49:05 2004-09-17 12:51:40      5,89      0.009699
31304 2004-09-20 04:20:49 2004-09-20 04:21:06      5,89      2.645243
32646 2004-09-20 09:25:17 2004-09-20 09:25:19      5,89      0.211238
32653 2004-09-20 09:26:38 2004-09-20 09:26:57      5,89      0.000914
32662 2004-09-20 09:27:05 2004-09-20 09:27:34      5,89      0.000093
32694 2004-09-20 09:30:47 2004-09-20 09:31:15      5,89      0.002234
33497 2004-09-20 11:13:49 2004-09-20 11:15:03      5,89      0.071227
33555 2004-09-20 11:16:33 2004-09-20 11:16:40      5,89      0.001042
33556 2004-09-20 11:16:52 2004-09-20 11:18:08      5,89      0.000139
5,9
                     start                 end id_colums  intercontact
287209 2004-11-02 09:03:32 2004-11-02 09:03:34       5,9           NaN
288464 2004-11-02 09:47:40 2004-11-02 09:47:45       5,9      0.030625
288643 2004-11-02 09:51:37 2004-11-02 09:52:27       5,9      0.002685
288797 2004-11-02 09:56:22 2004-11-02 09:57:29       5,9      0.002720
289078 2004-11-02 10:05:44 2004-11-02 10:06:23       5,9      0.005729
...                    ...                 ...       ...           ...
564915 2004-12-06 10:54:58 2004-12-06 10:54:59       5,9      0.002049
564936 2004-12-06 10:57:25 2004-12-06 10:57:44       5,9      0.001690
564962 2004-12-06 10:58:13 2004-12-06 10:58:32       5,9      0.000336
564973 2004-12-06 10:58:41 2004-12-06 10:58:45       5,9      0.000104
564977 2004-12-06 10:58:58 2004-12-06 10:59:47       5,9      0.000150

[491 rows x 4 columns]
50,52
                     start                 end id_colums  intercontact
277436 2004-11-01 11:08:41 2004-11-01 11:08:54     50,52           NaN
277566 2004-11-01 11:15:03 2004-11-01 11:15:51     50,52      0.004271
277620 2004-11-01 11:18:44 2004-11-01 11:19:31     50,52      0.002002
277722 2004-11-01 11:22:57 2004-11-01 11:24:21     50,52      0.002384
278733 2004-11-01 12:00:41 2004-11-01 12:01:27     50,52      0.025231
310409 2004-11-04 09:29:43 2004-11-04 10:04:57     50,52      2.894630
310822 2004-11-04 10:04:57 2004-11-04 10:23:41     50,52      0.000000
311089 2004-11-04 10:23:41 2004-11-04 10:58:52     50,52      0.000000
311806 2004-11-04 10:58:52 2004-11-04 10:59:05     50,52      0.000000
374296 2004-11-15 08:24:20 2004-11-15 08:24:28     50,52     10.892535
374633 2004-11-15 08:32:52 2004-11-15 08:35:25     50,52      0.005833
375892 2004-11-15 09:26:00 2004-11-15 09:26:24     50,52      0.035127
438338 2004-11-21 12:05:24 2004-11-21 12:05:42     50,52      6.110417
448835 2004-11-22 10:41:12 2004-11-22 10:41:47     50,52      0.941319
513000 2004-12-01 07:48:52 2004-12-01 07:49:15     50,52      8.879919
514263 2004-12-01 08:30:08 2004-12-01 08:31:29     50,52      0.028391
515979 2004-12-01 09:36:42 2004-12-01 10:22:11     50,52      0.045289
517073 2004-12-01 10:22:11 2004-12-01 10:30:40     50,52      0.000000
517268 2004-12-01 10:30:40 2004-12-01 10:36:40     50,52      0.000000
534250 2004-12-02 11:08:33 2004-12-02 11:09:06     50,52      1.022141
535937 2004-12-02 12:04:39 2004-12-02 12:05:52     50,52      0.038576
536141 2004-12-02 12:10:58 2004-12-02 12:11:13     50,52      0.003542
536599 2004-12-02 12:30:44 2004-12-02 12:30:50     50,52      0.013553
562030 2004-12-06 08:22:28 2004-12-06 08:23:04     50,52      3.827523
623415 2004-12-14 09:43:38 2004-12-14 09:44:00     50,52      8.055949
623467 2004-12-14 09:47:30 2004-12-14 09:47:59     50,52      0.002431
623481 2004-12-14 09:51:42 2004-12-14 09:54:13     50,52      0.002581
623863 2004-12-14 10:25:58 2004-12-14 10:54:08     50,52      0.022049
624211 2004-12-14 10:54:08 2004-12-14 11:00:26     50,52      0.000000
624583 2004-12-14 11:19:55 2004-12-14 11:20:10     50,52      0.013530
624654 2004-12-14 11:23:45 2004-12-14 11:26:06     50,52      0.002488
624772 2004-12-14 11:33:27 2004-12-14 11:33:59     50,52      0.005104
625530 2004-12-14 12:21:52 2004-12-14 12:25:01     50,52      0.033252
625697 2004-12-14 12:33:08 2004-12-14 12:33:18     50,52      0.005637
625752 2004-12-14 12:36:08 2004-12-14 12:37:10     50,52      0.001968
626216 2004-12-14 13:23:19 2004-12-14 13:23:20     50,52      0.032049
684217 2005-01-21 10:59:30 2005-01-21 11:03:32     50,52     37.900116
684290 2005-01-21 11:15:41 2005-01-21 11:16:16     50,52      0.008438
684297 2005-01-21 11:18:26 2005-01-21 11:30:58     50,52      0.001505
684314 2005-01-21 11:31:31 2005-01-21 11:32:04     50,52      0.000382
684319 2005-01-21 11:33:26 2005-01-21 11:34:01     50,52      0.000949
699081 2005-02-01 10:25:20 2005-02-01 10:25:27     50,52     10.952303
699085 2005-02-01 10:25:28 2005-02-01 10:30:45     50,52      0.000012
701569 2005-02-03 06:29:30 2005-02-03 06:30:00     50,52      1.832465
701867 2005-02-03 07:44:06 2005-02-03 07:45:31     50,52      0.051458
702017 2005-02-03 09:00:56 2005-02-03 09:01:50     50,52      0.052373
702126 2005-02-03 09:52:03 2005-02-03 10:01:51     50,52      0.034873
703258 2005-02-04 09:59:50 2005-02-04 10:00:32     50,52      0.998600
703315 2005-02-04 10:36:49 2005-02-04 11:12:25     50,52      0.025197
703452 2005-02-04 11:12:25 2005-02-04 11:30:48     50,52      0.000000
703497 2005-02-04 11:30:48 2005-02-04 11:59:51     50,52      0.000000
703599 2005-02-04 12:06:21 2005-02-04 12:24:46     50,52      0.004514
703639 2005-02-04 12:24:46 2005-02-04 12:29:47     50,52      0.000000
703695 2005-02-04 13:18:42 2005-02-04 13:22:08     50,52      0.033970
706765 2005-02-08 09:15:42 2005-02-08 09:15:58     50,52      3.828866
706775 2005-02-08 09:19:35 2005-02-08 09:19:52     50,52      0.002512
706856 2005-02-08 09:58:19 2005-02-08 10:09:36     50,52      0.026701
706956 2005-02-08 10:46:50 2005-02-08 10:47:21     50,52      0.025856
707189 2005-02-08 11:57:26 2005-02-08 12:05:22     50,52      0.048669
707510 2005-02-08 12:51:57 2005-02-08 12:56:07     50,52      0.032350
50,59
                     start                 end id_colums  intercontact
276532 2004-11-01 10:25:45 2004-11-01 10:26:04     50,59           NaN
276688 2004-11-01 10:34:49 2004-11-01 10:35:54     50,59      0.006076
276793 2004-11-01 10:42:08 2004-11-01 10:42:20     50,59      0.004329
277441 2004-11-01 11:09:03 2004-11-01 11:09:09     50,59      0.018553
278656 2004-11-01 11:58:13 2004-11-01 11:59:15     50,59      0.034074
...                    ...                 ...       ...           ...
740685 2005-03-09 13:39:10 2005-03-09 13:39:57     50,59      0.004988
741038 2005-03-10 06:13:58 2005-03-10 06:14:21     50,59      0.690289
741150 2005-03-10 07:35:41 2005-03-10 07:36:33     50,59      0.056481
741252 2005-03-10 08:25:48 2005-03-10 08:27:53     50,59      0.034201
741259 2005-03-10 08:29:54 2005-03-10 08:29:58     50,59      0.001400

[670 rows x 4 columns]
50,63
                     start                 end id_colums  intercontact
277782 2004-11-01 11:24:23 2004-11-01 11:34:32     50,63           NaN
278652 2004-11-01 11:57:38 2004-11-01 11:58:13     50,63      0.016042
278661 2004-11-01 11:58:17 2004-11-01 11:59:15     50,63      0.000046
278737 2004-11-01 12:00:43 2004-11-01 12:01:14     50,63      0.001019
278779 2004-11-01 12:02:37 2004-11-01 12:02:42     50,63      0.000961
...                    ...                 ...       ...           ...
741039 2005-03-10 06:18:43 2005-03-10 06:25:28     50,63      1.263935
741122 2005-03-10 07:13:08 2005-03-10 07:13:26     50,63      0.033102
741365 2005-03-10 09:00:34 2005-03-10 09:14:26     50,63      0.074398
741461 2005-03-10 09:54:27 2005-03-10 10:16:21     50,63      0.027789
741485 2005-03-10 10:16:21 2005-03-10 10:31:37     50,63      0.000000

[568 rows x 4 columns]
50,64
                     start                 end id_colums  intercontact
277286 2004-11-01 11:02:24 2004-11-01 11:02:25     50,64           NaN
277456 2004-11-01 11:10:00 2004-11-01 11:11:24     50,64      0.005266
277742 2004-11-01 11:23:35 2004-11-01 11:23:51     50,64      0.008461
277781 2004-11-01 11:24:23 2004-11-01 11:34:32     50,64      0.000370
278659 2004-11-01 11:58:13 2004-11-01 11:59:15     50,64      0.016447
...                    ...                 ...       ...           ...
668366 2005-01-13 14:26:33 2005-01-13 14:26:39     50,64      0.002245
668369 2005-01-13 14:27:11 2005-01-13 14:27:30     50,64      0.000370
669214 2005-01-14 07:14:34 2005-01-14 07:14:54     50,64      0.699352
669476 2005-01-14 07:43:40 2005-01-14 07:45:50     50,64      0.019977
669610 2005-01-14 07:54:22 2005-01-14 07:54:24     50,64      0.005926

[397 rows x 4 columns]
50,67
                    start                 end id_colums  intercontact
27994 2004-09-17 10:07:54 2004-09-17 10:09:11     50,67           NaN
28163 2004-09-17 10:59:59 2004-09-17 11:00:38     50,67      0.035278
28175 2004-09-17 11:01:54 2004-09-17 11:14:51     50,67      0.000880
28566 2004-09-17 12:03:59 2004-09-17 12:04:21     50,67      0.034120
28592 2004-09-17 12:07:46 2004-09-17 12:10:00     50,67      0.002373
50,73
                     start                 end id_colums  intercontact
290369 2004-11-02 10:57:02 2004-11-02 10:57:03     50,73           NaN
291180 2004-11-02 11:25:13 2004-11-02 11:26:35     50,73      0.019560
291587 2004-11-02 11:46:11 2004-11-02 11:46:44     50,73      0.013611
291665 2004-11-02 11:49:50 2004-11-02 11:50:28     50,73      0.002153
295001 2004-11-02 17:27:52 2004-11-02 17:31:38     50,73      0.234306
...                    ...                 ...       ...           ...
593845 2004-12-09 13:46:18 2004-12-09 13:47:16     50,73      0.007222
594084 2004-12-09 14:16:20 2004-12-09 14:17:29     50,73      0.020185
594132 2004-12-09 14:31:49 2004-12-09 14:33:44     50,73      0.009954
594148 2004-12-09 14:34:17 2004-12-09 14:37:58     50,73      0.000382
594437 2004-12-09 15:34:02 2004-12-09 15:38:06     50,73      0.038935

[434 rows x 4 columns]
50,74
                     start                 end id_colums  intercontact
140135 2004-10-12 08:28:50 2004-10-12 08:29:16     50,74           NaN
276911 2004-11-01 10:50:02 2004-11-01 10:50:11     50,74     20.097755
277432 2004-11-01 11:08:37 2004-11-01 11:09:43     50,74      0.012801
277784 2004-11-01 11:24:25 2004-11-01 11:24:48     50,74      0.010208
278493 2004-11-01 11:51:01 2004-11-01 11:51:21     50,74      0.018206
...                    ...                 ...       ...           ...
740649 2005-03-09 12:59:25 2005-03-09 13:00:43     50,74      0.001227
740660 2005-03-09 13:06:20 2005-03-09 13:06:53     50,74      0.003900
740677 2005-03-09 13:30:08 2005-03-09 13:30:19     50,74      0.016146
740681 2005-03-09 13:31:59 2005-03-09 13:32:16     50,74      0.001157
740686 2005-03-09 13:46:14 2005-03-09 13:46:31     50,74      0.009699

[510 rows x 4 columns]
50,78
                     start                 end id_colums  intercontact
276658 2004-11-01 10:34:00 2004-11-01 10:35:37     50,78           NaN
276712 2004-11-01 10:36:13 2004-11-01 10:36:45     50,78      0.000417
276769 2004-11-01 10:40:54 2004-11-01 10:41:47     50,78      0.002882
277415 2004-11-01 11:07:06 2004-11-01 11:08:18     50,78      0.017581
277646 2004-11-01 11:19:31 2004-11-01 11:22:35     50,78      0.007789
...                    ...                 ...       ...           ...
741155 2005-03-10 07:37:44 2005-03-10 07:38:08     50,78      0.011412
741159 2005-03-10 07:38:30 2005-03-10 07:39:21     50,78      0.000255
741183 2005-03-10 07:54:20 2005-03-10 07:54:29     50,78      0.010405
741193 2005-03-10 07:56:34 2005-03-10 07:57:00     50,78      0.001447
741509 2005-03-10 10:33:25 2005-03-10 10:33:45     50,78      0.108623

[996 rows x 4 columns]
50,84
                     start                 end id_colums  intercontact
276726 2004-11-01 10:36:45 2004-11-01 10:40:20     50,84           NaN
277326 2004-11-01 11:04:00 2004-11-01 11:07:06     50,84      0.016435
277454 2004-11-01 11:09:43 2004-11-01 11:10:00     50,84      0.001817
277463 2004-11-01 11:10:33 2004-11-01 11:11:24     50,84      0.000382
278528 2004-11-01 11:52:17 2004-11-01 11:52:18     50,84      0.028391
...                    ...                 ...       ...           ...
731059 2005-03-02 12:06:39 2005-03-02 12:07:16     50,84      0.021065
731083 2005-03-02 12:09:21 2005-03-02 12:11:12     50,84      0.001447
731159 2005-03-02 12:19:38 2005-03-02 12:26:27     50,84      0.005856
731442 2005-03-02 13:15:05 2005-03-02 13:15:22     50,84      0.033773
731565 2005-03-02 13:37:32 2005-03-02 13:37:44     50,84      0.015394

[1450 rows x 4 columns]
52,59
                     start                 end id_colums  intercontact
200979 2004-10-20 08:58:04 2004-10-20 08:58:10     52,59           NaN
201884 2004-10-20 11:05:45 2004-10-20 11:07:34     52,59      0.088600
201915 2004-10-20 11:09:29 2004-10-20 11:09:30     52,59      0.001331
202114 2004-10-20 11:22:56 2004-10-20 11:25:04     52,59      0.009329
236655 2004-10-26 09:25:21 2004-10-26 09:25:32     52,59      5.916863
...                    ...                 ...       ...           ...
709462 2005-02-09 10:50:20 2005-02-09 10:50:39     52,59      0.003576
709469 2005-02-09 10:51:51 2005-02-09 10:52:02     52,59      0.000833
709505 2005-02-09 11:05:39 2005-02-09 11:09:04     52,59      0.009456
709581 2005-02-09 11:39:51 2005-02-09 11:40:14     52,59      0.021377
709588 2005-02-09 11:42:48 2005-02-09 11:43:35     52,59      0.001782

[124 rows x 4 columns]
52,63
                     start                 end id_colums  intercontact
53204  2004-09-24 10:07:42 2004-09-24 10:07:59     52,63           NaN
53225  2004-09-24 10:09:03 2004-09-24 10:09:20     52,63      0.000741
53369  2004-09-24 10:20:16 2004-09-24 10:20:33     52,63      0.007593
53398  2004-09-24 10:22:38 2004-09-24 10:22:55     52,63      0.001447
53462  2004-09-24 10:29:17 2004-09-24 10:29:34     52,63      0.004421
...                    ...                 ...       ...           ...
702008 2005-02-03 08:58:01 2005-02-03 08:58:07     52,63      0.039919
702141 2005-02-03 10:01:51 2005-02-03 10:05:12     52,63      0.044259
703122 2005-02-04 09:27:57 2005-02-04 09:27:58     52,63      0.974132
703226 2005-02-04 09:49:19 2005-02-04 09:49:20     52,63      0.014826
707151 2005-02-08 11:41:03 2005-02-08 11:41:12     52,63      4.077581

[66 rows x 4 columns]
52,64
                     start                 end id_colums  intercontact
32730  2004-09-20 09:33:22 2004-09-20 09:40:04     52,64           NaN
34006  2004-09-20 12:03:10 2004-09-20 12:03:27     52,64      0.099375
34059  2004-09-20 12:11:29 2004-09-20 12:11:46     52,64      0.005579
34070  2004-09-20 12:12:46 2004-09-20 12:12:59     52,64      0.000694
58007  2004-09-27 05:06:30 2004-09-27 05:07:43     52,64      6.703831
...                    ...                 ...       ...           ...
624944 2004-12-14 11:47:43 2004-12-14 11:51:20     52,64      0.017130
629372 2004-12-15 08:02:42 2004-12-15 08:02:59     52,64      0.841227
631132 2004-12-15 10:10:25 2004-12-15 10:10:36     52,64      0.088495
631354 2004-12-15 10:33:59 2004-12-15 10:34:15     52,64      0.016238
680011 2005-01-19 12:26:52 2005-01-19 12:27:49     52,64     35.078206

[73 rows x 4 columns]
52,73
                     start                 end id_colums  intercontact
52708  2004-09-24 09:39:08 2004-09-24 09:44:56     52,73           NaN
53557  2004-09-24 10:42:12 2004-09-24 10:42:15     52,73      0.039769
53618  2004-09-24 10:46:18 2004-09-24 10:46:40     52,73      0.002812
53623  2004-09-24 10:48:21 2004-09-24 10:48:47     52,73      0.001169
53685  2004-09-24 10:55:11 2004-09-24 10:55:34     52,73      0.004444
53810  2004-09-24 11:10:59 2004-09-24 11:11:22     52,73      0.010706
54015  2004-09-24 11:36:12 2004-09-24 11:36:16     52,73      0.017245
54369  2004-09-24 12:11:51 2004-09-24 12:12:09     52,73      0.024711
54397  2004-09-24 12:13:29 2004-09-24 12:13:37     52,73      0.000926
54476  2004-09-24 12:18:53 2004-09-24 12:19:00     52,73      0.003657
54495  2004-09-24 12:20:18 2004-09-24 12:20:41     52,73      0.000903
54500  2004-09-24 12:20:45 2004-09-24 12:21:24     52,73      0.000046
54514  2004-09-24 12:22:01 2004-09-24 12:22:27     52,73      0.000428
54532  2004-09-24 12:22:41 2004-09-24 12:28:50     52,73      0.000162
54675  2004-09-24 12:32:07 2004-09-24 12:32:32     52,73      0.002280
54683  2004-09-24 12:33:49 2004-09-24 12:34:01     52,73      0.000891
58018  2004-09-27 05:07:43 2004-09-27 05:08:19     52,73      2.690069

[917 rows x 4 columns]
54,68
                     start                 end id_colums  intercontact
182561 2004-10-18 12:39:51 2004-10-18 12:39:58     54,68           NaN
184104 2004-10-18 14:34:21 2004-10-18 14:34:26     54,68      0.079433
184122 2004-10-18 14:36:45 2004-10-18 14:36:46     54,68      0.001609
184175 2004-10-18 14:41:16 2004-10-18 14:41:37     54,68      0.003125
185521 2004-10-18 18:52:40 2004-10-18 18:52:43     54,68      0.174340
...                    ...                 ...       ...           ...
479477 2004-11-28 05:56:03 2004-11-28 05:58:00     54,68      0.115093
479478 2004-11-28 05:58:43 2004-11-28 05:59:31     54,68      0.000498
479484 2004-11-28 06:02:26 2004-11-28 06:02:31     54,68      0.002025
479487 2004-11-28 06:07:43 2004-11-28 06:08:58     54,68      0.003611
479507 2004-11-28 06:46:38 2004-11-28 06:46:50     54,68      0.026157

[234 rows x 4 columns]
54,69
                     start                 end id_colums  intercontact
120411 2004-10-07 08:52:49 2004-10-07 08:53:15     54,69           NaN
120970 2004-10-07 09:26:01 2004-10-07 09:26:46     54,69      0.022755
121000 2004-10-07 09:26:52 2004-10-07 09:27:08     54,69      0.000069
121022 2004-10-07 09:27:16 2004-10-07 09:27:27     54,69      0.000093
121036 2004-10-07 09:27:43 2004-10-07 09:27:44     54,69      0.000185
...                    ...                 ...       ...           ...
465549 2004-11-23 11:41:00 2004-11-23 11:41:02     54,69      0.002454
466797 2004-11-23 12:23:50 2004-11-23 12:24:05     54,69      0.029722
467569 2004-11-23 12:51:17 2004-11-23 12:51:30     54,69      0.018889
467579 2004-11-23 12:51:55 2004-11-23 12:52:46     54,69      0.000289
469223 2004-11-23 14:01:31 2004-11-23 14:01:36     54,69      0.047743

[455 rows x 4 columns]
54,71
                     start                 end id_colums  intercontact
111579 2004-10-06 08:56:54 2004-10-06 08:57:05     54,71           NaN
111679 2004-10-06 09:08:40 2004-10-06 09:09:04     54,71      0.008044
111691 2004-10-06 09:10:22 2004-10-06 09:10:40     54,71      0.000903
111898 2004-10-06 09:33:18 2004-10-06 09:34:15     54,71      0.015718
111922 2004-10-06 09:34:48 2004-10-06 09:35:11     54,71      0.000382
...                    ...                 ...       ...           ...
639180 2004-12-16 13:20:39 2004-12-16 13:21:20     54,71      0.002188
639203 2004-12-16 13:22:14 2004-12-16 13:22:47     54,71      0.000625
639282 2004-12-16 13:29:15 2004-12-16 13:29:25     54,71      0.004491
639320 2004-12-16 13:31:06 2004-12-16 13:31:07     54,71      0.001169
639327 2004-12-16 13:31:54 2004-12-16 13:32:12     54,71      0.000544

[696 rows x 4 columns]
54,72
                     start                 end id_colums  intercontact
274709 2004-11-01 08:50:28 2004-11-01 08:55:48     54,72           NaN
275007 2004-11-01 09:05:00 2004-11-01 09:05:05     54,72      0.006389
275205 2004-11-01 09:20:23 2004-11-01 09:21:09     54,72      0.010625
275313 2004-11-01 09:29:24 2004-11-01 09:29:47     54,72      0.005729
275734 2004-11-01 09:43:25 2004-11-01 09:43:35     54,72      0.009468
...                    ...                 ...       ...           ...
649132 2004-12-29 11:03:51 2004-12-29 11:04:48     54,72      0.004514
649138 2004-12-29 11:15:25 2004-12-29 11:15:42     54,72      0.007373
649139 2004-12-29 11:15:46 2004-12-29 11:16:11     54,72      0.000046
649141 2004-12-29 11:17:20 2004-12-29 11:18:33     54,72      0.000799
649146 2004-12-29 11:24:14 2004-12-29 11:26:22     54,72      0.003947

[243 rows x 4 columns]
54,75
                     start                 end id_colums  intercontact
115256 2004-10-06 13:40:31 2004-10-06 13:40:36     54,75           NaN
115290 2004-10-06 13:42:55 2004-10-06 13:43:17     54,75      0.001609
115297 2004-10-06 13:43:34 2004-10-06 13:43:36     54,75      0.000197
115945 2004-10-06 15:40:03 2004-10-06 15:40:27     54,75      0.080868
115991 2004-10-06 15:49:25 2004-10-06 15:50:14     54,75      0.006227
...                    ...                 ...       ...           ...
557832 2004-12-05 19:49:08 2004-12-05 19:49:53     54,75      0.001065
557841 2004-12-05 19:53:10 2004-12-05 19:53:28     54,75      0.002280
569232 2004-12-07 03:14:45 2004-12-07 03:15:02     54,75      1.306447
634419 2004-12-15 15:58:18 2004-12-15 15:58:41     54,75      8.530046
641980 2004-12-17 12:13:47 2004-12-17 12:14:34     54,75      1.843819

[104 rows x 4 columns]
54,76
                     start                 end id_colums  intercontact
178438 2004-10-18 07:30:57 2004-10-18 07:31:25     54,76           NaN
185080 2004-10-18 17:31:15 2004-10-18 17:31:20     54,76      0.416551
185300 2004-10-18 18:08:17 2004-10-18 18:08:19     54,76      0.025660
185600 2004-10-18 19:25:37 2004-10-18 19:25:46     54,76      0.053681
185669 2004-10-18 20:18:25 2004-10-18 20:18:26     54,76      0.036562
...                    ...                 ...       ...           ...
642055 2004-12-17 12:36:53 2004-12-17 12:37:14     54,76      0.000359
642059 2004-12-17 12:38:24 2004-12-17 12:38:33     54,76      0.000810
642073 2004-12-17 12:41:45 2004-12-17 12:42:45     54,76      0.002222
642164 2004-12-17 13:31:03 2004-12-17 13:31:05     54,76      0.033542
642269 2004-12-17 14:28:54 2004-12-17 14:31:16     54,76      0.040150

[307 rows x 4 columns]
54,78
                    start                 end id_colums  intercontact
42083 2004-09-23 07:08:14 2004-09-23 07:08:31     54,78           NaN
42160 2004-09-23 07:14:04 2004-09-23 07:14:09     54,78      0.003854
54,79
                     start                 end id_colums  intercontact
152121 2004-10-13 10:37:57 2004-10-13 10:38:23     54,79           NaN
152307 2004-10-13 10:51:04 2004-10-13 10:51:05     54,79      0.008808
157765 2004-10-14 08:17:21 2004-10-14 08:17:23     54,79      0.893241
159010 2004-10-14 09:44:20 2004-10-14 09:44:22     54,79      0.060382
159547 2004-10-14 10:38:57 2004-10-14 10:38:58     54,79      0.037905
...                    ...                 ...       ...           ...
685483 2005-01-23 14:55:27 2005-01-23 14:55:43     54,79      0.005359
685486 2005-01-23 15:09:09 2005-01-23 15:09:21     54,79      0.009329
685487 2005-01-23 15:12:03 2005-01-23 15:12:30     54,79      0.001875
685488 2005-01-23 15:14:36 2005-01-23 15:14:55     54,79      0.001458
685490 2005-01-23 15:33:57 2005-01-23 15:37:05     54,79      0.013218

[459 rows x 4 columns]
54,80
                     start                 end id_colums  intercontact
111355 2004-10-06 08:41:30 2004-10-06 08:42:17     54,80           NaN
111447 2004-10-06 08:46:59 2004-10-06 08:47:36     54,80      0.003264
111497 2004-10-06 08:50:07 2004-10-06 08:50:15     54,80      0.001748
111500 2004-10-06 08:50:24 2004-10-06 08:51:38     54,80      0.000104
111954 2004-10-06 09:35:24 2004-10-06 09:35:28     54,80      0.030394
...                    ...                 ...       ...           ...
281945 2004-11-01 17:38:02 2004-11-01 17:46:02     54,80      0.060370
281971 2004-11-01 17:47:25 2004-11-01 17:48:21     54,80      0.000961
281980 2004-11-01 17:51:19 2004-11-01 17:52:07     54,80      0.002060
281987 2004-11-01 17:53:42 2004-11-01 17:53:55     54,80      0.001100
281990 2004-11-01 17:55:16 2004-11-01 17:55:20     54,80      0.000937

[193 rows x 4 columns]
54,81
                     start                 end id_colums  intercontact
281562 2004-11-01 15:53:49 2004-11-01 15:54:16     54,81           NaN
281596 2004-11-01 16:03:25 2004-11-01 16:03:45     54,81      0.006354
281599 2004-11-01 16:03:45 2004-11-01 16:04:36     54,81      0.000000
281632 2004-11-01 16:15:01 2004-11-01 16:15:03     54,81      0.007234
282167 2004-11-01 19:05:46 2004-11-01 19:06:11     54,81      0.118553
...                    ...                 ...       ...           ...
685536 2005-01-23 17:29:25 2005-01-23 17:29:52     54,81      0.026690
685550 2005-01-23 18:31:22 2005-01-23 18:31:39     54,81      0.042708
685552 2005-01-23 18:49:30 2005-01-23 18:50:04     54,81      0.012396
685553 2005-01-23 18:50:04 2005-01-23 18:50:30     54,81      0.000000
685555 2005-01-23 18:52:08 2005-01-23 18:52:28     54,81      0.001134

[344 rows x 4 columns]
54,82
                     start                 end id_colums  intercontact
43408  2004-09-23 09:52:27 2004-09-23 09:52:59     54,82           NaN
43739  2004-09-23 10:02:12 2004-09-23 10:02:43     54,82      0.006400
43757  2004-09-23 10:03:00 2004-09-23 10:03:47     54,82      0.000197
43819  2004-09-23 10:06:34 2004-09-23 10:07:26     54,82      0.001933
43847  2004-09-23 10:08:04 2004-09-23 10:10:00     54,82      0.000440
...                    ...                 ...       ...           ...
567737 2004-12-06 14:03:14 2004-12-06 14:04:17     54,82      0.011296
568114 2004-12-06 15:03:27 2004-12-06 15:03:37     54,82      0.041088
569189 2004-12-07 02:56:05 2004-12-07 02:57:26     54,82      0.494769
569209 2004-12-07 03:01:43 2004-12-07 03:01:54     54,82      0.002975
569246 2004-12-07 03:19:09 2004-12-07 03:19:27     54,82      0.011979

[901 rows x 4 columns]
54,83
                     start                 end id_colums  intercontact
43288  2004-09-23 09:47:44 2004-09-23 09:49:47     54,83           NaN
43741  2004-09-23 10:02:12 2004-09-23 10:02:43     54,83      0.008623
43805  2004-09-23 10:06:13 2004-09-23 10:06:29     54,83      0.002431
43822  2004-09-23 10:06:44 2004-09-23 10:07:39     54,83      0.000174
43912  2004-09-23 10:13:04 2004-09-23 10:14:06     54,83      0.003762
...                    ...                 ...       ...           ...
280252 2004-11-01 13:17:38 2004-11-01 13:21:10     54,83      0.073067
280536 2004-11-01 13:37:35 2004-11-01 13:38:32     54,83      0.011400
280696 2004-11-01 13:51:41 2004-11-01 13:51:42     54,83      0.009132
304629 2004-11-03 15:25:29 2004-11-03 15:25:48     54,83      2.065127
304764 2004-11-03 15:47:21 2004-11-03 15:47:43     54,83      0.014965

[102 rows x 4 columns]
54,85
                     start                 end id_colums  intercontact
255543 2004-10-28 09:03:30 2004-10-28 09:03:35     54,85           NaN
256031 2004-10-28 09:38:19 2004-10-28 09:38:51     54,85      0.024120
256218 2004-10-28 09:52:38 2004-10-28 09:52:40     54,85      0.009572
260327 2004-10-28 16:00:03 2004-10-28 16:00:07     54,85      0.255127
260329 2004-10-28 16:01:43 2004-10-28 16:02:36     54,85      0.001111
...                    ...                 ...       ...           ...
646611 2004-12-21 10:38:29 2004-12-21 10:38:37     54,85      0.000231
646613 2004-12-21 10:38:39 2004-12-21 10:38:54     54,85      0.000023
646614 2004-12-21 10:39:01 2004-12-21 10:39:20     54,85      0.000081
646877 2004-12-21 12:21:16 2004-12-21 12:22:53     54,85      0.070787
646899 2004-12-21 12:25:17 2004-12-21 12:55:09     54,85      0.001667

[479 rows x 4 columns]
54,86
                     start                 end id_colums  intercontact
33220  2004-09-20 10:51:06 2004-09-20 10:52:25     54,86           NaN
33319  2004-09-20 11:02:00 2004-09-20 11:03:53     54,86      0.006655
33580  2004-09-20 11:18:38 2004-09-20 11:18:43     54,86      0.010243
33644  2004-09-20 11:27:37 2004-09-20 11:27:39     54,86      0.006181
33976  2004-09-20 11:58:08 2004-09-20 11:58:10     54,86      0.021169
...                    ...                 ...       ...           ...
585306 2004-12-08 14:17:38 2004-12-08 14:17:45     54,86      0.004850
587128 2004-12-08 20:36:49 2004-12-08 20:36:51     54,86      0.263241
587139 2004-12-08 20:42:09 2004-12-08 20:42:11     54,86      0.003681
587141 2004-12-08 20:43:26 2004-12-08 20:43:28     54,86      0.000868
587147 2004-12-08 20:49:10 2004-12-08 20:49:12     54,86      0.003958

[243 rows x 4 columns]
54,87
                     start                 end id_colums  intercontact
238189 2004-10-26 11:11:58 2004-10-26 11:12:02     54,87           NaN
238796 2004-10-26 11:51:42 2004-10-26 11:52:43     54,87      0.027546
238822 2004-10-26 11:52:49 2004-10-26 11:55:23     54,87      0.000069
239760 2004-10-26 12:53:14 2004-10-26 12:53:16     54,87      0.040174
239826 2004-10-26 13:01:09 2004-10-26 13:01:56     54,87      0.005475
...                    ...                 ...       ...           ...
643296 2004-12-18 20:23:30 2004-12-18 20:28:53     54,87      0.003519
643298 2004-12-18 20:34:59 2004-12-18 20:36:39     54,87      0.004236
643301 2004-12-18 20:43:18 2004-12-18 20:43:41     54,87      0.004618
643302 2004-12-18 20:47:42 2004-12-18 20:47:59     54,87      0.002789
647238 2004-12-21 18:31:00 2004-12-21 18:31:25     54,87      2.904873

[331 rows x 4 columns]
54,88
                     start                 end id_colums  intercontact
32910  2004-09-20 10:15:30 2004-09-20 10:15:32     54,88           NaN
32949  2004-09-20 10:19:18 2004-09-20 10:19:33     54,88      0.002616
32957  2004-09-20 10:19:34 2004-09-20 10:21:35     54,88      0.000012
32970  2004-09-20 10:23:11 2004-09-20 10:23:12     54,88      0.001111
33059  2004-09-20 10:33:31 2004-09-20 10:33:38     54,88      0.007164
...                    ...                 ...       ...           ...
404869 2004-11-17 09:42:11 2004-11-17 09:49:44     54,88      0.001563
406529 2004-11-17 10:54:39 2004-11-17 11:30:46     54,88      0.045081
407627 2004-11-17 11:31:03 2004-11-17 11:31:05     54,88      0.000197
408918 2004-11-17 12:31:45 2004-11-17 12:32:06     54,88      0.042130
409715 2004-11-17 13:26:48 2004-11-17 13:26:53     54,88      0.037986

[487 rows x 4 columns]
54,89
                    start                 end id_colums  intercontact
33337 2004-09-20 11:03:53 2004-09-20 11:04:04     54,89           NaN
33361 2004-09-20 11:05:52 2004-09-20 11:06:48     54,89       0.00125
55,56
                     start                 end id_colums  intercontact
43151  2004-09-23 09:30:55 2004-09-23 09:30:57     55,56           NaN
43202  2004-09-23 09:37:16 2004-09-23 09:38:12     55,56      0.004387
43263  2004-09-23 09:45:14 2004-09-23 09:46:40     55,56      0.004884
57445  2004-09-26 14:44:53 2004-09-26 14:44:55     55,56      3.207095
57451  2004-09-26 14:49:43 2004-09-26 14:49:45     55,56      0.003333
...                    ...                 ...       ...           ...
290691 2004-11-02 11:07:16 2004-11-02 11:09:03     55,56      0.054167
290785 2004-11-02 11:11:04 2004-11-02 11:11:13     55,56      0.001400
291541 2004-11-02 11:43:14 2004-11-02 11:43:16     55,56      0.022234
292638 2004-11-02 12:37:12 2004-11-02 12:37:22     55,56      0.037454
292648 2004-11-02 12:37:33 2004-11-02 12:37:57     55,56      0.000127

[360 rows x 4 columns]
55,58
                     start                 end id_colums  intercontact
143150 2004-10-12 12:21:07 2004-10-12 12:24:04     55,58           NaN
143591 2004-10-12 12:38:05 2004-10-12 12:38:42     55,58      0.009734
145891 2004-10-12 17:25:55 2004-10-12 17:26:16     55,58      0.199456
145946 2004-10-12 17:36:57 2004-10-12 17:41:51     55,58      0.007419
149285 2004-10-13 07:36:36 2004-10-13 07:36:44     55,58      0.579688
...                    ...                 ...       ...           ...
647416 2004-12-22 05:38:18 2004-12-22 05:38:36     55,58      0.441840
647435 2004-12-22 05:46:38 2004-12-22 05:46:51     55,58      0.005579
647445 2004-12-22 05:49:18 2004-12-22 05:49:47     55,58      0.001701
647458 2004-12-22 05:54:29 2004-12-22 05:58:20     55,58      0.003264
648066 2004-12-22 11:55:18 2004-12-22 11:55:22     55,58      0.247894

[527 rows x 4 columns]
55,59
                     start                 end id_colums  intercontact
198330 2004-10-20 03:24:54 2004-10-20 03:25:03     55,59           NaN
206944 2004-10-21 07:13:40 2004-10-21 07:13:51     55,59      1.158762
212009 2004-10-21 14:33:04 2004-10-21 14:33:07     55,59      0.305012
223680 2004-10-25 06:00:42 2004-10-25 06:01:38     55,59      3.644155
227144 2004-10-25 09:56:11 2004-10-25 09:56:17     55,59      0.162882
...                    ...                 ...       ...           ...
745470 2005-03-14 12:47:32 2005-03-14 12:47:49     55,59      0.157546
745471 2005-03-14 12:48:45 2005-03-14 12:49:33     55,59      0.000648
745473 2005-03-14 12:50:33 2005-03-14 12:50:41     55,59      0.000694
747127 2005-03-15 11:56:06 2005-03-15 11:56:07     55,59      0.962095
747520 2005-03-15 13:22:36 2005-03-15 13:22:57     55,59      0.060058

[183 rows x 4 columns]
55,60
                     start                 end id_colums  intercontact
43294  2004-09-23 09:48:18 2004-09-23 09:50:28     55,60           NaN
43525  2004-09-23 09:56:12 2004-09-23 09:57:39     55,60      0.003981
45442  2004-09-23 11:33:22 2004-09-23 11:35:20     55,60      0.066470
47584  2004-09-23 13:54:27 2004-09-23 13:54:29     55,60      0.096609
57493  2004-09-26 15:18:39 2004-09-26 15:19:01     55,60      3.058449
...                    ...                 ...       ...           ...
782935 2005-04-28 15:27:11 2005-04-28 15:27:35     55,60      0.005150
783037 2005-04-28 20:17:04 2005-04-28 20:17:25     55,60      0.201030
783038 2005-04-28 20:18:05 2005-04-28 20:18:31     55,60      0.000463
783645 2005-04-30 11:32:32 2005-04-30 11:32:50     55,60      1.634734
783651 2005-04-30 11:58:56 2005-04-30 11:59:11     55,60      0.018125

[614 rows x 4 columns]
55,61
                     start                 end id_colums  intercontact
43150  2004-09-23 09:30:55 2004-09-23 09:30:57     55,61           NaN
43171  2004-09-23 09:34:30 2004-09-23 09:34:57     55,61      0.002465
43188  2004-09-23 09:35:59 2004-09-23 09:36:25     55,61      0.000718
43264  2004-09-23 09:45:14 2004-09-23 09:46:22     55,61      0.006123
43279  2004-09-23 09:46:40 2004-09-23 09:46:50     55,61      0.000208
...                    ...                 ...       ...           ...
555608 2004-12-05 10:26:59 2004-12-05 10:27:12     55,61      2.145023
555626 2004-12-05 10:27:22 2004-12-05 10:27:52     55,61      0.000116
556325 2004-12-05 11:39:49 2004-12-05 11:40:05     55,61      0.049965
556383 2004-12-05 11:47:56 2004-12-05 11:48:03     55,61      0.005451
556740 2004-12-05 13:11:41 2004-12-05 13:13:17     55,61      0.058079

[353 rows x 4 columns]
55,62
                     start                 end id_colums  intercontact
57779  2004-09-27 03:19:13 2004-09-27 03:19:25     55,62           NaN
57785  2004-09-27 03:23:34 2004-09-27 03:24:08     55,62      0.002882
57786  2004-09-27 03:25:13 2004-09-27 03:25:32     55,62      0.000752
57788  2004-09-27 03:30:44 2004-09-27 03:31:25     55,62      0.003611
57792  2004-09-27 03:32:02 2004-09-27 03:32:23     55,62      0.000428
...                    ...                 ...       ...           ...
540026 2004-12-03 06:30:23 2004-12-03 06:30:26     55,62      0.000486
540190 2004-12-03 06:43:07 2004-12-03 06:43:52     55,62      0.008808
540247 2004-12-03 06:46:55 2004-12-03 06:49:45     55,62      0.002118
540476 2004-12-03 06:58:36 2004-12-03 06:58:47     55,62      0.006146
540496 2004-12-03 06:58:59 2004-12-03 06:59:21     55,62      0.000139

[1118 rows x 4 columns]
55,66
                     start                 end id_colums  intercontact
43302  2004-09-23 09:48:31 2004-09-23 09:50:28     55,66           NaN
43420  2004-09-23 09:53:02 2004-09-23 09:53:23     55,66      0.001782
43571  2004-09-23 09:57:41 2004-09-23 09:58:18     55,66      0.002986
44890  2004-09-23 11:04:02 2004-09-23 11:04:44     55,66      0.045648
44958  2004-09-23 11:07:52 2004-09-23 11:08:10     55,66      0.002176
...                    ...                 ...       ...           ...
783278 2005-04-29 08:04:26 2005-04-29 08:05:15     55,66      0.000266
783289 2005-04-29 08:09:57 2005-04-29 08:10:07     55,66      0.003264
783290 2005-04-29 08:10:31 2005-04-29 08:10:51     55,66      0.000278
783291 2005-04-29 08:10:59 2005-04-29 08:11:18     55,66      0.000093
783727 2005-05-01 14:01:17 2005-05-01 14:01:33     55,66      2.243044

[1858 rows x 4 columns]
55,68
                     start                 end id_colums  intercontact

56,79
                     start                 end id_colums  intercontact
154038 2004-10-13 13:17:22 2004-10-13 13:17:26     56,79           NaN
157777 2004-10-14 08:17:41 2004-10-14 08:18:37     56,79      0.791840
158130 2004-10-14 08:43:44 2004-10-14 08:43:45     56,79      0.017442
159011 2004-10-14 09:44:20 2004-10-14 09:44:22     56,79      0.042072
162226 2004-10-14 13:10:11 2004-10-14 13:10:12     56,79      0.142928
162804 2004-10-14 13:42:43 2004-10-14 13:42:45     56,79      0.022581
162865 2004-10-14 13:43:58 2004-10-14 13:44:33     56,79      0.000845
170383 2004-10-15 12:50:17 2004-10-15 12:50:35     56,79      0.962315
170442 2004-10-15 12:57:08 2004-10-15 12:57:29     56,79      0.004549
178172 2004-10-18 07:19:54 2004-10-18 07:20:21     56,79      2.765567
178287 2004-10-18 07:26:50 2004-10-18 07:27:09     56,79      0.004502
178338 2004-10-18 07:28:26 2004-10-18 07:28:39     56,79      0.000891
192266 2004-10-19 10:37:52 2004-10-19 10:37:54     56,79      1.131400
192574 2004-10-19 10:49:12 2004-10-19 10:49:15     56,79      0.007847
192585 2004-10-19 10:49:15 2004-10-19 10:49:18     56,79      0.000000
192586 2004-10-19 10:49:18 2004-10-19 10:51:16     56,79      0.000000
192646 2004-10-19 10:53:01 2004-10-19 10:53:06     56,79      0.001215
192691 2004-10-19 10:56:04 2004-10-19 10:56:10     56,79      0.002060
193002 2004-10-19 11:08:09 2004-10-19 11:08:11     56,79      0.008322
193187 2004-10-19 11:16:07 2004-10-19 11:16:09     56,79      0.005509
193360 2004-10-19 11:24:06 2004-10-19 11:24:07     56,79      0.005521
193491 2004-10-19 11:33:05 2004-10-19 11:33:07     56,79      0.006227
194986 2004-10-19 13:07:02 2004-10-19 13:07:11     56,79      0.065220
196725 2004-10-19 14:47:17 2004-10-19 14:47:23     56,79      0.069514
201730 2004-10-20 10:52:40 2004-10-20 10:52:48     56,79      0.837002
202059 2004-10-20 11:19:00 2004-10-20 11:19:02     56,79      0.018194
202248 2004-10-20 11:34:50 2004-10-20 11:34:51     56,79      0.010972
202258 2004-10-20 11:35:08 2004-10-20 11:35:34     56,79      0.000197
215256 2004-10-22 09:23:10 2004-10-22 09:23:12     56,79      1.908056
216810 2004-10-22 12:21:53 2004-10-22 12:21:58     56,79      0.124086
220491 2004-10-24 10:02:23 2004-10-24 10:03:32     56,79      1.903067
221005 2004-10-24 13:24:59 2004-10-24 13:25:18     56,79      0.139896
221574 2004-10-24 17:43:24 2004-10-24 17:43:52     56,79      0.179236
235246 2004-10-26 07:44:21 2004-10-26 07:45:29     56,79      1.583669
240903 2004-10-26 15:01:04 2004-10-26 15:09:23     56,79      0.302488
249310 2004-10-27 13:07:39 2004-10-27 13:07:41     56,79      0.915463
269948 2004-10-31 11:49:39 2004-10-31 11:50:21     56,79      3.945810
269963 2004-10-31 11:54:12 2004-10-31 11:54:32     56,79      0.002674
269990 2004-10-31 12:01:00 2004-10-31 12:01:20     56,79      0.004491
270047 2004-10-31 12:08:17 2004-10-31 12:08:56     56,79      0.004826
270049 2004-10-31 12:08:57 2004-10-31 12:09:16     56,79      0.000012
270050 2004-10-31 12:09:20 2004-10-31 12:10:20     56,79      0.000046
270053 2004-10-31 12:10:35 2004-10-31 12:10:53     56,79      0.000174
270054 2004-10-31 12:11:38 2004-10-31 12:12:05     56,79      0.000521
56,80
                     start                 end id_colums  intercontact
111949 2004-10-06 09:35:24 2004-10-06 09:36:06     56,80           NaN
115322 2004-10-06 13:44:02 2004-10-06 13:44:13     56,80      0.172176
115348 2004-10-06 13:45:29 2004-10-06 13:45:32     56,80      0.000880
115358 2004-10-06 13:46:02 2004-10-06 13:47:45     56,80      0.000347
116327 2004-10-06 17:43:47 2004-10-06 17:44:06     56,80      0.163912
...                    ...                 ...       ...           ...
281330 2004-11-01 15:10:22 2004-11-01 15:11:13     56,80      0.014097
281341 2004-11-01 15:12:32 2004-11-01 15:12:44     56,80      0.000914
281348 2004-11-01 15:13:58 2004-11-01 15:16:16     56,80      0.000856
282580 2004-11-02 03:18:22 2004-11-02 03:19:11     56,80      0.501458
282791 2004-11-02 03:49:52 2004-11-02 03:50:30     56,80      0.021308

[88 rows x 4 columns]
56,81
                     start                 end id_colums  intercontact
281560 2004-11-01 15:53:49 2004-11-01 15:54:16     56,81           NaN
286035 2004-11-02 08:05:32 2004-11-02 08:05:33     56,81      0.674491
286060 2004-11-02 08:06:56 2004-11-02 08:06:58     56,81      0.000961
286332 2004-11-02 08:24:46 2004-11-02 08:24:50     56,81      0.012361
286757 2004-11-02 08:44:08 2004-11-02 08:44:35     56,81      0.013403
287408 2004-11-02 09:09:17 2004-11-02 09:09:24     56,81      0.017153
287643 2004-11-02 09:15:53 2004-11-02 09:15:55     56,81      0.004502
287769 2004-11-02 09:20:29 2004-11-02 09:21:53     56,81      0.003171
291802 2004-11-02 11:54:43 2004-11-02 11:58:35     56,81      0.106134
292641 2004-11-02 12:37:12 2004-11-02 12:37:22     56,81      0.026817
292644 2004-11-02 12:37:28 2004-11-02 12:37:49     56,81      0.000069
56,82
                     start                 end id_colums  intercontact
49213  2004-09-24 03:12:53 2004-09-24 03:13:10     56,82           NaN
49254  2004-09-24 03:28:26 2004-09-24 03:28:54     56,82      0.010602
49264  2004-09-24 03:31:20 2004-09-24 03:31:24     56,82      0.001690
49311  2004-09-24 03:47:12 2004-09-24 03:47:41     56,82      0.010972
55979  2004-09-25 05:04:13 2004-09-25 05:04:17     56,82      1.053148
...                    ...                 ...       ...           ...
292311 2004-11-02 12:24:35 2004-11-02 12:24:59     56,82      0.041296
292418 2004-11-02 12:27:59 2004-11-02 12:28:28     56,82      0.002083
292436 2004-11-02 12:28:28 2004-11-02 12:29:14     56,82      0.000000
292639 2004-11-02 12:37:12 2004-11-02 12:37:22     56,82      0.005532
292890 2004-11-02 12:52:43 2004-11-02 12:53:23     56,82      0.010660

[393 rows x 4 columns]
56,83
                     start                 end id_colums  intercontact
43243  2004-09-23 09:42:36 2004-09-23 09:42:47     56,83           NaN
43249  2004-09-23 09:43:02 2004-09-23 09:43:54     56,83      0.000174
49226  2004-09-24 03:22:05 2004-09-24 03:22:18     56,83      0.734850
49233  2004-09-24 03:23:40 2004-09-24 03:23:55     56,83      0.000949
49337  2004-09-24 03:57:30 2004-09-24 03:58:03     56,83      0.023322
49343  2004-09-24 03:58:24 2004-09-24 03:58:43     56,83      0.000243
49352  2004-09-24 04:00:00 2004-09-24 04:00:36     56,83      0.000891
66221  2004-09-28 05:50:08 2004-09-28 05:50:17     56,83      4.076065
66348  2004-09-28 06:03:31 2004-09-28 06:04:03     56,83      0.009190
68783  2004-09-28 09:10:34 2004-09-28 09:10:43     56,83      0.129525
68931  2004-09-28 09:16:33 2004-09-28 09:16:44     56,83      0.004051
69391  2004-09-28 09:40:11 2004-09-28 09:41:23     56,83      0.016285
69620  2004-09-28 09:53:12 2004-09-28 09:53:31     56,83      0.008206
69660  2004-09-28 09:54:39 2004-09-28 09:55:05     56,83      0.000787
69747  2004-09-28 09:56:36 2004-09-28 09:56:54     56,83      0.001053
69874  2004-09-28 10:01:46 2004-09-28 10:02:56     56,83      0.003380
69984  2004-09-28 10:09:10 2004-09-28 10:11:00     56,83      0.004329
70229  2004-09-28 10:30:49 2004-09-28 10:30:51     56,83      0.013762
70285  2004-09-28 10:35:31 2004-09-28 10:35:56     56,83      0.003241
70675  2004-09-28 10:54:35 2004-09-28 10:55:10     56,83      0.012951
70716  2004-09-28 10:58:18 2004-09-28 10:58:20     56,83      0.002176
71148  2004-09-28 11:27:36 2004-09-28 11:36:19     56,83      0.020324
71810  2004-09-28 12:16:56 2004-09-28 12:16:58     56,83      0.028206
72054  2004-09-28 12:31:47 2004-09-28 12:32:09     56,83      0.010289
278096 2004-11-01 11:37:06 2004-11-01 11:37:36     56,83     33.961771
280207 2004-11-01 13:14:20 2004-11-01 13:15:45     56,83      0.067176
56,85
                     start                 end id_colums  intercontact
219162 2004-10-23 13:43:30 2004-10-23 13:43:34     56,85           NaN
219483 2004-10-23 19:15:24 2004-10-23 19:15:26     56,85      0.230440
219498 2004-10-23 19:31:41 2004-10-23 19:31:49     56,85      0.011285
250736 2004-10-27 15:56:04 2004-10-27 15:57:07     56,85      3.850174
253088 2004-10-28 06:05:33 2004-10-28 06:07:10     56,85      0.589190
253547 2004-10-28 06:48:44 2004-10-28 06:48:46     56,85      0.028866
259356 2004-10-28 13:13:22 2004-10-28 13:14:11     56,85      0.267083
259641 2004-10-28 13:35:42 2004-10-28 13:35:44     56,85      0.014942
259669 2004-10-28 13:38:11 2004-10-28 13:38:22     56,85      0.001701
262686 2004-10-29 08:21:55 2004-10-29 08:22:01     56,85      0.780243
262793 2004-10-29 08:57:54 2004-10-29 08:57:57     56,85      0.024919
263140 2004-10-29 10:04:04 2004-10-29 10:04:09     56,85      0.045914
263143 2004-10-29 10:04:14 2004-10-29 10:05:16     56,85      0.000058
263476 2004-10-29 10:28:26 2004-10-29 10:28:33     56,85      0.016088
268150 2004-10-30 17:55:42 2004-10-30 17:56:06     56,85      1.310521
268518 2004-10-30 21:28:17 2004-10-30 21:29:10     56,85      0.147350
269910 2004-10-31 11:41:39 2004-10-31 11:41:46     56,85      0.592002
270273 2004-10-31 13:31:02 2004-10-31 13:31:42     56,85      0.075880
270315 2004-10-31 13:39:12 2004-10-31 13:40:32     56,85      0.005208
270410 2004-10-31 13:59:49 2004-10-31 14:02:19     56,85      0.013391
286030 2004-11-02 08:05:12 2004-11-02 08:06:15     56,85      1.752002
286312 2004-11-02 08:23:25 2004-11-02 08:23:39     56,85      0.011921
286367 2004-11-02 08:25:53 2004-11-02 08:26:46     56,85      0.001551
286611 2004-11-02 08:37:14 2004-11-02 08:38:21     56,85      0.007269
286682 2004-11-02 08:39:08 2004-11-02 08:39:21     56,85      0.000544
286714 2004-11-02 08:40:56 2004-11-02 08:41:06     56,85      0.001100
56,86
                     start                 end id_colums  intercontact
24061  2004-09-16 07:09:04 2004-09-16 07:09:36     56,86           NaN
24275  2004-09-16 07:36:42 2004-09-16 07:38:14     56,86      0.018819
24296  2004-09-16 07:41:32 2004-09-16 07:42:31     56,86      0.002292
24417  2004-09-16 07:59:07 2004-09-16 08:02:33     56,86      0.011528
24904  2004-09-16 09:34:04 2004-09-16 09:35:46     56,86      0.063553
...                    ...                 ...       ...           ...
281292 2004-11-01 15:04:25 2004-11-01 15:04:31     56,86      0.695278
290684 2004-11-02 11:06:56 2004-11-02 11:07:21     56,86      0.835012
291236 2004-11-02 11:26:57 2004-11-02 11:27:26     56,86      0.013611
291311 2004-11-02 11:29:40 2004-11-02 11:29:49     56,86      0.001551
292344 2004-11-02 12:25:04 2004-11-02 12:25:06     56,86      0.038368

[62 rows x 4 columns]
56,87
                     start                 end id_colums  intercontact
23895  2004-09-16 06:37:23 2004-09-16 06:37:57     56,87           NaN
249216 2004-10-27 13:02:48 2004-10-27 13:02:53     56,87     41.267257
250708 2004-10-27 15:52:04 2004-10-27 15:52:40     56,87      0.117488
250749 2004-10-27 15:57:56 2004-10-27 15:57:58     56,87      0.003657
250849 2004-10-27 16:18:04 2004-10-27 16:18:06     56,87      0.013958
260470 2004-10-28 17:41:40 2004-10-28 17:41:42     56,87      1.058032
266219 2004-10-29 19:33:50 2004-10-29 19:34:15     56,87      1.077870
266223 2004-10-29 19:35:43 2004-10-29 19:36:19     56,87      0.001019
266231 2004-10-29 19:41:15 2004-10-29 19:41:38     56,87      0.003426
266245 2004-10-29 19:50:01 2004-10-29 19:50:11     56,87      0.005822
266872 2004-10-30 10:13:54 2004-10-30 10:14:41     56,87      0.599803
266910 2004-10-30 10:31:49 2004-10-30 10:33:44     56,87      0.011898
266935 2004-10-30 10:46:27 2004-10-30 10:46:46     56,87      0.008831
266999 2004-10-30 11:16:47 2004-10-30 11:16:57     56,87      0.020845
267009 2004-10-30 11:20:22 2004-10-30 11:20:50     56,87      0.002373
267042 2004-10-30 11:35:01 2004-10-30 11:36:35     56,87      0.009850
267062 2004-10-30 11:42:55 2004-10-30 11:43:05     56,87      0.004398
267141 2004-10-30 12:23:48 2004-10-30 12:24:21     56,87      0.028275
267169 2004-10-30 12:44:08 2004-10-30 12:44:18     56,87      0.013738
268112 2004-10-30 17:43:41 2004-10-30 17:45:06     56,87      0.207905
268337 2004-10-30 19:21:36 2004-10-30 19:21:54     56,87      0.067014
268556 2004-10-30 22:06:59 2004-10-30 22:08:26     56,87      0.114641
268583 2004-10-30 22:34:36 2004-10-30 22:35:19     56,87      0.018171
278116 2004-11-01 11:39:38 2004-11-01 11:39:40     56,87      1.544664
279226 2004-11-01 12:30:05 2004-11-01 12:30:15     56,87      0.035012
279264 2004-11-01 12:31:55 2004-11-01 12:31:57     56,87      0.001157
279266 2004-11-01 12:31:57 2004-11-01 12:31:58     56,87      0.000000
279714 2004-11-01 12:52:54 2004-11-01 12:52:56     56,87      0.014537
279813 2004-11-01 12:58:08 2004-11-01 12:59:26     56,87      0.003611
280167 2004-11-01 13:11:25 2004-11-01 13:11:27     56,87      0.008322
281685 2004-11-01 16:27:53 2004-11-01 16:28:54     56,87      0.136412
56,88
                     start                 end id_colums  intercontact
29202  2004-09-17 13:53:48 2004-09-17 13:53:50     56,88           NaN
29985  2004-09-18 14:53:59 2004-09-18 14:54:33     56,88      1.041771
29990  2004-09-18 14:59:21 2004-09-18 14:59:23     56,88      0.003333
29994  2004-09-18 15:00:46 2004-09-18 15:01:02     56,88      0.000961
30047  2004-09-18 17:10:05 2004-09-18 17:10:15     56,88      0.089618
...                    ...                 ...       ...           ...
286586 2004-11-02 08:35:54 2004-11-02 08:36:47     56,88      0.145671
287569 2004-11-02 09:13:31 2004-11-02 09:13:48     56,88      0.025509
287890 2004-11-02 09:24:19 2004-11-02 09:26:20     56,88      0.007303
292882 2004-11-02 12:52:29 2004-11-02 12:57:04     56,88      0.143160
292995 2004-11-02 12:58:51 2004-11-02 13:04:35     56,88      0.001238

[301 rows x 4 columns]
56,89
                    start                 end id_colums  intercontact
27611 2004-09-17 08:19:25 2004-09-17 08:19:49     56,89           NaN
31078 2004-09-19 15:47:05 2004-09-19 15:47:22     56,89      2.310602
31083 2004-09-19 15:49:18 2004-09-19 15:49:37     56,89      0.001343
31085 2004-09-19 15:49:49 2004-09-19 15:50:12     56,89      0.000139
31107 2004-09-19 16:16:07 2004-09-19 16:16:33     56,89      0.017998
31113 2004-09-19 16:25:31 2004-09-19 16:26:47     56,89      0.006227
31190 2004-09-19 18:42:14 2004-09-19 18:42:24     56,89      0.094062
33532 2004-09-20 11:15:16 2004-09-20 11:15:39     56,89      0.689491
33553 2004-09-20 11:16:19 2004-09-20 11:16:40     56,89      0.000463
33560 2004-09-20 11:17:39 2004-09-20 11:18:08     56,89      0.000683
58,59
                     start                 end id_colums  intercontact
200275 2004-10-20 08:14:39 2004-10-20 08:15:03     58,59           NaN
201183 2004-10-20 09:32:40 2004-10-20 09:32:42     58,59      0.053900
206937 2004-10-21 07:13:24 2004-10-21 07:13:41     58,59      0.903264
206952 2004-10-21 07:13:51 2004-10-21 07:14:22     58,59      0.000116
211289 2004-10-21 13:31:40 2004-10-21 13:32:13     58,59      0.262014
...                    ...                 ...       ...           ...
586787 2004-12-08 17:57:31 2004-12-08 17:57:33     58,59      0.311308
586859 2004-12-08 18:34:29 2004-12-08 18:34:39     58,59      0.025648
586902 2004-12-08 18:47:26 2004-12-08 18:47:27     58,59      0.008877
593839 2004-12-09 13:45:15 2004-12-09 13:45:20     58,59      0.790139
599585 2004-12-10 11:23:53 2004-12-10 11:23:54     58,59      0.901771

[62 rows x 4 columns]
58,60
                     start                 end id_colums  intercontact
141078 2004-10-12 10:19:27 2004-10-12 10:21:15     58,60           NaN
141098 2004-10-12 10:23:04 2004-10-12 10:23:18     58,60      0.001262
141101 2004-10-12 10:23:35 2004-10-12 10:23:36     58,60      0.000197
148013 2004-10-13 06:19:17 2004-10-13 06:19:43     58,60      0.830336
148023 2004-10-13 06:20:14 2004-10-13 06:20:38     58,60      0.000359
...                    ...                 ...       ...           ...
594564 2004-12-09 16:18:26 2004-12-09 16:19:14     58,60      0.047211
597221 2004-12-10 08:56:20 2004-12-10 08:57:45     58,60      0.692431
597328 2004-12-10 09:08:27 2004-12-10 09:08:58     58,60      0.007431
597399 2004-12-10 09:15:33 2004-12-10 09:16:51     58,60      0.004572
649195 2004-12-30 10:32:58 2004-12-30 10:33:18     58,60     20.052859

[342 rows x 4 columns]
58,61
                     start                 end id_colums  intercontact
360960 2004-11-12 09:58:46 2004-11-12 09:59:30     58,61           NaN
360991 2004-11-12 10:00:15 2004-11-12 10:00:46     58,61      0.000521
361012 2004-11-12 10:00:59 2004-11-12 10:01:09     58,61      0.000150
361056 2004-11-12 10:03:07 2004-11-12 10:03:18     58,61      0.001366
361182 2004-11-12 10:12:46 2004-11-12 10:13:01     58,61      0.006574
...                    ...                 ...       ...           ...
567082 2004-12-06 13:06:27 2004-12-06 13:07:33     58,61      0.010613
567268 2004-12-06 13:22:49 2004-12-06 13:23:32     58,61      0.010602
567346 2004-12-06 13:33:11 2004-12-06 13:33:32     58,61      0.006701
567395 2004-12-06 13:36:17 2004-12-06 13:36:18     58,61      0.001910
567757 2004-12-06 14:03:46 2004-12-06 14:04:47     58,61      0.019074

[174 rows x 4 columns]
58,62
                     start                 end id_colums  intercontact
141049 2004-10-12 10:15:24 2004-10-12 10:15:43     58,62           NaN
141076 2004-10-12 10:19:27 2004-10-12 10:20:18     58,62      0.002593
141094 2004-10-12 10:22:36 2004-10-12 10:23:35     58,62      0.001597
141128 2004-10-12 10:26:25 2004-10-12 10:39:14     58,62      0.001968
141917 2004-10-12 11:15:43 2004-10-12 11:16:22     58,62      0.025336
...                    ...                 ...       ...           ...
558843 2004-12-06 05:07:15 2004-12-06 05:07:23     58,62      0.009606
558920 2004-12-06 05:16:26 2004-12-06 05:17:40     58,62      0.006285
558973 2004-12-06 05:19:19 2004-12-06 05:19:47     58,62      0.001146
561517 2004-12-06 07:56:19 2004-12-06 07:56:20     58,62      0.108704
561605 2004-12-06 08:00:03 2004-12-06 08:00:53     58,62      0.002581

[368 rows x 4 columns]
58,66
                     start                 end id_colums  intercontact
141922 2004-10-12 11:16:02 2004-10-12 11:16:14     58,66           NaN
141933 2004-10-12 11:16:49 2004-10-12 11:18:16     58,66      0.000405
142237 2004-10-12 11:37:54 2004-10-12 11:38:08     58,66      0.013634
142574 2004-10-12 11:56:35 2004-10-12 11:56:44     58,66      0.012812
143040 2004-10-12 12:15:23 2004-10-12 12:15:44     58,66      0.012951
...                    ...                 ...       ...           ...
599433 2004-12-10 11:17:26 2004-12-10 11:17:39     58,66      0.001678
599463 2004-12-10 11:18:23 2004-12-10 11:18:30     58,66      0.000509
599534 2004-12-10 11:20:44 2004-12-10 11:21:06     58,66      0.001551
599570 2004-12-10 11:23:29 2004-12-10 11:23:32     58,66      0.001655
599580 2004-12-10 11:23:45 2004-12-10 11:23:49     58,66      0.000150

[655 rows x 4 columns]
58,68
                     start                 end id_colums  intercontact
179916 2004-10-18 08:50:11 2004-10-18 08:50:16     58,68           NaN
182564 2004-10-18 12:39:51 2004-10-18 12:39:58     58,68      0.159433
184103 2004-10-18 14:34:21 2004-10-18 14:34:26     58,68      0.079433
184667 2004-10-18 16:08:27 2004-10-18 16:12:53     58,68      0.065289
185018 2004-10-18 17:19:35 2004-10-18 17:22:33     58,68      0.046319
...                    ...                 ...       ...           ...
652346 2005-01-04 18:25:21 2005-01-04 18:25:43     58,68      0.066007
652718 2005-01-05 08:02:00 2005-01-05 08:02:01     58,68      0.566863
655965 2005-01-06 12:21:32 2005-01-06 12:22:04     58,68      1.180220
656125 2005-01-06 13:27:38 2005-01-06 13:28:01     58,68      0.045532
656344 2005-01-06 16:55:48 2005-01-06 16:56:16     58,68      0.144294

[126 rows x 4 columns]
58,69
                     start                 end id_colums  intercontact
141042 2004-10-12 10:15:24 2004-10-12 10:15:43     58,69           NaN
141454 2004-10-12 10:50:45 2004-10-12 10:50:46     58,69      0.024329

[92 rows x 4 columns]
59,88
                     start                 end id_colums  intercontact
200259 2004-10-20 08:13:24 2004-10-20 08:14:46     59,88           NaN
201186 2004-10-20 09:32:40 2004-10-20 09:32:42     59,88      0.054097
201262 2004-10-20 09:38:53 2004-10-20 09:41:17     59,88      0.004294
212505 2004-10-21 15:21:15 2004-10-21 15:21:17     59,88      1.236088
212524 2004-10-21 15:22:11 2004-10-21 15:22:24     59,88      0.000625
212526 2004-10-21 15:22:26 2004-10-21 15:27:28     59,88      0.000023
213638 2004-10-22 06:06:37 2004-10-22 06:06:57     59,88      0.610521
227756 2004-10-25 10:36:08 2004-10-25 10:36:10     59,88      3.186933
273416 2004-11-01 07:05:40 2004-11-01 07:05:48     59,88      6.853819
273859 2004-11-01 07:44:52 2004-11-01 07:44:55     59,88      0.027130
277684 2004-11-01 11:21:11 2004-11-01 11:22:33     59,88      0.150185
278485 2004-11-01 11:50:42 2004-11-01 11:50:54     59,88      0.019549
286467 2004-11-02 08:29:36 2004-11-02 08:29:37     59,88      0.860208
286468 2004-11-02 08:29:37 2004-11-02 08:33:59     59,88      0.000000
286946 2004-11-02 08:55:30 2004-11-02 08:55:54     59,88      0.014942
344629 2004-11-09 11:54:29 2004-11-09 11:54:40     59,88      7.124016
367676 2004-11-14 13:31:17 2004-11-14 13:32:37     59,88      5.067095
373906 2004-11-15 08:14:54 2004-11-15 08:15:01     59,88      0.779363
375549 2004-11-15 09:12:06 2004-11-15 09:12:15     59,88      0.039641
376464 2004-11-15 09:46:38 2004-11-15 09:46:56     59,88      0.023877
378143 2004-11-15 10:58:29 2004-11-15 10:58:44     59,88      0.049688
379481 2004-11-15 11:49:05 2004-11-15 11:50:16     59,88      0.034965
6,10
                     start                 end id_colums  intercontact
13729  2004-09-10 07:37:21 2004-09-10 07:37:23      6,10           NaN
13747  2004-09-10 07:41:21 2004-09-10 07:48:35      6,10      0.002755
13798  2004-09-10 07:57:35 2004-09-10 07:57:56      6,10      0.006250
13837  2004-09-10 08:06:03 2004-09-10 08:06:27      6,10      0.005637
13843  2004-09-10 08:07:01 2004-09-10 08:09:53      6,10      0.000394
...                    ...                 ...       ...           ...
555178 2004-12-05 09:18:30 2004-12-05 09:46:10      6,10      1.032870
558537 2004-12-06 04:36:25 2004-12-06 04:37:30      6,10      0.784896
558581 2004-12-06 04:43:08 2004-12-06 04:43:11      6,10      0.003912
558593 2004-12-06 04:45:06 2004-12-06 04:45:25      6,10      0.001331
558646 2004-12-06 04:47:20 2004-12-06 04:47:32      6,10      0.001331

[1510 rows x 4 columns]
6,11
                     start                 end id_colums  intercontact
13701  2004-09-10 07:34:52 2004-09-10 07:34:57      6,11           NaN
14393  2004-09-10 10:58:24 2004-09-10 10:58:29      6,11      0.141285
14394  2004-09-10 10:58:29 2004-09-10 10:58:48      6,11      0.000000
14643  2004-09-10 12:00:31 2004-09-10 12:01:38      6,11      0.042859
14805  2004-09-10 12:20:50 2004-09-10 12:22:18      6,11      0.013333
...                    ...                 ...       ...           ...
758992 2005-03-23 12:47:12 2005-03-23 12:47:33      6,11      0.016968
758995 2005-03-23 12:48:59 2005-03-23 12:49:26      6,11      0.000995
759856 2005-03-24 12:39:12 2005-03-24 12:39:29      6,11      0.992894
763108 2005-03-29 05:20:08 2005-03-29 05:20:14      6,11      4.694896
763111 2005-03-29 05:22:03 2005-03-29 05:23:21      6,11      0.001262

[332 rows x 4 columns]
6,12
                     start                 end id_colums  intercontact
17950  2004-09-14 04:21:04 2004-09-14 04:21:08      6,12           NaN
18743  2004-09-14 08:08:51 2004-09-14 08:08:59      6,12      0.158137
18783  2004-09-14 08:18:54 2004-09-14 08:19:04      6,12      0.006887
20884  2004-09-15 04:56:07 2004-09-15 04:56:17      6,12      0.859062
20887  2004-09-15 04:57:54 2004-09-15 04:58:01      6,12      0.001123
...                    ...                 ...       ...           ...
665194 2005-01-12 12:36:37 2005-01-12 12:36:42      6,12      0.139502
665233 2005-01-12 12:41:17 2005-01-12 12:41:35      6,12      0.003183
666326 2005-01-13 06:55:22 2005-01-13 06:55:23      6,12      0.759572
667179 2005-01-13 09:55:17 2005-01-13 09:55:20      6,12      0.124931
670874 2005-01-14 12:31:46 2005-01-14 12:32:04      6,12      1.108634

[102 rows x 4 columns]
6,13
                     start                 end id_colums  intercontact
13183  2004-09-10 04:47:00 2004-09-10 04:47:07      6,13           NaN
13817  2004-09-10 08:01:50 2004-09-10 08:02:00      6,13      0.135220
14400  2004-09-10 10:58:50 2004-09-10 10:59:01      6,13      0.122801
14408  2004-09-10 11:01:39 2004-09-10 11:01:57      6,13      0.001829
14418  2004-09-10 11:05:30 2004-09-10 11:05:32      6,13      0.002465
...                    ...                 ...       ...           ...
761441 2005-03-28 05:07:43 2005-03-28 05:08:03      6,13      1.713669
761442 2005-03-28 05:10:14 2005-03-28 05:10:42      6,13      0.001516
761443 2005-03-28 05:12:20 2005-03-28 05:12:30      6,13      0.001134
763110 2005-03-29 05:22:03 2005-03-29 05:22:05      6,13      1.006632
766968 2005-03-30 12:00:53 2005-03-30 12:01:30      6,13      1.276944

[499 rows x 4 columns]
6,15
                     start                 end id_colums  intercontact
13699  2004-09-10 07:34:52 2004-09-10 07:34:57      6,15           NaN
14390  2004-09-10 10:58:22 2004-09-10 10:58:29      6,15      0.141262
14885  2004-09-10 12:32:50 2004-09-10 12:33:40      6,15      0.065521
27128  2004-09-17 06:42:15 2004-09-17 06:42:20      6,15      6.755961
39569  2004-09-22 10:15:13 2004-09-22 10:15:19      6,15      5.147836
...                    ...                 ...       ...           ...
747382 2005-03-15 12:57:25 2005-03-15 12:58:30      6,15      1.170660
750100 2005-03-16 12:44:56 2005-03-16 12:45:06      6,15      0.990579
751999 2005-03-17 12:05:31 2005-03-17 12:06:37      6,15      0.972512
766957 2005-03-30 11:57:34 2005-03-30 11:59:24      6,15     12.993715
767083 2005-03-30 12:26:05 2005-03-30 12:26:43      6,15      0.018530

[183 rows x 4 columns]
6,16
                     start                 end id_colums  intercontact
13759  2004-09-10 07:41:27 2004-09-10 07:41:28      6,16           NaN
13803  2004-09-10 07:57:54 2004-09-10 07:57:56      6,16      0.011412
13819  2004-09-10 08:01:50 2004-09-10 08:02:00      6,16      0.002708
18286  2004-09-14 06:29:05 2004-09-14 06:29:10      6,16      3.935475
19865  2004-09-14 11:57:38 2004-09-14 11:57:45      6,16      0.228102
...                    ...                 ...       ...           ...
750139 2005-03-16 12:47:31 2005-03-16 12:47:45      6,16      0.976551
750776 2005-03-17 04:55:12 2005-03-17 04:57:20      6,16      0.671840
763107 2005-03-29 05:18:10 2005-03-29 05:18:11      6,16     12.014468
767043 2005-03-30 12:16:43 2005-03-30 12:16:48      6,16      1.290648
768189 2005-03-31 10:58:30 2005-03-31 10:58:45      6,16      0.945625

[111 rows x 4 columns]
6,17
                     start                 end id_colums  intercontact
14424  2004-09-10 11:05:50 2004-09-10 11:05:52      6,17           NaN
14426  2004-09-10 11:07:00 2004-09-10 11:08:10      6,17      0.000787
14642  2004-09-10 12:00:31 2004-09-10 12:01:38      6,17      0.036354
14668  2004-09-10 12:02:53 2004-09-10 12:03:11      6,17      0.000868
14785  2004-09-10 12:19:21 2004-09-10 12:19:30      6,17      0.011227
...                    ...                 ...       ...           ...
755326 2005-03-21 08:04:00 2005-03-21 08:05:56      6,17      0.002257
755513 2005-03-21 09:19:55 2005-03-21 09:20:05      6,17      0.051377
755829 2005-03-21 10:39:41 2005-03-21 10:39:45      6,17      0.055278
761147 2005-03-27 06:26:48 2005-03-27 06:27:46      6,17      5.824340
766971 2005-03-30 12:03:00 2005-03-30 12:03:43      6,17      3.232801

[406 rows x 4 columns]
6,18
                     start                 end id_colums  intercontact
13700  2004-09-10 07:34:52 2004-09-10 07:34:57      6,18           NaN
13746  2004-09-10 07:41:21 2004-09-10 07:41:58      6,18      0.004444
13769  2004-09-10 07:49:32 2004-09-10 07:50:19      6,18      0.005255
13775  2004-09-10 07:52:35 2004-09-10 08:01:27      6,18      0.001574
13816  2004-09-10 08:01:50 2004-09-10 08:01:53      6,18      0.000266
...                    ...                 ...       ...           ...
758990 2005-03-23 12:47:11 2005-03-23 12:47:33      6,18      0.016956
759020 2005-03-23 13:02:29 2005-03-23 13:02:42      6,18      0.010370
759783 2005-03-24 12:25:33 2005-03-24 12:25:48      6,18      0.974201
759835 2005-03-24 12:33:04 2005-03-24 12:34:14      6,18      0.005046
761029 2005-03-26 08:01:28 2005-03-26 08:01:45      6,18      1.810579

[393 rows x 4 columns]
6,19
                     start                 end id_colums  intercontact
5691   2004-09-01 08:03:47 2004-09-01 08:04:08      6,19           NaN
13188  2004-09-10 04:48:31 2004-09-10 04:49:26      6,19      8.864155
13703  2004-09-10 07:34:52 2004-09-10 07:34:57      6,19      0.114884
13838  2004-09-10 08:06:05 2004-09-10 08:07:01      6,19      0.021620
14395  2004-09-10 10:58:42 2004-09-10 10:58:48      6,19      0.119225
...                    ...                 ...       ...           ...
667646 2005-01-13 11:10:47 2005-01-13 11:11:52      6,19      0.052396
671545 2005-01-14 16:05:16 2005-01-14 16:05:32      6,19      1.203750
672306 2005-01-15 09:43:44 2005-01-15 09:44:24      6,19      0.734861
672308 2005-01-15 09:45:02 2005-01-15 09:45:49      6,19      0.000440
672312 2005-01-15 09:46:18 2005-01-15 09:46:37      6,19      0.000336

[353 rows x 4 columns]
6,20
                     start                 end id_colums  intercontact
13182  2004-09-10 04:47:00 2004-09-10 04:47:07      6,20           NaN
13730  2004-09-10 07:37:21 2004-09-10 07:37:23      6,20      0.118218
13846  2004-09-10 08:10:13 2004-09-10 08:10:18      6,20      0.022801
13851  2004-09-10 08:10:27 2004-09-10 08:12:21      6,20      0.000104
14406  2004-09-10 11:01:00 2004-09-10 11:01:18      6,20      0.117118
...                    ...                 ...       ...           ...
658819 2005-01-09 07:47:30 2005-01-09 07:48:45      6,20      0.001748
658824 2005-01-09 07:53:43 2005-01-09 07:58:01      6,20      0.003449
658825 2005-01-09 07:58:01 2005-01-09 07:58:19      6,20      0.000000
661452 2005-01-11 07:34:56 2005-01-11 07:35:02      6,20      1.983762
661600 2005-01-11 08:02:48 2005-01-11 08:03:22      6,20      0.019282

[256 rows x 4 columns]
6,21
                     start                 end id_colums  intercontact
176592 2004-10-18 03:23:49 2004-10-18 03:24:09      6,21           NaN
204945 2004-10-20 16:57:28 2004-10-20 16:57:48      6,21      2.564803
213402 2004-10-22 04:11:32 2004-10-22 04:11:47      6,21      1.467870
213417 2004-10-22 04:24:06 2004-10-22 04:24:53      6,21      0.008553
213730 2004-10-22 06:24:45 2004-10-22 06:24:51      6,21      0.083241
...                    ...                 ...       ...           ...
658820 2005-01-09 07:50:11 2005-01-09 07:50:22      6,21      0.000995
658821 2005-01-09 07:51:04 2005-01-09 07:51:12      6,21      0.000486
658822 2005-01-09 07:52:50 2005-01-09 07:53:03      6,21      0.001134
658934 2005-01-09 17:54:11 2005-01-09 18:01:26      6,21      0.417454
658971 2005-01-10 03:06:45 2005-01-10 03:06:55      6,21      0.378692

[185 rows x 4 columns]
6,22
                   start                 end id_colums  intercontact
7282 2004-09-03 05:27:01 2004-09-03 05:32:25      6,22           NaN
6,23
                     start                 end id_colums  intercontact
662875 2005-01-11 14:02:39 2005-01-11 14:02:46      6,23           NaN
662876 2005-01-11 14:02:58 2005-01-11 14:03:55      6,23      0.000139
662893 2005-01-11 14:13:27 2005-01-11 14:14:27      6,23      0.006620
662959 2005-01-11 14:59:11 2005-01-11 15:00:22      6,23      0.031065
662960 2005-01-11 15:01:47 2005-01-11 15:02:12      6,23      0.000984
662963 2005-01-11 15:03:58 2005-01-11 15:06:10      6,23      0.001227
662980 2005-01-11 15:27:01 2005-01-11 15:27:51      6,23      0.014479
662985 2005-01-11 15:35:16 2005-01-11 15:35:18      6,23      0.005150
663308 2005-01-12 05:24:25 2005-01-12 05:25:30      6,23      0.575775
663373 2005-01-12 05:48:33 2005-01-12 05:49:06      6,23      0.016007
667951 2005-01-13 12:04:26 2005-01-13 12:04:43      6,23      1.260648
676663 2005-01-18 11:33:29 2005-01-18 11:34:56      6,23      4.978310
678870 2005-01-19 08:52:29 2005-01-19 08:52:46      6,23      0.887188
680299 2005-01-19 14:02:19 2005-01-19 14:03:02      6,23      0.214965
684996 2005-01-22 00:01:02 2005-01-22 00:01:04      6,23      2.415278
684997 2005-01-22 00:01:04 2005-01-22 00:01:20      6,23      0.000000
6,24
                     start                 end id_colums  intercontact
365443 2004-11-13 12:59:21 2004-11-13 13:00:32      6,24           NaN
365462 2004-11-13 13:04:06 2004-11-13 13:04:08      6,24      0.002477
366145 2004-11-13 16:49:35 2004-11-13 16:50:00      6,24      0.156562
366421 2004-11-13 22:50:29 2004-11-13 22:50:48      6,24      0.250336
366712 2004-11-14 07:08:06 2004-11-14 07:08:54      6,24      0.345347
...                    ...                 ...       ...           ...
641428 2004-12-17 10:18:08 2004-12-17 10:19:54      6,24      0.912905
641456 2004-12-17 10:25:22 2004-12-17 10:27:52      6,24      0.003796
641481 2004-12-17 10:31:51 2004-12-17 10:33:12      6,24      0.002766
641689 2004-12-17 11:06:36 2004-12-17 11:06:40      6,24      0.023194
642783 2004-12-18 07:08:17 2004-12-18 07:09:03      6,24      0.834456

[133 rows x 4 columns]
6,25
                     start                 end id_colums  intercontact
13745  2004-09-10 07:41:21 2004-09-10 07:41:57      6,25           NaN
13768  2004-09-10 07:49:08 2004-09-10 07:49:19      6,25      0.004988
14688  2004-09-10 12:08:25 2004-09-10 12:09:40      6,25      0.179931
14845  2004-09-10 12:23:12 2004-09-10 12:23:30      6,25      0.009398
14943  2004-09-10 12:41:03 2004-09-10 12:42:58      6,25      0.012188
...                    ...                 ...       ...           ...
688937 2005-01-25 09:22:10 2005-01-25 09:22:46      6,25      0.009236
688941 2005-01-25 09:24:09 2005-01-25 09:24:29      6,25      0.000961
689586 2005-01-25 11:56:11 2005-01-25 11:56:20      6,25      0.105347
691111 2005-01-26 09:40:06 2005-01-26 09:40:51      6,25      0.905394
719650 2005-02-22 07:27:48 2005-02-22 07:28:17      6,25     26.907604

[166 rows x 4 columns]
6,27
                     start                 end id_colums  intercontact
13193  2004-09-10 04:49:26 2004-09-10 04:49:32      6,27           NaN
18008  2004-09-14 04:58:14 2004-09-14 04:58:27      6,27      4.006042
18646  2004-09-14 07:56:12 2004-09-14 07:56:14      6,27      0.123438
19051  2004-09-14 09:34:43 2004-09-14 09:34:45      6,27      0.068391
19094  2004-09-14 09:54:46 2004-09-14 09:55:40      6,27      0.013900
...                    ...                 ...       ...           ...
761024 2005-03-26 07:00:20 2005-03-26 07:02:07      6,27      9.085417
762801 2005-03-28 14:11:15 2005-03-28 14:14:21      6,27      2.298009
765129 2005-03-29 13:27:10 2005-03-29 13:27:13      6,27      0.967234
765137 2005-03-29 13:30:40 2005-03-29 13:31:18      6,27      0.002396
767487 2005-03-31 04:50:21 2005-03-31 04:50:22      6,27      1.638229

[103 rows x 4 columns]
6,28
                     start                 end id_colums  intercontact
13731  2004-09-10 07:37:22 2004-09-10 07:37:23      6,28           NaN
15696  2004-09-11 06:27:44 2004-09-11 06:28:11      6,28      0.951632
15986  2004-09-12 09:21:06 2004-09-12 09:22:31      6,28      1.120081
16032  2004-09-12 10:35:59 2004-09-12 10:36:47      6,28      0.051019
16407  2004-09-13 04:10:30 2004-09-13 04:11:51      6,28      0.731748
...                    ...                 ...       ...           ...
747602 2005-03-15 13:57:13 2005-03-15 16:14:10      6,28      0.727604
748017 2005-03-15 22:47:11 2005-03-15 22:47:19      6,28      0.272928
748018 2005-03-15 22:53:08 2005-03-15 22:53:26      6,28      0.004039
762822 2005-03-28 14:14:23 2005-03-28 14:14:36      6,28     12.639549
768188 2005-03-31 10:58:30 2005-03-31 10:58:45      6,28      2.863819

[360 rows x 4 columns]
6,29
                     start                 end id_colums  intercontact
14388  2004-09-10 10:58:22 2004-09-10 10:58:29      6,29           NaN
14641  2004-09-10 12:00:31 2004-09-10 12:01:38      6,29      0.043079
14752  2004-09-10 12:13:55 2004-09-10 12:14:13      6,29      0.008530
14783  2004-09-10 12:18:52 2004-09-10 12:19:02      6,29      0.003229
14843  2004-09-10 12:23:12 2004-09-10 12:23:30      6,29      0.002894
...                    ...                 ...       ...           ...
731124 2005-03-02 12:15:00 2005-03-02 12:15:24      6,29      0.005613
731383 2005-03-02 12:58:59 2005-03-02 12:59:19      6,29      0.030266
735770 2005-03-04 11:42:23 2005-03-04 11:42:33      6,29      1.946574
735791 2005-03-04 11:54:09 2005-03-04 11:54:25      6,29      0.008056
735822 2005-03-04 12:08:20 2005-03-04 12:09:04      6,29      0.009664

[301 rows x 4 columns]
6,30
                     start                 end id_colums  intercontact
13181  2004-09-10 04:47:00 2004-09-10 04:47:07      6,30           NaN
13702  2004-09-10 07:34:52 2004-09-10 07:34:57      6,30      0.116493
14951  2004-09-10 12:42:17 2004-09-10 12:42:31      6,30      0.213426
15060  2004-09-10 12:55:15 2004-09-10 12:55:19      6,30      0.008843
15110  2004-09-10 13:05:36 2004-09-10 13:05:47      6,30      0.007141
...                    ...                 ...       ...           ...
267782 2004-10-30 15:48:31 2004-10-30 15:48:54      6,30      0.021030
272609 2004-11-01 05:53:13 2004-11-01 05:53:45      6,30      1.586331
282302 2004-11-01 21:23:36 2004-11-01 21:24:33      6,30      0.645729
282826 2004-11-02 03:57:22 2004-11-02 03:57:39      6,30      0.272789
300263 2004-11-03 09:44:40 2004-11-03 09:45:39      6,30      1.240984

[284 rows x 4 columns]
6,31
                    start                 end id_colums  intercontact
11267 2004-09-08 11:56:13 2004-09-08 11:56:15      6,31           NaN
6,32
                     start                 end id_colums  intercontact
27130  2004-09-17 06:45:24 2004-09-17 06:46:03      6,32           NaN
27821  2004-09-17 09:09:08 2004-09-17 09:09:17      6,32      0.099363
31756  2004-09-20 06:08:46 2004-09-20 06:08:50      6,32      2.874641
31819  2004-09-20 06:35:17 2004-09-20 06:35:19      6,32      0.018368
39440  2004-09-22 09:59:52 2004-09-22 10:00:11      6,32      2.142049
...                    ...                 ...       ...           ...
756537 2005-03-22 04:59:09 2005-03-22 04:59:52      6,32      0.004016
761097 2005-03-26 14:30:45 2005-03-26 14:30:58      6,32      4.396447
761144 2005-03-27 05:25:29 2005-03-27 05:25:46      6,32      0.621192
761146 2005-03-27 06:16:52 2005-03-27 06:16:58      6,32      0.035486
765471 2005-03-30 04:08:47 2005-03-30 04:08:49      6,32      2.910984

[103 rows x 4 columns]
6,35
                     start                 end id_colums  intercontact
295910 2004-11-03 04:30:01 2004-11-03 04:31:30      6,35           NaN
299644 2004-11-03 09:18:27 2004-11-03 09:18:54      6,35      0.199271
299653 2004-11-03 09:18:55 2004-11-03 09:19:10      6,35      0.000012
299799 2004-11-03 09:25:32 2004-11-03 09:26:09      6,35      0.004421
299848 2004-11-03 09:27:42 2004-11-03 09:28:05      6,35      0.001076
...                    ...                 ...       ...           ...
551769 2004-12-04 08:10:09 2004-12-04 08:11:04      6,35      0.859942
558583 2004-12-06 04:43:20 2004-12-06 04:43:38      6,35      1.855741
564696 2004-12-06 10:44:28 2004-12-06 10:44:44      6,35      0.250579
567294 2004-12-06 13:25:50 2004-12-06 13:26:01      6,35      0.111875
567870 2004-12-06 14:15:22 2004-12-06 14:15:39      6,35      0.034271

[85 rows x 4 columns]
6,40
                     start                 end id_colums  intercontact

[171 rows x 4 columns]
6,88
                     start                 end id_colums  intercontact
30124  2004-09-18 21:58:28 2004-09-18 21:58:29      6,88           NaN
31452  2004-09-20 04:49:59 2004-09-20 04:50:12      6,88      1.285764
31498  2004-09-20 04:58:08 2004-09-20 04:58:34      6,88      0.005509
31755  2004-09-20 06:08:46 2004-09-20 06:08:50      6,88      0.048750
34806  2004-09-20 19:44:49 2004-09-20 19:44:50      6,88      0.566655
...                    ...                 ...       ...           ...
388811 2004-11-16 07:51:06 2004-11-16 07:51:43      6,88      0.002280
389208 2004-11-16 08:03:37 2004-11-16 08:03:45      6,88      0.008264
399269 2004-11-16 22:28:43 2004-11-16 22:28:45      6,88      0.600671
400587 2004-11-17 05:35:25 2004-11-17 05:37:50      6,88      0.296296
400695 2004-11-17 05:44:20 2004-11-17 05:44:58      6,88      0.004514

[115 rows x 4 columns]
6,89
                    start                 end id_colums  intercontact
13180 2004-09-10 04:47:00 2004-09-10 04:47:07      6,89           NaN
17232 2004-09-13 12:12:47 2004-09-13 12:12:53      6,89      3.309491
17731 2004-09-13 17:54:16 2004-09-13 17:54:36      6,89      0.237072
18786 2004-09-14 08:19:34 2004-09-14 08:19:36      6,89      0.600671
18787 2004-09-14 08:20:27 2004-09-14 08:21:12      6,89      0.000590
19868 2004-09-14 11:57:38 2004-09-14 11:57:45      6,89      0.150301
20016 2004-09-14 12:07:12 2004-09-14 12:08:28      6,89      0.006562
22897 2004-09-15 11:56:12 2004-09-15 11:56:22      6,89      0.991481
25265 2004-09-16 11:10:49 2004-09-16 11:11:55      6,89      0.968368
27809 2004-09-17 09:06:39 2004-09-17 09:06:41      6,89      0.913009
27834 2004-09-17 09:14:38 2004-09-17 09:14:58      6,89      0.005521
27865 2004-09-17 09:26:09 2004-09-17 09:26:33      6,89      0.007766
28670 2004-09-17 12:17:44 2004-09-17 12:17:52      6,89      0.118877
31109 2004-09-19 16:22:16 2004-09-19 16:22:53      6,89      2.169722
31110 2004-09-19 16:23:32 2004-09-19 16:23:45      6,89      0.000451
31111 2004-09-19 16:23:57 2004-09-19 16:24:04      6,89      0.000139
31114 2004-09-19 16:25:55 2004-09-19 16:59:14      6,89      0.001285
6,9
                     start                 end id_colums  intercontact
289136 2004-11-02 10:08:48 2004-11-02 10:09:10       6,9           NaN
289242 2004-11-02 10:13:19 2004-11-02 10:15:43       6,9      0.002882
299956 2004-11-03 09:34:20 2004-11-03 09:34:49       6,9      0.971262
300227 2004-11-03 09:44:11 2004-11-03 09:44:23       6,9      0.006505
313630 2004-11-04 12:16:00 2004-11-04 12:16:01       6,9      1.105289
...                    ...                 ...       ...           ...
525275 2004-12-02 04:20:29 2004-12-02 04:20:50       6,9      0.667847
550220 2004-12-03 15:14:25 2004-12-03 15:14:37       6,9      1.453877
564622 2004-12-06 10:42:04 2004-12-06 10:42:05       6,9      2.810729
564701 2004-12-06 10:44:44 2004-12-06 10:45:18       6,9      0.001840
567295 2004-12-06 13:25:50 2004-12-06 13:26:01       6,9      0.111481

[69 rows x 4 columns]
60,61
                     start                 end id_colums  intercontact
43292  2004-09-23 09:48:03 2004-09-23 09:48:16     60,61           NaN
43308  2004-09-23 09:48:48 2004-09-23 09:49:07     60,61      0.000370
48897  2004-09-23 17:40:50 2004-09-23 17:41:17     60,61      0.327581
48941  2004-09-23 17:57:03 2004-09-23 17:57:22     60,61      0.010949
48967  2004-09-23 18:02:31 2004-09-23 18:02:50     60,61      0.003576
...                    ...                 ...       ...           ...
565671 2004-12-06 11:38:28 2004-12-06 11:39:26     60,61      0.010370
565765 2004-12-06 11:46:08 2004-12-06 11:46:31     60,61      0.004653
566362 2004-12-06 12:22:39 2004-12-06 12:28:00     60,61      0.025093
566533 2004-12-06 12:29:09 2004-12-06 12:34:42     60,61      0.000799
567567 2004-12-06 13:45:22 2004-12-06 13:45:29     60,61      0.049074

[113 rows x 4 columns]
60,62
                     start                 end id_colums  intercontact
52869  2004-09-24 09:48:49 2004-09-24 09:49:45     60,62           NaN
54087  2004-09-24 11:47:50 2004-09-24 11:48:07     60,62      0.082002
54096  2004-09-24 11:49:24 2004-09-24 11:56:18     60,62      0.000891
57258  2004-09-26 11:40:49 2004-09-26 11:41:16     60,62      1.989248
57696  2004-09-26 19:06:58 2004-09-26 19:07:23     60,62      0.309514
...                    ...                 ...       ...           ...
561244 2004-12-06 07:46:25 2004-12-06 07:46:43     60,62      0.016123
561272 2004-12-06 07:48:17 2004-12-06 07:48:20     60,62      0.001088
561336 2004-12-06 07:49:29 2004-12-06 07:49:31     60,62      0.000799
561343 2004-12-06 07:49:41 2004-12-06 07:50:09     60,62      0.000116
561488 2004-12-06 07:55:14 2004-12-06 07:55:38     60,62      0.003530

[476 rows x 4 columns]
60,66
                     start                 end id_colums  intercontact
43047  2004-09-23 09:17:54 2004-09-23 09:18:36     60,66           NaN
43301  2004-09-23 09:48:31 2004-09-23 09:51:58     60,66      0.020775
45250  2004-09-23 11:24:01 2004-09-23 11:25:20     60,66      0.063924
45383  2004-09-23 11:31:25 2004-09-23 11:31:39     60,66      0.004225
47360  2004-09-23 13:37:13 2004-09-23 13:37:24     60,66      0.087199
...                    ...                 ...       ...           ...
782695 2005-04-28 12:23:25 2005-04-28 12:23:26     60,66      0.001470
782897 2005-04-28 14:49:00 2005-04-28 14:49:03     60,66      0.101088
782914 2005-04-28 15:07:35 2005-04-28 15:08:16     60,66      0.012870
782963 2005-04-28 16:50:11 2005-04-28 16:51:34     60,66      0.070775
783017 2005-04-28 18:07:49 2005-04-28 18:08:25     60,66      0.052951

[829 rows x 4 columns]
60,68
                     start                 end id_colums  intercontact
182565 2004-10-18 12:39:51 2004-10-18 12:39:58     60,68           NaN
184201 2004-10-18 14:44:38 2004-10-18 14:44:58     60,68      0.086574
184262 2004-10-18 14:55:26 2004-10-18 14:55:48     60,68      0.007269
185374 2004-10-18 18:20:55 2004-10-18 18:21:11     60,68      0.142442
189002 2004-10-19 08:12:28 2004-10-19 08:13:00     60,68      0.577280
...                    ...                 ...       ...           ...
766117 2005-03-30 08:47:02 2005-03-30 08:47:23     60,68      0.002662
766369 2005-03-30 09:30:29 2005-03-30 09:30:56     60,68      0.029931
766399 2005-03-30 09:37:55 2005-03-30 09:38:46     60,68      0.004850
766421 2005-03-30 09:43:36 2005-03-30 10:00:38     60,68      0.003356
766571 2005-03-30 10:14:49 2005-03-30 10:15:22     60,68      0.009850

[198 rows x 4 columns]
60,69
                     start                 end id_colums  intercontact
118324 2004-10-07 06:53:01 2004-10-07 06:53:21     60,69           NaN
120408 2004-10-07 08:52:45 2004-10-07 08:53:15     60,69      0.082917
120560 2004-10-07 09:01:22 2004-10-07 09:02:59     60,69      0.005637
121077 2004-10-07 09:30:10 2004-10-07 09:31:24     60,69      0.018877
121251 2004-10-07 09:36:05 2004-10-07 09:36:16     60,69      0.003252
...                    ...                 ...       ...           ...
469151 2004-11-23 13:59:59 2004-11-23 14:00:13     60,69      0.001771
469219 2004-11-23 14:01:21 2004-11-23 14:01:31     60,69      0.000787
469233 2004-11-23 14:02:12 2004-11-23 14:02:15     60,69      0.000475
469242 2004-11-23 14:02:32 2004-11-23 14:03:18     60,69      0.000197
470001 2004-11-23 15:25:06 2004-11-23 15:25:34     60,69      0.056806

[279 rows x 4 columns]
60,70
                     start                 end id_colums  intercontact
591456 2004-12-09 11:37:09 2004-12-09 11:38:44     60,70           NaN
659739 2005-01-10 10:09:20 2005-01-10 10:09:33     60,70     31.937917
659902 2005-01-10 10:55:38 2005-01-10 10:55:41     60,70      0.032002
661287 2005-01-11 06:45:55 2005-01-11 06:46:26     60,70      0.826551
661288 2005-01-11 06:47:19 2005-01-11 06:47:31     60,70      0.000613
...                    ...                 ...       ...           ...
733369 2005-03-03 10:26:22 2005-03-03 10:30:07     60,70      0.000764
733384 2005-03-03 10:30:25 2005-03-03 10:30:26     60,70      0.000208
733623 2005-03-03 11:07:11 2005-03-03 11:07:18     60,70      0.025521
733640 2005-03-03 11:09:52 2005-03-03 11:09:54     60,70      0.001782
733641 2005-03-03 11:09:54 2005-03-03 11:10:08     60,70      0.000000

[108 rows x 4 columns]
60,71
                     start                 end id_colums  intercontact
109868 2004-10-06 06:19:00 2004-10-06 06:19:04     60,71           NaN
109890 2004-10-06 06:23:05 2004-10-06 06:23:13     60,71      0.002789
109900 2004-10-06 06:23:49 2004-10-06 06:25:09     60,71      0.000417
109965 2004-10-06 06:30:01 2004-10-06 06:30:45     60,71      0.003380
110019 2004-10-06 06:38:19 2004-10-06 06:38:26     60,71      0.005255
...                    ...                 ...       ...           ...
772880 2005-04-08 09:47:30 2005-04-08 09:48:04     60,71      0.039387
772884 2005-04-08 09:49:40 2005-04-08 09:49:54     60,71      0.001111
772948 2005-04-08 11:07:57 2005-04-08 11:08:04     60,71      0.054201
772956 2005-04-08 11:09:36 2005-04-08 11:09:55     60,71      0.001065
773058 2005-04-09 06:53:10 2005-04-09 06:54:42     60,71      0.821701

[750 rows x 4 columns]
60,72
                     start                 end id_colums  intercontact
274961 2004-11-01 09:03:15 2004-11-01 09:05:00     60,72           NaN
276965 2004-11-01 10:52:17 2004-11-01 10:52:24     60,72      0.074502
277245 2004-11-01 11:00:49 2004-11-01 11:01:02     60,72      0.005845
277653 2004-11-01 11:20:05 2004-11-01 11:20:52     60,72      0.013229
278549 2004-11-01 11:52:55 2004-11-01 11:52:57     60,72      0.022257
...                    ...                 ...       ...           ...
663173 2005-01-12 03:43:49 2005-01-12 03:44:03     60,72      0.018854
663174 2005-01-12 03:44:57 2005-01-12 03:46:02     60,72      0.000625
663183 2005-01-12 03:54:07 2005-01-12 03:55:06     60,72      0.005613
663187 2005-01-12 04:00:20 2005-01-12 04:00:40     60,72      0.003634
673352 2005-01-17 04:01:43 2005-01-17 04:24:04     60,72      5.000729

[153 rows x 4 columns]
60,75
                     start                 end id_colums  intercontact
115253 2004-10-06 13:40:31 2004-10-06 13:41:30     60,75           NaN
115303 2004-10-06 13:43:39 2004-10-06 13:44:20     60,75      0.001493
118842 2004-10-07 07:29:20 2004-10-07 07:29:26     60,75      0.739583
119000 2004-10-07 07:43:02 2004-10-07 07:43:24     60,75      0.009444
119009 2004-10-07 07:43:38 2004-10-07 07:43:49     60,75      0.000162
...                    ...                 ...       ...           ...
557826 2004-12-05 19:47:32 2004-12-05 19:47:36     60,75      0.236053
573881 2004-12-07 12:53:59 2004-12-07 12:54:00     60,75      1.712766
603428 2004-12-10 19:29:22 2004-12-10 19:29:38     60,75      3.274560
673697 2005-01-17 08:20:28 2005-01-17 08:20:42     60,75     37.535301
673714 2005-01-17 08:24:22 2005-01-17 08:25:14     60,75      0.002546

[72 rows x 4 columns]
60,76
                     start                 end id_colums  intercontact
185086 2004-10-18 17:32:05 2004-10-18 17:32:07     60,76           NaN
185283 2004-10-18 18:05:59 2004-10-18 18:06:08     60,76      0.023519
205265 2004-10-20 18:53:39 2004-10-20 18:54:55     60,76      2.032998
216458 2004-10-22 11:46:11 2004-10-22 11:46:14     60,76      1.702269
216522 2004-10-22 11:49:49 2004-10-22 11:50:26     60,76      0.002488
...                    ...                 ...       ...           ...
617610 2004-12-13 11:50:52 2004-12-13 11:50:56     60,76      0.000127
618351 2004-12-13 12:40:24 2004-12-13 12:40:46     60,76      0.034352
618371 2004-12-13 12:41:29 2004-12-13 12:41:34     60,76      0.000498
618425 2004-12-13 12:45:18 2004-12-13 12:45:42     60,76      0.002593
618568 2004-12-13 12:51:15 2004-12-13 12:51:17     60,76      0.003854

[244 rows x 4 columns]
60,78
                    start                 end id_colums  intercontact
42082 2004-09-23 07:08:14 2004-09-23 07:08:31     60,78           NaN
60,79
                     start                 end id_colums  intercontact
154051 2004-10-13 13:17:56 2004-10-13 13:20:13     60,79           NaN
155860 2004-10-14 06:08:43 2004-10-14 06:08:52     60,79      0.700347
158190 2004-10-14 08:46:34 2004-10-14 08:46:36     60,79      0.109514
159008 2004-10-14 09:44:20 2004-10-14 09:44:22     60,79      0.040093
162221 2004-10-14 13:10:11 2004-10-14 13:10:12     60,79      0.142928
...                    ...                 ...       ...           ...
777918 2005-04-18 11:25:27 2005-04-18 11:25:51     60,79      0.003773
777920 2005-04-18 11:26:18 2005-04-18 11:26:52     60,79      0.000313
777993 2005-04-18 12:49:30 2005-04-18 12:49:31     60,79      0.057384
778014 2005-04-18 13:33:44 2005-04-18 13:35:03     60,79      0.030706
778023 2005-04-18 14:16:46 2005-04-18 14:17:56     60,79      0.028970

[254 rows x 4 columns]
60,80
                     start                 end id_colums  intercontact
111054 2004-10-06 08:21:39 2004-10-06 08:22:06     60,80           NaN
111159 2004-10-06 08:27:14 2004-10-06 08:27:39     60,80      0.003565
111232 2004-10-06 08:31:18 2004-10-06 08:31:20     60,80      0.002535
111309 2004-10-06 08:37:21 2004-10-06 08:38:37     60,80      0.004178
111330 2004-10-06 08:39:51 2004-10-06 08:40:10     60,80      0.000856
...                    ...                 ...       ...           ...
280762 2004-11-01 13:57:35 2004-11-01 13:57:59     60,80      0.000359
280918 2004-11-01 14:14:58 2004-11-01 14:15:53     60,80      0.011794
280928 2004-11-01 14:16:14 2004-11-01 14:16:46     60,80      0.000243
281321 2004-11-01 15:08:31 2004-11-01 15:09:56     60,80      0.035937
281622 2004-11-01 16:14:11 2004-11-01 16:14:13     60,80      0.044618

[218 rows x 4 columns]
60,81
                     start                 end id_colums  intercontact
281559 2004-11-01 15:53:49 2004-11-01 15:54:16     60,81           NaN
281621 2004-11-01 16:14:11 2004-11-01 16:14:13     60,81      0.013831
281631 2004-11-01 16:15:01 2004-11-01 16:15:03     60,81      0.000556
287068 2004-11-02 08:59:05 2004-11-02 08:59:07     60,81      0.697245
287134 2004-11-02 09:01:24 2004-11-02 09:01:26     60,81      0.001586
...                    ...                 ...       ...           ...
692698 2005-01-27 06:31:10 2005-01-27 06:32:03     60,81      7.956123
692776 2005-01-27 06:43:39 2005-01-27 06:43:48     60,81      0.008056
692781 2005-01-27 06:45:39 2005-01-27 06:45:57     60,81      0.001285
693030 2005-01-27 07:25:21 2005-01-27 07:26:01     60,81      0.027361
693251 2005-01-27 07:50:56 2005-01-27 07:50:57     60,81      0.017303

[114 rows x 4 columns]
60,82
                     start                 end id_colums  intercontact
43401  2004-09-23 09:52:27 2004-09-23 09:52:59     60,82           NaN
47582  2004-09-23 13:54:27 2004-09-23 13:54:29     60,82      0.167685
48225  2004-09-23 15:47:04 2004-09-23 15:48:20     60,82      0.078183
48339  2004-09-23 16:05:51 2004-09-23 16:06:40     60,82      0.012164
48357  2004-09-23 16:07:48 2004-09-23 16:08:21     60,82      0.000787
...                    ...                 ...       ...           ...
565109 2004-12-06 11:06:26 2004-12-06 11:07:00     60,82      0.120648
567551 2004-12-06 13:44:24 2004-12-06 13:45:58     60,82      0.109306
567668 2004-12-06 13:56:01 2004-12-06 13:56:08     60,82      0.006979
568135 2004-12-06 15:08:54 2004-12-06 15:09:43     60,82      0.050532
568396 2004-12-06 16:01:54 2004-12-06 16:02:25     60,82      0.036238

[602 rows x 4 columns]
60,83
                     start                 end id_colums  intercontact
47352  2004-09-23 13:35:58 2004-09-23 13:36:26     60,83           NaN
47581  2004-09-23 13:54:27 2004-09-23 13:54:29     60,83      0.012512
49587  2004-09-24 04:48:00 2004-09-24 04:49:08     60,83      0.620498
51075  2004-09-24 07:35:03 2004-09-24 07:37:55     60,83      0.115220
66285  2004-09-28 05:57:31 2004-09-28 05:57:38     60,83      3.930278
66327  2004-09-28 06:01:39 2004-09-28 06:02:57     60,83      0.002789
66375  2004-09-28 06:07:02 2004-09-28 06:07:18     60,83      0.002836
68861  2004-09-28 09:13:14 2004-09-28 09:13:26     60,83      0.129120
68926  2004-09-28 09:16:33 2004-09-28 09:16:44     60,83      0.002164
69226  2004-09-28 09:32:44 2004-09-28 09:32:55     60,83      0.011111
69577  2004-09-28 09:52:10 2004-09-28 09:52:53     60,83      0.013368
73500  2004-09-28 16:04:39 2004-09-28 16:04:55     60,83      0.258171
73744  2004-09-28 18:20:37 2004-09-28 18:20:39     60,83      0.094236
277980 2004-11-01 11:31:57 2004-11-01 11:32:21     60,83     33.716181
280578 2004-11-01 13:43:56 2004-11-01 13:44:17     60,83      0.091377
280646 2004-11-01 13:48:15 2004-11-01 13:48:33     60,83      0.002755
280671 2004-11-01 13:50:29 2004-11-01 13:50:50     60,83      0.001343
304510 2004-11-03 15:01:51 2004-11-03 15:03:04     60,83      2.049317
304760 2004-11-03 15:47:21 2004-11-03 15:47:43     60,83      0.030752
304804 2004-11-03 15:54:01 2004-11-03 15:54:07     60,83      0.004375
304807 2004-11-03 15:54:28 2004-11-03 15:55:23     60,83      0.000243
305312 2004-11-03 18:34:53 2004-11-03 18:34:55     60,83      0.110764
60,85
                     start                 end id_colums  intercontact
219279 2004-10-23 15:23:30 2004-10-23 15:23:31     60,85           NaN
219281 2004-10-23 15:25:17 2004-10-23 15:25:19     60,85      0.001227
219461 2004-10-23 18:53:18 2004-10-23 18:54:05     60,85      0.144433
219482 2004-10-23 19:15:24 2004-10-23 19:15:26     60,85      0.014803
219502 2004-10-23 19:33:16 2004-10-23 19:33:18     60,85      0.012384
...                    ...                 ...       ...           ...
782012 2005-04-27 14:06:01 2005-04-27 14:06:02     60,85      0.231655
782614 2005-04-28 12:00:22 2005-04-28 12:00:40     60,85      0.912731
782707 2005-04-28 12:29:26 2005-04-28 12:29:31     60,85      0.019977
782730 2005-04-28 12:45:48 2005-04-28 12:48:06     60,85      0.011308
782744 2005-04-28 12:50:45 2005-04-28 12:54:53     60,85      0.001840

[343 rows x 4 columns]
60,86
                     start                 end id_colums  intercontact
23819  2004-09-16 05:58:13 2004-09-16 05:59:49     60,86           NaN
23849  2004-09-16 06:10:58 2004-09-16 06:10:59     60,86      0.007743
24063  2004-09-16 07:09:04 2004-09-16 07:09:36     60,86      0.040336
24344  2004-09-16 07:50:56 2004-09-16 07:51:43     60,86      0.028704
24397  2004-09-16 07:55:11 2004-09-16 07:55:48     60,86      0.002407
...                    ...                 ...       ...           ...
676067 2005-01-18 09:58:57 2005-01-18 09:59:03     60,86      0.005162
676229 2005-01-18 10:24:45 2005-01-18 10:27:46     60,86      0.017847
676725 2005-01-18 11:46:17 2005-01-18 11:47:53     60,86      0.054525
676748 2005-01-18 11:49:19 2005-01-18 11:49:20     60,86      0.000995
677060 2005-01-18 13:21:44 2005-01-18 13:22:18     60,86      0.064167

[167 rows x 4 columns]
60,87
                     start                 end id_colums  intercontact
239164 2004-10-26 12:16:52 2004-10-26 12:17:01     60,87           NaN
247228 2004-10-27 11:19:38 2004-10-27 11:20:33     60,87      0.960150
247307 2004-10-27 11:28:58 2004-10-27 11:29:21     60,87      0.005845
266721 2004-10-30 09:03:45 2004-10-30 09:05:07     60,87      2.898889
266735 2004-10-30 09:17:54 2004-10-30 09:17:58     60,87      0.008877
...                    ...                 ...       ...           ...
777917 2005-04-18 11:25:27 2005-04-18 11:25:51     60,87      0.003773
777922 2005-04-18 11:26:18 2005-04-18 11:26:52     60,87      0.000313
777992 2005-04-18 12:49:30 2005-04-18 12:49:31     60,87      0.057384
778015 2005-04-18 13:33:44 2005-04-18 13:35:03     60,87      0.030706
778025 2005-04-18 14:16:46 2005-04-18 14:17:56     60,87      0.028970

[316 rows x 4 columns]
60,88
                     start                 end id_colums  intercontact
32170  2004-09-20 07:43:49 2004-09-20 07:44:21     60,88           NaN

[78 rows x 4 columns]
62,87
                     start                 end id_colums  intercontact
52877  2004-09-24 09:48:49 2004-09-24 09:49:45     62,87           NaN
238561 2004-10-26 11:34:11 2004-10-26 11:34:29     62,87     32.072523
239037 2004-10-26 12:08:33 2004-10-26 12:09:01     62,87      0.023657
239093 2004-10-26 12:11:24 2004-10-26 12:11:40     62,87      0.001655
239101 2004-10-26 12:12:03 2004-10-26 12:13:06     62,87      0.000266
...                    ...                 ...       ...           ...
566872 2004-12-06 12:53:05 2004-12-06 12:53:25     62,87      0.203495
568364 2004-12-06 15:56:13 2004-12-06 15:56:26     62,87      0.126944
568386 2004-12-06 16:00:10 2004-12-06 16:00:40     62,87      0.002593
568391 2004-12-06 16:00:44 2004-12-06 16:00:54     62,87      0.000046
568394 2004-12-06 16:01:02 2004-12-06 16:07:17     62,87      0.000093

[95 rows x 4 columns]
62,88
                     start                 end id_colums  intercontact
53033  2004-09-24 10:00:00 2004-09-24 10:00:32     62,88           NaN
53310  2004-09-24 10:15:01 2004-09-24 10:15:20     62,88      0.010058
53349  2004-09-24 10:17:13 2004-09-24 10:19:17     62,88      0.001308
53389  2004-09-24 10:21:21 2004-09-24 10:22:33     62,88      0.001435
53402  2004-09-24 10:23:25 2004-09-24 10:23:34     62,88      0.000602
...                    ...                 ...       ...           ...
298646 2004-11-03 08:14:43 2004-11-03 08:16:03     62,88      0.029063
299197 2004-11-03 08:49:00 2004-11-03 08:50:45     62,88      0.022882
300618 2004-11-03 10:05:59 2004-11-03 10:14:43     62,88      0.052245
300946 2004-11-03 10:26:00 2004-11-03 10:26:41     62,88      0.007836
304055 2004-11-03 13:59:23 2004-11-03 13:59:42     62,88      0.147708

[547 rows x 4 columns]
63,64
                     start                 end id_colums  intercontact
37898  2004-09-21 15:22:38 2004-09-21 15:23:03     63,64           NaN
37912  2004-09-21 15:25:47 2004-09-21 15:28:07     63,64      0.001898
37919  2004-09-21 15:28:07 2004-09-21 15:28:31     63,64      0.000000
37922  2004-09-21 15:28:42 2004-09-21 15:28:51     63,64      0.000127
37923  2004-09-21 15:29:35 2004-09-21 15:32:34     63,64      0.000509
...                    ...                 ...       ...           ...
669866 2005-01-14 08:20:09 2005-01-14 08:20:34     63,64      0.009687
671277 2005-01-14 14:03:45 2005-01-14 14:04:00     63,64      0.238322
671280 2005-01-14 14:07:18 2005-01-14 14:08:04     63,64      0.002292
671649 2005-01-14 16:53:47 2005-01-14 16:54:52     63,64      0.115081
671838 2005-01-14 18:31:59 2005-01-14 18:32:26     63,64      0.067442

[908 rows x 4 columns]
63,73
                     start                 end id_colums  intercontact
39436  2004-09-22 09:59:32 2004-09-22 10:00:14     63,73           NaN
39752  2004-09-22 11:00:36 2004-09-22 11:01:13     63,73      0.041921
41289  2004-09-22 22:20:57 2004-09-22 23:23:40     63,73      0.472037
41823  2004-09-23 06:26:34 2004-09-23 06:26:43     63,73      0.293681
42610  2004-09-23 07:54:05 2004-09-23 07:54:49     63,73      0.060671
...                    ...                 ...       ...           ...
587688 2004-12-09 05:44:26 2004-12-09 05:44:33     63,73      0.032523
588114 2004-12-09 06:38:20 2004-12-09 06:38:23     63,73      0.037350
588116 2004-12-09 06:38:23 2004-12-09 06:43:07     63,73      0.000000
593089 2004-12-09 13:05:26 2004-12-09 13:05:36     63,73      0.265498
593910 2004-12-09 13:52:34 2004-12-09 13:53:25     63,73      0.032616

[363 rows x 4 columns]
63,74
                     start                 end id_colums  intercontact
147072 2004-10-13 04:43:45 2004-10-13 04:44:15     63,74           NaN
147216 2004-10-13 05:02:37 2004-10-13 05:03:00     63,74      0.012755
147235 2004-10-13 05:03:52 2004-10-13 05:04:00     63,74      0.000602
147265 2004-10-13 05:07:13 2004-10-13 05:07:31     63,74      0.002234
147309 2004-10-13 05:10:41 2004-10-13 05:12:35     63,74      0.002199
...                    ...                 ...       ...           ...
761837 2005-03-28 10:14:09 2005-03-28 10:14:32     63,74      0.000394
761862 2005-03-28 10:17:29 2005-03-28 10:18:01     63,74      0.002049
761889 2005-03-28 10:23:54 2005-03-28 10:24:09     63,74      0.004086
761979 2005-03-28 10:46:47 2005-03-28 10:47:41     63,74      0.015718
763361 2005-03-29 07:28:35 2005-03-29 07:29:05     63,74      0.861736

[473 rows x 4 columns]
63,78
                     start                 end id_colums  intercontact
108713 2004-10-05 18:06:00 2004-10-05 18:06:21     63,78           NaN
108722 2004-10-05 18:16:56 2004-10-05 18:17:22     63,78      0.007350
109224 2004-10-06 04:47:46 2004-10-06 04:47:51     63,78      0.437778
109250 2004-10-06 04:52:54 2004-10-06 04:53:13     63,78      0.003507
109261 2004-10-06 04:55:13 2004-10-06 04:55:30     63,78      0.001389
...                    ...                 ...       ...           ...
773580 2005-04-11 11:58:14 2005-04-11 11:58:28     63,78      0.202836
773592 2005-04-11 12:05:53 2005-04-11 12:08:13     63,78      0.005150
775012 2005-04-13 08:38:24 2005-04-13 08:41:14     63,78      1.854294
775957 2005-04-14 03:55:19 2005-04-14 04:49:10     63,78      0.801447
775985 2005-04-14 06:37:10 2005-04-14 06:39:09     63,78      0.075000

[649 rows x 4 columns]
63,83
                    start                 end id_colums  intercontact
46251 2004-09-23 12:23:59 2004-09-23 12:24:06     63,83           NaN
66661 2004-09-28 06:28:53 2004-09-28 06:29:01     63,83      4.753322
66699 2004-09-28 06:33:15 2004-09-28 06:33:19     63,83      0.002940
66846 2004-09-28 06:46:25 2004-09-28 06:46:33     63,83      0.009097
63,84
                     start                 end id_colums  intercontact
39905  2004-09-22 11:21:20 2004-09-22 11:23:32     63,84           NaN
40241  2004-09-22 12:20:35 2004-09-22 12:21:23     63,84      0.039618
40287  2004-09-22 12:28:06 2004-09-22 12:28:41     63,84      0.004664
40330  2004-09-22 12:36:58 2004-09-22 12:37:04     63,84      0.005752
40336  2004-09-22 12:38:15 2004-09-22 12:38:32     63,84      0.000822
...                    ...                 ...       ...           ...
731642 2005-03-02 14:06:03 2005-03-02 14:07:07     63,84      0.017488
731813 2005-03-02 15:32:50 2005-03-02 15:32:59     63,84      0.059525
731829 2005-03-02 15:42:32 2005-03-02 15:42:39     63,84      0.006632
731831 2005-03-02 15:47:37 2005-03-02 15:47:40     63,84      0.003449
731835 2005-03-02 15:49:45 2005-03-02 15:50:00     63,84      0.001447

[1246 rows x 4 columns]
64,73
                     start                 end id_colums  intercontact
34961  2004-09-21 04:56:25 2004-09-21 04:56:41     64,73           NaN
34962  2004-09-21 04:56:56 2004-09-21 04:57:14     64,73      0.000174
34977  2004-09-21 05:04:29 2004-09-21 05:04:42     64,73      0.005035
35014  2004-09-21 05:37:08 2004-09-21 05:37:24     64,73      0.022523
35016  2004-09-21 05:37:56 2004-09-21 05:38:11     64,73      0.000370
...                    ...                 ...       ...           ...
593924 2004-12-09 13:54:12 2004-12-09 13:55:00     64,73      0.028218
593991 2004-12-09 14:01:26 2004-12-09 14:02:27     64,73      0.004468
594015 2004-12-09 14:02:38 2004-12-09 14:02:43     64,73      0.000127
594023 2004-12-09 14:03:01 2004-12-09 14:04:03     64,73      0.000208
594068 2004-12-09 14:12:38 2004-12-09 14:15:51     64,73      0.005961

[608 rows x 4 columns]
64,74
                     start                 end id_colums  intercontact
166690 2004-10-15 07:05:23 2004-10-15 07:05:48     64,74           NaN
166826 2004-10-15 07:17:49 2004-10-15 07:17:55     64,74      0.008345
168015 2004-10-15 08:40:16 2004-10-15 08:40:18     64,74      0.057188
168036 2004-10-15 08:45:40 2004-10-15 08:46:06     64,74      0.003727
168077 2004-10-15 08:49:32 2004-10-15 08:49:47     64,74      0.002384
...                    ...                 ...       ...           ...
623205 2004-12-14 09:12:15 2004-12-14 09:39:23     64,74      0.115116
634664 2004-12-15 18:21:37 2004-12-15 18:22:00     64,74      1.362662
637958 2004-12-16 10:40:41 2004-12-16 10:40:58     64,74      0.679641
638047 2004-12-16 10:47:34 2004-12-16 10:47:51     64,74      0.004583
638240 2004-12-16 11:05:05 2004-12-16 11:05:24     64,74      0.011968

[493 rows x 4 columns]
64,78
                     start                 end id_colums  intercontact
108128 2004-10-05 14:12:03 2004-10-05 14:18:17     64,78           NaN
108166 2004-10-05 14:19:58 2004-10-05 14:20:33     64,78      0.001169
108274 2004-10-05 14:44:42 2004-10-05 14:48:49     64,78      0.016771
108309 2004-10-05 14:58:19 2004-10-05 14:58:48     64,78      0.006597
108310 2004-10-05 15:00:08 2004-10-05 15:00:25     64,78      0.000926
...                    ...                 ...       ...           ...
635762 2004-12-16 07:03:03 2004-12-16 07:03:31     64,78      0.132141
635782 2004-12-16 07:04:59 2004-12-16 07:05:08     64,78      0.001019
635830 2004-12-16 07:08:28 2004-12-16 07:09:15     64,78      0.002315
635832 2004-12-16 07:09:35 2004-12-16 07:09:50     64,78      0.000231
635857 2004-12-16 07:14:10 2004-12-16 07:14:12     64,78      0.003009

[772 rows x 4 columns]
64,83
                    start                 end id_colums  intercontact
46532 2004-09-23 12:41:09 2004-09-23 12:41:30     64,83           NaN
65455 2004-09-28 03:49:52 2004-09-28 03:50:08     64,83      4.630810
65464 2004-09-28 03:52:20 2004-09-28 03:52:45     64,83      0.001528
65518 2004-09-28 04:10:32 2004-09-28 04:14:10     64,83      0.012350
65904 2004-09-28 05:10:16 2004-09-28 05:10:52     64,83      0.038958
66004 2004-09-28 05:26:59 2004-09-28 05:27:35     64,83      0.011192
66386 2004-09-28 06:07:38 2004-09-28 06:07:51     64,83      0.027813
66632 2004-09-28 06:25:34 2004-09-28 06:27:30     64,83      0.012303
66756 2004-09-28 06:42:17 2004-09-28 06:42:24     64,83      0.010266
66874 2004-09-28 06:47:43 2004-09-28 06:48:00     64,83      0.003692
66940 2004-09-28 06:49:15 2004-09-28 06:49:44     64,83      0.000868
67079 2004-09-28 06:53:36 2004-09-28 06:53:51     64,83      0.002685
64,84
                     start                 end id_colums  intercontact
39836  2004-09-22 11:08:52 2004-09-22 11:08:59     64,84           NaN
39910  2004-09-22 11:23:25 2004-09-22 11:23:32     64,84      0.010023
40096  2004-09-22 11:52:53 2004-09-22 11:52:54     64,84      0.020382
40266  2004-09-22 12:25:40 2004-09-22 12:26:56     64,84      0.022755
40286  2004-09-22 12:28:05 2004-09-22 12:28:06     64,84      0.000799
...                    ...                 ...       ...           ...
680515 2005-01-19 17:45:06 2005-01-19 17:45:25     64,84      0.010451
680519 2005-01-19 17:50:26 2005-01-19 17:51:14     64,84      0.003484
680520 2005-01-19 17:51:14 2005-01-19 17:51:21     64,84      0.000000
680521 2005-01-19 17:51:49 2005-01-19 17:52:02     64,84      0.000324
680888 2005-01-20 06:58:09 2005-01-20 06:58:38     64,84      0.545914

[1069 rows x 4 columns]
66,68
                     start                 end id_colums  intercontact
179950 2004-10-18 08:52:12 2004-10-18 08:52:24     66,68           NaN
180063 2004-10-18 08:59:26 2004-10-18 09:00:18     66,68      0.004884
188875 2004-10-19 08:09:09 2004-10-19 08:09:12     66,68      0.964479
188909 2004-10-19 08:10:11 2004-10-19 08:12:28     66,68      0.000683
189024 2004-10-19 08:12:39 2004-10-19 08:13:30     66,68      0.000127
...                    ...                 ...       ...           ...
766820 2005-03-30 11:07:11 2005-03-30 11:07:26     66,68      0.003646
766825 2005-03-30 11:08:13 2005-03-30 11:08:38     66,68      0.000544
766832 2005-03-30 11:09:57 2005-03-30 11:10:49     66,68      0.000914
768365 2005-03-31 13:30:00 2005-03-31 13:30:13     66,68      1.096655
768445 2005-03-31 17:06:33 2005-03-31 17:07:07     66,68      0.150231

[317 rows x 4 columns]
66,69
                     start                 end id_colums  intercontact
120917 2004-10-07 09:23:07 2004-10-07 09:23:18     66,69           NaN
120920 2004-10-07 09:23:33 2004-10-07 09:24:16     66,69      0.000174
120950 2004-10-07 09:24:35 2004-10-07 09:25:01     66,69      0.000220
121015 2004-10-07 09:27:13 2004-10-07 09:27:16     66,69      0.001528
121253 2004-10-07 09:36:05 2004-10-07 09:36:16     66,69      0.006123
...                    ...                 ...       ...           ...
405651 2004-11-17 10:22:01 2004-11-17 10:22:03     66,69      0.000116
406062 2004-11-17 10:36:30 2004-11-17 10:36:35     66,69      0.010035
407328 2004-11-17 11:14:33 2004-11-17 11:14:59     66,69      0.026366
407352 2004-11-17 11:16:27 2004-11-17 11:17:49     66,69      0.001019
411607 2004-11-18 03:24:59 2004-11-18 03:25:03     66,69      0.671644

[700 rows x 4 columns]
66,70
                     start                 end id_colums  intercontact
590998 2004-12-09 11:02:13 2004-12-09 11:02:28     66,70           NaN
591246 2004-12-09 11:21:24 2004-12-09 11:21:56     66,70      0.013148
591294 2004-12-09 11:25:19 2004-12-09 11:26:39     66,70      0.002350
591343 2004-12-09 11:29:29 2004-12-09 11:29:41     66,70      0.001968
591475 2004-12-09 11:37:57 2004-12-09 11:39:06     66,70      0.005741
...                    ...                 ...       ...           ...
733127 2005-03-03 10:03:40 2005-03-03 10:04:17     66,70      0.030498
733163 2005-03-03 10:06:58 2005-03-03 10:08:52     66,70      0.001863
733372 2005-03-03 10:27:09 2005-03-03 10:27:10     66,70      0.012697
733417 2005-03-03 10:34:01 2005-03-03 10:37:04     66,70      0.004757
733657 2005-03-03 11:11:24 2005-03-03 11:13:01     66,70      0.023843

[205 rows x 4 columns]
66,71
                     start                 end id_colums  intercontact
110805 2004-10-06 07:53:10 2004-10-06 07:53:25     66,71           NaN
110814 2004-10-06 07:53:39 2004-10-06 07:53:53     66,71      0.000162
110850 2004-10-06 07:55:22 2004-10-06 07:55:35     66,71      0.001030
110909 2004-10-06 07:58:33 2004-10-06 07:59:01     66,71      0.002060
110973 2004-10-06 08:06:43 2004-10-06 08:06:59     66,71      0.005347
...                    ...                 ...       ...           ...
770786 2005-04-03 11:08:18 2005-04-03 11:08:55     66,71      0.000382
770788 2005-04-03 11:21:30 2005-04-03 11:21:48     66,71      0.008738
770791 2005-04-03 11:24:21 2005-04-03 11:24:32     66,71      0.001771
770792 2005-04-03 11:45:02 2005-04-03 11:45:29     66,71      0.014236
770793 2005-04-03 11:46:31 2005-04-03 11:46:41     66,71      0.000718

[2019 rows x 4 columns]
66,72
                     start                 end id_colums  intercontact
274575 2004-11-01 08:40:41 2004-11-01 08:40:50     66,72           NaN
275151 2004-11-01 09:14:23 2004-11-01 09:14:32     66,72      0.023299
275354 2004-11-01 09:31:50 2004-11-01 09:32:12     66,72      0.012014
275666 2004-11-01 09:41:42 2004-11-01 09:41:54     66,72      0.006597
275709 2004-11-01 09:42:25 2004-11-01 09:43:31     66,72      0.000359
...                    ...                 ...       ...           ...
666831 2005-01-13 08:48:01 2005-01-13 08:48:08     66,72      0.774468
666923 2005-01-13 09:14:08 2005-01-13 09:14:15     66,72      0.018056
667031 2005-01-13 09:35:58 2005-01-13 09:38:24     66,72      0.015081
667218 2005-01-13 10:06:10 2005-01-13 10:06:30     66,72      0.019282
667302 2005-01-13 10:18:39 2005-01-13 10:18:41     66,72      0.008438

[324 rows x 4 columns]
66,75
                     start                 end id_colums  intercontact
115161 2004-10-06 13:33:50 2004-10-06 13:34:24     66,75           NaN
115268 2004-10-06 13:41:30 2004-10-06 13:41:59     66,75      0.004931
115647 2004-10-06 14:22:05 2004-10-06 14:22:35     66,75      0.027847
119006 2004-10-07 07:43:28 2004-10-07 07:43:49     66,75      0.722836
119031 2004-10-07 07:46:01 2004-10-07 07:49:40     66,75      0.001528
...                    ...                 ...       ...           ...
684951 2005-01-21 20:52:14 2005-01-21 20:52:25     66,75      0.023819
684953 2005-01-21 20:52:34 2005-01-21 20:54:10     66,75      0.000104
684957 2005-01-21 21:07:29 2005-01-21 21:07:46     66,75      0.009248
684958 2005-01-21 21:07:53 2005-01-21 21:08:45     66,75      0.000081
685132 2005-01-22 13:28:32 2005-01-22 13:29:01     66,75      0.680405

[176 rows x 4 columns]
66,76
                     start                 end id_colums  intercontact
186054 2004-10-19 04:25:51 2004-10-19 04:26:28     66,76           NaN
186101 2004-10-19 04:33:56 2004-10-19 04:34:40     66,76      0.005185
186104 2004-10-19 04:34:42 2004-10-19 04:38:24     66,76      0.000023
186169 2004-10-19 04:43:59 2004-10-19 04:44:01     66,76      0.003877
186187 2004-10-19 04:44:48 2004-10-19 04:45:21     66,76      0.000544
...                    ...                 ...       ...           ...
637124 2004-12-16 08:52:57 2004-12-16 08:54:41     66,76      0.154583
637191 2004-12-16 09:03:12 2004-12-16 09:03:26     66,76      0.005914
637241 2004-12-16 09:07:58 2004-12-16 09:08:40     66,76      0.003148
637323 2004-12-16 09:19:51 2004-12-16 09:20:13     66,76      0.007766
637961 2004-12-16 10:41:14 2004-12-16 10:41:42     66,76      0.056262

[372 rows x 4 columns]
66,79
                     start                 end id_colums  intercontact
152122 2004-10-13 10:37:57 2004-10-13 10:38:23     66,79           NaN
152128 2004-10-13 10:38:42 2004-10-13 10:40:36     66,79      0.000220
155233 2004-10-14 04:16:41 2004-10-14 04:16:43     66,79      0.733391
155429 2004-10-14 05:06:55 2004-10-14 05:06:57     66,79      0.034861
155450 2004-10-14 05:08:28 2004-10-14 05:08:31     66,79      0.001053
...                    ...                 ...       ...           ...
766672 2005-03-30 10:34:22 2005-03-30 10:34:40     66,79      0.939931
766779 2005-03-30 10:55:01 2005-03-30 10:55:20     66,79      0.014132
766885 2005-03-30 11:17:02 2005-03-30 11:17:26     66,79      0.015069
770738 2005-04-03 10:28:15 2005-04-03 10:28:31     66,79      3.965845
770797 2005-04-03 11:58:02 2005-04-03 12:32:05     66,79      0.062164

[275 rows x 4 columns]
66,80
                     start                 end id_colums  intercontact
111942 2004-10-06 09:35:24 2004-10-06 09:35:26     66,80           NaN
112369 2004-10-06 10:01:02 2004-10-06 10:01:15     66,80      0.017778
112376 2004-10-06 10:01:31 2004-10-06 10:01:41     66,80      0.000185
112504 2004-10-06 10:11:06 2004-10-06 10:11:08     66,80      0.006539
113726 2004-10-06 11:40:32 2004-10-06 11:40:52     66,80      0.062083
...                    ...                 ...       ...           ...
279435 2004-11-01 12:41:05 2004-11-01 12:41:07     66,80      0.001782
279437 2004-11-01 12:41:17 2004-11-01 12:45:32     66,80      0.000116
279615 2004-11-01 12:49:33 2004-11-01 12:49:50     66,80      0.002789
279651 2004-11-01 12:50:43 2004-11-01 12:50:49     66,80      0.000613
280051 2004-11-01 13:05:27 2004-11-01 13:06:15     66,80      0.010162

[183 rows x 4 columns]
66,81
                     start                 end id_colums  intercontact
289324 2004-11-02 10:16:17 2004-11-02 10:17:24     66,81           NaN
291874 2004-11-02 11:55:59 2004-11-02 11:57:24     66,81      0.068461
292630 2004-11-02 12:36:48 2004-11-02 12:36:56     66,81      0.027361
292664 2004-11-02 12:38:02 2004-11-02 12:38:03     66,81      0.000764
292670 2004-11-02 12:38:21 2004-11-02 12:38:34     66,81      0.000208
...                    ...                 ...       ...           ...
686744 2005-01-24 11:44:17 2005-01-24 11:46:46     66,81      0.006713
686768 2005-01-24 11:53:48 2005-01-24 11:54:02     66,81      0.004884
686881 2005-01-24 12:30:25 2005-01-24 12:37:09     66,81      0.025266
687112 2005-01-24 13:38:24 2005-01-24 13:38:40     66,81      0.042535
687168 2005-01-24 13:52:09 2005-01-24 13:52:54     66,81      0.009363

[193 rows x 4 columns]
66,82
                     start                 end id_colums  intercontact
43417  2004-09-23 09:52:54 2004-09-23 09:52:59     66,82           NaN

[126 rows x 4 columns]
68,79
                     start                 end id_colums  intercontact
195074 2004-10-19 13:10:15 2004-10-19 13:10:21     68,79           NaN
197006 2004-10-19 15:12:00 2004-10-19 15:12:57     68,79      0.084479
214459 2004-10-22 08:11:56 2004-10-22 08:12:03     68,79      2.707627
217079 2004-10-22 12:51:03 2004-10-22 12:51:20     68,79      0.193750
217103 2004-10-22 12:52:55 2004-10-22 12:56:12     68,79      0.001100
...                    ...                 ...       ...           ...
766863 2005-03-30 11:15:38 2005-03-30 11:15:54     68,79      0.000787
766865 2005-03-30 11:16:11 2005-03-30 11:16:28     68,79      0.000197
767375 2005-03-30 17:18:54 2005-03-30 17:19:11     68,79      0.251690
767393 2005-03-30 17:32:23 2005-03-30 17:32:44     68,79      0.009167
767428 2005-03-30 19:54:25 2005-03-30 19:54:47     68,79      0.098391

[178 rows x 4 columns]
68,80
                     start                 end id_colums  intercontact
268023 2004-10-30 17:08:17 2004-10-30 17:10:36     68,80           NaN
268244 2004-10-30 18:29:35 2004-10-30 18:30:07     68,80      0.054850
268259 2004-10-30 18:33:55 2004-10-30 18:38:34     68,80      0.002639
268305 2004-10-30 19:00:17 2004-10-30 19:01:40     68,80      0.015081
268354 2004-10-30 19:27:51 2004-10-30 19:28:17     68,80      0.018183
268365 2004-10-30 19:28:26 2004-10-30 19:28:28     68,80      0.000104
268366 2004-10-30 19:29:13 2004-10-30 19:29:14     68,80      0.000521
268377 2004-10-30 19:35:11 2004-10-30 19:35:59     68,80      0.004132
275332 2004-11-01 09:30:58 2004-11-01 09:31:38     68,80      1.579850
275456 2004-11-01 09:36:12 2004-11-01 09:36:32     68,80      0.003171
275997 2004-11-01 09:54:59 2004-11-01 09:55:01     68,80      0.012812
281355 2004-11-01 15:14:06 2004-11-01 15:16:53     68,80      0.221586
281961 2004-11-01 17:44:20 2004-11-01 17:44:27     68,80      0.102396
281972 2004-11-01 17:47:25 2004-11-01 17:48:21     68,80      0.002060
68,81
                     start                 end id_colums  intercontact
287467 2004-11-02 09:10:46 2004-11-02 09:10:59     68,81           NaN
289407 2004-11-02 10:18:29 2004-11-02 10:18:53     68,81      0.046875
291808 2004-11-02 11:54:43 2004-11-02 11:58:35     68,81      0.066551
291957 2004-11-02 12:01:19 2004-11-02 12:01:20     68,81      0.001898
294153 2004-11-02 14:21:59 2004-11-02 14:24:48     68,81      0.097674
...                    ...                 ...       ...           ...
692863 2005-01-27 07:00:42 2005-01-27 07:00:55     68,81      0.003843
692871 2005-01-27 07:01:32 2005-01-27 07:01:54     68,81      0.000428
692873 2005-01-27 07:02:35 2005-01-27 07:03:55     68,81      0.000475
693012 2005-01-27 07:21:50 2005-01-27 07:22:02     68,81      0.012442
693016 2005-01-27 07:22:18 2005-01-27 07:25:21     68,81      0.000185

[74 rows x 4 columns]
68,82
                     start                 end id_colums  intercontact
177528 2004-10-18 06:29:11 2004-10-18 06:29:29     68,82           NaN
177547 2004-10-18 06:30:55 2004-10-18 06:32:09     68,82      0.000995
177592 2004-10-18 06:33:42 2004-10-18 06:34:00     68,82      0.001076
182559 2004-10-18 12:39:51 2004-10-18 12:39:58     68,82      0.254063
184180 2004-10-18 14:41:37 2004-10-18 14:42:51     68,82      0.084479
...                    ...                 ...       ...           ...
508255 2004-12-01 03:16:30 2004-12-01 03:16:52     68,82      0.579120
508323 2004-12-01 03:30:23 2004-12-01 03:30:36     68,82      0.009387
511459 2004-12-01 06:43:03 2004-12-01 06:43:30     68,82      0.133646
513521 2004-12-01 08:07:49 2004-12-01 08:07:54     68,82      0.058553
514617 2004-12-01 08:43:45 2004-12-01 08:44:04     68,82      0.024896

[176 rows x 4 columns]
68,83
                     start                 end id_colums  intercontact
304763 2004-11-03 15:47:21 2004-11-03 15:47:43     68,83           NaN
305509 2004-11-03 21:10:56 2004-11-03 21:13:12     68,83      0.224456
68,85
                     start                 end id_colums  intercontact
262539 2004-10-29 08:07:16 2004-10-29 08:08:07     68,85           NaN
307694 2004-11-04 06:32:14 2004-11-04 06:32:30     68,85      5.933414
309026 2004-11-04 07:50:55 2004-11-04 07:51:38     68,85      0.054456
309870 2004-11-04 08:52:29 2004-11-04 08:52:31     68,85      0.042257
310005 2004-11-04 08:58:19 2004-11-04 08:58:20     68,85      0.004028
...                    ...                 ...       ...           ...
766723 2005-03-30 10:43:18 2005-03-30 10:43:47     68,85      0.015579
766790 2005-03-30 10:57:56 2005-03-30 10:57:57     68,85      0.009826
766801 2005-03-30 11:03:52 2005-03-30 11:04:20     68,85      0.004109
766903 2005-03-30 11:26:20 2005-03-30 11:27:07     68,85      0.015278
766930 2005-03-30 11:39:45 2005-03-30 11:40:57     68,85      0.008773

[175 rows x 4 columns]
68,86
                     start                 end id_colums  intercontact
281362 2004-11-01 15:14:06 2004-11-01 15:16:53     68,86           NaN
289304 2004-11-02 10:15:39 2004-11-02 10:15:58     68,86      0.790810
290974 2004-11-02 11:18:56 2004-11-02 11:19:02     68,86      0.043727
292371 2004-11-02 12:25:40 2004-11-02 12:25:42     68,86      0.046273
294427 2004-11-02 15:03:30 2004-11-02 15:03:35     68,86      0.109583
294429 2004-11-02 15:04:49 2004-11-02 15:05:00     68,86      0.000856
313051 2004-11-04 11:52:55 2004-11-04 11:53:01     68,86      1.866609
317471 2004-11-04 19:35:39 2004-11-04 19:35:41     68,86      0.321273
321812 2004-11-05 11:18:15 2004-11-05 11:18:20     68,86      0.654560
323082 2004-11-05 13:31:18 2004-11-05 13:31:50     68,86      0.092338
347587 2004-11-09 17:11:38 2004-11-09 17:12:00     68,86      4.152639
355677 2004-11-10 13:46:54 2004-11-10 13:47:33     68,86      0.857569
355819 2004-11-10 14:01:07 2004-11-10 14:01:28     68,86      0.009421
356445 2004-11-10 19:54:19 2004-11-10 19:54:37     68,86      0.245035
358211 2004-11-11 12:10:39 2004-11-11 12:10:43     68,86      0.677801
358784 2004-11-11 14:56:28 2004-11-11 15:00:11     68,86      0.115104
358923 2004-11-11 16:01:59 2004-11-11 16:02:57     68,86      0.042917
363611 2004-11-12 14:40:53 2004-11-12 14:41:07     68,86      0.943009
366324 2004-11-13 20:14:15 2004-11-13 20:15:11     68,86      1.231343
366329 2004-11-13 20:24:54 2004-11-13 20:25:18     68,86      0.006748
367210 2004-11-14 10:45:56 2004-11-14 10:46:31     68,86      0.597662
398344 2004-11-16 15:47:59 2004-11-16 15:48:42     68,86      2.209352
406514 2004-11-17 10:54:18 2004-11-17 10:54:24     68,86      0.795556
407364 2004-11-17 11:17:19 2004-11-17 11:18:21     68,86      0.015914
409864 2004-11-17 13:41:49 2004-11-17 13:41:50     68,86      0.099630
409912 2004-11-17 13:48:30 2004-11-17 13:48:31     68,86      0.004630
410108 2004-11-17 14:09:04 2004-11-17 14:09:11     68,86      0.014271
410137 2004-11-17 14:12:31 2004-11-17 14:12:33     68,86      0.002315
410141 2004-11-17 14:14:20 2004-11-17 14:14:22     68,86      0.001238
410737 2004-11-17 15:49:53 2004-11-17 15:49:55     68,86      0.066331
417125 2004-11-18 09:45:53 2004-11-18 09:47:03     68,86      0.747199
417241 2004-11-18 09:50:59 2004-11-18 09:51:57     68,86      0.002731
425220 2004-11-18 20:27:16 2004-11-18 20:29:38     68,86      0.441192
425221 2004-11-18 20:29:53 2004-11-18 20:29:55     68,86      0.000174
431513 2004-11-19 12:36:07 2004-11-19 12:36:12     68,86      0.670972
431660 2004-11-19 12:44:34 2004-11-19 12:44:43     68,86      0.005810
431667 2004-11-19 12:44:48 2004-11-19 12:44:54     68,86      0.000058
431721 2004-11-19 12:47:39 2004-11-19 12:49:13     68,86      0.001910
469116 2004-11-23 13:57:33 2004-11-23 13:58:22     68,86      4.047454
469531 2004-11-23 14:15:03 2004-11-23 14:15:31     68,86      0.011586
475234 2004-11-24 12:21:21 2004-11-24 12:21:40     68,86      0.920718
476062 2004-11-24 14:58:17 2004-11-24 14:58:18     68,86      0.108762
476085 2004-11-24 15:03:13 2004-11-24 15:03:19     68,86      0.003414
480117 2004-11-28 17:18:04 2004-11-28 17:18:57     68,86      4.093576
480274 2004-11-28 20:40:18 2004-11-28 20:41:00     68,86      0.139826
496582 2004-11-30 07:26:49 2004-11-30 07:28:03     68,86      1.448484
496674 2004-11-30 07:29:43 2004-11-30 07:30:16     68,86      0.001157
496741 2004-11-30 07:33:21 2004-11-30 07:35:20     68,86      0.002141
499584 2004-11-30 09:34:32 2004-11-30 09:34:51     68,86      0.082778
499742 2004-11-30 09:41:03 2004-11-30 09:41:38     68,86      0.004306
505228 2004-11-30 13:13:32 2004-11-30 13:13:37     68,86      0.147153
507367 2004-11-30 17:18:03 2004-11-30 17:18:27     68,86      0.169745
673304 2005-01-16 18:41:24 2005-01-16 18:41:40     68,86     47.057604
684675 2005-01-21 14:58:16 2005-01-21 14:58:37     68,86      4.844861
68,87
                     start                 end id_colums  intercontact
251021 2004-10-27 17:13:05 2004-10-27 17:13:46     68,87           NaN
260650 2004-10-28 20:24:16 2004-10-28 20:25:16     68,87      1.132292
266752 2004-10-30 09:27:20 2004-10-30 09:28:20     68,87      1.543102
266773 2004-10-30 09:37:59 2004-10-30 09:38:53     68,87      0.006701
266799 2004-10-30 09:42:44 2004-10-30 09:46:37     68,87      0.002674
...                    ...                 ...       ...           ...
766864 2005-03-30 11:15:38 2005-03-30 11:15:54     68,87      0.000787
766866 2005-03-30 11:16:11 2005-03-30 11:16:28     68,87      0.000197
767376 2005-03-30 17:18:54 2005-03-30 17:19:11     68,87      0.251690
767394 2005-03-30 17:32:23 2005-03-30 17:32:44     68,87      0.009167
767429 2005-03-30 19:54:25 2005-03-30 19:54:47     68,87      0.098391

[311 rows x 4 columns]
68,88
                     start                 end id_colums  intercontact
177512 2004-10-18 06:28:20 2004-10-18 06:29:20     68,88           NaN
177550 2004-10-18 06:31:09 2004-10-18 06:31:38     68,88      0.001262
177566 2004-10-18 06:32:09 2004-10-18 06:32:29     68,88      0.000359
179920 2004-10-18 08:50:11 2004-10-18 08:50:16     68,88      0.095625
182562 2004-10-18 12:39:51 2004-10-18 12:39:58     68,88      0.159433
...                    ...                 ...       ...           ...
398952 2004-11-16 17:54:10 2004-11-16 18:03:02     68,88      0.004016
400278 2004-11-17 05:12:36 2004-11-17 05:12:53     68,88      0.464977
400405 2004-11-17 05:21:38 2004-11-17 05:22:23     68,88      0.006076
401378 2004-11-17 06:49:34 2004-11-17 06:49:41     68,88      0.060544
406522 2004-11-17 10:54:39 2004-11-17 10:55:11     68,88      0.170116

[126 rows x 4 columns]
69,71
                     start                 end id_colums  intercontact
127018 2004-10-07 21:17:24 2004-10-07 21:17:26     69,71           NaN
134193 2004-10-10 08:11:06 2004-10-10 08:11:44     69,71      2.453935
134230 2004-10-10 08:31:27 2004-10-10 08:31:29     69,71      0.013692
134291 2004-10-10 08:58:06 2004-10-10 08:58:07     69,71      0.018484
134301 2004-10-10 08:59:47 2004-10-10 09:00:00     69,71      0.001157
...                    ...                 ...       ...           ...
464791 2004-11-23 11:23:42 2004-11-23 11:24:01     69,71      0.002303
464825 2004-11-23 11:24:33 2004-11-23 11:25:44     69,71      0.000370
465235 2004-11-23 11:33:20 2004-11-23 11:34:11     69,71      0.005278
465467 2004-11-23 11:39:05 2004-11-23 11:39:27     69,71      0.003403
465522 2004-11-23 11:40:35 2004-11-23 11:40:59     69,71      0.000787

[848 rows x 4 columns]
69,72
                     start                 end id_colums  intercontact
274653 2004-11-01 08:48:08 2004-11-01 08:50:28     69,72           NaN
275142 2004-11-01 09:14:23 2004-11-01 09:14:42     69,72      0.016609
275174 2004-11-01 09:17:23 2004-11-01 09:17:41     69,72      0.001863
275210 2004-11-01 09:20:45 2004-11-01 09:21:09     69,72      0.002130
275229 2004-11-01 09:21:44 2004-11-01 09:21:58     69,72      0.000405
...                    ...                 ...       ...           ...
463226 2004-11-23 10:45:30 2004-11-23 11:00:49     69,72      0.025451
465350 2004-11-23 11:35:52 2004-11-23 11:37:28     69,72      0.024340
466135 2004-11-23 11:59:00 2004-11-23 11:59:36     69,72      0.014954
466413 2004-11-23 12:04:47 2004-11-23 12:04:56     69,72      0.003600
466492 2004-11-23 12:07:31 2004-11-23 12:07:56     69,72      0.001794

[84 rows x 4 columns]
69,75
                     start                 end id_colums  intercontact
120998 2004-10-07 09:26:52 2004-10-07 09:27:06     69,75           NaN
121035 2004-10-07 09:27:43 2004-10-07 09:27:47     69,75      0.000428
121134 2004-10-07 09:32:42 2004-10-07 09:33:04     69,75      0.003414
121639 2004-10-07 09:53:33 2004-10-07 09:53:37     69,75      0.014225
121755 2004-10-07 10:00:11 2004-10-07 10:00:40     69,75      0.004560
...                    ...                 ...       ...           ...
347325 2004-11-09 15:34:27 2004-11-09 15:34:31     69,75      0.122338
347659 2004-11-09 17:46:05 2004-11-09 17:47:03     69,75      0.091366
348937 2004-11-10 05:00:18 2004-11-10 05:01:45     69,75      0.467535
349012 2004-11-10 05:05:27 2004-11-10 05:05:31     69,75      0.002569
383311 2004-11-15 16:25:08 2004-11-15 16:25:09     69,75      5.471956

[162 rows x 4 columns]
69,76
                     start                 end id_colums  intercontact
176841 2004-10-18 04:40:38 2004-10-18 04:40:57     69,76           NaN
176857 2004-10-18 04:44:06 2004-10-18 04:44:13     69,76      0.002188
176862 2004-10-18 04:44:43 2004-10-18 04:45:19     69,76      0.000347
176864 2004-10-18 04:45:46 2004-10-18 04:46:08     69,76      0.000313
177208 2004-10-18 05:40:54 2004-10-18 05:41:03     69,76      0.038032
...                    ...                 ...       ...           ...
467581 2004-11-23 12:52:09 2004-11-23 12:54:32     69,76      0.000451
467676 2004-11-23 12:54:36 2004-11-23 12:55:05     69,76      0.000046
467688 2004-11-23 12:55:10 2004-11-23 12:55:36     69,76      0.000058
467833 2004-11-23 12:59:28 2004-11-23 12:59:33     69,76      0.002685
467920 2004-11-23 13:04:39 2004-11-23 13:05:28     69,76      0.003542

[204 rows x 4 columns]
69,79
                     start                 end id_colums  intercontact
152360 2004-10-13 10:57:38 2004-10-13 10:57:59     69,79           NaN
155470 2004-10-14 05:11:00 2004-10-14 05:11:01     69,79      0.759039
155730 2004-10-14 05:56:34 2004-10-14 05:56:36     69,79      0.031632
155741 2004-10-14 05:57:05 2004-10-14 05:57:46     69,79      0.000336
155813 2004-10-14 06:04:53 2004-10-14 06:05:12     69,79      0.004942
...                    ...                 ...       ...           ...
465501 2004-11-23 11:39:40 2004-11-23 11:39:42     69,79      0.009954
465637 2004-11-23 11:44:09 2004-11-23 11:44:54     69,79      0.003090
465862 2004-11-23 11:51:09 2004-11-23 11:51:17     69,79      0.004340
468402 2004-11-23 13:33:04 2004-11-23 13:33:43     69,79      0.070683
469152 2004-11-23 13:59:59 2004-11-23 14:00:03     69,79      0.018241

[75 rows x 4 columns]
69,80
                     start                 end id_colums  intercontact
118331 2004-10-07 06:53:01 2004-10-07 06:53:21     69,80           NaN
120405 2004-10-07 08:52:45 2004-10-07 08:52:48     69,80      0.082917
121217 2004-10-07 09:34:50 2004-10-07 09:35:40     69,80      0.029190
121279 2004-10-07 09:36:20 2004-10-07 09:36:29     69,80      0.000463
121286 2004-10-07 09:36:39 2004-10-07 09:36:41     69,80      0.000116
121376 2004-10-07 09:39:20 2004-10-07 09:40:10     69,80      0.001840
121466 2004-10-07 09:41:32 2004-10-07 09:41:40     69,80      0.000949
121613 2004-10-07 09:50:30 2004-10-07 09:50:32     69,80      0.006134
126839 2004-10-07 18:25:10 2004-10-07 18:26:55     69,80      0.357384
269661 2004-10-31 10:51:26 2004-10-31 10:52:13     69,80     23.683692
269971 2004-10-31 11:58:24 2004-10-31 11:58:48     69,80      0.045961
270074 2004-10-31 12:15:43 2004-10-31 12:16:25     69,80      0.011748
270172 2004-10-31 12:34:00 2004-10-31 12:34:07     69,80      0.012211
270176 2004-10-31 12:35:43 2004-10-31 12:36:03     69,80      0.001111
270563 2004-10-31 15:00:32 2004-10-31 15:00:36     69,80      0.100336
271684 2004-11-01 03:04:28 2004-11-01 03:04:47     69,80      0.502685
271698 2004-11-01 03:16:46 2004-11-01 03:17:06     69,80      0.008322
271822 2004-11-01 03:44:56 2004-11-01 03:46:42     69,80      0.019329
271867 2004-11-01 03:50:19 2004-11-01 03:51:10     69,80      0.002512
271921 2004-11-01 04:05:44 2004-11-01 04:06:14     69,80      0.010116
271970 2004-11-01 04:17:48 2004-11-01 04:18:09     69,80      0.008032
271989 2004-11-01 04:20:10 2004-11-01 04:20:26     69,80      0.001400
272005 2004-11-01 04:22:27 2004-11-01 04:23:06     69,80      0.001400
272024 2004-11-01 04:26:35 2004-11-01 04:26:53     69,80      0.002419
272034 2004-11-01 04:27:40 2004-11-01 04:28:00     69,80      0.000544
273341 2004-11-01 06:58:54 2004-11-01 06:59:24     69,80      0.104792
274466 2004-11-01 08:34:18 2004-11-01 08:34:37     69,80      0.065903
274519 2004-11-01 08:37:32 2004-11-01 08:37:56     69,80      0.002025
274760 2004-11-01 08:52:03 2004-11-01 08:53:37     69,80      0.009803
275133 2004-11-01 09:14:00 2004-11-01 09:14:02     69,80      0.014155
275288 2004-11-01 09:26:10 2004-11-01 09:26:11     69,80      0.008426
275457 2004-11-01 09:36:13 2004-11-01 09:36:23     69,80      0.006968
275577 2004-11-01 09:40:27 2004-11-01 09:40:29     69,80      0.002824
276186 2004-11-01 10:07:23 2004-11-01 10:07:55     69,80      0.018681
276242 2004-11-01 10:08:54 2004-11-01 10:08:56     69,80      0.000683
276387 2004-11-01 10:15:57 2004-11-01 10:16:18     69,80      0.004873
277037 2004-11-01 10:54:17 2004-11-01 10:54:32     69,80      0.026377
277447 2004-11-01 11:09:28 2004-11-01 11:09:30     69,80      0.010370
277661 2004-11-01 11:20:32 2004-11-01 11:20:34     69,80      0.007662
278195 2004-11-01 11:42:55 2004-11-01 11:43:07     69,80      0.015521
278286 2004-11-01 11:44:49 2004-11-01 11:44:51     69,80      0.001181
278832 2004-11-01 12:07:36 2004-11-01 12:08:08     69,80      0.015799
278957 2004-11-01 12:16:06 2004-11-01 12:16:11     69,80      0.005532
278964 2004-11-01 12:17:00 2004-11-01 12:19:15     69,80      0.000567
279136 2004-11-01 12:27:05 2004-11-01 12:27:18     69,80      0.005440
279927 2004-11-01 13:01:16 2004-11-01 13:01:43     69,80      0.023588
279987 2004-11-01 13:03:45 2004-11-01 13:04:05     69,80      0.001412
280048 2004-11-01 13:05:26 2004-11-01 13:05:54     69,80      0.000937
280081 2004-11-01 13:06:15 2004-11-01 13:06:49     69,80      0.000243
281379 2004-11-01 15:16:43 2004-11-01 15:16:49     69,80      0.090208
282565 2004-11-02 03:12:53 2004-11-02 03:12:58     69,80      0.497269
282600 2004-11-02 03:21:30 2004-11-02 03:27:20     69,80      0.005926
282722 2004-11-02 03:35:37 2004-11-02 03:35:53     69,80      0.005752
282724 2004-11-02 03:35:57 2004-11-02 03:36:17     69,80      0.000046
287689 2004-11-02 09:17:03 2004-11-02 09:17:09     69,80      0.236644
287763 2004-11-02 09:19:54 2004-11-02 09:20:28     69,80      0.001910
69,81
                     start                 end id_colums  intercontact
286444 2004-11-02 08:29:29 2004-11-02 08:29:33     69,81           NaN
287487 2004-11-02 09:11:31 2004-11-02 09:11:42     69,81      0.029144
287669 2004-11-02 09:16:14 2004-11-02 09:16:45     69,81      0.003148
287739 2004-11-02 09:18:24 2004-11-02 09:18:44     69,81      0.001146
287754 2004-11-02 09:19:34 2004-11-02 09:19:48     69,81      0.000579
...                    ...                 ...       ...           ...
464241 2004-11-23 11:08:27 2004-11-23 11:08:41     69,81      0.000093
464289 2004-11-23 11:09:15 2004-11-23 11:11:32     69,81      0.000394
467191 2004-11-23 12:38:18 2004-11-23 12:39:54     69,81      0.060255
467262 2004-11-23 12:40:15 2004-11-23 12:41:18     69,81      0.000243
467800 2004-11-23 12:58:06 2004-11-23 12:58:08     69,81      0.011667

[65 rows x 4 columns]
69,82
                     start                 end id_colums  intercontact

7,61
                     start                 end id_colums  intercontact
44953  2004-09-23 11:07:51 2004-09-23 11:08:08      7,61           NaN
45364  2004-09-23 11:30:43 2004-09-23 11:32:03      7,61      0.015683
45522  2004-09-23 11:37:29 2004-09-23 11:38:27      7,61      0.003773
45700  2004-09-23 11:50:22 2004-09-23 11:51:07      7,61      0.008275
45876  2004-09-23 12:00:31 2004-09-23 12:01:22      7,61      0.006528
45940  2004-09-23 12:03:15 2004-09-23 12:04:09      7,61      0.001308
46013  2004-09-23 12:05:12 2004-09-23 12:06:51      7,61      0.000729
46421  2004-09-23 12:34:53 2004-09-23 12:37:09      7,61      0.019468
46473  2004-09-23 12:37:37 2004-09-23 12:39:00      7,61      0.000324
46577  2004-09-23 12:43:18 2004-09-23 12:43:24      7,61      0.002986
46650  2004-09-23 12:45:57 2004-09-23 12:46:05      7,61      0.001771
46710  2004-09-23 12:48:43 2004-09-23 12:49:58      7,61      0.001829
48244  2004-09-23 15:49:41 2004-09-23 15:49:56      7,61      0.124803
48248  2004-09-23 15:50:12 2004-09-23 15:50:14      7,61      0.000185
48269  2004-09-23 15:53:01 2004-09-23 15:53:39      7,61      0.001933
274843 2004-11-01 08:59:07 2004-11-01 08:59:32      7,61     38.712130
275662 2004-11-01 09:41:39 2004-11-01 09:42:28      7,61      0.029248
275774 2004-11-01 09:44:01 2004-11-01 09:45:41      7,61      0.001076
276270 2004-11-01 10:09:58 2004-11-01 10:10:42      7,61      0.016863
276296 2004-11-01 10:11:10 2004-11-01 10:11:21      7,61      0.000324
276366 2004-11-01 10:14:29 2004-11-01 10:15:37      7,61      0.002176
276577 2004-11-01 10:29:34 2004-11-01 10:29:41      7,61      0.009687
276584 2004-11-01 10:29:58 2004-11-01 10:30:10      7,61      0.000197
276606 2004-11-01 10:31:35 2004-11-01 10:31:54      7,61      0.000984
276831 2004-11-01 10:44:42 2004-11-01 10:45:37      7,61      0.008889
276853 2004-11-01 10:45:47 2004-11-01 10:46:56      7,61      0.000116
277740 2004-11-01 11:23:28 2004-11-01 11:23:39      7,61      0.025370
278088 2004-11-01 11:36:54 2004-11-01 11:37:09      7,61      0.009201
278185 2004-11-01 11:42:46 2004-11-01 11:43:05      7,61      0.003900
7,62
                     start                 end id_colums  intercontact
52872  2004-09-24 09:48:49 2004-09-24 09:49:45      7,62           NaN
58351  2004-09-27 05:59:50 2004-09-27 06:00:33      7,62      2.840336
58762  2004-09-27 06:51:48 2004-09-27 06:52:11      7,62      0.035590
59191  2004-09-27 07:36:13 2004-09-27 07:38:00      7,62      0.030579
59322  2004-09-27 07:48:24 2004-09-27 07:48:31      7,62      0.007222
...                    ...                 ...       ...           ...
259026 2004-10-28 12:52:24 2004-10-28 12:52:45      7,62      0.001493
281432 2004-11-01 15:25:40 2004-11-01 15:25:49      7,62      4.106192
281477 2004-11-01 15:35:31 2004-11-01 15:35:46      7,62      0.006736
281484 2004-11-01 15:37:10 2004-11-01 15:39:11      7,62      0.000972
281719 2004-11-01 16:35:36 2004-11-01 16:35:48      7,62      0.039178

[718 rows x 4 columns]
7,66
                     start                 end id_colums  intercontact
44779  2004-09-23 11:00:31 2004-09-23 11:00:38      7,66           NaN
44783  2004-09-23 11:00:38 2004-09-23 11:00:42      7,66      0.000000
44954  2004-09-23 11:07:51 2004-09-23 11:08:08      7,66      0.004965
44994  2004-09-23 11:09:51 2004-09-23 11:09:59      7,66      0.001192
45015  2004-09-23 11:10:42 2004-09-23 11:11:33      7,66      0.000498
...                    ...                 ...       ...           ...
279620 2004-11-01 12:50:05 2004-11-01 12:50:37      7,66      0.008032
279658 2004-11-01 12:50:44 2004-11-01 12:50:49      7,66      0.000081
279739 2004-11-01 12:53:36 2004-11-01 12:53:38      7,66      0.001933
280111 2004-11-01 13:08:03 2004-11-01 13:08:06      7,66      0.010012
282861 2004-11-02 04:06:17 2004-11-02 04:06:18      7,66      0.623738

[672 rows x 4 columns]
7,68
                     start                 end id_colums  intercontact
179914 2004-10-18 08:50:11 2004-10-18 08:50:16      7,68           NaN
179945 2004-10-18 08:52:02 2004-10-18 08:52:20      7,68      0.001227
179974 2004-10-18 08:52:45 2004-10-18 08:53:51      7,68      0.000289
182555 2004-10-18 12:39:51 2004-10-18 12:39:58      7,68      0.156944
188950 2004-10-19 08:11:18 2004-10-19 08:11:57      7,68      0.813426
195081 2004-10-19 13:10:15 2004-10-19 13:10:21      7,68      0.207153
195791 2004-10-19 13:37:33 2004-10-19 13:38:22      7,68      0.018889
196875 2004-10-19 14:59:06 2004-10-19 14:59:10      7,68      0.056065
196908 2004-10-19 15:03:01 2004-10-19 15:03:25      7,68      0.002674
196911 2004-10-19 15:03:46 2004-10-19 15:04:03      7,68      0.000243
196916 2004-10-19 15:05:05 2004-10-19 15:07:09      7,68      0.000718
198298 2004-10-20 02:54:36 2004-10-20 02:54:51      7,68      0.491285
199507 2004-10-20 07:14:51 2004-10-20 07:14:56      7,68      0.180556
199683 2004-10-20 07:35:58 2004-10-20 07:36:30      7,68      0.014606
199695 2004-10-20 07:36:36 2004-10-20 07:37:44      7,68      0.000069
199716 2004-10-20 07:38:06 2004-10-20 07:38:28      7,68      0.000255
202655 2004-10-20 11:55:40 2004-10-20 11:59:08      7,68      0.178611
208793 2004-10-21 09:30:03 2004-10-21 09:30:19      7,68      0.896470
209016 2004-10-21 09:46:36 2004-10-21 09:47:20      7,68      0.011308
213584 2004-10-22 05:54:43 2004-10-22 05:55:12      7,68      0.838461
213594 2004-10-22 05:57:04 2004-10-22 05:57:11      7,68      0.001296
213608 2004-10-22 05:59:07 2004-10-22 05:59:22      7,68      0.001343
213611 2004-10-22 05:59:23 2004-10-22 05:59:48      7,68      0.000012
213612 2004-10-22 05:59:54 2004-10-22 06:00:13      7,68      0.000069
214465 2004-10-22 08:11:56 2004-10-22 08:12:03      7,68      0.091470
215076 2004-10-22 09:12:09 2004-10-22 09:12:15      7,68      0.041736
223213 2004-10-25 05:06:19 2004-10-25 05:06:36      7,68      2.829213
223269 2004-10-25 05:10:12 2004-10-25 05:10:35      7,68      0.002500
230389 2004-10-25 13:15:54 2004-10-25 13:16:10      7,68      0.337025
230395 2004-10-25 13:16:21 2004-10-25 13:16:39      7,68      0.000127
230409 2004-10-25 13:18:22 2004-10-25 13:18:48      7,68      0.001192
230424 2004-10-25 13:20:44 2004-10-25 13:20:52      7,68      0.001343
236437 2004-10-26 09:10:10 2004-10-26 09:10:12      7,68      0.825903
249187 2004-10-27 13:02:09 2004-10-27 13:02:11      7,68      1.161076
250055 2004-10-27 14:24:34 2004-10-27 14:24:35      7,68      0.057211
251015 2004-10-27 17:12:01 2004-10-27 17:12:29      7,68      0.116273
251112 2004-10-27 17:49:34 2004-10-27 17:49:58      7,68      0.025752
251187 2004-10-27 18:29:49 2004-10-27 18:33:20      7,68      0.027674
251199 2004-10-27 18:40:54 2004-10-27 18:41:30      7,68      0.005255
275345 2004-11-01 09:31:07 2004-11-01 09:31:38      7,68      4.617789
275406 2004-11-01 09:33:19 2004-11-01 09:33:39      7,68      0.001169
275454 2004-11-01 09:36:12 2004-11-01 09:36:32      7,68      0.001771
275664 2004-11-01 09:41:39 2004-11-01 09:42:28      7,68      0.003553
275984 2004-11-01 09:54:25 2004-11-01 09:55:47      7,68      0.008299
282878 2004-11-02 04:09:38 2004-11-02 04:10:13      7,68      0.759618
282950 2004-11-02 04:31:21 2004-11-02 04:32:57      7,68      0.014676
283024 2004-11-02 04:42:29 2004-11-02 04:48:50      7,68      0.006620
7,69
                     start                 end id_colums  intercontact
137552 2004-10-12 03:02:06 2004-10-12 03:02:15      7,69           NaN
137556 2004-10-12 03:05:29 2004-10-12 03:05:38      7,69      0.002245
137571 2004-10-12 03:16:49 2004-10-12 03:17:43      7,69      0.007766
137581 2004-10-12 03:22:24 2004-10-12 03:22:55      7,69      0.003252
137587 2004-10-12 03:27:38 2004-10-12 03:27:48      7,69      0.003275
...                    ...                 ...       ...           ...
278086 2004-11-01 11:36:54 2004-11-01 11:37:09      7,69      0.008287
278918 2004-11-01 12:15:01 2004-11-01 12:15:03      7,69      0.026296
278953 2004-11-01 12:16:06 2004-11-01 12:17:00      7,69      0.000729
279135 2004-11-01 12:27:05 2004-11-01 12:27:57      7,69      0.007002
282968 2004-11-02 04:33:22 2004-11-02 04:33:58      7,69      0.670428

[499 rows x 4 columns]
7,71
                     start                 end id_colums  intercontact
109471 2004-10-06 05:18:10 2004-10-06 05:19:19      7,71           NaN
109479 2004-10-06 05:19:24 2004-10-06 05:19:25      7,71      0.000058
109510 2004-10-06 05:21:47 2004-10-06 05:23:11      7,71      0.001644
109564 2004-10-06 05:28:23 2004-10-06 05:28:41      7,71      0.003611
109574 2004-10-06 05:31:45 2004-10-06 05:32:10      7,71      0.002130
...                    ...                 ...       ...           ...
278917 2004-11-01 12:15:01 2004-11-01 12:15:03      7,71      0.021539
279088 2004-11-01 12:24:08 2004-11-01 12:27:14      7,71      0.006308
279190 2004-11-01 12:28:55 2004-11-01 12:29:03      7,71      0.001169
279200 2004-11-01 12:29:24 2004-11-01 12:30:39      7,71      0.000243
281613 2004-11-01 16:12:34 2004-11-01 16:13:30      7,71      0.154109

[506 rows x 4 columns]
7,72
                     start                 end id_colums  intercontact
274845 2004-11-01 08:59:07 2004-11-01 08:59:32      7,72           NaN
274973 2004-11-01 09:03:54 2004-11-01 09:05:00      7,72      0.003032
275006 2004-11-01 09:05:00 2004-11-01 09:05:13      7,72      0.000000
275232 2004-11-01 09:21:58 2004-11-01 09:22:20      7,72      0.011632
275347 2004-11-01 09:31:27 2004-11-01 09:33:14      7,72      0.006331
275497 2004-11-01 09:37:56 2004-11-01 09:39:23      7,72      0.003264
275717 2004-11-01 09:42:28 2004-11-01 09:43:35      7,72      0.002141
276210 2004-11-01 10:08:12 2004-11-01 10:08:14      7,72      0.017095
276310 2004-11-01 10:12:06 2004-11-01 10:13:49      7,72      0.002685
276574 2004-11-01 10:29:32 2004-11-01 10:29:41      7,72      0.010914
276648 2004-11-01 10:33:40 2004-11-01 10:34:05      7,72      0.002766
276744 2004-11-01 10:38:18 2004-11-01 10:39:01      7,72      0.002928
277656 2004-11-01 11:20:05 2004-11-01 11:21:41      7,72      0.028519
278531 2004-11-01 11:52:21 2004-11-01 11:52:22      7,72      0.021296
278609 2004-11-01 11:55:30 2004-11-01 11:55:32      7,72      0.002176
278650 2004-11-01 11:57:19 2004-11-01 11:57:44      7,72      0.001238
280884 2004-11-01 14:08:08 2004-11-01 14:08:12      7,72      0.090556
281182 2004-11-01 14:44:42 2004-11-01 14:45:16      7,72      0.025347
281196 2004-11-01 14:47:08 2004-11-01 14:48:06      7,72      0.001296
7,75
                     start                 end id_colums  intercontact
138828 2004-10-12 06:58:15 2004-10-12 06:58:40      7,75           NaN
143841 2004-10-12 12:45:00 2004-10-12 12:45:18      7,75      0.240509
143847 2004-10-12 12:45:21 2004-10-12 12:45:23      7,75      0.000035
144030 2004-10-12 12:52:58 2004-10-12 12:53:38      7,75      0.005266
144058 2004-10-12 12:54:14 2004-10-12 12:54:28      7,75      0.000417
154150 2004-10-13 13:31:25 2004-10-13 13:31:30      7,75      1.025660
154194 2004-10-13 13:36:19 2004-10-13 13:36:39      7,75      0.003345
160723 2004-10-14 11:50:31 2004-10-14 11:50:35      7,75      0.926296
166322 2004-10-15 06:13:09 2004-10-15 06:13:44      7,75      0.765671
176951 2004-10-18 04:56:49 2004-10-18 04:58:45      7,75      2.946586
176980 2004-10-18 04:59:47 2004-10-18 05:00:26      7,75      0.000718
176994 2004-10-18 05:00:51 2004-10-18 05:00:53      7,75      0.000289
220141 2004-10-24 07:51:20 2004-10-24 07:51:34      7,75      6.118368
226074 2004-10-25 08:45:53 2004-10-25 08:46:58      7,75      1.037720
226138 2004-10-25 08:49:01 2004-10-25 08:49:18      7,75      0.001424
226147 2004-10-25 08:50:33 2004-10-25 08:50:57      7,75      0.000868
234424 2004-10-26 06:58:31 2004-10-26 06:58:32      7,75      0.921921
234467 2004-10-26 07:00:10 2004-10-26 07:00:32      7,75      0.001134
234617 2004-10-26 07:05:58 2004-10-26 07:07:32      7,75      0.003773
234651 2004-10-26 07:07:38 2004-10-26 07:08:10      7,75      0.000069
234683 2004-10-26 07:08:38 2004-10-26 07:08:40      7,75      0.000324
234692 2004-10-26 07:08:56 2004-10-26 07:10:52      7,75      0.000185
234746 2004-10-26 07:11:42 2004-10-26 07:13:23      7,75      0.000579
234939 2004-10-26 07:20:59 2004-10-26 07:21:10      7,75      0.005278
234980 2004-10-26 07:23:55 2004-10-26 07:24:15      7,75      0.001910
234996 2004-10-26 07:25:58 2004-10-26 07:27:08      7,75      0.001192
241826 2004-10-27 03:11:40 2004-10-27 03:14:31      7,75      0.822593
241851 2004-10-27 03:20:05 2004-10-27 03:24:31      7,75      0.003866
241873 2004-10-27 03:25:57 2004-10-27 03:26:12      7,75      0.000995
244174 2004-10-27 07:25:48 2004-10-27 07:26:12      7,75      0.166389
246465 2004-10-27 10:12:14 2004-10-27 10:12:48      7,75      0.115301
246471 2004-10-27 10:12:53 2004-10-27 10:13:46      7,75      0.000058
246516 2004-10-27 10:17:34 2004-10-27 10:17:36      7,75      0.002639
246730 2004-10-27 10:33:58 2004-10-27 10:34:23      7,75      0.011366
246752 2004-10-27 10:35:42 2004-10-27 10:36:05      7,75      0.000914
246757 2004-10-27 10:36:06 2004-10-27 10:36:23      7,75      0.000012
246783 2004-10-27 10:37:42 2004-10-27 10:37:45      7,75      0.000914
246820 2004-10-27 10:40:38 2004-10-27 10:40:46      7,75      0.002002
255673 2004-10-28 09:10:06 2004-10-28 09:10:12      7,75      0.937037
7,76
                     start                 end id_colums  intercontact
178319 2004-10-18 07:28:08 2004-10-18 07:28:28      7,76           NaN
178437 2004-10-18 07:30:57 2004-10-18 07:31:15      7,76      0.001725
178455 2004-10-18 07:31:25 2004-10-18 07:31:40      7,76      0.000116
185785 2004-10-19 03:12:50 2004-10-19 03:13:46      7,76      0.820255
185788 2004-10-19 03:14:43 2004-10-19 03:14:53      7,76      0.000660
...                    ...                 ...       ...           ...
275102 2004-11-01 09:12:20 2004-11-01 09:14:24      7,76      0.008252
275257 2004-11-01 09:23:13 2004-11-01 09:23:38      7,76      0.006123
275323 2004-11-01 09:29:56 2004-11-01 09:29:57      7,76      0.004375
276215 2004-11-01 10:08:12 2004-11-01 10:08:14      7,76      0.026562
278634 2004-11-01 11:57:01 2004-11-01 11:57:19      7,76      0.075544

[133 rows x 4 columns]
7,78
                    start                 end id_colums  intercontact
42111 2004-09-23 07:11:09 2004-09-23 07:11:29      7,78           NaN
42155 2004-09-23 07:13:43 2004-09-23 07:14:03      7,78      0.001551
42168 2004-09-23 07:14:43 2004-09-23 07:15:00      7,78      0.000463
7,79
                     start                 end id_colums  intercontact
152118 2004-10-13 10:37:57 2004-10-13 10:38:23      7,79           NaN
154056 2004-10-13 13:18:06 2004-10-13 13:18:44      7,79      0.110914
154204 2004-10-13 13:38:09 2004-10-13 13:38:10      7,79      0.013484
154212 2004-10-13 13:38:49 2004-10-13 13:39:41      7,79      0.000451
154220 2004-10-13 13:39:45 2004-10-13 13:39:57      7,79      0.000046
...                    ...                 ...       ...           ...
249668 2004-10-27 13:43:46 2004-10-27 13:44:20      7,79      0.007095
249688 2004-10-27 13:46:56 2004-10-27 13:47:34      7,79      0.001806
251312 2004-10-27 19:26:23 2004-10-27 19:27:18      7,79      0.235289
272986 2004-11-01 06:28:28 2004-11-01 06:28:30      7,79      4.459144
273263 2004-11-01 06:55:12 2004-11-01 06:55:16      7,79      0.018542

[73 rows x 4 columns]
7,8
                     start                 end id_colums  intercontact
269    2004-07-26 12:21:29 2004-07-26 12:21:53       7,8           NaN
270    2004-07-26 12:22:42 2004-07-26 12:23:59       7,8      0.000567
273    2004-07-26 12:31:53 2004-07-26 12:32:07       7,8      0.005486
275    2004-07-26 12:32:09 2004-07-26 12:33:12       7,8      0.000023
276    2004-07-26 12:39:30 2004-07-26 12:42:19       7,8      0.004375
...                    ...                 ...       ...           ...
230575 2004-10-25 13:34:06 2004-10-25 13:34:07       7,8      0.003785
230759 2004-10-25 14:02:03 2004-10-25 14:03:36       7,8      0.019398
231982 2004-10-25 18:18:50 2004-10-25 18:19:09       7,8      0.177245
231986 2004-10-25 18:20:22 2004-10-25 18:46:26       7,8      0.000845
232173 2004-10-25 21:03:34 2004-10-25 21:03:52       7,8      0.095231

[500 rows x 4 columns]
7,80
                     start                 end id_colums  intercontact
111462 2004-10-06 08:48:29 2004-10-06 08:48:41      7,80           NaN
111476 2004-10-06 08:48:54 2004-10-06 08:49:14      7,80      0.000150
111943 2004-10-06 09:35:24 2004-10-06 09:35:32      7,80      0.032060
112291 2004-10-06 09:57:54 2004-10-06 09:58:01      7,80      0.015532
112295 2004-10-06 09:58:01 2004-10-06 09:58:41      7,80      0.000000
112377 2004-10-06 10:01:31 2004-10-06 10:01:41      7,80      0.001968
113596 2004-10-06 11:36:14 2004-10-06 11:36:26      7,80      0.065660
114380 2004-10-06 12:14:11 2004-10-06 12:14:32      7,80      0.026215
114396 2004-10-06 12:14:48 2004-10-06 12:14:52      7,80      0.000185
114455 2004-10-06 12:17:38 2004-10-06 12:18:17      7,80      0.001921
114548 2004-10-06 12:27:08 2004-10-06 12:27:17      7,80      0.006146
114553 2004-10-06 12:27:53 2004-10-06 12:29:02      7,80      0.000417
114557 2004-10-06 12:29:10 2004-10-06 12:29:21      7,80      0.000093
114633 2004-10-06 12:37:29 2004-10-06 12:37:48      7,80      0.005648
114636 2004-10-06 12:37:52 2004-10-06 12:38:03      7,80      0.000046
114641 2004-10-06 12:38:38 2004-10-06 12:38:57      7,80      0.000405
114659 2004-10-06 12:41:11 2004-10-06 12:51:57      7,80      0.001551
270078 2004-10-31 12:15:49 2004-10-31 12:16:25      7,80     24.974907
270115 2004-10-31 12:20:16 2004-10-31 12:20:42      7,80      0.002674
272916 2004-11-01 06:22:45 2004-11-01 06:23:01      7,80      0.751424
274520 2004-11-01 08:37:32 2004-11-01 08:37:56      7,80      0.093414
274969 2004-11-01 09:03:54 2004-11-01 09:04:17      7,80      0.018032
275225 2004-11-01 09:21:43 2004-11-01 09:21:45      7,80      0.012106
275321 2004-11-01 09:29:56 2004-11-01 09:29:57      7,80      0.005683
275716 2004-11-01 09:42:28 2004-11-01 09:44:38      7,80      0.008692
276235 2004-11-01 10:08:42 2004-11-01 10:09:09      7,80      0.016713
276603 2004-11-01 10:31:27 2004-11-01 10:31:31      7,80      0.015486
277962 2004-11-01 11:31:41 2004-11-01 11:32:11      7,80      0.041782
278196 2004-11-01 11:42:55 2004-11-01 11:43:05      7,80      0.007454
278210 2004-11-01 11:43:14 2004-11-01 11:43:28      7,80      0.000104
278515 2004-11-01 11:52:01 2004-11-01 11:52:03      7,80      0.005938
278612 2004-11-01 11:55:30 2004-11-01 11:55:32      7,80      0.002396
278649 2004-11-01 11:57:19 2004-11-01 11:57:44      7,80      0.001238
278725 2004-11-01 12:00:12 2004-11-01 12:00:22      7,80      0.001713
278916 2004-11-01 12:15:01 2004-11-01 12:15:03      7,80      0.010174
278944 2004-11-01 12:15:46 2004-11-01 12:16:11      7,80      0.000498
279014 2004-11-01 12:19:15 2004-11-01 12:20:02      7,80      0.002130
279281 2004-11-01 12:32:39 2004-11-01 12:32:49      7,80      0.008762
279301 2004-11-01 12:33:26 2004-11-01 12:33:45      7,80      0.000428
279633 2004-11-01 12:50:18 2004-11-01 12:50:43      7,80      0.011493
279659 2004-11-01 12:50:44 2004-11-01 12:51:35      7,80      0.000012
279788 2004-11-01 12:56:35 2004-11-01 12:56:55      7,80      0.003472
280108 2004-11-01 13:08:03 2004-11-01 13:08:06      7,80      0.007731
280190 2004-11-01 13:13:22 2004-11-01 13:13:50      7,80      0.003657
280215 2004-11-01 13:14:28 2004-11-01 13:14:36      7,80      0.000440
280274 2004-11-01 13:19:49 2004-11-01 13:20:17      7,80      0.003623
280287 2004-11-01 13:21:14 2004-11-01 13:21:33      7,80      0.000660
280330 2004-11-01 13:23:50 2004-11-01 13:24:29      7,80      0.001586
280340 2004-11-01 13:24:30 2004-11-01 13:24:47      7,80      0.000012
280450 2004-11-01 13:30:38 2004-11-01 13:31:02      7,80      0.004063
280619 2004-11-01 13:46:34 2004-11-01 13:46:56      7,80      0.010787

[570 rows x 4 columns]
73,83
                    start                 end id_colums  intercontact
53853 2004-09-24 11:19:05 2004-09-24 11:19:08     73,83           NaN
53857 2004-09-24 11:20:08 2004-09-24 11:20:25     73,83      0.000694
56056 2004-09-25 06:46:50 2004-09-25 06:46:56     73,83      0.810012
65592 2004-09-28 04:31:56 2004-09-28 04:32:12     73,83      2.906250
65839 2004-09-28 05:01:49 2004-09-28 05:02:07     73,83      0.020567
65846 2004-09-28 05:02:13 2004-09-28 05:02:26     73,83      0.000069
65847 2004-09-28 05:02:30 2004-09-28 05:03:22     73,83      0.000046
65869 2004-09-28 05:05:17 2004-09-28 05:05:48     73,83      0.001331
65877 2004-09-28 05:06:23 2004-09-28 05:06:56     73,83      0.000405
65883 2004-09-28 05:07:09 2004-09-28 05:07:12     73,83      0.000150
65884 2004-09-28 05:07:28 2004-09-28 05:07:50     73,83      0.000185
65894 2004-09-28 05:09:33 2004-09-28 05:10:16     73,83      0.001192
65907 2004-09-28 05:11:58 2004-09-28 05:12:46     73,83      0.001181
65963 2004-09-28 05:21:34 2004-09-28 05:22:40     73,83      0.006111
66398 2004-09-28 06:08:22 2004-09-28 06:09:22     73,83      0.031736
66413 2004-09-28 06:09:26 2004-09-28 06:09:31     73,83      0.000046
66473 2004-09-28 06:15:58 2004-09-28 06:16:11     73,83      0.004479
66490 2004-09-28 06:19:14 2004-09-28 06:19:22     73,83      0.002118
66502 2004-09-28 06:19:37 2004-09-28 06:20:02     73,83      0.000174
66660 2004-09-28 06:28:46 2004-09-28 06:29:01     73,83      0.006065
68750 2004-09-28 09:07:01 2004-09-28 09:07:15     73,83      0.109722
73,84
                     start                 end id_colums  intercontact
41278  2004-09-22 21:41:48 2004-09-22 21:42:18     73,84           NaN
41428  2004-09-23 04:44:50 2004-09-23 04:44:59     73,84      0.293426
41431  2004-09-23 04:49:03 2004-09-23 04:50:51     73,84      0.002824
41526  2004-09-23 05:15:36 2004-09-23 05:15:37     73,84      0.017188
41533  2004-09-23 05:18:23 2004-09-23 05:19:15     73,84      0.001921
...                    ...                 ...       ...           ...
593344 2004-12-09 13:13:02 2004-12-09 13:14:17     73,84      0.000671
593575 2004-12-09 13:22:26 2004-12-09 13:22:31     73,84      0.005660
593622 2004-12-09 13:24:32 2004-12-09 13:24:37     73,84      0.001400
593686 2004-12-09 13:28:00 2004-12-09 13:29:30     73,84      0.002350
594165 2004-12-09 14:37:58 2004-12-09 14:38:12     73,84      0.047546

[590 rows x 4 columns]
74,78
                     start                 end id_colums  intercontact
140301 2004-10-12 08:45:50 2004-10-12 08:45:56     74,78           NaN
140572 2004-10-12 09:09:44 2004-10-12 09:10:02     74,78      0.016528
146603 2004-10-13 03:13:15 2004-10-13 03:13:41     74,78      0.752234
146609 2004-10-13 03:17:33 2004-10-13 03:17:53     74,78      0.002685
146616 2004-10-13 03:20:49 2004-10-13 03:21:29     74,78      0.002037
...                    ...                 ...       ...           ...
762246 2005-03-28 12:43:58 2005-03-28 12:44:11     74,78      0.002292
762248 2005-03-28 12:46:15 2005-03-28 12:46:19     74,78      0.001435
762249 2005-03-28 12:46:42 2005-03-28 12:47:04     74,78      0.000266
763902 2005-03-29 09:35:11 2005-03-29 09:35:49     74,78      0.866748
763908 2005-03-29 09:35:56 2005-03-29 09:36:14     74,78      0.000081

[1734 rows x 4 columns]
74,84
                     start                 end id_colums  intercontact
140134 2004-10-12 08:28:50 2004-10-12 08:29:16     74,84           NaN
140195 2004-10-12 08:34:19 2004-10-12 08:35:17     74,84      0.003507
140210 2004-10-12 08:36:19 2004-10-12 08:36:32     74,84      0.000718
140222 2004-10-12 08:36:45 2004-10-12 08:37:10     74,84      0.000150
140263 2004-10-12 08:41:58 2004-10-12 08:42:38     74,84      0.003333
...                    ...                 ...       ...           ...
731547 2005-03-02 13:34:16 2005-03-02 13:34:33     74,84      0.005116
731563 2005-03-02 13:37:10 2005-03-02 13:37:14     74,84      0.001817
731679 2005-03-02 14:22:21 2005-03-02 14:22:51     74,84      0.031331
731738 2005-03-02 15:00:22 2005-03-02 15:01:28     74,84      0.026053
731740 2005-03-02 15:04:07 2005-03-02 15:04:30     74,84      0.001840

[881 rows x 4 columns]
75,76
                     start                 end id_colums  intercontact
219178 2004-10-23 13:57:42 2004-10-23 13:57:48     75,76           NaN
219227 2004-10-23 14:45:36 2004-10-23 14:45:38     75,76      0.033194
221301 2004-10-24 15:59:33 2004-10-24 15:59:56     75,76      1.051331
221308 2004-10-24 16:01:46 2004-10-24 16:05:41     75,76      0.001273
231109 2004-10-25 15:02:00 2004-10-25 15:02:08     75,76      0.955775
...                    ...                 ...       ...           ...
641091 2004-12-17 08:11:11 2004-12-17 08:11:29     75,76      0.082894
642385 2004-12-17 15:50:17 2004-12-17 15:50:21     75,76      0.318611
642461 2004-12-17 16:23:00 2004-12-17 16:23:24     75,76      0.022674
642514 2004-12-17 17:18:32 2004-12-17 17:18:45     75,76      0.038287
642515 2004-12-17 17:19:11 2004-12-17 17:19:49     75,76      0.000301

[91 rows x 4 columns]
75,79
                     start                 end id_colums  intercontact
154254 2004-10-13 13:51:35 2004-10-13 13:51:43     75,79           NaN
154283 2004-10-13 14:04:22 2004-10-13 14:04:34     75,79      0.008785
154468 2004-10-13 14:48:48 2004-10-13 14:49:06     75,79      0.030718
154556 2004-10-13 15:26:25 2004-10-13 15:26:56     75,79      0.025914
154563 2004-10-13 15:28:27 2004-10-13 15:29:09     75,79      0.001053
154574 2004-10-13 15:36:17 2004-10-13 15:36:58     75,79      0.004954
154577 2004-10-13 15:37:24 2004-10-13 15:37:42     75,79      0.000301
154578 2004-10-13 15:37:42 2004-10-13 15:37:57     75,79      0.000000
154579 2004-10-13 15:38:25 2004-10-13 15:38:44     75,79      0.000324
154712 2004-10-13 16:50:34 2004-10-13 16:51:10     75,79      0.049884
154713 2004-10-13 16:51:10 2004-10-13 16:53:21     75,79      0.000000
154721 2004-10-13 16:56:04 2004-10-13 16:57:37     75,79      0.001887
154735 2004-10-13 17:07:28 2004-10-13 17:08:01     75,79      0.006840
154753 2004-10-13 17:15:51 2004-10-13 17:16:20     75,79      0.005440
217166 2004-10-22 12:57:08 2004-10-22 12:57:13     75,79      8.820000
217222 2004-10-22 13:05:06 2004-10-22 13:06:07     75,79      0.005475
217291 2004-10-22 13:16:55 2004-10-22 13:17:19     75,79      0.007500
217327 2004-10-22 13:24:40 2004-10-22 13:25:07     75,79      0.005104
217979 2004-10-22 15:44:48 2004-10-22 15:45:06     75,79      0.097002
220334 2004-10-24 09:10:56 2004-10-24 09:10:59     75,79      1.726273
243222 2004-10-27 06:34:28 2004-10-27 06:34:41     75,79      2.891308
492328 2004-11-29 17:34:53 2004-11-29 17:34:54     75,79     33.458472
641977 2004-12-17 12:13:47 2004-12-17 12:14:34     75,79     17.777002
657299 2005-01-07 08:48:06 2005-01-07 08:48:19     75,79     20.856620
658182 2005-01-07 12:48:05 2005-01-07 12:48:51     75,79      0.166505
658643 2005-01-08 15:38:29 2005-01-08 15:38:58     75,79      1.117801
659671 2005-01-10 09:22:53 2005-01-10 09:23:36     75,79      1.738831
663276 2005-01-12 05:04:55 2005-01-12 05:05:56     75,79      1.820359
671626 2005-01-14 16:45:32 2005-01-14 16:46:30     75,79      2.485833
671631 2005-01-14 16:47:04 2005-01-14 16:47:46     75,79      0.000394
672481 2005-01-15 11:56:07 2005-01-15 11:56:25     75,79      0.797465
673688 2005-01-17 08:19:50 2005-01-17 08:20:59     75,79      1.849595
674673 2005-01-17 15:29:19 2005-01-17 15:30:29     75,79      0.297454
674675 2005-01-17 15:31:32 2005-01-17 15:31:47     75,79      0.000729
75,80
                     start                 end id_colums  intercontact
115181 2004-10-06 13:37:25 2004-10-06 13:38:43     75,80           NaN
115267 2004-10-06 13:41:30 2004-10-06 13:41:59     75,80      0.001933
115271 2004-10-06 13:42:09 2004-10-06 13:42:37     75,80      0.000116
115300 2004-10-06 13:43:39 2004-10-06 13:44:14     75,80      0.000718
115641 2004-10-06 14:21:14 2004-10-06 14:21:16     75,80      0.025694
116880 2004-10-07 03:56:11 2004-10-07 03:56:34     75,80      0.565914
117894 2004-10-07 05:58:02 2004-10-07 05:58:20     75,80      0.084352
118849 2004-10-07 07:29:20 2004-10-07 07:29:26     75,80      0.063194
118929 2004-10-07 07:33:15 2004-10-07 07:33:22     75,80      0.002650
118935 2004-10-07 07:33:39 2004-10-07 07:34:45     75,80      0.000197
118950 2004-10-07 07:35:49 2004-10-07 07:36:10     75,80      0.000741
118958 2004-10-07 07:37:31 2004-10-07 07:37:55     75,80      0.000937
119002 2004-10-07 07:43:02 2004-10-07 07:43:15     75,80      0.003553
119005 2004-10-07 07:43:24 2004-10-07 07:43:36     75,80      0.000104
119010 2004-10-07 07:43:49 2004-10-07 07:44:00     75,80      0.000150
119019 2004-10-07 07:44:47 2004-10-07 07:45:44     75,80      0.000544
119275 2004-10-07 07:57:01 2004-10-07 07:58:10     75,80      0.007836
119472 2004-10-07 08:03:07 2004-10-07 08:03:42     75,80      0.003438
120648 2004-10-07 09:06:05 2004-10-07 09:06:15     75,80      0.043322
121239 2004-10-07 09:35:40 2004-10-07 09:36:01     75,80      0.020428
121343 2004-10-07 09:38:16 2004-10-07 09:38:37     75,80      0.001563
121489 2004-10-07 09:42:45 2004-10-07 09:43:14     75,80      0.002870
122068 2004-10-07 10:20:21 2004-10-07 10:20:39     75,80      0.025775
122134 2004-10-07 10:23:50 2004-10-07 10:24:08     75,80      0.002211
122188 2004-10-07 10:25:17 2004-10-07 10:25:33     75,80      0.000799
122195 2004-10-07 10:25:36 2004-10-07 10:26:16     75,80      0.000035
122236 2004-10-07 10:29:24 2004-10-07 10:30:25     75,80      0.002176
122500 2004-10-07 10:50:57 2004-10-07 10:51:36     75,80      0.014259
126001 2004-10-07 15:05:44 2004-10-07 15:05:49     75,80      0.176481
126368 2004-10-07 15:53:45 2004-10-07 15:53:47     75,80      0.033287
127278 2004-10-08 04:58:23 2004-10-08 04:58:42     75,80      0.544861
132638 2004-10-09 07:04:10 2004-10-09 07:04:31     75,80      1.087130
287811 2004-11-02 09:21:21 2004-11-02 09:21:23     75,80     24.095023
75,81
                     start                 end id_colums  intercontact
289320 2004-11-02 10:16:09 2004-11-02 10:16:11     75,81           NaN
293126 2004-11-02 13:06:54 2004-11-02 13:07:15     75,81      0.118553
293142 2004-11-02 13:08:09 2004-11-02 13:08:30     75,81      0.000625
293158 2004-11-02 13:08:37 2004-11-02 13:09:55     75,81      0.000081
293176 2004-11-02 13:10:26 2004-11-02 13:10:58     75,81      0.000359
293186 2004-11-02 13:11:04 2004-11-02 13:11:15     75,81      0.000069
293189 2004-11-02 13:11:36 2004-11-02 13:11:57     75,81      0.000243
293232 2004-11-02 13:14:19 2004-11-02 13:15:32     75,81      0.001644
294251 2004-11-02 14:32:28 2004-11-02 14:32:35     75,81      0.053426
294464 2004-11-02 15:13:26 2004-11-02 15:13:50     75,81      0.028368
310957 2004-11-04 10:14:42 2004-11-04 10:15:32     75,81      1.792269
311183 2004-11-04 10:29:26 2004-11-04 10:29:34     75,81      0.009653
311477 2004-11-04 10:46:50 2004-11-04 10:47:31     75,81      0.011991
311637 2004-11-04 10:53:25 2004-11-04 10:53:37     75,81      0.004097
311641 2004-11-04 10:53:43 2004-11-04 10:55:26     75,81      0.000069
553458 2004-12-04 15:38:26 2004-12-04 15:38:32     75,81     30.196528
553527 2004-12-04 16:09:04 2004-12-04 16:09:14     75,81      0.021204
553533 2004-12-04 16:10:25 2004-12-04 16:10:28     75,81      0.000822
553538 2004-12-04 16:11:55 2004-12-04 16:12:14     75,81      0.001007
553734 2004-12-04 17:22:18 2004-12-04 17:22:42     75,81      0.048657
553757 2004-12-04 17:33:08 2004-12-04 17:33:55     75,81      0.007245
553772 2004-12-04 17:40:07 2004-12-04 17:41:44     75,81      0.004306
640931 2004-12-17 07:18:52 2004-12-17 07:19:19     75,81     12.567454
657205 2005-01-07 08:21:08 2005-01-07 08:22:17     75,81     21.042928
657217 2005-01-07 08:27:02 2005-01-07 08:27:15     75,81      0.003299
657223 2005-01-07 08:30:04 2005-01-07 08:30:22     75,81      0.001956
657224 2005-01-07 08:30:56 2005-01-07 08:31:13     75,81      0.000394
658659 2005-01-08 16:41:39 2005-01-08 16:43:52     75,81      1.340579
672457 2005-01-15 11:42:48 2005-01-15 11:44:54     75,81      6.790926
672476 2005-01-15 11:50:56 2005-01-15 11:51:37     75,81      0.004190
75,82
                     start                 end id_colums  intercontact
115677 2004-10-06 14:24:46 2004-10-06 14:25:02     75,82           NaN
117903 2004-10-07 05:58:06 2004-10-07 05:58:20     75,82      0.647963
117918 2004-10-07 05:59:38 2004-10-07 05:59:44     75,82      0.000903
118872 2004-10-07 07:30:32 2004-10-07 07:30:42     75,82      0.063056
118921 2004-10-07 07:33:07 2004-10-07 07:33:19     75,82      0.001678
...                    ...                 ...       ...           ...
347337 2004-11-09 15:36:42 2004-11-09 15:36:53     75,82      0.001516
348934 2004-11-10 05:00:18 2004-11-10 05:00:25     75,82      0.557928
348989 2004-11-10 05:03:43 2004-11-10 05:03:48     75,82      0.002292
348999 2004-11-10 05:04:15 2004-11-10 05:05:31     75,82      0.000313
524729 2004-12-02 02:30:40 2004-12-02 02:35:24     75,82     21.892465

[110 rows x 4 columns]
75,83
                     start                 end id_colums  intercontact
277800 2004-11-01 11:24:37 2004-11-01 11:26:00     75,83           NaN
304452 2004-11-03 14:52:32 2004-11-03 14:52:36     75,83      2.143426
304845 2004-11-03 15:56:22 2004-11-03 15:57:09     75,83      0.044282
359875 2004-11-12 06:59:17 2004-11-12 06:59:22     75,83      8.626481
75,85
                     start                 end id_colums  intercontact
256030 2004-10-28 09:38:19 2004-10-28 09:38:51     75,85           NaN
294547 2004-11-02 15:29:39 2004-11-02 15:30:01     75,85      5.243611
294888 2004-11-02 17:02:23 2004-11-02 17:04:21     75,85      0.064144
307643 2004-11-04 06:30:19 2004-11-04 06:31:26     75,85      1.559699
308853 2004-11-04 07:41:35 2004-11-04 07:41:40     75,85      0.048715
309271 2004-11-04 08:03:35 2004-11-04 08:03:36     75,85      0.015220
309380 2004-11-04 08:10:56 2004-11-04 08:10:58     75,85      0.005093
322207 2004-11-05 12:04:10 2004-11-05 12:04:14     75,85      1.161944
322585 2004-11-05 12:40:37 2004-11-05 12:40:47     75,85      0.025266
324296 2004-11-06 06:22:05 2004-11-06 06:29:36     75,85      0.737014
325419 2004-11-06 18:25:11 2004-11-06 18:25:26     75,85      0.496933
325421 2004-11-06 18:26:29 2004-11-06 18:26:50     75,85      0.000729
325422 2004-11-06 18:26:54 2004-11-06 18:27:04     75,85      0.000046
325423 2004-11-06 18:27:22 2004-11-06 18:27:48     75,85      0.000208
325429 2004-11-06 18:29:30 2004-11-06 18:29:49     75,85      0.001181
325430 2004-11-06 18:30:18 2004-11-06 18:30:49     75,85      0.000336
325435 2004-11-06 18:32:31 2004-11-06 18:32:49     75,85      0.001181
325833 2004-11-07 06:10:23 2004-11-07 06:10:45     75,85      0.484421
325836 2004-11-07 06:14:03 2004-11-07 06:14:20     75,85      0.002292
329748 2004-11-08 07:41:43 2004-11-08 07:42:40     75,85      1.060683
335144 2004-11-08 15:58:16 2004-11-08 15:58:38     75,85      0.344167
340953 2004-11-09 08:37:48 2004-11-09 08:37:49     75,85      0.693866
341797 2004-11-09 09:23:24 2004-11-09 09:23:27     75,85      0.031655
341981 2004-11-09 09:28:37 2004-11-09 09:29:30     75,85      0.003588
344871 2004-11-09 12:03:22 2004-11-09 12:03:24     75,85      0.106852
345048 2004-11-09 12:11:07 2004-11-09 12:11:39     75,85      0.005359
345136 2004-11-09 12:14:17 2004-11-09 12:20:44     75,85      0.001829
345514 2004-11-09 12:40:20 2004-11-09 12:40:50     75,85      0.013611
345531 2004-11-09 12:40:51 2004-11-09 12:41:13     75,85      0.000012
345570 2004-11-09 12:41:38 2004-11-09 12:42:12     75,85      0.000289
345581 2004-11-09 12:42:19 2004-11-09 12:42:36     75,85      0.000081
345589 2004-11-09 12:42:53 2004-11-09 12:43:14     75,85      0.000197
345614 2004-11-09 12:44:09 2004-11-09 12:45:49     75,85      0.000637
348936 2004-11-10 05:00:18 2004-11-10 05:01:34     75,85      0.676725
348962 2004-11-10 05:01:58 2004-11-10 05:02:00     75,85      0.000278
550636 2004-12-03 16:53:05 2004-12-03 16:53:16     75,85     23.493808
550743 2004-12-03 17:36:24 2004-12-03 17:37:01     75,85      0.029954
550747 2004-12-03 17:37:40 2004-12-03 17:37:57     75,85      0.000451
550750 2004-12-03 17:39:20 2004-12-03 17:39:37     75,85      0.000961
550759 2004-12-03 17:52:10 2004-12-03 17:52:19     75,85      0.008715
550767 2004-12-03 17:55:30 2004-12-03 17:55:59     75,85      0.002211
550935 2004-12-03 19:05:17 2004-12-03 19:06:23     75,85      0.048125
550944 2004-12-03 19:10:28 2004-12-03 19:12:04     75,85      0.002836
550946 2004-12-03 19:12:19 2004-12-03 19:12:34     75,85      0.000174
550948 2004-12-03 19:13:17 2004-12-03 19:13:23     75,85      0.000498
550951 2004-12-03 19:13:46 2004-12-03 19:14:11     75,85      0.000266
550956 2004-12-03 19:16:15 2004-12-03 19:17:04     75,85      0.001435
550962 2004-12-03 19:20:16 2004-12-03 19:21:03     75,85      0.002222
550969 2004-12-03 19:27:23 2004-12-03 19:27:42     75,85      0.004398
550970 2004-12-03 19:28:08 2004-12-03 19:28:19     75,85      0.000301
550975 2004-12-03 19:28:42 2004-12-03 19:28:48     75,85      0.000266
550984 2004-12-03 19:37:38 2004-12-03 19:37:41     75,85      0.006134
571406 2004-12-07 09:16:58 2004-12-07 09:17:59     75,85      3.568947
571407 2004-12-07 09:18:01 2004-12-07 09:18:22     75,85      0.000023
619812 2004-12-13 15:55:18 2004-12-13 15:55:59     75,85      6.275648
640221 2004-12-16 20:17:10 2004-12-16 20:17:25     75,85      3.181377
642537 2004-12-17 17:50:01 2004-12-17 17:50:23     75,85      0.897639
642601 2004-12-17 19:51:16 2004-12-17 19:52:09     75,85      0.083947
642602 2004-12-17 19:55:16 2004-12-17 19:55:41     75,85      0.002164
665819 2005-01-12 17:15:17 2005-01-12 17:16:44     75,85     25.888611
75,86
                     start                 end id_colums  intercontact
289298 2004-11-02 10:15:18 2004-11-02 10:15:20     75,86           NaN
289893 2004-11-02 10:40:43 2004-11-02 10:40:47     75,86      0.017627
290504 2004-11-02 11:01:19 2004-11-02 11:01:22     75,86      0.014259
290556 2004-11-02 11:02:41 2004-11-02 11:03:42     75,86      0.000914
290720 2004-11-02 11:08:11 2004-11-02 11:08:22     75,86      0.003113
290738 2004-11-02 11:08:57 2004-11-02 11:09:02     75,86      0.000405
290792 2004-11-02 11:11:19 2004-11-02 11:11:42     75,86      0.001586
290803 2004-11-02 11:12:07 2004-11-02 11:12:36     75,86      0.000289
290928 2004-11-02 11:17:05 2004-11-02 11:17:25     75,86      0.003113
322316 2004-11-05 12:15:04 2004-11-05 12:15:09     75,86      3.040035
323609 2004-11-05 16:35:38 2004-11-05 16:35:59     75,86      0.180891
323611 2004-11-05 16:36:57 2004-11-05 16:37:08     75,86      0.000671
366298 2004-11-13 19:40:56 2004-11-13 19:41:05     75,86      8.127639
366315 2004-11-13 19:59:14 2004-11-13 19:59:25     75,86      0.012604
366340 2004-11-13 20:35:15 2004-11-13 20:36:04     75,86      0.024884
383078 2004-11-15 15:43:27 2004-11-15 15:43:37     75,86      1.796794
496743 2004-11-30 07:33:21 2004-11-30 07:35:20     75,86     14.659537
549491 2004-12-03 13:41:41 2004-12-03 13:41:59     75,86      3.254410
550791 2004-12-03 18:08:07 2004-12-03 18:08:15     75,86      0.184815
550794 2004-12-03 18:09:47 2004-12-03 18:10:16     75,86      0.001065
575066 2004-12-07 14:07:58 2004-12-07 14:08:00     75,86      3.831736
677329 2005-01-18 19:08:37 2005-01-18 19:08:46     75,86     42.208762
75,87
                     start                 end id_colums  intercontact
260468 2004-10-28 17:41:40 2004-10-28 17:41:42     75,87           NaN
267749 2004-10-30 15:37:51 2004-10-30 15:39:12     75,87      1.913993
270211 2004-10-31 12:54:33 2004-10-31 12:54:36     75,87      0.885660
359052 2004-11-11 17:36:39 2004-11-11 17:37:28     75,87     11.195868
359100 2004-11-11 18:46:21 2004-11-11 18:48:56     75,87      0.047836
362148 2004-11-12 11:25:19 2004-11-12 11:25:37     75,87      0.691933

8,40
                     start                 end id_colums  intercontact
44388  2004-09-23 10:37:16 2004-09-23 10:38:29      8,40           NaN
47835  2004-09-23 14:41:20 2004-09-23 14:43:33      8,40      0.168646
48179  2004-09-23 15:42:20 2004-09-23 15:43:02      8,40      0.040822
49614  2004-09-24 04:50:57 2004-09-24 04:51:04      8,40      0.547164
49629  2004-09-24 04:51:15 2004-09-24 04:51:35      8,40      0.000127
...                    ...                 ...       ...           ...
784203 2005-05-02 11:34:01 2005-05-02 11:34:02      8,40      0.068981
784367 2005-05-02 17:08:05 2005-05-02 17:08:07      8,40      0.231979
784431 2005-05-03 04:23:34 2005-05-03 04:23:39      8,40      0.469062
784841 2005-05-03 12:57:47 2005-05-03 12:59:14      8,40      0.357037
784911 2005-05-03 15:01:48 2005-05-03 15:02:21      8,40      0.085116

[744 rows x 4 columns]
8,42
                     start                 end id_colums  intercontact
44078  2004-09-23 10:21:33 2004-09-23 10:21:38      8,42           NaN
47878  2004-09-23 14:52:55 2004-09-23 14:53:38      8,42      0.188391
47954  2004-09-23 15:08:10 2004-09-23 15:09:18      8,42      0.010093
48003  2004-09-23 15:13:25 2004-09-23 15:13:27      8,42      0.002859
48146  2004-09-23 15:39:01 2004-09-23 15:39:11      8,42      0.017755
...                    ...                 ...       ...           ...
528169 2004-12-02 07:02:26 2004-12-02 07:05:21      8,42      0.005185
528231 2004-12-02 07:07:21 2004-12-02 07:07:43      8,42      0.001389
528238 2004-12-02 07:07:46 2004-12-02 07:08:06      8,42      0.000035
528679 2004-12-02 07:28:29 2004-12-02 07:29:01      8,42      0.014155
552464 2004-12-04 11:07:43 2004-12-04 11:07:55      8,42      2.151875

[338 rows x 4 columns]
8,43
                     start                 end id_colums  intercontact
46605  2004-09-23 12:44:42 2004-09-23 12:47:05      8,43           NaN
47958  2004-09-23 15:08:28 2004-09-23 15:08:36      8,43      0.098183
47983  2004-09-23 15:11:16 2004-09-23 15:12:14      8,43      0.001852
47992  2004-09-23 15:12:20 2004-09-23 15:13:32      8,43      0.000069
48145  2004-09-23 15:38:56 2004-09-23 15:39:17      8,43      0.017639
...                    ...                 ...       ...           ...
559505 2004-12-06 06:01:41 2004-12-06 06:01:46      8,43      0.614954
559586 2004-12-06 06:05:34 2004-12-06 06:06:55      8,43      0.002639
560015 2004-12-06 06:27:36 2004-12-06 06:28:16      8,43      0.014363
560056 2004-12-06 06:29:18 2004-12-06 06:29:20      8,43      0.000718
560215 2004-12-06 06:45:44 2004-12-06 06:45:45      8,43      0.011389

[296 rows x 4 columns]
8,44
                     start                 end id_colums  intercontact
43107  2004-09-23 09:26:00 2004-09-23 09:26:56      8,44           NaN
43132  2004-09-23 09:29:58 2004-09-23 09:30:14      8,44      0.002106
43145  2004-09-23 09:30:49 2004-09-23 09:30:53      8,44      0.000405
43166  2004-09-23 09:32:23 2004-09-23 09:32:25      8,44      0.001042
43255  2004-09-23 09:43:05 2004-09-23 09:43:35      8,44      0.007407
...                    ...                 ...       ...           ...
690816 2005-01-26 08:29:13 2005-01-26 08:29:18      8,44      1.105868
691135 2005-01-26 09:46:08 2005-01-26 09:46:11      8,44      0.053356
691181 2005-01-26 09:57:34 2005-01-26 09:57:36      8,44      0.007905
691824 2005-01-26 14:30:22 2005-01-26 14:30:44      8,44      0.189421
693853 2005-01-27 09:17:54 2005-01-27 09:18:37      8,44      0.782755

[401 rows x 4 columns]
8,45
                     start                 end id_colums  intercontact
24591  2004-09-16 08:24:24 2004-09-16 08:24:35      8,45           NaN
24612  2004-09-16 08:32:16 2004-09-16 08:35:20      8,45      0.005336
24626  2004-09-16 08:38:08 2004-09-16 08:39:16      8,45      0.001944
24645  2004-09-16 08:43:23 2004-09-16 08:47:44      8,45      0.002859
24837  2004-09-16 09:21:52 2004-09-16 09:22:10      8,45      0.023704
...                    ...                 ...       ...           ...
625753 2004-12-14 12:36:10 2004-12-14 12:36:25      8,45      0.000139
625757 2004-12-14 12:36:27 2004-12-14 12:36:28      8,45      0.000023
629068 2004-12-15 07:36:36 2004-12-15 07:36:42      8,45      0.791759
629070 2004-12-15 07:36:43 2004-12-15 07:37:51      8,45      0.000012
629170 2004-12-15 07:47:37 2004-12-15 07:47:47      8,45      0.006782

[153 rows x 4 columns]
8,46
                     start                 end id_colums  intercontact
480980 2004-11-29 04:58:29 2004-11-29 04:58:31      8,46           NaN
481111 2004-11-29 05:09:23 2004-11-29 05:09:31      8,46      0.007546
481968 2004-11-29 06:02:23 2004-11-29 06:02:25      8,46      0.036713
482296 2004-11-29 06:20:03 2004-11-29 06:20:04      8,46      0.012245
482447 2004-11-29 06:26:26 2004-11-29 06:26:28      8,46      0.004421
...                    ...                 ...       ...           ...
785409 2005-05-04 13:54:44 2005-05-04 13:54:56      8,46      0.009815
785414 2005-05-04 14:01:19 2005-05-04 14:01:28      8,46      0.004433
785419 2005-05-04 14:03:18 2005-05-04 14:04:17      8,46      0.001273
785427 2005-05-04 14:18:35 2005-05-04 14:18:37      8,46      0.009931
785435 2005-05-04 14:26:03 2005-05-04 14:26:10      8,46      0.005162

[692 rows x 4 columns]
8,53
                     start                 end id_colums  intercontact
480984 2004-11-29 04:58:29 2004-11-29 04:58:31      8,53           NaN
481298 2004-11-29 05:20:25 2004-11-29 05:20:39      8,53      0.015208
481551 2004-11-29 05:33:58 2004-11-29 05:34:00      8,53      0.009248
482015 2004-11-29 06:04:18 2004-11-29 06:05:11      8,53      0.021042
482295 2004-11-29 06:20:03 2004-11-29 06:20:08      8,53      0.010324
...                    ...                 ...       ...           ...
678075 2005-01-19 07:10:55 2005-01-19 07:11:31      8,53     14.935359
678911 2005-01-19 08:57:38 2005-01-19 08:58:15      8,53      0.073692
678947 2005-01-19 09:01:25 2005-01-19 09:03:28      8,53      0.002199
679000 2005-01-19 09:06:54 2005-01-19 09:07:12      8,53      0.002384
679084 2005-01-19 09:18:41 2005-01-19 09:18:42      8,53      0.007975

[139 rows x 4 columns]
8,54
                     start                 end id_colums  intercontact
32920  2004-09-20 10:15:50 2004-09-20 10:16:05      8,54           NaN
32934  2004-09-20 10:16:53 2004-09-20 10:17:17      8,54      0.000556
32955  2004-09-20 10:19:29 2004-09-20 10:19:33      8,54      0.001528
32959  2004-09-20 10:19:51 2004-09-20 10:21:11      8,54      0.000208
32971  2004-09-20 10:23:11 2004-09-20 10:23:12      8,54      0.001389
...                    ...                 ...       ...           ...
643235 2004-12-18 17:24:55 2004-12-18 17:25:02      8,54      1.224664
643237 2004-12-18 17:25:42 2004-12-18 17:26:42      8,54      0.000463
643483 2004-12-19 18:32:46 2004-12-19 18:32:55      8,54      1.045880
643484 2004-12-19 18:35:10 2004-12-19 18:35:55      8,54      0.001563
643489 2004-12-19 18:48:25 2004-12-19 18:48:50      8,54      0.008681

[558 rows x 4 columns]
8,55
                     start                 end id_colums  intercontact
43169  2004-09-23 09:33:02 2004-09-23 09:33:19      8,55           NaN
43262  2004-09-23 09:45:14 2004-09-23 09:45:22      8,55      0.008275
43280  2004-09-23 09:46:40 2004-09-23 09:46:50      8,55      0.000903
43412  2004-09-23 09:52:35 2004-09-23 09:52:45      8,55      0.003993
43421  2004-09-23 09:53:02 2004-09-23 09:53:23      8,55      0.000197
...                    ...                 ...       ...           ...
783361 2005-04-29 09:08:00 2005-04-29 09:09:34      8,55      0.032373
783593 2005-04-29 16:40:57 2005-04-29 16:41:07      8,55      0.313461
783600 2005-04-29 18:23:24 2005-04-29 18:23:42      8,55      0.071030
783657 2005-04-30 13:05:22 2005-04-30 13:05:44      8,55      0.778935
783781 2005-05-01 18:19:53 2005-05-01 18:19:54      8,55      1.218160

[606 rows x 4 columns]
8,56
                     start                 end id_colums  intercontact
24152  2004-09-16 07:24:46 2004-09-16 07:25:32      8,56           NaN
24590  2004-09-16 08:24:24 2004-09-16 08:24:35      8,56      0.040880
24700  2004-09-16 08:53:08 2004-09-16 08:54:51      8,56      0.019826
24870  2004-09-16 09:28:59 2004-09-16 09:29:01      8,56      0.023704
24919  2004-09-16 09:35:53 2004-09-16 09:35:59      8,56      0.004769
...                    ...                 ...       ...           ...
227810 2004-10-25 10:40:26 2004-10-25 10:47:11      8,56      0.041470
228197 2004-10-25 10:58:59 2004-10-25 10:59:09      8,56      0.008194
228428 2004-10-25 11:05:58 2004-10-25 11:06:00      8,56      0.004734
228981 2004-10-25 11:37:14 2004-10-25 11:37:18      8,56      0.021690
230280 2004-10-25 13:03:45 2004-10-25 13:03:51      8,56      0.060035

[368 rows x 4 columns]
8,58
                     start                 end id_colums  intercontact
491738 2004-11-29 15:57:53 2004-11-29 15:57:55      8,58           NaN
492429 2004-11-29 17:57:21 2004-11-29 17:57:38      8,58      0.082940
492443 2004-11-29 17:59:15 2004-11-29 18:00:28      8,58      0.001123
492475 2004-11-29 18:04:47 2004-11-29 18:06:24      8,58      0.002998
494408 2004-11-30 05:36:01 2004-11-30 05:36:03      8,58      0.478900
...                    ...                 ...       ...           ...
651143 2005-01-04 08:57:51 2005-01-04 08:58:09      8,58      0.002743
651156 2005-01-04 08:59:39 2005-01-04 09:04:10      8,58      0.001042
651191 2005-01-04 09:06:23 2005-01-04 09:06:57      8,58      0.001539
651200 2005-01-04 09:08:21 2005-01-04 09:09:41      8,58      0.000972
651219 2005-01-04 09:15:13 2005-01-04 09:15:39      8,58      0.003843

[122 rows x 4 columns]
8,59
                     start                 end id_colums  intercontact
569    2004-08-10 05:01:43 2004-08-10 05:02:42      8,59           NaN
570    2004-08-10 05:03:47 2004-08-10 05:03:57      8,59      0.000752
1154   2004-08-13 07:56:56 2004-08-13 07:57:24      8,59      3.120127
1162   2004-08-13 08:14:09 2004-08-13 08:14:26      8,59      0.011632
1299   2004-08-13 13:41:02 2004-08-13 13:41:25      8,59      0.226806
...                    ...                 ...       ...           ...
742514 2005-03-11 09:00:36 2005-03-11 09:00:59      8,59      0.000995
742706 2005-03-11 10:24:07 2005-03-11 10:24:08      8,59      0.057731
745584 2005-03-14 13:31:17 2005-03-14 13:31:38      8,59      3.129965
745588 2005-03-14 13:33:01 2005-03-14 13:33:39      8,59      0.000961
747488 2005-03-15 13:18:45 2005-03-15 13:18:55      8,59      0.989653

[105 rows x 4 columns]
8,60
                     start                 end id_colums  intercontact
24587  2004-09-16 08:24:24 2004-09-16 08:24:35      8,60           NaN
24613  2004-09-16 08:32:16 2004-09-16 08:32:47      8,60      0.005336
24627  2004-09-16 08:38:08 2004-09-16 08:38:33      8,60      0.003715
24644  2004-09-16 08:40:42 2004-09-16 08:41:46      8,60      0.001493
24697  2004-09-16 08:53:08 2004-09-16 08:54:43      8,60      0.007894
...                    ...                 ...       ...           ...
783636 2005-04-30 09:53:14 2005-04-30 09:53:15      8,60      0.055185
783638 2005-04-30 10:43:18 2005-04-30 10:43:19      8,60      0.034757
783641 2005-04-30 11:25:11 2005-04-30 11:25:12      8,60      0.029074
783647 2005-04-30 11:38:03 2005-04-30 11:38:04      8,60      0.008924
783662 2005-04-30 14:00:31 2005-04-30 14:00:32      8,60      0.098924

[630 rows x 4 columns]
8,61
                     start                 end id_colums  intercontact
43139  2004-09-23 09:30:34 2004-09-23 09:30:36      8,61           NaN
43141  2004-09-23 09:30:36 2004-09-23 09:30:53      8,61      0.000000
43227  2004-09-23 09:40:38 2004-09-23 09:40:49      8,61      0.006771
43239  2004-09-23 09:42:25 2004-09-23 09:42:32      8,61      0.001111
43246  2004-09-23 09:42:53 2004-09-23 09:44:09      8,61      0.000243
...                    ...                 ...       ...           ...
563315 2004-12-06 09:33:18 2004-12-06 09:33:28      8,61      0.009896
563369 2004-12-06 09:35:13 2004-12-06 09:35:43      8,61      0.001215
563464 2004-12-06 09:40:18 2004-12-06 09:41:01      8,61      0.003183
567478 2004-12-06 13:41:19 2004-12-06 13:41:33      8,61      0.166875
567583 2004-12-06 13:46:27 2004-12-06 13:46:47      8,61      0.003403

[119 rows x 4 columns]
8,62
                     start                 end id_colums  intercontact
54085  2004-09-24 11:47:41 2004-09-24 11:47:50      8,62           NaN
54088  2004-09-24 11:48:04 2004-09-24 11:48:07      8,62      0.000162
54153  2004-09-24 11:56:18 2004-09-24 11:56:41      8,62      0.005683
55461  2004-09-24 15:00:06 2004-09-24 15:00:28      8,62      0.127373
57844  2004-09-27 04:32:40 2004-09-27 04:32:43      8,62      2.564028
...                    ...                 ...       ...           ...
560897 2004-12-06 07:20:36 2004-12-06 07:20:47      8,62      0.001759
560900 2004-12-06 07:20:53 2004-12-06 07:21:20      8,62      0.000069
560908 2004-12-06 07:21:20 2004-12-06 07:21:44      8,62      0.000000
561310 2004-12-06 07:49:03 2004-12-06 07:49:31      8,62      0.018970
561509 2004-12-06 07:56:14 2004-12-06 07:56:16      8,62      0.004664

[426 rows x 4 columns]
8,66
                     start                 end id_colums  intercontact
43054  2004-09-23 09:17:54 2004-09-23 09:18:36      8,66           NaN
43106  2004-09-23 09:26:00 2004-09-23 09:26:30      8,66      0.005139
43121  2004-09-23 09:27:30 2004-09-23 09:28:47      8,66      0.000694
43131  2004-09-23 09:29:58 2004-09-23 09:30:19      8,66      0.000822
43304  2004-09-23 09:48:31 2004-09-23 09:51:58      8,66      0.012639
...                    ...                 ...       ...           ...
785304 2005-05-04 11:03:34 2005-05-04 11:04:22      8,66      0.002847
785315 2005-05-04 11:09:38 2005-05-04 11:10:20      8,66      0.003657
785319 2005-05-04 11:10:42 2005-05-04 11:10:57      8,66      0.000255
785320 2005-05-04 11:10:59 2005-05-04 11:11:30      8,66      0.000023
785332 2005-05-04 11:15:26 2005-05-04 11:15:43      8,66      0.002731

[815 rows x 4 columns]
8,68
                     start                 end id_colums  intercontact
230394 2004-10-25 13:16:20 2004-10-25 13:16:22      8,68           NaN
230407 2004-10-25 13:18:22 2004-10-25 13:18:48      8,68      0.001389
480825 2004-11-29 04:47:56 2004-11-29 04:48:34      8,68     34.645231
481576 2004-11-29 05:34:55 2004-11-29 05:36:20      8,68      0.032188
482796 2004-11-29 06:52:21 2004-11-29 06:52:41      8,68      0.052789
...                    ...                 ...       ...           ...
767312 2005-03-30 15:48:03 2005-03-30 15:48:20      8,68      0.138264
768404 2005-03-31 14:36:26 2005-03-31 14:36:51      8,68      0.950069
768416 2005-03-31 14:51:01 2005-03-31 14:52:10      8,68      0.009838
768420 2005-03-31 14:56:35 2005-03-31 14:57:34      8,68      0.003067
768437 2005-03-31 16:22:10 2005-03-31 16:22:58      8,68      0.058750

[226 rows x 4 columns]
8,69
                     start                 end id_colums  intercontact
120407 2004-10-07 08:52:45 2004-10-07 08:53:15      8,69           NaN
121120 2004-10-07 09:32:00 2004-10-07 09:32:42      8,69      0.026910
121182 2004-10-07 09:33:48 2004-10-07 09:36:05      8,69      0.000764
121377 2004-10-07 09:39:28 2004-10-07 09:40:09      8,69      0.002350
121408 2004-10-07 09:40:24 2004-10-07 09:40:37      8,69      0.000174
121455 2004-10-07 09:41:10 2004-10-07 09:41:32      8,69      0.000382
121638 2004-10-07 09:53:33 2004-10-07 09:54:14      8,69      0.008345
222930 2004-10-25 04:49:53 2004-10-25 04:49:54      8,69     17.788646
222990 2004-10-25 04:53:26 2004-10-25 04:53:48      8,69      0.002454
223047 2004-10-25 04:56:56 2004-10-25 04:57:14      8,69      0.002176
223119 2004-10-25 05:00:36 2004-10-25 05:00:57      8,69      0.002338
223128 2004-10-25 05:01:16 2004-10-25 05:02:15      8,69      0.000220
223178 2004-10-25 05:04:23 2004-10-25 05:04:29      8,69      0.001481
223878 2004-10-25 06:20:24 2004-10-25 06:24:46      8,69      0.052720
224103 2004-10-25 06:36:57 2004-10-25 06:36:58      8,69      0.008461
224780 2004-10-25 07:11:59 2004-10-25 07:12:07      8,69      0.024317
224884 2004-10-25 07:23:21 2004-10-25 07:23:51      8,69      0.007801
225612 2004-10-25 08:08:36 2004-10-25 08:08:40      8,69      0.031076
225678 2004-10-25 08:13:53 2004-10-25 08:16:23      8,69      0.003623
225950 2004-10-25 08:38:36 2004-10-25 08:38:41      8,69      0.015428
226007 2004-10-25 08:41:40 2004-10-25 08:41:41      8,69      0.002072
227666 2004-10-25 10:26:21 2004-10-25 10:26:23      8,69      0.072685
227816 2004-10-25 10:40:41 2004-10-25 10:40:59      8,69      0.009931
227933 2004-10-25 10:47:11 2004-10-25 10:47:18      8,69      0.004306
227943 2004-10-25 10:47:22 2004-10-25 10:48:08      8,69      0.000046
229228 2004-10-25 11:54:38 2004-10-25 11:54:57      8,69      0.046181
229602 2004-10-25 12:20:15 2004-10-25 12:20:17      8,69      0.017569
229752 2004-10-25 12:26:12 2004-10-25 12:26:22      8,69      0.004109
229766 2004-10-25 12:26:31 2004-10-25 12:26:44      8,69      0.000104
231105 2004-10-25 15:01:53 2004-10-25 15:02:31      8,69      0.107743
8,70
                     start                 end id_colums  intercontact
677936 2005-01-19 06:48:39 2005-01-19 06:48:43      8,70           NaN
677948 2005-01-19 06:50:29 2005-01-19 06:51:00      8,70      0.001227
677958 2005-01-19 06:54:17 2005-01-19 06:54:18      8,70      0.002280
677974 2005-01-19 06:56:20 2005-01-19 06:56:45      8,70      0.001412
677991 2005-01-19 06:57:53 2005-01-19 06:57:57      8,70      0.000787
...                    ...                 ...       ...           ...
732394 2005-03-03 07:17:06 2005-03-03 07:28:13      8,70      0.000035
732585 2005-03-03 07:42:39 2005-03-03 07:44:01      8,70      0.010023
732943 2005-03-03 09:19:20 2005-03-03 09:19:22      8,70      0.066192
733120 2005-03-03 10:03:21 2005-03-03 10:03:22      8,70      0.030544
733323 2005-03-03 10:18:48 2005-03-03 10:18:49      8,70      0.010718

[152 rows x 4 columns]
8,71
                     start                 end id_colums  intercontact
109741 2004-10-06 05:56:00 2004-10-06 05:56:04      8,71           NaN
109743 2004-10-06 05:56:13 2004-10-06 05:56:28      8,71      0.000104
109751 2004-10-06 05:57:43 2004-10-06 05:58:02      8,71      0.000868
109755 2004-10-06 05:59:34 2004-10-06 05:59:46      8,71      0.001065
109758 2004-10-06 06:00:42 2004-10-06 06:00:51      8,71      0.000648
...                    ...                 ...       ...           ...
768272 2005-03-31 11:47:30 2005-03-31 11:47:37      8,71      0.015243
768523 2005-04-01 05:12:14 2005-04-01 05:12:23      8,71      0.725428
768528 2005-04-01 05:24:48 2005-04-01 05:26:25      8,71      0.008623
769082 2005-04-01 12:04:14 2005-04-01 12:04:21      8,71      0.276262
769098 2005-04-01 12:09:30 2005-04-01 12:09:53      8,71      0.003576

[759 rows x 4 columns]
8,72
                     start                 end id_colums  intercontact
609916 2004-12-12 12:52:22 2004-12-12 12:52:57      8,72           NaN
612157 2004-12-13 05:01:25 2004-12-13 05:01:49      8,72      0.672546
612468 2004-12-13 06:08:35 2004-12-13 06:10:14      8,72      0.046366
612684 2004-12-13 06:42:54 2004-12-13 06:43:32      8,72      0.022685
613180 2004-12-13 07:15:50 2004-12-13 07:17:44      8,72      0.022431
613233 2004-12-13 07:18:07 2004-12-13 07:18:08      8,72      0.000266
614216 2004-12-13 08:21:15 2004-12-13 08:21:25      8,72      0.043831
614324 2004-12-13 08:34:29 2004-12-13 08:34:31      8,72      0.009074
614705 2004-12-13 09:07:00 2004-12-13 09:07:02      8,72      0.022558
614769 2004-12-13 09:12:52 2004-12-13 09:12:54      8,72      0.004051
615374 2004-12-13 09:59:34 2004-12-13 09:59:44      8,72      0.032407
615429 2004-12-13 10:06:56 2004-12-13 10:06:58      8,72      0.005000
616019 2004-12-13 10:31:50 2004-12-13 10:32:01      8,72      0.017269

83,87
                     start                 end id_colums  intercontact
277845 2004-11-01 11:26:00 2004-11-01 11:27:36     83,87           NaN
280206 2004-11-01 13:14:20 2004-11-01 13:14:35     83,87      0.074120
280644 2004-11-01 13:48:15 2004-11-01 13:48:33     83,87      0.023380
359782 2004-11-12 06:49:49 2004-11-12 06:50:24     83,87     10.709213
83,88
                     start                 end id_colums  intercontact
43575  2004-09-23 09:57:45 2004-09-23 09:58:39     83,88           NaN
43596  2004-09-23 09:58:49 2004-09-23 09:58:58     83,88      0.000116
43637  2004-09-23 09:59:31 2004-09-23 09:59:41     83,88      0.000382
43808  2004-09-23 10:06:13 2004-09-23 10:06:44     83,88      0.004537
43914  2004-09-23 10:13:04 2004-09-23 10:14:06     83,88      0.004398
44407  2004-09-23 10:38:52 2004-09-23 10:39:15     83,88      0.017199
44491  2004-09-23 10:43:33 2004-09-23 10:43:50     83,88      0.002986
44549  2004-09-23 10:47:02 2004-09-23 10:47:57     83,88      0.002222
44602  2004-09-23 10:51:49 2004-09-23 10:52:06     83,88      0.002685
44680  2004-09-23 10:57:21 2004-09-23 10:57:49     83,88      0.003646
44819  2004-09-23 11:01:49 2004-09-23 11:02:07     83,88      0.002778
44847  2004-09-23 11:02:28 2004-09-23 11:03:42     83,88      0.000243
44988  2004-09-23 11:09:41 2004-09-23 11:09:47     83,88      0.004155
45014  2004-09-23 11:10:42 2004-09-23 11:11:06     83,88      0.000637
45286  2004-09-23 11:26:57 2004-09-23 11:27:41     83,88      0.011007
45324  2004-09-23 11:28:39 2004-09-23 11:28:59     83,88      0.000671
46588  2004-09-23 12:43:48 2004-09-23 12:45:01     83,88      0.051956
49015  2004-09-23 18:18:53 2004-09-23 18:19:01     83,88      0.231852
49506  2004-09-24 04:34:44 2004-09-24 04:36:24     83,88      0.427581
49810  2004-09-24 05:26:57 2004-09-24 05:26:59     83,88      0.035104
49862  2004-09-24 05:42:07 2004-09-24 05:42:41     83,88      0.010509
50147  2004-09-24 06:04:32 2004-09-24 06:06:14     83,88      0.015174
50192  2004-09-24 06:11:51 2004-09-24 06:17:55     83,88      0.003900
50638  2004-09-24 06:56:32 2004-09-24 06:57:53     83,88      0.026817
50724  2004-09-24 07:06:47 2004-09-24 07:07:07     83,88      0.006181
51304  2004-09-24 07:47:53 2004-09-24 07:50:03     83,88      0.028310
52798  2004-09-24 09:43:10 2004-09-24 09:45:45     83,88      0.078553
53153  2004-09-24 10:05:39 2004-09-24 10:05:52     83,88      0.013819
53161  2004-09-24 10:06:13 2004-09-24 10:06:50     83,88      0.000243
69587  2004-09-28 09:52:17 2004-09-28 09:52:36     83,88      3.989896
69606  2004-09-28 09:52:53 2004-09-28 09:53:12     83,88      0.000197
69771  2004-09-28 09:57:26 2004-09-28 09:58:18     83,88      0.002940
69811  2004-09-28 09:58:21 2004-09-28 10:01:45     83,88      0.000035
69877  2004-09-28 10:01:46 2004-09-28 10:02:46     83,88      0.000012
69919  2004-09-28 10:04:01 2004-09-28 10:04:20     83,88      0.000868
70130  2004-09-28 10:22:05 2004-09-28 10:24:25     83,88      0.012326
70334  2004-09-28 10:40:29 2004-09-28 10:42:04     83,88      0.011157
70619  2004-09-28 10:51:34 2004-09-28 10:51:52     83,88      0.006597
70719  2004-09-28 10:58:18 2004-09-28 10:58:20     83,88      0.004468
72053  2004-09-28 12:31:47 2004-09-28 12:32:09     83,88      0.064896
305288 2004-11-03 18:29:00 2004-11-03 18:30:08     83,88     36.247813
85,86
                     start                 end id_colums  intercontact
302428 2004-11-03 11:56:00 2004-11-03 11:57:09     85,86           NaN
302503 2004-11-03 11:58:53 2004-11-03 11:58:58     85,86      0.001204
302647 2004-11-03 12:07:22 2004-11-03 12:07:23     85,86      0.005833
304391 2004-11-03 14:39:32 2004-11-03 14:39:48     85,86      0.105660
311717 2004-11-04 10:56:14 2004-11-04 10:56:18     85,86      0.844745
...                    ...                 ...       ...           ...
590870 2004-12-09 10:50:59 2004-12-09 10:51:04     85,86      0.094792
591736 2004-12-09 11:53:03 2004-12-09 11:53:05     85,86      0.043044
591917 2004-12-09 11:59:57 2004-12-09 11:59:59     85,86      0.004769
592272 2004-12-09 12:22:07 2004-12-09 12:23:41     85,86      0.015370
594384 2004-12-09 15:22:04 2004-12-09 15:22:09     85,86      0.123877

[146 rows x 4 columns]
85,87
                     start                 end id_colums  intercontact
250737 2004-10-27 15:56:04 2004-10-27 15:56:20     85,87           NaN
250750 2004-10-27 15:57:56 2004-10-27 15:57:58     85,87      0.001111
250757 2004-10-27 15:58:41 2004-10-27 15:58:47     85,87      0.000498
266351 2004-10-29 22:22:13 2004-10-29 22:24:12     85,87      2.266273
267769 2004-10-30 15:45:57 2004-10-30 15:46:03     85,87      0.723437
...                    ...                 ...       ...           ...
775678 2005-04-13 13:20:55 2005-04-13 13:22:37     85,87      0.001389
776540 2005-04-15 10:34:35 2005-04-15 10:34:54     85,87      1.883310
776993 2005-04-15 18:47:52 2005-04-15 18:48:06     85,87      0.342338
777056 2005-04-16 07:52:42 2005-04-16 07:52:43     85,87      0.544861
777457 2005-04-17 09:49:03 2005-04-17 09:49:30     85,87      1.080787

[316 rows x 4 columns]
85,88
                     start                 end id_colums  intercontact
262441 2004-10-29 08:01:07 2004-10-29 08:03:25     85,88           NaN
262497 2004-10-29 08:04:36 2004-10-29 08:06:04     85,88      0.000822
262549 2004-10-29 08:07:51 2004-10-29 08:07:53     85,88      0.001238
267952 2004-10-30 16:30:50 2004-10-30 16:30:52     85,88      1.349271
282507 2004-11-02 02:11:28 2004-11-02 02:12:26     85,88      2.403194
...                    ...                 ...       ...           ...
400683 2004-11-17 05:43:54 2004-11-17 05:51:59     85,88      0.015093
400860 2004-11-17 06:04:02 2004-11-17 06:04:03     85,88      0.008368
404959 2004-11-17 09:44:44 2004-11-17 09:44:45     85,88      0.153252
406867 2004-11-17 11:02:31 2004-11-17 11:04:25     85,88      0.054005
409720 2004-11-17 13:26:48 2004-11-17 13:26:53     85,88      0.098877

[65 rows x 4 columns]
86,87
                     start                 end id_colums  intercontact
277688 2004-11-01 11:21:18 2004-11-01 11:23:00     86,87           NaN
277758 2004-11-01 11:23:42 2004-11-01 11:23:49     86,87      0.000486
277820 2004-11-01 11:24:53 2004-11-01 11:25:00     86,87      0.000741
277867 2004-11-01 11:27:36 2004-11-01 11:28:00     86,87      0.001806
278163 2004-11-01 11:42:01 2004-11-01 11:42:12     86,87      0.009734
...                    ...                 ...       ...           ...
673303 2005-01-16 18:40:10 2005-01-16 18:41:15     86,87     35.996076
673320 2005-01-16 19:44:01 2005-01-16 21:32:33     86,87      0.043588
673339 2005-01-16 21:32:33 2005-01-17 03:01:29     86,87      0.000000
680356 2005-01-19 14:19:12 2005-01-19 14:31:32     86,87      2.470637
683408 2005-01-21 07:37:59 2005-01-21 07:38:00     86,87      1.712813

[147 rows x 4 columns]
86,88
                     start                 end id_colums  intercontact
33283  2004-09-20 10:56:48 2004-09-20 10:56:57     86,88           NaN
33324  2004-09-20 11:02:41 2004-09-20 11:02:43     86,88      0.003981
34248  2004-09-20 12:44:20 2004-09-20 12:48:05     86,88      0.070567
34379  2004-09-20 13:01:47 2004-09-20 13:01:49     86,88      0.009514
34611  2004-09-20 14:16:26 2004-09-20 14:16:27     86,88      0.051817
36990  2004-09-21 12:00:39 2004-09-21 12:00:46     86,88      0.905694
39032  2004-09-22 09:03:19 2004-09-22 09:03:21     86,88      0.876771
39325  2004-09-22 09:47:19 2004-09-22 09:47:21     86,88      0.030532
39549  2004-09-22 10:13:31 2004-09-22 10:13:33     86,88      0.018171
39919  2004-09-22 11:25:59 2004-09-22 11:26:00     86,88      0.050301
41155  2004-09-22 18:11:29 2004-09-22 18:11:31     86,88      0.281586
43094  2004-09-23 09:21:43 2004-09-23 09:21:45     86,88      0.632083
43158  2004-09-23 09:31:26 2004-09-23 09:31:28     86,88      0.006725
43737  2004-09-23 10:02:01 2004-09-23 10:03:43     86,88      0.021215
43777  2004-09-23 10:04:31 2004-09-23 10:04:37     86,88      0.000556
44573  2004-09-23 10:48:42 2004-09-23 10:48:44     86,88      0.030613
44587  2004-09-23 10:50:12 2004-09-23 10:50:31     86,88      0.001019
44596  2004-09-23 10:51:00 2004-09-23 10:51:16     86,88      0.000336
45176  2004-09-23 11:20:48 2004-09-23 11:21:47     86,88      0.020509
45222  2004-09-23 11:23:22 2004-09-23 11:24:36     86,88      0.001100
45605  2004-09-23 11:43:17 2004-09-23 11:43:53     86,88      0.012975
45649  2004-09-23 11:46:22 2004-09-23 11:46:25     86,88      0.001725
45660  2004-09-23 11:47:17 2004-09-23 11:48:00     86,88      0.000602
45739  2004-09-23 11:51:53 2004-09-23 11:51:54     86,88      0.002697
45815  2004-09-23 11:56:04 2004-09-23 11:56:20     86,88      0.002894
46095  2004-09-23 12:11:02 2004-09-23 12:11:04     86,88      0.010208
48788  2004-09-23 17:17:42 2004-09-23 17:17:45     86,88      0.212940
48789  2004-09-23 17:18:01 2004-09-23 17:18:36     86,88      0.000185
55282  2004-09-24 14:11:56 2004-09-24 14:12:10     86,88      0.870370
62563  2004-09-27 12:06:51 2004-09-27 12:06:53     86,88      2.912975
277827 2004-11-01 11:25:00 2004-11-01 11:25:21     86,88     34.970914
278167 2004-11-01 11:42:01 2004-11-01 11:42:06     86,88      0.011574
278259 2004-11-01 11:44:22 2004-11-01 11:46:08     86,88      0.001574
278394 2004-11-01 11:46:32 2004-11-01 11:47:03     86,88      0.000278
278703 2004-11-01 11:59:30 2004-11-01 12:00:41     86,88      0.008646
279001 2004-11-01 12:18:13 2004-11-01 12:18:31     86,88      0.012176
279181 2004-11-01 12:28:52 2004-11-01 12:28:54     86,88      0.007188
279600 2004-11-01 12:49:02 2004-11-01 12:49:04     86,88      0.013981
280853 2004-11-01 14:05:52 2004-11-01 14:05:55     86,88      0.053333
281293 2004-11-01 15:04:25 2004-11-01 15:04:31     86,88      0.040625
281310 2004-11-01 15:07:01 2004-11-01 15:07:03     86,88      0.001736
289888 2004-11-02 10:40:43 2004-11-02 10:40:47     86,88      0.815046
303234 2004-11-03 12:53:50 2004-11-03 12:53:52     86,88      1.092396
303806 2004-11-03 13:38:13 2004-11-03 13:39:53     86,88      0.030799
303870 2004-11-03 13:41:57 2004-11-03 13:41:59     86,88      0.001435
303909 2004-11-03 13:45:24 2004-11-03 13:45:39     86,88      0.002373
346110 2004-11-09 13:22:23 2004-11-09 13:23:03     86,88      5.983843
347590 2004-11-09 17:13:44 2004-11-09 17:13:55     86,88      0.160197
354956 2004-11-10 12:45:20 2004-11-10 12:45:22     86,88      0.813484
355064 2004-11-10 12:53:52 2004-11-10 12:53:57     86,88      0.005903
355426 2004-11-10 13:24:55 2004-11-10 13:24:56     86,88      0.021505
358705 2004-11-11 14:24:38 2004-11-11 14:26:09     86,88      1.041458
398902 2004-11-16 17:36:50 2004-11-16 17:37:19     86,88      5.132419
409048 2004-11-17 12:39:37 2004-11-17 12:39:39     86,88      0.793264
409725 2004-11-17 13:26:50 2004-11-17 13:26:52     86,88      0.032766
409726 2004-11-17 13:26:53 2004-11-17 13:27:55     86,88      0.000012
86,89
                    start                 end id_colums  intercontact
9676  2004-09-07 10:32:02 2004-09-07 10:32:12     86,89           NaN
9688  2004-09-07 10:33:24 2004-09-07 10:33:39     86,89      0.000833
9699  2004-09-07 10:33:48 2004-09-07 10:34:04     86,89      0.000104
9718  2004-09-07 10:35:25 2004-09-07 10:35:29     86,89      0.000937
10581 2004-09-07 13:45:08 2004-09-07 13:45:27     86,89      0.131701
11484 2004-09-08 14:31:19 2004-09-08 14:31:25     86,89      1.031852
16026 2004-09-12 10:28:31 2004-09-12 10:28:41     86,89      3.831319
16027 2004-09-12 10:31:23 2004-09-12 10:49:28     86,89      0.001875
18820 2004-09-14 08:31:57 2004-09-14 08:31:59     86,89      1.904502
19431 2004-09-14 11:02:10 2004-09-14 11:02:16     86,89      0.104294
19737 2004-09-14 11:48:11 2004-09-14 11:49:19     86,89      0.031887
19818 2004-09-14 11:54:35 2004-09-14 11:54:36     86,89      0.003657
20397 2004-09-14 13:22:29 2004-09-14 13:22:30     86,89      0.061030
20547 2004-09-14 13:51:08 2004-09-14 13:51:26     86,89      0.019884
20586 2004-09-14 13:57:28 2004-09-14 13:57:46     86,89      0.004190
22635 2004-09-15 11:17:04 2004-09-15 11:17:06     86,89      0.888403
22925 2004-09-15 12:01:47 2004-09-15 12:01:48     86,89      0.031030
23418 2004-09-15 14:03:18 2004-09-15 14:03:52     86,89      0.084375
25298 2004-09-16 11:15:51 2004-09-16 11:15:52     86,89      0.883322
25562 2004-09-16 12:08:42 2004-09-16 12:08:57     86,89      0.036690
25567 2004-09-16 12:09:19 2004-09-16 12:09:37     86,89      0.000255
25766 2004-09-16 12:29:16 2004-09-16 12:30:08     86,89      0.013646
27688 2004-09-17 08:36:25 2004-09-17 08:36:54     86,89      0.837697
27689 2004-09-17 08:37:22 2004-09-17 08:37:23     86,89      0.000324
27740 2004-09-17 08:51:51 2004-09-17 08:51:52     86,89      0.010046
33571 2004-09-20 11:18:38 2004-09-20 11:18:43     86,89      3.101921
87,88
                     start                 end id_colums  intercontact
238191 2004-10-26 11:11:58 2004-10-26 11:12:02     87,88           NaN
266711 2004-10-30 08:57:28 2004-10-30 08:57:35     87,88      3.906551
266839 2004-10-30 09:59:37 2004-10-30 09:59:44     87,88      0.043079
266932 2004-10-30 10:46:11 2004-10-30 10:46:13     87,88      0.032257
266978 2004-10-30 11:03:06 2004-10-30 11:03:11     87,88      0.011725
267041 2004-10-30 11:35:01 2004-10-30 11:36:35     87,88      0.022106
267085 2004-10-30 11:53:50 2004-10-30 11:57:24     87,88      0.011979
277636 2004-11-01 11:18:59 2004-11-01 11:20:17     87,88      1.973322
277869 2004-11-01 11:27:36 2004-11-01 11:28:00     87,88      0.005081
277908 2004-11-01 11:29:15 2004-11-01 11:29:26     87,88      0.000868
278019 2004-11-01 11:33:07 2004-11-01 11:33:12     87,88      0.002558
278255 2004-11-01 11:44:22 2004-11-01 11:45:09     87,88      0.007755
278482 2004-11-01 11:50:36 2004-11-01 11:50:54     87,88      0.003785
278603 2004-11-01 11:55:12 2004-11-01 11:56:08     87,88      0.002986
278729 2004-11-01 12:00:34 2004-11-01 12:00:41     87,88      0.003079
278995 2004-11-01 12:18:13 2004-11-01 12:18:31     87,88      0.012176
279229 2004-11-01 12:30:17 2004-11-01 12:31:12     87,88      0.008171
279492 2004-11-01 12:44:45 2004-11-01 12:47:01     87,88      0.009410
281312 2004-11-01 15:07:01 2004-11-01 15:07:03     87,88      0.097222
282229 2004-11-01 20:02:40 2004-11-01 20:05:24     87,88      0.205289
282286 2004-11-01 21:06:04 2004-11-01 21:06:21     87,88      0.042130
282414 2004-11-02 00:14:54 2004-11-02 00:20:47     87,88      0.130938
357251 2004-11-11 08:39:10 2004-11-11 08:39:14     87,88      9.346100
365578 2004-11-13 13:52:35 2004-11-13 13:52:47     87,88      2.217604
367944 2004-11-14 15:08:51 2004-11-14 15:10:06     87,88      1.052824
373636 2004-11-15 08:07:19 2004-11-15 08:09:35     87,88      0.706400
375283 2004-11-15 08:59:47 2004-11-15 09:00:38     87,88      0.034861
375508 2004-11-15 09:10:23 2004-11-15 09:11:28     87,88      0.006771
375629 2004-11-15 09:16:34 2004-11-15 09:17:07     87,88      0.003542
375732 2004-11-15 09:19:29 2004-11-15 09:19:50     87,88      0.001644
375778 2004-11-15 09:20:37 2004-11-15 09:21:58     87,88      0.000544
377899 2004-11-15 10:52:39 2004-11-15 10:53:45     87,88      0.062975
377981 2004-11-15 10:54:28 2004-11-15 10:55:23     87,88      0.000498
380425 2004-11-15 12:36:21 2004-11-15 12:37:54     87,88      0.070116
380602 2004-11-15 12:44:26 2004-11-15 12:47:13     87,88      0.004537
383191 2004-11-15 15:58:46 2004-11-15 15:59:18     87,88      0.133021
383220 2004-11-15 16:03:50 2004-11-15 16:04:23     87,88      0.003148
383234 2004-11-15 16:08:25 2004-11-15 16:08:53     87,88      0.002801
383246 2004-11-15 16:10:46 2004-11-15 16:10:53     87,88      0.001308
384404 2004-11-16 03:57:35 2004-11-16 03:58:13     87,88      0.490764
384466 2004-11-16 04:03:52 2004-11-16 04:05:18     87,88      0.003924
384973 2004-11-16 05:02:59 2004-11-16 05:04:24     87,88      0.040058
385132 2004-11-16 05:13:59 2004-11-16 05:14:01     87,88      0.006655
399563 2004-11-17 03:58:16 2004-11-17 03:58:25     87,88      0.947396
399579 2004-11-17 04:00:35 2004-11-17 04:00:44     87,88      0.001505
88,89
                    start                 end id_colums  intercontact
28927 2004-09-17 12:44:27 2004-09-17 12:45:09     88,89           NaN
29006 2004-09-17 12:53:16 2004-09-17 12:53:18     88,89      0.005637
29101 2004-09-17 13:12:11 2004-09-17 13:12:27     88,89      0.013113
30062 2004-09-18 17:50:38 2004-09-18 17:52:05     88,89      1.193183
30067 2004-09-18 17:56:08 2004-09-18 17:59:45     88,89      0.002812
30277 2004-09-19 07:38:02 2004-09-19 07:38:47     88,89      0.568252
30279 2004-09-19 07:39:02 2004-09-19 07:39:44     88,89      0.000174
30280 2004-09-19 07:39:53 2004-09-19 07:40:11     88,89      0.000104
31256 2004-09-20 02:31:33 2004-09-20 03:20:56     88,89      0.785671
31284 2004-09-20 04:05:15 2004-09-20 04:06:26     88,89      0.030775
32692 2004-09-20 09:30:09 2004-09-20 09:30:21     88,89      0.224803
33416 2004-09-20 11:10:16 2004-09-20 11:10:18     88,89      0.069387
9,10
                     start                 end id_colums  intercontact
291761 2004-11-02 11:52:53 2004-11-02 11:54:56      9,10           NaN
305911 2004-11-04 04:15:51 2004-11-04 04:16:00      9,10      1.681192
306242 2004-11-04 04:57:00 2004-11-04 04:58:07      9,10      0.028472
313041 2004-11-04 11:52:37 2004-11-04 11:52:49      9,10      0.287847
313042 2004-11-04 11:52:49 2004-11-04 11:53:08      9,10      0.000000
...                    ...                 ...       ...           ...
566045 2004-12-06 12:03:40 2004-12-06 12:03:58      9,10      0.001516
566135 2004-12-06 12:08:16 2004-12-06 12:08:34      9,10      0.002986
566151 2004-12-06 12:09:22 2004-12-06 12:10:24      9,10      0.000556
566187 2004-12-06 12:11:41 2004-12-06 12:12:08      9,10      0.000891
566209 2004-12-06 12:13:16 2004-12-06 12:16:09      9,10      0.000787

[108 rows x 4 columns]
9,11
                     start                 end id_colums  intercontact
291196 2004-11-02 11:25:29 2004-11-02 11:26:34      9,11           NaN
297829 2004-11-03 07:28:17 2004-11-03 07:28:37      9,11      0.834525
303074 2004-11-03 12:38:21 2004-11-03 12:38:31      9,11      0.215093
303141 2004-11-03 12:47:31 2004-11-03 12:47:33      9,11      0.006250
308990 2004-11-04 07:49:01 2004-11-04 07:49:03      9,11      0.792685
...                    ...                 ...       ...           ...
566847 2004-12-06 12:50:58 2004-12-06 12:51:18      9,11      0.001539
566868 2004-12-06 12:52:19 2004-12-06 12:52:28      9,11      0.000706
567026 2004-12-06 13:02:41 2004-12-06 13:05:35      9,11      0.007095
567191 2004-12-06 13:14:59 2004-12-06 13:15:56      9,11      0.006528
567253 2004-12-06 13:22:07 2004-12-06 13:22:51      9,11      0.004294

[189 rows x 4 columns]
9,12
                     start                 end id_colums  intercontact
289040 2004-11-02 10:05:07 2004-11-02 10:05:09      9,12           NaN
291411 2004-11-02 11:34:40 2004-11-02 11:34:41      9,12      0.062164
300095 2004-11-03 09:40:19 2004-11-03 09:40:29      9,12      0.920579
300122 2004-11-03 09:41:12 2004-11-03 09:42:14      9,12      0.000498
300225 2004-11-03 09:44:11 2004-11-03 09:44:23      9,12      0.001354
...                    ...                 ...       ...           ...
565599 2004-12-06 11:32:04 2004-12-06 11:32:06      9,12      0.001829
565748 2004-12-06 11:44:08 2004-12-06 11:44:10      9,12      0.008356
565886 2004-12-06 11:55:14 2004-12-06 11:56:12      9,12      0.007685
566044 2004-12-06 12:03:40 2004-12-06 12:03:41      9,12      0.005185
566057 2004-12-06 12:03:58 2004-12-06 12:04:17      9,12      0.000197

[238 rows x 4 columns]
9,13
                     start                 end id_colums  intercontact
287106 2004-11-02 09:00:27 2004-11-02 09:01:06      9,13           NaN
287179 2004-11-02 09:03:22 2004-11-02 09:03:37      9,13      0.001574
287353 2004-11-02 09:06:57 2004-11-02 09:07:05      9,13      0.002315

[132 rows x 4 columns]
9,82
                     start                 end id_colums  intercontact
292402 2004-11-02 12:27:23 2004-11-02 12:27:58      9,82           NaN
292428 2004-11-02 12:28:16 2004-11-02 12:28:28      9,82      0.000208
292441 2004-11-02 12:28:36 2004-11-02 12:29:14      9,82      0.000093
292536 2004-11-02 12:32:30 2004-11-02 12:32:37      9,82      0.002269
292549 2004-11-02 12:33:00 2004-11-02 12:33:10      9,82      0.000266
...                    ...                 ...       ...           ...
567117 2004-12-06 13:09:51 2004-12-06 13:10:17      9,82      0.003576
567180 2004-12-06 13:14:23 2004-12-06 13:14:24      9,82      0.002847
567235 2004-12-06 13:18:53 2004-12-06 13:18:55      9,82      0.003113
567240 2004-12-06 13:20:40 2004-12-06 13:21:41      9,82      0.001215
567260 2004-12-06 13:22:25 2004-12-06 13:22:59      9,82      0.000509

[631 rows x 4 columns]
9,85
                     start                 end id_colums  intercontact
287186 2004-11-02 09:03:26 2004-11-02 09:04:14      9,85           NaN
296942 2004-11-03 06:18:39 2004-11-03 06:18:45      9,85      0.885012
297659 2004-11-03 07:11:48 2004-11-03 07:11:52      9,85      0.036840
297906 2004-11-03 07:34:00 2004-11-03 07:34:02      9,85      0.015370
297912 2004-11-03 07:34:21 2004-11-03 07:35:30      9,85      0.000220
...                    ...                 ...       ...           ...
566637 2004-12-06 12:35:20 2004-12-06 12:37:12      9,85      0.000081
566838 2004-12-06 12:49:20 2004-12-06 12:50:01      9,85      0.008426
566846 2004-12-06 12:50:48 2004-12-06 12:50:58      9,85      0.000544
566850 2004-12-06 12:51:13 2004-12-06 12:51:18      9,85      0.000174
567182 2004-12-06 13:14:23 2004-12-06 13:14:48      9,85      0.016030

[408 rows x 4 columns]
9,86
                     start                 end id_colums  intercontact
288185 2004-11-02 09:36:16 2004-11-02 09:36:28      9,86           NaN
288790 2004-11-02 09:55:37 2004-11-02 09:55:58      9,86      0.013299
290553 2004-11-02 11:02:41 2004-11-02 11:04:37      9,86      0.046331
291128 2004-11-02 11:24:10 2004-11-02 11:24:12      9,86      0.013576
292709 2004-11-02 12:39:41 2004-11-02 12:39:45      9,86      0.052419
...                    ...                 ...       ...           ...
566204 2004-12-06 12:13:12 2004-12-06 12:16:09      9,86      0.001400
566457 2004-12-06 12:25:40 2004-12-06 12:26:11      9,86      0.006609
566489 2004-12-06 12:26:39 2004-12-06 12:26:56      9,86      0.000324
566647 2004-12-06 12:35:55 2004-12-06 12:37:05      9,86      0.006238
567161 2004-12-06 13:13:46 2004-12-06 13:13:48      9,86      0.025475

[117 rows x 4 columns]
9,87
                     start                 end id_colums  intercontact
357707 2004-11-11 10:00:11 2004-11-11 10:01:47      9,87           NaN
361437 2004-11-12 10:30:13 2004-11-12 10:30:19      9,87      1.019745
367512 2004-11-14 12:45:10 2004-11-14 12:46:09      9,87      2.093646
367518 2004-11-14 12:48:48 2004-11-14 12:50:32      9,87      0.001840
370473 2004-11-15 05:56:19 2004-11-15 05:56:42      9,87      0.712350
...                    ...                 ...       ...           ...
566339 2004-12-06 12:22:06 2004-12-06 12:22:15      9,87      0.000475
566415 2004-12-06 12:24:18 2004-12-06 12:24:25      9,87      0.001424
566477 2004-12-06 12:26:36 2004-12-06 12:26:39      9,87      0.001516
566738 2004-12-06 12:41:19 2004-12-06 12:41:36      9,87      0.010185
566825 2004-12-06 12:48:01 2004-12-06 12:48:23      9,87      0.004456

[155 rows x 4 columns]
9,88
                     start                 end id_colums  intercontact
287580 2004-11-02 09:13:36 2004-11-02 09:13:48      9,88           NaN
296941 2004-11-03 06:18:39 2004-11-03 06:18:45      9,88      0.878368
300571 2004-11-03 10:02:52 2004-11-03 10:04:22      9,88      0.155637
302121 2004-11-03 11:37:06 2004-11-03 11:38:22      9,88      0.064398
313832 2004-11-04 12:22:44 2004-11-04 12:22:51      9,88      1.030810
...                    ...                 ...       ...           ...
399540 2004-11-17 03:53:13 2004-11-17 03:56:46      9,88      0.032315
400005 2004-11-17 04:49:15 2004-11-17 04:49:36      9,88      0.036447
400407 2004-11-17 05:21:38 2004-11-17 05:22:05      9,88      0.022245
400703 2004-11-17 05:45:58 2004-11-17 05:46:19      9,88      0.016586
400785 2004-11-17 05:53:39 2004-11-17 05:55:55      9,88      0.005093

[62 rows x 4 columns]

'"#df[\'intercontact\'] = df[\'start\'] - df[\'end\'].shift(1)\ndf.set_index([\'id_colums\'], inplace=True)\n#df = df = df.groupby([df.index.floor("6H"), "id_colums"])\n#df.assign(timediff)\n#read_file = pd.read_csv(\'data_olah1 - Copy.csv\')\ndef intercontact (x):\n   x[\'start\'] /= x[\'end\'].shift(1)\n        return x\ndf = df.groupby([\'id_colums\']).apply(intercontact)\nprint(df.head(10))'

In [8]:
def intercontact 
my_start_times = []
my_intercontact_duration = []
for data in my_data:
    start_time = data[2]
    end_time = data[3]
    my_start_times.append(start_time)
    my_intercontact_duration.append(end_time - start_time)

SyntaxError: invalid syntax (<ipython-input-8-a8a8831c2798>, line 1)

In [16]:
import pandas as pd # data processing
df = pd.read_csv("locationInfo.csv", usecols=['start'])
df = pd.DataFrame(df)
print(df)

                      start
0       2004-07-19 12:00:00
1       2004-07-19 12:00:00
2       2004-07-20 06:00:00
3       2004-07-20 06:00:00
4       2004-07-20 06:00:00
...                     ...
137980  2005-06-20 06:00:00
137981  2005-06-20 12:00:00
137982  2005-06-20 18:00:00
137983  2005-06-21 12:00:00
137984  2005-06-22 12:00:00

[137985 rows x 1 columns]

In [ ]:
def intercontact 
my_start_times = []
my_intercontact_duration = []
for data in df:
    start_time = data[1]
    end_time = data[2]
    my_start_times.append(start_time)
    my_intercontact_duration.append(end_time - start_time)